<style type="text/css">
    a.menu {
        font-size: 1.2rem;
        margin: 0px 10px 0px 10px;
        text-decoration-line: none;
        color: black;
    }

    a:hover {
        color: blue;
    }

    div#menu {
        border-bottom-color: black;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
</style>
<div id="menu">
    <a class="menu" href="/UserPermission/Index">会员特权配置</a>
    <a class="menu" href="/UserPermission/SaleProductList">会员商城商品配置</a>
    <a class="menu" href="/UserPermission/Freight">会员运费折扣配置</a>
    <a class="menu" href="/UserPermission/PromotionList">会员升级奖励配置</a>
    <a class="menu" href="/UserPermission/TaskList">会员升级任务配置</a>
</div>
