@{
    ViewBag.Title = "ES查询";
}

<!DOCTYPE html>

<script src="/Scripts/jquery.jsonview.js"></script>
<link href="/Styles/jquery.jsonview.css" rel="stylesheet" />
<style>
    html, body {
        height: 100%;
        color: #333;
        font-weight: 300;
        font-size: 12px;
    }

    .floor-table {
        margin-top: 20px;
        display: inline-block;
        width: 100%;
        background-color: #444;
    }

    .form-label {
        color: #d0d0d0;
    }

    .form-control {
        background: #333;
        border: 1px solid #444;
        color: #999;
    }

    input, textarea {
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 5px;
        margin-top: 10px;
    }
</style>

<div class="floor-table">
    <div style="padding: 15px;float: left;width:45%">
        <div style="display:block;">
            <div style="float:left">
                <h4 style="font-size: 16px;">
                    <a>request</a>
                </h4>
            </div>
            <div>
                <form style="display:block" method="post" name="SubEs" enctype="multipart/form-data"
                      action=@Url.Action("SubmitMqMessage")>
                    <div style="display:block;">
                        @Html.TextBox("QueueName", "", new { placeholder = "输入队列名" })
                    </div>
                    <div>
                        @Html.TextArea("MessageBody", "", new { placeholder = "输入消息内容", Style = "min-height:300px" })
                    </div>
                    <div>
                        <input type="button" id="jsFormat" onclick="FormatRequest()" style="width:100px" value="格式化" />
                        <input type="submit" style="width:100px" value="发送消息" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="padding: 15px;float: left;width:45%;box-sizing: border-box;">
        <div style="display:block;">
            <h4 style="font-size: 16px;">
                <a>Response</a>
            </h4>
            <div id="responseResult" style="background-color:white;height:500px;overflow :auto">
            </div>
        </div>
    </div>
</div>
<script>
    function format(txt, compress/*是否为压缩模式*/) {/* 格式化JSON源码(对象转换为JSON文本) */
        var indentChar = '    ';
        if (/^\s*$/.test(txt)) {
            alert('数据为空,无法格式化! ');
            return;
        }
        try { var data = eval('(' + txt + ')'); }
        catch (e) {
            alert('数据源语法错误,格式化失败! 错误信息: ' + e.description, 'err');
            return;
        };
        var draw = [], last = false, This = this, line = compress ? '' : '\n', nodeCount = 0, maxDepth = 0;

        var notify = function (name, value, isLast, indent/*缩进*/, formObj) {
            nodeCount++;/*节点计数*/
            for (var i = 0, tab = ''; i < indent; i++) tab += indentChar;/* 缩进HTML */
            tab = compress ? '' : tab;/*压缩模式忽略缩进*/
            maxDepth = ++indent;/*缩进递增并记录*/
            if (value && value.constructor == Array) {/*处理数组*/
                draw.push(tab + (formObj ? ('"' + name + '":') : '') + '[' + line);/*缩进'[' 然后换行*/
                for (var i = 0; i < value.length; i++)
                    notify(i, value[i], i == value.length - 1, indent, false);
                draw.push(tab + ']' + (isLast ? line : (',' + line)));/*缩进']'换行,若非尾元素则添加逗号*/
            } else if (value && typeof value == 'object') {/*处理对象*/
                draw.push(tab + (formObj ? ('"' + name + '":') : '') + '{' + line);/*缩进'{' 然后换行*/
                var len = 0, i = 0;
                for (var key in value) len++;
                for (var key in value) notify(key, value[key], ++i == len, indent, true);
                draw.push(tab + '}' + (isLast ? line : (',' + line)));/*缩进'}'换行,若非尾元素则添加逗号*/
            } else {
                if (typeof value == 'string') value = '"' + value + '"';
                draw.push(tab + (formObj ? ('"' + name + '":') : '') + value + (isLast ? '' : ',') + line);
            };
        };
        var isLast = true, indent = 0;
        notify('', data, isLast, indent, false);
        return draw.join('');
    }

    function FormatRequest() {
        var area = $("#MessageBody")[0];
        var result = format(area.value);
        area.value = result;
    }

</script>
