<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width,minimal-ui" />
    <meta name="robots" content="noindex, noarchive, nofollow" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-sortable.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: #5c87b2;">
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>
                    途虎业务系统
                </h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </div>
        <div id="main">
            @RenderBody()
            <div id="footer">
                <p>
                    所有内容为途虎养车网商业机密信息，切勿泄漏。版权所有 途虎养车网 2011-2015
                </p>
            </div>
        </div>
    </div>
            
</body>
</html>
