<head>
    <meta name="viewport" content="width=device-width" />
    <title>LimitAreaSalePid</title>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/iview/iview.min.js"></script>
    <link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/listmenu/js/jquery.min.js"></script>
    <script src="~/Content/ProductVehicleType/js/bootstrap.min.js"></script>
    <script src="https://file-tuhu-cn.alikunlun.com/yewu/oms/scripts/md503.js" type="text/javascript"></script>
    <script src="https://file-tuhu-cn.alikunlun.com/yewu/oms/scripts/verifyBtn.js" type="text/javascript"></script>
    <link href="~/Content/iview/iview.css" rel="stylesheet" />
    <style>
        .ivu-table .demo-table-info-row td {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-error-row td {
            background-color: #ff6600;
            color: #fff;
        }

        .ivu-table td.demo-table-info-column {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-name {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-age {
            background-color: #ff6600;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-address {
            background-color: #187;
            color: #fff;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<fieldset>
    <legend>筛选条件</legend>
    <div id="app" style="margin-left:10px;margin-right:10px;" v-cloak>
        <div>
            <i-select v-model="isallowSale" style="width:200px" placeholder="不限">
                <i-option v-for="item in List" v-bind:value="item.value">{{ item.label }}</i-option>
            </i-select>
            @*<i-input v-model="keyWord" placeholder="请输入Pid" style="width: 200px"></i-input>*@
            省：<i-select v-model="province" style="width:200px" placeholder="上海市" v-on:on-change="provinceChange(province)">
                <i-option v-for="item in provinceList" :value="item.province" :key="item.name">{{ item.name }}</i-option>
            </i-select>
           市： <i-select v-model="city" style="width:200px" placeholder="请选择">
                <i-option v-for="item in cityList" :value="item.city" :key="item.name">{{ item.name }}</i-option>
            </i-select>
 
            <i-button type="primary" icon="ios-search" v-on:click="searchPage">查询</i-button>
        </div>
        <br />
        <i-table :data="tableData1" :columns="tableColumns1" stripe></i-table>
        <i-button v-on:click="handleSelect()" v-on:on-selection-change="GetSelection" class="ivu-btn ivu-btn-success">编辑选中</i-button>
        <div style="margin: 10px;overflow: hidden">
            <div style="float: right;">
                <Page :total="totalCount" :current="currentPage" :page-size="pageSize" show-total v-on:on-change="changePage"></Page>
            </div>
        </div>
    </div>
</fieldset>
<!-- 编辑Modal -->
<div class="modal fade" id="ruleModel" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ruleModalLabel">限制地区销售地区配置</h4>
            </div>
            <div id="app2">
                <div class="modal-body">
                    <form>
                        <Spin fix v-show="loading">正在保存中，请不要重复点击保存!</Spin>
                        <div class="form-group" style="display: none">
                            <label>MuticityCheckedIds:{{MuticityCheckedIds}}</label>
                        </div>
                        @*<div class="form-group">
                            <i-label>PID&nbsp:&nbsp{{Pid}}</i-label>
                        </div>*@
                        <div class="form-group" id="pCity">
                            <i-label>省:{{ProvinceName}}</i-label>&nbsp&nbsp&nbsp&nbsp <i-label>市:{{CityName}}</i-label>
                        </div>
                        <div class="form-group">
                            <i-label>是否允许销售：</i-label>
                            <i-select v-model="IsAllowSale" style="width: 200px">
                                <i-option v-for="item in List" v-bind:value="item.value">{{ item.label }}</i-option>
                                @*<i-option v-bind:value="1">允许</i-option>
                                <i-option v-bind:value="0">不允许</i-option>*@
                            </i-select>
                        </div>
                        <div class="form-group">
                            <i-label>仓库：</i-label>
                            <i-select v-model="WarehouseId" style="width: 200px">
                                <i-option v-for="item in Warehouses" v-bind:value="item.WarehouseId">{{ item.WarehouseName }}</i-option>
                            </i-select>
                        </div>
                        <div class="form-group">
                            <i-label>供应商：</i-label>
                            <i-select v-model="SupplierId" style="width: 200px">
                                <i-option v-for="item in Suppliers" v-bind:value="item.SupplierId">{{ item.SupplierName }}</i-option>
                            </i-select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="Save">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var vm2 = new Vue({
        el: '#app2',
        data() {
            return {
            loading:false,
            Pid: "",
            IsAllowSale: '0',
            ProvinceId: "",
            ProvinceName: "",
            CityId: "",
            CityName: "",
            WarehouseId: '',
            WarehouseName: "",
            SupplierId: '',
            SupplierName: "",
            ProductConfigId: '',
            MuticityCheckedIds:'',
            Suppliers: [],
            Warehouses: [],
            List: [
                {
                    value: '0',
                    label: '不允许'
                },
                {
                    value: '1',
                    label: '允许'
                }
            ],
        }
        },
        mounted: function () {
            this.getSuppliers();
            this.getWarehouses();
        },
        beforeDestroy: function(){
            vm2.Pid = '';
            vm2.IsAllowSale = '';
            vm2.SupplierId = '';
            vm2.SupplierName = '';
            vm2.WarehouseId = '';
            vm2.WarehouseName = '';
            vm2.CityId = '';
            vm2.CityName = '';
            vm2.ProductConfigId = '';
            vm2.ProvinceId = '';
            vm2.ProvinceName = '';
        },
        methods: {
            Save() {
                _this = this;
                $.ajax({
                    url: "/LimitAreaSale/SaveLimitAreaSaleCity",
                    type: "post",
                    async: true,
                    beforeSend:function() {
                        _this.loading = true;
                    },
                    data: {
                        productConfigId: _this.ProductConfigId,
                        cityId: _this.CityId,
                        cityName: _this.CityName,
                        isAllowSale: _this.IsAllowSale,
                        warehouseId: _this.WarehouseId,
                        warehouseName: _this.WarehouseName,
                        supplierId: _this.SupplierId,
                        supplierName: _this.SupplierName,
                        muticityCheckedIds: _this.MuticityCheckedIds
                    },
                    success: function (data) {
                        if (data.status == 1) {
                            $('#ruleModel').modal('hide');
                            alert('保存成功！');
                            vm.searchPage();
                        }
                        else {
                            alert('保存失败！');
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    },
                    complete:function() {
                        _this.loading = false; 
                    }
                });
            },
            getSuppliers() {
                var _this = this;
                $.ajax({
                    url: "/LimitAreaSale/SelectSupplier",
                    type: "post",
                    async: false,
                    data: {},
                    success: function (data) {
                        if (data != null && data.length > 0) {
                            $(data).each(function (i, e) {
                                _this.Suppliers.push({
                                    SupplierName: e.SupplierName,
                                    SupplierId: e.SupplierId,
                                })
                            })
                        }
                        else {
                            _this.$Notice.warning({
                                title: '获取供应商信息异常！',
                                desc: '获取供应商信息异常！',
                            });
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });
            },
            getWarehouses() {
                var _this = this;
                $.ajax({
                    url: "/LimitAreaSale/SelectWarehouse",
                    type: "post",
                    async: false,
                    data: {},
                    success: function (data) {
                        if (data != null && data.length > 0) {
                            $(data).each(function (i, e) {
                                _this.Warehouses.push({
                                    WarehouseId: e.WarehouseId,
                                    WarehouseName: e.WarehouseName,
                                })
                            })
                        }
                        else {
                            _this.$Notice.warning({
                                title: '获取仓库信息异常！',
                                desc: '获取仓库信息异常！',
                            });
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });
            }
        },

    });
    var vm = new Vue({
        el: '#app',
        data() {
            return {
                tableData1: this.GetDataList(),
                tableColumns1: [
                    {
                        type: 'selection',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: '省',
                        key: 'ProvinceName'
                    },
                    {
                        title: '市',
                        key: 'CityName'
                    },
                    {
                        title: '是否允许销售',
                        key: 'IsAllowSale'
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 260,
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params.index)
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.getlog(params.index)
                                        }
                                    }
                                }, '查看日志')
                            ]);
                        }
                    }
                ],
                isallowSale: '2',
                keyWord: "",
                List: [
                    {
                        value: '2',
                        label: '全部'
                    },
                    {
                        value: '0',
                        label: '不允许'
                    },
                    {
                        value: '1',
                        label: '允许'
                    }
                ],
                province: "",
                city:"",
                provinceList: [
                {
                        province: 0,
                        name:'请选择'
                    }
                ],
                cityList: [
                        {
                            city: 0,
                            name: '请选择'
                        }
                    ],
                currentPage: 1,
                pageSize: 20,
                totalCount:1
            }
        },
        mounted: function () {
            this.GetDataList();
            this.getProvinces();
        },
        methods: {
            getProvinces() {
                var _this = this;
                $.ajax({
                    url: "/LimitAreaSale/SelectAllProvince",
                    type: "post",
                    async: false,
                    data: {},
                    success: function (data) {
                        if (data != null && data.length > 0) {
                            $(data).each(function (i, e) {
                                _this.provinceList.push({
                                    name: e.ProvinceName,
                                    province: e.ProvinceId,
                                })
                            })
                        }
                        else {
                            _this.$Notice.warning({
                                title: '获取省信息异常！',
                                desc: '获取省信息异常！',
                            });
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });
            },
            provinceChange(e) {
                var _this = this;
                //var exist = this.areaData.filter(function (x) { return x.provinceId == e.provinceId; });
                if (e != 0) {
                    $.ajax({
                        url: "/LimitAreaSale/GetAllCitys",
                        type: "post",
                        async: false,
                        data: {
                            ProvinceId: e
                        },
                        beforeSend: function() {
                            _this.cityList = [
                                {
                                    city: 0,
                                    name: '请选择'
                                }
                            ];
                        },
                        success: function(data) {
                            if (data != null && data.length > 0) {
                                $(data).each(function(i, x) {
                                    _this.cityList.push({
                                        name: x.name,
                                        city: x.id,
                                    })
                                })
                            } else {
                                _this.$Notice.warning({
                                    title: '获取省市信息异常！',
                                    desc: '获取省市信息异常！',
                                });
                            }
                        },
                        error: function() {
                            alert("服务端异常！");
                        }
                    });

                } 


            },
            GetDataList() {
                var data1 = [];

                var currentpage = this.currentPage;
                if (!currentpage) {
                    currentpage = 1;
                }
                var pagesize = this.pageSize;
                if (!pagesize) {
                    pagesize = 20;
                }

                var keyword = this.keyWord;
                var city = this.city;
                if (!city) {
                    city = 0;
                }
                var province = this.province;
                if (!province) {
                    province = 0;
                }
                //if (!keyword) {
                //    this.$Notice.warning({
                //        title: '请输入PID',
                //        desc: '请输入要限制地区的产品'
                //    });
                //}
                var isallowSale = this.isallowSale;
                if (!isallowSale) {
                    isallowSale = 2;
                }
                var postData = {
                    PageIndex: currentpage,
                    PageSize: pagesize,
                    KeyWord: keyword,
                    isallowSale: isallowSale,
                    City: city,
                    Province: province
                };
                $.ajax({
                    url: "/LimitAreaSale/GetLimitAreaSaleCity",
                    type: "post",
                    async: false,
                    data: postData,
                    success: function (data) {
                        if (data != null) {
                            $(data.Item2).each(function (i, e) {
                                data1.push({
                                    ProvinceId: e.ProvinceId,
                                    ProvinceName: e.ProvinceName,
                                    CityId: e.CityId,
                                    CityName: e.CityName,
                                    IsAllowSale: e.IsAllowSale == 0 ? "不允许" : "允许",
                                    WarehouseId: e.WarehouseId,
                                    WarehouseName: e.WarehouseName,
                                    SupplierId: e.SupplierId,
                                    SupplierName: e.SupplierName,
                                    Pid: e.Pid,
                                    ProductConfigId: e.ProductConfigId
                                });
                            });
                            total = data.Item1;
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });
                this.totalCount = total;
                return data1;
            },
            changePage(page) {
                // The simulated data is changed directly here, and the actual usage scenario should fetch the data from the server
                this.currentPage = page;
                this.tableData1 = this.GetDataList();
            },
            searchPage() {
                this.tableData1 = this.GetDataList();
            },
            edit(a) {
                $('#ruleModel').modal('show');
                vm2.Pid = this.tableData1[a].Pid;
                vm2.IsAllowSale = this.tableData1[a].IsAllowSale == "不允许" ? "0" : "1";
                vm2.SupplierId = this.tableData1[a].SupplierId;
                vm2.SupplierName = this.tableData1[a].SupplierName;
                vm2.WarehouseId = this.tableData1[a].WarehouseId;
                vm2.WarehouseName = this.tableData1[a].WarehouseName;
                vm2.CityId = this.tableData1[a].CityId;
                vm2.CityName = this.tableData1[a].CityName;
                vm2.ProductConfigId = this.tableData1[a].ProductConfigId;
                vm2.ProvinceId = this.tableData1[a].ProvinceId;
                vm2.ProvinceName = this.tableData1[a].ProvinceName;
                vm2.MuticityCheckedIds = "";
            },
            getlog(a) {
                var item = this.tableData1[a];
                window.location.href = '/LimitAreaSale/LimitAreaSaleCityLog?logId=' + (item.ProductConfigId+"|" + item.CityId);
            },
            handleSelect() {
                var dom = $(".ivu-checkbox-input");
                var citys = "";
                var cityName = [];
                dom.each(function (i, e) {
                    if (i != 0) {
                        if ($(this).is(':checked')) {
                            var index = i - 1;
                            citys = citys +
                                (vm.tableData1[index].CityId + ';' +
                                    vm.tableData1[index].CityName) +
                                ',';
                            cityName.push(vm.tableData1[index].CityName+';');
                        }
                    }   
                });
                vm2.MuticityCheckedIds = citys.substring(0, citys.length - 1);
                //不知道为什么这里清空不掉下拉框的数据，只好付个默认值，(后面尝试改成空字符串就可以了)
                vm2.Pid = "";
                vm2.IsAllowSale = "";
                vm2.SupplierId = "";
                vm2.SupplierName = "";
                vm2.WarehouseId = "";
                vm2.WarehouseName = "";
                vm2.CityId = 0;
                vm2.CityName = "";
                vm2.ProductConfigId = 0;
                vm2.ProvinceId = 0;
                vm2.ProvinceName = "";
                $('#ruleModel').modal('show');
                //$('#pCity').html(cityName[0] + cityName[1] + cityName[2]+"...多个城市一起编辑");
                //$('#pCity').css({ "color": "red", "font-size": "20px", "text-align": "center" });
                console.log(citys); 
            },
            GetSelection() {
                alert(this);
            }
        },

    })
    $("#ruleModel").on("hidden.bs.modal", function () {
        //$(this).removeData("bs.modal");
        //vm2.$destroy();
        vm2.Pid = '';
        vm2.IsAllowSale = '';
        vm2.SupplierId = '0';
        vm2.SupplierName = '';
        vm2.WarehouseId = '0';
        vm2.WarehouseName = '';
        vm2.CityId = '';
        vm2.CityName = '';
        vm2.ProductConfigId = '';
        vm2.ProvinceId = '';
        vm2.ProvinceName = '';
    });
</script>
