@{
    ViewBag.Title = "保养推荐服务配置";
    List<Tuhu.Provisioning.DataAccess.Entity.BaoYangPackage> indexpackages = ViewBag.BaoYangPack;
}

<h2>保养推荐服务配置</h2>
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }
</style>
<div>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="javascript:void(0)" class="btn" onclick="BaoYangRecommendServiceConfig.Add()">添加</a>
                </td>
                <td>服务名称：</td>
                <td>
                    <select id="sType">
                        <option value="">--请选择--</option>
                        @foreach (var item in indexpackages)
                        {
                            <option value="@item.Type">@item.Name</option>
                        }
                    </select>
                </td>
                <td><input type="button" style="margin-top:0"  class="btn" onclick="BaoYangRecommendServiceConfig.SearchList()" value="搜索" /></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="listdata"></div>

<script>
    $(function () {

        $(".listdata").load("/BaoYangRecommendServiceConfig/list");

        $(".listdata").on("click", ".pager>a", function (event) {
            event.preventDefault();
            debugger;
            $.ajax({
                type: "POST",
                url: this.href,
                data: { "serviceType": $("#sType").val() },
                success: function (result) {
                    $(".listdata").html(result);
                },
                error: function (result) {
                    alert("失败!")
                }
            });
        });
    })

    var BaoYangRecommendServiceConfig = {
        "SearchList":  function () {
            $.ajax({
                type: "POST",
                url: "/BaoYangRecommendServiceConfig/List",
                data: { "serviceType": $("#sType").val() },
                success: function (result) {
                    $(".listdata").html(result);
                },
                error: function (result) {
                    alert("失败!")
                }
            });
        },
        "Add": function () {
            $("#AddItem").load('/BaoYangRecommendServiceConfig/Edit?id=0');
            $("#AddItem").dialog({
                title: "添加",
                width: 750,
                height: 500,
                modal: true
            });
        },
        "Update": function (id) {
            $("#AddItem").load('/BaoYangRecommendServiceConfig/Edit?id=' + id);
            $("#AddItem").dialog({
                title: "修改",
                width: 750,
                height: 500,
                modal: true
            });
        },
        "Delete": function (id) {
            if (window.confirm("您确定要删除吗？")) {
                $.ajax({
                    type: "POST",
                    url: "/BaoYangRecommendServiceConfig/Delete",
                    data: { "id": id },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            window.location.href = "/BaoYangRecommendServiceConfig/Index";
                        }
                        else {
                            alert("删除失败！");
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        }
    }
</script>
