@model Tuhu.Provisioning.DataAccess.Entity.ThirdPartyCouponConfigModel
@{
    Layout = null;
}

<table>
    <tr>
        <th width="100%" style="text-align: left;" colspan="2">优惠券配置</th>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>*优惠券批次:</td>
                    <td><input type="text" name="ThirdPartyCouponPatch" placeholder="" value="@Model.ThirdPartyCouponPatch" style="width: 300px;" /></td>
                </tr>
                <tr>
                    <td>*优惠券批次描述:</td>
                    <td><input type="text" name="PatchDescription" placeholder="" value="@Model.PatchDescription" style="width: 300px;" /></td>
                </tr>

                <tr>
                    <td>*途虎优惠券领券规则:</td>
                    <td><input type="text" name="CouponGetRuleId" placeholder="" value="@Model.CouponGetRuleId" style="width: 300px;" /></td>
                </tr>
                <tr>
                    <td>*第三方优惠券来源渠道:</td>
                    <td>
                        <select id="ThirdPartyChannel" name="ThirdPartyChannel">

                            <option value="微信" selected="selected">微信</option>

                        </select>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
@*<input type="button" name="name" class="mybutton" onclick="ClickSave()" value="" />*@
<script>
    function ClickSave() {
        $(".tip").remove();
        var button = $(this);
        button.css("pointer-events", "none");
        var flag = true;
        var couponName = null;
        var couponDescription = null;
        var couponDiscount = null;
        var couponMinMoney = null;
        var couponEffectDuration = null;
        var quantity = null;
        var supportUserRange = 0;
        var thirdPartyCouponPatch = $("[name=ThirdPartyCouponPatch]").val(),
            patchDescription = $("[name=PatchDescription]").val(),
            couponGetRuleId = $("[name=CouponGetRuleId]").val(),
            thirdPartyChannel = $("[name=ThirdPartyChannel]").val();

        function showWrongTip(target, titText) {
            flag = false;
            target.after('<span class="tip">' + titText + '</span>');
            button.css("pointer-events", "all");
        }

        if (!thirdPartyCouponPatch) {
            showWrongTip($("[name=ThirdPartyCouponPatch]"), '必填');
        }
        if (!patchDescription) {
            showWrongTip($("[name=PatchDescription]"), '必填');
        }
        if (!couponGetRuleId) {
            showWrongTip($("[name=CouponGetRuleId]"), '必填');
        }
        if (!thirdPartyChannel) {
            showWrongTip($("[name=ThirdPartyChannel]"), '必填');
        }
        var reg = /^[a-fA-F0-9]{8}-([a-fA-F0-9]{4}-){3}[a-fA-Z0-9]{12}$/;
        if (!reg.test(couponGetRuleId)) {
            showWrongTip($("[name=CouponGetRuleId]"), '不是有效的领券规则');
        }
        if (flag) {
            $.ajax({
                url: '/ThirdPartyCouponConfig/SelectGetCouponRulesByGetRuleId',
                type: 'post',
                data: { getRuleId: couponGetRuleId },
                async: false,
                success: function (result) {
                    if (!result) {
                        alert("查询优惠券失败");
                        flag = false;
                    }
                    couponName = result.PromotionName;
                    couponDescription = result.Description;
                    couponDiscount = result.Discount;
                    couponMinMoney = result.Minmoney;
                    couponEffectDuration = result.Term;
                    supportUserRange = result.SupportUserRange;
                    quantity = result.Quantity;
                   
                    if (supportUserRange !== 0) {
                        alert("请配置针对全部用户的有效规则");
                        flag = false;
                    }
                }
            });
        }
        if (flag) {
            $.ajax({
                url: '/ThirdPartyCouponConfig/SelectThirdPartyCouponConfigsByChannelAndPatch',
                type: 'post',
                data: {
                    thirdPartyChannel: thirdPartyChannel,
                    thirdPartyCouponPatch: thirdPartyCouponPatch
                },
                async: false,
                success: function (result) {
                    //var aa = [];
                    //$.each(result, function () {
                    //    //alert(this.ThirdPartyCouponPatch);
                    //    var card = this.ThirdPartyCouponPatch + this.ThirdPartyChannel;
                    //    aa.push(card);
                    //});
                    //var bb = result;
                    //var aa = [];
                    //for (var i = 0; i <= result.Count; i++) {
                    //    var card = result.ThirdPartyCouponPatch + result.ThirdPartyChannel;
                    //    aa.push(card);
                    //}
                    //if (aa.indexOf(thirdPartyCouponPatch + thirdPartyChannel) > -1) {
                    //    alert("存在重复配置的批次");
                    //    flag = false;
                    //}
                    if (result > 0) {
                        alert("同一个"+thirdPartyChannel+"渠道下存在重复配置的批次"+thirdPartyCouponPatch);
                        flag = false;
                    }
                }
            });
        }
        if (flag) {
            var r = confirm("是否确定保存信息？");
            if (r) {
                $.ajax({
                    url: "/ThirdPartyCouponConfig/SaveThirdPartyCouponConfig",
                    type: "post",
                    dataType: "json",
                    data: {
                        ThirdPartyCouponPatch: thirdPartyCouponPatch,
                        PatchDescription: patchDescription,
                        ThirdPartyChannel: thirdPartyChannel,
                        CouponGetRuleId: couponGetRuleId,
                        PKID: "@Model.PKID",
                        CouponName: couponName,
                        CouponDescription: couponDescription,
                        CouponDiscount: couponDiscount,
                        CouponMinMoney: couponMinMoney,
                        CouponEffectDuration: couponEffectDuration
                    },
                    success: function (result) {
                        if (result.Status > 0) {
                            alert("保存成功！");
                            window.location.reload();
                        } else {
                            alert("保存失败！");
                        }
                    }
                });
            } else {
                button.css("pointer-events", "all");
            }
        }

    }
</script>