<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="zookeeper" type="Tuhu.ZooKeeper.ZooKeeperClientSection, Tuhu.ZooKeeper" />
    <section name="nosql" type="Tuhu.Nosql.Configuration.NosqlConfiguration, Tuhu.Nosql" />
    <section name="redisClient" type="Tuhu.Nosql.Redis.Configuration.RedisCachingSectionHandler, Tuhu.Nosql.Redis" />
    <section name="rabbitmq" type="Tuhu.MessageQueue.RabbitMQSection, Tuhu.MessageQueue" />
    <section name="webSite" type="Tuhu.C.Job.TuhuMonitor.WebSiteMonitorSection, Tuhu.C.Job.TuhuMonitor" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="C调度服务" />

    <!--configure thread pool info-->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="20" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />

    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />

    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.config" />
    <add key="quartz.plugin.xml.scanInterval" value="30" />
  </quartz>
  <nosql provider="Tuhu.Nosql.Redis.RedisProvider, Tuhu.Nosql.Redis" sectionName="redisClient" prefix="CJob" file="Cache.config">
    <expiration>
    </expiration>
  </nosql>
  <redisClient abortOnConnectFail="false" allowAdmin="true" ssl="false" connectTimeout="500" database="1" proxy="Twemproxy">
    <hosts>
      <add host="172.16.20.233" cachePort="6479" />
    </hosts>
  </redisClient>
  <zookeeper sessionTimeOut="30000" server="172.16.20.1" masterSlavePath="/MasterSlave/Service" />
  <rabbitmq hostName="172.16.20.1" userName="test" password="itsme999" virtualHost="/dev" />
  <webSite>
    <add host="api.tuhu.cn" ip="CL-API-01,CL-API-02,CL-API-03,CL-API-04,CL-API-05,CL-API-06,CL-API-07" timeout="3000" />
    <add host="by.tuhu.cn" ip="CL-BY-01,CL-BY-02,CL-BY-03,CL-BY-04,CL-BY-05,CL-BY-06,CL-BY-07" timeout="3000" url="/baoyang/Index.html?pid=VE-XJWSJTYBK&amp;n=2009&amp;pl=2.0L" />
    <add host="item.tuhu.cn" ip="" timeout="3000" url="/List/Tires/1/CP_Tire_AspectRatio=60&amp;CP_Tire_Rim=18&amp;CP_Tire_Width=235&amp;d_Vech=VE-QJLLANDJIG.html" />
    <add host="www.tuhu.cn" ip="CL-WWW-01,CL-WWW-02,CL-WWW-03,CL-WWW-04,CL-WWW-05,CL-WWW-06,CL-WWW-07" timeout="3000" />
    <add host="WX.tuhu.cn" ip="CL-WX-01,CL-WX-02,CL-WX-03,CL-WX-04,CL-WX-05,CL-WX-06,CL-WX-07" timeout="3000" />
  </webSite>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <!--<arg key="configType" value="INLINE" />-->
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <!--OnlyDevelop-->
    <add key="CheXingYiHost" value="http://test.cx580.com:9000" />
    <add key="SoaBaseAddress" value="http://dev" />
    <add key="ZhongAnKey" value="" />
    <add key="ZhongAnServiceName" value="" />
    <add key="ZhongAnUrl" value="" />
    <add key="DeliverySubscibeJob:SubscibeKey" value="" />
    <add key="DeliverySubscibeJob:SubscibeUrl" value="" />
    <add key="DeliverySubscibeJob:CallbackUrl" value="" />
    <add key="WarnEmail" value="" />
    <add key="SiteErrorEmail" value="" />
    <add key="ESHost" value="http://172.16.20.1:9200" />
    <add key="AliPayGatewayUrl" value="https://openapi.alipay.com/gateway.do" />
    <add key="AliPayAppid" value="2016110702610725" />
    <add key="UWeixinAppkey" value="" />
    <add key="UWeixinAppsecret" value="" />
    <add key="StandAlone" value="true" />
    <add key="RunJob" value="true" />
    <!--环境参数-->
    <add key="Env" value="dev" />
    <!--汽配龙产品WCF服务-测试环境-->
    <add key="QPLProductInfoServiceWcfUrl" value="http://service.qipeilong.net:9006/wsTuhuService/ProductInfoService.svc" />
    <!--DevelopOnly-->
    <add key="SeckillPhoneSend" value="13671714524" />
    <add key="ExceptionSmsJob:Subject" value="短信异常提醒" />
    <add key="ExceptionSmsJob:To" value="baoli@tuhu.cn;pengwei@tuhu.cn" />
    <add key="SEOFileJob:To" value="zhoushanzhi@tuhu.cn;liuchao1@tuhu.cn" />   
    <add key="ActivityMonitorJob:To" value="zhoushanzhi@tuhu.cn;liuchao1@tuhu.cn;wangminyou@tuhu.cn;wanghaoxing@tuhu.cn;zhanglingjia@tuhu.cn;ziyoupingtaiyunying@tuhu.cn;wangyu1@tuhu.cn;dongjing1@tuhu.cn;guxiaowen@tuhu.cn;yuanlinlin@tuhu.cn;daizhen@tuhu.cn;huangtongpeng@tuhu.cn;chengyuhong@tuhu.cn;songjunyi@tuhu.cn;lijianer@tuhu.cn;chensiwen@tuhu.cn;wangtianwen@tuhu.cn;liujun@tuhu.cn;xujunjie@tuhu.cn;xuxiaohui@tuhu.cn" />
    <add key="MoreActivityMonitorJob:To" value="zhoushanzhi@tuhu.cn;liuchao1@tuhu.cn;zhuzhiyuan@tuhu.cn;wangyu1@tuhu.cn;dongjing1@tuhu.cn" />
    <add key="CheckAlipayShopJob:To" value="zhoushanzhi@tuhu.cn;liuchao1@tuhu.cn;zhuzhiyuan@tuhu.cn" />
    <add key="PintuanActivityEndRemindJob:To" value="lijianer@tuhu.cn;wuzhongwei@tuhu.cn;zhanglingjia@tuhu.cn;zhangtingting@tuhu.cn;liminzhu@tuhu.cn;liman@tuhu.cn;guanyanhong@tuhu.cn;xujunjie@tuhu.cn;liuxin@tuhu.cn;liuchao1@tuhu.cn;liweihan@tuhu.cn" />
    <add key="GFBankCardJob:To" value="zhangjianfeng@tuhu.cn;lutong@tuhu.cn;wanglibo@tuhu.cn" />
    <add key="DoMain_image" value="https://img1.tuhu.org" />
    <add key="UploadDoMain_image" value="/activity/image/" />
    <!--OnlyProduction
      <add key="CheXingYiHost" value="http://chaxun.cx580.com:9008" />
      <add key="SoaBaseAddress" value="http://netscaler.ad.tuhu.cn:8090" />
      <add key="DeliverySubscibeJob:SubscibeKey" value="PkmSGlfF22" />
      <add key="DeliverySubscibeJob:SubscibeUrl" value="http://poll.kuaidi100.com/poll" />
      <add key="DeliverySubscibeJob:CallbackUrl" value="http://yewu.tuhu.cn/Kuaidi100Callback.ashx" />
      <add key="RunJob" value ="true" />
      <add key="Env" value="pro" />
      <add key="SeckillPhoneSend" value="13671714524;13817116040;15900494151"/>
      <add key="ZhongAnKey" value="16773dcb274da2ee1bd31d6f508efd48" />
      <add key="ZhongAnServiceName" value="zhongan.tuhu.policyService" />
      <add key="ZhongAnUrl" value="http://opengw.zhongan.com/Gateway.do" />
      <add key="QPLProductInfoServiceWcfUrl" value="http://netscaler.ad.tuhu.cn:9006/wsTuhuService/ProductInfoService.svc" />
      ProductionOnly-->

    <add key="UmAndroidappkey" value="" />
    <add key="UmAndroidapp_master_secret" value="" />
    <add key="UmiOSappkey" value="" />
    <add key="UmiOSapp_master_secret" value="" />
    <add key="CrystalQuartzUrl" value="http://*:5559" />

    <!--OnlyProduction
      <add key="WarnEmail" value="彭伟&lt;pengwei@tuhu.cn&gt;;鲍利&lt;baoli@tuhu.cn&gt;;" />
      <add key="SiteErrorEmail" value="丁佑标&lt;dingyoubiao@tuhu.cn&gt;;蒋瑶&lt;jiangyao@tuhu.cn&gt;;王敏尤&lt;wangminyou@tuhu.cn&gt;;彭伟&lt;pengwei@tuhu.cn&gt;;刘超&lt;liuchao1@tuhu.cn&gt;;刘子超&lt;liuzichao@tuhu.cn&gt;;鲍利&lt;baoli@tuhu.cn&gt;;张建锋&lt;zhangjianfeng@tuhu.cn&gt;;诸奕&lt;zhuyi@tuhu.cn&gt;;刘阳阳&lt;liuyangyang@tuhu.cn&gt;;王俊桥&lt;wangjunqiao@tuhu.cn&gt;;顾杰&lt;gujiebrant@tuhu.cn&gt;;屈作霖&lt;quzuolin@tuhu.cn&gt;;" />

      <add key="ESHost" value="http://netscaler.ad.tuhu.cn:9200" />
      ProductionOnly-->

    <add key="BaoYangCacheOutTime" value="7" />

    <add key="RemoteName" value="CJob" />
    <!--用户合并单次个数-->
    <add key="UserCombineOnceRunCount" value="0" />
    <add key="UserCombineViaMobileOnceRunContainLastWord" value="1" />

    <!--OnlyProduction
      <add key="AliPayGatewayUrl" value="https://openapi.alipay.com/gateway.do" />
	   <add key="AliPayAppid" value="2016110702610725" />
       ProductionOnly-->
    <!--推送轮胎险消息开关 -->
    <add key="OrderPushMessageLTX" value="true" />
    <!--门店同步到支付宝参数 -->
    <add key="ShopRegionIdList" value="1,2,19,20,23,24,25,26,27,28,29,30,31,90,334,407,712,723,724,831,832,978,979,1060,1182,1404,1561,1676,1847,1848,2344" />
    <add key="ShopIdList" value="" />
    <add key="InputGlobal" value="true" />
    <!--Sitemap更新开关 -->
    <add key="isFull" value="true" />
    <add key="SitemapJobIsClose" value="true" />
    <add key="DailyShopSyncJobIsClose" value="false" />
    <add key="Sms_ZhongAnInsurance" value="尊敬的途虎用户，您的轮胎保（途虎轮胎订单号{0}）已由众安保险成功承保，保险凭证号{1}，如有任何疑问请致电400-111-8868。如需退订回复TD " />
    <!--微信授权-->
    <add key="UWeixinAppkey" value="" />
    <add key="UWeixinAppsecret" value="" />
    <add key="TuhuSftpHostIp" value="139.219.106.16" />
    <!--评论导入论坛-->
    <!--OnlyDevelop-->   
     <add key="GFCardSecretkey" value="bb1ee0699908a55d8c0cfc5e984f1fb3" />
     <add key="GFSftpUser" value="test_sftp" />
     <add key="GFSftpPassword" value="INHBBGFFYHHjjj898#" />
     <add key="GFPromotionRuleGuids" value="aca40a21-0058-4950-88b0-baec4540d97e" />
     <add key="TopicAddUrl" value="http://hushuoapi.tuhu.work" />
    <!--DevelopOnly-->
    <!--OnlyProduction
      <add key="GFCardSecretkey" value="" />
      <add key="GFSftpUser" value="" />
      <add key="GFSftpPassword" value="" />
      <add key="TopicAddUrl" value="http://hushuoapi.tuhu.cn" />
      <add key="GFPromotionRuleGuids" value="8538300b-0dfa-46ba-a488-218e81f466ac,8b3b4a92-d1c3-408b-895f-c898d56cc8c6,070cbe4f-7ac9-4aa4-983b-947b4fdec9e1,c2e7ca18-79e9-4d02-8402-0915a8573a73,a3bb01e7-11ab-4817-97ea-83a41dea4aa5,3a8a5982-1282-4c5f-8341-8a9211fef106,1e6e429c-86de-423d-bbf5-ab7a3ac72255,b5e11b16-de9d-4161-a6e4-dd8bdd7139a0,8cbee25a-2aac-4cfd-8d7e-980c49687e98,b6ae11d7-b12e-49ad-a465-92a40563548d,25ed7b30-48be-4035-bcbf-e68a3dcd4b7f,cde308e0-bcca-4cfb-8b71-9cacebb089bd,e0d57205-6c32-4564-91c9-300d1a8c250a,46e9e06d-6fcb-4c37-8af3-37da4e318089,e83c8d85-ed4f-40e6-84e6-8447829c39ea,e82ae73e-7343-4793-893c-132ad620edf9,0e5b1a75-b3a5-4016-a140-0fd53566c826,3732b3fe-90a8-430b-8ee8-619b63a9adf8,dd4b2404-1be7-40f2-885d-e0f30049465a,ae078160-6caa-48ff-8fb2-9f54cdaffa42,c69c79c9-aed6-460d-9188-c0fe3436e18e,3d865c16-e10a-469d-8cdc-f654be10b14e,b979b3ea-b312-493f-b5f3-bdbfa0722e03"/>
      ProductionOnly-->
  </appSettings>
  <connectionStrings>
    <add name="Cache" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_log;Persist Security Info=True;User ID=LogUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Gungnir" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="GungnirReadOnly" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="WMS" connectionString="" providerName="System.Data.SqlClient" />
	<add name="OprLogConnection" connectionString="" providerName="System.Data.SqlClient" />
    <add name="ThirdParty" connectionString="User ID=APPUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_thirdparty;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="ThirdPartyReadOnly" connectionString="User ID=APPUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_thirdparty;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_log" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Log;User ID=LogUser;Password=itsme999;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_UserTrackReadOnly" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_UserTrack;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;ApplicationIntent=Readonly;" providerName="System.Data.SqlClient" />
    <add name="Marketing" connectionString="" providerName="System.Data.SqlClient" />
	<add name="Tuhu_shop" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_shop;User ID=GungnirUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_UserTrackWrite" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_UserTrack;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Elasticsearch" connectionString="http://172.16.20.1:9200" providerName="Nest.ElasticClient" />
    <add name="Elasticsearch-Log" connectionString="http://172.16.20.1:19200" providerName="Nest.ElasticClient" />
    <add name="Tuhu_Groupon" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Groupon;Persist Security Info=True;User ID=ShopUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Groupon_ReadOnly" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Groupon;Persist Security Info=True;User ID=ShopUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_crm" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_crm;Persist Security Info=True;User ID=GungnirUser;Password=itsme999;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1024" />
    </connectionManagement>
    <mailSettings>
      <smtp deliveryMethod="Network" from="途虎养车网 &lt;servicesender@tuhu.cn&gt;">
        <network host="smtp.exmail.qq.com" userName="servicesender@tuhu.cn" password="Lushanshenglong8" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
        <binding name="ProductCacheServiceBehavior" maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IFileUpload" maxBufferSize="100000000" maxReceivedMessageSize="100000000">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Activity/Game.svc" contract="Tuhu.Service.Activity.IGameClient" name="Tuhu.Service.Activity.IGameClient" />

      <!--OnlyDevelop-->
      <!-- OprLog 日志-->
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9064/Push/wxpush.svc" contract="Tuhu.Service.Push.IWeiXinPushClient" name="Tuhu.Service.Push.IWeiXinPushClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9058/Product/ShopProduct.svc" contract="Tuhu.Service.Product.IShopProductClient" name="Tuhu.Service.Product.IShopProductClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9104/SecondHandCar/SecondHandCarCheck.svc" contract="Tuhu.Service.SecondHandCar.ISecondHandCarCheckClient" name="Tuhu.Service.SecondHandCar.ISecondHandCarCheckClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9104/SecondHandCar/SecondHandCarAdmin.svc" contract="Tuhu.Service.SecondHandCar.ISecondHandCarAdminClient" name="Tuhu.Service.SecondHandCar.ISecondHandCarAdminClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/OprLog/OprLog.svc" contract="Tuhu.Service.OprLog.IOprLogClient" name="Tuhu.Service.OprLog.IOprLogClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Shop/Shop.svc" contract="Tuhu.Service.Shop.IShopClient" name="Tuhu.Service.Shop.IShopClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Push/Push.svc" contract="Tuhu.Service.Push.IPushClient" name="Tuhu.Service.Push.IPushClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Push/WeiXinWork.svc" contract="Tuhu.Service.Push.IWeiXinWorkClient" name="Tuhu.Service.Push.IWeiXinWorkClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9064/Push/pushtemplate.svc" contract="Tuhu.Service.Push.ITemplatePushClient" name="Tuhu.Service.Push.ITemplatePushClient" />
      <endpoint address="http://wcf.tuhu.work:9050/BaoYang/BaoYang.svc" binding="basicHttpBinding" contract="Tuhu.Service.BaoYang.IBaoYangClient" name="Tuhu.Service.BaoYang.IBaoYangClient" />
      <endpoint binding="basicHttpBinding" address="http://localhost:9066/Activity/FlashSale.svc" contract="Tuhu.Service.Activity.IFlashSaleClient" name="Tuhu.Service.Activity.IFlashSaleClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Order/OrderQueryForApp.svc" contract="Tuhu.Service.Order.IOrderQueryForAppClient" name="Tuhu.Service.Order.IOrderQueryForAppClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Order/OrderTask.svc" contract="Tuhu.Service.Order.IOrderTaskClient" name="Tuhu.Service.Order.IOrderTaskClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9058/Product/Product.svc" contract="Tuhu.Service.Product.IProductClient" name="Tuhu.Service.Product.IProductClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9058/Product/ProductConfig.svc" contract="Tuhu.Service.Product.IProductConfigClient" name="Tuhu.Service.Product.IProductConfigClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Product/ProductSearch.svc" contract="Tuhu.Service.Product.IProductSearchClient" name="Tuhu.Service.Product.IProductSearchClient" />
      <endpoint address="http://wcf.tuhu.work:9070/ConfigLog/ConfigLog.svc" binding="basicHttpBinding" contract="Tuhu.Service.ConfigLog.IConfigLogClient" name="Tuhu.Service.ConfigLog.IConfigLogClient" />
      <endpoint address="http://172.16.20.11:9068/GaiZhuang/GaiZhuang.svc" binding="basicHttpBinding" contract="Tuhu.Service.GaiZhuang.IGaiZhuangClient" name="Tuhu.Service.GaiZhuang.IGaiZhuangClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/ThirdParty/NuoMiService.svc" contract="Tuhu.Service.ThirdParty.INuoMiServiceClient" name="Tuhu.Service.ThirdParty.INuoMiServiceClient" />
      <endpoint address="http://172.16.20.11:9081/Pay/Pay.svc" binding="basicHttpBinding" contract="Tuhu.Service.Pay.IPayClient" name="Tuhu.Service.Pay.IPayClient" />
      <endpoint address="http://localhost:9058/Product/Cache.svc" binding="basicHttpBinding" contract="Tuhu.Service.Product.ICacheClient" name="Tuhu.Service.Product.ICacheClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Utility/HttpProxy.svc" contract="Tuhu.Service.Utility.IHttpProxyClient" name="Tuhu.Service.Utility.IHttpProxyClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Utility/Sms.svc" contract="Tuhu.Service.Utility.ISmsClient" name="Tuhu.Service.Utility.ISmsClient" />
      <endpoint address="http://wcf.tuhu.work:9052/Vehicle/Vehicle.svc" binding="basicHttpBinding" contract="Tuhu.Service.Vehicle.IVehicleClient" name="Tuhu.Service.Vehicle.IVehicleClient" />
      <endpoint address="http://wcf.tuhu.work:9052/Vehicle/MoveCar.svc" binding="basicHttpBinding" contract="Tuhu.Service.Vehicle.IMoveCarClient" name="Tuhu.Service.Vehicle.IMoveCarClient" />
      <endpoint address="http://wcf.tuhu.work:9010/Config/Config.svc" binding="basicHttpBinding" contract="Tuhu.Service.Config.IConfigClient" name="Tuhu.Service.Config.IConfigClient" />
      <endpoint address="http://wcf.tuhu.work:9010/Config/Cache.svc" binding="basicHttpBinding" contract="Tuhu.Service.Config.ICacheClient" name="Tuhu.Service.Config.ICacheClient" />
      <endpoint address="http://wcf.tuhu.work:9072/Config/HomePage.svc" binding="basicHttpBinding" contract="Tuhu.Service.Config.IHomePageClient" name="Tuhu.Service.Config.IHomePageClient" />
      <endpoint address="http://wcf.tuhu.work:9060/Shop/Region.svc" binding="basicHttpBinding" contract="Tuhu.Service.Shop.IRegionClient" name="Tuhu.Service.Shop.IRegionClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9012/Order/OrderQuery.svc" contract="Tuhu.Service.Order.IOrderQueryClient" name="Tuhu.Service.Order.IOrderQueryClient" />
      <endpoint address="http://wcf.tuhu.work:9074/comment/shopComment.svc" binding="basicHttpBinding" contract="Tuhu.Service.Comment.IShopCommentClient" name="Tuhu.Service.Comment.IShopCommentClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Comment/ProductComment.svc" contract="Tuhu.Service.Comment.IProductCommentClient" name="Tuhu.Service.Comment.IProductCommentClient" />
      <endpoint address="http://wcf.tuhu.work:9056/UserAccount/UserAccount.svc" binding="basicHttpBinding" contract="Tuhu.Service.UserAccount.IUserAccountClient" name="Tuhu.Service.UserAccount.IUserAccountClient" />
      <endpoint address="http://wcf.tuhu.work:9066/Activity/GroupBuyingActivity.svc" binding="basicHttpBinding" contract="Tuhu.Service.Activity.IGroupBuyingClient" name="Tuhu.Service.Activity.IGroupBuyingClient" />
      <endpoint address="http://wcf.tuhu.work:9012/Order/OrderOperation.svc" binding="basicHttpBinding" contract="Tuhu.Service.Order.IOrderOperationClient" name="Tuhu.Service.Order.IOrderOperationClient" />
      <endpoint address="http://wcf.tuhu.work:9032/OAuth/AccessToken.svc" binding="basicHttpBinding" contract="Tuhu.Service.OAuth.IAccessTokenClient" name="Tuhu.Service.OAuth.IAccessTokenClient" />
      <endpoint address="http://wcf.tuhu.work:9012/Order/OrderApiForC.svc" binding="basicHttpBinding" contract="Tuhu.Service.Order.IOrderApiForCClient" name="Tuhu.Service.Order.IOrderApiForCClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Utility/Monitor.svc" contract="Tuhu.Service.Utility.IMonitorClient" name="Tuhu.Service.Utility.IMonitorClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9076/ThirdParty/AliPayService.svc" contract="Tuhu.Service.ThirdParty.IAliPayServiceClient" name="Tuhu.Service.ThirdParty.IAliPayServiceClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/TuhuShopWork/WorkShop.svc" contract="Tuhu.Service.TuhuShopWork.IWorkShopClient" name="Tuhu.Service.TuhuShopWork.IWorkShopClient" />
      <endpoint address="http://wcf.tuhu.work:9010/EmailProcess/EmailProcessOperation.svc" binding="basicHttpBinding" contract="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" name="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" />
      <endpoint address="http://wcf.tuhu.work:9010/Member/UserIntegral.svc" binding="basicHttpBinding" contract="Tuhu.Service.Member.IUserIntegralClient" name="Tuhu.Service.Member.IUserIntegralClient" />

      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9076/ThirdParty/WeiXinService.svc" contract="Tuhu.Service.ThirdParty.IWeiXinServiceClient" name="Tuhu.Service.ThirdParty.IWeiXinServiceClient" />
      <endpoint address="http://wcf.tuhu.work:9010/Member/Promotion.svc" binding="basicHttpBinding" contract="Tuhu.Service.Member.IPromotionClient" name="Tuhu.Service.Member.IPromotionClient" />
      <endpoint address="http://wcf.tuhu.work:9010/Groupbuying/RedemptionCode.svc" binding="basicHttpBinding" contract="Tuhu.Service.GroupBuying.IRedemptionCodeClient" name="Tuhu.Service.GroupBuying.IRedemptionCodeClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/PinTuan/PinTuan.svc" contract="Tuhu.Service.PinTuan.IPinTuanClient" name="Tuhu.Service.PinTuan.IPinTuanClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/PinTuan/PinTuanCarCertification.svc" contract="Tuhu.Service.PinTuan.IPinTuanCarCertificationClient" name="Tuhu.Service.PinTuan.IPinTuanCarCertificationClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9066/Activity/ShareBargain.svc" contract="Tuhu.Service.Activity.IShareBargainClient" name="Tuhu.Service.Activity.IShareBargainClient" />
      <endpoint address="http://wcf.tuhu.work:9082/GroupBuying/GroupBuying.svc" binding="basicHttpBinding" contract="Tuhu.Service.GroupBuying.IGroupBuyingClient" name="Tuhu.Service.GroupBuying.IGroupBuyingClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9066/Activity/Activity.svc" contract="Tuhu.Service.Activity.IActivityClient" name="Tuhu.Service.Activity.IActivityClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Member/User.svc" contract="Tuhu.Service.Member.IUserClient" name="Tuhu.Service.Member.IUserClient" />     
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9076/ThirdParty/ThirdPartyService.svc" contract="Tuhu.Service.ThirdParty.IThirdPartyClient" name="Tuhu.Service.ThirdParty.IThirdPartyClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Member/MembershipsGrade.svc" contract="Tuhu.Service.Member.IMembershipsGradeClient" name="Tuhu.Service.Member.IMembershipsGradeClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/CreatePromotion/CreatePromotion.svc" contract="Tuhu.Service.CreatePromotion.ICreatePromotionClient" name="Tuhu.Service.CreatePromotion.ICreatePromotionClient" />
      <endpoint binding="basicHttpBinding" address="http://localhost:9066/activity/OARedEnvelope.svc" contract="Tuhu.Service.Activity.IOARedEnvelopeClient" name="Tuhu.Service.Activity.IOARedEnvelopeClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/searchproduct/Cache.svc" contract="Tuhu.Service.SearchProduct.ICacheClient" name="Tuhu.Service.SearchProduct.ICacheClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9066/Activity/LuckyCharm.svc" contract="Tuhu.Service.Activity.ILuckyCharmClient" name="Tuhu.Service.Activity.ILuckyCharmClient" />
      <!--FileUpload-->
      <endpoint address="http://wsvc.tuhu.work:12345/Utility/FileUpload.svc" binding="basicHttpBinding" contract="Tuhu.Service.Utility.IFileUploadClient" name="Tuhu.Service.Utility.IFileUploadClient" />
      <!--DevelopOnly-->
      <!--OnlyProduction
      <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Member/MembershipsGrade.svc" contract="Tuhu.Service.Member.IMembershipsGradeClient" name="Tuhu.Service.Member.IMembershipsGradeClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Push/wxpush.svc" contract="Tuhu.Service.Push.IWeiXinPushClient" name="Tuhu.Service.Push.IWeiXinPushClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/SecondHandCar/SecondHandCarAdmin.svc"  contract="Tuhu.Service.SecondHandCar.ISecondHandCarAdminClient" name="Tuhu.Service.SecondHandCar.ISecondHandCarAdminClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/SecondHandCar/SecondHandCarCheck.svc"  contract="Tuhu.Service.SecondHandCar.ISecondHandCarCheckClient" name="Tuhu.Service.SecondHandCar.ISecondHandCarCheckClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Shop/Shop.svc" contract="Tuhu.Service.Shop.IShopClient" name="Tuhu.Service.Shop.IShopClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Product/Product.svc" binding="basicHttpBinding" contract="Tuhu.Service.Product.IProductClient" name="Tuhu.Service.Product.IProductClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Product/Cache.svc" binding="basicHttpBinding" contract="Tuhu.Service.Product.ICacheClient" name="Tuhu.Service.Product.ICacheClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Product/ProductSearch.svc" binding="basicHttpBinding" contract="Tuhu.Service.Product.IProductSearchClient" name="Tuhu.Service.Product.IProductSearchClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Product/ShopProduct.svc" contract="Tuhu.Service.Product.IShopProductClient" name="Tuhu.Service.Product.IShopProductClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Product/ProductConfig.svc" contract="Tuhu.Service.Product.IProductConfigClient" name="Tuhu.Service.Product.IProductConfigClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Push/Push.svc" contract="Tuhu.Service.Push.IPushClient" name="Tuhu.Service.Push.IPushClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Push/WeiXinWork.svc" contract="Tuhu.Service.Push.IWeiXinWorkClient" name="Tuhu.Service.Push.IWeiXinWorkClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Push/pushtemplate.svc" contract="Tuhu.Service.Push.ITemplatePushClient" name="Tuhu.Service.Push.ITemplatePushClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/BaoYang/BaoYang.svc" contract="Tuhu.Service.BaoYang.IBaoYangClient" name="Tuhu.Service.BaoYang.IBaoYangClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/BaoYang/Cache.svc" contract="Tuhu.Service.BaoYang.ICacheClient" name="Tuhu.Service.BaoYang.ICacheClient" />

        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Activity/FlashSale.svc" contract="Tuhu.Service.Activity.IFlashSaleClient" name="Tuhu.Service.Activity.IFlashSaleClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/GaiZhuang/GaiZhuang.svc" contract="Tuhu.Service.GaiZhuang.IGaiZhuangClient" name="Tuhu.Service.GaiZhuang.IGaiZhuangClient" />

        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Order/OrderQueryForApp.svc" contract="Tuhu.Service.Order.IOrderQueryForAppClient" name="Tuhu.Service.Order.IOrderQueryForAppClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Order/OrderTask.svc" contract="Tuhu.Service.Order.IOrderTaskClient" name="Tuhu.Service.Order.IOrderTaskClient" />

        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/ConfigLog/ConfigLog.svc"  contract="Tuhu.Service.ConfigLog.IConfigLogClient" name="Tuhu.Service.ConfigLog.IConfigLogClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/ThirdParty/AliPayService.svc" binding="basicHttpBinding" contract="Tuhu.Service.ThirdParty.IAliPayServiceClient" name="Tuhu.Service.ThirdParty.IAliPayServiceClient" />

        <endpoint address="http://netscaler.ad.tuhu.cn:9010/ThirdParty/NuoMiService.svc" binding="basicHttpBinding" contract="Tuhu.Service.ThirdParty.INuoMiServiceClient" name="Tuhu.Service.ThirdParty.INuoMiServiceClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Order/OrderQuery.svc" binding="basicHttpBinding" contract="Tuhu.Service.Order.IOrderQueryClient" name="Tuhu.Service.Order.IOrderQueryClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Pay/Pay.svc" binding="basicHttpBinding"  contract="Tuhu.Service.Pay.IPayClient" name="Tuhu.Service.Pay.IPayClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Utility/HttpProxy.svc" contract="Tuhu.Service.Utility.IHttpProxyClient" name="Tuhu.Service.Utility.IHttpProxyClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Vehicle/Vehicle.svc" binding="basicHttpBinding" contract="Tuhu.Service.Vehicle.IVehicleClient" name="Tuhu.Service.Vehicle.IVehicleClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Vehicle/MoveCar.svc" binding="basicHttpBinding" contract="Tuhu.Service.Vehicle.IMoveCarClient" name="Tuhu.Service.Vehicle.IMoveCarClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/EmailProcess/EmailProcessOperation.svc" binding="basicHttpBinding" contract="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" name="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" />

        <endpoint address="http://netscaler.ad.tuhu.cn:9010/UserAccount/UserProfile.svc" binding="basicHttpBinding" contract="Tuhu.Service.UserAccount.IUserProfileClient" name="Tuhu.Service.UserAccount.IUserProfileClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Utility/Sms.svc" binding="basicHttpBinding" contract="Tuhu.Service.Utility.ISmsClient" name="Tuhu.Service.Utility.ISmsClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Config/Config.svc" binding="basicHttpBinding" contract="Tuhu.Service.Config.IConfigClient" name="Tuhu.Service.Config.IConfigClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Config/Cache.svc" binding="basicHttpBinding" contract="Tuhu.Service.Config.ICacheClient" name="Tuhu.Service.Config.ICacheClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Config/HomePage.svc" binding="basicHttpBinding"  contract="Tuhu.Service.Config.IHomePageClient" name="Tuhu.Service.Config.IHomePageClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Shop/Region.svc" binding="basicHttpBinding" contract="Tuhu.Service.Shop.IRegionClient" name="Tuhu.Service.Shop.IRegionClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Comment/ShopComment.svc" binding="basicHttpBinding" contract="Tuhu.Service.Comment.IShopCommentClient" name="Tuhu.Service.Comment.IShopCommentClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Comment/ProductComment.svc" contract="Tuhu.Service.Comment.IProductCommentClient" name="Tuhu.Service.Comment.IProductCommentClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/UserAccount/UserAccount.svc" binding="basicHttpBinding" contract="Tuhu.Service.UserAccount.IUserAccountClient" name="Tuhu.Service.UserAccount.IUserAccountClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/OAuth/AccessToken.svc" binding="basicHttpBinding" contract="Tuhu.Service.OAuth.IAccessTokenClient" name="Tuhu.Service.OAuth.IAccessTokenClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Activity/GroupBuyingActivity.svc" binding="basicHttpBinding" contract="Tuhu.Service.Activity.IGroupBuyingClient" name="Tuhu.Service.Activity.IGroupBuyingClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Order/OrderOperation.svc" binding="basicHttpBinding" contract="Tuhu.Service.Order.IOrderOperationClient" name="Tuhu.Service.Order.IOrderOperationClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Order/OrderApiForC.svc" binding="basicHttpBinding" contract="Tuhu.Service.Order.IOrderApiForCClient" name="Tuhu.Service.Order.IOrderApiForCClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Utility/Monitor.svc" binding="basicHttpBinding" contract="Tuhu.Service.Utility.IMonitorClient" name="Tuhu.Service.Utility.IMonitorClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/TuhuShopWork/WorkShop.svc" binding="basicHttpBinding" contract="Tuhu.Service.TuhuShopWork.IWorkShopClient" name="Tuhu.Service.TuhuShopWork.IWorkShopClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/OprLog/OprLog.svc" binding="basicHttpBinding" contract="Tuhu.Service.OprLog.IOprLogClient" name="Tuhu.Service.OprLog.IOprLogClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Member/UserIntegral.svc" binding="basicHttpBinding" contract="Tuhu.Service.Member.IUserIntegralClient" name="Tuhu.Service.Member.IUserIntegralClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Member/Promotion.svc" binding="basicHttpBinding" contract="Tuhu.Service.Member.IPromotionClient" name="Tuhu.Service.Member.IPromotionClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/Groupbuying/RedemptionCode.svc" binding="basicHttpBinding" contract="Tuhu.Service.GroupBuying.IRedemptionCodeClient" name="Tuhu.Service.GroupBuying.IRedemptionCodeClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/ThirdParty/WeiXinService.svc" contract="Tuhu.Service.ThirdParty.IWeiXinServiceClient" name="Tuhu.Service.ThirdParty.IWeiXinServiceClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/PinTuan/PinTuan.svc" contract="Tuhu.Service.PinTuan.IPinTuanClient" name="Tuhu.Service.PinTuan.IPinTuanClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/PinTuan/PinTuanCarCertification.svc" contract="Tuhu.Service.PinTuan.IPinTuanCarCertificationClient" name="Tuhu.Service.PinTuan.IPinTuanCarCertificationClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Activity/ShareBargain.svc" contract="Tuhu.Service.Activity.IShareBargainClient" name="Tuhu.Service.Activity.IShareBargainClient" />
        <endpoint address="http://netscaler.ad.tuhu.cn:9010/GroupBuying/GroupBuying.svc" binding="basicHttpBinding"  contract="Tuhu.Service.GroupBuying.IGroupBuyingClient" name="Tuhu.Service.GroupBuying.IGroupBuyingClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Activity/Activity.svc" contract="Tuhu.Service.Activity.IActivityClient" name="Tuhu.Service.Activity.IActivityClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/Member/User.svc" contract="Tuhu.Service.Member.IUserClient" name="Tuhu.Service.Member.IUserClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/ThirdParty/ThirdPartyService.svc" contract="Tuhu.Service.ThirdParty.IThirdPartyClient" name="Tuhu.Service.ThirdParty.IThirdPartyClient" />
        <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/CreatePromotion/CreatePromotion.svc" contract="Tuhu.Service.CreatePromotion.ICreatePromotionClient" name="Tuhu.Service.CreatePromotion.ICreatePromotionClient" />

         <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/activity/OARedEnvelope.svc" contract="Tuhu.Service.Activity.IOARedEnvelopeClient" name="Tuhu.Service.Activity.IOARedEnvelopeClient" />
         <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/searchproduct/Cache.svc" contract="Tuhu.Service.SearchProduct.ICacheClient" name="Tuhu.Service.SearchProduct.ICacheClient" />
        <endpoint address="net.tcp://netscaler.ad.tuhu.cn:12345/Utility/FileUpload.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileUpload" contract="Tuhu.Service.Utility.IFileUploadClient" name="Tuhu.Service.Utility.IFileUploadClient" />
       ProductionOnly-->
 
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <tuhuEndPointBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Product" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.11.16" newVersion="1.3.11.16" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.MessageQueue" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Shop" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.4.6" newVersion="1.3.4.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Order" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.7" newVersion="3.0.1.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.BaoYang" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.4.5.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Push" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.1.4.12" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Vehicle" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.2.7.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.UserAccount" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.2.6.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.GaiZhuang" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.0.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Nosql" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.EmailProcess" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Activity" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.3.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Utility" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.7" newVersion="1.2.2.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.ThirdParty" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.4" newVersion="1.2.2.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Config" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.9.10" newVersion="1.1.9.10" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
