<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="AmqpAppender" />
      <!--OnlyDevelop-->
      <appender-ref ref="AiAppender" />
      <!--DevelopOnly-->
    </root>
    <logger name="PerformanceLogger" additivity="false">
      <level value="INFO" />
      <appender-ref ref="PerformanceAppender" />
      <!--OnlyDevelop-->
      <appender-ref ref="AiAppender" />
      <!--DevelopOnly-->
    </logger>
    <renderer renderingClass="Tuhu.Log.ExceptionRenderer, Tuhu.Log" renderedClass="System.Exception, mscorlib" />
    <appender name="AmqpAppender" type="Tuhu.Log.KafkaAppender, Tuhu.Log">
      <server value="wcf.tuhu.work:19092" />
      <topic type="log4net.Layout.PatternLayout">
        <conversionPattern value="servicelog" />
      </topic>
      <bodyProperties>
        <property>
          <name value="requestid" />
          <layout type="Tuhu.Service.RequestIDLayout, Tuhu.Service.Server" />
        </property>
        <property>
          <name value="host" />
          <layout type="Tuhu.Log.MachineNameLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="datetime" />
          <layout type="log4net.Layout.RawTimeStampLayout" />
        </property>
        <property>
          <name value="level" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level" />
          </layout>
        </property>
        <property>
          <name value="logger" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%logger" />
          </layout>
        </property>
        <property>
          <name value="message" />
          <!--<layout type="Tuhu.Log.MixMessageLayout, Tuhu.Log" />-->
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message" />
          </layout>
        </property>
        <property>
          <name value="exception" />
          <layout type="log4net.Layout.ExceptionLayout" />
        </property>
        <property>
          <name value="item" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="servicelog" />
          </layout>
        </property>
      </bodyProperties>
    </appender>
    <appender name="PerformanceAppender" type="Tuhu.Log.KafkaAppender, Tuhu.Log">
      <server value="wcf.tuhu.work:19092" />
      <topic type="log4net.Layout.PatternLayout">
        <conversionPattern value="performance.service" />
      </topic>
      <bodyProperties>
        <property>
          <name value="host" />
          <layout type="Tuhu.Log.MachineNameLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="datetime" />
          <layout type="log4net.Layout.RawTimeStampLayout" />
        </property>
        <property>
          <name value="requestid" />
          <layout type="Tuhu.Service.RequestIDLayout, Tuhu.Service.Server" />
        </property>
        <property>
          <name value="remotename" />
          <layout type="Tuhu.Service.RemoteNameLayout, Tuhu.Service.Server" />
        </property>
        <property>
          <name value="remoteendpoint" />
          <layout type="Tuhu.Service.RemoteEndpointLayout, Tuhu.Service.Server" />
        </property>
        <property>
          <name value="servicetype" />
          <layout type="Tuhu.Service.ServiceTypeLayout, Tuhu.Service.Server" />
        </property>
        <property>
          <name value="serviceaction" />
          <layout type="Tuhu.Service.ServiceActionLayout, Tuhu.Service.Server" />
        </property>
        <property>
          <name value="requestparameters" />
          <layout type="Tuhu.Service.RequestParametersLayout, Tuhu.Service.Server" />
        </property>
        <property>
          <name value="returnvalue" />
          <layout type="Tuhu.Service.ReturnValueLayout, Tuhu.Service.Server" />
        </property>
        <property>
          <name value="elapsedmilliseconds" />
          <layout type="Tuhu.Log.MixMessageLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="item" />
          <layout type="Tuhu.Log.LogWeekPatternLayout, Tuhu.Log">
            <conversionPattern value="serviceperformance-%week" />
          </layout>
        </property>
      </bodyProperties>
    </appender>
    <!--OnlyDevelop-->
    <appender name="AiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level - %message%newline%exception" />
      </layout>
    </appender>
    <!--DevelopOnly-->
  </log4net>
</configuration>
