
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Index.cshtml";
    <link href="../../Content/jquery-ui-1.8.9.custom.css" rel="stylesheet" type="text/css" />
}

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" onclick="btn_searchlog()">
                <span class="fa fa-search">查看日志</span>
            </a>
        </div>

        <div class="btn-group">
            <a id="NF-add" class="btn btn-primary" onclick="btn_add()">
                <i class="fa fa-plus"></i>新增/编辑常见问题
            </a>
        </div>
        <div class="btn-group">
            <a id="NF-del" class="btn btn-primary" onclick="btn_del()">
                <span>批量删除问题</span>
            </a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                @*<li class="first">已选中<span>1</span>项</li>*@
                <li><a id="NF-all" onclick="btn_all()"><i class="fa fa-pencil-square-o"></i>全选编辑</a></li>
                <li><a id="NF-alldel" onclick="btn_alldel()"><i class="fa fa-pencil-square-o"></i>全选删除</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" id="categorybrand" class="btn btn-info" onclick="selectBrand()">选择品牌
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        <button type="button" id="Pid" class="btn btn-info" data-toggle="modal"  data-target="#pidModal">添加Pid
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-primary " data-toggle="modal" onclick="Look()" data-target="#myModal">
                            查看已选择条件<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                        <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">查看筛选条件</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>类目</th>
                        <th>品牌</th>
                    </tr>
                    </thead>
                    <tbody id="CBtable">
                    </tbody>
                </table>
                <div >
                <label>添加的Pid</label>
                <div id="Pidtable" style="width: 550px; height: 100px; border: 1px solid #F00;overflow-y:scroll"></div></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pidModal" tabindex="-1" role="dialog" aria-labelledby="pidModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="pidModalLabel">添加要筛选Pid</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">pid以逗号分隔(注意中英文区分)</div>
                <textarea id="selectPid"style="width: 550px; height: 300px; border: black 1px"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SelectPids()">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
    @*<div id="B_Brands_Page" style="display:none;"></div>*@
</div>
<script type="text/template" id="BPTemplate">
    <tr class="success">
        <td>{{category}}</td>
        <td>{{brand}}</td>
    </tr>
</script>
<script src="~/Scripts/zTree/js/jquery.ztree.core-3.5.min.js" type="text/javascript"></script>
<script src="~/Scripts/zTree/js/jquery.ztree.excheck-3.5.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-ui.1.12.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function globalSearch() {
        
    }
    function gridList() {
        var $gridList = $('#gridList');
        $gridList.dataGrid({
            height: $(window).height() - 118,
            multiselect: true,
            url: "/ProductFaqManage/GetFaqPidList",
            colModel: [
                { label: "Pid", name: "Pid", width: 120,key:true, align: "center" },
                { label: "商品名称", name: "ProductName", width: 360, align: "center" },
                { label: "常见问题", name: "QuestionDetail", width: 360, align: "center" },
                {
                    label: "修改时间", name: "LastUpdateDateTime", width: 120, align: "center",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s'}
                }
            ],
            viewrecords: true,
            pager: "#gridPager",
            sortname: "Pid desc",
            rowNum: 20,
            rowList: [10, 20, 30],
        });
        globalSearch= function (){
            $gridList.jqGrid('setGridParam', {
                 mtype: 'POST',  
                postData: { searchString: $("#categorybrand").val(), pids: $("#Pid").val() },
            }).trigger('reloadGrid');
        }
        $("#btn_search").click(globalSearch);
    }
    $("#myModal").on("hidden.bs.modal", function () {
        $(this).removeData("bs.modal");
        $("#CBtable").html('');
    });
    function btn_add() {
        var pids = $('#gridList').jqGrid('getGridParam', 'selarrrow');
        if (pids) {
          var index=  $.modalOpen({
                id: 'FaqConfig',
                url: "/ProductFaqManage/FaqConfig?keyValue=" + pids,
                title: "常见问题编辑",
                width: "820px",
                height: "620px",
                callBack: function (iframeId) {
                    var iframe = $.currentWindow();

                        top.frames[iframeId].submitForm(iframe);
                        if (top.frames[iframeId].flag) {
                            $.modalClose();
                            top.layer.close(index);
                            globalSearch();
                        } else {
                            top.frames[iframeId].flag = true;   
                        }


                }
            });
          
        }
    }
    function Look() {
        if ($("#categorybrand").val()!=''){
            var source = JSON.parse($("#categorybrand").val());
            var $template = $("#BPTemplate").html();
            for (var i = 0; i < source.length; i++) {
                $("#CBtable").append($template
                    .replace(/{{category}}/ig, source[i].CategoryName)
                    .replace(/{{brand}}/ig, source[i].Brands)
                );
            }
        }
        $("#Pidtable").html($("#Pid").val());
    }

    function SelectPids() {
        var selectPids = $("#selectPid").val();
        $("#Pid").val(selectPids);
        $("#pidModal").modal('hide');
    }

    $("#pidModal").on("hidden.bs.modal", function () {
        $(this).removeData("bs.modal");
        $("#selectPid").html('');
    });
    function btn_all() {
        var cbs = $('#categorybrand').val();
        var pids = $("#Pid").val();
        var searchString= JSON.stringify(cbs).replace(/"/g, "'");  
        //if (pids) {
           var index= $.modalOpen({
                id: 'FaqConfig2',
                url: "/ProductFaqManage/FaqConfig?pids=" + pids + "&searchString=" + searchString,
                //data: { keyValue:"",searchString: $("#categorybrand").val(), pids: $("#Pid").val() },
                title: "常见问题编辑",
                width: "820px",
                height: "620px",
                callBack: function (iframeId) {
                    var iframe = $.currentWindow();
                    top.frames[iframeId].submitForm(iframe);
                    top.layer.close(index);
                    globalSearch();
                }
            });
       // }
    }
    function selectBrand() {
        $.modalOpen({
            id: 'BrandListSelect',
            url: "/ProductFaqManage/BrandListSelect",
            title: "选择品牌",
            width: "1000px",
            height: "800px",
            callBack: function (iframeId) {
                var iframe = $.currentWindow();
                //console.log(_B_CategorysParnets);
                console.log(iframe._B_CategorysParnets);
                console.log(top.frames[iframeId]);
                var aa = top.frames[iframeId].ConfirmBrandCheckeds(iframe);
                $("#categorybrand").val(aa);
            }
        });
    }    

    function btn_del() {
        var keyValue = $('#gridList').jqGrid('getGridParam', 'selarrrow');
        if (keyValue) {
            $.deleteForm({
                url: "/ProductFaqManage/PatchDelFaqConfigPid",
                param: { keyValue: JSON.stringify(keyValue) },
                success: function() {
                    globalSearch();
                }
            });
        }
    }

    function btn_alldel() {
        var cbs = $('#categorybrand').val();
        var pids = $("#Pid").val();
        var searchString = JSON.stringify(cbs).replace(/"/g, "'");
            $.deleteForm({
                url: "/ProductFaqManage/PatchDelFaqConfigPid",
                param: { keyValue:"",pids: pids, searchString: searchString },
                success: function () {
                    globalSearch();
                }
            });
        }   


    function btn_searchlog() {
        $.modalOpen({
            id: "Form",
            title: "查看日志",
            url: "/Logger/ListLoger?objectType=Faq",
            width: "1500px",
            height: "600px",
            btn: null
        });
    }
    $(function () {
        gridList();
        $('#NF-addClick').on('click', top.$.nfinetab.addTab);
    });
</script>