@{
    ViewBag.Title = "JYEditBaoYangRecommendProducts";
    Layout = null;

}
<style>
    .tabs div {
        display: inline-block;
        padding: 5px 8px;
        cursor: pointer;
    }

        .tabs div.active {
            background-color: #4297d7;
            color: white;
        }

    .content {
        width: 100%;
        height: 270px;
        border: 1px solid #4297d7;
    }

        .content div {
            display: none;
        }

            .content div:first-child {
                display: block;
            }
</style>
<select id="brand" style="display:none">
    @{
        foreach (var item in (Dictionary<int, string>)ViewData["CP_Brand"])
        {
            if (item.Key == 0)
            {
                <option selected value=@item.Key dataTxt=@item.Value>@item.Value</option>
            }
            else
            {
                <option value=@item.Key dataTxt=@item.Value>@item.Value</option>
            }
        }
    }
</select>

<div>
    <div class="tabs">
        <div class="active" data-id="HX3">HX3</div>
        <div data-id="HX5">HX5</div>
        <div data-id="HX6">HX6</div>
        <div data-id="HX7">HX7</div>
        <div data-id="HX8">HX8</div>
        <div data-id="ULTRA">ULTRA</div>
    </div>

    <div class="content">
        <div id="FirstDiv">
            <span style="color:red">优先级按选择品牌顺序</span>
            <table class="HX3_Brand_Content">
                <tr>
                    <td>品牌优先级</td>
                    <td>
                        <select class="HX3_Brand_Priorities" name="HX3_brand" onchange="change(this)"></select>
                    </td>
                </tr>
            </table>
            <a href="#"  class="add_brand_Prrorities" style="color:blue" data-type="HX3">添加优先级</a>
        </div>
        <div id="SecondDiv">
            <span style="color:red">优先级按选择品牌顺序</span>
            <table class="HX5_Brand_Content">
                <tr>
                    <td>品牌优先级</td>
                    <td>
                        <select class="HX5_Brand_Priorities" name="HX5_brand" onchange="change(this)"></select>
                    </td>
                </tr>
            </table>
            <a href="#" class="add_brand_Prrorities" style="color:blue" data-type="HX5">添加优先级</a>
        </div>
        <div id="ThirdDiv">
            <span style="color:red">优先级按选择品牌顺序</span>
            <table class="HX6_Brand_Content">
                <tr>
                    <td>品牌优先级</td>
                    <td>
                        <select class="HX6_Brand_Priorities" name="HX6_brand" onchange="change(this)"></select>
                    </td>
                </tr>
            </table>
            <a href="#" class="add_brand_Prrorities" style="color:blue" data-type="HX6">添加优先级</a>
        </div>
        <div id="FourDiv">
            <span style="color:red">优先级按选择品牌顺序</span>
            <table class="HX7_Brand_Content">
                <tr>
                    <td>品牌优先级</td>
                    <td>
                        <select class="HX7_Brand_Priorities" name="HX7_brand" onchange="change(this)"></select>
                    </td>
                </tr>
            </table>
            <a href="#" class="add_brand_Prrorities" style="color:blue" data-type="HX7">添加优先级</a>
        </div>
        <div id="FiveDiv">
            <span style="color:red">优先级按选择品牌顺序</span>
            <table class="HX8_Brand_Content">
                <tr>
                    <td>品牌优先级</td>
                    <td>
                        <select class="HX8_Brand_Priorities" name="HX8_brand" onchange="change(this)"></select>
                    </td>
                </tr>
            </table>
            <a href="#" class="add_brand_Prrorities" style="color:blue" data-type="HX8">添加优先级</a>
        </div>
        <div id="SixDiv">
            <span style="color:red">优先级按选择品牌顺序</span>
            <table class="ULTRA_Brand_Content">
                <tr>
                    <td>品牌优先级</td>
                    <td>
                        <select class="ULTRA_Brand_Priorities" name="ULTRA_brand" onchange="change(this)"></select>
                    </td>
                </tr>
            </table>
            <a href="#" class="add_brand_Prrorities" style="color:blue" data-type="ULTRA">添加优先级</a>
        </div>
    </div>
</div>
<input type="hidden" value="" id="result" />
<script>
    var projectObect ;
    $(function () {
        $(".HX3_Brand_Priorities,.HX5_Brand_Priorities,.HX6_Brand_Priorities,.HX7_Brand_Priorities,.HX8_Brand_Priorities,.ULTRA_Brand_Priorities").append($("#brand").html());
        $(".tabs div").click(function () {
            var that = $(this);
            that.addClass("active").siblings().removeClass("active");
            var index = that.index();
            var dataId = that.attr("data-id");
            $(".content div").eq(index).show().siblings().hide();
        })
        $.ajax({
            type: "get",
            url: "/Baoyang/GetRecommendPriorityByProjectName?parameters=" + "jy",
            success: function (data) {
                projectObect = data;//把加载出来的数据给全局变量
                if (data != null || data != "")
                {
                    var deleteBrand = "<td><span name='addBrand-minus' class='ui-icon ui-icon-minus' style='display: inline-block; margin-left: 5px; cursor: pointer' onclick='RemovePCArea(this)'></span></td>"

                    for (var i in data) {
                        var property = data[i].Property;
                        if (data[i].Priority != "" && data[i].Priority != undefined) {
                            $("." + property + "_Brand_Content").find("select").find("option[dataTxt='" + data[i].Priority.split(',')[0] + "']'").prop("selected", true);
                            var brandhtml = $("." + property + "_Brand_Content").find("tr").eq(0).html();
                            var brandList = data[i].Priority.split(',');
                            for (var i = 1; i < brandList.length-1; i++)
                            {
                                $("." + property + "_Brand_Content").append("<tr>" + brandhtml + deleteBrand + "</tr>");
                                $("." + property + "_Brand_Content").find("select").eq(i).find("option[dataTxt='" + brandList[i] + "']'").prop("selected", true);
                            }
                        }
                    }
                }
            }
        });
    })

    $(".add_brand_Prrorities").on("click",function(){
        var s = $(this);
        var type = s.attr("data-type");
        var deleteBrand = "<td><span name='addBrand-minus' class='ui-icon ui-icon-minus' style='display: inline-block; margin-left: 5px; cursor: pointer' onclick='RemovePCArea(this)'></span></td>"
        if (type == "HX3") {
            var content = $(".HX3_Brand_Content").find("tr").eq(0).html();
            $(".HX3_Brand_Content").append("<tr>" + content + deleteBrand + "</tr>");
        }else if(type=="HX5"){
            var content = $(".HX5_Brand_Content").find("tr").eq(0).html();
            $(".HX5_Brand_Content").append("<tr>" + content + deleteBrand + "</tr>");
        } else if (type == "HX6") {
            var content = $(".HX6_Brand_Content").find("tr").eq(0).html();
            $(".HX6_Brand_Content").append("<tr>" + content + deleteBrand + "</tr>");
        } else if (type == "HX7") {
            var content = $(".HX7_Brand_Content").find("tr").eq(0).html();
            $(".HX7_Brand_Content").append("<tr>" + content + deleteBrand + "</tr>");
        } else if (type == "HX8") {
            var content = $(".HX8_Brand_Content").find("tr").eq(0).html();
            $(".HX8_Brand_Content").append("<tr>" + content + deleteBrand + "</tr>");
        } else if (type == "ULTRA") {
            var content = $(".ULTRA_Brand_Content").find("tr").eq(0).html();
            $(".ULTRA_Brand_Content").append("<tr>" + content + deleteBrand + "</tr>");
        }
    });

    function RemovePCArea(o) {
        var item = $(o);
        item.parent().parent().remove();
        change();
    }

    function change(o) {
        var shuxing = $(".tabs .active").attr("data-id");
        var isexistShuxing = false;
        if (projectObect != null && projectObect.length > 0) {
            for (var j in projectObect) {
                if (projectObect[j].Property == shuxing)
                    isexistShuxing = true;
            }
            if (isexistShuxing == true) {
                var name = shuxing + "_brand"
                var brandStr = "";
                $("select[name='" + name + "']").each(function (index) {
                    var brand = $($("[name='" + name + "']")[index]).children('option:selected').text();;
                    if (brand != "无") {
                        brandStr += brand + ",";
                    }
                });
                for (var i in projectObect) {
                    if (projectObect[i].Property == shuxing) {
                        projectObect[i].Priority = brandStr;
                    }
                }
            }
            else {
                var projectItem = {};
                projectItem.PartName = "机油";
                projectItem.Type = "Brand";
                projectItem.Property = shuxing;
                var name = shuxing + "_brand"
                var brandStr = "";
                $("select[name='" + name + "']").each(function (index) {
                    var brand = $($("[name='" + name + "']")[index]).children('option:selected').text();;
                    if (brand != "无") {
                        brandStr += brand + ",";
                    }
                });
                projectItem.Priority = brandStr;
                projectObect.push(projectItem);
            }
        } else {
            var projectItem = {};
            projectItem.PartName = "机油";
            projectItem.Type = "Brand";
            projectItem.Property = shuxing;
            var name = shuxing + "_brand"
            var brandStr = "";
            $("select[name='" + name + "']").each(function (index) {
                var brand = $($("[name='"+name+"']")[index]).children('option:selected').text();;
                if (brand !="无") {
                    brandStr += brand + ",";
                }
            });
            projectItem.Priority = brandStr;
            projectObect.push(projectItem);
        }
        console.log(projectObect);
        $("#result").val(JSON.stringify(projectObect));
    }
</script>
