@{
    ViewBag.Title = "机油品牌推荐优先级配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    <span>机油品牌推荐优先级配置</span>
    <a href="/OilViscosityConfig/OilViscosityPriorityConfig" target="_blank">机油推荐逻辑</a> 
</h2>
<link href="~/Scripts/kkpager/kkpager_blue.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/OilBrandPriority/OilBrandPriority.css" />
<link rel="stylesheet" href="~/Content/Public/Public.css" />
<div>
    <a target="_blank" href="/OilBrandPriority/OilBrandPhonePriority">1.指定手机号</a>
    <label>2.指定城市</label>
    <a target="_blank" href="/OilBrandPriority/OilBrandUserOrder">2.5 用户机油购买过的品牌推荐</a>
    <a target="_blank" href="/Baoyang/BaoYangPriorityVehicleSetting?key=oilnew&partName=机油">3.特殊车型配置</a>
    <a target="_blank" href="/Baoyang/BaoYangRecommendProductsSetIndex">4.品牌优先级排行</a>
</div>

<div id="div">
    <fieldset id="searchField">
        <label>城市:</label>
        <select id="province" onchange="ProvinceChange(this)">
            <option value=-1>-请选择省份-</option>
        </select>
        <select id="city">
            <option value=-1>-请选择城市-</option>
        </select>

        <label>品牌:</label>
        <select id="brand"></select>
        <button type="button" class="btn btn-primary" id="search" onclick="Search(1)">搜索</button>
        <button class="btn btn-add" onclick="Add()">新增</button>
    </fieldset>
    <div id="loadingData" style="display: none; width: 100%; text-align: center; border: 1px solid #eee; padding: 8px 0 8px 0">
        <img src="/Images/loading.gif" style="height: 16px" />
        <span style="vertical-align: top; margin-left: 5px;">正在光速加载中，请稍候！</span>
    </div>
    <div>
        <table class="tableContainer" id="showArea" style="display:none">
            <thead>
                <tr style="white-space: nowrap;">
                    <th>序号</th>
                    <th>城市</th>
                    <th>品牌</th>
                    <th>操作</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th onclick="WatchLog(this)">日志</th>
                </tr>
            </thead>
        </table>
    </div>
    <table class="tableContainer" style="display:none" id="Template">
        <tr>
            <td style="white-space: nowrap;">$number$</td>
            <td style="display:none;">$province$</td>
            <td style="display:none;">$city$</td>
            <td style="white-space: nowrap;">$region$</td>
            <td style="white-space: nowrap;">$brand$</td>
            <td style="white-space: nowrap;">$operate$</td>
            <td>$createDateTime$</td>
            <td>$lastUpdateDateTime$</td>
            <td style="white-space: nowrap;">$operateHistory$</td>
        </tr>
    </table>
</div>

<div style="display:none;" id="dialog-confirm" title="">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        <span class="dialog-content"></span>
    </p>
</div>

<div id="noData" style="display: none; width: 100%; text-align: center; border: 1px solid #eee; padding: 8px 0 8px 0">
    <span style="vertical-align: top; margin-left: 5px; font-weight: bolder">无数据！</span>
</div>
<div id="kkpager" colspan="8"></div>

<div style="display:none;" class="dialog" id="dialog-log" title=""></div>

<div style="display:none;" class="dialog" id="dialog-addoredit" title="">
    <div class="region">
        <div>
            <label>城市:</label>
            <select name="province" onchange="ProvinceChangeDialog(this)">
                <option value=-1>-请选择省份-</option>
            </select>
            <select name="city">
                <option value=-1>-请选择城市-</option>
            </select>
        </div>
        <div>
            <label>品牌:</label>
            <select name="brand"></select>
        </div>
    </div>
</div>

<script src="~/Scripts/OilBrandPriority/OilBrandRegionPriority.js"></script>
<script src="~/Scripts/kkpager/kkpager.min.js"></script>


