<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
    <processing-directives>
      <overwrite-existing-data>true</overwrite-existing-data>
    </processing-directives>
    <pre-processing-commands></pre-processing-commands>
    <schedule>

      <job>
        <name>UpdateUserRegistrationStatusJob</name>
        <group>DefaultJobGroup</group>
        <description>更新用户报名状态</description>
        <job-type>Tuhu.C.Job.Activity.Job.UpdateUserRegistrationStatusJob, Tuhu.C.Job.Activity</job-type>
        <durable>true</durable>
        <recover>false</recover>
      </job>
      <trigger>
        <cron>
          <name>UpdateUserRegistrationStatusJobTrigger</name>
          <group>DefaultTriggerGroup</group>
          <job-name>UpdateUserRegistrationStatusJob</job-name>
          <job-group>DefaultJobGroup</job-group>
          <cron-expression>0 0/1 * * * ?</cron-expression>
        </cron>
      </trigger>
      
    </schedule>
  </job-scheduling-data>
