@{
    ViewBag.Title = "MGMTools";
    ViewBag.PageTitle = "MGMTools";
    Layout = "../Shared/_Layout.cshtml";
}
<style type="text/css">
    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }

    .table {
        width: 100%;
        margin-top: 20px;
    }

        .table td {
            vertical-align: top;
            border: 0;
            padding: 0;
            border-right: 1px solid #e8eef4;
        }

            .table td a {
                display: block;
                border-bottom: 1px solid #e8eef4;
                padding: 5px;
                margin-right: -1px;
                margin-bottom: -1px;
            }

            .table td .ta {
                border-bottom: 1px solid #e8eef4;
                padding: 5px;
                margin-bottom: -1px;
            }

                .table td .ta a {
                    display: inline;
                    border: 0;
                    padding: 0;
                    margin: 0;
                }
</style>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a target="_blank" href="/RuntimeSwitch/Index">RuntimeSwitch</a>
                    <a target="_blank" href="https://setting.tuhu.cn/ESQuery">ESQuery</a>
                    <a target="_blank" href="/RedisCacheClear/Index">RedisCacheClear</a>
                    <a target="_blank" href="/mgmtools/SubmitServiceRequest">UTTest</a>
                    <a target="_blank" href="https://yewu.tuhu.cn/WcfTester/WcfTesterIndex">WCFTest</a>
                    <a target="_blank" href="/usermanager/LogOutUserByMobile">登出用户</a>
                    <a target="_blank" href="/usermanager/LogoffUserByMobile">注销用户</a>
                </td>
            </tr>
            @*<td><a target="_blank" href="/ProductVehicleType/Index">车品关联车型配置</a></td>*@
        </tbody>
    </table>
</div>


@*
    <script type="text/javascript">
            $("#oldtable tbody tr").each(function (i, j) {
                var $html = $(j);
                console.log($html.find("td:eq(0)").html());
            });
    </script>*@