
@{
    ViewBag.Title = "SelectPuzzle";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@section link{
    <style type="text/css">
        .item {
            float:left;
            margin-left:18px;
            margin-top:5px;
        }
    </style>
}

<div style="padding:0px;">
    <ol id="list">
       
    </ol>
</div>
<input type="hidden" id="hidData" name="hidData"/>
<script type="text/javascript">
    //$.request("moduleID")

    function pingfen4(name,res) {
        var html = ` <li class="item">
            <input type="checkbox" name ="cbitem" value="${name}" />
            
            <table>
                <tr>
                    <td>
                        <img src="${res.First.ImgUrl}" width="135" height="120" />
                    </td>
                    <td>
                        <img src="${res.Second.ImgUrl}" width="135" height="120" />
                    </td>
                    <td>
                        <img src="${res.Third.ImgUrl}" width="135" height="120" />
                    </td>
                    <td>
                        <img src="${res.Fourth.ImgUrl}" width="135" height="120" />
                    </td>
                </tr>
            </table>
             <span style="display: block;text-align: center;">开始时间: ${res.StartDateTime}</sapn>
             <span style="display: block;text-align: center;">结束时间: ${res.EndDateTime}</sapn>
        </li>`;
       // console.log(html);
        $('#list').append(html);
    }

    function pingfen22(name, res) {
        var html = `        <li class="item">
            <input type="checkbox" name="cbitem" value="${name}"  />
            <table>
                <tr>

                    <td rowspan="2">
                        <img src="${res.First.ImgUrl}" width="108" height="144" />
                    </td>
                    <td colspan="2">
                        <img src="${res.Second.ImgUrl}" width="162" height="72" />
                    </td>

                </tr>
                <tr>
                    <td>
                        <img src="${res.Third.ImgUrl}" width="81" height="72" />
                    </td>
                    <td>
                        <img src="${res.Fourth.ImgUrl}" width="81" height="72" />
                    </td>
                </tr>
            </table>
             <span style="display: block;text-align: center;">开始时间: ${res.StartDateTime}</sapn>
             <span style="display: block;text-align: center;">结束时间: ${res.EndDateTime}</sapn>
        </li>
`;
        $('#list').append(html);

    }

    function pingfen121(name, res) {
        var html = ` <li class="item">
            <input type="checkbox" name="cbitem" value="${name}" />
            <table>
                <tr>
                    <td>
                        <img src="${res.First.ImgUrl}" width="135px" height="120px" />
                    </td>
                    <td colspan="2">
                        <img src="${res.Second.ImgUrl}" width="270px" height="120px" />
                    </td>
                    <td>
                        <img src="${res.Third.ImgUrl}" width="135px" height="120px" />
                    </td>

                </tr>

            </table>
             <span style="display: block;text-align: center;">开始时间: ${res.StartDateTime}</sapn>
             <span style="display: block;text-align: center;">结束时间: ${res.EndDateTime}</sapn>
        </li>`;
        $('#list').append(html);
    }

    function pingfen333(name, res) {
        var html = `  <li class="item">
            <input type="checkbox" name="cbitem" value="${name}" />
            <table>
                <tr>
                    <td rowspan="2">
                        <img src="${res.First.ImgUrl}" width="54px" height="72px" />
                    </td>
                    <td>
                        <img src="${res.Second.ImgUrl}" width="81px" height="36px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="${res.Third.ImgUrl}" width="81px" height="36px" />
                    </td>
                </tr>

            </table>
             <span style="display: block;text-align: center;">开始时间: ${res.StartDateTime}</sapn>
             <span style="display: block;text-align: center;">结束时间: ${res.EndDateTime}</sapn>
        </li>`;
        $('#list').append(html);
    }

    function pingfen6(name, res) {
        var html = ` <li class="item">
            <input type="checkbox" name="cbitem" value="${name}" />
            <table>
                <tr>
                    <td>
                        <img src="${res.First.ImgUrl}" width="90" height="108" />
                    </td>
                    <td>
                        <img src="${res.Second.ImgUrl}" width="90" height="108" />
                    </td>
                    <td>
                        <img src="${res.Third.ImgUrl}" width="90" height="108" />
                    </td>
                </tr>
            </table>
             <span style="display: block;text-align: center;">开始时间: ${res.StartDateTime}</sapn>
             <span style="display: block;text-align: center;">结束时间: ${res.EndDateTime}</sapn>
        </li>`;
        $('#list').append(html);
    }

    function init() {
        $.ajax({
            type: 'post',
            url: '/HomePageConfigV2/GetHomePageContentPuzzleList',
            data: {
                moduleID: $.request("moduleID"),
                moduleHelperID: $.request("moduleHelperID")
            }
        }).done(function (result) {
            result = JSON.parse(result);
            if (result.Code == 1) {
                $('#list').find('input[name="cbitem"]').each(function () {
                    var value = $(this).val();
                    for (var item in result.list) {
                        if (value == result.list[item].GroupID) {
                            $(this).attr("checked", "checked");
                            break;
                        }
                    }
                });
            }
        })
    }

    $(function () {
        $('#list').empty();
        $.ajax({
            type: 'post',
            url: '/HomePageConfigV2/GetPuzzleJson',
            data: {
                moduleID: $.request("moduleID"),
                moduleHelperID: $.request("moduleHelperID")
            },
            dataType:"json"
        }).then(function (result) {
          
            $('#hidData').val(JSON.stringify(result));
            //result = JSON.parse(result);
            //console.log(result);
            var type = 0;
          
            if (result.Code == 0) {
                alert(result.Msg);
                return;
            } else {

                for (var p in result) {
                    type = result[p].Type;
                    break;
                }
            }

            if (type == 1) {
                for (var p in result) {
                    pingfen4(p, result[p]);
                }
            }

            if (type == 4) {
                
                for (var p in result) {
                    pingfen22(p, result[p]);
                }
            }
            if (type == 2) {
                for (var p in result) {
                    pingfen121(p, result[p]);
                }
            }

            if (type == 5) {
                for (var p in result) {
                    pingfen333(p, result[p]);
                }
            }
           
            if (type == 3) {
                for (var p in result) {
                    pingfen6(p, result[p]);
                }
            }

            init();
        })
    })

</script>

