@{
    ViewBag.Title = "保养活动特殊地区配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    fieldset {
        height: auto;
        margin: 0px 0px 15px 0px;
        padding: 15px 20px;
    }

        fieldset > label {
            display: inline-block;
            height: 30px;
            max-width: 100%;
            font-weight: bold;
            margin-left: 10px;
        }

    .ms-drop ul > li.multiple {
        margin-left: 30px;
    }
</style>

<h2>保养活动特殊地区配置</h2>
<link href="~/Scripts/kkpager/kkpager_blue.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Scripts/multiple/multiple-select.css" />
<link href="~/Content/Public/Public.css" rel="stylesheet" type="text/css" />
<link href="~/Content/BaoYangActivitySetting/Vue.css" rel="stylesheet" />

<div>
    <a target="_blank" href="/BaoYangActivitySetting/Index">1.保养活动配置</a>
    <a target="_blank" href="/BaoYangActivitySetting/BaoYangActivityVehicle"/>2.特殊车型配置</a>
    <label>3.特殊地区配置</label>
</div>

<div id="div">
    <fieldset>
        <label>城市:</label>
        <select style="width:900px;" id="region" data-placeholder="请选择地区" multiple="multiple"></select>
        <button class="btn btn-primary" v-on:click="Search(1)">查询</button>
        <button style="float:right;margin:5px 5px;" class="btn btn-primary" v-on:click="OpenMultEditDialog()">批量编辑</button>
        <button style="float:right;margin:5px 5px;" class="btn btn-danger" v-on:click="multDeleteDialog.show=true">批量删除</button>
    </fieldset>
    <table class="tableContainer">
        <thead>
            <tr>
                <th><input type="checkbox" v-model="checkAllFlag" v-on:click="CheckAll()" />全选</th>
                <th>城市</th>
                <th>活动ID</th>
                <th>活动名称</th>
                <th>操作</th>
                <th>日志</th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="loading">
                <td colspan="10"><img src="~/Images/loading.gif" /></td>
            </tr>
            <tr v-else-if="SearchResult.length > 0" v-for="(item,index) in SearchResult">
                <td>
                    <input type="checkbox" v-model="multEditModel.regionIds" v-bind:value="item.RegionId" />{{index+1+(pager.pageIndex-1)* pager.pageSize}}
                </td>
                <td>{{item.ProvinceName}}-{{item.CityName}}</td>
                <td>{{item.ActivityId}}</td>
                <td>{{item.ActivityName}}</td>
                <td>
                    <button class="btn btn-primary" v-on:click="OpenEditDialog(item)">编辑</button>
                    <button class="btn btn-danger" style="margin-left:5px;" v-on:click="Delete(item)">删除</button>
                </td>
                <td><button class="btn btn-primary" v-on:click="WatchHistroy(item)">查看</button></td>
            </tr>
            <tr v-else>
                <td colspan="10">根据筛选条件未能查询到相关结果</td>
            </tr>
        </tbody>
    </table>
    <div id="kkpager" colspan="12"></div>
    <div>
        <div class="content">
            <modal v-if="editDialog.show" v-on:close="editDialog.show=false">
                <h3 slot="header">编辑</h3>
                <div slot="body" class="dialog">
                    <table>
                        <tr>
                            <th>城市:</th>
                            <td>
                                <label>{{regionViewModel.ProvinceName}}-{{regionViewModel.CityName}}</label>
                            </td>
                        </tr>
                        <tr>
                            <th>活动Id：</th>
                            <td>
                                <input type="text" style="width:90%;" v-model="multEditModel.activityId" />
                            </td>
                        </tr>
                        <tr>
                            <th>活动名称:</th>
                            <td>
                                <label>{{multEditModel.activityName}}</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div slot="footer">
                    <button class="footBtn" v-on:click="closeEditDialog()">取消</button>
                    <button class="footBtn" v-on:click="Edit()">确认</button>
                </div>
            </modal>
        </div>
        <div class="content">
            <modal v-if="multEditDialog.show" v-on:close="multEditDialog.show=false">
                <h3 slot="header">批量编辑</h3>
                <div slot="body" class="dialog">
                    <table>
                        <tr>
                            <th>活动Id：</th>
                            <td>
                                <input type="text" style="width:90%;" v-model="multEditModel.activityId" />
                            </td>
                        </tr>
                        <tr>
                            <th>活动名称:</th>
                            <td>
                                <label>{{multEditModel.activityName}}</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div slot="footer">
                    <button class="footBtn" v-on:click="multEditDialog.show=false">取消</button>
                    <button class="footBtn" v-on:click="MultEdit()">确认</button>
                </div>
            </modal>
        </div>
        <div class="content">
            <modal v-if="multDeleteDialog.show" v-on:close="multDeleteDialog.show=false">
                <h3 slot="header">批量删除</h3>
                <div slot="body" class="dialog">
                    <table>
                        <tr>
                            <td>
                                <label>您确认删除这些活动配置数据吗?</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div slot="footer">
                    <button class="footBtn" v-on:click="multDeleteDialog.show=false">取消</button>
                    <button class="footBtn" v-on:click="MultDelete()">确认</button>
                </div>
            </modal>
        </div>
        <div class="content">
            <modal v-if="showLog.show" v-on:close="multDeleteDialog.show=false">
                <h3 slot="header">日志详情</h3>
                <div slot="body" style="height:600px;" class="dialog">
                    <table>
                        <thead>
                            <tr>
                                <th>操作类型</th>
                                <th>操作人</th>
                                <th>时间</th>
                                <th>操作前活动Id</th>
                                <th>操作后活动Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-show="showLog.logs.length>0" v-for="log in showLog.logs">
                                <td>{{log.Remarks}}</td>
                                <td>{{log.OperateUser}}</td>
                                <td>{{log.CreateTime | DatePrase}}</td>
                                <td style="color:green;">{{log.OldValue | GetLogActivity}}</td>
                                <td style="color:red;">{{log.NewValue | GetLogActivity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div slot="footer">
                    <button class="footBtn" v-on:click="showLog.show=false">关闭</button>
                </div>
            </modal>
        </div>
    </div>
</div>
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header"></slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>
                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="modal-default-button" v-on:click="">OK</button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>
<script src="~/Scripts/vue.min.js"></script>
<script src="~/Scripts/kkpager/kkpager.min.js"></script>
<script src="~/Scripts/multiple/multiple-select.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#region").multipleSelect({
            filter: true,
            multiple: true,
            multipleWidth: 150,
            width: 900,
            maxHeight: 500,
            noneSelectedText: "选择城市",
            selectAllText: "全选",
            allSelected: "已全选",
            noMatchesFound: "无地区数据",
            minimumCountSelected: 1000
        });
    });
    function DatePrase(value) {
        if (value) {
            return eval('new ' + eval(value).source).Format('yyyy-MM-dd hh:mm:ss');
        }
    };
    function GetLogActivity(value) {
        var activityId = "";
        if (value) {
            var valObj = /^\s*$/.test(value) ? null : JSON.parse(value);
            if (valObj) {
                activityId = valObj.ActivityId || "";
            }
        }
        return activityId
    };
    Vue.filter('DatePrase', DatePrase);
    Vue.filter('GetLogActivity', GetLogActivity);
    Vue.component('modal', {
        template: '#modal-template'
    });
    var vue = new Vue({
        el: "#div",
        data: {
            regionViewModel: {
                PKID: 0,
                ProvinceName: "",
                CityName: "",
                RegionId: 0,
                ActivityId: "",
                ActivityName: ""
            },
            multEditModel: {
                regionIds: [],
                activityId: "",
                activityName: ""
            },
            pager: {
                pageIndex: 1,
                pageSize: 20,
                totalPage: 0,
                totalCount: 0
            },
            loading: false,
            SearchResult: [],
            checkAllFlag: false,
            editDialog: {
                show: false
            },
            multEditDialog: {
                show: false
            },
            multDeleteDialog: {
                show: false
            },
            showLog: {
                show: false,
                logs: [],
            },
            logDetail: {
                show: false,
                oldValue: [],
                newValue: []
            }
        },
        created: function () {
            var self = this;
            self.GetAllRegion();
        },
        watch: {
            "pager.pageIndex": function () {
                var self = this;
                self.Search(self.pager.pageIndex);
            },
            "multEditModel.activityId": function () {
                var self = this;
                self.GetBaoYangActivityName();
            },
            "multEditModel.regionIds": function () {
                var self = this;
                if (self.multEditModel.regionIds.length == self.SearchResult.length && self.multEditModel.regionIds.length > 0) {
                    self.checkAllFlag = true;
                }
                else {
                    self.checkAllFlag = false;
                }
            }
        },
        methods: {
            GetAllRegion: function () {
                $.post("GetAllRegion", function (result) {
                    $("#region").empty();
                    var html = '';
                    if (result && result.Status && result.Data && result.Data.length > 0) {
                        for (var i = 0; i < result.Data.length; i++) {
                            html += '<optgroup label="' +
                                result.Data[i].RegionName +
                                '">'
                            var childRegion = result.Data[i].ChildRegions;
                            if (childRegion && childRegion.length > 0) {
                                for (var j = 0; j < childRegion.length; j++) {
                                    html += '<option value="' +
                                        childRegion[j].RegionId +
                                        '">' +
                                        childRegion[j].RegionName +
                                        '</option>';
                                }
                            }
                            else {
                                html += '<option value="' +
                                    result.Data[i].RegionId +
                                    '">' +
                                    result.Data[i].RegionName +
                                    '</option>';
                            }
                            html += '</optgroup>';
                        }

                    }
                    else {
                        html = '<option value=-1>-无地区数据-</option>';
                    }
                    $("#region").append(html);
                    $("#region").multipleSelect("refresh")
                });
            },
            Search: function (pageIndex) {
                var self = this;
                var regionIds = $("#region").multipleSelect("getSelects");
                if (!(regionIds && regionIds.length > 0)) {
                    alert("请选择城市");
                    return;
                }
                self.multEditModel.regionIds = [];
                self.multEditModel.activityId = "";
                self.multEditModel.activityName = "";
                self.pager.pageIndex = pageIndex;
                self.loading = true;
                $.post("SelectBaoYangActivityRegion", { regionIds: regionIds, pageIndex: self.pager.pageIndex, pageSize: self.pager.pageSize }, function (result) {
                    if (result.Status) {
                        self.SearchResult = result.Data;
                        self.pager.totalCount = result.TotalCount;
                        self.pager.totalPage = result.TotalPage;
                    }
                    else {
                        alert("查询失败" + (result.Msg || ""));
                        self.SearchResult = [];
                        self.pager.totalPage = 0;
                        self.pager.totalCount = 0;
                        self.pager.pageIndex = 1;
                    }
                    self.loading = false;
                    kkpager.generPageHtml({
                        pno: self.pager.pageIndex,
                        mode: 'click',
                        total: self.pager.totalPage,
                        totalRecords: self.pager.totalCount,
                        click: function (n) {
                            self.pager.pageIndex = n;
                        },
                        getHref: function (n) {
                            return 'javascript:void(0);';
                        }
                    }, true);
                });
            },
            CheckAll: function () {
                var self = this;
                self.multEditModel.regionIds = [];
                if (self.checkAllFlag) {
                    self.SearchResult.forEach(function (item) {
                        self.multEditModel.regionIds.push(item.RegionId);
                    });
                }
            },
            OpenEditDialog: function (item) {
                var self = this;
                self.multEditModel.regionIds = new Array();
                self.multEditModel.regionIds.push(item.RegionId);
                self.multEditModel.activityId = item.ActivityId;
                self.multEditModel.activityName = item.ActivityName;

                self.regionViewModel.ProvinceName = item.ProvinceName;
                self.regionViewModel.CityName = item.CityName;
                self.regionViewModel.RegionId = item.RegionId;
                self.regionViewModel.ActivityId = item.ActivityId;
                self.regionViewModel.ActivityName = item.ActivityName;
                self.editDialog.show = true;
            },
            OpenMultEditDialog: function () {
                var self = this;
                self.multEditModel.activityId = "";
                self.multEditModel.ActivityName = "";
                self.multEditDialog.show = true;
            },
            closeEditDialog: function () {
                var self = this;
                self.multEditModel.regionIds = [];
                self.multEditModel.activityId = "";
                self.editDialog.show = false;
            },
            Edit: function () {
                var self = this;
                var model = self.multEditModel;
                if (!confirm("是否确认更新活动配置数据 ? ")) {
                    return;
                }
                if (model.regionIds.length < 1) {
                    return;
                }
                if (!(model.activityId)) {
                    alert("活动Id不能为空");
                    return;
                }
                if (!(model.activityName)) {
                    alert("没有活动Id对应的活动");
                    return;
                }
                $.post("MultiAddOrEditBaoYangActivityRegion", { regionIds: model.regionIds, activityId: model.activityId }, function (data) {
                    if (data && data.Status) {
                        alert("更新成功!" + (data.Msg || ""));
                        self.closeEditDialog();
                        self.Search(self.pager.pageIndex);
                    }
                    else {
                        alert("更新失败!" + (data.Msg||""));
                    }
                });
            },
            MultEdit: function () {
                var self = this;
                var model = self.multEditModel;
                if (!confirm("确认更新这些地区的活动配置")) {
                    return;
                }
                if (model.regionIds.length < 1) {
                    alert("未选中任何记录");
                    return;
                }
                if (!(model.activityId)) {
                    alert("活动Id不能为空");
                    return;
                }
                if (!(model.activityName)) {
                    alert("没有活动Id对应的活动");
                    return;
                }
                $.post("MultiAddOrEditBaoYangActivityRegion", { regionIds: model.regionIds, activityId: model.activityId }, function (data) {
                    if (data && data.Status) {
                        alert("批量更新成功!" + (data.Msg || ""));
                        self.multEditDialog.show = false;
                        self.Search(self.pager.pageIndex);
                    }
                    else {
                        alert("批量更新失败!" + data.Msg);
                    }
                });
            },
            Delete: function (item) {
                var self = this;
                if (!confirm("确认删除 " + item.CityName + " 的活动配置?")) {
                    return;
                }
                if (item.RegionId < 1) {
                    return;
                }
                var regionIds = new Array();
                regionIds.push(item.RegionId);
                $.post("MultDeleteBaoYangActivityRegion", { regionIds: regionIds }, function (data) {
                    if (data && data.Status) {
                        alert("删除成功!" + (data.Msg||""));
                        self.Search(self.pager.pageIndex);
                    }
                    else {
                        alert("删除失败!" + (data.Msg || ""));
                    }
                });
            },
            MultDelete: function () {
                var self = this;
                var model = self.multEditModel;
                if (model.regionIds.length < 1) {
                    alert("未选中任何记录");
                    return;
                }
                $.post("MultDeleteBaoYangActivityRegion", { regionIds: model.regionIds }, function (data) {
                    if (data && data.Status) {
                        alert("批量删除成功!" + (data.Msg || ""));
                        self.multDeleteDialog.show = false;
                        self.Search(self.pager.pageIndex);
                    }
                    else {
                        alert("批量删除失败!" + (data.Msg || ""));
                    }
                });
            },
            GetBaoYangActivityName() {
                var self = this;
                var activityId = self.multEditModel.activityId;
                if (activityId) {
                    $.post("GetBaoYangActivityNameByActivityId", { activityId: activityId }, function (data) {
                        if (data && data.Status) {
                            self.multEditModel.activityName = data.Data;
                        }
                        else {
                            self.multEditModel.activityName = "";
                        }
                    });
                }
                else {
                    self.multEditModel.activityName = "";
                }
            },
            WatchHistroy(item) {
                var self = this;
                var identityId = item.RegionId;
                var type = "BaoYangActivityRegion";
                $.post("GetBaoYangOprLogByIdentityIdAndType", { identityId: identityId, type: type }, function (data) {
                    if (data && data.Status) {
                        self.showLog.logs = data.Data;
                        self.showLog.show = true;
                    }
                    else {
                        alert("查看日志失败!" + (data.Msg || ""));
                    }
                });
            }
        }
    })
</script>
