@{
    Layout = null;
}

<ul class="dropdown-menu" role="menu" id="ddl-cor-evento">
    <li><a href="#" class="None">请选择</a></li>
    <li><a href="#" class="ZongHe">综合</a></li>
    <li><a href="#" class="ChePin">车品</a></li>
    <li><a href="#" class="BaoYang">保养</a></li>
    <li><a href="#" class="Tires">轮胎</a></li>
    <li><a href="#" class="GaiZhuang">美容改装</a></li>
    @*<li><a href="#" class="OutSide">外部投放</a></li>*@
</ul>