
@{
    ViewBag.Title = "Logger";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style type="text/css">
    .formName {
        width: 97px;
    /* margin-left: 9px; */
    padding-left: 20px;
    font-size: 1.59rem;
    }

    .formValue {
    }
</style>
<center><h1>日志详情</h1></center> 
<form id="form1">
    <table class="form">
        <tr>
            <td class="formName">
                日志编号:
            </td>
            <td class="formValue">
                <input type="text" id="PKID" name="PKID" class="form-control" disabled="disabled" />
            </td>
            <td class="formName">
                操作时间:
            </td>
            <td class="formValue">
                <input type="text" id="ChangeDatetime" name="ChangeDatetime" class="form-control"  disabled="disabled" />
            </td>
        </tr>
        <tr>
            <td class="formName">
                修改人:
            </td>
            <td class="formValue">
                <input type="text" id="Author" name="Author" disabled="disabled" class="form-control"  />
            </td>
            <td class="formName">
                操作方式:
            </td>
            <td class="formValue">
                <input type="text" id="Operation" name="Operation" disabled="disabled"  class="form-control"  />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; font-size: 1.70rem;" >修改前</td>
            <td colspan="2"  style="text-align: center; font-size: 1.70rem;">修改后</td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea id="BeforeValue" name="BeforeValue" class="form-control" style="height:900px;" disabled="disabled">

                </textarea>
            </td>
            <td colspan="2">
                <textarea id="AfterValue" name="AfterValue" class="form-control" style="height:900px;" disabled="disabled">

                </textarea>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript" src="~/Scripts/inone.js"></script>
<script type="text/javascript">

    $(function () {
      //  document.title = decodeURI( $.request("title"));
        $.ajax({
            url: "/Activity/ActivityUnity/GetMessageLoggerJson",
            data: {
                id: $.request("id")
            },
            dataType: "json",
            success: function (res) {
                if (res) {
                    document.title = res.Operation;
                    $("#form1").formSerialize(res);
                    if ($("#BeforeValue").val()) {
                        var json = jsl.format.formatJson($('#BeforeValue').val());
                        $('#BeforeValue').val(json);
                    }

                    if ($("#AfterValue").val()) {
                        var json = jsl.format.formatJson($('#AfterValue').val());
                        $('#AfterValue').val(json);
                    }
                }
            }
        });
    });

</script>
