<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section name="couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
        <section name="zookeeper" type="Tuhu.ZooKeeper.ZooKeeperClientSection, Tuhu.ZooKeeper" />
        <section name="rabbitmq" type="Tuhu.MessageQueue.RabbitMQSection, Tuhu.MessageQueue" />
    </configSections>
    <zookeeper sessionTimeOut="30000" server="172.16.20.1" masterSlavePath="/MasterSlave/Service" />
    <rabbitmq hostName="172.16.20.1" userName="test" password="itsme999" virtualHost="/dev" />
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
                <!--<arg key="configType" value="INLINE" />-->
                <arg key="configType" value="FILE-WATCH" />
                <arg key="configFile" value="~/log4net.config" />
                <!--<arg key="configFile" value="~/Site.config" />-->
            </factoryAdapter>
        </logging>
    </common>
    <appSettings>
        <add key="CrystalQuartzUrl" value="http://*:5678" />
        <add key="RemoteName" value="ActivityJob" />
        <add key="MaxSendNum" value="2000" />
        <!--App 推送-->
        <add key="UmAndroidappkey" value="" />
        <add key="UmAndroidapp_master_secret" value="" />
        <add key="UmiOSappkey" value="" />
        <add key="UmiOSapp_master_secret" value="" />
        <add key="UM:ReceiptType" value="3" />
        <!--塞券消息通知-->
        <add key="Promotion:Title" value="【途虎养车】" />
        <add key="Promotion:Content" value="一张途虎优惠券已发送至您的账户，请在有效期内点击使用。" />
        <add key="Promotion:Description" value="优惠券发送通知推送" />
        <!--OnlyDevelop-->
        <add key="Env" value="test" />
        <add key="RunJob" value="true" />
        <add key="StandAlone" value="true" />
        <add key="ShopGateway" value="http://172.16.20.89:82" />
        <!--App 广播环境 false:test; true:production -->
        <add key="UM:BroadcastSwitch" value="false" />
        <add key="UM:ReceiptUrl" value="http://open.api.tuhu.work/um/GetMessageReceipt" />
        <!--DevelopOnly-->
        <!--OnlyProduction
		<add key="StandAlone" value="false" />
        <add key="Env" value="pro" />
        <add key="RunJob" value ="true" />
        <add key="ShopGateway" value="http://shop-gateway.ad.tuhu.cn:9010" />
        <add key="UM:BroadcastSwitch" value="true" />
        <add key="UM:ReceiptUrl" value="http://open.api.tuhu.cn/um/GetMessageReceipt" />
		ProductionOnly-->
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <connectionStrings>
        <add name="Elasticsearch" connectionString="http://172.16.20.1:9200" providerName="Nest.ElasticClient" />
        <add name="Elasticsearch-Log" connectionString="http://172.16.20.1:19200" providerName="Nest.ElasticClient" />
        <add name="Cache" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_log;Persist Security Info=True;User ID=LogUser;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Gungnir" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Gungnir_ReadOnly" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="ThirdParty" connectionString="User ID=APPUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_thirdparty;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
        <add name="ThirdPartyReadOnly" connectionString="User ID=APPUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_thirdparty;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" from="途虎养车网 &lt;servicesender@tuhu.cn&gt;">
                <network host="smtp.exmail.qq.com" userName="servicesender@tuhu.cn" password="Lushanshenglong8" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                    <security mode="None" />
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                    <security mode="None" />
                </binding>
                <binding name="ProductCacheServiceBehavior" maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:30:00" sendTimeout="00:30:00">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <extensions>
            <behaviorExtensions>
                <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
            </behaviorExtensions>
        </extensions>
        <behaviors>
            <endpointBehaviors>
                <behavior>
                    <tuhuEndPointBehavior />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/ActivityPage/ActivityPageCache.svc" contract="Tuhu.Service.ActivityPage.IActivityPageCacheClient" name="Tuhu.Service.ActivityPage.IActivityPageCacheClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Config/Config.svc" contract="Tuhu.Service.Config.IConfigClient" name="Tuhu.Service.Config.IConfigClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/ProductQuery/ProductQueryCache.svc" contract="Tuhu.Service.ProductQuery.IProductQueryCacheClient" name="Tuhu.Service.ProductQuery.IProductQueryCacheClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/ProductQuery/ProductInfoQuery.svc" contract="Tuhu.Service.ProductQuery.IProductInfoQueryClient" name="Tuhu.Service.ProductQuery.IProductInfoQueryClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Product/Cache.svc" contract="Tuhu.Service.Product.ICacheClient" name="Tuhu.Service.Product.ICacheClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Product/Product.svc" contract="Tuhu.Service.Product.IProductClient" name="Tuhu.Service.Product.IProductClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Product/ShopProduct.svc" contract="Tuhu.Service.Product.IShopProductClient" name="Tuhu.Service.Product.IShopProductClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Order/OrderQuery.svc" contract="Tuhu.Service.Order.IOrderQueryClient" name="Tuhu.Service.Order.IOrderQueryClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Utility/Sms.svc" contract="Tuhu.Service.Utility.ISmsClient" name="Tuhu.Service.Utility.ISmsClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/ZeusActivity/MoveCar.svc" contract="Tuhu.Service.ZeusActivity.IMoveCarClient" name="Tuhu.Service.ZeusActivity.IMoveCarClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Push/pushtemplate.svc" contract="Tuhu.Service.Push.ITemplatePushClient" name="Tuhu.Service.Push.ITemplatePushClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Pay/Pay.svc"  contract="Tuhu.Service.Pay.IPayClient" name="Tuhu.Service.Pay.IPayClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/ConfigBase/ConfigBase.svc" contract="Tuhu.Service.ConfigBase.IConfigBaseClient" name="Tuhu.Service.ConfigBase.IConfigBaseClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/ThirdParty/WeiXinService.svc" contract="Tuhu.Service.ThirdParty.IWeiXinServiceClient" name="Tuhu.Service.ThirdParty.IWeiXinServiceClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/PinTuan/PinTuan.svc" contract="Tuhu.Service.PinTuan.IPinTuanClient" name="Tuhu.Service.PinTuan.IPinTuanClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/CashBackActivity/CarveupPoint.svc" contract="Tuhu.Service.CashBackActivity.ICarveupPointClient" name="Tuhu.Service.CashBackActivity.ICarveupPointClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/EmailProcess/EmailProcessOperation.svc" contract="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" name="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/LotteryDrawActivity/BigBrandActivityAsync.svc" contract="Tuhu.Service.LotteryDrawActivity.IBigBrandActivityAsyncClient" name="Tuhu.Service.LotteryDrawActivity.IBigBrandActivityAsyncClient" />
            <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/LotteryDrawActivity/RedEnvelopeRain.svc" contract="Tuhu.Service.LotteryDrawActivity.IRedEnvelopeRainClient" name="Tuhu.Service.LotteryDrawActivity.IRedEnvelopeRainClient" />
        </client>
    </system.serviceModel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
                <codeBase version="1.2.10.0" href="log4net.old.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.MessageQueue" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Product" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.0.23" newVersion="1.6.0.23" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Order" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.7.16" newVersion="3.1.7.16" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>
