<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
    <processing-directives>
        <overwrite-existing-data>true</overwrite-existing-data>
    </processing-directives>
    <schedule>
        <job>
            <name>ActivityKeywordJob</name>
            <group>CacheJobGroup</group>
            <description>活动页关键字搜索数据初始化刷新 每天刷新一次</description>
            <job-type>Tuhu.C.ActivityJob.Job.ActivityPage.ActivityKeywordJob, Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>ActivityKeywordJobTrigger</name>
                <group>CacheTriggerGroup</group>
                <job-name>ActivityKeywordJob</job-name>
                <job-group>CacheJobGroup</job-group>
                <cron-expression>0 0 1 * * ?</cron-expression>
            </cron>
        </trigger>
        <job>
            <name>ActivityKeywordJob</name>
            <group>CacheJobGroup</group>
            <description>活动页关键字搜索数据初始化刷新 每天刷新一次</description>
            <job-type>Tuhu.C.ActivityJob.Job.ActivityPage.ActivityKeywordJob, Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>ActivityKeywordJobTrigger</name>
                <group>CacheTriggerGroup</group>
                <job-name>ActivityKeywordJob</job-name>
                <job-group>CacheJobGroup</job-group>
                <cron-expression>0 0 1 * * ?</cron-expression>
            </cron>
        </trigger>

        <job>
            <name>MoveCarRepairHistoricalDataJob</name>
            <group>MoveCar</group>
            <description>途虎挪车 - 挪车贴发放渠道追踪历史数据修复JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.MoveCar.MoveCarRepairHistoricalDataJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>

        <job>
            <name>RebateRepairHistoricalDataJob</name>
            <group>Rebate</group>
            <description>朋友圈返现 - 16元返现车品订单历史数据关联安装门店JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.Rebate.RebateRepairHistoricalDataJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>

        <job>
            <name>ZeroActivityMessageJob</name>
            <group>ZeroActivity</group>
            <description>众测填写试用报告短信提醒</description>
            <job-type>Tuhu.C.ActivityJob.Job.ZeroActivity.ZeroActivityMessageJob, Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>ZeroActivityMessageJobTrigger</name>
                <group>ZeroActivity</group>
                <job-name>ZeroActivityMessageJob</job-name>
                <job-group>ZeroActivity</job-group>
                <cron-expression>0 0 15 * * ?</cron-expression>
            </cron>
        </trigger>

        <job>
            <name>OrderCashBackFailPushJob</name>
            <group>OrderCashBack</group>
            <description>订单返现助力失败推送</description>
            <job-type>Tuhu.C.ActivityJob.Job.OrderCashBack.OrderCashBackFailPushJob, Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>OrderCashBackFailPushJobTrigger</name>
                <group>OrderCashBack</group>
                <job-name>OrderCashBackFailPushJob</job-name>
                <job-group>OrderCashBack</job-group>
                <cron-expression>0 0 * * * ?</cron-expression>
            </cron>
        </trigger>

        <job>
            <name>MoveCarGenerateQRCodeJob</name>
            <group>MoveCar</group>
            <description>途虎挪车 - 批量生成途虎挪车二维码JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.MoveCar.MoveCarGenerateQRCodeJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>MoveCarGenerateQRCodeJobTrigger</name>
                <group>MoveCar</group>
                <job-name>MoveCarGenerateQRCodeJob</job-name>
                <job-group>MoveCar</job-group>
                <cron-expression>0 0 0 * * ? </cron-expression>
            </cron>
        </trigger>

        <job>
            <name>RebateUpdateActivityIdJob</name>
            <group>Rebate</group>
            <description>朋友圈返现 - 返现申请数据关联活动ID JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.Rebate.RebateUpdateActivityIdJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>

        <job>
            <name>ProductGroupCountSyncJob</name>
            <group>GroupBuying</group>
            <description>拼团 - 同步拼团已开和限开团数JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.GroupBuying.ProductGroupCountSyncJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>

        <job>
            <name>RebateUpdateStatusJob</name>
            <group>Rebate</group>
            <description>朋友圈返现 - 支付状态为1或者2的返现数据的审核状态更新为已支付 JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.Rebate.RebateUpdateStatusJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>RebateUpdateStatusJobTrigger</name>
                <group>Rebate</group>
                <job-name>RebateUpdateStatusJob</job-name>
                <job-group>Rebate</job-group>
                <cron-expression>0 0 0 * * ? </cron-expression>
            </cron>
        </trigger>

        <job>
            <name>UserLocationMonitorSyncJob</name>
            <group>Monitor</group>
            <description>防刷监控 - 用户区域监控同步 JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.Monitor.UserLocationMonitorSyncJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>UserLocationMonitorSyncJobTrigger</name>
                <group>Monitor</group>
                <job-name>UserLocationMonitorSyncJob</job-name>
                <job-group>Monitor</job-group>
                <cron-expression>0 0 0/1 * * ?</cron-expression>
            </cron>
        </trigger>

        <job>
            <name>WechatServiceNumberChatLogJob</name>
            <group>WeChatServiceNumber</group>
            <description>微信服务号 - 导入微信服务号聊天记录JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.WeChatServiceNumber.WechatServiceNumberChatLogJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>WechatServiceNumberChatLogJobTrigger</name>
                <group>WeChatServiceNumber</group>
                <job-name>WechatServiceNumberChatLogJob</job-name>
                <job-group>WeChatServiceNumber</job-group>
                <cron-expression>0 0 1 * * ?</cron-expression>
            </cron>
        </trigger>

        <job>
            <name>WechatServiceHistoricalChatLogJob</name>
            <group>WeChatServiceNumber</group>
            <description>微信服务号 - 拉取微信服务号历史聊天记录JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.WeChatServiceNumber.WechatServiceHistoricalChatLogJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>

        <job>
            <name>GroupBuyingProductSyncJob</name>
            <group>GroupBuying</group>
            <description>拼团 - 同步拼团产品ES数据JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.GroupBuying.GroupBuyingProductSyncJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>

        <job>
            <name>CarveupPointGroupExpireJob</name>
            <group>CarveupPoint</group>
            <description>瓜分积分 - 过期瓜分积分活动JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.CarveupPoint.CarveupPointGroupExpireJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>CarveupPointGroupExpireJobTrigger</name>
                <group>CarveupPoint</group>
                <job-name>CarveupPointGroupExpireJob</job-name>
                <job-group>CarveupPoint</job-group>
                <cron-expression>0 0 0 * * ?</cron-expression>
            </cron>
        </trigger>

        <job>
            <name>NextDayEmailReminderJob</name>
            <group>SalePromotion</group>
            <description>次日上线促销活动增加邮件提醒 JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.SalePromotion.NextDayEmailReminderJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>NextDayEmailReminderJobTrigger</name>
                <group>SalePromotion</group>
                <job-name>NextDayEmailReminderJob</job-name>
                <job-group>SalePromotion</job-group>
                <cron-expression>0 30 16 * * ?</cron-expression>
            </cron>
        </trigger>

        <job>
            <name>RebateApplyTechIdSyncJob</name>
            <group>Rebate</group>
            <description>朋友圈返现 - 返现申请同步技师ID JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.Rebate.RebateApplyTechIdSyncJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>RebateApplyTechIdSyncJobTrigger</name>
                <group>Rebate</group>
                <job-name>RebateApplyTechIdSyncJob</job-name>
                <job-group>Rebate</job-group>
                <cron-expression>0 0 23 * * ?</cron-expression>
            </cron>
        </trigger>

        <job>
            <name>RebateApplyTechIdSyncAllJob</name>
            <group>Rebate</group>
            <description>朋友圈返现 - 返现申请同步技师ID（全量） JOB</description>
            <job-type>Tuhu.C.ActivityJob.Job.Rebate.RebateApplyTechIdSyncAllJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>

        <job>
            <name>BigBrandGrandPrizeEmailPushJob</name>
            <group>BigBrand</group>
            <description>大翻盘中大奖信息邮件推送job</description>
            <job-type>Tuhu.C.ActivityJob.Job.BigBrand.BigBrandGrandPrizeEmailPushJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>BigBrandGrandPrizeEmailPushJobTrigger</name>
                <group>BigBrand</group>
                <job-name>BigBrandGrandPrizeEmailPushJob</job-name>
                <job-group>BigBrand</job-group>
                <cron-expression>0 0 9 * * ?</cron-expression>
            </cron>
        </trigger>

        <job>
            <name>RedEnvelopeRainPreheatCacheJob</name>
            <group>RedEnvelopeRainP</group>
            <description>红包雨缓存预热Job</description>
            <job-type>Tuhu.C.ActivityJob.Job.BigBrand.RedEnvelopeRainPreheatCacheJob,Tuhu.C.ActivityJob</job-type>
            <durable>true</durable>
            <recover>false</recover>
        </job>
        <trigger>
            <cron>
                <name>RedEnvelopeRainPreheatCacheJobTrigger</name>
                <group>RedEnvelopeRainP</group>
                <job-name>RedEnvelopeRainPreheatCacheJob</job-name>
                <job-group>RedEnvelopeRainP</job-group>
                <cron-expression>0 0 0 * * ?</cron-expression>
            </cron>
        </trigger>

        
    </schedule>
</job-scheduling-data>
