@model int
<html>
<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link href="~/Content/iview/iview.css" rel="stylesheet" />
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/iview/iview.min.js"></script>
    <style>
        .ivu-table .demo-table-info-row td {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-error-row td {
            background-color: #ff6600;
            color: #fff;
        }

        .ivu-table td.demo-table-info-column {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-name {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-age {
            background-color: #ff6600;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-address {
            background-color: #187;
            color: #fff;
        }

        [v-cloak] {
            display: none;
        }
    </style>

</head>
<body>
    <fieldset>
        <legend>美容弹窗编辑</legend>
        <div id="PopUp" v-cloak>
            <table style="width:1000px; margin-left:10%;">
                <tr>
                    <td>渠道</td>
                    <td colspan="3">
                        <i-select style="width:150px" v-model="Channel" placeholder="请选择" v-on:on-change="channelChange">
                            <i-option v-for="item in channelList" :value="item" :key="item">{{ item }}</i-option>
                        </i-select>
                    </td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td colspan="3">
                        <Radio-Group v-model="Status">
                            <Radio label="1"><span>启用</span></Radio>
                            <Radio label="0"><span>禁用</span></Radio>
                        </Radio-Group>
                    </td>
                </tr>
                <tr>
                    <td>弹窗名称</td>
                    <td colspan="3"><i-input v-model="Name" placeholder="Enter something..." clearable style="width: 200px"></i-input></td>
                </tr>
                <tr>
                    <td>开始版本</td>
                    <td><i-input v-model="StartVersion" placeholder="Enter something..." clearable style="width: 200px"></i-input></td>
                    <td>结束版本</td>
                    <td><i-input v-model="EndVersion" placeholder="Enter something..." clearable style="width: 200px"></i-input></td>
                </tr>
                <tr>
                    <td>开始时间</td>
                    <td><Date-Picker v-model="BeginTime" type="datetime" format="yyyy-MM-dd HH:mm" placeholder="开始时间" style="width: 150px"></Date-Picker></td>
                    <td>结束时间</td>
                    <td><Date-Picker v-model="EndTime" type="datetime" format="yyyy-MM-dd HH:mm" placeholder="结束时间" style="width: 150px"></Date-Picker></td>
                </tr>
                <tr>
                    <td>显示位置</td>
                    <td colspan="3">
                        <i-select style="width:150px" v-model="PlaceType" placeholder="请选择">
                            <i-option v-for="item in PlaceTypeList" :value="item.id" :key="item.id">{{ item.name }}</i-option>
                        </i-select>&nbsp;&nbsp;&nbsp;

                        <label v-if="PlaceType==2">关联类目:</label>
                        <i-select v-if="PlaceType==2" style="width:150px" v-model="CategoryId" placeholder="请选择关联类目" disp="isSaved">
                            <i-option v-for="item in CategoryList" :value="item.id" :key="item.id">{{ item.name }}</i-option>
                        </i-select>
                    </td>
                </tr>
                <tr>
                    <td>弹窗Logo</td>
                    <td colspan="3">
                        上传图片：<img :src="PopUpLogo" style="width:200px;height:100px;" /><i-input v-model="PopUpLogo" readonly="true" placeholder="URL" style="width: 600px"></i-input>
                        <Upload action="/BeautyHomePageConfig/UploadBeautyPopUpImage?type=pop"
                                :format="['jpg','jpeg','png']"
                                :on-format-error="handleFormatError"
                                :max-size="10000"
                                :on-exceeded-size="handleMaxSize"
                                :on-success="handleSuccess"
                                :show-upload-list="false">
                            <i-Button type="ghost" icon="ios-cloud-upload-outline">上传</i-Button>
                        </Upload>
                    </td>
                </tr>
                <tr>
                    <td>背景图</td>
                    <td colspan="3">
                        上传图片：<img :src="BackGroundImage" style="width:200px;height:100px;" /><i-input v-model="BackGroundImage" readonly="true" placeholder="URL" style="width: 600px"></i-input>
                        <Upload action="/BeautyHomePageConfig/UploadBeautyPopUpImage?type=bg"
                                :format="['jpg','jpeg','png']"
                                :on-format-error="handleFormatError"
                                :max-size="10000"
                                :on-exceeded-size="handleMaxSize"
                                :on-success="handleSuccess"
                                :show-upload-list="false">
                            <i-Button type="ghost" icon="ios-cloud-upload-outline">上传</i-Button>
                        </Upload>
                    </td>
                </tr>
                <tr>
                    <td>背景跳转链接</td>
                    <td colspan="3"><i-input v-model="BackGroundLink" placeholder="Enter something..." clearable style="width: 600px"></i-input></td>
                </tr>
                <tr>
                    <td>配置优惠券</td>
                    <td colspan="3">
                        <table>
                            <tr>
                                <td>优惠券Guid</td>
                                <td>优惠券展示图片</td>
                                <td><i-button type="primary" v-on:click="AddPromotion()">增加</i-button></td>
                            </tr>
                            <tr v-for="item in PromotionList">
                                <td><i-input v-model="item.PromotionGuid" style="width: 200px"></i-input></td>
                                <td>
                                    上传图片：<img :src="item.PromotionImage" style="width:100px;height:50px;" /><i-input v-model="item.PromotionImage" readonly="true" placeholder="URL" style="width: 600px"></i-input>
                                    <Upload action="/BeautyHomePageConfig/UploadBeautyPopUpImage?type=pg"
                                            :data={id:item.Id}
                                            :format="['jpg','jpeg','png']"
                                            :on-format-error="handleFormatError"
                                            :max-size="10000"
                                            :on-exceeded-size="handleMaxSize"
                                            :on-success="handleSuccess"
                                            :show-upload-list="false">
                                        <i-Button type="ghost" icon="ios-cloud-upload-outline">上传</i-Button>
                                    </Upload>
                                </td>
                                <td><i-button type="error" v-on:click="RemovePromotion(item.Id)">删除</i-button></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        是否限制地区:
                    </td>
                    <td colspan="3">
                        <Radio-Group v-model="IsRegion">
                            <Radio label="1"><span>是</span></Radio>
                            <Radio label="0"><span>否</span></Radio>
                        </Radio-Group>
                    </td>
                </tr>
                <tr v-if="IsRegion==1">
                    <td colspan="4">
                        限购地区：
                        <br /><br />
                        <table>
                            <tr>
                                <td style="width:200px;">省/自治区/直辖市</td>
                                <td style="width:800px;">市/区</td>
                                <td style="width:50px;"><i-button type="primary" v-on:click="addLimitArea()">添加</i-button></td>
                            </tr>
                            <tr v-for="item  in areaData">
                                <td style="width:200px;">
                                    <i-select v-model="item.provinceId" placeholder="请选择" v-on:on-change="provinceChange(item,1)">
                                        <i-option v-for="itemo in item.provinceData" :value="itemo.id" :key="itemo.id">{{itemo.name}}</i-option>
                                    </i-select>
                                </td>
                                <td style="width:800px;">
                                    <div style="border-bottom: 1px solid #e9e9e9;padding-bottom:6px;margin-bottom:6px;">
                                        <Checkbox :indeterminate="item.indeterminate"
                                                  :value="item.checkall"
                                                  v-on:click.prevent.native="handleCheckAll(item)">全选</Checkbox>
                                    </div>
                                    <Checkbox-Group v-model="item.checkallgroup" v-on:on-change="checkAllGroupChange($event,item)">
                                        <Checkbox v-for="itemc in item.cityData" :label="itemc.id">{{itemc.name}}</Checkbox>
                                    </Checkbox-Group>
                                </td>
                                <td style="width:50px;"><i-button type="error" v-on:click="deleteLAComponent(item)">删除</i-button></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div style="text-align:center"><i-button type="warning" v-on:click="cancle()">取消</i-button>&nbsp;&nbsp;&nbsp;<i-button type="primary" v-on:click="save()" :disabled="isSaved">保存</i-button></div>
                    </td>
                </tr>
            </table>
            <br />
        </div>
    </fieldset>
</body>
</html>
<script>
    var we = new Vue({
        el: '#PopUp',
        data() {
            return {
                channelList: ['ios', 'android', 'wx'],
                PlaceTypeList: [
                    { id: 1, name: "美容首页" },
                    { id: 2, name: "美容列表页" },
                    { id: 3, name: "洗车小程序" },
                ],
                PlaceType: '',
                PKID: '',
                Channel: 'ios',
                Name: '',
                CarLevel: '',
                BeginTime: '',
                EndTime: '',
                PopUpLogo:'',
                BackGroundImage: '',
                BackGroundLink: '',
                StartVersion: '',
                EndVersion: '',
                Status: "0",
                CategoryList: [{
                    id: 0,
                    name: '全部类目'
                }],
                CategoryId:0,
                isSaved: false,
                PromotionList: [],
                IsRegion: "0",
                areaData: [],
                provinceDatas: [],
            }
        },
        mounted: function () {
            this.getProvinceDatas();
            this.getAllDatas();
        },
        methods: {
            getAllDatas() {
                var _this = this;
                var Pkid =@Model;
                 $.ajax({
                     url: "/BeautyHomePageConfig/GetPopUpWindowsConfigById",
                    type: "post",
                    async: false,
                    data: {
                        pkid: Pkid
                    },
                    success: function (data) {
                        if (data != null && data.result != null) {
                            _this.PKID = data.result.PKID;
                            _this.Channel = data.result.Channel;
                            _this.Status = data.result.Status?"1":"0";
                            _this.Name = data.result.Name;
                            _this.StartVersion = data.result.StartVersion;
                            _this.EndVersion = data.result.EndVersion;
                            _this.BackGroundImage = data.result.BackGroundImage;
                            _this.BackGroundLink = data.result.BackGroundLink == null? '':data.result.BackGroundLink;
                            _this.BeginTime = _this.getDates(data.result.StartTime);
                            _this.EndTime = _this.getDates(data.result.EndTime);
                            _this.CarLevel = data.result.CarLevel;
                            _this.PlaceType = data.result.PlaceType;
                            _this.CategoryId = data.result.CategoryId;
                            _this.IsRegion = data.result.IsRegion ?"1":"0";
                            _this.PromotionList = data.PromotionList;
                            _this.PopUpLogo = data.result.PopUpLogo;
                            if (data.CategoryList != null)
                            {
                                $(data.CategoryList).each(function (i, e) {
                                    _this.CategoryList.push({
                                        id:e.Id,
                                        name:e.Name
                                    })
                               });
                            }
                            if (data.result.IsRegion&&data.RegionList != null) {
                                data.RegionList.forEach(function (x) {
                                    let mm = [];
                                    if (!x.IsAllCity) {
                                        x.CityIds.forEach(function (y) { mm.push(Number.parseInt(y)) });
                                    }
                                    var e = {
                                        'provinceId': x.ProvinceId,
                                        'provinceData': _this.provinceDatas,
                                        'cityData': [],
                                        'cityIds': [],
                                        'indeterminate': false,
                                        'checkall': x.IsAllCity,
                                        'checkallgroup': mm,
                                    };
                                    _this.provinceChange(e,2);
                                    _this.areaData.push(e);
                                });
                            }
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });
            },
            handleFormatError(file) {
                this.$Notice.warning({
                    title: '文件格式不正确',
                    desc: "请选择 .jpg  or .png  or .jpeg图片"
                });
            },
            handleMaxSize(file) {
                this.$Notice.warning({
                    title: '文件大小不符合要求',
                    desc: "请选择不超过100KB的图片"
                });
            },
            handleSuccess(res, file) {
                console.log(res);
                console.log(file);
                var _this = this;
                if (res != null) {
                    if (res.Item1) {
                        if (res.Item3 == 'bg')
                        {
                            _this.BackGroundImage = res.Item2;
                        }
                        else if (res.Item3 == 'pop')
                        {
                            _this.PopUpLogo = res.Item2;
                        }
                        else {
                            $(_this.PromotionList).each(function(i,e) {
                                if (e.Id == res.Item4)
                                {
                                    e.PromotionImage = res.Item2;
                                }
                            });
                        }
                    }
                    else {
                        _this.$Notice.warning({
                            title: '上传图片失败',
                            desc: res.Item2
                        });
                    }
                }
                else {
                    _this.$Notice.warning({
                        title: '上传图片异常',
                        desc: "服务端异常"
                    });
                }
            },
            cancle() {
                window.location.href = "/BeautyHomePageConfig/PopUpWindowsConfig";
            },
            save() {
                var _this = this;
                _this.isSaved = true;
                var channel = _this.Channel;
                if (!channel)
                {
                    _this.showWarningMsg(_this, '请选择渠道', '请选择渠道');
                    return;
                }
                var status = _this.Status;
                var name = _this.Name;
                if (!name) {
                    _this.showWarningMsg(_this, '请填写弹窗名称', '请填写弹窗名称');
                    return;
                }
                var startVersion = _this.StartVersion;
                if (!startVersion) {
                    _this.showWarningMsg(_this, '请填写开始版本', '请填写开始版本');
                    return;
                }
                var endVersion = _this.EndVersion;
                if (!endVersion) {
                    _this.showWarningMsg(_this, '请填写结束版本', '请填写结束版本');
                    return;
                }
                var popUpLogo = _this.PopUpLogo;
                if (!popUpLogo) {
                    _this.showWarningMsg(_this, '请上传弹窗Logo', '请上传弹窗Logo');
                    return;
                }
                var backGroundImage = _this.BackGroundImage;
                if (!backGroundImage) {
                    _this.showWarningMsg(_this, '请上传背景图片', '请上传背景图片');
                    return;
                }
                var backGroundLink = _this.BackGroundLink;
                if (!_this.BeginTime) {
                    _this.showWarningMsg(_this, '请选择开始时间', '请选择开始时间');
                    return;
                }
                var beginTime = _this.getTimeSpan(_this.BeginTime);
                if (!_this.EndTime) {
                    _this.showWarningMsg(_this, '请选择结束时间', '请选择结束时间');
                    return;
                }
                var endTime = _this.getTimeSpan(_this.EndTime);
                var placeType = _this.PlaceType;
                if (!placeType) {
                    _this.showWarningMsg(_this, '请选择显示位置', '请选择显示位置');
                    return;
                }
                var categoryId = _this.CategoryId;
                if (placeType == 1)
                {
                    categoryId = 0;
                }

                //if (_this.PromotionList.length <= 0)
                //{
                //    _this.$Notice.warning({
                //        title: '请配置优惠券',
                //        desc: '请配置优惠券'
                //    });
                //    return;
                //}

                var promotionCheck = true;
                _this.PromotionList.forEach(function (x) {
                    if (x.PromotionGuid == '')
                    {
                        //0281f993-da61-43c2-974d-154b8f3e71b0
                        promotionCheck = false;
                        _this.showWarningMsg(_this, '请配置优惠券GUID', '请配置优惠券GUID');
                        return;
                    }
                    else {
                        var reg = new RegExp(/^[0-9a-z]{8}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{12}$/).test(x.PromotionGuid);
                        if (!reg)
                        {
                            promotionCheck = false;
                            _this.showWarningMsg(_this, '请配置正确的优惠券GUID', '请配置正确的优惠券GUID');
                            return;
                        }
                    }
                    if (x.PromotionImage == '') {
                        promotionCheck = false;
                        _this.showWarningMsg(_this, '请配置优惠券展示图片', '请配置优惠券展示图片');
                        return;
                    }


                });
                if (promotionCheck == false)
                {
                    return;
                }
                var promotionInfo = JSON.stringify(_this.PromotionList);

                let areas = [];

                var isRegion = _this.IsRegion;
                if (isRegion == "1")
                {
                    if (_this.areaData.length <= 0)
                    {
                        _this.showWarningMsg(_this, '请选择限购地区省/自治区/直辖市', '请选择限购地区省/自治区/直辖市');
                        areasInsert = false;
                        return;
                    }

                    var areasInsert = true;
                    _this.areaData.forEach(function (x) {
                        if (!x.provinceId) {
                           _this.showWarningMsg(_this, '请选择限购地区省/自治区/直辖市', '请选择限购地区省/自治区/直辖市');
                        areasInsert = false;
                        return;
                    }
                        if (!x.checkallgroup || x.checkallgroup.length <= 0) {
                           _this.showWarningMsg(_this, '请选择限购地区市/区', '请选择限购地区市/区');
                        areasInsert = false;
                        return;
                    }


                    areas.push({
                        'ProvinceId': x.provinceId,
                        'IsAllCity': x.checkall,
                        'CityId': x.checkallgroup.reduce(function (a, b) { return a + ',' + b; }),
                        'CardId': _this.cardId,
                    });
                });
                if (areasInsert == false || areas.length <= 0) {
                    return;
                }
                }

                var postData = {
                    "PKID": _this.PKID,
                    "Channel": channel,
                    "StartVersion": startVersion,
                    "EndVersion": endVersion,
                    "Status": status,
                    "Name": name,
                    "PopUpLogo": popUpLogo,
                    "BackGroundImage": backGroundImage,
                    "BackGroundLink": backGroundLink,
                    "PlaceType": placeType,
                    "StartTime": beginTime,
                    "EndTime": endTime,
                    "CategoryId": categoryId,
                    "PromotionInfo": promotionInfo,
                    "RegionList": areas,
                    "IsRegion": isRegion == 1 ? true : false,
                };
                $.ajax({
                    url: "/BeautyHomePageConfig/SavePopUpWindowsConfig",
                    type: "post",
                    async: false,
                    data: postData,
                    success: function (data) {
                        if (data.Result) {
                            _this.$Message.success('保存成功！');
                            setTimeout(function () {
                                window.location.href = "/BeautyHomePageConfig/PopUpWindowsConfig";
                            }, 1000);
                        }
                        else {
                            _this.$Notice.warning({
                                title: '保存失败！',
                                desc: '服务端执行异常',
                            });
                            _this.isSaved = false;
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });
            },
            getDates(e) {
                var time = e instanceof Date ? e : eval('new ' + e.toString().replace(/\//g, ""));
                if (time < new Date(2018,1,1))
                {
                    time = '';
                }
                return time;
            },
            getTimeSpan(time) {
                var year = time.getFullYear();
                var day = time.getDate();
                var month = time.getMonth() + 1;
                var hours = time.getHours();
                var minutes = time.getMinutes();
                var seconds = time.getSeconds();
                return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes;
            },
            channelChange()
            {
                var _this = this;
                var placeType = _this.PlaceType;
                if (!placeType)
                {
                    return;
                }
                if (placeType == 1)
                {
                    return;
                }

                var channel = _this.Channel;
                 $.ajax({
                     url: "/BeautyHomePageConfig/GetBeautyCategorysByChannel",
                    type: "post",
                    async: false,
                    data: {
                        channel: channel
                    },
                    success: function (data) {
                        if (data.Success) {
                            _this.CategoryList = [{
                                id: 0,
                                name: '全部类目'
                            }];
                            _this.CategoryId = 0;
                            if (data.CategoryList != null)
                            {
                                $(data.CategoryList).each(function (i, e) {
                                    _this.CategoryList.push({
                                        id:e.Id,
                                        name:e.Name
                                    })
                               });
                            }
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });
            },
            AddPromotion()
            {
                var _this = this;
                var index = 0;
                _this.PromotionList.forEach(function (x) {
                    if (x.Id > 0)
                    {
                        index = x.Id;
                    }
                });
                if (_this.PromotionList.length >= 2)
                {
                    this.$Notice.warning({
                        title: '优惠券个数最多2个',
                        desc: "优惠券个数最多2个"
                    });
                    return;
                }

                _this.PromotionList.push({
                    Id: index+1,
                    PromotionGuid: '',
                    PromotionImage:''
                });
            },
            RemovePromotion(i)
            {
                var _this = this;
                _this.PromotionList.splice(i-1, 1);
            },
            addLimitArea() {
                var _this = this;
                _this.areaData.push({
                    'provinceId': '',
                    'provinceData': _this.provinceDatas,
                    'cityData': [],
                    'indeterminate': false,
                    'checkall': false,
                    'checkallgroup': [],
                });
            },
            deleteLAComponent(i) {
                var n = this.areaData.indexOf(i);
                we.areaData.splice(n, 1);
            },
            getProvinceDatas() {
                var _this = this;
                $.ajax({
                    url: "/BeautyYearCardConfig/GetAllProvinces",
                    type: "post",
                    async: false,
                    data: {},
                    success: function (data) {
                        if (data != null && data.length > 0) {
                            $(data).each(function (i, e) {
                                _this.provinceDatas.push({
                                    'name': e.name,
                                    'id': e.id,
                                });
                            })
                        }
                        else {
                            _this.$Notice.warning({
                                title: '获取省市信息异常！',
                                desc: '获取省市信息异常！',
                            });
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });
            },
            provinceChange(e,edit) {
                var _this = this;
                var exist = this.areaData.filter(function (x) { return x.provinceId == e.provinceId; });
                if (exist.length <= 1) {
                    console.log(e);
                    $.ajax({
                        url: "/BeautyYearCardConfig/GetAllCitys",
                        type: "post",
                        async: false,
                        data: {
                            ProvinceId:e.provinceId
                        },
                        success: function (data) {
                            if (data != null && data.length > 0) {
                                e.cityData = data;
                                e.cityIds = [];
                                data.forEach(function (x) {
                                    e.cityIds.push(x.id);
                                });
                                if (edit == 1)
                                {
                                    e.checkall = false;
                                    e.checkallgroup = [];
                                }
                                if (e.checkall) {
                                    e.checkallgroup = e.cityIds;
                                }
                            }
                            else {
                                _this.$Notice.warning({
                                    title: '获取省市信息异常！',
                                    desc: '获取省市信息异常！',
                                });
                            }
                        },
                        error: function () {
                            alert("服务端异常！");
                        }
                    });
                }
                else {
                    this.$Notice.warning({
                        title: '重复省份',
                        desc: '选择的省份/直辖市已经存在，清重新选择！',
                    });
                    e.cityData = [];
                    return;
                }
            },
            handleCheckAll(e) {
                if (e.indeterminate) {
                    e.checkall = false;
                } else {
                    e.checkall = !e.checkall;
                }
                e.indeterminate = false;

                if (e.checkall) {
                    var checkallgroupTemp = [];
                    e.cityData.forEach(function (x) {
                        checkallgroupTemp.push(x.id);
                    });
                    e.checkallgroup = checkallgroupTemp;
                } else {
                    e.checkallgroup = [];
                }
            },
            checkAllGroupChange(data, e) {
                if (data.length === e.cityData.length) {
                    e.indeterminate = false;
                    e.checkall = true;
                } else if (data.length > 0) {
                    e.indeterminate = true;
                    e.checkall = false;
                } else {
                    e.indeterminate = false;
                    e.checkall = false;
                }
            },
            showWarningMsg(_vue,_title,_desc) {
                _vue.$Notice.warning({
                    title: _title,
                    desc: _desc
                });
                _vue.isSaved = false;
            }
        }
    });

</script>