@{
	Layout = null;
}
<html>
<head>
    <script type='text/javascript' src="/Scripts/jquery-1.7.1.min.js"></script>
    <script>
        function dorefresh() {
            $.ajax({ url: 'http://yewu.tuhu.cn/Article/Refurbish' }).done(function (data) {
                $('#output')[0].innerHTML += data + '<br/>';
            });
        }
        $(function () {
            $('#test').click(function () {
                dorefresh();
            });
        });
    </script>
</head>
<body>
    Ready
   <input type="button" id="test" value="Refresh" />
     <div id="output"></div>
</body>
</html>