@using Tuhu.Provisioning.DataAccess.Entity
@using Tuhu.Provisioning.Models
@using Tuhu.Component.Common.Extensions
@model Tuhu.Component.Common.Models.ListModel<SeekKeyWord>
@{
    ViewBag.Title = "用户搜索词";

}

<style>
    .button1 {
        border-radius: 5px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        font-family: "Microsoft Yahei";
        outline: none;
        cursor: pointer;
        background: #0088cc;
        border-color: #0088cc;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }
</style>
<div style="margin-top:20px;margin-bottom:20px;">

    <a class="button1" href="/Article/ArticleManage" target="_blank">文章管理</a>
    <a class="button1" href="/Article/Theme" target="_blank">特推主题</a>
    <a class="button1" href="/Article/Hot" target="_blank">热门管理</a>
    <a class="button1" href="/Article/SeekKeyWord" target="_blank">热门搜索词</a>

</div>


<div>
    <table style="width:100%">
        <thead>
            <tr>
                <th>搜索词</th>
                <th>搜索次数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(x => x.Num).ToList())
            {
                <tr>
                    <td>@item.KeyWord</td>
                    <td>@item.Num</td>
                    <td><a href="javascript:;" keyword="@item.KeyWord" onclick="deleteModel(this)">删除</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>
<script>
    function deleteModel(e) {
        var keyWord = $(e).attr("keyword");
        if (confirm("确定要删除吗？")) {

            $.ajax({
                type: "POST",
                url: "/Article/DeleteSeekKeyWord",
                data: { "keyWord": keyWord },
                success: function (result) {
                    if (result) {

                        window.location.reload(true);
                    }
                    else {
                        alert("删除失败！");
                    }
                },
                error: function (result) {
                    alert("错误");
                }
            });
        }
    }

</script>
