@{
    ViewBag.Title = "";
    Layout = null;
}



<div style="float:left;margin-left:10px">
    <form id="twoFromByOne">
        <table id="twoTableByOne" class="easyui-form">
            <tr>
                <td colspan="3">
                    <center>一列</center>
                </td>
            </tr>
            <tr>
                <td>PID:</td>
                <td colspan="2">
                    <input type="text" name="PID" onchange="GetProductImage(this, 'twoTableByOne')" />
                </td>
            </tr>
            <tr>
                <td>产品名称:</td>
                <td colspan="2">
                    <input type="text" id="ProductName" name="ProductName" style="width:300px;" />
                </td>
            </tr>
            <tr>
                <td>活动ID：</td>
                <td colspan="2">
                    <input type="text" name="VID"  />
                </td>
            </tr>
            <tr>
                <td>优惠券ID：</td>
                <td colspan="2">
                    <input type="text" name="CID" id="CID" onchange="BindCoupon('twoFromByOne')" />
                    @*<select name="CID" id="CID"></select>*@
                </td>

            </tr>
            <tr>
                <td>图片:</td>
                <td>
                    <img id="cimg" width="20" height="20" />
                    <input type="hidden" id="hidCimg" name="hidCimg" />
                </td>
                <td>
                    <input type="file" id="TwocFile" name="TwocFile" onchange="UploadImg(this, 'cimg', 'hidCimg', 'IsUploading', 'twoTableByOne')" />
                    <input type="hidden" id="IsUploading" name="IsUploading" value="@(Model == null?"0":Model.IsUploading.ToString())" />
                </td>
            </tr>
            <tr id="TwoPic" style="display:none;">
                <td>图片(二):</td>
                <td>
                    <img id="TwocimgTwoPic" width="20" height="20" />
                    <input type="hidden" id="TwohidCimgTwoPic" name="TwohidCimgTwoPic" />
                </td>
                <td>
                    <input id="TwocFileTwoPic" type="file" name="TwocFileTwoPic" onchange="UploadImg(this, 'TwocimgTwoPic', 'TwohidCimgTwoPic', 'IsUploading', 'twoTableByOne')" />
                </td>
            </tr>
            <tr>
                <td>
                    活动类型:
                </td>
                <td colspan="2">
                    <select id="Type" name="Type" onchange="DropDownChange('twoFromByOne')">
                        <option value="-1">请选择</option>
                        <option value="0">轮胎</option>
                        <option value="1">车品</option>
                        <option value="2">链接</option>
                        <option value="3">图片</option>
                        <option value="4">优惠卷</option>
                        <option value="5">保养</option>
                        <option value="6">限购轮胎</option>
                        <option value="7">限购车品</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>是否图片:</td>
                <td colspan="2">
                    <select id="IsImage" name="IsImage">
                        <option value="0" selected="selected">模板</option>
                        <option value="1">图片</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    显示方式:
                </td>
                <td colspan="2">
                    <select id="DisplayWay" name="DisplayWay">
                        <option value="-1">不选择</option>
                        <option value="0">竖向</option>
                        <option value="1">横向</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>描述:</td>
                <td colspan="2">

                    <textarea name="Description" id="Description" style="width:280px;height:16px; font-size:12px; overflow:hidden;"></textarea>
                </td>
            </tr>
            <tr>
                <td>URL:</td>
                <td colspan="2">
                    <input type="text" name="Url" />
                </td>
            </tr>
            <tr>
                <td>微信URL：</td>
                <td colspan="2">
                    <input type="text" name="WXUrl" value="" />
                </td>
            </tr>
            <tr>
                <td>官网URL：</td>
                <td colspan="2">
                    <input type="text" name="PCUrl" value="" />
                </td>
            </tr>
            <tr>
                <td>排序:</td>
                <td colspan="2">
                    <input type="text" name="OrderBy" />
                </td>
            </tr>
            <tr style="display:none;">
                <td>轮胎品牌:</td>
                <td colspan="2">
                    <select id="TireBrand" name="TireBrand">
                        <option value="-1">不选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(IOS):</td>
                <td>
                    <input type="text" name="HandlerIOS" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(Android):</td>
                <td>
                    <input type="text" name="HandlerAndroid" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(IOS):</td>
                <td>
                    <input type="text" name="SOAPIOS" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(Android)：</td>
                <td>
                    <input type="text" name="SOAPAndroid" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span style="color:red;">
                        【特殊通讯值】填写时，不用单引号【'】以及不用中括号【[]】
                        <br />
                        例如(不符合格式):<br />
                        {'name':'value','key':1} <br />、[{"name":"value","key":1} ]
                    </span>
                </td>
            </tr>
        </table>
    </form>
</div>

<div style="float:right;margin-left:10px">
    <form id="twoFormByTwo">
        <table id="twoTableByTwo" class="easyui-form" style="float:left">
            <tr>
                <td colspan="3">
                    <center>二列</center>
                </td>
            </tr>
            <tr>
                <td>PID:</td>
                <td colspan="2">
                    <input type="text" name="PID" onchange="GetProductImage(this, 'twoTableByTwo')" />
                </td>
            </tr>
            <tr>
                <td>产品名称:</td>
                <td colspan="2">
                    <input type="text" id="ProductName" name="ProductName" style="width:300px;" />
                </td>
            </tr>
            <tr>
                <td>活动ID：</td>
                <td colspan="2">
                    <input type="text" name="VID"  />
                </td>
            </tr>
            <tr>
                <td>优惠券ID：</td>
                <td colspan="2">
                    <input type="text"  name="CID" id="CID" onchange="BindCoupon('twoFormByTwo')" />
                    @*<select name="CID" id="CID"></select>*@
                </td>

            </tr>
            <tr>
                <td>图片:</td>
                <td>
                    <img id="cimg" width="20" height="20" />
                    <input type="hidden" id="hidCimg" name="hidCimg" />
                </td>
                <td>
                    <input type="file" id="TwocFile2" name="TwocFile2" onchange="UploadImg(this, 'cimg', 'hidCimg', 'IsUploading', 'twoTableByTwo')" />
                    <input type="hidden" id="IsUploading" name="IsUploading" value="@(Model == null?"0":Model.IsUploading.ToString())" />
                </td>
            </tr>
            <tr id="TwoPic" style="display:none;">
                <td>图片(二):</td>
                <td>
                    <img id="TwocimgTwoPic2" width="20" height="20" />
                    <input type="hidden" id="TwohidCimgTwoPic2" name="TwohidCimgTwoPic2" />
                </td>
                <td>
                    <input id="TwocFileTwoPic2" type="file" name="TwocFileTwoPic2" onchange="UploadImg(this, 'TwocimgTwoPic2', 'TwohidCimgTwoPic2', 'IsUploading', 'twoTableByTwo')" />
                </td>
            </tr>
            <tr>
                <td>
                    活动类型:
                </td>
                <td colspan="2">
                    <select id="Type" name="Type" onchange="DropDownChange('twoFormByTwo')">
                        <option value="-1">请选择</option>
                        <option value="0">轮胎</option>
                        <option value="1">车品</option>
                        <option value="2">链接</option>
                        <option value="3">图片</option>
                        <option value="4">优惠卷</option>
                        <option value="5">保养</option>
                        <option value="6">限购轮胎</option>
                        <option value="7">限购车品</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>是否图片:</td>
                <td colspan="2">
                    <select id="IsImage" name="IsImage">
                        <option value="0" selected="selected">模板</option>
                        <option value="1">图片</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    显示方式:
                </td>
                <td colspan="2">
                    <select id="DisplayWay" name="DisplayWay">
                        <option value="-1">不选择</option>
                        <option value="0">竖向</option>
                        <option value="1">横向</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>描述:</td>
                <td colspan="2">

                    <textarea name="Description" id="Description" style="width:280px;height:16px; font-size:12px; overflow:hidden;"></textarea>
                </td>
            </tr>
            <tr>
                <td>URL:</td>
                <td colspan="2">
                    <input type="text" name="Url" />
                </td>
            </tr>
            <tr>
                <td>微信URL：</td>
                <td colspan="2">
                    <input type="text" name="WXUrl" value="" />
                </td>
            </tr>
            <tr>
                <td>官网URL：</td>
                <td colspan="2">
                    <input type="text" name="PCUrl" value="" />
                </td>
            </tr>
            <tr>
                <td>排序:</td>
                <td colspan="2">
                    <input type="text" name="OrderBy" />
                </td>
            </tr>
            <tr style="display:none;">
                <td>轮胎品牌:</td>
                <td colspan="2">
                    <select id="TireBrand" name="TireBrand">
                        <option value="-1">不选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(IOS):</td>
                <td>
                    <input type="text" name="HandlerIOS" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(Android):</td>
                <td>
                    <input type="text" name="HandlerAndroid" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(IOS):</td>
                <td>
                    <input type="text" name="SOAPIOS" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(Android)：</td>
                <td>
                    <input type="text" name="SOAPAndroid" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span style="color:red;">
                        【特殊通讯值】填写时，不用单引号【'】以及不用中括号【[]】
                        <br />
                        例如(不符合格式):<br />
                        {'name':'value','key':1} 、<br />
                        [{"name":"value","key":1} ]
                    </span>

                </td>
            </tr>
        </table>
    </form>
</div>


<script type="text/javascript">

    function GetRowTwo() {
        var list = [];
        var date = (new Date()).Format("yyyyMMddhhmmss");
        var row1 = {
            'Group': date,
            'PID': $('#twoTableByOne [name=PID]').val(),
            'VID': $('#twoTableByOne [name=VID]').val(),
            'CID': $('#twoTableByOne [name=CID]').val(),
            'SmallImage': $('#twoTableByOne [id=cimg]').attr('src') || '', //小图路径
            'Image': $('#twoTableByOne [name=hidCimg]').val() || '', //大图
            'BigImg': 1,
            'Type': $('#twoTableByOne [name=Type]').val(), //类型
            'OrderBy': $('#twoTableByOne [name=OrderBy]').val(),
            'LinkUrl': $('#twoTableByOne [name=Url]').val(),
            'HandlerIOS': $('#twoTableByOne [name=HandlerIOS]').val(),
            'HandlerAndroid': $('#twoTableByOne [name=HandlerAndroid]').val(),
            'SOAPIOS': $('#twoTableByOne [name=SOAPIOS]').val(),
            'SOAPAndroid': $('#twoTableByOne [name=SOAPAndroid]').val(),
            'IsUploading': $('#twoTableByOne [name=IsImage]').val()//$('#twoTableByOne [name=IsUploading]').val() || 0
        };

        row1.DisplayWay = $('#twoTableByOne [name=DisplayWay]').val();//显示方式

        row1.Description = $('#twoTableByOne [name=Description]').val();//描述

        if (row1.Type == 4) {
            //优惠卷
            row1.TwoSImage = $('#twoTableByOne [id=TwocimgTwoPic]').attr('src') || '';
            row1.TwoBImage = $('#twoTableByOne [name=TwohidCimgTwoPic]').val();
        }

        //if ($('#twoTableByOne [name=TireBrand]').val() != -1) {
        //    //选择车牌
        //    row1.TireBrand = $('#twoTableByOne [name=TireBrand]').val();
        //}

        if ((row1.Type == 0 || row1.Type == 1 || row1.Type == 6 || row1.Type == 7) && row1.IsUploading == 0) {
            row1.ProductName = $('#twoTableByOne [name=ProductName]').val();
        }

        row1.WXUrl = $('#twoTableByOne [name=WXUrl]').val();
        row1.PCUrl = $('#twoTableByOne [name=PCUrl]').val();
        var row2 = {
            'Group': date,
            'PID': $('#twoTableByTwo [name=PID]').val(),
            'VID': $('#twoTableByTwo [name=VID]').val(),
            'CID': $('#twoTableByTwo [name=CID]').val(),
            'SmallImage': $('#twoTableByTwo [id=cimg]').attr('src') || '', //小图路径
            'Image': $('#twoTableByTwo [name=hidCimg]').val() || '', //大图
            'BigImg': 1,
            'Type': $('#twoTableByTwo [name=Type]').val(), //类型
            'OrderBy': $('#twoTableByTwo [name=OrderBy]').val(),
            'LinkUrl': $('#twoTableByTwo [name=Url]').val(),
            'HandlerIOS': $('#twoTableByTwo [name=HandlerIOS]').val(),
            'HandlerAndroid': $('#twoTableByTwo [name=HandlerAndroid]').val(),
            'SOAPIOS': $('#twoTableByTwo [name=SOAPIOS]').val(),
            'SOAPAndroid': $('#twoTableByTwo [name=SOAPAndroid]').val(),
            'IsUploading': $('#twoTableByTwo [name=IsImage]').val()//$('#twoTableByTwo [name=IsUploading]').val() || 0
        };

        row2.DisplayWay = $('#twoTableByTwo [name=DisplayWay]').val();//显示方式

        row2.Description = $('#twoTableByTwo [name=Description]').val();//描述

        if (row2.Type == 4) {
            //优惠卷
          
            row2.TwoSImage = $('#twoTableByTwo [id=TwocimgTwoPic2]').attr('src') || '';
            row2.TwoBImage = $('#twoTableByTwo [name=TwohidCimgTwoPic2]').val();
           
        }

        //if ($('#twoTableByOne [name=TireBrand]').val() != -1) {
        //    //选择车牌
        //    row1.TireBrand = $('#twoTableByOne [name=TireBrand]').val();
        //}

        if ((row2.Type == 0 || row2.Type == 1 || row2.Type == 6 || row2.Type == 7) && row2.IsUploading == 0) {
            row2.ProductName = $('#twoTableByTwo [name=ProductName]').val();
        }

        row2.WXUrl = $('#twoTableByTwo [name=WXUrl]').val();
        row2.PCUrl = $('#twoTableByTwo [name=PCUrl]').val();
        list.push(row1);
        list.push(row2);
        return list;
    }

</script>