<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width,minimal-ui" />
<meta name="description" content="途虎养车网" />
<meta content="telephone=no" name="format-detection" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>0.99包邮</title>
<link rel="stylesheet" href="http://resource.tuhu.cn/css/wx/active/bargain.min.css">
</head>
<body>
<div class="top">
    <a class="back" data-rel="back" href="#"></a>
    0.99包邮
</div>
<div class="sponsor icon clearfix">
    <img src="" alt="" class="img" />
    <p class="word">
        <span>朱炎</span><br /> 
        固特异车载充电器，想要很久了，
        大家来帮我砍价！
    </p>
    <img src="http://resource.tuhu.cn/Css/images/Activities/p_img.png" width="30%" class="fr" />
</div>
<div class="content">
    <div class="progress-bar">
        <div class="num" style="left:70%;">25.9 <span class="arrow-d"></span></div>
        <div class="progress icon">
            <div class="inset icon" style="width:70%;"></div>
        </div>
    </div>
    <p class="text">
        点击右上角，发送到朋友圈，让朋友帮忙来砍价！
    </p>
    <div class="box">
        <div class="title icon">固特异车载充电器</div>
        <center>@*<img src="" alt="" class="p-img">*@
            <img src="http://resource.tuhu.cn/Css/images/Activities/p_img.png" width="80%" /></center>
    </div>
    <a href="" class="btn btn-yellow">让朋友来砍价</a>
    <div class="clearfix btn-group">
        <a href="" class="btn btn-yellow">帮忙砍一刀</a>
        <a href="" class="btn">我也来一发</a>
    </div>
    <a href="" class="btn btn-yellow">让朋友来砍价</a>
    <a href="" class="btn  btn-yellow">立即下单</a>
    <div class="box">
        <div class="title icon">砍价榜</div>
        <div class="list">
            <div class="list-item clearfix">
                <div class="fl filed">
                    <img src="" alt="" class="img fl" />
                    <p>朱炎<br />手起刀落，砍掉8元</p>
                </div>
                <div class="fr num">
                    -8.00
                </div>
            </div>
            <div class="list-item clearfix">
                <div class="fl filed">
                    <img src="" alt="" class="img fl" />
                    <p>朱炎<br />手起刀落，砍掉8元</p>
                </div>
                <div class="fr num">
                    -8.00
                </div>
            </div>
            <div class="list-item clearfix">
                <div class="fl filed">
                    <img src="" alt="" class="img fl" />
                    <p>朱炎<br />手起刀落，砍掉8元</p>
                </div>
                <div class="fr num">
                    -8.00
                </div>
            </div>
        </div>
    </div>
    
    
</div>
<!--弹出层-->
<div class="pop">
    <span class="icon have"></span>
    <span class="icon end"></span>
</div>
</body>
</html>