<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width,minimal-ui" />
<meta name="description" content="途虎养车网" />
<meta content="telephone=no" name="format-detection" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>0.99包邮</title>
<link rel="stylesheet" href="http://resource.tuhu.cn/css/wx/active/bargain.min.css">
</head>
<body>
<div class="top">
    <a class="back" data-rel="back" href="#"></a>
    0.99包邮
</div>
<div class="content">
    <img src="~/Css/images/Activities/bargain_b.png" width="100%" />
    <p class="word">
        点击”立即参加“，然后转发至微信朋友圈，让朋友们来帮忙砍价最先砍到0.99的前5000名用户,即能以0.99元购买固特异车载充电器来吧，拼的不是人品，是真爱啊！
    </p>
    <div class="form">
        <input type="text" class="is-text" placeholder="手机号" data-role="none"/>
        <a href="" class="btn btn-yellow">立即参加</a>
    </div>
    <p class="word">
        - 每位用户输入手机号码后，可发起一次砍价活动 ;<br/>
        - 朋友帮忙成功砍价到0.99元后，用户可用参加活动的手机号码登录途虎养车网安卓版APP，点击首页“0.99元包邮活动”，按页面指导，完成订单操作 ;<br />
        - 用户完成订单操作后，支付0.99元，即可获得固特异车载充电器一个;<br />
        0.99元为包邮价格，用户不再需要支付其他费用;<br />
        - 活动期间每位用户只有一次购买资格，手机号为每名用户购买资格的唯一凭证 ;<br />
        - 本活动最终解释权，归途虎养车网所有。 
    </p>
</div>
</body>
</html>