@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width,minimal-ui" />
<meta name="description" content="途虎养车网" />
<meta content="telephone=no" name="format-detection" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>0.99元抢迷你便携式车载吸尘器</title>
    @Html.Partial("~/Views/Shared/ShareHeadClean.cshtml")
    @Html.Partial("BargainShare")
    @Html.Partial("~/Views/Shared/WxJsSDK.cshtml")
<link rel="stylesheet" href="http://resource.tuhu.cn/css/wx/active/bargain.min.css">
    <style type="text/css">
        .toast-middle-center{
            position:fixed;
            bottom:50%;
            left:10%;
            right:10%;
            font:16px arial;
            line-height:18px;
        }
        .toast-middle-center div.toast.toast-info{
            width:100% !important;
        }
        .toast-middle-center div.toast.toast-info div.toast-message{
            line-height:24px;
        }
    </style>
    <script type="text/javascript">
        function cfgready(c){
            ubc(c, 'bgname');
        }
    </script>
</head>
<body>
<div class="content">
    <center><br/><br /><br />
        <img src="http://resource.tuhu.cn/Css/images/Activities/bargain_b.png" width="100%" />
        <img src="http://resource.tuhu.cn/Image/WeiXin/bargain_end.png" class="img-end" width="160" height="131" />
    </center>
    <a href="http://wx.tuhu.cn/Home/Index" class="btn">点击继续购物</a>
</div>
    <div class="adv bottom" id="downApp">
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=cn.TuHu.android"><img src="http://resource.tuhu.cn/Css/images/Activities/tuhu-adv.png" width="100%" /></a>
    </div>

</body>
</html>