#storelist_condition
{
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
}

#storelist_table table
{
	width: 100%;
	table-layout:fixed;
}
#storelist_table table th
{
	background-color: #E8EEF4;
	font-weight:bolder;
}
#storelist_table table td
{
	word-wrap:break-word;
}
.before_check
{
	font-family: @宋体;
	font-size: 12px;
	color: #5C87B2;
	border-bottom:2px solid #5C87B2;
}
.after_check
{
	font-family: @宋体;
	font-size: 12px;
	color: #FFD7AA;
	border:none;
}

#storelist_table table span
{
	margin-right:15px;
}
#storelist_table table span:hover
{
	cursor: pointer;
}
#PageLoadingEffect {
    position: absolute;
    background:url('images/Loading.gif') no-repeat center;
    width:30%;
    height:30%;
    margin-top:70px;
    z-index: 99999;
} 
