
@{
    ViewBag.Title = "车型认证审核";
}


<!DOCTYPE html>
<style>
    .search-bar {
        margin-top: 20px;
        border-bottom: 1px solid #ccc;
        width: 100%;
        height: 30px;
    }

    .search-bar div {
        display: block;
        text-align: right;
        margin-right: 10px;
        float:left;
    }
    .overlay {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #999;
        opacity: 0.3;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    .success-dialog-container, .faild-dialog-container {
        width: 360px;
        border: 1px solid #ccc;
        border-radius: 20px;
        background-color: #eee;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        padding: 20px;
    }
    .success-dialog-container {
        height:140px;
    }
    .faild-dialog-container {
        height: 240px;
    } 
    .success-dialog-container > div, .faild-dialog-container > div {
        padding: 10px;
    }
    .success-dialog-container a, .faild-dialog-container a, #RepeatListDialog .container a, #LogListDialog .container a{
        display: block;
        width: 50px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: #666;
        text-decoration: none;
        cursor: pointer;
    }
    .faild-dialog-container textarea {
        width:100%;
        height:50px;
        resize: none;
    }
    #RepeatListDialog .container, #LogListDialog .container {
        position: fixed;
        width: 80%;
        background-color:#fff;
        margin: auto;  
        position: fixed;  
        top: 0; left: 0; bottom: 0; right: 0;
        text-align: center;
        padding:20px;
    }
    .PageSize {
        padding: 20px;
    }
</style>

<div>
    
    <div class="search-bar">
        <div>手机号</div>
        <div><input id="mobile" /></div>
        <div style="margin-left:40px;">认证状态</div>
        <div>
            <select id="status">
                <option value="0">审核中</option>
                <option value="1">审核通过</option>
                <option value="2">已拒绝</option>
            </select>
        </div>
        <button id="search">搜索</button>
    </div>
    <div class="PageSize">
        每页显示：
        <select id="PageSize">
            <option value="10">10</option>
            <option value="20" selected="selected">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="10000">10000</option>
        </select>条
    </div>
    <div id="content" class="content">

    </div>
</div>
<pre>
        审核步骤
        1. 在状态为“审核中”的列表中查看需要审核的数据
        2. 查看“行驶证照片”上的车牌号、VIN码、发动机号和注册日期与用户填写的是否一致？查看“行驶证照片”上姓名是否与“身份证照片”上的姓名一致？
        3. 如果一致，操作“设为认证成功”，不一致操作“设为认证失败”
        4. 如果操作了“设为认证成功”，需要查看“展示查重数据”，把其他“已认证”的重复数据，操作为“设为认证失败”

</pre>
@section scripts{
    <div id="SuccessDialog" style="display: none;">
        <div class="overlay">

        </div>
        <div id="SuccessDialogContainer" class="success-dialog-container">
            <div>温馨提醒</div>
            <div>确认把这个车型设为<span style="color: red;">认证成功</span>状态吗？
            </div>
            <div>
                <a id="btnSuccessOk" style="float: left">确认</a><a id="btnSuccessCannel" style="float: right">取消</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="FaildDialog" style="display: none;">
        <div class="overlay">

        </div>

        <div class="faild-dialog-container">
            <div>温馨提醒</div>
            <div>确认把这个车型设为<span style="color: red;">认证失败</span>状态吗？请填写审核失败的原因。
            </div>
            <div><textarea id="reason"></textarea>
            </div>
            <div>
                <a id="btnFaildOk" style="float: left">确认</a><a id="btnFaildCannel" style="float: right">取消</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="RepeatListDialog" style="display: none;">
        <div class="overlay"></div>
        <div class="container">
            <div class="content"></div>
            <div><a style="float: right;" class="close">关闭</a>
            </div>
        </div>
    </div>
    <div id="LogListDialog" style="display: none;">
        <div class="overlay"></div>
        <div class="container">
            <div class="content"></div>
            <div><a style="float: right;" class="close">关闭</a>
            </div>
        </div>
    </div>
    <script>
        function MobileShow(obj) {
            $(obj).parents("tr").find("#maskedMobile").css("display", "none");
            $(obj).parents("tr").find("#Mobile").css("display", "block");
            $(obj).css("display", "none");
        }

        function CarNumberShow(obj) {
            $(obj).parents("tr").find("#maskedCarNumber").css("display", "none");
            $(obj).parents("tr").find("#CarNumber").css("display", "block");
            $(obj).css("display", "none");
        }

        function VinCodeShow(obj) {
            $(obj).parents("tr").find("#maskedVinCode").css("display", "none");
            $(obj).parents("tr").find("#VinCode").css("display", "block");
            $(obj).css("display", "none");
        }

        function EngineNoShow(obj) {
            $(obj).parents("tr").find("#maskedEngineNo").css("display", "none");
            $(obj).parents("tr").find("#EngineNo").css("display", "block");
            $(obj).css("display", "none");
        }
        (function () {
           

              jQuery("#search", this).click(function () {

                    $(this).parents("tr").find(".encodedmobile").css("display", "none");
                    $(this).parents("tr").find(".decodedmobile").css("display", "block");
                    $(this).css("display", "none");


                });
           

            var elements = {
                mobile: jQuery("#mobile"),
                status: jQuery("#status"),
                btnSearch: jQuery("#search"),
                content: jQuery("#content"),
                successDialog: jQuery("#SuccessDialog"),
                faildDialog: jQuery("#FaildDialog"),
                reason: jQuery("#reason"),
                btnSuccessOk: jQuery("#btnSuccessOk"),
                btnSuccessCannel: jQuery("#btnSuccessCannel"),
                btnFaildOk: jQuery("#btnFaildOk"),
                btnFaildCannel: jQuery("#btnFaildCannel"),
                repeatListDialog: jQuery("#RepeatListDialog"),
                logListDialog: jQuery("#LogListDialog"),
                pageSize: jQuery("#PageSize")
            };


            var events = {
                getPageList: function(pageIndex) {
                    jQuery.ajax({
                        url: 'ListNew',
                        data: {
                            pageIndex: pageIndex,
                            pageSize: elements.pageSize.val(),
                            status: elements.status.val(),
                            mobile: elements.mobile.val()
                        },
                        success: function(data) {
                            elements.content.html(data);
                        }
                    });
                },
                getRepeatList: function(carId, carNo, vinCode) {
                    jQuery.ajax({
                        url: 'ListNew',
                        data: {
                            pageIndex: 1,
                            pageSize: 20,
                            CarId: carId,
                            CarNo: carNo,
                            VinCode: vinCode,
                            status: elements.status.val(),
                            mobile: elements.mobile.val()
                        },
                        success: function(data) {
                            elements.repeatListDialog.show().find(".content").html(data);
                        }
                    });
                },
                getLogsList: function(carId) {
                    jQuery.ajax({
                        url: 'Logs',
                        data: {
                            carId: carId
                        },
                        success: function(data) {
                            elements.logListDialog.show().find(".content").html(data);
                        }
                    });
                },
                setStatus: function(el, reasonText) {
                    var status = jQuery(el).data('status');
                    var oldStatus = jQuery(el).data('oldstatus');
                    var carid = jQuery(el).data('carid');
                    var mobile =
                        jQuery(el).data('mobile');
                    var carNo = jQuery(el).data('carno');
                    jQuery.ajax({
                        url: 'SetStatusNew',
                        type: 'POST',
                        data: {
                            carId: carid,
                            newStatus: status,
                            oldStatus: oldStatus,
                            description: reasonText || '',
                            mobile: mobile,
                            carNo: carNo
                        },
                        success: function(data) {
                            if (data && data.success) {
                                alert("操作成功");
                                events.getPageList(1);
                            }
                        }
                    });
                },
                toggleSuccessDialog: function() {
                    if (elements.successDialog.is(":visible")) {
                        elements.successDialog.hide();
                    } else if (elements.successDialog.is(":hidden")) {
                        elements.successDialog.show();
                    }
                },
                toggleFaildDialog: function() {
                    elements.reason.val('');
                    if (elements.faildDialog.is(":visible")) {
                        elements.faildDialog.hide();
                    } else if (elements.faildDialog.is(":hidden")) {
                        elements.faildDialog.show();
                    }
                }
            };
            elements.pageSize.bind("change",
                function () {
                    events.getPageList(1);
                });
            elements.repeatListDialog.find("a.close").click(function () {
                elements.repeatListDialog.hide();
            });
            elements.logListDialog.find("a.close").click(function () {
                elements.logListDialog.hide();
            });

            elements.content.delegate("a[name=SetStatus]",
                    'click',
                    function() {
                        var el = jQuery(this);
                        var status = jQuery(el).data('status');
                        if (status == -1) {
                            if (confirm("确认设置为未认证吗?")) {
                                events.setStatus(el);
                            }
                        }
                        else if (status == 1) {
                            elements.btnSuccessOk.unbind().bind("click",
                                function() {
                                    events.setStatus(el);
                                    events.toggleSuccessDialog();
                                });
                            events.toggleSuccessDialog();

                        } else if (status == 2) {
                            elements.btnFaildOk.unbind().bind("click",
                                function() {
                                    var resonText = elements.reason.val();
                                    if (resonText === '') {
                                        alert("请输入原因");
                                    } else {
                                        events.setStatus(el, resonText);
                                        events.toggleFaildDialog();
                                    }

                                });
                            events.toggleFaildDialog();
                        }
                    })
                .delegate("a[name=RepeatList]",
                    "click",
                    function() {
                        var el = jQuery(this);
                        var carid = jQuery(el).data('carid');
                        var carno = jQuery(el).data('carno');
                        var vincode = jQuery(el).data('vincode');
                        events.getRepeatList(carid, carno, vincode);
                    }).delegate("a[name=LogList]",
                    "click",
                    function() {
                        var el = jQuery(this);
                        var carid = jQuery(el).data('carid');
                        events.getLogsList(carid);
                    });
            elements.btnSuccessCannel.bind("click",
                function() {
                    events.toggleSuccessDialog();
                });

            elements.btnFaildCannel.bind("click",
                function() {
                    events.toggleFaildDialog();
                });

            elements.content.on("click",
                ".pager>a",
                function(event) {
                    event.preventDefault();
                    var url = $(this).attr("href");
                    if (url) {
                        $.get(url,
                            function(html) {
                                elements.content.html(html);
                            });
                    }
                });
            elements.btnSearch.bind("click",
                function() {
                    events.getPageList(1);
                });
            events.getPageList(1);
        })();


    </script>
}
