@{
    Layout = null;
}

<option value="">-请选择-</option>
<option value="天猫1店">天猫1店</option>
<option value="天猫2店">天猫2店</option>
<option value="天猫3店">天猫3店</option>
<option value="天猫4店">天猫4店</option>
<option value="淘宝1店">淘宝1店</option>
<option value="淘宝2店">淘宝2店</option>
<option value="京东旗舰店">京东旗舰店</option>
<option value="京东2店">京东2店</option>
<option value="京东机油店">京东机油店</option>
<option value="京东服务店">京东服务店</option>
<option value="京东金融">京东金融</option>
<option value="国美POP ">国美PO</option>
<option value="国美自营">国美自营</option>
<option value="苏宁POP">苏宁POP</option>
<option value="苏宁自营">苏宁自营</option>
<option value="亚马逊POP">亚马逊POP</option>
<option value="亚马逊自营">亚马逊自营</option>
<option value="一号店POP">一号店POP</option>
<option value="一号店自营">一号店自营</option>
<option value="钛生活">钛生活</option>
<option value="平安商城">平安商城</option>
<option value="建行善融">建行善融</option>
<option value="当当网">当当网</option>
<option value="拼多多">拼多多</option>
