@model List<Tuhu.Provisioning.DataAccess.Entity.BaoYangActivityRelevance>
@{
    Layout = "";
}
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }
</style>

<div class="Serie">
    <fieldset>
        @foreach (var item in Model)
        {
            if (!string.IsNullOrWhiteSpace(item.Series))
            {
                <input type="checkbox" Series="@item.Series" />
                <label>@item.Series</label>
            }
        }
    </fieldset>
    <input type="button" onclick="BrandChecked()" class="btn" value="选择" />
</div>
<script>
    var series = $("#RelevanceSeries").val() || "";
    var seriesArry = new Array();
    seriesArry = series.split(";");
    $(function () {
        $(".Serie :checkbox").each(function (i) {
            if (seriesArry.indexOf($(this).attr("Series")) >= 0) {
                $(this).attr("checked", "checked");
            }
        });
    })

    function BrandChecked() {
        var SeriesTypes = "";
        $(".Serie :checkbox").each(function (i) {
            if ($(this).attr("checked")) {
                if ($(this).attr("Series")) {
                    SeriesTypes += $(this).attr("Series") + ";";
                }
            }
        });

        $("#RelevanceSeries").val(SeriesTypes.substr(0, SeriesTypes.length - 1));
        $("#AddSerie").dialog('close');
    }
</script>