
@{
    ViewBag.Title = "魔窗配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    [v-cloak] {
        display: none;
    }

    #config {
        border: 2px solid #e8eef4;
        padding: 10px 0px;
        border-radius: 4px;
    }
</style>
<h2>魔窗配置</h2>

<div id="app">
    <form>
        <div id="config">
            弹窗跳转地址:&nbsp;&nbsp;<input type="text" style="width:500px;" v-model="ConfigModel.Url" />  &nbsp;
            @*是否启用:
                <input type="radio" value="true" checked="checked" v-model="ConfigModel.IsEnable"  name="isenable" />启用&nbsp;&nbsp;
                <input type="radio" value="false" name="isenable"  v-model="ConfigModel.IsEnable" />禁用&nbsp;&nbsp;*@
            <input type="button" id="btn_submit" v-model="buttonInfo.buttonText" style="width:80px" class="buttonStyle" v-on:click="saveItem()" />

        </div>
        <br />
    </form>
    <div id="div_table" style="width:100%;margin-top:10px">
        <table class="tableContainer" style="width:100%;text-align:center;margin-bottom:20px">
            <tr>
                <th style="text-align:center">PKID</th>
                <th style="text-align:center">弹窗地址</th>
                <th style="text-align:center">魔窗地址</th>
                @*<th style="text-align:center">是否启用</th>*@
                <th style="text-align:center">创建时间</th>
                <th style="text-align:center">操作</th>
            </tr>
            <tr v-for="c in configs" v-cloak>
                <td>{{c.PKID}}</td>
                <td>{{c.Url}}</td>
                <td>{{c.MagicUrl}}</td>
                <td>{{c.CreateTime}}</td>
                <td><button v-on:click="updateItem(c)">修改</button>&nbsp;&nbsp;<button v-on:click="deleteItem(c)">删除</button></td>
            </tr>

        </table>
    </div>
    <span class="count">
        <input id="firstPage" type="button" v-on:click="Search(1)" value="首页" />
        <input id="lastPage" type="button" v-on:click="Search(2)" value="上一页" />
        <input id="nextPage" type="button" v-on:click="Search(3)" value="下一页" />
        <input id="tailPage" type="button" v-on:click="Search(4)" value="尾页" />
        当前页数{{pageIndex}}/{{totalPage}}
    </span>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript">


    var app = new Vue({
        el: '#app',
        data:function() {

            return {
                pageIndex: 1,
                pageSize: 10,
                totalPage:0,
                configs:[],
                ConfigModel: {
                    PKID:0,
                    Url: ''
                },
                buttonInfo: {
                    isAdd: true,
                    buttonText:"添加"
                }
            }
        },
        created: function () {
            var vm = this;
            vm.fetchConfig();
        },
        methods: {
            fetchConfig: function () {
                var vm = this;
                return $.get("/MagicWindow/fetchMagicWindowList", { pageIndex: vm.pageIndex, pageSize: vm.pageSize }, function (res) {
                    if (res.code == 1) {
                        vm.configs = res.data;
                        vm.configs.map(function (x) {
                            x.MagicUrl = "http://resource.tuhu.cn/StaticPage/MagicWindow/MagicWindow.html?pkid=" + x.PKID;
                        })
                        vm.totalPage = res.totalPage;
                    }
                });
            },
            addItme: function () {
                var vm = this;
                $.post("/MagicWindow/insertMagicWindow", { url: vm.ConfigModel.Url }, function (data) {
                    if (data > 0) {
                        vm.ConfigModel.Url = '';
                        vm.fetchConfig();
                    }
                });
            },
            updateItem: function (obj) {
                var vm = this;
                this.ConfigModel = obj;
                this.buttonInfo.isAdd = false;
                this.buttonInfo.buttonText = "保存";
            },
            saveItem: function () {
                var vm = this;
                if (vm.buttonInfo.isAdd) {
                    //添加
                    vm.addItme();
                } else {
                    //修改
                    $.post("/MagicWindow/UpdateMagicWindow", { url: vm.ConfigModel.Url, pkid: vm.ConfigModel.PKID }, function (data) {
                        if (data > 0) {
                            alert("修改成功");
                            window.location.href = window.location.href;
                        }
                    });
                }

            },
            deleteItem: function (obj) {
                var vm = this;
                if (confirm("是否确定删除？")) {

                    $.post("/MagicWindow/DeleteMagicWindow", { pkid: obj.PKID }, function (data) {
                        if (data > 0) {
                            vm.fetchConfig();
                            vm.buttonInfo.buttonText = "添加";
                            vm.buttonInfo.isAdd = true;
                            vm.ConfigModel.Url = '';
                        }
                    });



                }
            },
            Search: function (num) {
                switch (num) {
                    case 1:
                        this.pageIndex = 1;
                        break;
                    case 2:
                        this.pageIndex = (this.pageIndex <= 1) ? 1 : this.pageIndex-1;
                        break;
                    case 3:
                        this.pageIndex = (this.pageIndex >= this.totalPage) ? this.totalPage : this.pageIndex+1;
                        break;
                    case 4:
                        this.pageIndex = this.totalPage;
                        break;
                }
                this.fetchConfig();
            }
        }
    })
</script>