@{
    ViewBag.Title = "ES查询";
}

<!DOCTYPE html>

<script src="/Scripts/jquery.jsonview.js"></script>
<link href="/Styles/jquery.jsonview.css" rel="stylesheet" />
<style>
    html, body {
        height: 100%;
        color: #d0d0d0;
        font-weight: 300;
        font-size: 12px;
    }

    .floor-table {
        margin-top: 20px;
        display: inline-block;
        width: 100%;
        background-color: #444;
    }

    .form-label {
        color: #d0d0d0;
    }

    .form-control {
        background: #333;
        border: 1px solid #444;
        color: #999;
    }

    input, textarea,select {
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 5px;
        margin-top: 10px;
    }
    .div-inline {
        display: inline
    }
</style>

<div class="floor-table">
    <div style="padding: 15px;float: left;width:45%">
        <div style="display:block;">
            <div style="float:left">
                <h4 style="font-size: 16px;">
                    <a>request</a>                 
                </h4>
            </div>

            <div>
                <form style="display:inline" method="post" name="SubEs" enctype="multipart/form-data"
                      action=@Url.Action("SubmitEsQuery")>                           
                        <br/><br /><br /><br /><br/>
                        <div style="width:60%;float:left">
                            @Html.TextBox("esIndex", "", new { placeholder = "输入索引，/开头；eg: /productcatalog/_search" })
                        </div>
                        <div style="width:15%;float:left;margin-left:10px">
                            <select id="method" style="height:80%;">
                                <option value="POST">POST</option>
                                <option selected="selected">GET</option>
                                <option value="PUT">PUT</option>
                                <option value="DELETE">DELETE</option>
                            </select>
                        </div>                                                                         
                    <div>
                        @Html.TextArea("esJson", "", new { placeholder = "输入查询json;提示：索引与json请求可以在IElasticClient.Query执行后由virsualStudio的OutPut中得到", Style = "min-height:300px" })
                    </div>
                    <div >
                        <input type="button" id="jsFormat" onclick="FormatRequest()" style="width:100px" value="格式化" />
                        <input type="button" id="submit" onclick="EsQuery();submitEvent();" style="width:100px" value="发送" />                      
                    </div>
                    <div >
                        <div style="float:left;">
                            <input type="button" onclick="hisSearch.style.display=hisSearch.style.display==''?'none':'' " style="width:100px;" value="浏览记录" />
                        </div>
                        <div style="float:left;padding:10px">
                            <table id="hisSearch"></table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="padding: 15px;float: left;width:45%;box-sizing: border-box;">
        <div style="display:block;">
            <h4 style="font-size: 16px;">
                <a>Response</a>
            </h4>
            <div id="responseResult" style="background-color:white;height:500px;overflow :auto">
            </div>
        </div>
    </div>
</div>
<script> 
               /****************     The function below is about date formating    *****************/
    Date.prototype.format = function (format) {
        var o = {
            "M+": this.getMonth() + 1, //month
            "d+": this.getDate(), //day
            "h+": this.getHours(), //hour
            "m+": this.getMinutes(), //minute
            "s+": this.getSeconds(), //second
            "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
            "S": this.getMilliseconds() //millisecond
        };
        if (/(y+)/.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
            }
        }
        return format;
    };
                   /***********    The function  is used to record what you did!     ***************/
    function submitEvent() {     
        var table = document.getElementById("hisSearch");
        var exeObj = new Date();
        var exeTime = exeObj.format("hh:mm:ss");
        var tTextarea = document.getElementById("esJson").value;
        var esIndex = document.getElementById("esIndex").value;
            var esMethod = document.getElementById("method").value;
            var tRow = table.insertRow(0);             
            for (var i = 0; i < 3; i++)
            { 
                tRow.title = tTextarea;
                if (i == 0){
                    var td = tRow.insertCell(i);
                    td.innerHTML = exeTime;
                }
                if (i == 1) {
                    var td = tRow.insertCell(i);
                    td.innerText = esIndex;
                }
                if (i == 2) {
                    var td = tRow.insertCell(i);
                    td.innerHTML = esMethod; 
                }
            }
            tRow.onclick = function () {
                document.getElementById("esIndex").value = this.cells[1].innerText;
                document.getElementById("method").value = this.cells[2].innerHTML;
                document.getElementById("esJson").value = this.title;
            }
    }

    function loadJson(json) {
        $("#responseResult").JSONView(json);

        $("#json-collapsed").JSONView(json, { collapsed: true, nl2br: true });

        $('#collapse-btn').on('click', function () {
            $('#json').JSONView('collapse');
        });

        $('#expand-btn').on('click', function () {
            $('#json').JSONView('expand');
        });

        $('#toggle-btn').on('click', function () {
            $('#json').JSONView('toggle');
        });

        $('#toggle-level1-btn').on('click', function () {
            $('#json').JSONView('toggle', 1);
        });

        $('#toggle-level2-btn').on('click', function () {
            $('#json').JSONView('toggle', 2);
        });
    }

    function format(txt, compress/*是否为压缩模式*/) {/* 格式化JSON源码(对象转换为JSON文本) */
        var indentChar = '    ';
        if (/^\s*$/.test(txt)) {
            alert('数据为空,无法格式化! ');
            return;
        }
        try { var data = eval('(' + txt + ')'); }
        catch (e) {
            alert('数据源语法错误,格式化失败! 错误信息: ' + e.description, 'err');
            return;
        };
        var draw = [], last = false, This = this, line = compress ? '' : '\n', nodeCount = 0, maxDepth = 0;

        var notify = function (name, value, isLast, indent/*缩进*/, formObj) {
            nodeCount++;/*节点计数*/
            for (var i = 0, tab = ''; i < indent; i++) tab += indentChar;/* 缩进HTML */
            tab = compress ? '' : tab;/*压缩模式忽略缩进*/
            maxDepth = ++indent;/*缩进递增并记录*/
            if (value && value.constructor == Array) {/*处理数组*/
                draw.push(tab + (formObj ? ('"' + name + '":') : '') + '[' + line);/*缩进'[' 然后换行*/
                for (var i = 0; i < value.length; i++)
                    notify(i, value[i], i == value.length - 1, indent, false);
                draw.push(tab + ']' + (isLast ? line : (',' + line)));/*缩进']'换行,若非尾元素则添加逗号*/
            } else if (value && typeof value == 'object') {/*处理对象*/
                draw.push(tab + (formObj ? ('"' + name + '":') : '') + '{' + line);/*缩进'{' 然后换行*/
                var len = 0, i = 0;
                for (var key in value) len++;
                for (var key in value) notify(key, value[key], ++i == len, indent, true);
                draw.push(tab + '}' + (isLast ? line : (',' + line)));/*缩进'}'换行,若非尾元素则添加逗号*/
            } else {
                if (typeof value == 'string') value = '"' + value + '"';
                draw.push(tab + (formObj ? ('"' + name + '":') : '') + value + (isLast ? '' : ',') + line);
            };
        };
        var isLast = true, indent = 0;
        notify('', data, isLast, indent, false);
        return draw.join('');
    }

    function FormatRequest() {
        var area = $("#esJson")[0];
        var result = format(area.value);
        area.value = result;
    }

    function EsQuery() {
        $("#responseResult")[0].value = "";
        $.ajax({
            url: "/EsQuery/SubmitEsQuery",
            data: { "method":$("#method").find("option:selected").text(),"esIndex": $("#esIndex").val(), "esJson": $("#esJson").val() },
            type: "POST",
            async: false,
            success: function (result) {
                var reusltJson = result;
                //$("#submit").removeAttr("disabled").next().css("visibility", "hidden");
                var message = JSON.stringify(reusltJson.result);
                if (reusltJson.isSuccess) {
                    loadJson((message));
                }
                else {
                    loadJson(message);
                }
            },
            error: function (ajax) {
                //$("#submit").removeAttr("disabled").next().css("visibility", "hidden");
                if (ajax.status == 200)
                    success(JSON.parse(ajax.responseText));
                else if (ajax.status > 0) {
                    alert("查询失败！");
                }
            }
        });
    }
</script>
