@{
    ViewBag.Title = "喷漆打折配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>喷漆打折配置</h2>
<link href="~/Content/iview/iview.css" rel="stylesheet" />
<link href="~/Content/Public/Public.css" rel="stylesheet" type="text/css" />
<link href="~/Content/BaoYangActivitySetting/Vue.css" rel="stylesheet" type="text/css" />
<style>
    fieldset {
        height: auto;
        margin: 5px 0px 15px 0px;
        padding: 15px 20px;
    }

        fieldset > label {
            display: inline-block;
            height: 30px;
            max-width: 100%;
            font-weight: bold;
            margin-left: 10px;
        }

    table > tbody > tr > td {
        word-break: break-all;
    }
</style>
<div id="div" v-cloak>
    <fieldset>
        <label>选择产品:</label>
        <i-select style="width:10%" v-model="searchData.servicePid" filterable>
            <i-option value="" key="">-请选择-</i-option>
            <i-option v-for="service in services" :value="service.ServicePid" :key="service.ServicePid">{{service.ServicePid}}</i-option>
        </i-select>
        <Button type="button" class="btn btn-basic" v-on:click="Search(1)">查询</Button>
        <Button type="button" class="btn btn-basic" v-on:click="OpenAddDialog()">添加</Button>
        <Button type="button" class="btn btn-basic" v-on:click="RefreshCache()">刷新服务缓存</Button>
        <Tooltip style="margin-left:15px;" placement="right">
            <Icon type="alert"></Icon>
            <div style="width:300px;" slot="content">
                <p>1.同Pid、同面数 只允许存在一条记录</p>
            </div>
        </Tooltip>
        <div style="margin-top:15px;display:flex;float:right;">
            <Upload :before-upload="HandleExcelUpload"
                    action="UploadExcel" accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'>
                <Button type="button" class="btn btn-basic">导入Excel文件</Button>
            </Upload>
            <div v-if="excelFile !== null">
                上传文件: {{ excelFile.name }}
                <Button type="button" class="btn btn-primary" v-on:click="ExcelUpload" :loading="uploadExcelStatus">
                    {{ uploadExcelStatus ? '上传中' : '点击上传' }}
                </Button>
            </div>
            <Button type="button" class="btn btn-basic" style="margin-left:20px;height:35px;">
                @Html.ActionLink("导出数据", "ExportExcel")
            </Button>
            <Button type="button" class="btn btn-basic" style="height:35px;margin-left:15px;" v-on:click="OpenMultEditDialog()">批量编辑活动图片</Button>
        </div>
    </fieldset>
    <table class="tableContainer">
        <thead>
            <tr>
                <th><input type="checkbox" v-model="checkAllFlag" v-on:click="CheckAll()" />编号</th>
                <th>PID</th>
                <th>面数</th>
                <th>活动价</th>
                <th>权益名称</th>
                <th>活动说明</th>
                <th>活动图片</th>
                <th>操作</th>
                <th>操作日志</th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="loading">
                <td colspan="20"><img src="~/Images/loading.gif" /></td>
            </tr>
            <tr v-else-if="searchResult != []" v-for="(value,index) in searchResult">
                <td><input type="checkbox" v-model="multEditModel" v-bind:value="value" />{{(pager.pageIndex-1)*pager.pageSize+index+1}}</td>
                <td>{{value.ServicePid}}</td>
                @*<td>{{value.ServiceName}}</td>*@
                <td>{{value.SurfaceCount}}</td>
                <td>{{value.ActivityPrice}}</td>
                <td>{{value.ActivityName}}</td>
                <td>{{value.ActivityExplain}}</td>
                <td>{{value.ActivityImage}}</td>
                <td style="white-space:nowrap;">
                    <Button type="button" class="btn btn-basic" style="width:60px" v-on:click="OpenEditDialog(value)">编辑</Button>
                    <Button type="button" class="btn btn-danger" style="width:60px;margin-left:5px" v-on:click="Delete(value)">删除</Button>
                </td>
                <td>
                    <Button type="button" class="btn btn-basic" style="width:60px" v-on:click="WatchHistroy(value)">查看</Button>
                </td>
            </tr>
            <tr v-else>
                <td colspan="20">根据筛选条件未能查询到相关结果</td>
            </tr>
        </tbody>
    </table>
    <Page style="margin:10px;" :total="pager.totalCount" :current.sync="pager.pageIndex" :page-size="pager.pageSize" show-total></Page>
    @*添加或编辑的对话框*@
    <Modal v-model="addOrEditDialog.show" :mask-closable="false" v-on:on-cancel="CloseAddOrEditDialog" width="500px">
        <p slot="header" style="color:#f60;text-align:center">
            <span v-if="addOrEditDialog.type==='MultEdit'">批量编辑图片</span>
            <span v-else-if="addOrEditDialog.type==='Add'">添加</span>
            <span v-else="addOrEditDialog.type==='Edit'">编辑</span>
        </p>
        <div style="text-align:center">
            @*批量编辑图片*@
            <table v-if="addOrEditDialog.type==='MultEdit'">
                <tr>
                    <th>活动图片:</th>
                    <td style="text-align:left;">
                        <img v-bind:src="model.ActivityImage" style="width:100px;height:100px;" />
                        <Upload :before-upload="ImgUpload"
                                action="/Article/AddArticleImg2" accept='image/*' :format="['jpg','jpeg','png']">
                            <Button type="button" class="btn btn-primary" :loading="uploadImgStatus">
                                {{ uploadImgStatus ? '上传中' : '选择图片' }}
                            </Button>
                            <span style="color:red;"> (540*710)</span>
                        </Upload>
                        <div v-if="imgFile !== null">
                            已上传图片: {{ imgFile.name }}
                        </div>
                        <p>
                            <textarea style="width:95%;" v-model="model.ActivityImage">{{model.ActivityImage || ""}}</textarea>
                        </p>
                    </td>
                </tr>
            </table>
            @*添加或编辑*@
            <table v-else>
                <tr>
                    <th>选择产品:</th>
                    <td style="text-align:left;" v-if="addOrEditDialog.type==='Add'">
                        <i-select style="width:60%" v-model="model.ServicePid" filterable>
                            <i-option v-for="service in services" :value="service.ServicePid" :key="service.ServicePid">{{service.ServicePid}}</i-option>
                        </i-select>
                    </td>
                    <td style="text-align:left;" v-else-if="addOrEditDialog.type==='Edit'">
                        {{model.ServicePid}}
                    </td>
                </tr>
                <tr>
                    <th>面数:</th>
                    <td style="text-align:left;" v-if="addOrEditDialog.type==='Add'">
                        <input type="number" v-model.number="model.SurfaceCount" />
                    </td>
                    <td style="text-align:left;" v-else-if="addOrEditDialog.type==='Edit'">
                        {{model.SurfaceCount}}
                    </td>
                </tr>
                <tr>
                    <th>活动价:</th>
                    <td style="text-align:left;">
                        <input type="number" v-model.number="model.ActivityPrice" />
                    </td>
                </tr>
                <tr>
                    <th>权益名称:</th>
                    <td style="text-align:left;">
                        <input v-model="model.ActivityName" />
                    </td>
                </tr>
                <tr>
                    <th>
                        活动说明:
                    </th>
                    <td style="text-align:left;">
                        <input v-model="model.ActivityExplain" />
                    </td>
                </tr>
                <tr>
                    <th>活动图片:</th>
                    <td style="text-align:left;">
                        <img v-bind:src="model.ActivityImage" style="width:100px;height:100px;" />
                        <Upload :before-upload="ImgUpload"
                                action="/Article/AddArticleImg2" accept='image/*' :format="['jpg','jpeg','png']">
                            <Button type="button" class="btn btn-primary" :loading="uploadImgStatus">
                                {{ uploadImgStatus ? '上传中' : '选择图片' }}
                            </Button>
                            <span style="color:red;"> (540*710)</span>
                        </Upload>
                        <div v-if="imgFile !== null">
                            已上传图片: {{ imgFile.name }}
                        </div>
                        <p>
                            <textarea style="width:95%;" v-model="model.ActivityImage">{{model.ActivityImage || ""}}</textarea>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div slot="footer">
            <Button v-if="addOrEditDialog.type==='Add'" type="button" class="btn btn-basic" v-on:click="Add()">保存</Button>
            <Button v-else-if="addOrEditDialog.type==='Edit'" type="button" class="btn btn-basic" v-on:click="Edit()">保存</Button>
            <Button v-else="addOrEditDialog.type==='MultEdit'" type="button" class="btn btn-basic" v-on:click="MultEdit()">保存</Button>
            <Button type="button" class="btn btn-basic" v-on:click="CloseAddOrEditDialog()">取消</Button>
        </div>
    </Modal>

    @*查看日志对话框*@
    <Modal v-model="showLog.show" :mask-closable="false" width="40%">
        <p slot="header">
            <span>操作历史</span>
        </p>
        <div style="text-align:center">
            <table>
                <thead>
                    <tr>
                        <th>操作人</th>
                        <th>操作类型</th>
                        <th>时间</th>
                        <th>操作</th>
                        <th>查看前后值对比</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-show="showLog.logs.length>0" v-for="log in showLog.logs">
                        <td>{{log.Operator}}</td>
                        <td>{{log.OperationType}}</td>
                        <td>{{log.CreateDateTime | DatePrase}}</td>
                        <td>{{log.Remarks}}</td>
                        <td>
                            <Button type="button" class="btn btn-basic" style="width:60px" v-on:click="WatchLogDetail(log.OldValue,log.NewValue)">查看</Button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div slot="footer">
            <Button type="button" class="btn btn-basic" v-on:click="showLog.show=false">关闭</Button>
        </div>
    </Modal>

    @*日志详情对话框*@
    <Modal v-model="showLog.detail.show" :mask-closable="false" width="40%">
        <p slot="header">
            <span>日志详情</span>
        </p>
        <div style="text-align:center">
            <table>
                <thead>
                    <tr>
                        <th>列名</th>
                        <th>操作前值</th>
                        <th>操作后值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-show="showLog.detail.logProperty.length>0" v-for="property in showLog.detail.logProperty">
                        <td>{{property}}</td>
                        <td v-if="showLog.detail.oldValue!=null">{{showLog.detail.oldValue[property]}}</td>
                        <td v-else></td>
                        <td v-if="showLog.detail.newValue!=null">{{showLog.detail.newValue[property]}}</td>
                        <td v-else></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div slot="footer">
            <Button type="button" class="btn btn-basic" v-on:click="showLog.detail.show=false">关闭</Button>
        </div>
    </Modal>
</div>
<script src="~/Scripts/vue.min.js"></script>
<script src="~/Scripts/iview/iview.js"></script>
<script type="text/javascript">
    function DatePrase(value) {
        if (value) {
            return eval('new ' + eval(value).source).Format('yyyy-MM-dd hh:mm:ss');
        }
    };
    Vue.filter('DatePrase', DatePrase);
    var vue = new Vue({
        el: "#div",
        data: {
            services: [],
            searchData: {
                servicePid: "",
            },
            pager: {
                pageIndex: 1,
                pageSize: 20,
                totalPage: 0,
                totalCount: 0
            },
            model: {
            },
            loading: false,
            searchResult: [],
            addOrEditDialog: {
                show: false,
                type: ""
            },
            showLog: {
                show: false,
                logs: [],
                detail: {
                    show: false,
                    oldValue: "",
                    newValue: "",
                    logProperty: []
                }
            },
            checkAllFlag: false,
            multEditModel: [],
            excelFile: null,
            imgFile: null,
            uploadExcelStatus: false,
            uploadImgStatus: false
        },
        created: function () {
            var self = this;
            self.Search(self.pager.pageIndex);
            self.GetAllPaintDiscountService();
            self.$Notice.config({
                top: 180,
                duration: 5
            });
        },
        watch: {
            "pager.pageIndex": function () {
                var self = this;
                self.Search(self.pager.pageIndex);
            },
            "multEditModel": function () {
                var self = this;
                if (self.multEditModel.length == self.searchResult.length && self.multEditModel.length > 0) {
                    self.checkAllFlag = true;
                }
                else {
                    self.checkAllFlag = false;
                }
            }
        },
        methods: {
            //获取所有产品
            GetAllPaintDiscountService: function () {
                var self = this;
                $.post("GetAllPaintDiscountService", function (result) {
                    if (result.Status) {
                        self.services = result.Data;
                    }
                });
            },
            //查询配置
            Search: function (pageIndex) {
                var self = this;
                self.loading = true;
                self.pager.pageIndex = pageIndex;
                self.multEditModel = [];
                $.post("SelectPaintConfig", {
                    servicePid: self.searchData.servicePid, pageIndex: self.pager.pageIndex, pageSize: self.pager.pageSize
                }, function (result) {
                    if (result.Status) {
                        self.searchResult = result.Data;
                        self.pager.totalCount = result.TotalCount;
                    }
                    else {
                        self.$Notice.error({
                            title: '查询失败',
                            desc: ("查询失败!" + (result.Msg || "")),
                            duration: 0
                        });
                        self.searchResult = [];
                    }
                    self.loading = false;
                });
            },
            //打开添加对话框
            OpenAddDialog: function (item) {
                var self = this;
                self.imgFile = null;
                self.model = {
                    PKID: 0,
                    ServicePid: "",
                    ServiceName: "",
                    SurfaceCount: 0,
                    ActivityPrice: 0,
                    ActivityName: "",
                    ActivityExplain: "",
                    ActivityImage: "",
                };
                self.addOrEditDialog.type = "Add";
                self.addOrEditDialog.show = true;
            },
            //打开编辑对话框
            OpenEditDialog: function (item) {
                var self = this;
                self.imgFile = null;
                self.model = JSON.parse(JSON.stringify(item));
                self.addOrEditDialog.type = "Edit";
                self.addOrEditDialog.show = true;
            },
            //打开批量编辑对话框
            OpenMultEditDialog: function () {
                var self = this;
                self.imgFile = null;
                self.model = {
                    PKID: 0,
                    ServicePid: "",
                    ServiceName: "",
                    SurfaceCount: 0,
                    ActivityPrice: 0,
                    ActivityName: "",
                    ActivityExplain: "",
                    ActivityImage: "",
                };
                if (self.multEditModel && self.multEditModel.length > 0) {
                    self.addOrEditDialog.type = "MultEdit";
                    self.addOrEditDialog.show = true;
                }
                else {
                    self.$Notice.info({
                        title: '请勾选记录',
                        desc: "未勾选任何记录",
                        duration: 0
                    });
                }
            },
            CheckAll: function () {
                var self = this;
                self.multEditModel = [];
                if (self.checkAllFlag) {
                    self.searchResult.forEach(function (item) {
                        self.multEditModel.push(item);
                    });
                }
            },
            //关闭对话框
            CloseAddOrEditDialog: function () {
                var self = this;
                self.addOrEditDialog.show = false;
            },
            //添加配置
            Add: function () {
                var self = this;
                var model = self.model;
                if (!model.ServicePid) {
                    self.$Notice.warning({
                        title: '警告',
                        desc: "请选择产品",
                        duration: 0
                    });
                    return;
                }
                if (!(model.SurfaceCount > 0)) {
                    self.$Notice.warning({
                        title: '警告',
                        desc: "请选择面数",
                        duration: 0
                    });
                    return;
                }
                if (!confirm("是否确认添加 " + model.ServicePid + "下" + model.SurfaceCount + " 的配置 ? ")) {
                    return;
                }
                if (!self.CheckPaintConfig(model)) {
                    return;
                }
                $.post("AddPaintConfig", { model: model }, function (result) {
                    if (result && result.Status) {
                        self.$Notice.success({
                            title: '添加成功',
                            desc: ("添加成功!" + (result.Msg || "")),
                            duration: 0
                        });
                        self.CloseAddOrEditDialog();
                        setTimeout(function () { self.Search(self.pager.pageIndex) }, 2000);
                    }
                    else {
                        self.$Notice.error({
                            title: '添加失败',
                            desc: ("添加失败!" + (result.Msg || "")),
                            duration: 0
                        });
                    }
                });
            },
            //编辑配置
            Edit: function () {
                var self = this;
                var model = self.model;
                if (!confirm("是否确认更新 " + model.ServicePid + "的" + model.SurfaceCount + " 配置 ? ")) {
                    return;
                }
                if (!self.CheckPaintConfig(model)) {
                    return;
                }
                $.post("UpdatePaintConfig", { model: model }, function (result) {
                    if (result && result.Status) {
                        self.$Notice.success({
                            title: '编辑成功',
                            desc: ("编辑成功!" + (result.Msg || "")),
                            duration: 0
                        });
                        self.CloseAddOrEditDialog();
                        setTimeout(function () { self.Search(self.pager.pageIndex) }, 2000);
                    }
                    else {
                        self.$Notice.error({
                            title: '编辑失败',
                            desc: ("编辑失败!" + (result.Msg || "")),
                            duration: 0
                        });
                    }
                });
            },
            //批量编辑图片
            MultEdit: function () {
                var self = this;
                if (self.multEditModel && self.multEditModel.length > 0) {
                    console.log(self.multEditModel);
                    var models = self.multEditModel.filter(function (x) {
                        return (Boolean(x.ServicePid)) && (x.SurfaceCount > 0);
                    }).map(function (x) { return x; });//确保servicePid和surfaceCount有效
                    $.post("MultUpdatePaintConfig",
                        { models: models, activityImage: self.model.ActivityImage }, function (result) {
                            if (result && result.Status) {
                                self.$Notice.success({
                                    title: '批量编辑成功',
                                    desc: ("批量编辑成功!" + (result.Msg || "")),
                                    duration: 0
                                });
                                setTimeout(function () { self.Search(self.pager.pageIndex) }, 2000);
                                self.CloseAddOrEditDialog();
                            }
                            else {
                                self.$Notice.error({
                                    title: '批量编辑失败',
                                    desc: ("批量编辑失败!" + (result.Msg || "")),
                                    duration: 0
                                });
                            }
                        });
                }
            },
            //删除配置
            Delete: function (item) {
                var self = this;
                if (!item || !item.ServicePid || item.SurfaceCount < 1) {
                    return;
                }
                if (!confirm("确认删除PID： " + item.ServicePid + ",面数:" + item.SurfaceCount + " 的配置?")) {
                    return;
                }
                $.post("DeletePaintConfig",
                    { model: item }, function (result) {
                        if (result && result.Status) {
                            self.$Notice.success({
                                title: '删除成功',
                                desc: ("删除成功!" + (result.Msg || "")),
                                duration: 0
                            });
                            setTimeout(function () { self.Search(self.pager.pageIndex) }, 2000);
                        }
                        else {
                            self.$Notice.error({
                                title: '删除失败',
                                desc: ("删除失败!" + (result.Msg || "")),
                                duration: 0
                            });
                        }
                    });
            },
            //手动上传模式
            HandleExcelUpload(excelFile) {
                var self = this;
                self.excelFile = excelFile;
                return false;
            },
            //上传Excel文件
            ExcelUpload() {
                var self = this;
                self.uploadExcelStatus = true;
                var formData = new FormData();
                formData.append("excelFile", self.excelFile);
                $.ajax({
                    url: 'UploadExcel',
                    type: "post",
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        self.uploadExcelStatus = false;
                        self.excelFile = null;
                        if (result.Status) {
                            setTimeout(function () { self.Search(self.pager.pageIndex) }, 2000);
                            self.$Notice.success({
                                title: '上传成功',
                                desc: ("上传成功!" + (result.Msg || "")),
                                duration: 0
                            });
                        }
                        else {
                            self.$Notice.error({
                                title: '上传失败',
                                desc: ("上传失败!" + (result.Msg || "")),
                                duration: 0
                            });
                        }
                    },
                    error: function (result) {
                        self.uploadExcelStatus = false;
                        self.$Notice.error({
                            title: '上传失败',
                            desc: ("上传失败!" + (result.Msg || "")),
                            duration: 0
                        });
                    }
                });
            },
            //上传模式图片
            ImgUpload: function (imgFile) {
                var self = this;
                self.uploadImgStatus = true;
                self.imgFile = imgFile;
                var formData = new FormData();
                formData.append("imgFile", self.imgFile);
                $.ajax({
                    url: '/Article/AddArticleImg2',
                    type: "post",
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (rsp) {
                        self.uploadImgStatus = false;
                        self.model.ActivityImage = rsp.SImage;
                    },
                    error: function (rsp) {
                        self.uploadImgStatus = false;
                        self.$Notice.error({
                            title: '上传失败',
                            desc: ("上传图片失败!" + (rsp.Msg || "")),
                            duration: 0
                        });
                    }
                });
                return false;//阻止自动上传以避免重复上传
            },
            //查看操作记录
            WatchHistroy: function (item) {
                var self = this;
                if (item && item.ServicePid && item.SurfaceCount) {
                    $.post("GetPaintDiscountOprLog", { servicePid: item.ServicePid, surfaceCount: item.SurfaceCount }, function (result) {
                        if (result && result.Status) {
                            self.showLog.logs = result.Data;
                            self.showLog.show = true;
                        }
                    });
                }
            },
            //查看单条日志详情
            WatchLogDetail: function (oldValue, newValue) {
                var self = this;
                var oldObj = /^\s*$/.test(oldValue) ? null : JSON.parse(oldValue);
                var newObj = /^\s*$/.test(newValue) ? null : JSON.parse(newValue);
                var obj = oldObj || newObj;
                var keys = [];
                for (var property in obj) {
                    if (obj.hasOwnProperty(property)) {
                        keys[keys.length] = property;
                    }
                }
                self.showLog.detail.oldValue = oldObj;
                self.showLog.detail.newValue = newObj;
                self.showLog.detail.logProperty = keys;
                self.showLog.detail.show = true;
            },
            //刷新服务缓存
            RefreshCache: function () {
                var self = this;
                $.post("RefreshPaintDiscountPaintCache", {}, function (result) {
                    if (result && result.Status) {
                        self.$Notice.info({
                            title: '缓存提示',
                            desc: "刷新服务缓存成功!<br/>此消息将自动关闭"
                        });
                    }
                    else {
                        self.$Notice.error({
                            title: '缓存提示',
                            desc: "刷新服务缓存失败",
                            duration: 0
                        });
                    }
                });
            },
            //添加或编辑是数据校验
            CheckPaintConfig: function (model) {
                var self = this;
                var errorMessage = "";
                if (!model) {
                    errorMessage = "未知的对象";
                }
                else if (!model.ServicePid) {
                    errorMessage = "请选择产品";
                }
                else if (!parseInt(model.SurfaceCount) || model.SurfaceCount < 0) {
                    errorMessage = "请选择面数";
                }
                else if (!parseFloat(model.ActivityPrice) || model.ActivityPrice < 0) {
                    errorMessage = "活动价格须大于0";
                }
                else if (!model.ActivityName) {
                    errorMessage = "权益名称不能为空";
                }
                else if (!model.ActivityImage) {
                    errorMessage = "活动图片不能为空";
                }
                if (errorMessage) {
                    self.$Notice.warning({
                        title: '警告',
                        desc: errorMessage,
                        duration: 0
                    });
                    return false;
                }
                else {
                    return true;
                }
            }
        }
    })
</script>
