@model Tuhu.Provisioning.DataAccess.Entity.PromotionTask

<style>
    table {
        border: 0;
    }

    #divFilter {
        border: dashed 1px red;
    }
</style>
<form method="post">
    <div>
        <table>
            <tr>
                <td>
                    <label>优惠券RuleID:</label>
                </td>
                <td colspan="3">
                    <input type="text" id="ruleId" />
                    <label id="promotionType"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>优惠券描述:</label>
                </td>
                <td colspan="3">
                    <input type="text" id="promotionDescription" hin />
                </td>
            </tr>
            <tr>
                <td>
                    <label>优惠券类型:</label>
                </td>
                <td colspan="3">
                    @Html.EditorFor(m=>m.TaskType, "RadioButtonListEnum")

                </td>
            </tr>
            <tr>
                <td>
                    <label>开始时间</label>
                </td>
                <td>
                    <input type="datetime" id="taskStartTime" />
                </td>
                <td>
                    结束时间:
                    <input type="datetime" id="taskEndTime" />
                </td>
                <td>
                    执行周期:
                    每<input type="number" id="execPreoid" style="display:none" />天
                </td>
            </tr>
            <tr>
                <td>
                    <label>使用金额:</label>
                </td>
                <td>
                    <input type="number" id="useMoney" />
                </td>
                <td colspan="2">
                    优惠金额:<input type="number" id="discountMoney" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <input type="text" id="userInfoFile" />
                </td>
                <td>
                    <input type="button" value="选择文件" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <div id="divFilter">
                        <div>
                            <label>开始时间:</label>
                            <input type="text" id="filterStartTime" />
                            <label>结束时间:</label>
                            <input type="text" id="filterEndTime" />
                            <input type="button" id="btnFilterTime" value="添加" />
                        </div>

                        <div>
                            <label>产品信息:</label>
                            <select id="selectProductInfo">
                                <option>品牌</option>
                                <option>类别</option>
                                <option>PID</option>
                                <option>购买金额</option>
                                <option>购买件数</option>
                            </select>
                            <input type="text" id="productInfo" />
                            <input type="button" id="btnProductInfo" value="添加" />
                        </div>

                        <div>
                            <label>订单信息:</label>
                            <select id="selectOrderInfo">
                                <option>地区</option>
                                <option>渠道</option>
                                <option>订单类型</option>
                                <option>订单状态</option>
                            </select>
                            <input type="text" id="orderInfo" />
                            <input type="button" id="btnOrderInfo" value="添加" />
                        </div>

                        <div>
                            <label>车型信息</label>
                            <select id="selectVehicleInfo"></select>
                            <input type="text" id="vehicleInfo" />
                            <input type="button" id="btnVehicleInfo" value="添加" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#ruleId").on("input", function () {
            $.post("/Promotion/GetPromotionRuleName", { "promotionRuleId": $("#ruleId").val() }, function (data) {
                $("#promotionType").html(data);
            }, "HTML");
        });
    });
</script>