@using Tuhu.Provisioning.DataAccess.Entity
@model  PromotionModel
@{
    ViewBag.Title = "保养塞券";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title></title>
    <style>
        #main{
            padding: 0;
        }
        ._content {
            background: #fff;
            position: relative;
        }

        .title {
            text-align: center;
            line-height: 3em;
            background: #eee;
            margin-bottom: 30px;
        }

        .form-box {
            text-align: center;
        }

            .form-box .form {
                padding: 0;
            }

                .form-box .form .item {
                    line-height: 4em;
                    list-style: none;
                }

                .form-box .form label {
                    width: 7rem;
                    display: inline-block;
                    text-align: right;
                }

                .form-box .form .item > span {
                    min-width: 10rem;
                    width: 20%;
                    display: inline-block;
                    text-align: left;
                }

                .form-box .form label span {
                    padding-left: 5px;
                }

                .form-box .form span .el-icon-date {
                    color: #999;
                    padding-right: 10px;
                }

        .el-input {
            min-width: 10rem;
            width: 20%;
            position: relative;
            display: inline-block;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }

        .date-box {
            margin: 0 auto;
            width: 15rem;
        }

        input {
            border: 1px solid #dcdfe6;
            box-sizing: border-box;
            color: #606266;
            display: inline-block;
            font-size: inherit;
            height: 40px;
            outline: 0;
            padding: 0 30px 0 15px;
            border-radius: 4px;
            width: 100%;
        }

            input:focus {
                border-color: #409EFF;
                outline: 0;
            }

        .el-input__suffix-inner {
            right: 5px;
            transition: all .3s;
            position: absolute;
            top: 0;
            height: 100%;
            color: #c0c4cc;
            text-align: center;
        }

        .btn-group {
            text-align: center;
            margin-top: 20px;
        }

            .btn-group .ok {
                display: inline-block;
                margin-right: 1rem;
                cursor: pointer;
                color: #fff;
                background-color: #409eff;
                padding: 10px 20px;
                font-size: 14px;
                border-radius: 4px;
            }

            .btn-group .clear {
                display: inline-block;
                cursor: pointer;
                color: #409eff;
                background: #ecf5ff;
                padding: 10px 20px;
                border: 1px solid #b3d8ff;
                font-size: 14px;
                border-radius: 4px;
            }
            .btn-group .el-icon{
                margin-right: 5px;
            }
        .cover {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.3);
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
        .cover.show{
            display: flex;
        }
        .hint {
            width: 30%;
            min-width: 300px;
            line-height: 2em;
            background: #fff;
            text-align: center;
            padding: 20px 0;
            border-radius: 10px;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="_content">
        <div class="title">保养定价补单塞券</div>
        <div class="form-box">
            <ul class="form">
                <li class="item">
                    <label>优惠券RuleId：</label>
                    <span>保养券（限到店订单） 23</span>
                </li>
                <li class="item">
                    <label for="phone">手机号码：</label>
                    <div class="el-input el-input--suffix">
                        <input id="phone" class="input" type="number" placeholder="请输入" onkeypress="return /[\d]/.test(String.fromCharCode(event.keyCode))">
                        <span class="el-input__suffix-inner"><i class="el-input__icon el-icon-edit"></i></span>
                    </div>
                </li>
                <li class="item">
                    <label for="description">优惠券描述：</label>
                    <div class="el-input el-input--suffix">
                        <input id="description" class="input" placeholder="请输入">
                        <span class="el-input__suffix-inner"><i class="el-input__icon el-icon-edit"></i></span>
                    </div>
                </li>
                <li class="item">
                    <label for="usage-money">使用金额：</label>
                    <div class="el-input el-input--suffix">
                        <input id="usage-money" class="input" type="number" placeholder="请输入" onkeypress="return /[\d]/.test(String.fromCharCode(event.keyCode))">
                        <span class="el-input__suffix-inner"><i class="el-input__icon el-icon-edit"></i></span>
                    </div>
                </li>
                <li class="item">
                    <label for="discounts-money">优惠金额：</label>
                    <div class="el-input el-input--suffix">
                        <input id="discounts-money" class="input" type="number" placeholder="请输入" onkeypress="return /[\d]/.test(String.fromCharCode(event.keyCode))">
                        <span class="el-input__suffix-inner"><i class="el-input__icon el-icon-edit"></i></span>
                    </div>
                </li>
                <li class="item">
                    <label>开始时间：</label>
                    <span><i class="el-icon-date"></i><span id="start-time"></span></span>
                </li>
                <li class="item">
                    <label>结束时间：</label>
                    <span><i class="el-icon-date"></i><span id="end-time"></span></span>
                </li>
            </ul>
            <div class="btn-group">
                <div class="ok" onclick="submit()"><i class="el-icon el-icon-check"></i>确认</div>
                <div class="clear" onclick="clearData()"><i class="el-icon el-icon-delete"></i>清空</div>
            </div>
        </div>
    </div>
    <div class="cover">
        <div class="hint">提示信息</div>
    </div>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        $(function () {
            var usageTime = getDate();
            $('#start-time').text(usageTime)
            $('#end-time').text(usageTime)
        })
        function getDate(time) {
            let date = time ? new Date(time) : new Date()
            let month = date.getMonth() + 1
            month = month < 10 ? '0' + month : month
            let day = date.getDate()
            day = day < 10 ? '0' + day : day
            return date.getFullYear() + '-' + month + '-' + day
        }
        function alertHint(text) {
            var element = $('.cover')
            element.addClass('show')
            element.find('.hint').text(text)
            setTimeout(function () {
                element.removeClass('show')
            },1200)
        }
        function submit() {
            var inputArray = [].slice.call($('.input'))
            var fill = inputArray.every(element => {
                return $(element).val().length > 0
            })
            if (!fill) {
                alertHint('信息不完整')
                return false
            }
            if (!$('#phone').val().match(/^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/)) {
                alertHint('手机号不正确')
                return false
            }
            if ($('#description').val().length > 50) {
                alertHint('优惠券描述应在50字以内')
                return false
            }
            if (parseInt($('#usage-money').val()) < parseInt($('#discounts-money').val())) {
                alertHint('优惠金额不得大于使用金额')
                return false
            }
            var param = JSON.stringify({
                'RuleId': 23,
                'Phone': $('#phone').val(),
                'Description': $('#description').val(),
                'MinMoney': $('#usage-money').val(),
                'Discount': $('#discounts-money').val(),
                'StartTime': getDate(),
                'EndTime': getDate()
            })
            $.ajax({
                url: "/Promotion/SendCouponForBaoYang",
                type: "post",
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    alertHint(res.Msg)
                }
            })
        }
        function clearData() {
            var inputArray = [].slice.call($('.input'))
            inputArray.forEach(element => {
                $(element).val('')
            })
        }
    </script>
</body>
</html>
