<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
     <add name="dev254" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Aliyun" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <!--<add name="Gungnir" connectionString="8MwrrT/KsdzvqqDMJn8F2HCYscr+vz1kEfNKBAbwiG78CyCEedDXIdq3cweUZwiDINq/2NPQ4S7pTgQ4wDHqFqEeL8HBTklLaBuE6OKsEmE8Z9PF6ZlG10xEG6XHbFmK6JKvD1RX60yAD1/rarkDfA==" providerName="System.Data.SqlClient"/>-->
    <add name="Gungnir" connectionString="data source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=gungnirreader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="GungnirWorkFlow" connectionString="yxa7Sq5Xek31eh0ymNUdEztUhwPcu6cV4yVZsbWlt6VBLXj7EPBO2EZLcc11LhUsCzAbStW2yf6WEzuGZCFQziwVZmvDC3GSEpG8bMPL7wAYAnN7Zk8Pwgra/8L34uUw+kOCuuP/xPQI17FSmdbAjJQ==" providerName="System.Data.SqlClient" />
    <add name="GungnirConnectionString" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="StarterSite_productcatalogConnectionString" connectionString="data source=172.16.20.1\dev;Initial Catalog=Tuhu_productcatalog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="Gungnir_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="BaoYang_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=BaoYang;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="Tuhu_productcatalog_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=Tuhu_productcatalog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="SystemLogConnectionString" connectionString="data source=172.16.20.1\dev;Initial Catalog=SystemLog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="CacheReadOnly" connectionString="data source=172.16.20.1\dev;Initial Catalog=Cache;User ID=dbreader;Password=Lushanshenglong8" providerName="System.Data.SqlClient" />
    <add name="WmsReadOnly" connectionString="data source=172.16.20.1\dev;Initial Catalog=WMS;User ID=dbreader;Password=Lushanshenglong8" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Discovery_Db" connectionString="data source=172.16.20.1\dev;initial catalog=Discovery;user id=gungnirreader;password=itsme999;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Tuhu_log" connectionString="data source=172.16.20.1\dev;Initial Catalog=Tuhu_log;User ID=gungnirreader;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Gungnir_BI" connectionString="data source=172.16.20.1\dev;initial catalog=Discovery;user id=gungnirreader;password=itsme999;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Tuhu_Discovery_Db" connectionString="data source=172.16.20.1\dev;initial catalog=Discovery;user id=gungnirreader;password=itsme999;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
