@{
    ViewBag.Title = "分享赚钱活动配置";
    Layout = "~/Views/Shared/_PersonalCenterLeft.cshtml";
}

@model Tuhu.Provisioning.DataAccess.Entity.SE_ShareMakeMoneyConfig

<script type="text/javascript" src="~/Scripts/jQuery-EasyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="~/Scripts/jQuery-EasyUI/locale/easyui-lang-zh_CN.js"></script>

<link href="~/Scripts/jQuery-EasyUI/themes/default/easyui.css" type="text/css" rel="stylesheet" />
<link href="~/Scripts/jQuery-EasyUI/themes/icon.css" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>

<script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>

<form id="shareForm" style="width:100%;" method="post">
    <table style="width:100%">
        <tbody>
            <tr>
                <td>名称：</td>
                <td>
                    <input type="text" class="easyui-textbox" id="Name" name="Name" value="@Model.Name" data-options="required:true" />
                </td>
                <td>
                    每天首次分享奖励额度:
                </td>
                <td>
                    <input type="text" class="easyui-numberbox" id="FirstShareNumber" name="FirstShareNumber" value="@Model.FirstShareNumber" data-options="required:true" />
                </td>
                <td>
                    分享后购买赢得奖励时间;
                </td>
                <td>
                    <select class="easyui-combobox" id="RewardDateTime" name="RewardDateTime">
                        <option value="">请选择</option>
                        @if (Model.RewardDateTime == 24)
                        {
                            <option value="24" selected="selected">24小时</option>
                        }
                        else
                        {
                            <option value="24">24小时</option>
                        }
                        @if (Model.RewardDateTime == 48)
                        {
                            <option value="48" selected="selected">48小时</option>
                        }
                        else
                        {
                            <option value="48">48小时</option>
                        }

                        @if (Model.RewardDateTime == 72)
                        {
                            <option value="72" selected="selected">72小时</option>
                        }
                        else
                        {
                            <option value="72">72小时</option>
                        }

                        @if (Model.RewardDateTime == 120)
                        {
                            <option value="120" selected="selected">120小时</option>
                        }
                        else
                        {
                            <option value="120">120小时</option>
                        }

                        @if (Model.RewardDateTime == 144)
                        {
                            <option value="144" selected="selected">144小时</option>
                        }
                        else
                        {
                            <option value="144">144小时</option>
                        }

                        @if (Model.RewardDateTime == 168)
                        {
                            <option value="168">168小时</option>
                        }
                        else
                        {
                            <option value="168">168小时</option>
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:left;font-weight:800;">
                    分享赚钱活动商品及奖励配置
                </td>
            </tr>
            <tr>
                <td>
                    同步日期:
                </td>
                <td>
                    <input type="text" class="Wdate" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd'})" id="selCreateDate" name="selCreateDate" />
                </td>
                <td>
                    产品ID：
                </td>
                <td>
                    <input type="text" class="easyui-textbox" id="selPID" name="selPID" />
                </td>
                <td>产品名称:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="selDisplayName" name="selDisplayName" />
                </td>

            </tr>
            <tr>
                <td>
                    积分奖励倍数:
                </td>
                <td>
                    <input type="text" class="easyui-numberbox" id="selTimes" name="selTimes" data-options="min:0.1,precision:1,max:10" />
                </td>
                <td>
                    状态：
                </td>
                <td>
                    <select class="easyui-combobox" id="selIsMakeMoney" name="selIsMakeMoney">
                        <option value="">请选择</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </td>
                <td colspan="2" style="text-align:center;">
                    <input type="button" value="搜 索" style="width:260px;" id="btnSel" name="btnSel" />
                </td>

            </tr>

            <tr>
                <td colspan="6">
                    @*<table id="productTable" class="easyui-datagrid" title="活动商品列表">
                            <thead>
                                <tr>
                                    <th data-options="field:'ID'">ID</th>
                                    @*<th data-options="field:'BatchGuid'">活动规则Guid</th>
                                    <th data-options="field:'BatchGuid'"></th>
                                </tr>
                            </thead>
                        </table>*@
                    <table id="productTable" class="easyui-datagrid"></table>
                    <div id="toolbar" style="text-align: right;">
                        <a href="javascript:void(0)" id="btnShow" name="btnShow" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">设置显示</a>
                        <a href="javascript:void(0)" id="btnHidden" name="btnHidden" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">设置不显示</a>
                        <a href="javascript:void(0)" id="btnDelete" name="btnDelete" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">删 除</a>
                        <a href="javascript:void(0)" id="btnImport" name="btnImport" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">同步数据</a>
                        <a href="javascript:void(0)" id="btnExport" name="btnExport" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">导 出</a>
                    </div>
                    <input type="file" id="xlsFile" name="xlsFile" style="display:none;" />
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:left;font-size:medium;font-weight:bold;">
                    商品详情页活动介绍
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:center;">
                    <center> <textarea id="RuleInfo" style="width:100%;" name="RuleInfo">@Model.RuleInfo</textarea></center>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:center">
                    <input type="button" id="btnSave" name="btnSave" value="保 存" style="width:300px;" />
                </td>
            </tr>

        </tbody>
    </table>
    <input type="hidden" id="ID" name="ID" value="@Model.ID" />
</form>
<script type="text/javascript">

    $(function () {
        $('#productTable').datagrid({
            title: '活动商品列表',
            rownumbers: true,
            toolbar: '#toolbar',
            pageSize:10,
            singleSelect:true,
            columns: [[
                { field: 'ID', title: 'ID', hidden: true },
                 { field: 'BatchGuid', title: '活动规则Guid', width: '20%' },
                   { field: 'PID', title: 'PID', width: '10%' },
                 { field: 'DisplayName', title: '产品名称', width: '20%' },
                 { field: 'Times', title: '奖励积分倍数', width: '10%' },
                 { field: 'IsMakeMoney', title: '状 态', width: '5%' },
                 { field: 'IsShare', title: '活动页是否显示', width: '10%' },
                 { field: 'Orderby', title: '排序', width: '10%' },
                 { field: 'CreateDate', title: '同步日期', width: '10%' }
            ]],
            url: '/ShareMakeMoney/GetProduct?id='+@Model.ID,
            pagination: true
        });
        var pager = $('#productTable').datagrid().datagrid('getPager');
        pager.pagination({
            onSelectPage: function (pageNumber, pageSize) {
                $.ajax({
                    url: "/ShareMakeMoney/GetProduct",
                    type: "post",
                    data: {
                        pageIndex: pageNumber,
                        pageSize: pageSize,
                        id: $("#ID").val(),
                        datetime: $('#selCreateDate').val(),
                        pid: $('#selPID').textbox('getValue'),
                        displayName: $('#selDisplayName').textbox('getValue'),
                        times: $('#selTimes').numberbox('getValue'),
                        status: $('#selIsMakeMoney').combobox('getValue')
                    },
                    success: function (result) {
                        var result = JSON.parse(result);
                        $('#productTable').datagrid("loadData", result);
                    }
                })
            }

        });
    });
    $('#btnExport').on('click', function () {
        window.location.href="/ShareMakeMoney/Export?id="+$('#ID').val()
    });
    $('#btnImport').on('click', function () {
        $('#btnImport').linkbutton('disable');
        $.ajax({
            url: '/ShareMakeMoney/AddProduct?id='+ $('#ID').val(),
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.Status == 0) {
                    $.messager.alert("系统提示","同步成功","info",function(){
                        setTimeout(function(){
                            location.reload();
                        },500);
                    });
                } else {
                    $.messager.alert("系统提示",result.Error);
                }
               
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {  
                alert(e);
            },
            complete:function(){
                $('#btnImport').linkbutton('enable');
            }
        });
    });
    
    $('#btnSave').on('click', function () {
        $('#shareForm').form('submit', {
            url: '/ShareMakeMoney/Save',
            success:function(data){
                if (data == 1) {
                    $.messager.alert("系统提示", "保存成功！");
                    location.href="/ShareMakeMoney/List"
                } else {
                    $.messager.alert("系统提示", "保存失败！");
                }
            }
        });
    });
    $('#btnSel').on('click', function () {

        $.ajax({
            url: '/ShareMakeMoney/GetProduct',
            type: 'post',
            data: {
                pageIndex: 1,
                pageSize: 10,
                datetime: $('#selCreateDate').val(),
                pid: $('#selPID').textbox('getValue'),
                displayName: $('#selDisplayName').textbox('getValue'),
                times: $('#selTimes').numberbox('getValue'),
                status: $('#selIsMakeMoney').combobox('getValue'),
                id:$('#ID').val()
            },
            dataType: 'json'
        }).done(function (result) {
            console.log(result);
            $('#productTable').datagrid('loadData', result);
        });
    });
    $('#btnDelete').on('click', function () {
        var row = $('#productTable').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('系统提示', "您确定删除" + row.PID + ' 名称:' + row.DisplayName + "?", function (r) {
                if (r) {
                    $.ajax({
                        url: '/ShareMakeMoney/DeleteProduct',
                        type: 'postt',
                        data: { id: row.ID }
                    }).done(function (result) {
                        if (result == 1) {
                            $.messager.alert("系统提示", "删除成功");
                            var index = $('#productTable').datagrid('getRowIndex',row);
                            $('#productTable').datagrid('deleteRow',index);
                            $('#productTable').datagrid('clearSelections');
                        } else {
                            $.messager.alert("系统提示", "删除失败");
                        }
                    });
                }
            })
        }
        else {
            $.messager.alert("系统提示","请选择要删除的行");
        }

    });
    $('#btnShow').on('click', function () {
        var row = $('#productTable').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('系统提示', "您确定设置" + row.PID + ' 名称:' + row.DisplayName + " 显示在活动页?", function (r) {
                $.ajax({
                    url: '/ShareMakeMoney/UpdateProductIsShare',
                    type: 'postt',
                    data: { id: row.ID, isShare:1 }
                }).done(function (result) {
                    if (result == 1) {
                        row.IsShare = "显示";
                        var index = $('#productTable').datagrid('getRowIndex', row);
                        $('#productTable').datagrid('updateRow', {
                            index: index,
                            row:row
                        });
                        $('#productTable').datagrid('clearSelections');
                    } else {
                        $.messager.alert("系统提示", "设置要显示的行，失败");
                    }
                });
            });
        } else {
            $.messager.alert("系统提示", "请选择要显示的行");
        }
    });
    $('#btnHidden').on('click', function () {
        var row = $('#productTable').datagrid('getSelected');

        if (row != null) {
            $.messager.confirm('系统提示', "您确定设置" + row.PID + ' 名称:' + row.DisplayName + " 不显示在活动页?", function (r) {
                $.ajax({
                    url: '/ShareMakeMoney/UpdateProductIsShare',
                    type: 'postt',
                    data: { id: row.ID, isShare: 0 }
                }).done(function (result) {
                    if (result == 1) {
                        row.IsShare = "不显示";
                        var index = $('#productTable').datagrid('getRowIndex', row);
                        $('#productTable').datagrid('updateRow', {
                            index: index,
                            row: row
                        });
                        $('#productTable').datagrid('clearSelections');
                    } else {
                        $.messager.alert("系统提示", "设置要不显示的行，失败");
                    }
                });
            });
        } else {
            $.messager.alert("系统提示", "请选择要不显示的行");
        }
    });
</script>