<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<root>
			<level value="INFO" />
			<appender-ref ref="AmqpAppender" />
		</root>
		<logger name="WebLogger" additivity="false">
			<level value="INFO" />
			<appender-ref ref="AmqpAppender" />
		</logger>
		<appender name="AmqpAppender" type="Tuhu.Log.RabbitMQAppender, Tuhu">
			<!--<rabbitMQSection value="rabbitmq" />-->
			<appId value="test" />
			<exchangeProperties>
				<name value="topic.loggingExchage" />
				<exchangeType value="topic" />
				<durable value="false" />
				<binding>
					<destination value="topic.winservicelogExchage" />
					<topic value="winservice.#" />
				</binding>
			</exchangeProperties>
			<messageProperties>
				<appId value="My Service" />
				<topic type="log4net.Layout.PatternLayout">
					<conversionPattern value="winservice.%level" />
				</topic>
				<contentType type="log4net.Layout.PatternLayout">
					<conversionPattern value="text/plain" />
				</contentType>
				<persistent value="false" />
				<priority type="log4net.Layout.PatternLayout">
					<conversionPattern value="0" />
				</priority>
				<ExtendedData value="false" />
			</messageProperties>
			<bodyProperties>
				<property>
					<name value="Host" />
					<layout type="Tuhu.Log.IPAddressLayout, Tuhu" />
				</property>
				<property>
					<name value="Thread" />
					<layout type="log4net.Layout.PatternLayout">
						<conversionPattern value="%thread" />
					</layout>
				</property>
				<property>
					<name value="Level" />
					<layout type="log4net.Layout.PatternLayout">
						<conversionPattern value="%level" />
					</layout>
				</property>
				<property>
					<name value="Logger" />
					<layout type="log4net.Layout.PatternLayout">
						<conversionPattern value="%logger" />
					</layout>
				</property>
				<property>
					<name value="Message" />
					<!--<layout type="Tuhu.Log.MixMessageLayout, Tuhu" />-->
					<layout type="log4net.Layout.PatternLayout">
						<conversionPattern value="%message" />
					</layout>
				</property>
				<property>
					<name value="Exception" />
					<layout type="log4net.Layout.ExceptionLayout" />
				</property>
			</bodyProperties>
		</appender>
	</log4net>
</configuration>