@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.FilterConditionModel>

@{
    Layout = null;
}

@{
    foreach (var item in Model)
    {
        <label style="display:inline-block;width:150px;margin:2px 0;">
            <input data-id="CP_Brand_Checked" value="@item.Name" type="checkbox">@item.Name
        </label>
    }
}