
@{
    ViewBag.Title = "MaterialList";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .aMaterial {
        color: blue;
        cursor: pointer;
    }
</style>
<div class="modal-dialog" style="width:600px;">
    <div class="modal-content">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    素材选择
                </h4>*@
        </div>
        <div class="modal-body">
            <ul id="myTab" class="nav nav-tabs">
                <li id="liNews" class="active">
                    <a href="#news" data-toggle="tab">图文素材</a>
                </li>
                <li id="liImage">
                    <a href="#image" data-toggle="tab">图片</a>
                </li>
                <li id="liVoice">

                    <a href="#voice" data-toggle="tab">
                        语音
                    </a>
                </li>
                <li id="liVideo">
                    <a href="#video" data-toggle="tab">
                        视频
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="news">
                    <div class="gridPanel">
                        <table id="gridList"></table>
                        <div id="gridPager"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="image">
                    <div class="gridPanel">
                        <table id="gridListImage"></table>
                        <div id="gridPagerImage"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="voice">
                    <div class="gridPanel">
                        <table id="gridListVoice"></table>
                        <div id="gridPagerVoice"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="video">
                    <div class="gridPanel">
                        <table id="gridListVideo"></table>
                        <div id="gridPagerVideo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="originalId" name="originalId" value='@(ViewBag.OriginalId)' />
<input type="hidden" id="materialType" name="materialType" value='@(ViewBag.MaterialType)' />
<input type="hidden" id="isDelay" name="isDelay" value='@(ViewBag.IsDelay)'/>

<script type="text/javascript">
    //创建Grid
    function gridList() {
        var $gridList = $('#gridList');
        var originalId = $("#originalId").val();
        var materialType = $("#materialType").val();
        $gridList.dataGrid({
            height: $(window).height() - 200,
            datatype: "json",
            url:'/WechatHome/GetMaterialList?originalId='+originalId + '&materialType=' + materialType,
            colModel: [
                { label: "MediaID", name: "MediaID", width: 10, align: "center", hidden: true },
                { label: "MediaType", name: "MediaType", width: 10, align: "center", hidden: true },
                { label: "标题", name: "Title", width: 300, align: 'left' },
                { label: "更新时间", name: "UpdateTime", width: 160, align: "left", formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
                {
                    label: "操作", name:"", width: 160, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        return `<a class="aMaterial" href="javascript:void(0)" onclick="addMaterial('${rowObject.MediaType}','${rowObject.MediaID}','${rowObject.Title}')">添加</a>`;
                    }
                }
            ],
            viewrecords: true,
            pager: "#gridPager",
            rowNum: 10,
            rowList: [10,20,30]
        });
    }
    //创建图片Grid
    function gridListImage() {
        var $gridList = $('#gridListImage');
        var originalId = $("#originalId").val();
        var materialType = $("#materialType").val();
        $gridList.dataGrid({
            height: $(window).height() - 118,
            datatype: "json",
            url: '/WechatHome/GetMaterialList?originalId=' + originalId + '&materialType=' + materialType,
            colModel: [
                { label: "MediaID", name: "MediaID", width: 10, align: "center", hidden: true },
                { label: "MediaType", name: "MediaType", width: 10, align: "center", hidden: true },
                { label: "标题", name: "Name", width: 300, align: "left" },
                //{
                //    label: "缩略图", name: "URL", width: 300, align: 'left'
                //    ,formatter: function (cellValue) {
                //          return "<img src='" + cellValue+"' width=80 height=60 />"
                //    }
                //},
                { label: "更新时间", name: "UpdateTime", width: 160, align: "left", formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
                {
                    label: "操作", name: "", width: 160, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        return `<a class="aMaterial" href="javascript:void(0)" onclick="addMaterial('${rowObject.MediaType}','${rowObject.MediaID}','${rowObject.Name}')">添加</a>`;
                    }
                }
            ],
            viewrecords: true,
            pager: "#gridPagerImage",
            rowNum: 10,
            rowList: [10, 20, 30]
        });
    }
    //创建语音Grid
    function gridListVoice() {
        var $gridList = $('#gridListVoice');
        var originalId = $("#originalId").val();
        var materialType = $("#materialType").val();
        $gridList.dataGrid({
            height: $(window).height() - 200,
            datatype: "json",
            url: '/WechatHome/GetMaterialList?originalId=' + originalId + '&materialType=' + materialType,
            colModel: [
                { label: "MediaID", name: "MediaID", width: 10, align: "center", hidden: true },
                { label: "MediaType", name: "MediaType", width: 10, align: "center", hidden: true },
                { label: "标题", name: "Name", width: 300, align: 'left' },
                { label: "更新时间", name: "UpdateTime", width: 160, align: "left", formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
                {
                    label: "操作", name: "", width: 160, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        return `<a class="aMaterial" href="javascript:void(0)" onclick="addMaterial('${rowObject.MediaType}','${rowObject.MediaID}','${rowObject.Name}')">添加</a>`;
                    }
                }
            ],
            viewrecords: true,
            pager: "#gridPagerVoice",
            rowNum: 10,
            rowList: [10, 20, 30]
        });
    }
    //创建视频Grid
    function gridListVideo() {
        var $gridList = $('#gridListVideo');
        var originalId = $("#originalId").val();
        var materialType = $("#materialType").val();
        $gridList.dataGrid({
            height: $(window).height() - 200,
            datatype: "json",
            url: '/WechatHome/GetMaterialList?originalId=' + originalId + '&materialType=' + materialType,
            colModel: [
                { label: "MediaID", name: "MediaID", width: 10, align: "center", hidden: true },
                { label: "MediaType", name: "MediaType", width: 10, align: "center", hidden: true },
                { label: "标题", name: "Name", width: 300, align: 'left' },
                { label: "更新时间", name: "UpdateTime", width: 160, align: "left", formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
                {
                    label: "操作", name: "", width: 160, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        return `<a class="aMaterial" href="javascript:void(0)" onclick="addMaterial('${rowObject.MediaType}','${rowObject.MediaID}','${rowObject.Name}')">添加</a>`;
                    }
                }
            ],
            viewrecords: true,
            pager: "#gridPagerVideo",
            rowNum: 10,
            rowList: [10, 20, 30]
        });
    }
    //添加素材
    function addMaterial(mediaType, mediaId, title) {
        var isDelay = $("#isDelay").val();
        if (isDelay == 0) {
            self.parent.frames["SubNumberForm"].$("div[name='divMaterialText']").remove();
            self.parent.frames["SubNumberForm"].$("#tContent").append(`<tr class="trMaterial"><td class="tdMaterial" data="${mediaId}">${title}</td><td><a class="aMaterial" data="${mediaType}" onclick="removeMaterial(this)">移除</a></td></tr>`);
        } else {
            self.parent.frames["SubNumberForm"].$("div[name='divMaterialTextDelay']").remove();
            self.parent.frames["SubNumberForm"].$("#tContentDelay").append(`<tr class="trMaterial"><td class="tdMaterial" data="${mediaId}">${title}</td><td><a class="aMaterial" data="${mediaType}" onclick="removeMaterial(this)">移除</a></td></tr>`);
        }
        $.modalClose();
    }
    //初始化
    $(function () {
        //初始化
        var materialType = $("#materialType").val();
        if (materialType == "news") {

            $("#myTab li").removeClass("active");
            $("#liNews").addClass("active");
            //图文表格
            gridList();
        }
        else if (materialType == "image") {

            $("#myTab li").removeClass("active");
            $("#liImage").addClass("active");

            $("#myTabContent div").removeClass("tab-pane fade");
            $("#image").addClass("tab-pane fade in active");
            //加载图片表格
            gridListImage();
        } else if (materialType == "voice"){
            $("#myTab li").removeClass("active");
            $("#liVoice").addClass("active");

            $("#myTabContent div").removeClass("tab-pane fade");
            $("#voice").addClass("tab-pane fade in active");
            //加载语音表格
            gridListVoice();
        } else if (materialType == "video") {
            $("#myTab li").removeClass("active");
            $("#liVideo").addClass("active");

            $("#myTabContent div").removeClass("tab-pane fade");
            $("#Video").addClass("tab-pane fade in active");
            //加载语音表格
            gridListVideo();
        }

        //Tab切换
        $("#myTab li").click(function () {

            var content = $.trim(this.textContent);
            if (content == "图片") {
                $("#news").hide();
                $("#image").show();
                $("#voice").hide();
                $("#video").hide();
                $("#materialType").val("image");
                //加载图片表格
                gridListImage();
            } else if (content == "图文素材") {
                $("#news").show();
                $("#image").hide();
                $("#voice").hide();
                $("#video").hide();
                $("#materialType").val("news");
                //加载图文表格
                gridList();
            } else if (content == "语音") {
                $("#news").hide();
                $("#image").hide();
                $("#voice").show();
                $("#video").hide();
                $("#materialType").val("voice");
                //加载图文表格
                gridListVoice();
            } else if (content == "视频") {
                $("#news").hide();
                $("#image").hide();
                $("#voice").hide();
                $("#video").show();
                $("#materialType").val("video");
                //加载图文表格
                gridListVideo();
            }
        });
    });

</script>
