@{
    Layout = null;
}
<style>
    .ui-widget-overlay {
        position: relative;
    }


    #region input {
        width: 18px;
    }

    .province {
        float: left;
        margin: 10px;
        width: 200px;
        position: relative;
    }

    .trigger {
        margin-left: 5px;
        width: 14px;
    }

    .province_label {
        font-size: 16px;
    }

    .citys {
        width: 200px;
        border: 1px solid blue;
        background-color: #fff;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 9999;
    }

    #region .close_button {
        width: 50px;
    }

    .citys div {
        float: left;
        width: 100px;
    }

    .check_num {
        color: red;
    }
</style>
<div id="region">

</div>
<script>
   
    //var arr = [ "xml", "html", "css", "js" ];
    //arr.in_array("js");

    var targetID =$("#CityIDs"),
        targetClass =$("#CityIDs"),
        stringAll = $("#CityIDs").val(),
        stringPart = $("#CityIDs").val(),
        arrAll = [],
        arrPart = [];
    if (stringAll)
        arrAll = stringAll.substr(0, stringAll.length - 1).split("|");
    if (stringPart && stringAll)
        arrPart = stringPart.substr(0, stringPart.length - 1).split("|");

    $.ajax({
        url: "https://www.tuhu.cn/Shop/Region.aspx",
        jsonpCallback: "__Regions__",
        dataType: "jsonp",
    }).done(function (regions)
    {
        var html = "";
        var municipalitys = ["上海市", "北京市", "天津市", "重庆市"];
        $.map(regions, function (value, key)
        {
            var t = 0;

            var partflag = true;
            var allflag = true;
            var countpart = 0;
            var type = 0;
            if ($.inArray(value.RegionName, municipalitys) != -1) {
                var node = { "PKID": value.PKID, "RegionName": value.RegionName, "IsInstall": value.IsInstall, "ParentID": value.ParentID, "PinYin": value.PinYin, "ChildrenRegion":[]};
                value.ChildrenRegion = [node];
            }
            if (arrAll.length > 0)//all有值
            {
                if (arrPart.length > 0)//part有值
                {
                    if (value.ChildrenRegion.length > 0)
                        $.map(value.ChildrenRegion, function (v, k) {
                            if (arrPart.in_array(v.PKID)) {
                                //已选
                            }
                            else {
                                partflag = false;
                                countpart++;
                            }
                        });
                    if (partflag == false)//part该省下面的城市未全选
                    {
                        if (countpart == value.ChildrenRegion.length)//part全部没选
                        {

                            //$.map(value.ChildrenRegion, function (v, k)
                            //{
                            //    if (arrAll.in_array(v.PKID))
                            //    {

                            //    }
                            //    else
                            //    {
                            //        allflag = false;
                            //    }
                            //});
                            //if (allflag == true)//该省下城市全部不显示,隐藏该省
                            //{
                            //    type = 1;
                            //}
                            //else
                            //{
                            //    html += '<div class="province"><span ><input type="checkbox"  value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                            //}
                            html += '<div class="province"><span ><input type="checkbox"  value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                        }
                        else//part选了一些
                        {
                            //计算在ALL的数目 ==value.ChildrenRegion.length就让checked
                            $.map(value.ChildrenRegion, function (v, k)
                            {
                                if (arrAll.in_array(v.PKID))
                                {

                                }
                                else
                                {
                                    allflag = false;
                                }

                            });
                            if (allflag)//全部在all 部分在part
                            {
                                html += '<div class="province"><span ><input type="checkbox" checked="checked" value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                            }
                            else
                            {
                                html += '<div class="province"><span ><input type="checkbox"  value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                            }
                        }
                    }
                    else//part该省下面的城市都被选中
                    {
                        html += '<div class="province"><span ><input type="checkbox" checked="checked" value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                    }
                }
                else
                {
                    //存在隐藏和不隐藏两种
                    //$.map(value.ChildrenRegion, function (v, k)
                    //{
                    //    if (arrAll.in_array(v.PKID))
                    //    {

                    //    }
                    //    else
                    //    {
                    //        allflag = false;
                    //    }
                    //});
                    //if (allflag == true)//该省下城市全部不显示,隐藏该省
                    //{
                    //    type = 1;
                    //}
                    //else
                    //{
                    //    html += '<div class="province"><span ><input type="checkbox"  value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                    //}
                    html += '<div class="province"><span ><input type="checkbox"  value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                }
            }
            else//正常的
            {
                html += '<div class="province"><span ><input type="checkbox" value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
            }

            $.map(value.ChildrenRegion, function (v, k)
            {
                if (arrPart.length > 0 && arrPart.in_array(v.PKID))//当前这条规则中此城市已选
                {
                    html += '<div><input type="checkbox" checked="checked" value="" id="' + v.PKID + '"><label for="' + v.PKID + '">' + v.RegionName + '</label></div>';
                    t++;
                }
                else
                {
                    //if (arrAll.length > 0 && arrAll.in_array(v.PKID))
                    //{
                    //    //已被其他规则选择  不允许重复
                    //}
                    //else
                    //    html += '<div><input type="checkbox" value="" id="' + v.PKID + '"><label for="' + v.PKID + '">' + v.RegionName + '</label></div>';
                    html += '<div><input type="checkbox" value="" id="' + v.PKID + '"><label for="' + v.PKID + '">' + v.RegionName + '</label></div>';
                }

            });
            if (type != 1)
                html += '<p style="text-align:right;clear:both;"><input type="button" value="关闭" class="close_button"></p></div></div>';
            html = html.replace('()', '(' + t + ')');
        });
        $("#region").empty().append(html);

    });
    $("#region").on("click", ".trigger", function ()//打开市弹框
    {
        $self = $(this);
        $(".citys").hide();
        $self.parent().next().show();
    }).on("click", ".close_button", function ()//关闭市弹框
    {
        $(this).parent().parent().hide();
    }).on("click", ".province>span>input[type='checkbox']", function ()//点击省复选框
    {
        var $target = $(this);
        if ($target.prop("checked") == true)
        {
            $target.parent().next().find("input[type='checkbox']").each(function ()
            {
                var $self = $(this);
                if ($self.prop("checked") != true)
                {
                    $self.prop("checked", true);
                    bindCityID($self);
                }

            })
            $target.next().next().text("(" + $target.parent().next().find("input[type='checkbox']").length + ")");
        }
        else
        {
            $target.parent().next().find("input[type='checkbox']").each(function ()
            {
                var $self = $(this);
                $self.prop("checked", false);
                removeCityID($self);
            })
            $target.next().next().text("(0)");


        }
    }).on("click", ".citys>div>input[type='checkbox']", function ()//点击市复选框
    {
        var $target = $(this);
        var $checknum = $target.parent().parent().prev().find(".check_num");

        if ($target.prop("checked") == true)
        {
            bindCityID($target);
            var flag = true;
            $target.parent().parent().find("input[type = 'checkbox']").each(function ()
            {
                if ($(this).prop("checked") == false)
                    flag = false;
            })
            if (flag == true)
                $target.parent().parent().prev().find("input[type='checkbox']").prop("checked", true);
            $checknum.text("(" + (parseInt($checknum.text().replace("(", "").replace(")", "")) + 1) + ")");
        }
        else
        {
            removeCityID($target);
            $target.parent().parent().prev().find("input[type='checkbox']").prop("checked", false);
            $checknum.text("(" + (parseInt($checknum.text().replace("(", "").replace(")", "")) - 1) + ")");
        }
    })
    //绑定选中的城市ID到对应的TD和TABLE上,显示选中的城市名称在对应的TD上
    var bindCityID = function (target)
    {
        var hasbindedCityIds = '';
        if ($("#CityIDs").val().length > 0) {
            hasbindedCityIds = $("#CityIDs").val();
        }
        else
        {
            hasbindedCityIds = "|";
        }

        var cityids = hasbindedCityIds+ target.prop("id") + "|";
      //  var allcityids = targetClass.attr("data-cityids") + target.prop("id") + "|";
      //  targetID.attr("data-cityids", cityids);//追加到标签上
       // targetClass.attr("data-cityids", allcityids);
        $("#CityIDs").val(cityids);
        var forshowlist = cityids.substr(1, cityids.length - 1).split("|");
        var forshowtext = "";
        for (var i = 0; i < forshowlist.length; i++)
        {
            var cityName = $("#" + forshowlist[i]).next().text();
            if(cityName != null && cityName != "")
                forshowtext += cityName + "、";
        }
        if (forshowtext)
        {
            @*if ("@ViewBag.Type" == "Tire") {
                if (forshowtext.length < 50)
                    forshowtext = forshowtext.substr(0, forshowtext.length - 1);
                else
                    forshowtext = forshowtext.substr(0, 50) + "......";
                targetID.html('<a style="float:right;" javascript:void(0);" onclick="javascript:ShowRegionDialog(this,2)">编辑</a>' + forshowtext);
            } else {
                targetID.html(forshowtext);
            }*@
            $("#CityList").val(forshowtext);
        }
    }
    //删除取消选中的城市ID到对应的TD和TABLE上,重新显示选中的城市名称在对应的TD上
    var removeCityID = function (target)
    {
        var listcityid = [];
        var listallcityid = [];
        var cityids = $("#CityIDs").val();
      
        if (cityids.indexOf("|") < 0)
        {
            console.log("未添加上,无法删除");
            alert("配置错误,请重新尝试");
            window.location.reload();
        }
        else
        {
            listcityid = cityids.substr(1, cityids.length - 1).split("|");
          
            cityids = "";
            
            for (var i = 0; i < listcityid.length; i++)
            {
                if (listcityid[i] != target.prop("id") && listcityid[i]!='')
                {
                    cityids += "|"+ listcityid[i] 
                }
            }
            if (cityids.length > 0) {
                cityids += "|";
            }
         
            $("#CityIDs").val(cityids);//追加到标签上
           
            if (cityids)
            {
                var forshowlist = cityids.substr(0, cityids.length - 1).split("|");
                var forshowtext = "";
                for (var i = 0; i < forshowlist.length; i++)
                {
                    var cityName = $("#" + forshowlist[i]).next().text();
                    if(cityName != null && cityName != "")
                        forshowtext += cityName + "、";
                }
                if (forshowtext)
                {
                    @*if("@ViewBag.Type" == "Tire"){
                        if (forshowtext.length < 50)
                            forshowtext = forshowtext.substr(0, forshowtext.length - 1);
                        else
                            forshowtext = forshowtext.substr(0, 50) + "......";
                        targetID.html('<a style="float:right;" javascript:void(0);" onclick="javascript:ShowRegionDialog(this,2)">编辑</a>' + forshowtext);
                    } else{
                        targetID.html(forshowtext);
                    }*@
                    $("#CityList").val(forshowtext);
                }
            } else {
                @*if("@ViewBag.Type" == "Tire"){
                    targetID.html('<a href="javascript:void(0);" onclick="javascript:ShowRegionDialog(this,1)">选择地区城市</a>');
                } else{
                    targetID.html("");
                }*@
                $("#CityList").val("");
            }

        }
    }
</script>
