
@{
    ViewBag.Title = "服务号二维码详情页";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .form .formTitle {
        width: 110px;
    }

    .form-control {
        display: inline;
    }

    .trMaterial {
        padding: 10px 10px 10px 10px
    }

    .tdMaterial {
        min-width: 200px;
        width: auto;
    }

    .aMaterial {
        color: blue;
        cursor: pointer;
    }
</style>
<form id="form1">
    <table class="form">
        <tr>
            <th class="formTitle">公众号</th>
            <td class="formValue">
                <select id="WeChatOfficialAccounts" name="WeChatOfficialAccounts" class="form-control required" style="width:200px;" disabled="true"></select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">推广场景</th>
            <td class="formValue">
                <input type="text" class="form-control required" id="Title" name="Title" maxlength="30" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">场景值类型</th>
            <td class="formValue">
                <input type="radio" id="Type1" name="Type" value="scene_id" checked disabled="disabled" />整型[1-10000]&nbsp;
                <input type="radio" id="Type2" name="Type" value="scene_str" disabled="disabled"/>字符串
            </td>
        </tr>
        <tr>
            <th class="formTitle">场景值</th>
            <td class="formValue">
                <input disabled="disabled" type="text" class="form-control required" id="Scene" name="Scene" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">有效期</th>
            <td class="formValue">
                <input type="radio" id="action_name1" name="action_name" value="QR_STR_SCENE" checked disabled="disabled"/>临时&nbsp;
                <input type="radio" id="action_name2" name="action_name" value="QR_LIMIT_STR_SCENE" disabled="disabled"/>永久
            </td>
        </tr>
        <tr>
            <th class="formTitle">有效时间</th>
            <td class="formValue">
                @*<input type="text" style="display:none" class="form-control" id="expire_seconds" name="expire_seconds" placeholder="若是临时的，请输出有效期，单位是秒" />*@
                @*<input type="datetime" value="2015-09-24 18:00:00" />*@
                <input type="text" id="Expire_Date" name="Expire_Date" class="required" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
            </td>
        </tr>

    </table>
    <table id="tClick" class="form">
        <tr>
            <th class="formTitle">关注消息</th>
            <td class="formValue">
                <button type="button" class="form-control" id="btnNews" name="btnNews" style="width:80px;" data-toggle="modal" data-target="#edit" onclick="chooseMaterial('news',0)">图文消息</button>
                <button type="button" class="form-control" id="btnText" name="btnText" style="width:80px;">文字</button>
                <button type="button" class="form-control" id="btnImage" name="btnImage" style="width:80px;" onclick="chooseMaterial('image',0)">图片</button>
                <button type="button" class="form-control" id="btnVoice" name="btnVoice" style="width:80px;" onclick="chooseMaterial('voice',0)">语音</button>
                <button type="button" class="form-control" id="btnVideo" name="btnVideo" style="width:80px;" onclick="chooseMaterial('video',0)">视频</button>
            </td>
        </tr>
        <tr>
            <th class="formTitle"></th>
            <td class="formValue" style="height:50px;">
                <table id="tContent"></table>
                <div id="addInput"></div>
            </td>
        </tr>

    </table>
    <input type="hidden" id="PKID" name="PKID" />
    <input type="hidden" id="OriginalID" name="OriginalID" />
</form>
<script type="text/javascript">
    //pkid
    var keyValue = $.request("keyValue");

    //提交表单
    function submitForm() {
        if (!$('#form1').formValid())
            return false;

        if (!checkValid())
            return false;

        debugger
        //获取文字输入的数据
        var materialTextList = [];
        $("textarea[name='materialText']").each(function (index, item) {
            if ($.trim($(this).val()) != "") {
                var data = { "Content": encodeURI($(this).val()) }
                materialTextList.push(data);
            }
        });

        //获取回复素材信息
        var materialList = [];
        $("#tContent .trMaterial").each(function () {
            var PKID = $(this).find(".tdMaterial").attr("PKID");
            var mediaId = $(this).find(".tdMaterial").attr("data");
            var title = $(this).find(".tdMaterial").text();
            var mediaType = $(this).find(".aMaterial").attr("data");
            ///var IsDeleted = $(this).find(".tdMaterial").attr("IsDeleted")?1:0;
            if (mediaId != '' && title != '') {
                var data = {
                    "PKID": PKID,
                    "MediaId": mediaId,
                    "Title": title,
                    "MediaType": mediaType,
                    //"IsDeleted": IsDeleted
                }
                materialList.push(data);
            }
        });

        var formDate = $("#form1").formSerialize();

        formDate.MaterialTextList = materialTextList;
        formDate.MaterialList = materialList;
        //radio 需要重新赋值
        formDate.Type = $("input[name='Type']:checked").val();
        formDate.action_name = $("input[name='action_name']:checked").val();

        formDate.OriginalID = $("#WeChatOfficialAccounts").val();
        $.submitForm({
            url: "/WechatHome/SubmitWX_QRCodeConfig",
            param: formDate,
            success: function (res) {
                if (res.state="success") {
                    //如果设置成功，则直接下载二维码到本地
                    self.parent.frames["iframe574687E8-6B9B-4E75-A222-E1FEFE332800"].$("#gridList").trigger("reloadGrid");
                    self.parent.frames["iframe574687E8-6B9B-4E75-A222-E1FEFE332800"].$('#loadingPage').hide();
                    //window.open("http://www.jb51.net");
                    //window.open(res.data);
                    window.open(res.data, "_bank")
                    //var $a = $("<a></a>").attr("href", res.data).attr("download", "img.png");
                    //$a[0].click();
                }
                else {
                    $.modalMsg(res.Message, "warning")
                }

            }
        })
    }
    //初始化方法
    function init() {
        debugger
        var nowDate = new Date();
        if (!keyValue) {//新增
            keyValue = 0;
            $('#WeChatOfficialAccounts').attr('disabled', false);
            $('input:radio[name="Type"]').attr('disabled', false);
            $('input:radio[name="action_name"]').attr('disabled', false);
        }
        
        var OriginalID = $("#OriginalID").val();
        //if (keyValue) {
            $.ajax({
                async: false,
                url: '/WechatHome/GetWX_QRCodeConfigEntity?pkid=' + keyValue + '&OriginalID=' + OriginalID,
                dataType: 'json',
                success: function (res) {
                    if (res) {
                        $("#form1").formSerialize(res);
                        if (res.OriginalID == null)
                            $("#WeChatOfficialAccounts").val($("#OriginalID").val());

                        $("input[name=Type][value=" + res.Type + "]").attr("checked", true);
                        $("input[name=action_name][value=" + res.action_name + "]").attr("checked", true);

                        if (res.action_name =='QR_STR_SCENE') {
                            $('#Expire_Date').parent().parent().show();
                            $('#Expire_Date').val(res.Expire_DateFormate);
                        }
                        else {
                            $('#Expire_Date').parent().parent().hide();
                        }
                        //素材加载
                        $.each(res.MaterialList, function (k, v) {
                            $("#tContent").append(`<tr class="trMaterial"><td class="tdMaterial"  PKID="${v.PKID}" data="${v.MediaID}">${v.Title}</td><td><a class="aMaterial" data="${v.MediaType}" onclick="removeMaterial(this)">移除</a></td></tr>`);
                        });

                        //文字素材加载
                        var materialTextFlag = false;
                        $.each(res.MaterialTextList, function (k, v) {
                            $("#tContent").append(`<div name='divMaterialText' class='input-group form-inline'><textarea  class='form-control' style='margin-bottom:2px; width:350px;' name='materialText' placeholder='请输入回复文字'>${v.Content}</textarea><button class='removeclass btn btn-default' type= 'button'> <span class='glyphicon glyphicon-minus'></span></button></div>`);
                            materialTextFlag = true;
                        });
                        if (materialTextFlag)
                            $("#addInput").append('<button type="button" onclick="addInput()">添加</button>');
                    }
                }
            })
        //}
    }
    //获取所有公众号信息
    function getWeChatOfficialAccounts() {
        var originalId = $("#OriginalID").val();
        if (originalId == "") {
            originalId = $.request("originalId");
            $("#OriginalID").val(originalId);
        }
        var weChatOfficialAccounts = '';
        $.ajax({
            async: false,
            url: "/WechatHome/GetWeChatOfficialAccounts",
            dataType: 'json',
            success: function (res) {
                $.map(res, function (key) {
                    if (key.OriginalId == originalId)
                        weChatOfficialAccounts += '<option value=' + key.OriginalId + ' selected >' + key.name + '</option>';
                    else
                        weChatOfficialAccounts += '<option value=' + key.OriginalId + '>' + key.name + '</option>';
                })
                $("#WeChatOfficialAccounts").empty().append(weChatOfficialAccounts);
            }
        });
    }

    //文字广告按钮点击
    $("#btnText").click(function () {
        $('#btnText').attr('disabled', "true");
        $("#addInput").append('<button type="button" onclick="addInput()">添加</button>');
        $("#tContent").empty();
        //增加的文字回复
        addInput();
    });

    //增加文字回复
    function addInput() {
        var input = $(" <div name='divMaterialText' class='input-group form-inline'><textarea class='form-control' style='margin-bottom:2px; width:350px;' name='materialText' placeholder='请输入回复文字'></textarea><button class='removeclass btn btn-default' type='button'><span class='glyphicon glyphicon-minus'></span></button></div>'");
        // append 表示添加在标签内， appendTo 表示添加在元素外尾
        $("#tContent").append(input);
    }

       
    $('input:radio[name="Type"]').click(function () {
        debugger;
        var Type = $(this).val();
        if (!keyValue) {
            if (Type == 'scene_id') {
                $('#Scene').attr('disabled', true);
            }
            else {
                $('#Scene').attr('disabled', false);
            }
        }
        
    })   

    $('input:radio[name="action_name"]').click(function () {
        var action_name = $(this).val();
        if (!keyValue) {
            if (action_name == 'QR_STR_SCENE') {
                $('#Expire_Date').parent().parent().show();
            }
            else {
                $('#Expire_Date').parent().parent().hide();
            }
        }
    })  

    //删除备注
    $("body").on("click", ".removeclass", function (e) {
        $(this).parent('div').remove();
        return false;
    })

    //选择素材
    function chooseMaterial(materialType, isDelay) {
        var originalId = $("#WeChatOfficialAccounts").val();
        if (isDelay == 0) {
            $("div[name='divMaterialText']").empty();
            $("#addInput").empty();
            $('#btnText').removeAttr("disabled");
        } else {
            $("div[name='divMaterialTextDelay']").empty();
            $("#addInputDelay").empty();
            $('#btnTextDelay').removeAttr("disabled");
        }

        $.modalOpen({
            id: "MaterialList",
            title: "选择素材",
            url: "/WechatHome/MaterialList?materialType=" + materialType + "&originalId=" + originalId + "&isDelay=" + isDelay,
            width: "700px",
            height: "700px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    //移除素材元素
    function removeMaterial(target) {
        debugger;
        var Material = $(target).parent().parent();
        // Material.find('.tdMaterial').attr("IsDeleted",1);
        Material.remove();
    }

    //提交检查有效性
    function checkValid() {
        //响应类型判断
        var type = $("#Type").val();
        var url = $("#Url").val();
        if (type == "") {
            $.modalMsg("请选择响应类型", "warning");
            return false;
        } else if (type == "view") {
            if ($.trim(url) == "") {
                $.modalMsg("请输入Url", "warning");
                return false;
            }
        } else if (type == "miniprogram") {
            if ($.trim(url) == "") {
                $.modalMsg("请输入Url", "warning");
                return false;
            }
            if ($("#Appid").val() == "请选择") {
                $.modalMsg("请选择小程序", "warning");
                return false;
            }
            if ($.trim($("#Pagepath").val()) == "") {
                $.modalMsg("请输入页面路径", "warning");
                return false;
            }
        }
        return true;
    }
    //初始化
    $(function () {

        //获取公众号信息
        getWeChatOfficialAccounts();

        //初始加载
        init();

    })

</script>

