@using Tuhu.Provisioning.DataAccess.Entity;
@model IEnumerable<CommonConfigLogModel>
@{
    Layout = null;
    ViewBag.Title = "操作历史";
}

<table style="background: #ffffff; font-size: 12px; width: 100%; text-align:center" border="1" class="table">
    <tr>
        <th style="text-align: center">操作人</th>
        <th style="text-align: center">时间</th>
        <th style="text-align: center">操作明细</th>
    </tr>
    @if (Model!=null && Model.Any())
    {
        foreach (var log in Model)
        {
    <tr>
        <td name="Creator">@log.Creator</td>
        <td name="CreateDateTime">@log.CreateDateTime</td>
        <td name="LastUpdateDateTime">@log.Remark</td>
    </tr>
        }
    }
</table>
