@{
    ViewBag.Title = "Vin码录入";
    Layout = "";
}
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
<div id="ContentDiv">
    <div id="provinceDiv" style="height:420px;overflow:auto">
    </div>
</div>
<div>
    输入要添加的的省:
    <input type="text" id="input_province" maxlength="10" />
    <button type="button" id="submit">保存</button>
</div>
<style>
    .liclass {
        list-style-type: none;
    }
</style>
<script type="text/javascript">
    $(function () {
        //alert("sdfsdfsd");
        var provinceArryay = new Array();
        var cityArray = new Array();
        var list = [];
        var oldvinjsonObjectArray = [];
        $.ajax({
            url: "/Vin/GetVin",
            type: 'post',
            success: function (data) {
                data = decodeURIComponent(data);
                var jsondata = JSON.parse(data)
                var jsondataObject = jsondata;
                var ul = document.createElement('ul');
                ul.id = 'province';
                for (var i = 0; i < jsondataObject.length; i++) {
                    if (jsondataObject[i]['pid'] == "") {
                        provinceArryay.push(jsondataObject[i]);//省数组
                        var ck = document.createElement('input');
                        ck.type = 'checkbox';
                        ck.checked = jsondataObject[i]['isenable'] == 1 ? true : false;
                        var li = document.createElement('li');
                        var span = document.createElement('span');
                        span.innerHTML = jsondataObject[i]['region'];
                        li.className = "liclass";
                        li.data = jsondataObject[i];
                        li.appendChild(ck);
                        li.appendChild(span);
                        list.push(li);
                        ul.appendChild(li);
                    }
                    else {
                        cityArray.push(jsondataObject[i]);//市数组
                    }
                }
                $("#provinceDiv")[0].appendChild(ul);
                //-------------------------------旧的checked
                for (var y = 0; y < list.length; y++) {
                    var oldvinjsonObject = new Object();
                    oldvinjsonObject.ID = list[y].data.Id;
                    oldvinjsonObject.IsEnable = list[y].firstChild.checked == true ? 1 : 0;
                    oldvinjsonObjectArray.push(oldvinjsonObject);
                }
                console.log(oldvinjsonObjectArray);
            }
        });



        $("#submit").click(function () {
            //----------------------------新的checked
            var vinjsonObjectArray = [];
            for (var k = 0; k < list.length; k++) {
                var vinjsonObject = new Object();
                vinjsonObject.ID = list[k].data.Id;
                vinjsonObject.IsEnable = list[k].firstChild.checked == true ? 1 : 0;
                vinjsonObjectArray.push(vinjsonObject);
            }

            //------------------------把改变的项插入到这个数组，并保存
            var vinMindObjectArray = [];
            for (var o = 0; o < vinjsonObjectArray.length; o++) {
                if (vinjsonObjectArray[o]['IsEnable'] != oldvinjsonObjectArray[o]['IsEnable'])//当check前的记录不等于check后的记录时，认为已改变
                {
                    var vinMindObject = new Object();
                    vinMindObject.ID = list[o].data.Id;
                    vinMindObject.IsEnable = list[o].firstChild.checked == true ? 1 : 0;
                    vinMindObject.Region = list[o].data.region;
                    vinMindObjectArray.push(vinMindObject);
                }
            }
            vinMindObjectArray = JSON.stringify(vinMindObjectArray);//转换成字符串
            $.ajax({
                url: "/Vin/SaveVin",
                type: 'post',
                data: { "vinstringObjectArray": vinMindObjectArray, "addsProvinceValue": $("#input_province").val() },
                success: function (data) {
                    var jsondata = JSON.parse(data);
                    if (jsondata.Code == 0 || jsondata.Code == "0") {
                        alert("操作成功");
                        window.location = "/Vin/VinEdit";
                    }
                    else {
                        alert(jsondata.Msg);
                    }
                }
            });
        });
    });
</script>

