@using System.Diagnostics;
@using Tuhu.Provisioning.Business;
@{
    ViewBag.Title = "新首页配置";
    Layout = "../Shared/_Layout.cshtml";
}

<link type="text/css" href="//res.tuhu.cn/controls/toastr.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/fixed.css" type="text/css" />
<link rel="stylesheet" href="@{if (Debugger.IsAttached){<text>/css/yewu.css</text>}else{<text>//res.tuhu.cn/css/yewu.css</text>}}" />
<link rel="stylesheet" href="@{if (Debugger.IsAttached){<text>/Scripts/controls/controls.css</text>}else{<text>//res.tuhu.cn/controls/controls.css</text>}}" />
<link rel="stylesheet" href="@{if (Debugger.IsAttached){<text>/css/sector.css</text>}else{<text>//res.tuhu.cn/css/sector.css</text>}}" />
<script type="text/javascript" src="//res.tuhu.cn/controls/toastr.js"></script>
<script src="//res.tuhu.cn/controls/CommonJoy.js"></script>
<script src="//res.tuhu.cn/controls/joy.js"></script>
<script src="//res.tuhu.cn/controls/joy.dom.js"></script>
<script src="//res.tuhu.cn/controls/ag.js"></script>
@*<script src="http://yewu.tuhu.cn/scripts/ajaxfileupload.js"></script>*@
@*<script src="@{if (Debugger.IsAttached){<text>/Scripts/controls/formeditor.js</text>}else{<text>//res.tuhu.cn/controls/formeditor.js</text>}}"></script>*@
<script src="@{if (Debugger.IsAttached){<text>/Scripts/controls/common.js</text>}else{<text>//res.tuhu.cn/controls/common.js</text>}}"></script>
<script src="/Scripts/controls/formeditor.js"></script>
<script src="/Scripts/controls/ajaxfileupload.js"></script>
<script src="@{if (Debugger.IsAttached){<text>/Scripts/controls/grid.js</text>}else{<text>//res.tuhu.cn/controls/grid.js</text>}}"></script>
<script src="@{if (Debugger.IsAttached){<text>/Scripts/controls/tower.js</text>}else{<text>//res.tuhu.cn/controls/tower.js</text>}}"></script>

@Html.Partial("Titles")

<style>
    .floor {
        clear: both;
    }

    .senabled {
        color: green;
    }

    .hfshout {
        width: 500px;
    }

    .sdisabled {
        color: red;
    }

    .nfloor {
        font: 24px arial;
        font-weight: bold;
        line-height: 32px;
        display: block;
        bbackground: #5c87b2;
        ccolor: white;
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 4px;
        border-bottom: solid 1px #5c87b2;
    }
</style>

<script>
    function buildurl(url, o) {
        var r = url + '?';
        for (var i in o) {
            r += i + '=' + o[i] + '&';
        }
        return r;
    }
    function picker(c) {
        var cache = [];
        var data = null;
        var prev = null;
        var curt = null;
        var started = false;
        var r = {};
        if (!c) {
            c = {};
        }
        r.flush = function () {
            if (cache.length < 1 && prev) {
                data = [prev];
            }
        }
        r.data = function () {
            if (cache && cache.length > 0) {
                if (prev) {
                    //cache[cache.length] = prev;
                    prev = null;
                }
                return cache;
            }
            return data;
        }
        r.diff = function (val) {
            var rlt = false;
            if (prev && cache.length < 1) {
                cache[0] = prev;
            }
            var pv = prev;
            var v = val;
            if (c.field) {
                pv = prev ? prev[c.field] : null;
                v = val[c.field];
            }


            if (!started) {
                started = true;
                prev = val;
                rlt = false;
            } else if (pv != v) {
                prev = val;
                rlt = true;
            } else {
                prev = val;
                rlt = false;
            }
            if (!rlt) {
                cache[cache.length] = val;
            } else {
                data = cache;
                cache = [];
            }
            return rlt;
        }
        return r;
    }
    function roweditcfg(cfg) {
        if (!cfg) {
            cfg = {};
        }
        var c = {
            title: function (row) {
                return row.modelname + '模块编辑';
            }
            , editor: {
                cpshowtype: { validators: [intvalidator, requiredvalidator] }
                , showstatic: { validators: [intvalidator, requiredvalidator] }
                , showorder: { validators: [intvalidator, requiredvalidator] }
                , icoimgurl: {
                    creator: imgupcreator, c: { url: '/Article/AddArticleImg2' }, validators: [function (data) {
                        if (data.indexOf('.') < 0 || data.indexOf('edit') >= 0) {
                            debugger;
                            return false;
                        }
                        return true;
                    }]
                }
                , cpshowbanner: {
                    creator: imgupcreator, c: { url: '/Article/AddArticleImg2' }, validators: [function (data) {
                        return true;
                    }]
                }
                , modelname: { validators: [requiredvalidator] }
            }
            , fields: {
                rownum: { style: { display: 'none' } }
                , id: { style: { display: 'none' } }
                , apptype: { style: { display: 'none' } }
                , modelfloor: { style: { display: 'none' } }
                , updatetime: { style: { display: 'none' } }
                , createtime: { style: { display: 'none' } }
                , modelname: { childNodes: [{ innerHTML: '模块名称' }], className: 'short', short: true }
                , Version: { childNodes: [{ innerHTML: '版本' }], className: 'short', hint: '1:安卓4.3.5及以上版本,iOS2.7.5及以上版本.0:安卓老版本,iOS老版本,-1:测试模块' }
                , showorder: { onkeypress: intvalidator, childNodes: [{ innerHTML: '显示顺序' }], className: 'short', short: true, hint: '请勿随意更改此序号' }
                , icoimgurl: { childNodes: [{ innerHTML: '按钮图片' }] }
                , jumph5url: { childNodes: [{ innerHTML: 'H5 URL' }], className: "shorth5", hint: '<input type="button" id="createurl" style="display:none;"  value="生成带参数的H5URL" onclick="createh5url()" ></input>仅限app跳转h5访问地址' }
                , showstatic: { onkeypress: intvalidator, childNodes: [{ innerHTML: '是否启用' }], className: 'short', short: true }
                , starttime: { childNodes: [{ innerHTML: '开始时间' }], className: 'short', short: true }
                , overtime: { childNodes: [{ innerHTML: '结束时间' }], className: 'short', short: true }
                , cpshowtype: { onkeypress: intvalidator, childNodes: [{ innerHTML: '显示类型' }], className: 'short', short: true, hint: '仅限配置车品列表使用, 1：单列  2：双列' }
                , cpshowbanner: { childNodes: [{ innerHTML: '显示 Banner' }], hint: '仅限车品列表使用' }
                , appoperateval: { childNodes: [{ innerHTML: 'App 处理值' }], hint: '告知app操作下一步 交互值' }
                , operatetypeval: { childNodes: [{ innerHTML: '细分处理' }], className: 'short', short: true, hint: '如小保养、大保养' }
                , pronumberval: { childNodes: [{ innerHTML: '产品编号' }], hint: '仅限配置跳转车品详情使用，需要“|”号，有vid值 就放在“|”后面' }
                , keyvaluelenth: { childNodes: [{ innerHTML: '特殊通讯值' }], hint: '需开发技术支持拿到配置值如：{"键名11":"键值11"，"键名22":"键值222"}' }
                , umengtongji: { childNodes: [{ innerHTML: '友盟统计' }] }
                , edittime: { childNodes: [{ innerHTML: 'EditTime' }] }

            }
            , submit: '/idx/save?a=' + cfg.action
            , cancel: function () {
                overlay({ hide: true });
            }
        };
        return c;
    }

    function readtitle(d) {
        var type = d[0].apptype;
        if (type >= titles.length) {
            return '附加区域';
        }
        return titles[type];
    }

    function isoverride() {
        return location.href.indexOf('#override') > 0;
    }

    function dooradded(door) {
        var d = door.$d$;
        if (!isoverride() && (d.apptype < 3 && d.modelfloor < 3)) {
            $(door.$bdel).hide();
        }
    }

    function flooradded(floor) {
        //if ((floor.aid < 3 && floor.fid > 2) || (floor.aid > 2) || isoverride()) {
        var pel = floor.el;
        var el = ndoor(floor);
        pel.$area.appendChild(el);
        //}
    }

    function createh5url() {
        var url = $("input[name='jumph5url']").val();//modelfloor
        var showorder = $("input[name='showorder']").val();
        var modelfloor = $("input[name='modelfloor']").val();
        var isnoarea = getQueryString("area", url);
        if (modelfloor != "2" || url == "") {//只有二楼的url有这种单机事件
            return false;
        }
        if (isnoarea)//如果区域有值则，就不不用重新给值
        {
            return false;
        }
        $.ajax({
            url: "/FlashSalesTwo/GetActivityByModelfloor?modelfloor=" + showorder
        }).done(function (data) {
            var jsondata = JSON.parse(data);
            var area = jsondata.area;
            var actid = jsondata.activityid;
            if (actid == "")//如果没有取到actid就说明没有这活动或者这个数字对应的这个区域的活动都是关闭状态
            {
                $("input[name='jumph5url']").val("");//不给生成url
            }
            else {
                $("input[name='jumph5url']").val(url + "?actid=" + actid + "&area=" + area);//生成一个带有参数的url
            }
        });
    }

    //获取url参数
    function getQueryString(name, url) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = url.match(reg);
        if (r != null) return unescape(r[2]); return null;
    };

    $(function () {
        var msg = '@ViewBag.msg';
        if (msg.length > 0) {
            toastr.info(msg);
        }
        $.ajax({ url: '/idx/modules' }).done(function (data) {
            var r = JSON.parse(data);
            if (r.error) {
                toastr.info(r.Msg);
            }
            var el = park(r, {
                filter: 'apptype',
                title: function (d) {
                    return readtitle(d);
                }, floors: {
                    filter: 'modelfloor',
                    title: function (d) {
                        return d[0].modelfloor + 'F - ' + readtitle(d);
                    }, doors: {
                        upurl: '/idx/update'
                        , rmurl: '/idx/remove'
                        , added: dooradded
                        , update: function () {
                            var d = this.$d$;
                            var frm = formeditor(d, roweditcfg());
                            frm.show();
                        }
                        , editor: roweditcfg({})
                        , built: function (el, data) {
                            var u = '/idx/prod?apptype=' + data.apptype + '&mid=' + data.id;
                            var link = el.$link;
                            var href = $(link).attr('href');

                            $(link).attr('href', u);
                        }
                        , onsetval: function (data) {
                            var root = this;
                            if (data.modelname == '限时抢购专区' || (data.apptype < 3 && data.modelfloor == 3)) {
                            } else {
                                $(root.$link).hide();
                            }
                        }
                    },
                    onadd: function (el) {
                        var c = el.$c$;
                        var row = { apptype: c.aid, modelfloor: c.fid, modelname: '新模块', showorder: 1, icoimgurl: '', jumph5url: 'http://baidu.com', showstatic: 1, starttime: datestr(), overtime: '2016/12/01', cpshowtype: 1, cpshowbanner: ' ', appoperateval: ' ', operatetypeval: ' ', pronumberval: ' ', keyvaluelenth: ' ', umengtongji: ' ' };
                        var frm = formeditor(row, roweditcfg({ action: '1' }));
                        frm.show();
                    },
                    added: flooradded

                }
            });
            $('#region')[0].appendChild(el);

            //窗体左侧导航菜单
            addAnchor();
            $("#fixed dl dd").click(function () {
                var classValue = $(this).find("a").attr("class");
                if (classValue != 'Android' && classValue != 'IOS') {
                    $(this).find("ul").toggle();
                }
            });

            $("#fixed dt").click(function () {
                var _left = $("#fixed").offset().left;
                if (_left >= 0) {
                    $(this).find("a").text("展开 >>").css({ "margin-left": "65px" });
                    $("#fixed").animate({ left: -65 }, 100, 'swing', function () {
                        $("#fixed dt a.close").hide().width('65px').fadeIn(500);
                    });

                } else {
                    $(this).find("a").text("<< 关闭").css({ "margin-left": "-1px" });
                    $("#fixed dt a.close").width('65px');
                    $("#fixed").animate({ left: 0 }, 100, 'swing', function () {
                    });
                }
            });
        });
    });

    //添加页面左侧导航菜单
    function addAnchor() {
        var TemplateHtml = "";
        $("#region > .park > .ModuleList").each(function (i) {
            var model = $(this).find("h2");
            var modelText = $(model).text();
            //动态添加导航菜单(一级菜单)
            TemplateHtml += "<dd>";
            TemplateHtml += "<a style='color:#00FFFF' class='" + modelText + "' href='#" + modelText + "'>" + modelText + "</a>";
            if (modelText == 'Android' || modelText == 'IOS')
                TemplateHtml += "<ul>";
            else
                TemplateHtml += "<ul style='display:none;'>";

            $(this).find("div[tag = 'div'] > .floor").each(function (j) {
                var html = "";
                var nfloor = $(this).find(".nfloor");
                var nfloorText = $(nfloor).text();
                //动态添加锚点(二级菜单)
                $(nfloor).html("<a href='javascript:void(0); ' name='" + nfloorText + "'>" + nfloorText + "</a>");
                //动态添加导航菜单
                html = "<li><a href='#" + nfloorText + "'>" + nfloorText + "</a></li>";
                TemplateHtml += html;
            });
            TemplateHtml += "</ul>";
            TemplateHtml += "</dd>";
        });
        $("#fixed").find("dl").append(TemplateHtml);
    }
</script>
<div id="region">
    <div id="fixed" style="position: fixed; top: 0px; left: 0px;">
        <dl>
            <dt><a class="close" href="javascript:void(0);" style="font-size:12px; margin-top:-50px;"><< 关闭</a></dt>
        </dl>
    </div>
</div>