<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
        <!--OnlyDevelop-->
        <add name="dev254" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Aliyun" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Marketing;User ID=LogUser;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="GungnirReadOnly" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Gungnir" connectionString="data source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=gungnirreader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Gungnir_ReadOnly" connectionString="data source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=gungnirreader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Configuration" connectionString="data source=172.16.20.1\dev;Initial Catalog=Configuration;User ID=gungnirreader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Configuration_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=Configuration;User ID=gungnirreader;Password=itsme999;ApplicationIntent=Readonly" providerName="System.Data.SqlClient" />


        <add name="StarterSite_productcatalogConnectionString" connectionString="data source=172.16.20.1\dev;Initial Catalog=Tuhu_productcatalog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Gungnir_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="BaoYang_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=BaoYang;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Tuhu_productcatalog_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=Tuhu_productcatalog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="SystemLogConnectionString" connectionString="data source=172.16.20.1\dev;Initial Catalog=SystemLog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="SystemLog_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=SystemLog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="CacheReadOnly" connectionString="data source=172.16.20.1\dev;Initial Catalog=Cache;User ID=dbreader;Password=Lushanshenglong8" providerName="System.Data.SqlClient" />
        <add name="WmsReadOnly" connectionString="data source=172.16.20.1\dev;Initial Catalog=WMS;User ID=WMSUser;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Tuhu_Discovery_Db" connectionString="data source=172.16.20.1\dev;initial catalog=Marketing;user id=LogUser;password=itsme999;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
        <add name="Tuhu_log" connectionString="data source=172.16.20.1\dev;Initial Catalog=Tuhu_log;User ID=LogUser;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Tuhu_Gungnir_BI" connectionString="data source=172.16.20.1\dev;initial catalog=Gungnir;user id=SettingUser;password=itsme999;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
        <add name="Tuhu_BI" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_bi;User ID=LogUser;Password=itsme999;" providerName="System.Data.SqlClient" />

        <add name="Tuhu_Groupon" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Groupon;Persist Security Info=True;User ID=ShopUser;Password=itsme999;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
        <add name="Tuhu_Groupon_ReadOnly" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Groupon;Persist Security Info=True;User ID=ShopUser;Password=itsme999;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
        <add name="Tuhu_Groupon_AlwaysOnRead" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Groupon;Persist Security Info=True;User ID=ShopUser;Password=itsme999;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
        <add name="ThirdParty" connectionString="User ID=APPUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_thirdparty;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
        <add name="ThirdPartyReadOnly" connectionString="User ID=APPUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_thirdparty;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
        <add name="Elasticsearch" connectionString="http://wcf.tuhu.work:9200" providerName="Nest.ElasticClient" />
        <add name="Elasticsearch-Log" connectionString="http://wcf.tuhu.work:19200" providerName="Nest.ElasticClient" />

    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <!--<dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.9.0" newVersion="2.2.9.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.MessageQueue" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>-->
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.MessageQueue" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
