@{
    ViewBag.Title = "加油卡/违章代缴补单";
}
@section head{
    <link href="~/css/beautyPackage.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
    <style type="text/css">
        .ui-dialog {
            width: auto;
        }
    </style>
}

<div id="div" v-cloak>
    <h2>加油卡/违章代缴补单</h2>
    <div style="margin-bottom:20px">
        <input type="text" placeholder="开始时间"  class="startTime" v-model="filterCondition.startTime" style="float:left;height:30px;" v-on:click="WdatePicker({ dateFmt: 'yyyy/MM/dd' })" />
        <input type="text" placeholder="结束时间"  class="endTime" v-model="filterCondition.endTime" style="float:left;margin-left:20px;height:30px" v-on:click="WdatePicker({ dateFmt: 'yyyy/MM/dd' })" />
        <select v-model="filterCondition.orderType" style="float:left;margin-left:20px;height:30px">
            <option value="12加油卡">12加油卡</option>
            <option value="11违章代缴">11违章代缴</option>
        </select>
        <input type="button" value="查询" v-on:click="Init()" style="margin-left:20px;height:30px" />
        <input type="button" value="根据订单号补单" v-on:click="SubmitThirdReplaceOrderByOrderId()" style="margin-left:20px;height:30px" />
        <span style="color:red">道路救援订单请谨慎操作，请勿重复提交</span>
    </div>
    <table class="tableContainer" style="margin-top:30px">
        <thead>
            <tr>
                <th>Id</th>
                <th>订单号</th>
                <th>订单时间</th>
                <th>订单状态</th>
                <th>采购状态</th>
                <th>订单类型</th>
                <th>支付状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tr v-if="list.length<=0">
            <td colspan="8">无数据</td>
        </tr>
        <tr v-if="loading">
            <td colspan="8"><img src="/Images/loading.gif" /></td>
        </tr>
        <tr v-for="(item,index) in list">
            <td>{{index + 1}}</td>
            <td><a :href="'https://oms.tuhu.cn/Order/Details/' + item.PKID " target="_blank"><span>{{item.OrderNo}}</span></a></td>
            <td>{{item.OrderDatetime | formatDate}}</td>
            <td>{{item.Status}}</td>
            <td>{{item.PurchaseStatus}}</td>
            <td>{{item.OrderType}}</td>
            <td>{{item.PayStatus}}</td>
            <td><a href="javascript:void(0)" v-on:click="SendOrderPayNotice(item.PKID,item.OrderType)">提交补单</a></td>
        </tr>
    </table>
    <div style="margin-top:20px;">
        <span>
            每页显示:
            <select v-model="pager.size">
                <option v-for="size in sizes" v-bind:value="size">{{size}}</option>
            </select>
            条
        </span>
        <span>
            <button type="button" v-on:click="pager.currentPage=1" v-bind:disabled="pager.currentPage==1">首页</button>
            <button type="button" v-on:click="pager.currentPage-=1" v-bind:disabled="pager.currentPage==1">上一页</button>
            <button type="button" v-on:click="pager.currentPage+=1" v-bind:disabled="pager.currentPage==pager.pages">下一页</button>
            <button type="button" v-on:click="pager.currentPage=pager.pages" v-bind:disabled="pager.currentPage==pager.pages">尾页</button>
        </span>
        <span style="float:right">
            <span>当前第{{pager.currentPage}}页/共{{pager.pages}}页&nbsp;&nbsp;转到<input style="width:30px" type="text" v-model="pager.inputPage">页</span>
            <button type="button" v-on:click="pager.currentPage=pager.inputPage" v-bind:disabled="pager.inputPage<=0 || pager.inputPage>pager.pages">确定</button>
        </span>
    </div>
    <table class="thirdOrder-template" style="display:none">
        <tr>
            <th>订单号：</th>
            <td><input class="dialog-orderId" placeholder="请输入订单号" /></td>
        </tr>
    </table>
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/vue.min.js"></script>
    <script type="text/javascript" src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script src="/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
    <script src="/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>
    <script type="text/javascript">
    function formatDate(value) {
        if (value) {
            var time = value instanceof Date ? value : eval('new ' + value.toString().replace(/\//g, ""));
            var year = time.getFullYear();
            var day = time.getDate();
            var month = time.getMonth() + 1;
            var hours = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();
            var func = function (value, number) {
                var str = value.toString();
                while (str.length < number) {
                    str = "0" + str;
                }
                return str;
            }
            if (year == 1) {
                return "";
            } else {
                return func(year, 4) + '-' + func(month, 2) + '-' + func(day, 2) + ' ' + func(hours, 2) + ":" + func(minutes, 2) + ":" + func(seconds, 2)
            }
        }
    }
    Vue.filter('formatDate', formatDate);
    var vue = new Vue({
        el: "#div",
        data: {
            pager: {
                total: 0,
                pages: 0,
                currentPage: 1,
                size: 20,
                inputPage: 0,
            },
            loading: false,
            list: [],
            sizes: [5, 10, 20, 40, 50, 100, 200],
            filterCondition: {
                startTime:'@ViewBag.StartTime',
                endTime: '@ViewBag.EndTime',
                orderType:'@ViewBag.OrderType'
            },
        },
        watch: {
            "pager.total": function () {
                var self = this;
                var pager = self.pager;
                pager.pages = Math.ceil(pager.total / pager.size);
            },
            "pager.size": function () {
                var self = this;
                if (self.pager.size <= 0) {
                    self.pager.size = 1;
                    return;
                }
                if (self.pager.size > 200) {
                    self.pager.size = 200;
                    return;
                }
                self.pager.pages = Math.ceil(self.pager.total / self.pager.size);
                this.Init();
            },
            "pager.currentPage": function () {
                var self = this;
                if (self.pager.currentPage <= 0) {
                    self.pager.currentPage = 1;
                    return;
                }
                if (self.pager.currentPage > self.pager.pages) {
                    self.pager.currentPage = self.pager.pages;
                    return;
                }
                self.Init();
            },
        },
        methods: {
            Init: function () {
                var self = this;
                self.loading = true;
                self.list = [];
                self.filterCondition.startTime = $(".startTime").val();
                self.filterCondition.endTime = $(".endTime").val();
                $.get("SelectNeedReplaceOrder", {
                    pageIndex: self.pager.currentPage, pageSize: self.pager.size,
                    startTime: self.filterCondition.startTime, endTime: self.filterCondition.endTime, orderType: self.filterCondition.orderType
                }, function (result) {
                    self.loading = false;
                    self.list = result.data;
                    self.pager.total = result.totalCount;
                });
            },
            SendOrderPayNotice: function (orderId, orderType) {
                var self = this;
                if (confirm("是否确认提交")) {
                    $.post("SubmitThirdReplaceOrder", { tuhuOrderId: orderId, orderType: orderType }, function (result) {
                        if (result.status) {
                            alert("提交成功");
                            self.Init();
                        } else {
                            alert(result.msg);
                        }
                    });
                }
            },
            SubmitThirdReplaceOrderByOrderId: function () {
                var self = this;
                var html = "<table class='thirdOrder' style='width;100%'>" + $(".thirdOrder-template").html() + "</table>";
                var d = dialog({
                    title: "补单操作",
                    width: 300,
                    height: 100,
                    button: [
                        {
                            value: "提交",
                            callback: function () {
                                var orderId = $(".thirdOrder .dialog-orderId").val();
                                if (!orderId) {
                                    alert("请输入订单号");
                                    return false;
                                }
                                if (isNaN(orderId)) {
                                    alert("订单号输入有误");
                                    return false;
                                }
                                if (confirm("是否确认提交")) {
                                    $.post("SubmitThirdReplaceOrderByOrderId", { tuhuOrderId: orderId }, function (result) {
                                        if (result.status) {
                                            alert("提交成功");
                                            self.Init();
                                        } else {
                                            alert(result.msg);
                                        }
                                    });
                                }
                            }
                        },
                        {
                            value:"取消"
                        }
                    ]
                });
                d.content(html);
                d.showModal();
            },
        },
    });
    </script>
}