* {
	padding: 0;
	margin: 0;
}
html body{
	width: 100%;
	height: auto;
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
    background-color: #eee; 
    max-width: 630px;
    overflow: visible;
}
ul li{
	list-style: none;
}
img {
    border: 0;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: auto;
} 

/*.swiper-wrapper .pinch-zoom-container {
    position:initial !important;
}*/
.dl-left h5.shenglu {
    font-size: 16px;
}
.boxContent {
background:#FFF;
}
.aucolor {
    color:#527db0;
}
.banner {
    /*margin: 44px auto 0;*/
    position:relative;
}
.bannerCover{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
p.title{
	position: absolute;
	color: #fff;
	bottom: 5px;
	left: 0;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.theme{
	margin-top: 15px;
	margin-bottom: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.section .title {
    width:100%;
}
.section .title2 {
    width: 100%;
    background: white;
    padding-top: 10px;
    padding-left: 15px;
}
.martop44 {
    margin-top: 44px;
}
.martop48 {
    margin-top: 48px;
}
.section .title h4 {
    width: 98%;
    margin-left:15px;
    color: #fff;
    font-weight: normal;
}
.section .brief {
    width: 92%;
    margin-top: 23pt;
}
.section .brief h3 {
    font-size: 17px;
    line-height: 23pt;
    color: #454545;
    font-family:'Microsoft YaHei UI';
}
.de-header{
	width: 100%;
	height: 44px;
	position: fixed;
	background-color: #fff;
	line-height: 44px;
	clear: both;
	overflow: hidden;
	text-align: left;
	color: #d9d9d9;
	font-size: 16px;
	top: 0;
}
.de-header .de-img{
	font-size: 30px;
	line-height: 44px;
	margin-left:15px;
	width: 10.5px;
	height: 22px;
	position: fixed;
	top: 0;
} 
.floor1{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	padding: 0 15px;
}
.de-floor0{
	padding-top:10px;
	position: relative;
}
.de-page{
	color: #454545;
	float: left;
	font-size: 17px;
	width: 92%;
	height: auto;
    line-height:25pt;
	margin:10px 0;
}
.content h4{
	position: relative;
	color: #333;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	font-size: 20px;
}
.content h6{
	position: relative;
	color: #333;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	font-weight: normal;
    font-size: 16px;
}
.de-tag{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 10px;
	/*margin-bottom: 37px;*/
}
.warp {
    border-top: 1px solid #d9d9d9;
    padding-top: 20px;
    width: 95%;
    margin-bottom: 10px;
}
.tag-item{
	width: auto;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background: #eee;
	color: #c88888;
	font-size: 14px;
	padding: 6px;
	float: left;
	margin-right: 10px;
    margin-bottom: 10px;
}
.de-title{
	color: #999;
	font-size: 16px;
	width: 92%;
	height: 30px;
	line-height: 30px;
	border-bottom:0.5px solid #d9d9d9; 
	font-weight: 0;
}
.de-title a{
	color: #999;
	font-size: 16px;
	width: 65px;
	height: 20px;
	line-height: 20px;
	font-weight: 0;
	text-decoration: none;
	padding: 4px 0;
}
.de-active{
	width: 68px;
	border-bottom:2px solid #f57c33; 
}
.de-floor-top{
	border-top: 0.5px solid #d9d9d9;
}
.foot-top{
	margin-bottom: 54px;
}
.load-tip{
    position: fixed;
    top: 0;
    width: 8rem;
    height: 44px;
    background: rgba(51, 51, 51, 1);
    clear: both;
    overflow: hidden;
    z-index:1000;
}
.tuhu-logo{
	width: 19.3px;
	height: 16.5px;
	margin-left:15px;
	margin-top: 13px;
	float: left;
}
.tuhu-title{
	width: 60px;
	height: 44px;
	line-height: 44px;
	margin-left:5px;
	float: left;
	color: #fff;
	font-size: 14px
}
.load-tap{
	width: 60px;
	height: 14px;
	float: right;
	background-color: rgba(223, 52, 72, 1);
	margin-right: 15px;
	margin-top: 10px;
    padding: 5px;
    line-height: 14px;
    font-size: 14px;
    cursor:pointer;
}
.load-dele{
	width: 14px;
	height: 14px;
	margin-top: 13px;
	margin-right: 15px;
	float: right;
}
.de-position{
	margin-top:0;
}
.foot-bottom{
	margin-bottom: 0;
}
.foot-load{
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	float: left;
	background-color: rgba(223, 52, 72, 1);
}
.ptop10 {
padding-top:10px;
}

body {
max-width: 100% !important;
}

.de-page img {
width: 100% !important;
height: auto;
}

.maxwidth {
max-width: 630px;
}

.content h6 a {
color: #333;
text-decoration: none;
}

.dialog {
position: fixed;
width: 100%;
height: 100%;
display: none;
z-index: 999;
top: 0;
left: 0;
}

.dialog .dialog-bg {
position: fixed;
width: 100%;
height: 100%;
}

.dialog .content {
position: absolute;
width: 100%;
height: 100%;
z-index: 10000;
overflow: hidden;
background-color: #000;
}

.dialog .content .img-list {
height: 100%;
}

.dialog .content .img-list ul {
height: 100%;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
-ms-transition-property: -ms-transform;
transition-property: transform;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

.dialog .content .img-list ul li {
height: 100%;
position: relative;
-webkit-flex-shrink: 0;
-ms-flex: 0 0 auto;
flex-shrink: 0;
width: 100%;
text-align: center;
}

.dialog .content .img-list ul li img {
width: auto;
height: auto;
max-width: 100%;
max-height: 100%;
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
position: absolute;
left: 50%;
top: 50%;
}




/* 标签样式 */
 .tips{
 	padding-left: 15px;
 	margin: -15px 0 15px;
 }
 .tips span{
 	color: rgba(200, 136, 136, 1);
 	font-size:14px;
 	background-color: rgba(238, 238, 238, 1);
 	padding:6px 8px 7px;
 }
 /* footer样式 */
 .footer{
	width: 100%;
	height: 54px;
	line-height: 54px;
	background: #fff;
	position: fixed;
	bottom: 0;
    border-top: 1px solid #eeeeee;
    /*opacity:0.95;*/
}
 .footer .argu-con{
 	position: absolute;
 	top: 10px;
 	left: 10px;
	width:48%;
	height: 32px;
	/* background-color:rgba(243, 243, 243, 1); */
	margin-top: 1px;
	border: none;
	text-indent: 5px;
	background-color:#F3F3F3;
    border-radius: 8pt;
 }
 .footer .letter0{
	width: 23px;
	height: 20px;
	position: absolute;
	right: 2.5rem;
	top: 18px;
	background-image: url('/Content/images/sofa.png');
 }
 .footer .letter2{
	width: 22px;
	height: 20px;
	position: absolute;
	right: 2.8rem;
	top: 18px;
	background-image: url('/Content/images/comment@2x.png');
    background-size: 22px 20px;
	/*color: rgba(82, 125, 176, 1);
	font-size: 13px;*/
	line-height: 20px;
	text-align: center;
 }
 .footer .letter-2-return{
	width: 24px;
	height: 20px;
	position: absolute;
	right: 2.5rem;
	top: 18px;
	background-image: url('/Content/images/Rectangle_19.png');
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
 }
  .footer .letter3{
	width: 32px;
	position: absolute;
	right: 2.33rem;
	top: 18px;
	background-image: url('/Content/images/Rectangle_192.png');
	color: rgba(245, 124, 51, 1);
	font-size: 13px;
	line-height: 20px;
	text-align: center;
 }
  .footer .letter-3-return{
	width: 32px;
	position: absolute;
	right: 2.33rem;
	top: 18px;
	background-image: url('/Content/images/Rectangle_191.png');
	color:#fff;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
 }
 .footer .share{
 	width: 18px;
 	height: 19px;
 	background-image: url('/Content/images/share@3x.png');
 	background-size: 18px 19px;
 	background-repeat: no-repeat;
 	position: absolute;
 	right: 0.375rem;
 	top: 18px;
 }
 .footer .collect{
 	width: 22px;
 	height: 20px;
 	background-image: url('/Content/images/like@3x.png');
 	background-size: 22px 20px;
 	background-repeat: no-repeat;
 	position: absolute;
 	right: 1.6rem;
 	top: 17px;
 }
    .footer .ccount{
    width: 24px;
    height: 20px;
    position: absolute;
    right: 2.3rem;
    top: 22px;
    background-size: 24px 20px;
    color: #999;
    font-size: 6pt;
    line-height: 20px;
    text-align: center;
    }

 .footer .fcount{
    width: 24px;
    height: 20px;
    position: absolute;
    right: 1.1rem;
    top: 22px;
    background-size: 24px 20px;
    color: #999;
    font-size: 6pt;
    line-height: 20px;
    text-align: center;
    }
 .shake{
 	animation-name: shake-horizontal;
	animation-duration: 300ms;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-play-state: running;
	animation-iteration-count: 2;
	-webkit-animation-name: shake-horizontal;
	-webkit-animation-duration: 300ms;
	-webkit-animation-timing-function: ease;
	-webkit-animation-delay: 0s;
	-webkit-animation-play-state: running;	
	-webkit-animation-iteration-count: 2;
	-moz-animation-name: shake-horizontal;
	-moz-animation-duration: 300ms;
	-moz-animation-timing-function: ease;
	-moz-animation-delay: 0s;
	-moz-animation-play-state: running;
	-moz-animation-iteration-count: 2;
 }
 @keyframes shake-horizontal{
	0%{
		transform:rotate(0deg)
	}
	50%{
		transform:rotate(35deg)
	}
	100%{
		transform:rotate(0)
	}
}
 @-webkit-keyframes shake-horizontal{
	0%{
		-webkit-transform:rotate(0deg)
	}
	50%{
		-webkit-transform:rotate(35deg)
	}
	100%{
		-webkit-transform:rotate(0)
	}
}
 @-moz-keyframes shake-horizontal{
	0%{
		-moz-transform:rotate(0deg)
	}
	50%{
		-moz-transform:rotate(35deg)
	}
	100%{
		-moz-transform:rotate(0)
	}
}

.czbg {
background-image:url(/Content/images/like_red@3x.png) !important;
}
 /* 收藏成功弹窗 */
.collected{
	width: 2.75rem;
	height: 2.25rem;
	background-color:rgba(0,0,0,.8);
	border-radius: 5px;
	position:fixed;
	top:200px;
	left: 50%;
	margin-left: -1.375rem;
}
.collected p{
	font-size: 16px;
	color: #ccc;
	text-align: center;
}
.collected img{
	width: 0.6rem;
	height: 0.6rem;
	margin: 0.5rem 1.075rem 0.4rem ;
}


.attend-argu {
    padding: 20px;
    /*width: 7.25rem;*/
    height: 40px;
    background:#fff;
}
.attend-argu a {
    display: block;
    width: 7.25rem;
    height: 40px;
    border-radius: 0.075rem;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    background: rgba(223, 52, 72, 1);
}
.attend-argu a span {
    display: inline-block;
    width: 8px;
    height: 13px;
    background: url(/Content/imgs/detail/icon/Fill_270.png) no-repeat;
}


/* 评论区域 */
.commentTitle{
	position: relative;
    height: auto;
    overflow: hidden;
    background: #fff;
    padding: 0 15px;
}
.pinglun{
	color: #999;
    font-size: 16px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 0.5px solid #d9d9d9;
}
.pinglun a{
	color: #999;
    font-size: 16px;
    width: 65px;
    height: 20px;
    line-height: 20px;
    font-weight: 0;
    text-decoration: none;
    padding: 4px 0;
    border-bottom: 2px solid #f57c33;
}
.commentList{
	padding: 15px;
}
.commentList>div{
	margin-bottom: 10px;
}
.commentCon{
	width: 100%;
	overflow: hidden;
	zoom: 1;
}
.user{
    padding-top:5px;
	width: 40px;
	float: left;
        height: 40px;
}
.user img{
    border-radius:50%;
	width: 40px;
}
.commentDet{
	width: 85%;
	float: right;
	padding-top: 5px;
}
.commentTop{
	height: 20px;
	width: 100%;
	margin-bottom: 4px;
}
.userName{
	font-size: 14px;
	color: rgba(152, 151, 167, 1);
	float: left;
}
.dianzan{
	float: right;
	font-size: 0;
}
.zanNum{
	font-size: 14px;
	color: rgba(153, 153, 153, 1);
}
.dianzan i{
	display: inline-block;
	width: 15px;
	height: 14px;
	margin-left: 5px;
	background: url(/Content/images/zan.png);
	background-size: 15px 14px;
}
.commentDown,.replayCon{
	font-size: 16px;
	color: rgba(51, 51, 51, 1);
	text-align: left;
	line-height: 22px;
	overflow : hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box; 
	-webkit-line-clamp: 5; 
	-webkit-box-orient: vertical; 
}
.commentReply,.replyUpdate{
	overflow: hidden;
	zoom: 1;
}
.replayCon{
	-webkit-line-clamp: 3; 
}
.replayCon span{
	font-size: 16px;
	color: #666;
}
.replayConUpdate{
	padding: 7px;
	background-color: rgba(238, 238, 238, 1);
}
.replayConUpdate .userName{
	float: none;
	font-size: 13px;
	color: rgba(191, 191, 191, 1);
	margin-bottom: 5px;
}
.originalComment{
	display: block;
	font-size: 15px;
	color: rgba(153, 153, 153, 1);
	text-align: left;
	line-height: 20px;
	overflow : hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box; 
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical; 
}
.myComment{
	font-size: 16px;
	color: rgba(69, 69, 69, 1);
	line-height: 22px;
	overflow : hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box; 
	-webkit-line-clamp: 5; 
	-webkit-box-orient: vertical;
}
/* APP评论 */
.foot-top dl{
	border: none;
}
.APPcomment{
	/*margin-top: 20px;*/
    /*background:#fff;*/
    margin-bottom:54px;
    margin-top: -54px;
}
.comment {
     background:#fff;
}
.allBtn{
	padding: 15px;
}
.allBtn a{
	display: block;
	width: 100%;
	height: 40px;
	background-color: rgba(238, 238, 238, 1);
	font-size: 15px;
	line-height: 40px;
	color: rgba(51, 51, 51, 1);
	text-decoration: none;
	text-align: center;
}
.allBtn a span{
	display: inline-block;
	width: 2.4%;
	height: 32.5%;
	background: url(/Content/images/arrow_right.png) no-repeat;
	background-size: contain;
}