
@{
    ViewBag.Title = "公众号素材管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="topPanel">
    <div class="search">
        <table>
            <tr>
                <th class="formTitle">选择公众号</th>
                <td class="formValue" style="padding-left:10px;">
                    <div class="input-group">
                        <select id="WeChatOfficialAccounts" name="WeChatOfficialAccounts" class="form-control" style="width:200px;"></select>
                    </div>
                </td>
                <th class="formTitle">素材类型</th>
                <td class="formValue" style="padding-left:10px;">
                    <div class="input-group">
                        <select id="materialType" name="materialType" class="form-control" style="width:200px;">
                            <option value="news">图文</option>
                            <option value="image">图片</option>
                            <option value="voice">语音</option>
                            <option value="video">视频</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
    </div>
</div>

<div id="Reward" style="text-align: right;">
    <table id="gridRewardList"></table>
    <div id="rewardPager"></div>
</div>
<script type="text/javascript">

    function gridList() {
        var $RewardGrid = $('#gridRewardList');
        var originalId = $('#WeChatOfficialAccounts').val();//$("#originalId").val();
        var materialType = $("#materialType").val();
        //初始化抽奖配置列表
        $RewardGrid.dataGrid({
            height: $(window).height() - 100,
            url: '/WechatHome/GetMaterialList?originalId=' + originalId + '&materialType=' + materialType,
            colModel: [
                { label: "MediaID", name: "MediaID", width: 400, align: "center", },
                { label: "MediaType", name: "MediaType", width: 10, align: "center", hidden: true },
                {
                    label: "标题", name: "", width: 500, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        debugger
                        if (rowObject.MediaType == 'news') {
                            return '<label>' + rowObject.Title + '</label>';
                        }
                        else {
                            return '<label>' + rowObject.Name + '</label>';
                        }
                    
                        
                    }
                },
                { label: "更新时间", name: "UpdateTime", width: 160, align: "left", formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
            ],
            viewrecords: true,
            pager: "#rewardPager",
            rowNum: 20,
            rowList: [10, 20, 50]
        });
    }
    function reload() {
        debugger
        var  originalId = $('#WeChatOfficialAccounts').val();
        var materialType = $("#materialType").val();
        if (originalId) {
            var page = $('#gridRewardList').getGridParam('page');
            jQuery("#gridRewardList").jqGrid('setGridParam', {
                url: '/WechatHome/GetMaterialList?originalId=' + originalId + '&materialType=' + materialType,
                datatype: 'json',
                page: page,
            }).trigger('reloadGrid');//重新载入
        }
    }


    //获取所有公众号信息
    function getWeChatOfficialAccounts() {
        //debugger
        var originalId = $("#OriginalID").val();
        if (originalId == "") {
            originalId = $.request("originalId");
            $("#OriginalID").val(originalId);
        }
        var weChatOfficialAccounts = '';
        $.ajax({
            async: false,
            url: "/WechatHome/GetWeChatOfficialAccounts",
            dataType: 'json',
            success: function (res) {
                $.map(res, function (key) {
                    if (key.OriginalId == originalId)
                        weChatOfficialAccounts += '<option value=' + key.OriginalId + ' selected >' + key.name + '</option>';
                    else
                        weChatOfficialAccounts += '<option value=' + key.OriginalId + '>' + key.name + '</option>';
                })
                $("#WeChatOfficialAccounts").empty().append(weChatOfficialAccounts);
            }
        });
    }


    $('#WeChatOfficialAccounts').on('change', function () {
        if ($(this).val()) {
            debugger
            var originalId = $('#WeChatOfficialAccounts').val();
            var materialType = $("#materialType").val();
            //var page = $('#gridRewardList').getGridParam('page');
            jQuery("#gridRewardList").jqGrid('setGridParam', {
                url: '/WechatHome/GetMaterialList?originalId=' + originalId + '&materialType=' + materialType,
                datatype: 'json',
                page: 1,

            }).trigger('reloadGrid');//重新载入

        } else {
        }
    });

    $('#materialType').on('change', function () {
        if ($(this).val()) {
            debugger
            var originalId = $('#WeChatOfficialAccounts').val();
            var materialType = $("#materialType").val();
            //var page = $('#gridRewardList').getGridParam('page');
            jQuery("#gridRewardList").jqGrid('setGridParam', {
                url: '/WechatHome/GetMaterialList?originalId=' + originalId + '&materialType=' + materialType,
                datatype: 'json',
                page: 1,

            }).trigger('reloadGrid');//重新载入

        } else {
        }
    });

    $(function () {
        //获取公众号信息
        getWeChatOfficialAccounts();

        gridList();
    });
</script>

