@using Tuhu.Provisioning.Models
@using Tuhu.Provisioning.Controllers
@using Tuhu.Provisioning.DataAccess.Entity
@model List<Tuhu.Provisioning.DataAccess.Entity.SelectedRelateProductModel>

    @{
        var title = "已关联商品配置";
        ViewBag.Title = title;

    }
                   @section head{

                       <link href="~/Scripts/jQuery-EasyUI/themes/default/easyui.css" type="text/css" rel="stylesheet" />
                       <link href="~/Scripts/jQuery-EasyUI/themes/icon.css" type="text/css" rel="stylesheet" />
                       <link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
                       <style type="text/css">
                           input[type=file] {
                               width: 65px;
                           }
                       </style>

                   }
                   @section scripts{
                       <script type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
                   }
                   <link href="~/Scripts/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css" rel="stylesheet" />
                   <script type="text/javascript" src="~/Scripts/jQuery-EasyUI/jquery.easyui.min.js"></script>
                   <script type="text/javascript" src="~/Scripts/jQuery-EasyUI/locale/easyui-lang-zh_CN.js"></script>
                   <script type="text/javascript" src="~/Scripts/layer/layer.js"></script>

                   <script src="~/Content/ProductVehicleType/js/angular.min.js"></script>
                   <script src="~/Content/ProductVehicleType/js/tm.pagination.js"></script>
                   <script src="~/Content/ProductVehicleType/js/underscore.js"></script>
                   <link href="~/Content/ProductVehicleType/css/detail.css" type="text/css" rel="stylesheet" />
                   <link href="~/Content/ProductVehicleType/css/bootstrap.v3.css" type="text/css" rel="stylesheet" />
                   <link href="~/Content/ProductVehicleType/css/showLoading.css" type="text/css" rel="stylesheet" />
                   <script src="~/Content/nfine/js/bootstrap/bootstrap.js"></script>
                   <script src="~/Content/ProductVehicleType/js/bootstrap.min.js"></script>
                   <style>
                       .button1 {
                           border-radius: 5px;
                           padding: 5px 25px;
                           border: none;
                           color: #F0F0F0;
                           font-size: 12px;
                           font-family: "Microsoft Yahei";
                           outline: none;
                           cursor: pointer;
                           background: #0088cc;
                           border-color: #0088cc;
                       }

                       table th {
                           color: white;
                           padding: 6px 5px;
                           text-align: left;
                           background-color: #0088cc;
                           border: solid 1px #0088cc;
                       }
                   </style>
                   @helper  BrandsCheckBoxList()
        {


foreach (var item in (List<string>)ViewBag.BrandsCheckBoxList)
{
           <label style="display: inline-block; width: 150px; margin: 2px 0;">
               <input data-id="CP_Brand_Checked" value="@item" type="checkbox" name="Brand">@item
           </label>
}


}
                   <link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
                   <script src="~/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
                   <script src="~/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>

                   <script src="~/Content/ProductVehicleType/js/jquery.showLoading.min.js" type="text/javascript"></script>
                   <h2 style="">已关联商品配置</h2>
                   <div id="dgToolbar">
                       &nbsp;
                       <a class="button1" href="javascript:;" style="margin-bottom: 20px; float: right; margin-right:20px" onclick="SelectRegion();">修改支持城市</a>
                       <a class="button1" href="javascript:;" style="margin-bottom: 20px; float: right; margin: 0 6px;" onclick="LookOplog();">查看日志</a>
                   </div>
                   @*<table>
                <tr>
                    <td>查看商品</td>
                    <td>
                        <button onclick="Func.LoadList()" class="button1" style="margin-bottom: 20px; float: right;">搜索</button>
                    </td>
                </tr>
            </table>*@
                   <div class="content">

                       <div>
                           <label>品牌筛选：</label>
                           <div id="SelectBrand" style="width: 200px; height: 100px; border: 1px solid #F00;overflow-y:scroll"></div>
                           <button type="button" class="btn btn-primary" style="margin-top: 5px;margin-bottom: 2px" data-toggle="modal" data-target="#BrandModal" aria-label="Left Align">
                               选择品牌
                               <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                           </button>
                           <button type="button" class="btn btn-primary" style="margin-top: 5px;margin-bottom: 2px" aria-label="Right Align" onclick="Search()">
                               搜索
                               <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                           </button>
                       </div>
                       <div>
                           每页显示：
                           <select class="PageSize">
                               @*<option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>*@
                               <option value="100">100</option>
                           </select>条
                           <span class="data_count"></span>
                       </div>
                       <img class="loadimg" src="~/Scripts/layer/skin/default/loading-2.gif" style="margin: 5% 50%; display: none;" />
                       <div class="selectedList">

                       </div>

                   </div>
                   <div class="modal fade " tabindex="-1" role="dialog" id="BrandModal">
                       <div class="modal-dialog modal-lg" role="document">
                           <div class="modal-content">
                               <div class="modal-header">
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                   <h4 class="modal-title" id="myModalLabel">勾选品牌</h4>
                               </div>
                               <div class="modal-body">
                                   @BrandsCheckBoxList()
                               </div>

                               <div class="modal-footer">
                                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                   <button type="button" class="btn btn-primary" onclick="SelectBrand()">Save</button>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div id="LookOplog"></div>
                   <div id="edit"></div>
                   <div>
                       <a class="button1" href="javascript:;" style="margin-bottom: 20px; float: left;" onclick="selectAllProduct();">全部勾选</a>
                       <a class="button1" href="javascript:;" style="margin-bottom: 20px; float: left; margin: 0 6px;" onclick="clearAllSelectedProduct();">全部取消勾选</a>
                   </div>
                   <br />
                   <div style="clear:both;">
                       <a class="button1" href="javascript:void(0);" style="margin-bottom: 20px; float: left; margin: 0 6px;" onclick="Func.ShowEditManyPidsDialog()">删除</a>
                   </div>
                   <div id="EditItemDIV"></div>
                   <input type="button" name="name" class="mybutton" onclick="ClickSave()" style="display:none;" value="" />
                   <input type="hidden" id="hidObjectType" value="SelectedRelateProduct" />
                   <script src="~/Scripts/jquery.ztree.all-3.5.min.js"></script>
                   <script src="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>
                   <script>
    $(function () {
            Func.LoadList();
        }
    );
    Array.prototype.in_array = function (e) {
        for (i = 0; i < this.length && this[i] != e; i++);
        return !(i == this.length);s
    }
    function selectAllProduct() {

        $("input[name='Selected']").attr("checked", 'true');

    }
        function SelectBrand() {
            var todom = $("#SelectBrand");
            $('input:checkbox[name="Brand"]:checked').parent().appendTo(todom);
            $('#BrandModal').modal('hide');
        }
    function clearAllSelectedProduct() {
        $("input[name='Selected']").removeAttr("checked");
    }

    function LookOplog() {
        $("#LookOplog").html("").load('/Logger/list?objectType=SelectedRelateProduct');
        $("#LookOplog").dialog({
            title: "查看日志",
            width: 850,
            height: 450,
            modal: true,
            resizable: false,
            buttons: {
                "取消": function() {
                    $(this).dialog("close");
                }

            }
        });
    }

    function SelectRegion() {
        var pkids = "";
        var $targets = $("[name=Selected]:checked");
        alert($targets.length);
        if (!$targets.length) {
            alert("请选中数据！");
            return false;
                       }
                       if ($targets.length > 1000) {
                           alert("您勾选太多了共" + $targets.length + "条数据" + "一次不要编辑超过一千条");
                           return false;
                       }
        $("input[name='Selected']:checked").each(function () {
            pkids = pkids + this.value + ",";
        });
        $("#edit").html("").load('/ConfigCategory/Region?',{ids: pkids});
        $("#edit").dialog({
            title: "选择城市",
            width: 800,
            //height: 800,
            modal: true,
            buttons:
            [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    $(".mybutton").click();
                    $('#edit').dialog('close');
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#edit').dialog('close');
                }
            }]

        });
    }

    function Search() {
        Func.LoadList();
    }
    var Func = {

        LoadList: function () {
            //是否显示 1 全部 2 已配置  3未配置

            var categoryid = @ViewData["selectedproductcategoryid"];
            var categoryId = categoryid;

            var oids = "";
            var brands = [];
            var branddoms = $('#SelectBrand input:checkbox[name="Brand"]:checked');
            branddoms.each(function() {
                brands.push($(this).val());
            });
            $(".loadimg").show();
            $.post("/ConfigCategory/SelectedList", {
                categoryId: categoryId,
                pageSize: $(".PageSize option:selected").val(),
                probrandsductOids: oids,
                brands: brands
            }, function (html, status) {
                if (status === "success") {
                    $(".loadimg").hide();
                    $(".selectedList").html(html);
                }
            });
        },
        ShowEditManyPidsDialog: function () {

            var pkids = "";
            var $targets = $("[name=Selected]:checked");

            if (!$targets.length) {
                alert("当前未选中,无法批量删除");
                return false;
                       }
            $("input[name='Selected']:checked").each(function () {
                pkids = pkids + this.value + ",";
            });

            if (confirm("确定要删除吗")) {
                $.ajax({
                    type: "POST",
                    url: "/ConfigCategory/DeleteRelateProductByPkids",
                    data: {
                        "pkids": pkids
                    },
                    success: function (result) {
                        if (result) {
                            alert("删除成功！");
                            window.location.reload(true);
                        } else {
                            alert("删除失败！");

                        }
                    }
                });
            };
        },
    }
  </script>


