@{
    ViewBag.Title = "VIP权限规则配置";
    Layout = "~/Views/Shared/_PersonalCenterLeft.cshtml";
}

<h2>VIP权限规则配置</h2>
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }
</style>
<div>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="javascript:void(0)" class="btn" onclick="VIPAuthorizationRuleConfig.Add()">添加</a>
                </td>              
            </tr>
        </tbody>
    </table>
</div>

<div class="listdata"></div>

<script>
    $(function () {

        $(".listdata").load("/VIPAuthorizationRuleConfig/list");

        $(".listdata").on("click", ".pager>a", function (event) {
            event.preventDefault();
            debugger;
            $.ajax({
                type: "POST",
                url: this.href,
                data: {  },
                success: function (result) {
                    $(".listdata").html(result);
                },
                error: function (result) {
                    alert("失败!")
                }
            });
        });
    })

    var VIPAuthorizationRuleConfig = {
        "SearchList":  function () {
            $.ajax({
                type: "POST",
                url: "/VIPAuthorizationRuleConfig/List",
                data: {  },
                success: function (result) {
                    $(".listdata").html(result);
                },
                error: function (result) {
                    alert("失败!")
                }
            });
        },
        "Add": function () {
            $("#AddItem").load('/VIPAuthorizationRuleConfig/Edit?id=0');
            $("#AddItem").dialog({
                title: "添加",
                width: 500,
                height: 400,
                modal: true
            });
        },
        "Update": function (id) {
            $("#AddItem").load('/VIPAuthorizationRuleConfig/Edit?id=' + id);
            $("#AddItem").dialog({
                title: "修改",
                width: 500,
                height: 400,
                modal: true
            });
        },
        "Delete": function (id) {
            if (window.confirm("您确定要删除吗？")) {
                $.ajax({
                    type: "POST",
                    url: "/VIPAuthorizationRuleConfig/Delete",
                    data: { "id": id },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            window.location.href = "/VIPAuthorizationRuleConfig/Index";
                        }
                        else {
                            alert("删除失败！");
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        }
    }
</script>
