@model Tuhu.Provisioning.Models.TireViewModel
@{
    ViewBag.Title = "换轮胎入口跳转活动页配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{    
    <link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <style>
        .title {
            float: left;
        }

        .content {
            clear: both;
        }

        .condition .name {
            font-size: 16px;
            font-weight: bold;
            position: absolute;
            left: 0;
        }

        .condition > div {
            margin-bottom: 10px;
            padding-left: 82px;
            position: relative;
        }

        .f14 {
            font-size: 14px;
            margin-left: 10px;
        }

        .red {
            color: red;
        }

        .tiresize-append label.hide {
            display: none;
        }

        .tiresize-append label {
            margin-right: 50px;
            display: inline-block;
            min-width: 99px;
        }

        .list table {
            width: 100%;
        }

        .data_count{
            color: blue;
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
        }

        .button_batch {
            color: blue;
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
        }

        #Tire_Width {
            margin-left: 13px;
        }

        .list {
            width: 100%;
            overflow-x: scroll;
        }
        .pagejumphint {
            display: none;
            color: red;
            font-weight: bold;
        }
    </style>
}
<div class="title">
    <h2>换轮胎入口跳转活动页配置</h2>
</div>

<div class="content">
    <div class="condition">
        <div>
            <span class="name">品牌车型：</span>
            <span class="showVehicle"></span>
            <span class="f14">
                <a href="javascripts:void(0);" onclick="ShowSelectVehicleDialog()">选择品牌车型</a>
            </span>
        </div>
        <div class="tiresize-append">
            <span class="name">轮胎规格：</span>
            <label><input type="checkbox" name="TireSize" checked value="ALL" />不限</label>
        </div>
        <div class="tiresize-select">
            <span class="name"></span>
            @Html.DropDownList("Tire_Width", Model.TireSize.Select(T => T.Width).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "胎面宽")<b>/</b>
            @Html.DropDownList("Tire_AspectRatio", Model.TireSize.Select(T => T.AspectRatio).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "扁平比")<b>R</b>
            @Html.DropDownList("Tire_Rim", Model.TireSize.Select(T => T.Rim).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "直径")
        </div>
        <div class="showtype">
            <span class="name">有无活动：</span>
            <select>
                <option value="0">-全部显示-</option>
                <option value="1">仅显示当前有活动车型</option>
                <option value="-1">仅显示当前无活动车型</option>
            </select>
        </div>
        <div class="isactive">
            <span class="name">活动状态：</span>
            <select>
                <option value="0">全部</option>
                <option value="1">启用</option>
                <option value="-1">禁用</option>
            </select>
        </div>
        <div>
            <button onclick="LoadList(1)" class="button_select" style="width: 200px;height: 30px;MARGIN-TOP: 12px;">查询</button>
            <span><a onclick="UpdateChangedTireActivityInBatch()" class="button_batch" href="javascripts:void(0);">批量编辑</a></span>
        </div>
    </div>
    <img class="loadimg" src="~/Scripts/layer/skin/default/loading-2.gif" style="margin:5% 50%;display:none;" />
    <div class="list"></div>
</div>
<div id="SelectVehicleItem"></div>
<div id="TireActEditModule" style="display:none;"></div>
<div class="modal fade" id="logsDisplay" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 850px">
        <div class="modal-content">
            <div class="modal-body">
                <table id="logsDisplayTable" class="table table-bordered">
                    <tr>
                        <td>操作人</td>
                        <td>日期</td>
                        <td>操作类型</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Tire.js"></script>
<script src="~/Content/nfine/js/bootstrap/bootstrap.js"></script>
<script src="~/Content/ProductVehicleType/js/bootstrap.min.js"></script>
<script>
    $(function () {
        LoadList(1);
        $(".list").on("click", ".pager>a", function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            if (url) {
                $(".loadimg").show();
                $.post(url, function (html, status) {
                    if (status === "success") {
                        $(".list").html(html);
                        $(".loadimg").hide();
                        $(".data_count").text('共' + ($(".table").length ? $(".table").attr("data-count") : 0) + '条数据');
                    }
                });
            }
        })
    });

    $(".condition").on("change", "div input[type=checkbox]", function () {
        if ($(this).prop("checked") && $(this).val() != "ALL") {
            $(this).parent().parent().find("input[type=checkbox]:first").prop("checked", false);
        }
    }).on("change", ".tiresize-select select", function () {
        $(".tiresize-append").find("input[type=checkbox]:first").prop("checked", false);
    });

    var vehicleIdArr = [];
    var brandArr = [];
    var objArr = [];
    //选车型弹框
    var ShowSelectVehicleDialog = function () {
        $("#SelectVehicleItem").load('/Tire/SelectVehicle');
        $("#SelectVehicleItem").dialog({
            title: "选择品牌车型",
            width: 750,
            height: 700,
            modal: true,
            close: function () {
                vehicleIdArr.splice(0, vehicleIdArr.length);
                brandArr.splice(0, brandArr.length);
                objArr.splice(0, objArr.length);
                $(".showVehicle").empty();
                if ($("#Tire_Width option:selected").val().length || $("#Tire_AspectRatio option:selected").val().length || $("#Tire_Rim option:selected").val().length)
                    $(".tiresize-append").html('<span class="name">规格尺寸：</span><label><input type="checkbox" name="Specification" value="ALL" />不限</label>');
                else
                    $(".tiresize-append").html('<span class="name">规格尺寸：</span><label><input type="checkbox" name="Specification" checked value="ALL" />不限</label>');
                $("#select_vehicle .tab-content .brands .vehicles").each(function () {
                    var $target = $(this);
                    var checked = $target.find("input[type='checkbox']:checked");
                    if (checked.length > 0) {
                        checked.each(function () {
                            var vehicleid = $(this).attr("data-vehileid");
                            var brand = $(this).attr("data-brand");
                            vehicleIdArr.push(vehicleid);
                            brandArr.push(brand);
                        })
                    }
                });
                if (brandArr.length)//选择了车型一二级
                {
                    $.each(brandArr, function (i, v) {
                        if (objArr.length)//数组有值
                        {
                            var flag = false;
                            $.each(objArr, function (i, vv) {
                                if (vv.Brand == v) {
                                    vv.Count = vv.Count + 1;
                                    flag = true;
                                }
                            });
                            if (!flag) {
                                var obj = {
                                    Brand: v,
                                    Count: 1
                                };
                                objArr.push(obj);
                            }
                        }
                        else {
                            var obj = {
                                Brand: v,
                                Count: 1
                            };
                            objArr.push(obj);
                        }
                    });
                    // console.log(objArr);
                    if (objArr.length) {
                        var html = "";
                        $.each(objArr, function (i, v) {
                            html += '<span class="f14">' + v.Brand + '<span class="red">(' + v.Count + ')</span></span>';
                        });
                        $(".showVehicle").html(html);
                    }
                    if (vehicleIdArr.length) {
                        var vidStr = vehicleIdArr.join(',');
                        $.post("/Tire/GetSpecificationsByVehicle", { vehicleIDS: vidStr }, function (data) {
                            // console.log(data);
                            if (data.length) {

                                $.each(data, function (i, v) {
                                    if (i <= 30) {
                                        if (i == 30 && data.length > 30)
                                            $(".tiresize-append").append('<label><input type="checkbox" name="Specification" value="' + v + '" />' + v + '</label><a href="javascript:void(0);" onclick="TuhuTire.Logic.ListActivity.ShowMoreTireSize()" class="more">更多</a>');
                                        else
                                            $(".tiresize-append").append('<label><input type="checkbox" name="Specification" value="' + v + '" />' + v + '</label>');
                                    }
                                    else
                                        $(".tiresize-append").append('<label class="hide"><input type="checkbox"  name="Specification" value="' + v + '" />' + v + '</label>');
                                });

                            }
                        })
                    }
                }
            }
        });
    }

    var LoadList = function (pageIndex) {
        $(".loadimg").show();
        //规格尺寸
        var SpecificationArr = [];
        $("[name=Specification]:checked").each(function () {
            SpecificationArr.push($(this).val());
        });

        //规格尺寸的补充
        var Tire_Width = $("#Tire_Width option:selected").val();
        var Tire_AspectRatio = $("#Tire_AspectRatio option:selected").val();
        var Tire_Rim = $("#Tire_Rim option:selected").val();
        if (Tire_Width.length && Tire_AspectRatio.length && Tire_Rim.length) {
            SpecificationArr.push(Tire_Width + '/' + Tire_AspectRatio + 'R' + Tire_Rim);
        }

        $.post("/Tire/ActPageOnTireChangeList", {
            TireSize: SpecificationArr.join(';'),
            ShowType: $(".showtype select option:selected").val(),
            IsActive: $(".isactive select option:selected").val(),
            VehicleID: vehicleIdArr.length ? vehicleIdArr.join(';') : 'ALL',
            PageSize: $(".PageSize option:selected").val(),
            PageIndex: pageIndex,
        }, function (html, status) {
            if (status === "success") {
                $(".loadimg").hide();
                $(".list").html(html);
                $(".data_count").text('共' + ($(".table").length ? $(".table").attr("data-count") : 0) + '条数据');
                //document.getElementById('jumpPageTriger').addEventListener('click', jumpPageTriger(SpecificationArr), false);
            }
        });
    }

    function UpdateChangedTireActivity(actid, vehicleId, tireSize) {
        $("#TireActEditModule").html("").load("/Tire/TireActEditModule?PKId=" + actid + "&vehicleId=" + vehicleId + "&tireSize=" + tireSize);
        $("#TireActEditModule").dialog({
            title: "编辑",
            width: 500,
            height: "auto",
            modal: true,
            resizable: false,
            buttons: {
                "保存": function () {
                    SaveTireChangedActConfig(this);
                },
                "取消": function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    function UpdateChangedTireActivityInBatch()
    {
        if (!TuhuTire.Logic.ListActivity.HasSelected())
        {
            alert('当前无任何选中,无法进行批量编辑！');
            return;
        }
        $("#TireActEditModule").html("").load("/Tire/TireActEditModule?PKId=-1");
        var vehicleTireList = [];
        $("[name=selectSingle]:checked").each(function () {
            var vehicleTire = {
                "VehicleId": $(this).data("vehicleid"), "TireSize": $(this).data("tiresize"), "PKId": $(this).data("pkid"), "HashKey": $(this).data("aid"), "Status" : $(this).data("status") };
            vehicleTireList.push(vehicleTire);
        });
        $("#TireActEditModule").dialog({
            title: "编辑",
            width: 500,
            height: "auto",
            modal: true,
            resizable: false,
            buttons: {
                "保存": function () {
                    SaveTireChangedActInBatch(vehicleTireList, this, false);
                },
                "保存并刷新缓存": function () {
                    SaveTireChangedActInBatch(vehicleTireList, this, true)
                },
                "取消": function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    function SaveTireChangedActInBatch(vehicleTireList, target, toUpdateCache)
    {
        var Status1 = $("#Status1").val();
        var HashKey1 = $.trim($("#HashKey1").val());
        if (!HashKey1) {
            alert("Hash值不能为空！");
            return;
        }
        var re = new RegExp("^[0-9A-Za-z]{8}$");
        if (!re.test(HashKey1)) {
            alert("Hash值必须是8位大小写字母或数字！");
            return;
        }
        $.ajax({
            url: "/Tire/AddOrUpdateTireActInBatch",
            type: "POST",
            data: {
                hashKey: HashKey1,
                status: Status1,
                activityList: vehicleTireList
            },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data == 1) {
                    alert('编辑成功！');
                    if (toUpdateCache) {
                        RefreshChangedTireActCacheInBatch(vehicleTireList, target)
                    }
                    else {
                        $(target).dialog("close");
                        LoadList(GetPageIndex());
                    }
                }
                else {
                    if (data = -2) 
                        alert('传入的轮胎活动列表为空，无法新建或更新！');
                    if (data == -1)
                        alert('找不到与输入的Hash值相对应的活动，无法新建或更新！');
                    else
                        alert('编辑失败！');
                }
            },
            error: function () {
                alert('提交失败！');
            }
        })
    }

        function DeleteChangedTireActivity(actid) {
            if (confirm("确定要删除这个活动配置吗？")) {
                $.ajax({
                    url: "/Tire/DeleteTireChangedAct",
                    type: "POST",
                    data: {
                        PKId: actid
                    },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        if (data == 1) {
                            alert('删除成功！');
                            LoadList(GetPageIndex());
                        }
                        else if(data == -1) {
                            alert('找不到要删除的活动配置记录！');
                        }
                        else {
                            alert('删除失败！');
                        }
                    },
                    error: function () {
                        alert('提交失败！');
                    },
                });
            }
        }

        function RefreshChangedTireActCache(vehicleId, tireSize) {
            var vehicleTireList = [];
            vehicleTireList.push({
                "vehicleId": vehicleId,
                "tireSize": tireSize
            });
            if (confirm("确定要刷新该活动配置的缓存吗？")) {
                $.ajax({
                    url: "/Tire/RefreshTireChangedActCache",
                    type: "POST",
                    data: {
                        idSizeList: vehicleTireList
                    },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        if (data == 1) {
                            alert('刷新缓存成功！');
                        }
                        else if (data == 0) {
                            alert('刷新缓存失败！');
                        }
                        else{
                            alert('不存在需要刷新缓存的数据！');
                        }
                    },
                    error: function () {
                        alert('提交失败！');
                    },
                });
            }
        }

        function RefreshChangedTireActCacheInBatch(vehicleTireList, target) {
            if (confirm("确定要刷新所选活动配置的缓存吗？")) {
                $.ajax({
                    url: "/Tire/RefreshTireChangedActCache",
                    type: "POST",
                    data: {
                        idSizeList: vehicleTireList
                    },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        if (data == 1) {
                            alert('刷新缓存成功！');
                        }
                        else if (data == 0) {
                            alert('刷新缓存失败！');
                        }
                        else {
                            alert('不存在需要刷新缓存的数据！');
                        }
                        $(target).dialog("close");
                        LoadList(GetPageIndex());
                    },
                    error: function () {
                        alert('提交失败！');
                        $(target).dialog("close");
                        LoadList(GetPageIndex());
                    },
                });
            }
            else
            {
                $(target).dialog("close");
                LoadList(GetPageIndex());
            }
        }

    function CheckChangedTireActHistory(vehicleId, tireSize) {
        $.ajax({
            url: "/Tire/SelectTireActOprLogByHashkey",
            type: "GET",
            data: { "vehicleId": vehicleId, "tireSize": tireSize },
            success: function (data) {
                var content = "<tr><td style='font-weight:bold; text-align:center'>操作人</td><td style='font-weight:bold; text-align:center'>日期</td><td style='font-weight:bold; text-align:center'>操作描述</td><td style='font-weight:bold; text-align:center'>活动Hash值</td><td style='font-weight:bold; text-align:center'>活动状态</td></tr>";
                if (data.status == "success") {
                    $(data.data).each(function (index) {
                        content += "<tr><td style='text-align:center'>" + data.data[index].Author + "</td><td style='text-align:center'>" + data_string(data.data[index].CreateDatetime) + "</td><td style='text-align:center'>" + data.data[index].Message;
                        if(data.data[index].OldHashKey==data.data[index].HashKey)
                            content +="</td><td style='text-align:center'>无变化";
                        else
                            content += "</td><td style='text-align:center'>" + ((data.data[index].OldHashKey && data.data[index].OldHashKey!=null)?data.data[index].OldHashKey:'无')+'->'+((data.data[index].HashKey && data.data[index].HashKey!='null')?data.data[index].HashKey:'无');
                        if(data.data[index].OldState==data.data[index].State)
                            content +="</td><td style='text-align:center'>无变化</td></tr>";
                        else
                            content += "</td><td style='text-align:center'>" + ((data.data[index].OldState=="0")?"禁用":(data.data[index].OldState=="1"?"启用":"无")) +'->'+((data.data[index].State=="0")?"禁用":(data.data[index].State=="1"?"启用":"无"))+"</td></tr>";
                    });
                } else {
                    content = "暂无记录";
                }
                $('#logsDisplayTable').html(content);
                $('#logsDisplay').modal('show');
            }
        });
    }

    function data_string(str) {
        var d = eval('new ' + str.substr(1, str.length - 2));
        var ar_date = [d.getFullYear(), d.getMonth() + 1, d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds()];
        for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
        return ar_date.slice(0, 3).join('-') + ' ' + ar_date.slice(3).join(':');

        function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
    }

</script>