@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.TireSizeModel>
    @{
        ViewBag.Title = "轮胎缺货&白名单管理";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section head{
        <style>
            .title {
                float: left;
            }

            .content {
                clear: both;
            }

            .condition .name {
                font-size: 16px;
                font-weight: bold;
            }

            .condition label {
                font-size: 14px;
                margin-left: 10px;
            }

            .condition > div {
                margin-bottom: 10px;
            }

            table {
                width: 100%;
            }

            .data_count {
                color: #0026ff;
            }

            #EditSingle div {
                float: left;
                margin-right: 50px;
                width: 188px;
            }

            #EditMany div {
                float: left;
                margin-right: 50px;
                width: 188px;
            }

            span {
                word-break: break-all;
            }

            #add .title {
                font-size: 16px;
                font-weight: bold;
            }

            .tit.error {
                color: red;
            }


            #add {
                width: 721px;
                padding: 0 20px 10px;
                box-shadow: 0 0 0 10px rgba(3, 3, 3, 0.2);
                background-color: #fff;
                /*overflow: hidden;*/
                height: 500px;
                overflow-y: auto;
            }

                #add .close {
                    position: relative;
                    float: right;
                    width: 20px;
                    height: 16px;
                    background: url(https://resource.tuhu.cn/Css/images/icon_modal.png) 0 -220px;
                    margin-top: 14px;
                    cursor: pointer;
                    z-index: 111;
                }

                #add .SelectCar {
                    float: left;
                    width: 610px;
                    margin: 9px 0 0 10px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #333;
                }

            .mybtn {
                width: 100px;
                height: 30px;
            }
        </style>
        <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    }
    <div class="title">
        <h2>轮胎缺货&白名单管理</h2>
    </div>
    <div class="content">
        <div class="condition">
            <div>
                <span class="name">地区:</span>
                <select id="province">
                    <option data-pkid="1" value="上海市">上海市</option>
                </select>
                <select id="CityId">
                    <option value="上海市" data-pkid="1">上海市</option>
                </select>
            </div>
            <div class="tiresize-select">
                <span class="name">轮胎规格:</span>
                @Html.DropDownList("Tire_Width", Model.Select(T => T.Width).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "胎面宽")<b>/</b>
                @Html.DropDownList("Tire_AspectRatio", Model.Select(T => T.AspectRatio).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "扁平比")<b>R</b>
                @Html.DropDownList("Tire_Rim", Model.Select(T => T.Rim).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "直径")
            </div>
            <div class="stockout">
                <span class="name">上架状态：</span>
                <select id="OnSale">
                    <option value="0" >全部</option>
                    <option value="-1">下架</option>
                    <option value="1" selected="selected">上架</option>
                </select>
            </div>
            <div class="stockout">
                <span class="name">人工标缺：</span>
                <select id="Stuckout">
                    <option value="0" selected="selected">全部</option>
                    <option value="1">缺货</option>
                    <option value="-1">有货</option>
                </select>
            </div>

            <div class="stockout">
                <span class="name">全仓系统标缺：</span>
                <select id="SystemStuckout">
                    <option value="0" selected="selected">全部</option>
                    <option value="-1">缺货</option>
                    <option value="1">有货</option>
                </select>
            </div>

            <div class="regionalStockout">
                <span class="name">区域标缺：</span>
                <select id="RegionalStockout">
                    <option value="0" selected="selected">全部</option>
                    <option value="-1">缺货</option>
                    <option value="1">有货</option>
                </select>
            </div>

            <div>
                <span class="name">显示状态:</span>
                <select id="isShow">
                    <option value="0" selected="selected">全部</option>
                    <option value="1">显示</option>
                    <option value="-1">不显示</option>
                </select>
            </div>


            <div>
                <span class="name">启用状态:</span>
                <select id="status">
                    <option value="0" selected="selected">全部</option>
                    <option value="1">启用</option>
                    <option value="-1">禁用</option>
                </select>
            </div>

            <div>
                <span class="name">PID:</span>
                <input type="text" name="PID" value='@(ViewBag.PID)' style="width:150px" />
            </div>

            <div>
                <span class="name">产品名称:</span>
                <input type="text" name="productname" value="" style="width:150px" />
            </div>

            <div>
                <button onclick="TuhuTire.Logic.TireStockoutWhite.LoadList(1)" class="button_select" style="width: 200px;height: 30px;display: block;MARGIN-TOP: 12px;">查询</button>
            </div>
        </div>

        <div style="margin-bottom:30px">
            每页显示：
            <select class="PageSize" onchange="TuhuTire.Logic.TireStockoutWhite.LoadList(1);">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="10000">10000</option>
            </select>条
            <span class="data_count"></span>
        </div>
        <img class="loadimg" src="~/Scripts/layer/skin/default/loading-2.gif" style="margin:5% 50%;display:none;" />
        <div class="list"></div>
    </div>

    <div id="add" style="display:none;">
        <div style="height:45px;border-bottom: 2px solid #d12a3e;">
            <div class="SelectCar" style="width:500px;margin-top:16px;">添加</div>
            <div class="close"></div>
        </div>
        <div style="margin-top:10px;">
            <span class="title">PID：</span>
            <div class="pids" style="margin-left:49px;">
                <button class="addPid mybtn">增加PID</button>
            </div>
        </div>
        <div style="position: absolute;right: 5px;bottom: 5px;">
            <button class="save mybtn">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="closeBtn mybtn">取消</button>
        </div>
    </div>


    <div id="StatusOpr" style="display:none;">
        <div style="text-align:center;margin:0 auto;font-size:1.2em">
            <span class="name" style="margin-bottom:2em;">修改白名单状态：</span>
            <br />
            <select id="NewStatus">
                <option value="0">禁用</option>
                <option value="1">启用</option>
            </select>
        </div>
        
    </div>


    <script src="~/Content/sweetalert/sweetalert.js"></script>
    <script src="~/Scripts/Tire.js"></script>
    <script>
        $(function () {

            $.ajax({
                url: "https://www.tuhu.cn/Shop/Region.aspx",
                jsonpCallback: "__Regions__",
                dataType: "jsonp",
            }).done(function (regions) {
                //渲染省
                var html_p = '';
                $.map(regions, function (value, key) {
                    if (value.PKID != 1)
                        html_p += '<option data-pkid="' + value.PKID + '" value="' + value.RegionName + '">' + value.RegionName + '</option>';
                });
                $("#province").append(html_p);

                //渲染市
                $("#province").change(function () {
                    var PKID = $("#province>option:selected").attr("data-pkid");
                    var name = $("#province>option:selected").val();
                    var html_c = '';
                    var zxs = false;
                    if (PKID == 1 || PKID == 2 || PKID == 19 || PKID == 20)
                        zxs = true;

                    if (PKID && PKID.length) {
                        $.map(regions, function (value, key) {
                            if (value.PKID == PKID) {
                                if (zxs) {
                                    html_c += '<option data-pkid="' + PKID + '" value="' + name + '">' + name + '</option>'
                                }
                                else {
                                    html_c += '<option value="">请选择</option>'
                                    $.map(value.ChildrenRegion, function (v, k) {

                                        html_c += '<option data-pkid="' + v.PKID + '" value="' + v.RegionName + '">' + v.RegionName + '</option>';
                                    });
                                }
                            }
                        });
                    }
                    $("#CityId").empty().append(html_c);
                });
            });

            TuhuTire.Logic.TireStockoutWhite.LoadList(1);
            $(".list").on("click", ".pager>a", function (event) {
                event.preventDefault();
                var url = $(this).attr("href");
                if (url) {
                    $.post(url, function (html, status) {
                        if (status === "success") {
                            $(".list").html(html);
                        }
                    });
                }
            })
        });
        $('.addPid').on('click', function () {
            var html = '<div style="margin-bottom:10px;"><input type="text" name="name"  value="" onkeyup="TuhuTire.Logic.InstallNow.CheckPid(this)" onblur="TuhuTire.Logic.InstallNow.CheckPid(this)" style="margin-right: 21px;" /><a href="#" onclick="$(this).parent().remove()"  style="margin-right: 21px;">删除</a><span class="tit"></span></div>';
            $(this).before(html);
        });
    </script>

    <script>
        var TireFunc = {
            Status_Opr: function (PID, Status) {
                if (Status == 0) {
                    $("#NewStatus").attr('value', 1);
                } else {
                    $("#NewStatus").attr('value', 0);
                }
                $("#StatusOpr").dialog({
                    title: "白名单状态",
                    width: 200,
                    height: 200,
                    modal: true,
                    buttons: {
                        "保存": function () {
                            var dialog = $(this);
                            var NewStatus = dialog.find("#NewStatus option:selected").val()
                            if (NewStatus == Status) {
                                $(this).dialog("close");
                            } else {
                                $(this).dialog("close");
                                if (NewStatus == 0) {
                                    $.post("/Tire/RemoveWhite", {
                                        pid: PID
                                    }, function (result) {
                                        if (result > 0) {
                                            swal("成功", "保存成功!", "success");
                                            TuhuTire.Logic.TireStockoutWhite.LoadList($(".list .pager>a.current").text());
                                        } else
                                            swal("失败", result.ReturnMessage, "error");
                                    });
                                } else {
                                    $.post("/Tire/SaveTireStockWhite", {
                                        pids: PID
                                    }, function (result) {
                                        if (result > 0) {
                                            swal("成功", "保存成功!", "success");
                                            TuhuTire.Logic.TireStockoutWhite.LoadList($(".list .pager>a.current").text());
                                        } else
                                            swal("失败", result.ReturnMessage, "error");
                                    });
                                }
                            }
                        },
                        "关闭": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            },
        };
    </script>