html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "微软雅黑";
  font-size: 62.5%;
}
    html body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        /*background: url('../img/hk_bg.png') no-repeat 0 bottom;*/
        background-size: contain;
        background-color: #feefd1;
    }
html body img {
  width: 100%;
}
html body img.bottom {
  margin-top: -6px;
}
html body .middle {
  position: relative;
  width: 100%;
}

html body center{
    position:relative;
    /*left:50%;*/
}
html body .middle .input_container {
  background-color: #f8d956;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: -2px -2px #cf9f21, 1px 0 #cf9f21, 0 1px #cf9f21;
  -moz-box-shadow: -2px -2px #cf9f21, 1px 0 #cf9f21, 0 1px #cf9f21;
  -webkit-box-shadow: -2px -2px #cf9f21, 1px 0 #cf9f21, 0 1px #cf9f21;
  position: absolute;
  left: 50%;
}
html body .middle .input_container label {
  display: inline-block;
  color: #cb7504;
  position: absolute;
  left: 12px;
}
html body .middle .input_container .input {
  position: absolute;
  left: 10px;
  border: none;
  background: rgba(0, 0, 0, 0);
  outline: none;
  color: #471406;
}
html body .middle .input_container .getCode {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 4px #a7a7a7;
  -webkit-box-shadow: 0 4px #a7a7a7;
  -moz-box-shadow: 0 4px #a7a7a7;
  position: absolute;
  right: 3px;
  background-color: #bfbfbf;
  color: #FFFFFFF;
}
html body .middle .input_container .getCode.disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  box-shadow: 0 4px #a7a7a7;
  -webkit-box-box-shadow: 0 4px #a7a7a7;
  -moz-box-shadow: 0 4px #a7a7a7;
}
html body .middle .tipContainer {
  position: absolute;
  width: 100%;
  top: 107px;
  text-align: center;
}
html body .middle .tipContainer .tip {
  display: inline-block;
  border-radius: 8px;
  background-color: #f4613d;
  color: #FFFFFF;
  padding: 3px 10px;
  margin: 0 auto;
}
html body .mslq {
  background: url(http://image.tuhu.cn/activity/001/mslq.png) no-repeat;
  background-size: contain;
}
html body .mslqd {
  /*position: absolute;*/
  background: url(http://image.tuhu.cn/activity/001/mslqd.png) no-repeat;
  background-size: contain;
}
html body .jy_layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(http://image.tuhu.cn/activity/001/jy_success.png) no-repeat;
  background-size: contain;
  z-index: 10;
  display: none;
}
html body .jy_layer span {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30px;
  left: 0;
  color: #989898;
  font-size: 14px;
}
html body .jy_layer + div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
html body .downBtn {
  display: block;
  background: url(http://image.tuhu.cn/activity/001/downBtn.png) no-repeat;
  background-size: contain;
  margin: 0 auto 10px;
  text-align: center;
  color: #e02f06;
  text-decoration: none;
}
@media only screen and (min-width: 414px) and (max-width: 640px) {
  html body .middle .tipContainer {
    top: 110px;
  }
  .lpq {
    margin-top: -7px;
  }
  .rule {
    margin-top: -10px;
  }
  .middle {
    height: 134px;
    /*top:320px;*/
  }

  .middle .input_container {
    width: 60%;
    margin-left: -30%;
    height: 40px;
    position: absolute;
  }
  .middle .input_container:nth-child(1) {
    top: 10px;
  }
  .middle .input_container:nth-child(2) {
    top: 60px;
  }
  .middle .input_container label,
  .middle .input_container .input {
    height: 40px;
    font-size: 18px;
    line-height: 36px;
  }
  .middle .input_container .codeInput {
    width: 120px;
  }
  .middle .input_container .getCode {
    padding: 3px 8px;
    font-size: 16px;
    margin-top: 5px;
  }
  .mslq , .mslqd{
    width: 250px;
    height: 70px;
    margin:0 auto;
  }
  .jy_layer {
    width: 250px;
    height: 260px;
  }
  .downBtn {
    width: 230px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    line-height: 55px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 413px) {
  html body .middle .tipContainer {
    top: 110px;
  }
  .lpq {
    margin-top: -7px;
  }
  .rule {
    margin-top: -10px;
  }
  .middle {
    height: 134px;
  }

  .middle .input_container {
    width: 60%;
    margin-left: -30%;
    height: 40px;
    position: absolute;
  }
  .middle .input_container:nth-child(1) {
    top: 10px;
  }
  .middle .input_container:nth-child(2) {
    top: 60px;
  }
  .middle .input_container label,
  .middle .input_container .input {
    height: 35px;
    font-size: 16px;
    line-height: 38px;
  }
  .middle .input_container .codeInput {
    width: 120px;
  }
  .middle .input_container .getCode {
    padding: 3px 8px;
    font-size: 16px;
    margin-top: 5px;
  }
  .mslq, .mslqd {
    width: 235px;
    height: 60px;
    margin:0 auto;
  }
  .jy_layer {
    width: 250px;
    height: 260px;
  }
  .downBtn {
    width: 230px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    line-height: 55px;
  }
}
@media only screen and (min-width: 330px) and (max-width: 374px) {
  html body .middle .tipContainer {
    top: 107px;
  }
  .lpq {
    margin-top: -7px;
  }
  .rule {
    margin-top: -10px;
  }
  .middle {
    height: 132px;
  }

  .middle .input_container {
    width: 60%;
    margin-left: -30%;
    height: 40px;
    position: absolute;
  }
  .middle .input_container:nth-child(1) {
    top: 10px;
  }
  .middle .input_container:nth-child(2) {
    top: 60px;
  }
  .middle .input_container label,
  .middle .input_container .input {
    height: 35px;
    font-size: 16px;
    line-height: 38px;
  }
  .middle .input_container .codeInput {
    width: 120px;
  }
  .middle .input_container .getCode {
    padding: 4px 8px;
    font-size: 16px;
    margin-top: 4px;
  }
  .mslq, .mslqd {
    width: 225px;
    height: 52px;
    margin:0 auto;
  }
  .jy_layer {
    width: 140px;
    height: 150px;
  }
  .downBtn {
    width: 230px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    line-height: 55px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 329px) {
  html body .middle .tipContainer {
    top: 90px;
  }
  .lpq {
    margin-top: -4px;
  }
  .rule {
    margin-top: -10px;
  }
  .middle {
    height: 116px;
  }

  .middle .input_container {
    width: 60%;
    margin-left: -30%;
    height: 30px;
    position: absolute;
  }
  .middle .input_container:nth-child(1) {
    top: 10px;
  }
  .middle .input_container:nth-child(2) {
    top: 50px;
  }
  .middle .input_container label,
  .middle .input_container .input {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }
  .middle .input_container .codeInput {
    width: 100px;
  }
  .middle .input_container .getCode {
    padding: 2px 6px;
    font-size: 14px;
    margin-top: 1px;
  }
  .mslq, .mslqd {
    width: 200px;
    height: 51px;
    left: 59px;
    top: 30px;
  }
  .jy_layer {
    width: 220px;
    height: 230px;
  }
  .downBtn {
    width: 190px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
  }
}
/*# sourceMappingURL=jiayou.css.map */



body .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  background-color: black;
  opacity: 0.3;
  display: none;
}
    body .layer + .success {
        position: absolute;
        width: 4.844rem;
        height: 5.781rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    
        background: url(../img/jy_success.png) no-repeat center;
        background-size: contain;
        display: none;
    }
body .layer + .success > p {
  text-align: center;
  color: #47ab10;
  margin: 0.1rem 0 0 0;
  font-family: "微软雅黑";
}
body .layer + .success > p:first-child {
  margin-top: 4rem;
  color: #eaffdc;
}
.got {
  position: absolute;
  width: 4.844rem;
  height: 5.781rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url(../img/got.png) no-repeat center;
  background-size: contain;
  text-align: center;
  display: none;
}
.got .ok {
  width: 1.375rem;
  line-height: 0.563rem;
  margin: 4rem auto 0;
  text-align: center;
  background-color: #42A8FD;
  color: #ffffff;
  border-radius: 5px;
}
[data-dpr="3"] .errorMsg {
  font-size: 36px;
}
[data-dpr="3"] .success > p {
  font-size: 36px;
}
[data-dpr="3"] input,
[data-dpr="3"] .getCode {
  font-size: 40px;
}
[data-dpr="3"] .submit {
  font-size: 60px;
}
[data-dpr="3"] body .downApp > span:nth-of-type(2) {
  font-size: 40px;
  margin: 0 20px;
}
[data-dpr="3"] body .downApp > span:nth-of-type(3) {
  font-size: 60px;
}
[data-dpr="3"] .downApp > label {
  font-size: 60px;
}
[data-dpr="2"] .errorMsg {
  font-size: 22px;
}
[data-dpr="2"] .success > p {
  font-size: 22px;
}
[data-dpr="2"] input,
[data-dpr="2"] .getCode {
  font-size: 26px;
}
[data-dpr="2"] .submit {
  font-size: 44px;
}
[data-dpr="2"] body .downApp > span:nth-of-type(2) {
  font-size: 26px;
  margin: 0 20px;
}
[data-dpr="2"] body .downApp > span:nth-of-type(3) {
  font-size: 30px;
}
[data-dpr="2"] .downApp > label {
  font-size: 40px;
}
@media only screen and (max-width: 640px) {
  .errorMsg {
    font-size: 14px;
  }
  [data-dpr="2"] .success > p {
    font-size: 18px;
  }
  [data-dpr="2"] input,
  [data-dpr="2"] .getCode {
    font-size: 22px;
  }
  [data-dpr="2"] .submit {
    font-size: 38px;
  }
  [data-dpr="2"] body .downApp > span:nth-of-type(2) {
    font-size: 20px;
    margin: 0 20px;
  }
  [data-dpr="2"] body .downApp > span:nth-of-type(3) {
    font-size: 26px;
  }
  [data-dpr="2"] .downApp > label {
    font-size: 30px;
  }
}
[data-dpr="1"] .errorMsg {
  font-size: 10px;
}
[data-dpr="1"] .layer + .success > p:first-child {
  font-size: 10px;
  margin-top: 4.05rem;
}
[data-dpr="1"] input,
[data-dpr="1"] .getCode {
  font-size: 14px;
}
[data-dpr="1"] .submit {
  font-size: 18px;
}
[data-dpr="1"] .downApp > label {
  font-size: 20px;
}