
@{
    ViewBag.Title = "机油等级推荐规则";
}

<h2>
    <a target="_blank" href="/OilBrandPriority/OilBrandPhonePriority">机油品牌推荐优先级配置</a>
    <span>机油推荐配置</span>
</h2>

<link href="~/Content/Public/Public.css" rel="stylesheet" type="text/css" />
<div>
    <a target="_blank" href="/OilViscosityConfig/OilViscosityPriorityConfig">1.按粘度推荐机油</a>
    <label>2.等级推荐规则</label>
    <a target="_blank" href="/OilViscosityConfig/OilViscosityRegionConfig">3.配置的地区里只显示0W或5W机油</a>
</div>
<table class="tableContainer" style="margin-top:10px;">
    <thead>
        <tr>
            <th style="width:20%;">原厂</th>
            <th>优先级1</th>
            <th>优先级2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>全合成</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>半合成</td>
            <td>全合成</td>
            <td></td>
        </tr>
        <tr>
            <td>矿物油</td>
            <td>半合成</td>
            <td>全合成</td>
        </tr>
    </tbody>
</table>
<p>注：仅用来显示说明当前机油等级参与的推荐规则</p>

