<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <domainConfig topDomain="tuhu.dev">
    <domain name="YewuSite" site="http://yewu.tuhu.dev" />
    <domain name="PurchaseSite" site="http://purchase.tuhu.dev" />
    <domain name="ProvisioningSite" site="http://setting.tuhu.dev" />
    <domain name="OrderSite" site="http://oms.tuhu.dev" />
    <!--<domain name="ReportSite" site="http://item.tuhu.dev" />-->
    <domain name="FileSite" site="http://file.tuhu.dev" />
    <domain name="ImageSite" site="http://image.tuhu.dev" />
    <domain name="ImgSite" site="http://img.tuhu.dev" />
    <domain name="ShopMapSite" site="http://ywmap.tuhu.dev" />
    <domain name="KuaiXiu" site="http://kx.tuhu.dev" />
    <domain name="CangKuSite" site="https://w.tuhu.dev/" />
    <domain name="Parts" site="http://parts.tuhu.dev" />
  </domainConfig>
  <moduleDomain>
    <module name="DefaultDomain" domain="http://yewu.tuhu.dev" />
    <module name="采购" domain="http://purchase.tuhu.dev" />
    <module name="移动端配置" domain="http://setting.tuhu.dev" />
    <module name="报表" domain="http://yewu.tuhu.dev" />
    <module name="采购订单" domain="http://purchase.tuhu.dev" />
    <module name="采购用款审核" domain="http://purchase.tuhu.dev" />
    <module name="采购订单无凭证" domain="http://purchase.tuhu.dev" />
    <module name="采购改仓库列表" domain="http://yewu.tuhu.dev"/>
    <module name="入库批次" domain="http://yewu.tuhu.dev"/>
    <module name="库存" domain="http://yewu.tuhu.dev"/>
    <module name="轮胎库存" domain="http://yewu.tuhu.dev"/>
    <module name="保养库存" domain="http://yewu.tuhu.dev"/>
    <module name="合并采购单" domain="http://yewu.tuhu.dev"/>
    <module name="应付货款" domain="http://yewu.tuhu.dev"/>
    <module name="需退货" domain="http://yewu.tuhu.dev"/>
    <module name="需取货" domain="http://yewu.tuhu.dev"/>
    <module name="采购任务跟踪" domain="http://purchase.tuhu.dev"/>
    <module name="所有仓库等待送货" domain="http://yewu.tuhu.dev"/>
    <module name="产品库存价格查询" domain="http://yewu.tuhu.dev"/>
    <module name="配置默认推荐机油" domain="http://yewu.tuhu.dev"/>
    <module name="订单模块" domain="http://oms.tuhu.dev" />
    <module name="订单报表模块" domain="http://oms.tuhu.dev" />
    <module name="订单审核模块" domain="http://oms.tuhu.dev" />
    <module name="回访模块" domain="http://oms.tuhu.dev" />
    <module name="投诉模块" domain="http://oms.tuhu.dev" />
    <module name="投诉FAQ" domain="http://yewu.tuhu.dev" />
    <module name="催开发票" domain="http://oms.tuhu.dev" />
    <module name="结算单管理" domain="http://purchase.tuhu.dev" />
    <module name="结算单预付款" domain="http://purchase.tuhu.dev" />
    <module name="活动日程安排" domain="http://yewu.tuhu.dev" />
    <module name="采购-轮胎/轮毂库存表" domain="http://yewu.tuhu.dev" />
    <module name="采购-轮胎/轮毂缺货表" domain="http://yewu.tuhu.dev" />
    <module name="采购-销售报表" domain="http://yewu.tuhu.dev" />
    <module name="采购-库存明细报表" domain="http://yewu.tuhu.dev" />
    <module name="订单-轮胎轮毂未发出报表" domain="http://yewu.tuhu.dev" />
    <module name="订单-保养未采购未发出每日汇总报表" domain="http://yewu.tuhu.dev" />
    <module name="采购-明细报表" domain="http://purchase.tuhu.dev" />
    <module name="采购-取货到货率报表" domain="http://purchase.tuhu.dev" />
    <module name="订单-品牌销售月报" domain="http://yewu.tuhu.dev" />
    <module name="会员管理" domain="http://kx.tuhu.dev" />
    <module name="订单管理" domain="http://kx.tuhu.dev" />
    <module name="订单统计" domain="http://kx.tuhu.dev" />
    <module name="服务码统计" domain="http://kx.tuhu.dev" />
    <module name="产品管理" domain="http://kx.tuhu.dev" />
    <module name="财务管理" domain="http://kx.tuhu.dev" />
    <module name="日志管理" domain="http://kx.tuhu.dev" />
    <module name="系统公告" domain="http://kx.tuhu.dev" />
    <module name="客户退回商品明细" domain="http://yewu.tuhu.dev" />
    <module name="投诉任务" domain="http://yewu.tuhu.dev" />
    <module name="任务管理" domain="http://bd.tuhu.dev" />
    <module name="车品报表" domain="http://yewu.tuhu.dev"/>
    <module name="评论审核" domain="http://yewu.tuhu.dev"/>
    <module name="敏感词管理" domain="http://yewu.tuhu.dev"/>
    <module name="0元购" domain="http://yewu.tuhu.dev"/>
    <module name="轮胎预约" domain="http://yewu.tuhu.dev"/>
    <module name="仓库管理" domain="http://yewu.tuhu.dev/" />
    <module name="保养适配" domain="http://parts.tuhu.dev/" />
    <module name="退单率统计" domain="http://yewu.tuhu.dev/" />
    <module name="地区配置" domain="http://oms.tuhu.dev/" />
    <module name="推荐度配置" domain="http://yewu.tuhu.dev/" />
    <module name="套餐配置" domain="http://yewu.tuhu.dev/" />
    <module name="汽车用品模块" domain="http://yewu.tuhu.dev/" />
    <module name="仓库人员配置" domain="http://yewu.tuhu.dev/" />
    <module name="付款方式配置" domain="http://oms.tuhu.dev/" />
    <module name="创建移库任务" domain="http://yewu.tuhu.dev/" />
    <module name="移库任务列表(采购)" domain="http://yewu.tuhu.dev/" />
    <module name="移库任务列表(仓库)" domain="http://yewu.tuhu.dev/" />
    <module name="移库任务列表(收货)" domain="http://yewu.tuhu.dev/" />
    <module name="移库任务价格配置" domain="http://yewu.tuhu.dev/" />
    <module name="仓库移库到门店配置" domain="http://yewu.tuhu.dev/" />
    <module name="套餐打包任务列表" domain="http://yewu.tuhu.dev/" />
    <module name="VIP套餐移库" domain="http://yewu.tuhu.dev/" />
    <module name="耗材PID维护" domain="http://yewu.tuhu.dev" />
    <module name="投诉WORK SHOP" domain="http://yewu.tuhu.dev" />
  </moduleDomain>
</configuration>
