* {
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    max-width:630px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: "微软雅黑";
    background-color: rgba(238, 238, 238, 1);
    -webkit-overflow-scrolling : touch; 
}

li {
    list-style: none;
}
img{display:block;}
.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.wrapper {
    width: 100%;
    max-width: 630px;
    min-height:560px;
    font-family: arial "微软雅黑";
    margin: 0 auto;
}
.ev_title{
    height:40px;
    width:100%;
    /*border-top: 1px solid rgba(217, 217, 217, 1);
    border-bottom: 1px solid rgba(217, 217, 217, 1);*/
    background-color:#fff;
}
.ev_title span {
    font-size:14px;
    color:#fff;
    display:inline-block;
    width:100px;
    height:23px;
    background:url(../image/piaodai.png) no-repeat;
    background-size:contain;
    margin:10px 0 0 5px;
    line-height:22px;
    padding-left:7px;
}
.ev_title:first-child{
    border-top:none;
}
.ev_content{
    /*margin:10px 15px 10px 28px;*/
    background-color:#fff;
    margin-bottom:5px;
}
.ev_content:last-child {
     margin-bottom:0 !important;
     padding-bottom:15px;
}
.ev_content li{
    font-size:14px;
    color:rgba(102, 102, 102, 1);
    line-height:24px;
    margin-bottom:10px;
    margin-left:15px;
     /*list-style-type: decimal;
    list-style-position: outside;*/ 
}
.ev_content li span {
    float:left;
    width:22px;
    font-size: 13px;
    color: rgba(223, 51, 72, 1);
    line-height:24px;
}
.ev_content li div {
    float:left;
    width:92.7%;
    padding-right:15px;
}
.ev_content li em{
    display:block;
    margin-top:8px;
    line-height:22px;
    font-style:normal;
    color: rgba(153, 153, 153, 1);
}

