@{
    ViewBag.Title = "塞券记录";
}
@section head{
    <link href="~/css/beautyPackage.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/iview/iview.css" rel="stylesheet" type="text/css" />
}

<div id="div" v-cloak>
    <h2>
        <a href="/VipPaintPackage/PackageConfig">喷漆套餐配置</a>
        <a href="/VipPaintPackage/PromotionOperation" style="margin-left:30px">给用户塞券</a>
        <label style="margin-left:30px">塞券记录</label>
        <a href="/VipPaintPackage/PackageSmsConfig" style="margin-left:30px">短信配置</a>
    </h2>
    <div style="margin-top:30px;">
        <i-input style="width:10%" placeholder="请输入批次号" v-model.trim="searchData.batchCode"></i-input>
        <i-input style="width:10%" placeholder="请输入手机号" v-model.trim="searchData.mobileNumber"></i-input>
        <i-input style="width:10%" placeholder="请输入套餐PID" v-model.trim="searchData.packagePid"></i-input>
        <i-select style="width:10%" v-model="searchData.vipUserId" filterable placeholder="请选择大客户">
            <i-option value="00000000-0000-0000-0000-000000000000">-请选择-</i-option>
            <i-option v-for="item in vipUsers" :value="item.VipUserId" :key="item.VipUserId">{{item.VipUserName}}</i-option>
        </i-select>
        <i-button type="primary" v-on:click="Search(1)">搜索</i-button>
    </div>
    <table class="tableContainer" style="margin-top:30px;">
        <thead>
            <tr>
                <th>批次号</th>
                <th>套餐PID</th>
                <th>套餐名称</th>
                <th>所属大客户</th>
                <th>上传数量<br>(一个手机号为一条记录)</th>
                <th>塞券成功</th>
                <th>塞券人</th>
                <th>塞券时间</th>
                <th>短信</th>
                <th>操作</th>
            </tr>
        </thead>
        <tr v-if="searchResult && searchResult.length <= 0 && !loading">
            <td colspan="8">无数据</td>
        </tr>
        <tr v-if="loading">
            <td colspan="8"><img src="/Images/loading.gif" /></td>
        </tr>
        <tr v-for="item in searchResult">
            <td>{{item.BatchCode}}</td>
            <td>{{item.PackagePid}}</td>
            <td>{{item.PackageName}}</td>
            <td>{{item.VipUserName}}</td>
            <td>{{item.UploadCount}}</td>
            <td>{{item.SuccessCount}}</td>
            <td>{{item.CreateUser}}</td>
            <td>{{item.CreateDateTime | DatePrase}}</td>
            <td v-if="item.IsSendSms==true"><Tag color="blue">发送</Tag></td>
            <td v-if="item.IsSendSms==false"><Tag color="red">不发送</Tag></td>
            <td v-if="item.UploadCount>0">
                <i-button type="primary" v-on:click.prevent="" v-on:click="GetFileTaskStatus(item.BatchCode,'/VipPaintPackage/PromotionDetail?batchcode='+item.BatchCode)">详情</i-button>
                <i-button type="error" v-on:click="GetFileTaskStatus(item.BatchCode,'/VipPaintPackage/ExportExcel?batchcode='+item.BatchCode)">下载</i-button>
            </td>
            <td v-else>
                正在处理上传数据,暂时无法查看详情和下载,请稍后
            </td>
        </tr>
    </table>
    <Page style="margin:10px;" :total="pager.totalCount" :current.sync="pager.pageIndex" :page-size="pager.pageSize"
          v-on:on-page-size-change="ChangePageSize" show-total show-sizer></Page>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/vue.min.js"></script>
    <script type="text/javascript" src="~/Scripts/iview/iview.min.js"></script>
    <script type="text/javascript">
        function DatePrase(value) {
            if (value) {
                return eval('new ' + eval(value).source).Format('yyyy-MM-dd hh:mm:ss');
            }
        };
        Vue.filter('DatePrase', DatePrase);
        var vue = new Vue({
            el: "#div",
            data: {
                searchData: {
                    batchCode: "",
                    mobileNumber: "",
                    packagePid: "",
                    vipUserId: "00000000-0000-0000-0000-000000000000"
                },
                pager: {
                    pageIndex: 1,
                    pageSize: 20,
                    totalCount: 0,
                    totalPage: 0
                },
                loading: false,
                searchResult: [],
                vipUsers: [],
                fileRunningStatus: ["Wait", "Runing", "Loaded", "Repaired"]
            },
            watch: {
                "pager.pageIndex": function () {
                    var self = this;
                    self.Search(self.pager.pageIndex);
                }
            },
            created: function () {
                this.GetAllPaintPackageUser();
                this.$Message.config({
                    top: 150,
                    duration: 5
                });
            },
            methods: {
                Search: function (pageIndex) {
                    var self = this;
                    //self.loading = true;
                    self.pager.pageIndex = pageIndex;
                    //self.list = [];
                    $.post("SelectPromotionRecord", {
                        batchCode: self.searchData.batchCode,
                        packagePid: self.searchData.packagePid,
                        mobileNumber: self.searchData.mobileNumber,
                        vipUserId: self.searchData.vipUserId,
                        pageIndex: self.pager.pageIndex,
                        pageSize: self.pager.pageSize
                    }, function (result) {
                        if (result && result.Status) {
                            self.searchResult = result.Data;
                            self.pager.totalCount = result.TotalCount;
                        }
                        //else {
                        //    self.searchResult = [];
                        //    self.pager.totalCount = 0;
                        //}
                        //self.loading = false;
                    });
                },
                GetAllPaintPackageUser: function () {
                    var self = this;
                    $.get("GetAllPaintPackageUser", function (result) {
                        if (result && result.Status) {
                            self.vipUsers = result.Data;
                        }
                    });
                },
                ChangePageSize: function (pageSize) {
                    var self = this;
                    self.pager.pageSize = pageSize;
                    self.Search(1);
                },
                //查看塞券任务状态
                GetFileTaskStatus: function (batchCode, href) {
                    var vue = this;
                    if (!batchCode || !href) {
                        return;
                    }
                    if (!confirm("是否确认该操作")) {
                        return;
                    }
                    $.post("GetFileTaskStatus", {
                        batchcode: batchCode
                    }, function (result) {
                        if (result.Status) {
                            if (vue.fileRunningStatus.indexOf(result.Data) != -1) {
                                vue.$Message.warning("该批次正在塞券中,请耐心等待");
                                return;
                            } else {
                                window.location = href;
                            }
                        }
                    });
                }
            },
        });
        setInterval(function () {
            vue.Search(vue.pager.pageIndex);
        }, 1000);
    </script>
}