@{
    ViewBag.Title = "喷漆大客户套餐配置";
}

<link href="~/Content/iview/iview.css" rel="stylesheet" />
<link href="~/css/beautyPackage.css" rel="stylesheet" type="text/css" />
<style>
    table > tbody > tr > td {
        word-break: break-all;
    }

    .ivu-select-multiple .ivu-select-input {
        border: none;
    }

    .ivu-tag {
        white-space: nowrap;
        cursor: auto;
    }
</style>
<div id="div" v-cloak>
    <h2>
        <label>喷漆套餐配置</label>
        <a href="/VipPaintPackage/PromotionOperation" style="margin-left:30px;">给用户塞券</a>
        <a href="/VipPaintPackage/PromotionRecord" style="margin-left:30px;">塞券记录</a>
        <a href="/VipPaintPackage/PackageSmsConfig" style="margin-left:30px;">短信配置</a>
    </h2>
    <div style="margin-top:30px;">
        <label>套餐PID:</label>
        <i-input type="text" placeholder="请输入套餐PID" v-model.trim="searchData.packagePid" style="width:10%;"></i-input>
        <label>大客户:</label>
        <i-select style="width:10%" v-model="searchData.vipUserId" filterable placeholder="请选择大客户">
            <i-option value="00000000-0000-0000-0000-000000000000">-请选择大客户-</i-option>
            <i-option v-for="vipUser in vipUsers" :value="vipUser.VipUserId" :key="vipUser.VipUserId">{{vipUser.VipUserName}}</i-option>
        </i-select>
        <i-button type="primary" v-on:click="Search(1)">搜索</i-button>
        <i-button v-on:click="OpenAddDialog()">新增</i-button>
    </div>
    <table class="tableContainer" style="margin-top:30px;">
        <thead>
            <tr>
                <th>编号</th>
                <th>套餐PID</th>
                <th>套餐名称</th>
                <th>套餐所属大客户</th>
                <th>套餐价格</th>
                <th>适用Pid</th>
                <th>结算方式</th>
                <th>操作</th>
                <th>创建人</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="searchResult && searchResult.length <= 0 && !loading">
                <td colspan="20">无数据</td>
            </tr>
            <tr v-else-if="loading">
                <td colspan="20"><img src="~/Images/loading.gif" /></td>
            </tr>
            <tr v-else-if="searchResult != []" v-for="(value,index) in searchResult">
                <td>{{(pager.pageIndex-1)*pager.pageSize+index+1}}</td>
                <td>{{value.PackagePid}}</td>
                <td>{{value.PackageName}}</td>
                <td>{{value.VipUserName}}</td>
                <td>￥{{value.PackagePrice}}</td>
                <td>{{value.ServicePids}}</td>
                <td v-if="value.SettlementMethod==='PreSettled'"><Tag color="blue">买断制</Tag></td>
                <td v-else-if="value.SettlementMethod==='ByPeriod'"><Tag color="green">据实</Tag></td>
                <td v-else></td>
                <td style="white-space:nowrap;">
                    <i-button type="error" v-on:click="Delete(value)">删除</i-button>
                </td>
                <td>{{value.Operator}}</td>
                <td>{{value.CreateDateTime | DatePrase}}</td>
            </tr>
            <tr v-else>
                <td colspan="20">根据筛选条件未能查询到相关结果</td>
            </tr>
        </tbody>
    </table>
    <Page style="margin:10px;" :total="pager.totalCount" :current.sync="pager.pageIndex" :page-size="pager.pageSize" show-total></Page>
    @*添加或编辑的对话框*@
    <Modal v-model="addOrEditDialog.show" :mask-closable="false" v-on:on-cancel="CloseAddOrEditDialog" width="500px">
        <p slot="header" style="color:#f60;text-align:center">
            <span v-else-if="addOrEditDialog.type==='Add'">添加</span>
        </p>
        <div style="text-align:center">
            <table class="tableContainer">
                <tr>
                    <th>套餐所属大客户:</th>
                    <td style="text-align:left;">
                        <i-select style="width:60%" v-model="model.VipUserId" filterable>
                            <i-option value="00000000-0000-0000-0000-000000000000" key="00000000-0000-0000-0000-000000000000">-请选择大客户-</i-option>
                            <i-option v-for="vipUser in vipUsers" :value="vipUser.VipUserId" :key="vipUser.VipUserId">{{vipUser.VipUserName}}</i-option>
                        </i-select>
                    </td>
                </tr>
                <tr>
                    <th>套餐名称:</th>
                    <td style="text-align:left;">
                        <i-input type="text" v-model="model.PackageName"></i-input>
                    </td>
                </tr>
                <tr>
                    <th>套餐价格:</th>
                    <td style="text-align:left;">
                        <i-input type="number" v-model.number="model.PackagePrice"></i-input>
                    </td>
                </tr>
                <tr>
                    <th>适用Pid:</th>
                    <td style="text-align:left;">
                        <i-select v-model="model.ServicePids" multiple filterable style="width:350px;">
                            <i-option v-for="service in services" :value="service.ServicePid" :key="service.ServicePid">{{service.ServiceName}}</i-option>
                        </i-select>
                    </td>
                </tr>
                <tr>
                    <th>
                        结算方式:
                    </th>
                    <td style="text-align:left;">
                        <Radio-Group v-model="model.SettlementMethod">
                            <Radio label="PreSettled">买断制</Radio>
                            <Radio label="ByPeriod">据实</Radio>
                        </Radio-Group>
                    </td>
                </tr>
            </table>
        </div>
        <div slot="footer">
            <i-button type="button" class="btn btn-basic" v-on:click="Add()">保存</i-button>
            <i-button type="button" class="btn btn-basic" v-on:click="CloseAddOrEditDialog()">取消</i-button>
        </div>
    </Modal>
</div>
<script src="~/Scripts/vue.min.js"></script>
<script src="~/Scripts/iview/iview.min.js"></script>
<script type="text/javascript">
    function DatePrase(value) {
        if (value) {
            return eval('new ' + eval(value).source).Format('yyyy-MM-dd hh:mm:ss');
        }
    };
    Vue.filter('DatePrase', DatePrase);
    var vue = new Vue({
        el: "#div",
        data: {
            services: [],
            vipUsers: [],
            searchData: {
                packagePid: "",
                vipUserId: ""
            },
            pager: {
                pageIndex: 1,
                pageSize: 20,
                totalPage: 0,
                totalCount: 0
            },
            model: {
            },
            loading: false,
            searchResult: [],
            addOrEditDialog: {
                show: false,
                type: ""
            }
        },
        created: function () {
            var self = this;
            self.Search(self.pager.pageIndex);
            self.GetAllPaintPackageUser();
            self.$Message.config({
                top: 150,
                duration: 5
            });
        },
        watch: {
            "pager.pageIndex": function () {
                var self = this;
                self.Search(self.pager.pageIndex);
            }
        },
        methods: {
            //获取所有大客户
            GetAllPaintPackageUser: function () {
                var self = this;
                $.post("GetAllPaintPackageUser", function (result) {
                    if (result.Status) {
                        self.vipUsers = result.Data;
                    }
                });
            },
            //查询配置
            Search: function (pageIndex) {
                var self = this;
                self.loading = true;
                self.pager.pageIndex = pageIndex;
                $.post("SelectVipPaintPakcage", {
                    packagePid: self.searchData.packagePid,
                    vipUserId: self.searchData.vipUserId || "00000000-0000-0000-0000-000000000000",
                    pageIndex: self.pager.pageIndex, pageSize: self.pager.pageSize
                }, function (result) {
                    if (result.Status) {
                        self.searchResult = result.Data;
                        self.pager.totalCount = result.TotalCount;
                    }
                    else {
                        self.$Message.error("查询失败!" + (result.Msg || ""));
                        self.searchResult = [];
                    }
                    self.loading = false;
                });
            },
            //打开添加对话框
            OpenAddDialog: function (item) {
                var self = this;
                self.imgFile = null;
                self.model = {
                    PKID: 0,
                    PackagePid: "",
                    PackageName: "",
                    PackagePrice: 0,
                    VipUserId: "",
                    VipUserName: "",
                    ServicePids: [],
                    SettlementMethod: "",
                };
                self.GetAllServices();
                self.addOrEditDialog.show = true;
            },
            //关闭对话框
            CloseAddOrEditDialog: function () {
                var self = this;
                self.addOrEditDialog.show = false;
            },
            //添加配置
            Add: function () {
                var self = this;
                var model = self.model;
                model.ServicePids = (model.ServicePids || []).join(",");
                if (!model.PackageName) {
                    self.$Message.warning("请输入套餐名称");
                    return;
                }
                if (!confirm("是否确认添加套餐:  " + model.PackageName + "  ? ")) {
                    return;
                }
                if (!self.CheckModel(model)) {
                    return;
                }
                $.post("AddVipPaintPackage", { model: model }, function (result) {
                    if (result && result.Status) {
                        self.$Message.success("添加成功!" + (result.Msg || ""));
                        self.CloseAddOrEditDialog();
                        setTimeout(function () { self.Search(self.pager.pageIndex) }, 2000);
                    }
                    else {
                        self.$Message.error("添加失败!" + (result.Msg || ""));
                    }
                });
            },
            //删除配置
            Delete: function (item) {
                var self = this;
                if (!item || !item.PackageName) {
                    return;
                }
                if (!confirm("确认删除套餐： " + item.PackageName + "?")) {
                    return;
                }
                $.post("DeleteVipPaintPackage",
                    { model: item }, function (result) {
                        if (result && result.Status) {
                            self.$Message.success("删除成功!" + (result.Msg || ""));
                            setTimeout(function () { self.Search(self.pager.pageIndex) }, 2000);
                        }
                        else {
                            self.$Message.error("删除失败!" + (result.Msg || ""));
                        }
                    });
            },
            //添加或编辑是数据校验
            CheckModel: function (model) {
                var self = this;
                var errorMessage = "";
                if (!model) {
                    errorMessage = "未知的对象";
                }
                else if (!model.VipUserId || model.VipUserId == "00000000-0000-0000-0000-000000000000") {
                    errorMessage = "请选择大客户";
                }
                else if (!model.PackageName) {
                    errorMessage = "请输入套餐名称";
                }
                else if (!parseFloat(model.PackagePrice) || model.PackagePrice <= 0) {
                    errorMessage = "套擦价格须大于0";
                }
                else if (!model.ServicePids) {
                    errorMessage = "请选择适用Pid";
                }
                else if (!model.SettlementMethod) {
                    errorMessage = "请选择结算方式";
                }
                if (errorMessage) {
                    self.$Message.warning(errorMessage);
                    return false;
                }
                else {
                    return true;
                }
            },
            //喷漆大客户适用Pid
            GetAllServices: function () {
                var self = this;
                self.services = [{
                    ServicePid: "FU-PQXB-BZQ|1", ServiceName: "A类标准漆喷漆服务"
                },
                {
                    ServicePid: "FU-PQXB-BZQ|2", ServiceName: "B类标准漆喷漆服务"
                },
                {
                    ServicePid: "FU-PQXB-BZQ|3", ServiceName: "C类标准漆喷漆服务"
                },
                {
                    ServicePid: "FU-PQXB-GDQ|4", ServiceName: "D类高端漆喷漆服务"
                },
                {
                    ServicePid: "FU-PQXB-GDQ|5", ServiceName: "E类高端漆喷漆服务"
                }];
            }
        }
    })
</script>
