@{
    ViewBag.Title = "保养套餐图片配置";
    List<Tuhu.Provisioning.DataAccess.Entity.BaoYangPackageImageConfig> products = ViewBag.Prudcts;
}

<h2>保养套餐图片配置</h2>
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }
</style>

<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
<div>
    <table>
        <tbody>
            <tr>
                <td>产品：</td>
                <td>
                    <select id="product" style="width:433px;">
                        <option value="">--请选择--</option>
                        @foreach (var item in products)
                        {
                            <option value="@item.PID">@item.DisplayName</option>
                        }
                    </select>
                </td>
                <td><input type="button" style="margin-top:0" class="btn" onclick="BaoYangPackageImageConfig.SearchList()" value="搜索" /></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="listdata"></div>

<script>

    $("#product").filtrateSelect({ height: 200 });
    $(function () {

        $(".listdata").load("/BaoYangPackageImageConfig/list");

        $(".listdata").on("click", ".pager>a", function (event) {
            event.preventDefault();
            debugger;
            $.ajax({
                type: "POST",
                url: this.href,
                data: { "pid": $("#product").val() },
                success: function (result) {
                    $(".listdata").html(result);
                },
                error: function (result) {
                    alert("失败!")
                }
            });
        });
    })

    var BaoYangPackageImageConfig = {
        "SearchList": function () {
            $.ajax({
                type: "POST",
                url: "/BaoYangPackageImageConfig/List",
                data: { "pid": $("#product").val() },
                success: function (result) {
                    $(".listdata").html(result);
                },
                error: function (result) {
                    alert("失败!")
                }
            });
        },
        "Update": function (id, pid, e) {

            $.ajax({
                type: "POST",
                url: "/BaoYangPackageImageConfig/Edit",
                data: {
                    "id": id,
                    "PID": pid,
                    "Image": $(e).parents("tr").find("td").eq(4).find("input[class='image']").val(),
                    "Image2": $(e).parents("tr").find("td").eq(5).find("input[class='image']").val()
                },
                dataType: "json",
                success: function (result) {
                    if (result) {
                        window.location.href = "/BaoYangPackageImageConfig/Index";
                    }
                    else {
                        alert("保存失败！");
                    }
                },
                error: function (result) {

                }
            })
        },
        "Delete": function (id) {
            if (window.confirm("您确定要删除吗？")) {
                $.ajax({
                    type: "POST",
                    url: "/BaoYangPackageImageConfig/Delete",
                    data: { "id": id },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            window.location.href = "/BaoYangPackageImageConfig/Index";
                        }
                        else {
                            alert("删除失败！");
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        }
    }
</script>
