@{
    ViewBag.Title = "four";
    Layout = null;
}



<div style="float:left;margin-left:10px">
    <form id="threeFormOnePC">
        <table id="threeTableByOnePC" class="easyui-form">
            <tr>
                <td colspan="3">
                    <center>一列</center>
                </td>
            </tr>
            <tr>
                <td>PID:</td>
                <td colspan="2">
                    <input type="text" name="PID" onchange="GetProductImage(this, 'threeTableByOnePC')" />
                </td>
            </tr>
            <tr>
                <td>产品名称:</td>
                <td colspan="2">
                    <input type="text" id="ProductName" name="ProductName" />
                </td>
            </tr>
            <tr>
                <td>活动ID：</td>
                <td colspan="2">
                    <input type="text" name="VID"  />
                </td>
            </tr>
            <tr>
                <td>优惠券ID：</td>
                <td colspan="2">
                    <input type="text"  name="CID" onchange="BindCoupon('threeFormOnePC')" />
                    @*<select name="CID" id="CID"></select>*@
                </td>

            </tr>
            <tr>
                <td>图片:</td>
                <td>
                    <img id="cimg" width="20" height="20" />
                    <input type="hidden" id="hidCimg" name="hidCimg" />
                </td>
                <td>
                    <input type="file" id="ThreecFilePC" name="ThreecFilePC" onchange="UploadImg(this, 'cimg', 'hidCimg', 'IsUploading', 'threeTableByOnePC')" />
                    <input type="hidden" id="IsUploading" name="IsUploading" value="@(Model == null?"0":Model.IsUploading.ToString())" />
                </td>
            </tr>
            <tr id="TwoPic" style="display:none;">
                <td>图片(二):</td>
                <td>
                    <img id="cimgTwoPic" width="20" height="20" />
                    <input type="hidden" id="hidCimgTwoPic" name="hidCimgTwoPic" />
                </td>
                <td>
                    <input id="ThreecFileTwoPic1PC" type="file" name="ThreecFileTwoPic1PC" onchange="UploadImg(this, 'cimgTwoPic', 'hidCimgTwoPic', 'IsUploading', 'threeTableByOnePC')" />
                </td>
            </tr>
            <tr>
                <td>
                    活动类型:
                </td>
                <td colspan="2">
                    <select id="Type" name="Type" onchange="DropDownChange('threeFormOnePC')">
                        <option value="-1">请选择</option>
                        <option value="0">轮胎</option>
                        <option value="1">车品</option>
                        <option value="2">链接</option>
                        <option value="3">图片</option>
                        <option value="4">优惠卷</option>
                        <option value="5">保养</option>
                        <option value="6">限购轮胎</option>
                        <option value="7">限购车品</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>是否图片:</td>
                <td colspan="2">
                    <select id="IsImage" name="IsImage">
                        <option value="0" selected="selected">模板</option>
                        <option value="1">图片</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    显示方式:
                </td>
                <td colspan="2">
                    <select id="DisplayWay" name="DisplayWay">
                        <option value="-1">不选择</option>
                        <option value="0">竖向</option>
                        <option value="1">横向</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>描述:</td>
                <td colspan="2">

                    <textarea name="Description" id="Description" style="width:280px;height:16px; font-size:12px; overflow:hidden;"></textarea>
                </td>
            </tr>
            <tr>
                <td>官网URL:</td>
                <td colspan="2">
                    <input type="text" name="Url" />
                </td>
            </tr>

            <tr>
                <td>排序:</td>
                <td colspan="2">
                    <input type="text" name="OrderBy" />
                </td>
            </tr>
            <tr style="display:none;">
                <td>轮胎品牌:</td>
                <td colspan="2">
                    <select id="TireBrand" name="TireBrand">
                        <option value="-1">不选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(IOS):</td>
                <td>
                    <input type="text" name="HandlerIOS" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(Android):</td>
                <td>
                    <input type="text" name="HandlerAndroid" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(IOS):</td>
                <td>
                    <input type="text" name="SOAPIOS" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(Android)：</td>
                <td>
                    <input type="text" name="SOAPAndroid" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span style="color:red;">
                        【特殊通讯值】填写时，不用单引号【'】以及不用中括号【[]】
                        <br />
                        例如(不符合格式):<br />
                        {'name':'value','key':1} 、<br />
                        [{"name":"value","key":1} ]
                    </span>

                </td>
            </tr>
        </table>
    </form>
</div>

<div style="float:left;margin-left:10px">
    <form id="threeFormTwoPC">
        <table class="easyui-form" id="threeTableByTwoPC" style="float:left">
            <tr>
                <td colspan="3">
                    <center>二列</center>
                </td>
            </tr>
            <tr>
                <td>PID:</td>
                <td colspan="2">
                    <input type="text" id="PID" name="PID" onchange="GetProductImage(this, 'threeFormTwoPC')" />
                </td>
            </tr>
            <tr>
                <td>产品名称:</td>
                <td colspan="2">
                    <input type="text" id="ProductName" name="ProductName" />
                </td>
            </tr>
            <tr>
                <td>活动ID：</td>
                <td colspan="2">
                    <input type="text" id="VID" name="VID" />
                </td>
            </tr>
            <tr>
                <td>优惠券ID：</td>
                <td colspan="2">
                    <input type="text" name="CID" onchange="BindCoupon('threeFormTwoPC')"  />
                    @*<select name="CID" id="CID"></select>*@
                </td>

            </tr>
            <tr>
                <td>图片:</td>
                <td>
                    <img id="cimg" width="20" height="20" />
                    <input type="hidden" id="hidCimg" name="hidCimg" />
                </td>
                <td>
                    <input id="cFile1PC" type="file" name="cFile1PC" onchange="UploadImg(this, 'cimg', 'hidCimg', 'IsUploading', 'threeFormTwoPC')" />
                    <input type="hidden" id="IsUploading" name="IsUploading" value="@(Model == null?"0":Model.IsUploading.ToString())" />
                </td>
            </tr>
            <tr id="TwoPic" style="display:none;">
                <td>图片(二):</td>
                <td>
                    <img id="cimgTwoPic" width="20" height="20" />
                    <input type="hidden" id="hidCimgTwoPic" name="hidCimgTwoPic" />
                </td>
                <td>
                    <input id="ThreecFileTwoPic2PC" type="file" name="ThreecFileTwoPic2PC" onchange="UploadImg(this, 'cimgTwoPic', 'hidCimgTwoPic', 'IsUploading', 'threeFormTwoPC')" />
                </td>
            </tr>
            <tr>
                <td>
                    活动类型:
                </td>
                <td colspan="2">
                    <select id="Type" name="Type" onchange="DropDownChange('threeFormTwoPC')">
                        <option value="-1">请选择</option>
                        <option value="0">轮胎</option>
                        <option value="1">车品</option>
                        <option value="2">链接</option>
                        <option value="3">图片</option>
                        <option value="4">优惠卷</option>
                        <option value="5">保养</option>
                        <option value="6">限购轮胎</option>
                        <option value="7">限购车品</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>是否图片:</td>
                <td colspan="2">
                    <select id="IsImage" name="IsImage">
                        <option value="0" selected="selected">模板</option>
                        <option value="1">图片</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    显示方式:
                </td>
                <td colspan="2">
                    <select id="DisplayWay" name="DisplayWay">
                        <option value="-1">不选择</option>
                        <option value="0">竖向</option>
                        <option value="1">横向</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>描述:</td>
                <td colspan="2">

                    <textarea name="Description" id="Description" style="width:280px;height:16px; font-size:12px; overflow:hidden;"></textarea>
                </td>
            </tr>
            <tr>
                <td>官网URL:</td>
                <td colspan="2">
                    <input type="text" name="Url" />
                </td>
            </tr>

            <tr>
                <td>排序:</td>
                <td colspan="2">
                    <input type="text" name="OrderBy" />
                </td>
            </tr>
            <tr style="display:none;">
                <td>轮胎品牌:</td>
                <td colspan="2">
                    <select id="TireBrand" name="TireBrand">
                        <option value="-1">不选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(IOS):</td>
                <td>
                    <input type="text" name="HandlerIOS" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(Android):</td>
                <td>
                    <input type="text" name="HandlerAndroid" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(IOS):</td>
                <td>
                    <input type="text" name="SOAPIOS" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(Android)：</td>
                <td>
                    <input type="text" name="SOAPAndroid" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span style="color:red;">
                        【特殊通讯值】填写时，不用单引号【'】以及不用中括号【[]】
                        <br />
                        例如(不符合格式):<br />
                        {'name':'value','key':1} 、<br />
                        [{"name":"value","key":1} ]
                    </span>

                </td>
            </tr>
        </table>
    </form>
</div>


<div style="float:left;margin-left:10px">
    <form id="threeFormByThreePC">
        <table class="easyui-form" id="threeTableByThreePC" style="float:left">
            <tr>
                <td colspan="3">
                    <center>三列</center>
                </td>
            </tr>
            <tr>
                <td>PID:</td>
                <td colspan="2">
                    <input type="text" id="PID" name="PID" onchange="GetProductImage(this, 'threeFormByThreePC')" />
                </td>
            </tr>
            <tr>
                <td>产品名称:</td>
                <td colspan="2">
                    <input type="text" id="ProductName" name="ProductName" />
                </td>
            </tr>
            <tr>
                <td>活动ID：</td>
                <td colspan="2">
                    <input type="text" id="VID" name="VID" />
                </td>
            </tr>
            <tr>
                <td>优惠券ID：</td>
                <td colspan="2">
                    <input type="text" name="CID" onchange="BindCoupon('threeFormByThreePC')"  />
                    @*<select name="CID" id="CID"></select>*@
                </td>

            </tr>
            <tr>
                <td>图片:</td>
                <td>
                    <img id="cimg" width="20" height="20" />
                    <input type="hidden" id="hidCimg" name="hidCimg" />
                </td>
                <td>
                    <input id="cFile2PC" type="file" name="cFile2PC" onchange="UploadImg(this, 'cimg', 'hidCimg', 'IsUploading', 'threeFormByThreePC')" />
                    <input type="hidden" id="IsUploading" name="IsUploading" value="@(Model == null?"0":Model.IsUploading.ToString())" />
                </td>
            </tr>
            <tr id="TwoPic" style="display:none;">
                <td>图片(二):</td>
                <td>
                    <img id="cimgTwoPic" width="20" height="20" />
                    <input type="hidden" id="hidCimgTwoPic" name="hidCimgTwoPic" />
                </td>
                <td>
                    <input id="ThreecFileTwoPic3PC" type="file" name="ThreecFileTwoPic3PC" onchange="UploadImg(this, 'cimgTwoPic', 'hidCimgTwoPic', 'IsUploading', 'threeFormByThreePC')" />
                </td>
            </tr>
            <tr>
                <td>
                    活动类型:
                </td>
                <td colspan="2">
                    <select id="Type" name="Type" onchange="DropDownChange('threeFormByThreePC')">
                        <option value="-1">请选择</option>
                        <option value="0">轮胎</option>
                        <option value="1">车品</option>
                        <option value="2">链接</option>
                        <option value="3">图片</option>
                        <option value="4">优惠卷</option>
                        <option value="5">保养</option>
                        <option value="6">限购轮胎</option>
                        <option value="7">限购车品</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>是否图片:</td>
                <td colspan="2">
                    <select id="IsImage" name="IsImage">
                        <option value="0" selected="selected">模板</option>
                        <option value="1">图片</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    显示方式:
                </td>
                <td colspan="2">
                    <select id="DisplayWay" name="DisplayWay">
                        <option value="-1">不选择</option>
                        <option value="0">竖向</option>
                        <option value="1">横向</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>描述:</td>
                <td colspan="2">

                    <textarea name="Description" id="Description" style="width:280px;height:16px; font-size:12px; overflow:hidden;"></textarea>
                </td>
            </tr>
            <tr>
                <td>官网URL:</td>
                <td colspan="2">
                    <input type="text" name="Url" />
                </td>
            </tr>

            <tr>
                <td>排序:</td>
                <td colspan="2">
                    <input type="text" name="OrderBy" />
                </td>
            </tr>
            <tr style="display:none;">
                <td>轮胎品牌:</td>
                <td colspan="2">
                    <select id="TireBrand" name="TireBrand">
                        <option value="-1">不选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(IOS):</td>
                <td>
                    <input type="text" name="HandlerIOS" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(Android):</td>
                <td>
                    <input type="text" name="HandlerAndroid" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(IOS):</td>
                <td>
                    <input type="text" name="SOAPIOS" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(Android)：</td>
                <td>
                    <input type="text" name="SOAPAndroid" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span style="color:red;">
                        【特殊通讯值】填写时，不用单引号【'】以及不用中括号【[]】
                        <br />
                        例如(不符合格式):<br />
                        {'name':'value','key':1} 、<br />
                        [{"name":"value","key":1} ]
                    </span>

                </td>
            </tr>
        </table>
    </form>
</div>


<div style="float:left;margin-left:10px">
    <form id="threeFormByfourPC">
        <table class="easyui-form" id="threeTableByfourPC" style="float:left">
            <tr>
                <td colspan="3">
                    <center>四列</center>
                </td>
            </tr>
            <tr>
                <td>PID:</td>
                <td colspan="2">
                    <input type="text" id="PID" name="PID" onchange="GetProductImage(this, 'threeFormByfourPC')" />
                </td>
            </tr>
            <tr>
                <td>产品名称:</td>
                <td colspan="2">
                    <input type="text" id="ProductName" name="ProductName" />
                </td>
            </tr>
            <tr>
                <td>活动ID：</td>
                <td colspan="2">
                    <input type="text" id="VID" name="VID" />
                </td>
            </tr>
            <tr>
                <td>优惠券ID：</td>
                <td colspan="2">
                    <input type="text" name="CID" onchange="BindCoupon('threeFormByfourPC')"  />
                    @*<select name="CID" id="CID"></select>*@
                </td>

            </tr>
            <tr>
                <td>图片:</td>
                <td>
                    <img id="cimg" width="20" height="20" />
                    <input type="hidden" id="hidCimg" name="hidCimg" />
                </td>
                <td>
                    <input id="cFile3PC" type="file" name="cFile3PC" onchange="UploadImg(this, 'cimg', 'hidCimg', 'IsUploading', 'threeFormByfourPC')" />
                    <input type="hidden" id="IsUploading" name="IsUploading" value="@(Model == null?"0":Model.IsUploading.ToString())" />
                </td>
            </tr>
            <tr id="TwoPic" style="display:none;">
                <td>图片(二):</td>
                <td>
                    <img id="cimgTwoPic" width="20" height="20" />
                    <input type="hidden" id="hidCimgTwoPic" name="hidCimgTwoPic" />
                </td>
                <td>
                    <input id="ThreecFileTwoPic4PC" type="file" name="ThreecFileTwoPic4PC" onchange="UploadImg(this, 'cimgTwoPic', 'hidCimgTwoPic', 'IsUploading', 'threeFormByfourPC')" />
                </td>
            </tr>
            <tr>
                <td>
                    活动类型:
                </td>
                <td colspan="2">
                    <select id="Type" name="Type" onchange="DropDownChange('threeFormByfourPC')">
                        <option value="-1">请选择</option>
                        <option value="0">轮胎</option>
                        <option value="1">车品</option>
                        <option value="2">链接</option>
                        <option value="3">图片</option>
                        <option value="4">优惠卷</option>
                        <option value="5">保养</option>
                        <option value="6">限购轮胎</option>
                        <option value="7">限购车品</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>是否图片:</td>
                <td colspan="2">
                    <select id="IsImage" name="IsImage">
                        <option value="0" selected="selected">模板</option>
                        <option value="1">图片</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    显示方式:
                </td>
                <td colspan="2">
                    <select id="DisplayWay" name="DisplayWay">
                        <option value="-1">不选择</option>
                        <option value="0">竖向</option>
                        <option value="1">横向</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>描述:</td>
                <td colspan="2">

                    <textarea name="Description" id="Description" style="width:280px;height:16px; font-size:12px; overflow:hidden;"></textarea>
                </td>
            </tr>
            <tr>
                <td>官网URL:</td>
                <td colspan="2">
                    <input type="text" name="Url" />
                </td>
            </tr>

            <tr>
                <td>排序:</td>
                <td colspan="2">
                    <input type="text" name="OrderBy" />
                </td>
            </tr>
            <tr style="display:none;">
                <td>轮胎品牌:</td>
                <td colspan="2">
                    <select id="TireBrand" name="TireBrand">
                        <option value="-1">不选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(IOS):</td>
                <td>
                    <input type="text" name="HandlerIOS" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">APP处理值(Android):</td>
                <td>
                    <input type="text" name="HandlerAndroid" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(IOS):</td>
                <td>
                    <input type="text" name="SOAPIOS" />
                </td>
            </tr>
            <tr>
                <td colspan="2">特殊通讯值(Android)：</td>
                <td>
                    <input type="text" name="SOAPAndroid" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span style="color:red;">
                        【特殊通讯值】填写时，不用单引号【'】以及不用中括号【[]】
                        <br />
                        例如(不符合格式):<br />
                        {'name':'value','key':1} 、<br />
                        [{"name":"value","key":1} ]
                    </span>

                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    function GetRowFour() {
        var list = [];
        var date = (new Date()).Format("yyyyMMddhhmmss");
        var row = {
            'Group': date,
            'PID': $('#threeTableByOnePC [name=PID]').val(),
            'VID': $('#threeTableByOnePC [name=VID]').val(),
            'CID': $('#threeTableByOnePC [name=CID]').val(),
            'SmallImage': $('#threeTableByOnePC [id=cimg]').attr('src')||'', //小图路径
            'Image': $('#threeTableByOnePC [name=hidCimg]').val()||'', //大图
            'BigImg': 4,//一行四列
            'Type': $('#threeTableByOnePC [name=Type]').val(), //类型
            'OrderBy': $('#threeTableByOnePC [name=OrderBy]').val(),
            'LinkUrl': $('#threeTableByOnePC [name=Url]').val(),
            'HandlerIOS': $('#threeTableByOnePC [name=HandlerIOS]').val(),
            'HandlerAndroid': $('#threeTableByOnePC [name=HandlerAndroid]').val(),
            'SOAPIOS': $('#threeTableByOnePC [name=SOAPIOS]').val(),
            'SOAPAndroid': $('#threeTableByOnePC [name=SOAPAndroid]').val(),
            'IsUploading': $('#threeTableByOnePC [name=IsImage]').val()  //$('#threeTableByOne [name=IsUploading]').val() || 0
        };

        row.DisplayWay = $('#threeTableByOnePC [name=DisplayWay]').val();//显示方式

        row.Description = $('#threeTableByOnePC [name=Description]').val();//描述

        if (row.Type == 4) {
            //优惠卷
            row.TwoSImage = $('#threeTableByOnePC [id=cimgTwoPic]').attr('src') || '';
            row.TwoBImage = $('#threeTableByOnePC [name=hidCimgTwoPic]').val();
        }

        //if ($('#threeTableByOne [name=TireBrand]').val() != -1) {
        //    //选择车牌
        //    row.TireBrand = $('#threeTableByOne [name=TireBrand]').val();
        //}

        if ((row.Type == 0 || row.Type == 1 || row.Type == 6 || row.Type == 7) && row.IsUploading == 0) {
            row.ProductName = $('#threeTableByOnePC [name=ProductName]').val();
        }
        row.PCUrl = $('#threeTableByOnePC [name=Url]').val();

        var row1 = {
            'Group': date,
            'PID': $('#threeTableByTwoPC [name=PID]').val(),
            'VID': $('#threeTableByTwoPC [name=VID]').val(),
            'CID': $('#threeTableByTwoPC [name=CID]').val(),
            'SmallImage': $('#threeTableByTwoPC [id=cimg]').attr('src')||'', //小图路径
            'Image': $('#threeTableByTwoPC [name=hidCimg]').val()||'', //大图
            'BigImg': 4,
            'Type': $('#threeTableByTwoPC [name=Type]').val(), //类型
            'OrderBy': $('#threeTableByTwoPC [name=OrderBy]').val(),
            'LinkUrl': $('#threeTableByTwoPC [name=Url]').val(),
            'HandlerIOS': $('#threeTableByTwoPC [name=HandlerIOS]').val(),
            'HandlerAndroid': $('#threeTableByTwoPC [name=HandlerAndroid]').val(),
            'SOAPIOS': $('#threeTableByTwoPC [name=SOAPIOS]').val(),
            'SOAPAndroid': $('#threeTableByTwoPC [name=SOAPAndroid]').val(),
            'IsUploading': $('#threeTableByTwoPC [name=IsImage]').val() //$('#threeTableByTwo [name=IsUploading]').val() || 0
        };

        row1.DisplayWay = $('#threeTableByTwoPC [name=DisplayWay]').val();//显示方式

        row1.Description = $('#threeTableByTwoPC [name=Description]').val();//描述

        if (row1.Type == 4) {
            //优惠卷
            row1.TwoSImage = $('#threeTableByTwoPC [id=cimgTwoPic]').attr('src') || '';
            row1.TwoBImage = $('#threeTableByTwoPC [name=hidCimgTwoPic]').val();
        }

        //if ($('#threeTableByTwo [name=TireBrand]').val() != -1) {
        //    //选择车牌
        //    row1.TireBrand = $('#threeTableByTwo [name=TireBrand]').val();
        //}

        if ((row1.Type == 0 || row1.Type == 1 || row1.Type == 6 || row1.Type == 7) && row1.IsUploading == 0) {
            row1.ProductName = $('#threeTableByTwoPC [name=ProductName]').val();
        }
        row1.PCUrl = $('#threeTableByTwoPC [name=Url]').val();

        var row2 = {
            'Group': date,
            'PID': $('#threeTableByThreePC [name=PID]').val(),
            'VID': $('#threeTableByThreePC [name=VID]').val(),
            'CID': $('#threeTableByThreePC [name=CID]').val(),
            'SmallImage': $('#threeTableByThreePC [id=cimg]').attr('src')||'', //小图路径
            'Image': $('#threeTableByThreePC [name=hidCimg]').val()||'', //大图
            'BigImg': 4,
            'Type': $('#threeTableByThreePC [name=Type]').val(), //类型
            'OrderBy': $('#threeTableByThreePC [name=OrderBy]').val(),
            'LinkUrl': $('#threeTableByThreePC [name=Url]').val(),
            'HandlerIOS': $('#threeTableByThreePC [name=HandlerIOS]').val(),
            'HandlerAndroid': $('#threeTableByThreePC [name=HandlerAndroid]').val(),
            'SOAPIOS': $('#threeTableByThreePC [name=SOAPIOS]').val(),
            'SOAPAndroid': $('#threeTableByThreePC [name=SOAPAndroid]').val(),
            'IsUploading': $('#threeTableByThreePC [name=IsImage]').val()//$('#threeTableByThree [name=IsUploading]').val() || 0
        };


        row2.DisplayWay = $('#threeTableByThreePC [name=DisplayWay]').val();//显示方式

        row2.Description = $('#threeTableByThreePC [name=Description]').val();//描述

        if (row2.Type == 4) {
            //优惠卷
            row2.TwoSImage = $('#threeTableByThreePC [id=cimgTwoPic]').attr('src') || '';
            row2.TwoBImage = $('#threeTableByThreePC [name=hidCimgTwoPic]').val();
        }

        //if ($('#threeTableByThree [name=TireBrand]').val() != -1) {
        //    //选择车牌
        //    row2.TireBrand = $('#threeTableByThree [name=TireBrand]').val();
        //}

        if ((row2.Type == 0 || row2.Type == 1 || row2.Type == 6 || row2.Type == 7) && row2.IsUploading == 0) {
            row2.ProductName = $('#threeTableByThreePC [name=ProductName]').val();
        }
        row2.PCUrl = $('#threeTableByThreePC [name=Url]').val();


        //--------------------------------------------------------------------------
        var row3 = {
            'Group': date,
            'PID': $('#threeTableByfourPC [name=PID]').val(),
            'VID': $('#threeTableByfourPC [name=VID]').val(),
            'CID': $('#threeTableByfourPC [name=CID]').val(),
            'SmallImage': $('#threeTableByfourPC [id=cimg]').attr('src') || '', //小图路径
            'Image': $('#threeTableByfourPC [name=hidCimg]').val() || '', //大图
            'BigImg': 4,
            'Type': $('#threeTableByfourPC [name=Type]').val(), //类型
            'OrderBy': $('#threeTableByfourPC [name=OrderBy]').val(),
            'LinkUrl': $('#threeTableByfourPC [name=Url]').val(),
            'HandlerIOS': $('#threeTableByfourPC [name=HandlerIOS]').val(),
            'HandlerAndroid': $('#threeTableByfourPC [name=HandlerAndroid]').val(),
            'SOAPIOS': $('#threeTableByfourPC [name=SOAPIOS]').val(),
            'SOAPAndroid': $('#threeTableByfourPC [name=SOAPAndroid]').val(),
            'IsUploading': $('#threeTableByfourPC [name=IsImage]').val()//$('#threeTableByThree [name=IsUploading]').val() || 0
        };


        row3.DisplayWay = $('#threeTableByfourPC [name=DisplayWay]').val();//显示方式

        row3.Description = $('#threeTableByfourPC [name=Description]').val();//描述

        if (row3.Type == 4) {
            //优惠卷
            row3.TwoSImage = $('#threeTableByfourPC [id=cimgTwoPic]').attr('src') || '';
            row3.TwoBImage = $('#threeTableByfourPC [name=hidCimgTwoPic]').val();
        }

        //if ($('#threeTableByThree [name=TireBrand]').val() != -1) {
        //    //选择车牌
        //    row2.TireBrand = $('#threeTableByThree [name=TireBrand]').val();
        //}

        if ((row3.Type == 0 || row3.Type == 1 || row3.Type == 6 || row3.Type == 7) && row3.IsUploading == 0) {
            row3.ProductName = $('#threeTableByfourPC [name=ProductName]').val();
        }
        row3.PCUrl = $('#threeTableByfourPC [name=Url]').val();

        list.push(row);
        list.push(row1);
        list.push(row2);
        list.push(row3);
        return list;
    }


</script>
