
<div class="col-sm-2" style="clear: both">
    <div class="form-group">
        <label for="exampleInputName2">
            统计字段
        </label>
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group">
        <select name="countcoltype" class="form-control">
            <option value="">请选择</option>
            <option value="num">产品数量</option>
            <option value="salesamount1">销售额</option>
            <option value="salesamount2">销售额_考虑优惠券</option>
            <option value="cost">成本</option>
        </select>
    </div>
</div>

<div class="col-sm-4">
    <div class="form-inline">
        <input type="text" name="countcoltype_start" class="form-control" placeholder="填写起始数字" style="width: 40%" />
        <input type="text" name="countcoltype_end" class="form-control" placeholder="填写结束数字" style="width: 40%" />

    </div>
</div>