@{
    ViewBag.Title = "用户个人中心编辑";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.SE_HomePageConfig

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">
                用户个人中心
            </h4>
        </div>
        <div class="modal-body">
            <form id="form1" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">首页名称:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="HomePageName" name="HomePageName" placeholder="首页名称" value="@Model.HomePageName" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">状 态:</label>
                    <div class="col-sm-10">
                        <input type="radio" class="col-sm-1" name="IsEnabled" value="true" @(Model.IsEnabled == true ? "checked=\"checked\"" : "") /><span class="col-sm-4">启用</span>
                        <input type="radio" class="col-sm-1" name="IsEnabled" value="false" @(Model.IsEnabled == false ? "checked=\"checked\"" : "") /><span class="col-sm-4">禁用</span>
                    </div>
                </div>
                <input type="hidden" id="hiddenID" name="hiddenID" value="@Model.ID" />
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnSaveHomePage" name="btnSaveHomePage" class="btn btn-primary">
                保 存
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
                取 消
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#form1").validate({
            rules: {
                HomePageName: {
                    required: true
                },
                StartVersion: {
                    required: true
                },
                EndVersion: {
                    required: true
                }
            },
            messages: {
                HomePageName: {
                    required: "请输入名称"
                },
                StartVersion: {
                    required: "请输入版本号"
                },
                EndVersion: {
                    required: "请输入版本号"
                }
            }
        });

        $('#btnSaveHomePage').on('click', function () {
            var isValid = $('#form1').valid();
            if (isValid) {
                var HomePageName = $('#HomePageName').val();
                // var StartVersion = $('#StartVersion').val();
                //  var EndVersion = $('#EndVersion').val();
                var IsEnabled = $('input[name="IsEnabled"]:checked').val();
                $(this).attr("disabled", "disabled");
                $.ajax({
                    url: '/PersonalCenterConfigV2/HomePageSave',
                    type: 'post',
                    data: {
                        HomePageName: HomePageName,
                        IsEnabled: IsEnabled,
                        ID: $('#hiddenID').val(),
                        TypeConfig: 2
                    },
                    dataType: 'json'
                }).done(function (result) {
                    console.log(result);
                    if (result.Status == 0) {
                        $('#edit').modal('hide');//关闭模态窗
                        location.reload();
                    } else {
                        alert("添加失败");
                    }
                }).fail(function (e, m, s) {
                    alert("请确保有一个首页处于启用状态")
                    console.log("保存失败");
                });
                // $('#edit').modal('hide');//关闭模态窗
            }
        });

    })

</script>