@{
    ViewBag.Title = "首页配置日志";
}

@model List<Tuhu.Provisioning.DataAccess.Entity.ConfigHistory>

<div class="row">
    <div class="col-sm-8">
        <span>开始时间：</span>
        <input type="text" class="Wdate" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" name="StartDateTime" id="StartDateTime" />
        <span>结束时间：</span>
        <input type="text" class="Wdate" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" name="EndDateTime" id="EndDateTime" />
        <select id="logType" name="logType">
            <option value="">请选择</option>
            <option value="PCLoger">个人中心列表</option>
            <option value="PCMLoger">模块日志</option>
            <option value="PCCLoger">模块内容</option>
            <option value="PCCPLoger">优惠券</option>

        </select>
        <a href="javascript:void(0)" id="btnSearch" name="btnSearch" class="btn btn-default btn-sm" style="width:130px;">查 询</a>
    </div>

</div>
<div class="ibox ibox-content">
    <table class="table table-bordered" style="text-align:center;">
        <thead>
            <tr>
                <th>操 作</th>
                <th>日 期</th>
                <th>操作人</th>
                <th>明 细</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Operation</td>
                        <td>@item.ChangeDatetime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@item.Author</td>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-danger btn-small " name="btnEdit" data-id="@item.PKID" style="width: 150px;" data-toggle="modal" data-target="#edit">查 看</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div id="edit" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">

</div>
@section scripts{

    <script type="text/javascript">
        $(function () {
            $('#btnSearch').on('click', function () {
                location.href = "/PersonalCenterConfigV2/HomePageLoger?startDateTime=" + $('#StartDateTime').val() + "&endDateTime=" + $('#EndDateTime').val() + "&type=" + $('#logType').val();
            });

            $('a[name="btnEdit"]').on('click', function () {
                var id = $(this).data("id");
                if (id) {
                    var url = "/PersonalCenterConfigV2/HomePageLogerDeatil?id=" + id;
                    // dialogOpen("新增首页", url, "edit");
                    var dialog = $('#edit');
                    dialog.empty();
                    dialog.html(dialog.load(url));
                }
            });
        });
    </script>
}