@{
    ViewBag.Title = "关键词搜索";

}
<style type="text/css">
    .itemContainer {
        float: left;
        margin: 0px 0px 20px 30px;
        text-align: center;
        display: block;
        width: 200px;
        height: 100px;
        border-radius: 15px;
        background-color: cornflowerblue;
    }

    .itemHref {
        display: block;
        padding: 30px 0px 0px 0px;
        font-size: 20px;
        color: #ffffff;
    }
</style>

<div style="margin-left: 20px;margin-top:20px;height:600px">

    <div class="itemContainer">
        <p><a class="itemHref" href="/DefaultSearchConfig/Index">默认/业务/品牌旗舰店/活动浮层</a></p>
    </div>
    <div class="itemContainer">
        <p><a class="itemHref" href="/BusinessKeywordsConfig/Index">热门搜索关键词</a></p>
    </div>
    <div class="itemContainer">
        <p><a class="itemHref" target="_blank" href="/SearchWordConvertConfig/Index">ES搜索同义词配置</a></p>
    </div>
    <div class="itemContainer">
        <p><a class="itemHref" target="_blank" href="/SearchWordBrandsConfig/Index">搜索词品牌配置</a></p>
    </div>
</div>



