<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <domainConfig topDomain="tuhu.dev">
    <domain name="ApiSite" site="http://api.tuhu.dev" />
    <domain name="FaXian" site="https://faxian.tuhu.dev" />
    <domain name="ImageSite" site="https://img1.tuhu.org" />
    <domain name="MySite" site="http://my.tuhu.dev" />
    <domain name="ProductSite" site="http://item.tuhu.dev" />
    <domain name="ResourceSite" site="https://res.tuhu.org" />
    <domain name="WeiXinSite" site="http://weixin.tuhu.dev" />
    <domain name="WwwSite" site="http://www.tuhu.dev" />
    <domain name="BaoYangSite" site="http://by.tuhu.dev" />
    <domain name="beautifySite" site="http://mr.tuhu.dev" />
  </domainConfig>
  <javascriptConfig>
    <javascriptUrl name="jquery" url="/Scripts/jquery-2.1.0.js" />
    <javascriptUrl name="jqueryIE" url="/Scripts/jquery-1.11.0.js" />
    <javascriptUrl name="jquery.validate" url="/Scripts/jquery.validate.js" />
    <javascriptUrl name="jquery.form" url="/Scripts/jquery.form.js" />
    <javascriptUrl name="jquery.mobile" url="/Scripts/jquery.mobile-1.4.0.js" />
    <javascriptUrl name="knockout" url="/Scripts/knockout-3.0.0.debug.js" />
    <javascriptUrl name="tuhu.public" url="/Scripts/tuhu.public.js" />
    <javascriptUrl name="tuhu.product" url="/Scripts/tuhu.product.js" />
    <javascriptUrl name="Activity.BaoYangFree" url="/Scripts/Activity/BaoYangFree.js" />
    <javascriptUrl name="Activity.SecondKill" url="/Scripts/Activity/SecondKill.js" />
  </javascriptConfig>
  <cookieConfig>
    <cookie key="tuhuCartPKID" name="tuhuCartPKID" />
    <cookie key="tuhuCartQuantity" name="tuhuCartQuantity" />
  </cookieConfig>
</configuration>