@model GroupBuyingModifyLogModel[]
@using Tuhu.Provisioning.Models.GroupBuyingV2;
@{ 
    Layout = null;
}
<table id="HistoryTable">
    <tr>
        <td>类型</td>
        <td>操作人</td>
        <td>时间</td>
    </tr>
    @{
        if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Name</td>
                    <td>@item.CreateDateTime</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">暂无记录</td>
            </tr>
        }

    }
</table>