
@{
    ViewBag.Title = "FormPool";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div>
    <form id="form1">
        <table class="form">
            <tr>
                <th class="formTitle">名 称：</th>
                <td class="formValue">
                    <input type="text" id="Name" name="Name" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">类 型：</th>
                <td class="formValue">
                    <select id="IsDefault" name="IsDefault" class="form-control">
                        <option value="false">计数池</option>
                        <option value="true">兜底</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" id="PKID" name="PKID" value="0" />
        <input type="hidden" id="FKPKID" name="FKPKID" value="0" />
    </form>
</div>
<script type="text/javascript">
    var fkpkid = $.request("keyValue");
    var pkid = $.request("pkid");

    function submitForm(iframe) {
        if (!$("#form1").formValid()) {
            return false;
        }

        $.submitForm({
            url: "/BigBrand/BigBrandPool/SubmitForm",
            param: $('#form1').formSerialize(),
            success: function () {
                iframe.$('#gridPoolList').jqGrid("setGridParam", {}).trigger("reloadGrid");
            }
        });
    }

    function init() {
        if (pkid) {
            $.ajax({
                url: "/BigBrand/BigBrandPool/GetFormJson",
                type: "post",
                data: { pkid: pkid },
                dataType: "json",
                async: false,
                success: function (res) {
                    $('#form1').formSerialize(res);
                }
            });
        }
    }

    $(function () {
       
        $("#FKPKID").val(fkpkid);
        init();
    });

</script>
