<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
  </configSections>
  <configBuilders>
    <builders>
      <add name="ClientSectionBuilder" templateName="Template" type="Tuhu.Service.ClientSectionBuilder, Tuhu.Service" />
    </builders>
  </configBuilders>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <tuhuEndPointBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
      </behaviorExtensions>
    </extensions>
    <client configBuilders="ClientSectionBuilder">
      <endpoint address="http://localhost:19078/Promotion/Promotion.svc" binding="basicHttpBinding"
                name="Tuhu.Service.Promotion.Promotion" contract="Tuhu.Service.Promotion.IPromotionClient" />
      <endpoint address="http://localhost:19078/Promotion/CouponGetRule.svc" binding="basicHttpBinding"
              name="Tuhu.Service.Promotion.Promotion" contract="Tuhu.Service.Promotion.ICouponGetRuleClient" />
    </client>
  </system.serviceModel>
  
</configuration>
