@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "保养特殊车型配置";
    var viscosities = ViewData["Viscosities"] as List<string>
    ?? new List<string>
        ();
}


@section head{
    <link rel="stylesheet" href="~/Content/iview/iview.css" />
    <style type="text/css">
        [v-cloak] {
            display: none;
        }

        h2 {
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 10px;
            padding-left: 0px;
            font-size: 1.5em;
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .row-margin {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .div-margin {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        /*覆盖样式*/
        .ivu-table-cell {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
}

<div>
    <h2>
        <span style="color:red;">机油</span>特殊车型配置
    </h2>
</div>

<div id="app" v-cloak>
    <div>
        <row type="flex" justify="start" align="middle" class="row-margin">
            <i-col span="6">
                <row type="flex" align="middle" justify="start">
                    <i-col span="4">
                        <label>品牌：</label>
                    </i-col>
                    <i-col span="18">
                        <i-select v-model="filterCondition.brand" placeholder="选择车型品牌" filterable clearable>
                            <i-option :value="item" :key="item" v-for="item in vehicleBrands">{{item}}</i-option>
                        </i-select>
                    </i-col>
                </row>
            </i-col>
            <i-col span="6">
                <row type="flex" align="middle" justify="start">
                    <i-col span="4">
                        <label>车系：</label>
                    </i-col>
                    <i-col span="18">
                        <i-select v-model="filterCondition.vehicleId" placeholder="选择车系" filterable clearable>
                            <template v-if="vehicleSeries.length > 0">
                                <i-option :value="item.VehicleId" :key="item.VehicleId" v-for="item in vehicleSeries">{{item.Vehicle}}</i-option>
                            </template>
                            <template v-else>
                                <i-option value="暂无" key="暂无" disabled>暂无</i-option>
                            </template>
                        </i-select>
                    </i-col>
                </row>
            </i-col>
            <i-col span="8">
                <Checkbox v-model="filterCondition.isConfig">只显示已配置车型</Checkbox>
                <Checkbox v-model="filterCondition.isEnabled">只显示已启用车型</Checkbox>
            </i-col>
        </row>
        <row type="flex" justify="start" align="middle" class="row-margin">
            <i-col span="6">
                <row type="flex" align="middle" justify="start">
                    <i-col span="4">
                        <label>车价：</label>
                    </i-col>
                    <i-col span="8">
                        <i-input v-model="filterCondition.minPrice">
                            <span slot="append">万</span>
                        </i-input>
                    </i-col>
                    <i-col span="2" style="text-align:center">--</i-col>
                    <i-col span="8">
                        <i-input v-model="filterCondition.maxPrice">
                            <span slot="append">万</span>
                        </i-input>
                    </i-col>
                </row>
            </i-col>
            <i-col span="6">
                <row type="flex" align="middle" justify="start">
                    <i-col span="4">
                        <label>粘度：</label>
                    </i-col>
                    <i-col span="18">
                        <i-select v-model="filterCondition.viscosity" filterable clearable>
                            <i-option :value="item" :key="item" v-for="item in viscosities">{{item}}</i-option>
                        </i-select>
                    </i-col>
                </row>
            </i-col>
            <i-col span="6">
                <row type="flex" align="middle" justify="start">
                    <i-col span="4">
                        <label>等级：</label>
                    </i-col>
                    <i-col span="18">
                        <i-select v-model="filterCondition.grade" filterable clearable>
                            <i-option value="矿物油">矿物油</i-option>
                            <i-option value="半合成">半合成</i-option>
                            <i-option value="全合成">全合成</i-option>
                        </i-select>
                    </i-col>
                </row>
            </i-col>
        </row>
        <row type="flex" justify="start" align="middle" class="row-margin">
            <i-col span="1">
                <label>优先级：</label>
            </i-col>
            <i-col span="3">
                <i-select clearable placeholder="选择机油优先级" v-model="filterCondition.oilPriority">
                    <i-option :value="item" :key="item" v-for="item in [1,2,3,4,5,6,7,8,9,10]">{{item}}</i-option>
                </i-select>
            </i-col>
            <i-col span="3">
                <i-select filterable clearable placeholder="选择机油品牌" v-model="filterCondition.oilBrand">
                    <i-option :value="item" :key="item" v-for="item in brandList">{{item}}</i-option>
                </i-select>
            </i-col>
            <i-col span="3">
                <i-select filterable clearable placeholder="选择机油系列" v-model="filterCondition.oilSeries">
                    <template v-if="seriesList.length > 0">
                        <i-option :value="item" :key="item" v-for="item in seriesList">{{item}}</i-option>
                    </template>
                    <template v-else>
                        <i-option value="暂无" key="暂无" disabled>暂无</i-option>
                    </template>
                </i-select>
            </i-col>
            <i-col span="3">
                <i-select clearable placeholder="选择机油等级" v-model="filterCondition.oilGrade">
                    <i-option value="矿物油">矿物油</i-option>
                    <i-option value="半合成">半合成</i-option>
                    <i-option value="全合成">全合成</i-option>
                </i-select>
            </i-col>
            <i-col span="1"></i-col>
            <i-col span="6">
                <i-button type="success" @@click="search">查询</i-button>
                <i-button type="primary" @@click="batchEdit">批量编辑</i-button>
                <i-button type="error" @@click="batchDel">批量删除</i-button>
            </i-col>
        </row>
    </div>
    <div>
        <i-table :stripe="true"
                 :data="list"
                 :columns="columns"
                 :loading="loading"
                 :size="'small'"
                 @@on-selection-change="selection=$event"
                 style="margin-bottom:15px;">
        </i-table>
    </div>
    <div class="div-margin">
        <page placement="top"
              :total="total" show-sizer show-total
              :page-size-opts="[10, 20, 50, 100]"
              :current.sync="filterCondition.pageIndex"
              v-on:on-page-size-change="filterCondition.pageSize=$event"></page>
    </div>

    <modiffy-priority-modal v-model="showModal" 
                            :vehicleid="vehicleId" 
                            partname="机油" ref="modal" 
                            v-on:on-submit="onSubmit"></modiffy-priority-modal>
    <batch-modiffy-priority-modal v-model="showBatchModal"
                                  partname="机油"
                                  :vehicleids="vehicleids"
                                  v-on:on-submit="onSubmit">
    </batch-modiffy-priority-modal>
</div>

<script type="text/x-template" id="modiffy-priority-modal">
    <Modal title="保养产品推荐配置" v-model="modal" :loading="loading" :mask-closable="false" v-on:on-ok="submit" width="700">
        <oil-select-list ref="oil" v-model="settings"></oil-select-list>
        <row type="flex" justify="space-around" align="middle" class="row-margin">
            <i-col span="3"></i-col>
            <i-col span="16">
                <Checkbox v-model="isEnabled">启用</Checkbox>
            </i-col>
            <i-col span="3"></i-col>
        </row>
    </Modal>
</script>

<script type="text/x-template" id="oil-select">
    <row type="flex" justify="space-around" align="middle" class="row-margin">
        <i-col span="3">第{{priority}}优先级</i-col>
        <i-col span="16">
            <row>
                <i-col span="8">
                    <i-select v-model="v_grade">
                        <i-option value="">请选择机油等级</i-option>
                        <i-option value="全合成">全合成</i-option>
                        <i-option value="半合成">半合成</i-option>
                        <i-option value="矿物油">矿物油</i-option>
                    </i-select>
                </i-col>
                <i-col span="8">
                    <i-select v-model="v_brand">
                        <i-option value="">请选择品牌优先级</i-option>
                        <i-option :value="item" :key="item" v-for="item in brandList">{{item}}</i-option>
                    </i-select>
                </i-col>
                <i-col span="8">
                    <i-select v-model="v_series">
                        <i-option value="">请选择指定系列</i-option>
                        <i-option :value="item" :key="item" v-for="item in seriesList">{{item}}</i-option>
                    </i-select>
                </i-col>
            </row>
        </i-col>
        <i-col span="3">
            <i-button type="ghost" v-on:click="$emit('on-remove')">删除</i-button>
        </i-col>
    </row>
</script>

<script type="text/x-template" id="oil-select-list">
    <div>
        <oil-select v-for="(item, index) in list"
                    :brand.sync="list[index].brand"
                    :grade.sync="list[index].grade"
                    :series.sync="list[index].series"
                    :settings="list"
                    :brand_series="brand_series"
                    :key="list[index].key"
                    :priority="index+1"
                    v-on:on-remove="remove(index)">
        </oil-select>
        <row>
            <i-col span="5" push="4">
                <i-button long type="dashed" icon="plus-round" v-on:click="append">新增优先级</i-button>
            </i-col>
        </row>
    </div>
</script>

<script type="text/x-template" id="batch-modiffy-priority-modal">
    <Modal title="保养产品推荐配置" v-model="showModal" :loading="loading" :mask-closable="false" v-on:on-ok="submit" width="700">
        <oil-select-list ref="oil" v-model="settings"></oil-select-list>
        <row type="flex" justify="space-around" align="middle" class="row-margin">
            <i-col span="3"></i-col>
            <i-col span="16">
                <Checkbox v-model="isEnabled">启用</Checkbox>
            </i-col>
            <i-col span="3"></i-col>
        </row>
    </Modal>
</script>

@section scripts{
    <script type="text/javascript" src="~/Scripts/vue.js"></script>
    <script type="text/javascript" src="~/Scripts/iview/iview.min.js"></script>
    <script type="text/javascript" src="~/Scripts/BaoYang/BaoYangOilPriorityVehicleSetting.js?ver=1.2"></script>
    <script type="text/javascript">
        var vm = init(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(viscosities)));
    </script>
}
