
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBootrap.cshtml";
}

<div id="nav-col">
    <section id="col-left" class="col-left-nano">
        <div id="col-left-inner" class="col-left-nano-content">

            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                <ul class="nav nav-pills nav-stacked"></ul>
            </div>
        </div>
    </section>
</div>

<div id="content-wrapper">
    <div class="content-tabs">
        <button class="roll-nav roll-left tabLeft">
            <i class="fa fa-backward"></i>
        </button>
        <nav class="page-tabs menuTabs">
            <div class="page-tabs-content" style="margin-left: 0px;">
                <a href="javascript:;" class="menuTab active" data-id="C41E4958-9A41-4A69-BC90-B74A1D023ED5">下单完成页配置</a>
            </div>
        </nav>


        <button class="roll-nav roll-right"><i class="fa fa-arrows-alt"></i></button>
    </div>
    <div class="content-iframe" style="background-color: #f9f9f9; overflow: hidden;">
        <div class="mainContent" id="content-main" style="margin-bottom: 0px; padding: 0;">
            <iframe class="NFine_iframe" width="100%" height="100%" src="/PaymentPageConfig/List" frameborder="0" data-id="C41E4958-9A41-4A69-BC90-B74A1D023ED5"></iframe>
        </div>
    </div>
</div>


@section script{
    <script type="text/javascript">
        function home() {
            $('.NFine_iframe').attr("src","/PaymentPageConfig/List")
        }
    </script>
}



