.btn-add {
    font-weight: bold;
    width: 80px;
}

.disable {
    background: #ccc;
}

.tableContainer {
    width: 100%;
}

    .tableContainer th {
        height: 32px;
        background: #66ABEF;
        color: #F3F7FA;
        border: 1px solid #559BD0;
        font-weight: 600;
        font-family: "Microsoft YaHei";
        text-align: center;
    }

    .tableContainer td {
        font-size: 75%;
        padding: 8px 3px 8px 3px;
        font-family: 'Microsoft YaHei';
        text-align: center;
        border: 1px solid #eee;
    }

fieldset {
    padding: initial;
    margin: auto;
    height: auto;
}

fieldset {
    margin: 0px 0px 15px 0px;
    padding: 15px 20px;
}
    fieldset > input {
        line-height: 1.42857143;
        width: 150px;
        height: 30px;
    }
        fieldset > select {
        line-height: 1.42857143;
        width: 150px;
        height: 30px;
        padding: 2px 2px 2px 5px;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    fieldset > label {
        display: inline-block;
        height: 30px;
        max-width: 100%;
        font-weight: bold;
        margin-left: 10px;
    }

.dialog > .phone {
    margin-top: 10px;
}

    .dialog > .phone > div {
        display: inline-block;
        width: 33%;
    }

        .dialog > .phone > div > label {
            display: block;
            float: left;
            width: 45%;
            text-align: right;
            padding-right: 15px;
            margin-top: 10px;
            font-weight: bold;
        }

        .dialog > .phone > div > input {
            width: 50%;
            padding: 0px 0px 0px 5px;
            border: 1px solid #84a7ca;        
            outline: 0;
            -webkit-box-shadow: inset 0px 1px 6px #ECF3F5;
            box-shadow: inset 0px 1px 6px #ECF3F5;
            font: 200 12px/25px Arial, Helvetica, sans-serif;
            height: 30px;
            line-height: 15px;
            margin: 2px 6px 3px 0px;
        }

        .dialog > .phone > div > select {
            width: 50%;
            padding: 0px 0px 0px 5px;
            border: 1px solid #84a7ca;      
            outline: 0;
            -webkit-box-shadow: inset 0px 1px 6px #ECF3F5;
            box-shadow: inset 0px 1px 6px #ECF3F5;
            font: 200 12px/25px Arial, Helvetica, sans-serif;
            height: 30px;
            line-height: 15px;
            margin: 2px 6px 3px 0px;
        }



.dialog > .region {
    margin-top: 10px;
}

    .dialog > .region > div {
        display: inline-block;
        width: 50%;
        float: left;
    }

        .dialog > .region > div > label {
            display: block;
            float: left;
            width: 25%;
            text-align: right;
            padding-right: 15px;
            margin-top: 10px;
            font-weight: bold;
        }


        .dialog > .region > div > select {
            width: 35%;
            padding: 0px 0px 0px 5px;
            border: 1px solid #84a7ca;        
            outline: 0;
            -webkit-box-shadow: inset 0px 1px 6px #ECF3F5;
            box-shadow: inset 0px 1px 6px #ECF3F5;
            font: 200 12px/25px Arial, Helvetica, sans-serif;
            height: 30px;
            line-height: 15px;
            margin: 2px 6px 3px 0px;
        }



.operation {
    color: blue;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 6px;
}


span.operation:hover {
    text-decoration: underline;
}

.display {
    margin-left: 6px;
    margin-right: 6px;
}

table > tbody > tr:hover {
    background-color: #CCC !important;
}
