
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" onclick="betn_searchlog()">
                <span class="fa fa-search">查看日志</span>
            </a>
        </div>

        <div class="btn-group">
            <a id="NF-add" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新 增</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-copy" authorize="yes" onclick="btn_copy()"><i class="fa fa-pencil-square-o"></i>复 制</a></li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_update()"><i class="fa fa-pencil-square-o"></i>修 改</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删 除</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
<script type="text/javascript">
    function gridList() {
        var $gridList = $('#gridList');
        $gridList.dataGrid({
            height: $(window).height() - 128,
            url: '/OwnBusiness/GetGridJson',
            colModel: [
                { label: "PKID", name: "PKID", width: 120, align: "center" ,hidden:true},
                { label: "名 称", name: "Title", width: 260, align: 'left' },
                {
                    label: "是否启用", name: "Status", width: 360, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { label: "排 序", name: "OrderBy", width: 200, align: "left" }
            ],
            viewrecords: true,
            pager: "#gridPager",
            sortname: "OrderBy asc",
            rowNum: 20,
            rowList: [10, 20, 30]
        });
    }

    function btn_add() {
        $.modalOpen({
            id: "OwnForm",
            url: "/OwnBusiness/Form?keyValue=",
            width: "1000px",
            height: "600px",
            title: "新增业务",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_update() {
        var PKID = $("#gridList").jqGridRowValue().PKID;
        if (PKID) {
            $.modalOpen({
                id: "OwnForm",
                url: "/OwnBusiness/Form?keyValue="+PKID,
                width: "1000px",
                height: "600px",
                title: "编辑业务",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        }
    }

    function btn_delete() {
        var PKID = $("#gridList").jqGridRowValue().PKID;
        if (PKID) {
            $.deleteForm({
                url: "/OwnBusiness/DeleteForm",
                param: { keyValue: PKID },
                success: function () {
                    $("#gridList").trigger("reloadGrid");
                }
            })
        }
    }

    function btn_copy() {
        var keyValue = $("#gridList").jqGridRowValue().PKID;
        if (keyValue) {
            $.confirmForm({
                prompt: "您确定复制这个业务吗?",
                loading: "处理中......",
                title: "复制业务",
                url: "/OwnBusiness/SubmitFormCopy?keyValue=" + keyValue,
                success: function (iframeId) {
                   location.reload();
                }
            });
        }
        
    }

    function betn_searchlog() {
        $.modalOpen({
            id: "Form",
            title: "查看日志",
            url: "/Logger/ListLoger?objectType=OWNBCON",
            width: "1500px",
            height: "600px",
            btn: null
        });
    }

    function init() {
        gridList();
    }

    $(function () {
        init();
    });

</script>

