<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <sectionGroup name="common">
        <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
      </sectionGroup>
      <section name="couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
      <section name="zookeeper" type="Tuhu.ZooKeeper.ZooKeeperClientSection, Tuhu.ZooKeeper" />
      <section name="rabbitmq" type="Tuhu.MessageQueue.RabbitMQSection, Tuhu.MessageQueue" />
    </configSections>
    <quartz>
      <add key="quartz.scheduler.instanceName" value="运营作业调度服务" />

      <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
      <add key="quartz.threadPool.threadCount" value="10" />
      <add key="quartz.threadPool.threadPriority" value="Normal" />

      <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />

      <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.config" />
      <add key="quartz.plugin.xml.scanInterval" value="30" />

      <add key="quartz.scheduler.exporter.type" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz" />
      <add key="quartz.scheduler.exporter.port" value="5554" />
      <add key="quartz.scheduler.exporter.bindName" value="QuartzScheduler" />
      <add key="quartz.scheduler.exporter.channelType" value="tcp" />
      <add key="quartz.scheduler.exporter.channelName" value="httpQuartz" />
    </quartz>
    <couchbase useSsl="false">
      <servers>
        <!--OnlyProduction
        <add uri="http://netscaler.ad.tuhu.cn:8091/pools"></add>
        ProductionOnly-->

        <!--OnlyDevelop-->
        <add uri="http://172.16.20.1:8091/pools"></add>
        <!--DevelopOnly-->
      </servers>
      <buckets>
        <add name="default" useSsl="false" password="">
          <connectionPool name="custom" maxSize="20" minSize="5" waitTimeout="60000"></connectionPool>
        </add>
      </buckets>
    </couchbase>
    <zookeeper sessionTimeOut="10000" server="172.16.20.1" masterSlavePath="/MasterSlave/Service" />
    <rabbitmq hostName="172.16.20.1" userName="test" password="itsme999" virtualHost="/dev" />
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
                <!--<arg key="configType" value="INLINE" />-->
                <arg key="configType" value="FILE-WATCH" />
                <arg key="configFile" value="~/log4net.config" />
                <!--<arg key="configFile" value="~/Site.config" />-->
            </factoryAdapter>
        </logging>
    </common>
    <appSettings>
      <add key="RemoteName" value="@YunYingSchedulerService" />

      <add key="ExceptionSmsJob:Subject" value="短信异常提醒" />
      <add key="ExceptionSmsJob:To" value="baoli@tuhu.cn;pengwei@tuhu.cn" />

      <add key="CrystalQuartzUrl" value="http://*:5556" />

      <add key="BackupJob:SaveFolder" value="D:\" />
      <add key="BackupJob:BackupFolder" value="D:\Tuhu\Tuhu.Soa" />
      <add key="BackupJob:BackupFolderName" value="" />
      <add key="BackupJob:IgnoreFolder" value="D:\Tuhu\Tuhu.Soa\packages" />
      <add key="WarnCellphone" value="15618621961" />
      <add key="WarnEmail" value="pengwei@tuhu.cn;baoli@tuhu.cn;" />

      <!--OnlyDevelop-->
      <add key="Env" value="dev" />
      <add key="RunJob" value="false" />
      <add key="StandAlone" value="true" />
      <!--DevelopOnly-->

      <!--OnlyProduction
      <add key="StandAlone" value="false" />
      <add key="Env" value="pro" />
      <add key="RunJob" value ="true" />
      ProductionOnly-->

      <!--优惠券配置信息-->
      <add key="BaoYangCoupon:PromotionType" value="2" />
      <add key="BaoYangCoupon:PromotionruleId" value="23" />
      <add key="BaoYangCoupon:CouponDescriptionOfTypeOne" value="满199元保养即可使用" />
      <add key="BaoYangCoupon:CouponDescriptionOfTypeTwo" value="满399元保养即可使用" />
      <add key="BaoYangCoupon:BaoYangMessageSubject" value="老用户回馈" />
      <add key="BaoYangCoupon:BaoYangMessageDetail" value="60元保养券已到账！有日子没做保养啦~及时保养，让发动机时刻保持最佳状态~查看优惠戳dwz.cn/BkM8l" />
      <add key="BaoYangCoupon:NonBaoYangMessageSubject" value="订单完成奖励" />
      <add key="BaoYangCoupon:NonBaoYangMessageDetail" value="感谢您的支持！60元保养券已放入账户~正品低价！快来途虎看看真正省心的保养吧~戳dwz.cn/BkM8l" />
      <add key="BaoYangCoupon:discountOfTypeOne" value="20" />
      <add key="BaoYangCoupon:discountOfTypeTwo" value="40" />
      <add key="BaoYangCoupon:minMoneyOfTypeOne" value="199" />
      <add key="BaoYangCoupon:minMoneyOfTypeTwo" value="399" />
      <add key="BaoYangCoupon:codeChannel" value="途虎" />
      <add key="BaoYangCoupon:BaoYangAndroidPushTitle" value="老用户回馈" />
      <add key="BaoYangCoupon:BaoYangAndroidPushText" value="60元保养券已到账！有日子没做保养啦~及时保养，让发动机时刻保持最佳状态~查看优惠戳" />
      <add key="BaoYangCoupon:NonBaoYangAndroidPushTitle" value="订单完成奖励" />
      <add key="BaoYangCoupon:NonBaoYangAndroidPushText" value="感谢您的支持！60元保养券已放入账户~正品低价！快来途虎看看真正省心的保养吧" />
      <add key="BaoYangCoupon:BaoYangIosPushMessage" value="60元保养券已到账！有日子没做保养啦~及时保养，让发动机时刻保持最佳状态~查看优惠戳" />
      <add key="BaoYangCoupon:NonBaoYangIosPushMessage" value="感谢您的支持！60元保养券已放入账户~正品低价！快来途虎看看真正省心的保养吧" />
      <add key="BaoYangCoupon:FreeOrderCouponDescription" value="买轮胎送保养福利券，到店保养订单可使用" />
      <add key="BaoYangCoupon:FreeOrderCouponSMSubject" value="保养福利券" />
      <add key="BaoYangCoupon:FreeOrderCouponSMSMessage" value="感谢您参与买轮胎送保养福利券活动，保养福利券已经发至您的账户，可下载手机APP查看http://dwz.cn/Beul5。购买保养时使用该保养福利券，到店安装完成后3个工作日内即可获得保养现金券。【途虎养车】" />
      <!--优惠券配置信息-->
      <!--价格预警配置-->
      <add key="PriceMonitorJob:Subject" value="途虎价格雷达预警" />
      <add key="PriceMonitorJob:To" value="xujian@tuhu.cn;wangminyou@tuhu.cn;liuchao1@tuhu.cn" />
      <add key="PriceMonitorJob:rate1" value="0.9" />
      <add key="PriceMonitorJob:rate2" value="0.9" />
      <add key="PriceMonitorJob:rate3" value="0.9" />
      <add key="BaoYangCacheOutTime" value="7" />

      <!--短信通道设置-->
      <!--OnlyDevelop-->
      <add key="SMS:ShortBeginUrl" value="l.tuhu.cn" />
      <add key="SMS:MontnetsSign" value="【途虎养车网】" />
      <add key="SMS:MontnetsAccount" value="" />
      <add key="SMS:MontnetsPassword" value="" />
      <add key="SMS:SanTongSign" value="【途虎养车网】" />
      <add key="SMS:SanTongAccount" value="" />
      <add key="SMS:SanTongPassword" value="" />
      <!--DevelopOnly-->
      <!--OnlyProduction
      <add key="SoaBaseAddress" value="http://netscaler.ad.tuhu.cn:8090" />
      <add key="SMS:ShortBeginUrl" value="l.tuhu.cn" />
      <add key="SMS:MontnetsSign" value="【途虎养车网】" />
      <add key="SMS:MontnetsAccount" value="JS1575" />
      <add key="SMS:MontnetsPassword" value="887123" />
      <add key="SMS:SanTongSign" value="【途虎养车网】" />
      <add key="SMS:SanTongAccount" value="dh50082" />
      <add key="SMS:SanTongPassword" value="wfK^VZ7V" />
      ProductionOnly-->

      <!--活动邮件发送-->
      <add key="Email:Activity" value="lixin@cheche365.com;feifei@tuhu.cn;liuyangyang@tuhu.cn;liuchao1@tuhu.cn" />
      <!--文件上传路径-->
      <add key="FileDoMain" value="http://img1.tuhu.org" />
    </appSettings>
    <connectionStrings>
        <add name="Cache" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=CacheDb;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Gungnir" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="GungnirReadOnly" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="WMS" connectionString="" providerName="System.Data.SqlClient" />
        <add name="Insurance_db" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_huodong;Persist Security Info=True;User ID=gungnirreader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Tuhu_Groupon" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Groupon;Persist Security Info=True;User ID=ShopUser;Password=itsme999;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
        <add name="Tuhu_Groupon_ReadOnly" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Groupon;Persist Security Info=True;User ID=ShopUser;Password=itsme999;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
        <add name="Tuhu_log" connectionString="data source=172.16.20.1\dev;Initial Catalog=Tuhu_log;User ID=LogUser;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Tuhu_epc" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_epc;User ID=APPUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.net>
      <mailSettings>
        <smtp deliveryMethod="Network" from="途虎养车网 &lt;servicesender@tuhu.cn&gt;">
          <network host="smtp.exmail.qq.com" userName="servicesender@tuhu.cn" password="Lushanshenglong8" />
        </smtp>
      </mailSettings>
    </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SmsService4XMLImplPortSoapBinding" openTimeout="00:00:10" sendTimeout="00:00:10" />
        <binding name="BusinessServiceServiceSoapBinding" openTimeout="00:00:10" sendTimeout="00:00:10" />
        <binding name="MobsetApiSoap" openTimeout="00:00:10" sendTimeout="00:00:10" />
        <binding name="wmgwSoap" openTimeout="00:00:10" sendTimeout="00:00:10" />
        <binding maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NoneSecurityBehavior">
          <security mode="None" />
        </binding>
        <binding name="tuhuServiceBehavior">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="tuhuServiceBehavior">
          <tuhuEndPointBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!--OnlyDevelop-->
      <endpoint address="http://wcf.tuhu.work:9012/Order/OrderQuery.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Order.IOrderQueryClient" name="Tuhu.Service.Order.IOrderQueryClient" />
      <endpoint address="http://wcf.tuhu.work:9012/Order/CreateOrder.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Order.ICreateOrderClient" name="Tuhu.Service.Order.ICreateOrderClient" />
      <endpoint address="http://wcf.tuhu.work:9012/Order/OrderApiForC.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Order.IOrderApiForCClient" name="Tuhu.Service.Order.IOrderApiForCClient" />
      <endpoint address="http://wcf.tuhu.work:9012/Order/OrderOperation.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Order.IOrderOperationClient" name="Tuhu.Service.Order.IOrderOperationClient" />
      <endpoint address="http://service.tuhu.test:9062/Member/UserIntegral.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Member.IUserIntegralClient" name="Tuhu.Service.Member.IUserIntegralClient" />
      <endpoint address="http://wcf.tuhu.work:9010/EmailProcess/EmailProcessOperation.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" name="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" />
      <endpoint binding="netTcpBinding" address="net.tcp://172.16.20.1:9011/OprLog/OprLog.svc" contract="Tuhu.Service.OprLog.IOprLogClient" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" name="Tuhu.Service.OprLog.IOprLogClient" />
      <endpoint address="http://wcf.tuhu.work:9054/Utility/Sms.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Utility.ISmsClient" name="Tuhu.Service.Utility.ISmsClient" />
      <endpoint address="http://wcf.tuhu.work:9072/Config/Config.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Config.IConfigClient" name="Tuhu.Service.Config.IConfigClient" />
      <endpoint address="http://wcf.tuhu.work:9060/Shop/Region.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Shop.IRegionClient" name="Tuhu.Service.Shop.IRegionClient" />
      <endpoint address="http://wcf.tuhu.work:9010/Member/Promotion.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Member.IPromotionClient" name="Tuhu.Service.Member.IPromotionClient" />
      <endpoint address="http://wcf.tuhu.work:9010/KuaiXiu/ServiceCode.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.KuaiXiu.IServiceCodeClient" name="Tuhu.Service.KuaiXiu.IServiceCodeClient" />
      <endpoint address="http://wcf.tuhu.work:9010/UserAccount/UserAccount.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.UserAccount.IUserAccountClient" name="Tuhu.Service.UserAccount.IUserAccountClient" />
      <endpoint address="http://wcf.tuhu.work:9010/Activity/Activity.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Activity.IActivityClient" name="Tuhu.Service.Activity.IActivityClient" />
      <endpoint address="http://wcf.tuhu.work:9054/Utility/Monitor.svc" binding="basicHttpBinding" contract="Tuhu.Service.Utility.IMonitorClient" name="Tuhu.Service.Utility.IMonitorClient" />
      <endpoint address="http://wcf.tuhu.work:9010/Push/pushtemplate.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Push.ITemplatePushClient" name="Tuhu.Service.Push.ITemplatePushClient" />
      <endpoint address="http://wcf.tuhu.work:9010/Product/Product.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Product.IProductClient" name="Tuhu.Service.Product.IProductClient" />
        <!--DevelopOnly-->

      <!--OnlyProduction
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Activity/GroupBuyingActivity.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Activity.IGroupBuyingClient" name="Tuhu.Service.Activity.IGroupBuyingClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Utility/Sms.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Utility.ISmsClient" name="Tuhu.Service.Utility.ISmsClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Order/OrderQuery.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Order.IOrderQueryClient" name="Tuhu.Service.Order.IOrderQueryClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Order/CreateOrder.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Order.ICreateOrderClient" name="Tuhu.Service.Order.ICreateOrderClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Order/OrderApiForC.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Order.IOrderApiForCClient" name="Tuhu.Service.Order.IOrderApiForCClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Order/OrderOperation.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Order.IOrderOperationClient" name="Tuhu.Service.Order.IOrderOperationClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Member/UserIntegral.svc" binding="basicHttpBinding"  behaviorConfiguration="tuhuServiceBehavior"  contract="Tuhu.Service.Member.IUserIntegralClient" name="Tuhu.Service.Member.IUserIntegralClient" />
      <endpoint binding="basicHttpBinding" address="http://netscaler.ad.tuhu.cn:9010/EmailProcess/EmailProcessOperation.svc" contract="Tuhu.Service.EmailProcess.IEmailProcessOperationClient"  name="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" />
      <endpoint name="SmsService4XMLImplPort" binding="basicHttpBinding" address="http://ws.3tong.net/services/sms" bindingConfiguration="SmsService4XMLImplPortSoapBinding" contract="Dh3T.ISmsService4XML" />
      <endpoint name="MobsetApiSoap" binding="basicHttpBinding" contract="Mobset.MobsetApiSoap" bindingConfiguration="MobsetApiSoap" address="http://sms3.mobset.com:8080/Api" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/OprLog/OprLog.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.OprLog.IOprLogClient" name="Tuhu.Service.OprLog.IOprLogClient" />
      <endpoint address="http://122.144.173.66:5022/MWGate/wmgw.asmx" binding="basicHttpBinding" bindingConfiguration="wmgwSoap" contract="Wmgw.wmgwSoap" name="wmgwSoap" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Config/Config.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Config.IConfigClient" name="Tuhu.Service.Config.IConfigClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Shop/Region.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Shop.IRegionClient" name="Tuhu.Service.Shop.IRegionClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Member/Promotion.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Member.IPromotionClient" name="Tuhu.Service.Member.IPromotionClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/KuaiXiu/ServiceCode.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.KuaiXiu.IServiceCodeClient" name="Tuhu.Service.KuaiXiu.IServiceCodeClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/UserAccount/UserAccount.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.UserAccount.IUserAccountClient" name="Tuhu.Service.UserAccount.IUserAccountClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Activity/Activity.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Activity.IActivityClient" name="Tuhu.Service.Activity.IActivityClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Utility/Monitor.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Utility.IMonitorClient" name="Tuhu.Service.Utility.IMonitorClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Push/pushtemplate.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Push.ITemplatePushClient" name="Tuhu.Service.Push.ITemplatePushClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Product/Product.svc" binding="basicHttpBinding" behaviorConfiguration="tuhuServiceBehavior" contract="Tuhu.Service.Product.IProductClient" name="Tuhu.Service.Product.IProductClient" />
     ProductionOnly-->
    </client>
  </system.serviceModel>
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
            <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
            <codeBase version="1.2.10.0" href="log4net.old.dll" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Tuhu.Service" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Tuhu.MessageQueue" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Tuhu.Service.Order" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-2.3.5.12" newVersion="2.3.5.12" />
        </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Nest" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Tuhu.Service.Product" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.3.6.6" newVersion="1.3.6.6" />
         </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Tuhu.Service.Member" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.5.9.14" />
        </dependentAssembly>
      </assemblyBinding>
  </runtime>
</configuration>
