<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>
  <schedule>
    <job>
      <name>PromotionTaskSendJob</name>
      <group>DefaultJobGroup</group>
      <description>自动执行单次优惠券任务</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.PromotionTask.Job.PromotionTaskJob, Tuhu.C.YunYing.WinService.JobSchedulerService.PromotionTask</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>PromotionTaskSendJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>PromotionTaskSendJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--定义任务触发器 每天上午2点20分触发 执行一次PromotionTaskSendJob任务-->
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>0 10 3 * * ?</cron-expression>
      </cron>
    </trigger>
      <job>
          <name>PromotionTaskNewSendJob</name>
          <group>DefaultJobGroup</group>
          <description>自动执行单次优惠券任务（针对BI表数据源）</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.PromotionTask.Job.PromotionTaskActivityJob, Tuhu.C.YunYing.WinService.JobSchedulerService.PromotionTask</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>PromotionTaskNewSendJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>PromotionTaskNewSendJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 20 3 * * ?</cron-expression>
          </cron>
      </trigger>
    <job>
          <name>PromotionTaskPushJob</name>
          <group>DefaultJobGroup</group>
          <description>自动执行优惠券到期提醒</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.PromotionTask.Job.PromotionPushJob, Tuhu.C.YunYing.WinService.JobSchedulerService.PromotionTask</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>PromotionTaskPushJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>PromotionTaskPushJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <!--定义任务触发器 每天上午2点20分触发 执行一次PromotionTaskSendJob任务-->
              <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
              <cron-expression>0 0 14 * * ?</cron-expression>
          </cron>
      </trigger>

    
    <job>
      <name>Dealgrouporder</name>
      <group>DefaultJobGroup</group>
      <description>处理异常拼团订单</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.Job.Dealgrouporder,Tuhu.C.YunYing.WinService.JobSchedulerService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>

    
    <job>
      <name>PromotionTaskCloseJob</name>
      <group>DefaultJobGroup</group>
      <description>关闭超期的触发式优惠券任务</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.PromotionTask.Job.PromotionTaskCloseJob, Tuhu.C.YunYing.WinService.JobSchedulerService.PromotionTask</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>PromotionTaskCloseJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>PromotionTaskCloseJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--定义任务触发器 每天上午2点15分触发 执行一次PromotionTaskSendJob任务-->
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>0 15 2 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>FiveYearBaoYangFreeQuanJob</name>
      <group>DefaultJobGroup</group>
      <description>五周年店庆保养免单券发放</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.FiveYearBaoYangFreeQuanJob, Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>FiveYearBaoYangFreeQuanJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>FiveYearBaoYangFreeQuanJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!-- 每天2点50分触发 执行一次FiveYearBaoYangFreeQuanJob任务-->
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>0 12 19 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>ShengBaoYangMianDanQuanJob</name>
      <group>DefaultJobGroup</group>
      <description>胜牌机油免单活动返券</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.ShengBaoYangMianDanQuanJob, Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>ShengBaoYangMianDanQuanJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>ShengBaoYangMianDanQuanJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!-- 每天2点50分触发 执行一次ShengBaoYangMianDanQuanJob任务-->
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>0 50 2 * * ?</cron-expression>
      </cron>
    </trigger>

    <!--<job>
      <name>SendActivityEmailJob</name>
      <group>DefaultJobGroup</group>
      <description>发送邮件</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.SendEmail.SendActivityEmailJob, Tuhu.C.YunYing.WinService.JobSchedulerService.SendEmail</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>SendActivityEmailJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>SendActivityEmailJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        --><!--定义任务触发器 每天上午2点15分触发 执行一次PromotionTaskSendJob任务 40 52 16 * * ?   0 0/30 9-19 * * ?--><!--
        --><!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html --><!--
        <cron-expression>0 0/30 9-19 * * ?</cron-expression>
      </cron>
    </trigger>-->

    <job>
      <name>LunTaiBaoYangFanQuanJob</name>
      <group>DefaultJobGroup</group>
      <description>双11买轮胎返保养券</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.LunTaiBaoYangFanQuanJob, Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>LunTaiBaoYangFanQuanJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>LunTaiBaoYangFanQuanJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!-- 每天3点5分触发 执行一次LunTaiBaoYangFanQuanJob任务-->
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>0 5 3 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>BaoYangFreeQuan1211Job</name>
      <group>DefaultJobGroup</group>
      <description>保养免单券</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFreeQuan1211Job, Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BaoYangFreeQuan1211JobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BaoYangFreeQuan1211Job</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!-- 每天3点12分触发 执行一次BaoYangFreeQuan1211Job任务-->
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>0 20 3 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>LunTaiBaoYangFanQuan1211Job</name>
      <group>DefaultJobGroup</group>
      <description>买轮胎返保养券</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.LunTaiBaoYangFanQuan1211Job, Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>LunTaiBaoYangFanQuan1211JobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>LunTaiBaoYangFanQuan1211Job</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!-- 每天3点26分触发 执行一次LunTaiBaoYangFanQuan1211Job任务-->
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>0 35 3 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>BaoYangFreeSingleJob</name>
      <group>DefaultJobGroup</group>
      <description>胜牌海湾机油保养免单券</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFreeSingleJob, Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BaoYangFreeSingleJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BaoYangFreeSingleJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!-- 每天3点9分触发 执行一次BaoYangFreeSingleJob任务-->
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>0 55 3 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>BaoYangFreeQuan1219Job</name>
      <group>DefaultJobGroup</group>
      <description>保养免单券</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFreeQuan1219Job, Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BaoYangFreeQuan1219JobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BaoYangFreeQuan1219Job</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!-- 每天3点17分触发 执行一次BaoYangFreeQuan1219Job任务-->
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>0 10 4 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>BaoYangFreeQuan0208Job</name>
      <group>DefaultJobGroup</group>
      <description>保养免单券</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFreeQuan0208Job, Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BaoYangFreeQuan0208JobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BaoYangFreeQuan0208Job</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!-- 每天4点19分触发 执行一次BaoYangFreeQuan0208Job任务-->
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>0 19 4 * * ?</cron-expression>
      </cron>
    </trigger>
    
    <job>
      <name>BaoYangFreeQuan0320Job</name>
      <group>DefaultJobGroup</group>
      <description>途虎轮胎节返保养券</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFreeQuan0320Job, Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BaoYangFreeQuan0320JobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BaoYangFreeQuan0320Job</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 30 4 * * ?</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>BaoYangFreeQuan0330Job</name>
      <group>DefaultJobGroup</group>
      <description>焕新去踏青活动返券</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFreeQuan0330Job,Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BaoYangFreeQuan0330JobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BaoYangFreeQuan0330Job</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 35 4 * * ?</cron-expression>
      </cron>
    </trigger>


      <job>
          <name>BaoYangFreeQuan0901Job</name>
          <group>DefaultJobGroup</group>
          <description>8月机油买一送一活动返券</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFreeQuan0901Job,Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>BaoYangFreeQuan0901JobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>BaoYangFreeQuan0901Job</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 40 4 * * ?</cron-expression>
          </cron>
      </trigger>

      <job>
          <name>BaoYangFreeQuan0902Job</name>
          <group>DefaultJobGroup</group>
          <description>0902机油买一送一活动返券</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFreeQuan0902Job,Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>BaoYangFreeQuan0902JobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>BaoYangFreeQuan0902Job</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 45 4 * * ?</cron-expression>
          </cron>
      </trigger>
      <job>
          <name>ShopSaiQuanFor20171111Job</name>
          <group>DefaultJobGroup</group>
          <description>工厂店返券</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.ShopSaiQuanFor20171111Job,Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
          <durable>true</durable>
          <recover>false</recover>
          <job-data-map>
              <entry>
                  <key>ActionName</key>
                  <value>AddPromotion</value>
              </entry>
          </job-data-map>
      </job>
      <!--<trigger>
          <cron>
              <name>ShopSaiQuanFor20171111JobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>ShopSaiQuanFor20171111Job</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 0 5 20 11 ? 2017</cron-expression>
          </cron>
      </trigger>-->
      <job>
          <name>ShopSaiQuanFor20171111SendSmsJob</name>
          <group>DefaultJobGroup</group>
          <description></description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.ShopSaiQuanFor20171111Job,Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
          <durable>true</durable>
          <recover>false</recover>
          <job-data-map>
              <entry>
                  <key>ActionName</key>
                  <value>SendSms</value>
              </entry>
          </job-data-map>
      </job>
      <!--<trigger>
          <cron>
              <name>ShopSaiQuanFor20171111SendSmsJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>ShopSaiQuanFor20171111SendSmsJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 0 5 20 11 ? 2077</cron-expression>
          </cron>
      </trigger>-->
      <job>
          <name>TireGiftPromotionJob</name>
          <group>DefaultJobGroup</group>
          <description>保养免单券</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.TireGiftPromotionJob,Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>TireGiftPromotionJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>TireGiftPromotionJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 50 4 * * ?</cron-expression>
          </cron>
      </trigger>
      <job>
          <name>BaoYangFanQuan20171111Job</name>
          <group>DefaultJobGroup</group>
          <description>20171111机油买一送一活动返券</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFanQuan20171111Job,Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>BaoYangFanQuan20171111JobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>BaoYangFanQuan20171111Job</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 55 4 * * ?</cron-expression>
          </cron>
      </trigger>
	 
      <job>
          <name>BaoYangFanQuan171204Job</name>
          <group>DefaultJobGroup</group>
          <description>途虎工场店机油买一送一活动返券</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFanQuanWithConfigJob,Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
          <durable>true</durable>
          <recover>false</recover>
          <job-data-map>
              <entry>
                  <key>Config</key>
                  <value>
                      {
                      "Channel":"171204机油买一送一券9134",
                      "GetRuleId":9134,
                      "RuleId":2006,
                      "InstallDays":3,
                      "StartTime":"2017-12-4",
                      "EndTime":"2018-1-20 23:59:59",
                      "OrderStartTime":"2017/11/28",
                      "OrderEndTime":"2017/12/12 23:59:59",
                      "MaxMoney":485,
                      "PromotionStartTime":"2018-1-1",
                      "PromotionEndTime":"2018-5-31 23:59:59",
                      "PromotionName":"指定机油到店保养券",
                      "PromotionDescription":"途虎工场店机油买一送一活动返券，仅限胜牌/海湾/出光品牌机油到店保养使用",
                      "SMSDescription":"途虎工场店机油买一送一"
                      }
                  </value>
              </entry>
          </job-data-map>
      </job>
      <trigger>
          <cron>
              <name>BaoYangFanQuan171204JobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>BaoYangFanQuan171204Job</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 0 5 * * ?</cron-expression>
          </cron>
      </trigger>

      <job>
          <name>BaoYangFanQuan171208Job</name>
          <group>DefaultJobGroup</group>
          <description>途虎双十二机油买一送一活动返券</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFanQuanWithConfigJob,Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
          <durable>true</durable>
          <recover>false</recover>
          <job-data-map>
              <entry>
                  <key>Config</key>
                  <value>
                      {
                      "Channel":"171208机油买一送一券9300",
                      "GetRuleId":9300,
                      "RuleId":2006,
                      "InstallDays":3,
                      "StartTime":"2017-12-8",
                      "EndTime":"2018-2-20 23:59:59",
                      "OrderStartTime":"2017/12/01",
                      "OrderEndTime":"2017/12/12 23:59:59",
                      "MaxMoney":485,
                      "PromotionStartTime":"2018-1-1",
                      "PromotionEndTime":"2018-5-31 23:59:59",
                      "PromotionName":"指定机油到店保养券",
                      "PromotionDescription":"途虎双十二机油买一送一活动返券，仅限胜牌/海湾/出光品牌机油到店保养使用",
                      "SMSDescription":"途虎双十二机油买一送一"
                      }
                  </value>
              </entry>
          </job-data-map>
      </job>
      <trigger>
          <cron>
              <name>BaoYangFanQuan171208JobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>BaoYangFanQuan171208Job</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 5 5 * * ?</cron-expression>
          </cron>
      </trigger>
      <job>
        <name>BaoYangFanQuan180301Job</name>
        <group>DefaultJobGroup</group>
        <description>开年焕新季品牌机油买一送一活动返券</description>
        <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.BaoYangFanQuanWithConfigJob,Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
        <durable>true</durable>
        <recover>false</recover>
        <job-data-map>
          <entry>
            <key>Config</key>
            <value>
              {
              "Channel":"180301机油买一送一券12267",
              "GetRuleId":12267,
              "RuleId":2006,
              "InstallDays":5,
              "StartTime":"2018-03-01",
              "EndTime":"2018-05-20 23:59:59",
              "OrderStartTime":"2018/02/22",
              "OrderEndTime":"2018/03/15 23:59:59",
              "MaxMoney":436,
              "PromotionStartTime":"2018-03-01",
              "PromotionEndTime":"2018-09-01 23:59:59",
              "PromotionName":"指定机油到店保养券",
              "PromotionDescription":"开年焕新季品牌机油买一送一活动返券，仅限胜牌/海湾/出光品牌机油到店保养使用",
              "SMSDescription":"开年焕新季品牌机油买一送一"
              }
            </value>
          </entry>
        </job-data-map>
      </job>
      <trigger>
        <cron>
          <name>BaoYangFanQuan180301JobTrigger</name>
          <group>DefaultTriggerGroup</group>
          <job-name>BaoYangFanQuan180301Job</job-name>
          <job-group>DefaultJobGroup</job-group>
          <cron-expression>0 10 5 * * ?</cron-expression>
        </cron>
      </trigger>
      <!--一次性的Job，设置成将来的时间-->
    <job>
      <name>CaculateUserGradeJob</name>
      <group>DefaultJobGroup</group>
      <description>计算用户积分</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.CaculateUserGrade.Job.CaculateUserGradeJob, Tuhu.C.YunYing.WinService.JobSchedulerService.CaculateUserGrade</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>CaculateUserGradeJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>CaculateUserGradeJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 55 16 20 1 ? 2099</cron-expression>
      </cron>
    </trigger>    
  
    <!--<job>
      <name>RefreshTiresRegionMarketingCacheJob</name>
      <group>DefaultJobGroup</group>
      <description>刷新轮胎区域活动缓存</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.Job.RefreshTiresRegionMarketingCacheJob, Tuhu.C.YunYing.WinService.JobSchedulerService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>RefreshTiresRegionMarketingCacheJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>RefreshTiresRegionMarketingCacheJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/15 * * * ?</cron-expression>
      </cron>
    </trigger>-->

    <job>
      <name>RefreshTiresActivityCacheJob</name>
      <group>DefaultJobGroup</group>
      <description>刷新轮胎活动缓存</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.Job.RefreshTiresActivityCacheJob, Tuhu.C.YunYing.WinService.JobSchedulerService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>RefreshTiresActivityCacheJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>RefreshTiresActivityCacheJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/15 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>RefreshRandomPromotionCacheJob</name>
      <group>DefaultJobGroup</group>
      <description>刷新随机优惠券活动缓存</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.Job.RefreshRandomPromotionCacheJob, Tuhu.C.YunYing.WinService.JobSchedulerService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>RefreshRandomPromotionCacheJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>RefreshRandomPromotionCacheJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/15 * * * ?</cron-expression>
      </cron>
    </trigger>

      <job>
          <name>CreateBeautyCodeJob</name>
          <group>DefaultJobGroup</group>
          <description>批量生成大客户美容服务码</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.Job.CreateBeautyCodeJob, Tuhu.C.YunYing.WinService.JobSchedulerService</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>CreateBeautyCodeJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>CreateBeautyCodeJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0/30 * * * * ?</cron-expression>
          </cron>
      </trigger>

      <job>
          <name>CreateVipPromotion2BOrderJob</name>
          <group>DefaultJobGroup</group>
          <description>创建大客户2B关联订单</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.Job.CreateVipPromotion2BOrderJob, Tuhu.C.YunYing.WinService.JobSchedulerService</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>CreateVipPromotion2BOrderJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>CreateVipPromotion2BOrderJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 0 1 * * ?</cron-expression>
          </cron>
      </trigger>
      
      <job>
          <name>RunMonitorJob</name>
          <group>DefaultJobGroup</group>
          <description>Job运行监控</description>
          <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.Job.RunMonitorJob, Tuhu.C.YunYing.WinService.JobSchedulerService</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>RunMonitorJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>RunMonitorJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0/30 * * * * ?</cron-expression>
          </cron>
      </trigger>
    
    <job>
      <name>UploadFileTaskJob</name>
      <group>DefaultJobGroup</group>
      <description>上传文件任务Job</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.Job.UploadFileTaskJob, Tuhu.C.YunYing.WinService.JobSchedulerService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>UploadFileTaskJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>UploadFileTaskJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0/30 * * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>UShopActivityReturnGift180412Job</name>
      <group>DefaultJobGroup</group>
      <description>途虎专供轮胎线下活动自动返券需求</description>
      <job-type>Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon.Job.UShopActivityReturnGift180412Job, Tuhu.C.YunYing.WinService.JobSchedulerService.BaoYangCoupon</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>UShopActivityReturnGift180412JobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>UShopActivityReturnGift180412Job</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0 8 * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
</job-scheduling-data>
