@{
    Layout = null;
}
<style type="text/css">
    input[type=button], input[type=submit], input[type=reset] { background: #0088cc none repeat scroll 0 0; border: medium none #0088cc; border-radius: 5px; color: #f0f0f0; cursor: pointer; font-family: "Microsoft Yahei"; font-size: 12px; outline: medium none; padding: 5px 25px; }

    #CategoryMenu { border: 1px red red; }
</style>

<table id="BatchAddCouponForProductDetails" style="margin:0 0 30px 0;"></table>

<table id="BatchAddCoupon" style="margin:auto;width:100%">
    <thead>
        <tr>
            <td> <input type="checkbox"  class="filterCoupon" value="NotStart"/><span>即将开始</span></td>
            <td> <input type="checkbox"  class="filterCoupon" checked="checked"  value="OnGoing"/><span>进行中</span></td>
            <td> <input type="checkbox"  class="filterCoupon"  value="Overdue"/><span>已过期</span></td>
            <td> <input type="checkbox"  class="filterCoupon"  value="ValidDays"/><span>自X天起</span></td>
            <td> <input type="checkbox"  class="filterCoupon"  value="Other"/><span>其他</span></td>
        </tr>
        <tr>
            <td><span style="color:red;">*优惠券规则编号(非GUID)</span></td>
            <td>优惠券说明</td>
            <td>优惠条件</td>
            <td>优惠额度</td>
            <td>券后销售价</td>
            <td>券后毛利</td>
            <td>优惠券显示时间</td>
            <td>管理</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div style="text-align:center;margin:15px 0 0 0;">
    <input type="button" value="保存" onclick="ProductLibraryConfig.Save('InserOrUpdate');" />
    <input type="button" value="取消" onclick="$('#BatchAddCouponView').dialog('close');" />
</div>