@using Tuhu.Provisioning.DataAccess.Entity;
@{
    ViewBag.Title = "产品库优惠券配置";
    Layout = "../Shared/_Layout.cshtml";
}
<link href="~/Scripts/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="~/Scripts/zTree/js/jquery.ztree.core-3.5.min.js" type="text/javascript"></script>
<script src="~/Scripts/zTree/js/jquery.ztree.excheck-3.5.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>
<style type="text/css">
    input[type=button], input[type=submit], input[type=reset] { background: #0088cc none repeat scroll 0 0; border: medium none #0088cc; border-radius: 5px; color: #f0f0f0; cursor: pointer; font-family: "Microsoft Yahei"; font-size: 12px; outline: medium none; padding: 5px 25px; }

    #CategoryMenu { border: 1px red red; }

    #CategoryMenu { border: 1px red red; }

    #ParamsList_Brand span, #ParamsList_Tab span, #ParamsList_Rim span { display: inline-block; width: 156px; margin-right: 10px; }

    .pageStyle { display: inline-block; border: 1px solid #000000; width: 36px; height: 16px; background: #ccc; margin: 0 5px; color: black; cursor: pointer; }
</style>

<div style="margin-top:20px;">
    <label><input type="radio" name="CheckMenu" value="3" onclick="zTreeSetting.expandAll(true);" />展开全部</label>
    <label><input type="radio" name="CheckMenu" value="4" onclick="zTreeSetting.expandAll(false);" />折叠全部</label>
    <input type="hidden" name="PublicCategory" id="PublicCategory" value="1" />
</div>
<div style="margin:10px 0 0 0;">
    <ul id="CategoryTagTree" style="width:15%;border:2px solid #808080;background-color:#ccc;float:left;" class="ztree"></ul>
    <div id="ListItems" style="width:75%;float:left;margin:0 30px;">
        <div id="ParamsList"></div>
    </div>
    <div style="clear:both;"></div>
</div>

<div id="ShowProductCouponDetail"></div>
<div id="BatchAddCouponView"></div>
<div id="CouponUseMoneyConfig" style="display:none">
    <table id="CouponUseMoneyConfigTable">
        <tr>
            <td>
                <label>毛利警戒线：</label>
                <input id="profitLevel" type="text" oninput="ProductLibraryConfig.ProfitChange()" />
            </td>
            <td>
                <input type="button" value="添加新的规则" onclick="ProductLibraryConfig.AddCouponUseMoneyRow()" />
                @*<input type="button" value="验证产品" onclick="ProductLibraryConfig.VerfyProductCoupon()" />*@
            </td>
            <td>
                <input type="button" value="添加已有规则" onclick="ProductLibraryConfig.AddExistRuleRow()" />
            </td>
        </tr>
    </table>
    <table id="NotAvaiableProductTips" style="display:none">
        <tr>
            <th>
                低于最低毛利的产品：
            </th>
        </tr>
    </table>
    <table id="NotAvaiableProduct" style="display:none">
        <tr>
            <th>
                序号
            </th>
            <th>
                PID
            </th>
            <th>
                产品名
            </th>
            <th>
                价格
            </th>
            <th>
                成本
            </th>
        </tr>
    </table>
    <table style="margin-bottom:10px;float:right">
        <tr>
            <td>
                <input type="button" style="margin-right:50px" value="下一步" class="nextStep" onclick="ProductLibraryConfig.StepChange(this)" />
            </td>
        </tr>
    </table>    
    <img class="loadingImg" src="~/Images/loading.gif" style="display:none" />
    <table id="CouponUseMoneyConfigTemplate" style="display:none">
        <tr>
            <td>
                <label class="newRule">新的规则</label>
            </td>
            <td>
                <label>满</label>
                <input class="miniMoney" type="text" onchange="ProductLibraryConfig.CouponRuleRowChange(this)" />
            </td>
            <td>
                <label>减</label>
                <input class="discount" type="text" onchange="ProductLibraryConfig.CouponRuleRowChange(this)" />
            </td>
            <td>
                <input type="button" value="删除" onclick="ProductLibraryConfig.RemoveCurrentRow(this)" />
            </td>
            <td>
                <input type="button" value="查看可用产品" onclick="ProductLibraryConfig.ShowPassedProducts(this)" />
            </td>
        </tr>
    </table>
    <table id="ExistRuleTemplate" style="display:none">
        <tr>
            <td>
                <label>规则ID</label>
                <input type="text" class="rulePKID" onblur="ProductLibraryConfig.FillRuleInfo(this)" />
            </td>
            <td>
                <label>满</label>
                <input class="miniMoney" type="text" readonly="readonly" />
            </td>
            <td>
                <label>减</label>
                <input class="discount" type="text" readonly="readonly" />
            </td>
            <td>
                <input type="button" value="删除" onclick="ProductLibraryConfig.RemoveCurrentRow(this)" />
            </td>
            <td>
                <input type="button" value="查看可用产品" onclick="ProductLibraryConfig.ShowPassedProducts(this)" />
            </td>
        </tr>
    </table>
    <table id="SimpleProductTemplate" style="display:none">
        <tr>
            <td>
                $index$
            </td>
            <td>
                $productId$
            </td>
            <td>
                $productName$
            </td>
            <td>
                $price$
            </td>
            <td>
                $cost$
            </td>
        </tr>
    </table>
</div>

<div id="AvaiableProducts" style="display:none">
    <table id="AvaiableProductsTable">
        <tr>
            <th>
                序号
            </th>
            <th>
                产品Id
            </th>
            <th>
                产品名
            </th>
            <th>
                价格
            </th>
            <th>
                成本
            </th>
        </tr>
    </table>
</div>

<div id="CreateCoupon" style="display:none">
    <table id="publicParentCouponInfo">
        <tr>
            <th>
                母券信息
            </th>
        </tr>
        <tr>
            <td>
                <label>名称</label>
                <input type="text" class="name" />
            </td>
        </tr>
        <tr>
            <td>
                <label>订单类型：</label>
                <input type="radio" checked="checked" name="OrderType" value="0" />
                <label>所有订单</label>
                <input type="radio" name="OrderType" value="1" />
                <label>仅到家订单</label>
                <input type="radio" name="OrderType" value="2" />
                <label>仅到店订单</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>优惠券类型：</label>
                <input type="radio" checked="checked" name="CouponType" value="0" />
                <label>满减券</label>
                <input type="radio" name="CouponType" value="1" />
                <label>后返券</label>
                <input type="radio" name="CouponType" value="2" />
                <label>实付券</label>
            </td>
        </tr>
        <tr style="display:none">
            <td>
                <label>跳转着陆页：</label>
                <input type="radio"  name="JumpType" value="0" />
                <label>优惠券说明</label>
                <input type="radio" name="JumpType" value="1" checked="checked" />
                <label>轮胎列表</label>
                <input type="radio" name="JumpType" value="2" />
                <label>保养列表</label>
                <input type="radio" name="JumpType" value="3" />
                <label>车品商城</label>
                <input type="radio" name="JumpType" value="4" />
                <label>商品列表</label>
                <input type="radio" name="JumpType" value="5" />
                <label>洗车</label>
                <input type="radio" name="JumpType" value="6" />
                <label>打蜡</label>
                <input type="radio" name="JumpType" value="7" />
                <label>内饰清洗</label>
            </td>
        </tr>
        <tr style="display:none">
            <td>
                <label>APP自定义跳转着陆页：</label>
                <input type="text" id="AppJumpPage" />
            </td>
        </tr>
        <tr style="display:none">
            <td>
                <label>小程序自定义跳转着陆页：</label>
                <input type="text" id="H5JumpPage" />
            </td>
        </tr>
        <tr>
            <td>
                <label>商品范围</label>
                <label>*按PID*</label>
            </td>
        </tr>
    </table>
    <table id="publicChildCouponInfo">
        <tr>
            <th>
                子券信息
            </th>
        </tr>
        <tr>
            <td>
                <label>优惠券有效期</label>
            </td>
            <td>
                <input type="radio" name="validity" checked="checked" class="afterReceiveType" />
                <label>自领取后</label>
                <input type="text" class="dayAfterReceive" />
                <label>天</label>
                <label>最终有效期</label>
                <input type="text" class="finalValidity" />
            </td>
            <td>
                <input type="radio" name="validity" class="fixedDateType" />
                <label>固定日期</label>
                <input type="text" class="startDate" />
                <input type="text" class="endDate" />
            </td>
        </tr>
        <tr>
            <td>
                <label>每人限领数量</label>
            </td>
            <td>
                <input type="text" class="limitCount" />
            </td>
        </tr>
        <tr>
            <td>
                <label>发行量</label>
            </td>
            <td>
                <input type="text" class="Circulation" />
                <label>修改发行量时只能增加不能减少,请谨慎设置</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>渠道</label>
            </td>
            <td>
                <select id="channel">
                    <option selected="selected" value="整网">整网</option>
                    <option value="轮胎">轮胎</option>
                    <option value="保养">保养</option>
                    <option value="车品">车品</option>
                    <option value="美容">美容</option>
                    <option value="蓄电池">蓄电池</option>
                    <option value="漆面修补">漆面修补</option>
                    <option value="李强">李强</option>
                    <option value="吴哲漢">吴哲漢</option>
                    <option value="王婵娟">王婵娟</option>
                    <option value="戴秀梅">戴秀梅</option>
                    <option value="浦隆飚">浦隆飚</option>
                    <option value="叶晓娟">叶晓娟</option>
                    <option value="朱佩琼">朱佩琼</option>
                    <option value="张智健">张智健</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>电销可发放</label>
            </td>
            <td>
                <input type="radio" checked="checked" value="1" name="isSalerCanSend" />
                <label>是</label>
                <input type="radio" value="0" name="isSalerCanSend" />
                <label>否</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>支持的用户范围</label>
            </td>
            <td>
                <input type="radio" checked="checked" name="supportUserType" value="0" />
                <label>全部</label>
                <input type="radio" name="supportUserType" value="1" />
                <label>新用户</label>
                <input type="radio" name="supportUserType" value="2" />
                <label>老用户</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>详情页展示时间</label>
            </td>
            <td>
                <input type="text" class="ShowStartTime" />
                <label>-</label>
                <input type="text" class="ShowEndTime" />
            </td>
        </tr>
        <tr>
            <td>
                <label>部门</label>
            </td>
            <td>
                <select id="partList" onchange="ProductLibraryConfig.ReloadUseList()">
                    <option></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>用途</label>
            </td>
            <td>
                <select id="useList">
                    <option></option>
                </select>
            </td>
        </tr>
    </table>
    <table id="IndividualInfo">
        <tr>
            <th>
                个性化信息
            </th>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <input type="button" value="上一步" class="lastStep" onclick="ProductLibraryConfig.StepChange(this)" />
            </td>
            <td>
                <input type="button" value="下一步" class="nextStep" onclick="ProductLibraryConfig.StepChange(this)" />
            </td>
        </tr>
    </table>
    <table id="IndividualInfoTemplate" style="display:none">
        <tr>
            <td>
                <label>满：</label>
                <label class="miniMoney">$miniMoney$</label>
            </td>
            <td>
                <label>减:</label>
                <label class="discount">$discount$</label>
            </td>
            <td>
                <label>
                    优惠券名称：
                </label>
                <input type="text" class="couponName" />
            </td>
            <td>
                <label>
                    优惠券描述：
                </label>
                <input type="text" class="description" />
            </td>
        </tr>
    </table>
</div>

<div id="notPassedProduct" style="display:none">
    <table id="notPassedProductTable">
        <tr>
            <th>
                序号
            </th>
            <th>
                PID
            </th>
            <th>
                名字
            </th>
            <th>
                价格
            </th>
            <th>
                成本
            </th>
        </tr>
    </table>
</div>
<script id="AssignCouponView" type="text/template">
    <tr>
        <td><input attribute="CouponNum" class="couponBlur" type="number" value="{{CouponNum}}" data-Oid="{{Oid}}" data-statusType="" onblur="ProductLibraryConfig.MatchingCoupon(this);" /></td>
        <td attribute="CouponName">{{Description}}</td>
        <td attribute="CouponMinmoney">{{CouponMinmoney}}</td>
        <td attribute="CouponDiscount">{{CouponDiscount}}</td>
        <td attribute="CouponSaleAmount">{{CouponSaleAmount}}</td>
        <td attribute="CouponSalePercent">{{CouponSalePercent}}</td>
        <td attribute="CouponExplain">{{CouponExplain}}</td>
        @*<td attribute="Condition">{{SupportUserRange}}</td>*@
        <td><input type="button" value="删除" onclick="ProductLibraryConfig.RemoveCoupon(this);" /> </td>
    </tr>
</script>
<script id="BatchDeleteCoupon" type="text/template">
    <tr>
        <td><input attribute="CouponNum" class="couponBlur"  type="number" value="{{CouponNum}}" onblur="ProductLibraryConfig.MatchingCoupon(this,'BatchDelete');" /></td>
        <td attribute="CouponName">{{Description}}</td>
        <td attribute="CouponExplain">{{CouponExplain}}</td>
        <td attribute="Condition">{{SupportUserRange}}</td>
        <td><input type="button" value="删除" onclick="ProductLibraryConfig.RemoveCoupon(this);" /> </td>
    </tr>
</script>

@*<script id="BatchAddCouponForProductDetailsView" type="text/template">
        <tr>
            <td rowspan="4"><img src="{{Image}}" width="150" height="150" /></td>
            <td>显示名称:</td>
            <td>{{DisplayName}}</td>
            <td>品牌:</td>
            <td colspan="3">{{CP_Brand}}</td>
        </tr>
        <tr>
            <td>广告语:</td>
            <td>{{CP_ShuXing5}}</td>
            <td>状态:</td>
            <td colspan="3">{{OnSale}}</td>
        </tr>
        <tr>
            <td>PID:</td>
            <td>{{PID}}</td>
            <td>花纹:</td>
            <td>{{CP_Tire_Pattern}}</td>
            <td>尺寸:</td>
            <td>{{CP_Tire_Rim}}</td>
        </tr>
        <tr>
            <td>价格:</td>
            <td>{{cy_list_price}}</td>
            <td>销售价:</td>
            <td>{{cy_marketing_price}}</td>
        </tr>
    </script>*@

<script type="text/javascript">
    var ImageDomain = "https://image.tuhu.cn";
    var NeedRemoveCoupon = new Array();
    var NeedAddCoupon = new Array();
    var PassedProducts = new Array();
    var NotPassedProducts = new Array();
    var lock = false;
    var CookieTools = {
        GetCookie: function (name) {
            var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
            if (arr != null) return unescape(arr[2]); return null;
        },
        SetCookie: function (name, value) {
            var Days = 3600;
            var exp = new Date();
            exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
            document.cookie = name + "=" + escape(value) + ";path=/;expires=" + exp.toGMTString();
        },
        DelCookie: function (name) {
            var exp = new Date();
            exp.setTime(exp.getTime() - 1);
            var cval = this.GetCookie(name);
            if (cval != null)
                document.cookie = name + "=" + cval + ";expires=" + exp.toGMTString() + "; path=/";
        }
    }

    var zTreeSetting = {
        setting: {
            data: {
                simpleData: { enable: true }
            },
            callback: {
                onClick: function () {
                    var d = zTreeSetting.getItems();

                    $("input[id='PublicCategory']").val(d.NodeNo);

                    ProductLibraryConfig.RemoveSearchAllCookie();
                    ProductLibraryConfig.DefaultLoad();
                }
            }
        },
        zTreeJson:@Html.Raw(ViewBag.CategoryTagManager),
        zTreeInit:function(){
            $.fn.zTree.init($("#CategoryTagTree"), zTreeSetting.setting,zTreeSetting.zTreeJson);
        },
        getItems:function()
        {
            return $.fn.zTree.getZTreeObj("CategoryTagTree").getSelectedNodes()[0];
        },
        expandAll:function(isExpandAll){
            $.fn.zTree.getZTreeObj("CategoryTagTree").expandAll(isExpandAll || false);
        }
    };

    zTreeSetting.zTreeInit();
    //zTreeSetting.expandAll(true);
    //setTimeout(zTreeSetting.expandAll,500);

    var isBatch = 0;
    var ProductLibraryConfig={
        DefaultLoad:function()
        {
            var _PublicCategory  = $.trim($("#PublicCategory").val());

            $("#ParamsList").html("").load('/ProductLibraryConfig/Edit?Category=' + _PublicCategory || "Tires");

           // ProductLibraryConfig.InitStateElement();
        },
        CheckALLOrOut:function(obj){
            var IsCheck = $(obj).is(":checked");
            $("input[name='BodyCheckBox']").attr("checked",IsCheck);
        },
        GetCheckList:function(){
            var $BodyCheckBox = $("input[name='BodyCheckBox']"),checkArr = [];
            $BodyCheckBox.each(function(i){
                if($(this).is(":checked")){
                    checkArr.push($(this).val());
                }
            });

            return checkArr;
        },
        SearchProuds:function(pageIndex,isPageEvent,SecondSearchParams){

            if((pageIndex||0) == 0 &&(isPageEvent||0) == 0 &&(SecondSearchParams||0) == 0){
                CookieTools.SetCookie("SearchType",1);
            }

            var _PublicCategory  = $.trim($("#PublicCategory").val()),
            _ParamsListForm = "&" + $("#ParamsListForm").serialize(),
            _QueryParams = "?Category="+_PublicCategory,
            _PageIndex = "&pageIndex="+ (pageIndex || 1)
            _SecondSearchParams = SecondSearchParams || "";

            if(_ParamsListForm.length > 0){
                _QueryParams = _QueryParams  + _ParamsListForm;
            }

            if(_SecondSearchParams.length > 0){
                _QueryParams = _QueryParams + _SecondSearchParams;
            }

            if(_PageIndex.length >0){
                _QueryParams = _QueryParams + _PageIndex;
            }

            if((isPageEvent || false) == false){
                CookieTools.DelCookie("data-page");
            }

            ProductLibraryConfig.FilSearchWhereEvent();

            $("#ParamsList").html("").load('/ProductLibraryConfig/Edit'+_QueryParams);

            //ProductLibraryConfig.InitStateElement();
        },
        BatchAddCouponOpen:function(){
            isBatch = 0;
            var _listCount = this.GetCheckList().length;
            if(_listCount > 0){
                var dialogConfig = { title:"批量添加优惠券",width:700, height:400, modal:true };
                $("#BatchAddCouponView").html("")
                    .load('/ProductLibraryConfig/BatchAddCoupon')
                    .dialog(dialogConfig);
            }
            else{
                alert("您未勾选任何项！");
            }
        },
        BatchDeleteCouponOpen: function () {
            isBatch = 0;
            var _listCount = this.GetCheckList().length;
            if(_listCount > 0){
                var dialogConfig = { title:"批量删除优惠券",width:700, height:400, modal:true };
                $("#BatchAddCouponView").html("")
                    .load('/ProductLibraryConfig/BatchDeleteCoupon')
                    .dialog(dialogConfig);
            }
            else{
                alert("您未勾选任何项！");
            }
        },
        ShowCouponUseMoneyConfigDialog: function () {
            var _listCount = this.GetCheckList().length;
            if (_listCount > 0) {
                var dialogConfig = { title: "验证优惠券使用规则", width: 900, height: 600, modal: true };
                $("#CouponUseMoneyConfig").dialog(dialogConfig);
                $("#CouponUseMoneyConfig #CouponUseMoneyConfigTable").find("tbody:not(:first)").empty();
                $("#CouponUseMoneyConfig #profitLevel").val("");
                $("#NotAvaiableProduct").hide();
                $("#NotAvaiableProductTips").hide();
            } else {
                alert("您未勾选任何项！");
            }
        },
        VerfyProductCoupon: function (callback) {

            var oids = this.ArrayJoin(this.GetCheckList(), ",");
            var profitLevel = $("#CouponUseMoneyConfigTable #profitLevel").val();
            var $ruleRows = $("#CouponUseMoneyConfigTable").find("tr");
            var rules = new Array();
            for (var i = 1; i < $ruleRows.length; i++) {
                var miniMoney = $ruleRows.eq(i).find(".miniMoney").val();
                var discount = $ruleRows.eq(i).find(".discount").val();
                rules.push({
                    Minmoney: miniMoney,
                    Discount: discount
                });
            }
            if (oids.length > 0 && rules.length > 0) {
                //$("#CouponUseMoneyConfig .nextStep").attr("disabled", true);
                //$("#CouponUseMoneyConfig .nextStep").css("background", "#999999");

                $(".loadingImg").show();
                $("#NotAvaiableProduct").hide();
                $("#NotAvaiableProductTips").hide();
                $.post("VerfyProductCoupon", { oids: oids, rules: JSON.stringify(rules), grossProfit: profitLevel },
                    function (result) {
                        $(".loadingImg").hide();
                        var unavaiableProducts = result.unavaiableProducts;
                        PassedProducts = result.avaiableProducts;
                        NotPassedProducts = unavaiableProducts;
                        if (unavaiableProducts && unavaiableProducts.length > 0) {
                            var simpleProductRow = $("#SimpleProductTemplate").html();
                            $("#NotAvaiableProduct").find("tr:not(:first)").remove();
                            for (var i = 0; i < unavaiableProducts.length; i++) {
                                var rowHtml = simpleProductRow.replace("$index$", i + 1).replace("$productId$", unavaiableProducts[i].PID)
                                    .replace("$productName$", unavaiableProducts[i].DisplayName).replace("$price$", unavaiableProducts[i].cy_list_price).replace("$cost$", unavaiableProducts[i].cy_cost);
                                $("#NotAvaiableProduct").append(rowHtml);
                            }
                            $("#NotAvaiableProductTips").show();
                            $("#NotAvaiableProduct").show();
                        } else {
                            //$("#CouponUseMoneyConfig .nextStep").css("background", "#0088cc");
                            //$("#CouponUseMoneyConfig .nextStep").attr("disabled", false);
                            $("#NotAvaiableProduct").hide();
                            $("#NotAvaiableProductTips").hide();
                        }
                        return callback;
                    });
            }
        },
        ProfitChange: function () {
            this.ClearTableContent();
            this.VerfyProductCoupon();
        },
        CouponRuleRowChange: function (current) {
            $(current).parent().parent().parent().nextAll().remove();
            var oids = this.ArrayJoin(this.GetCheckList(), ",");
            var miniMoney = $(current).val();
            if (miniMoney) {
                $.post("VerifyPrice", { oids: oids, price: miniMoney }, function (result) {
                    if (!result) {
                        alert("没有满足条件的产品");
                        $(current).val("0");
                    }
                    ProductLibraryConfig.VerfyProductCoupon();
                });
            }        
        },
        ShowAddParentCouponDialog: function () {
            var dialogConfig = { title: "创建母券规则", width: 800, height: 400, modal: true };
            $("#CreateParentCoupon").dialog(dialogConfig);
        },
        ShowNotPassedCoupon: function (model) {

            var dialogConfig = { title: "低于最低毛利的优惠券", width: 800, height: 400, modal: true };
            $("#notPassedCoupon").html("").dialog();
        },
        ShowPassedProducts: function (current) {
            var $current = $(current);
            var miniMoney = $current.parent().parent().parent().find(".miniMoney").val();
            var discount = $current.parent().parent().parent().find(".discount").val();
            var currentPassedProducts = PassedProducts[miniMoney + "/" + discount];
            if (currentPassedProducts && currentPassedProducts.length > 0) {
                var simpleProductRow = $("#SimpleProductTemplate").html();
                $("#AvaiableProductsTable").find("tr:not(:first)").remove();
                for (var i = 0; i < currentPassedProducts.length; i++) {
                    var rowHtml = simpleProductRow.replace("$index$", i + 1).replace("$productId$", currentPassedProducts[i].PID)
                        .replace("$productName$", currentPassedProducts[i].DisplayName).replace("$price$", currentPassedProducts[i].cy_list_price)
                        .replace("$cost$", currentPassedProducts[i].cy_cost);
                    $("#AvaiableProductsTable").append(rowHtml);
                }
                var dialogConfig = { title: "高于最低毛利的产品", width: 700, height: 400, modal: true };
                $("#AvaiableProducts").dialog(dialogConfig);
            } else {
                alert("没有可用产品");
            }
        },
        StepChange: function (current) {
            var $this = $(current);
            var id = $this.parent().parent().parent().parent().parent().attr("id");
            switch (id) {
                case "CouponUseMoneyConfig":
                    if (NotPassedProducts && NotPassedProducts.length > 0) {
                        var msg = "有部分商品未被配券，是否确认？";
                        if (confirm(msg) == true) {
                        } else {
                            return false;
                        }
                    }
                    var moneyRule = $("#CouponUseMoneyConfigTable").find("tr:not(:first)");
                    if (moneyRule && moneyRule.length > 0 && $("#CouponUseMoneyConfigTable .miniMoney").val() >= 0
                        && $("#CouponUseMoneyConfigTable .discount").val() >= 0 && $("#CouponUseMoneyConfigTable .newRule").text() != "") {
                        var partVal = $("#partList").val();
                        if (!partVal || partVal <= 0) {
                            $.get("GetDepartmentUseSetting", function (setting) {
                                var partList = setting.filter(function (t) { return t.Type == 0 });
                                var useList = setting.filter(function (t) { return t.Type == 1 });
                                var partOptionHtml = "<option value='-1'>请选择部门</option>";
                                for (var i = 0; i < partList.length; i++) {
                                    partOptionHtml += "<option value=" + partList[i].SettingId + " >" + partList[i].DisplayName + "</option>";
                                }
                                $("#publicChildCouponInfo #partList").empty().append(partOptionHtml);
                                var userOptionHtml = "<option>请选择用途</option>";
                                $("#publicChildCouponInfo #useList").empty().append(userOptionHtml);
                            });
                        }
                        var individualHtml = "";
                        for (var i = 0; i < moneyRule.length; i++) {
                            if ($(moneyRule[i]).find(".newRule").text() != "") {
                                var miniMoney = $(moneyRule[i]).find(".miniMoney").val();
                                var discount = $(moneyRule[i]).find(".discount").val();
                                if (miniMoney && miniMoney > 0 && discount && discount > 0)
                                    individualHtml += $("#IndividualInfoTemplate").html().replace("$miniMoney$", miniMoney).replace("$discount$", discount);
                            }
                        }
                        $("#IndividualInfo").find("tr:not(:first)").remove();
                        $("#IndividualInfo").append(individualHtml);
                        $("#CouponUseMoneyConfig").dialog('close');
                        var dialogConfig = { title: "插优惠券", width: 900, height: 800, modal: true };
                        $("#CreateCoupon").dialog(dialogConfig);
                        $("#publicParentCouponInfo .name").val("");
                        //$("#publicParentCouponInfo #AppJumpPage").val("");
                        //$("#publicParentCouponInfo #H5JumpPage").val("");
                        $("#publicChildCouponInfo .dayAfterReceive").val("");
                        $("#publicChildCouponInfo .finalValidity").val("");
                        $("#publicChildCouponInfo .startDate").val("");
                        $("#publicChildCouponInfo .endDate").val("");
                        $("#publicChildCouponInfo .limitCount").val("");
                        $("#publicChildCouponInfo .Circulation").val("");
                        $("#publicChildCouponInfo .ShowStartTime").val("");
                        $("#publicChildCouponInfo .ShowEndTime").val("");
                        $("#publicChildCouponInfo .couponName").val("");
                        $("#publicChildCouponInfo .description").val("");
                    } else {
                        var grossProfit = $("#CouponUseMoneyConfigTable #profitLevel").val();
                        var hasExistRulePKIDs = ProductLibraryConfig.GetHasExistsRulePkid();
                        if (hasExistRulePKIDs && hasExistRulePKIDs.length > 0) {
                            var rulePKIDs = ProductLibraryConfig.ArrayJoin(hasExistRulePKIDs, ",");
                            ProductLibraryConfig.SaveProductCouponRules(rulePKIDs, grossProfit, function (result) {
                                if (result.result && result.result.State == 1) {
                                    alert("插券成功");
                                    ProductLibraryConfig.SearchProuds(CookieTools.GetCookie("data-page") || 1, true);
                                    ProductLibraryConfig.ClearTableContent();
                                    $("#CouponUseMoneyConfig").dialog('close');
                                } else {
                                    var msg = "插券失败";
                                    if (result.result && result.result.Message) {
                                        msg = result.result.Message;
                                    }
                                    alert(msg);
                                }
                            });
                        } else {
                            alert("输入有效数据");
                        }
                    }
                    break;
                case "CreateCoupon":
                    var stepType = $this.attr("class");
                    if (stepType == "lastStep") {
                        $("#CreateCoupon").dialog('close');
                        var dialogConfig = { title: "验证优惠券使用规则", width: 900, height: 600, modal: true };
                        $("#CouponUseMoneyConfig").dialog(dialogConfig);
                    } else {
                        this.SaveCoupon();
                    }
                    break;
            }
        },
        SaveCoupon: function () {
            var parentCouponName = $("#publicParentCouponInfo .name").val();
            var orderType = $("#publicParentCouponInfo [name=OrderType]:checked").val();
            var promotionType = $("#publicParentCouponInfo [name=CouponType]:checked").val();
            var jumpType = $("#publicParentCouponInfo [name=JumpType]:checked").val();
            //var appJumpPage = $("#publicParentCouponInfo #AppJumpPage").val();
            //var h5jumpPage = $("#publicParentCouponInfo #H5JumpPage").val();
            var pidType = true;//true表示增加PID,false表示排除PID
            if (parentCouponName == "" || orderType == "" || promotionType == "" || jumpType == ""|| pidType == "") {
                alert("母券信息不完整！");
                return;
            }
            var parentCoupon = {
                Name: parentCouponName,
                InstallType: orderType,
                HrefType: jumpType,
                PromotionType: promotionType,
                CustomSkipPage: "",
                WxSkipPage: "",
                H5SkipPage:"",
                PIDType: pidType,
                CouponType:0
            };
            console.log(parentCoupon);
            var dayAfterReceive = $("#publicChildCouponInfo .dayAfterReceive").val();
            var finalValidity = $("#publicChildCouponInfo .finalValidity").val();
            var startDate = $("#publicChildCouponInfo .startDate").val();
            var endDate = $("#publicChildCouponInfo .endDate").val();
            var limitCount = $("#publicChildCouponInfo .limitCount").val();
            var Circulation = $("#publicChildCouponInfo .Circulation").val();
            var channel = $("#publicChildCouponInfo #channel").val();
            var isSalerCanSend = $("#publicChildCouponInfo [name=isSalerCanSend]:checked").val();
            var supportUserType = $("#publicChildCouponInfo [name=supportUserType]:checked").val();
            var ShowStartTime = $("#publicChildCouponInfo .ShowStartTime").val();
            var ShowEndTime = $("#publicChildCouponInfo .ShowEndTime").val();
            var departmentId = $("#publicChildCouponInfo #partList").val();
            var departmentName = $("#publicChildCouponInfo #partList option:selected").text();;
            var intentionId = $("#publicChildCouponInfo #useList").val();
            var intentionName = $("#publicChildCouponInfo #useList option:selected").text();
            if ((!VerifyParameter(dayAfterReceive) && (!VerifyParameter(startDate) || !VerifyParameter(endDate))) ||
                !VerifyParameter(limitCount) || !VerifyParameter(channel) ||
                !VerifyParameter(isSalerCanSend) || !VerifyParameter(supportUserType) || !VerifyParameter(ShowStartTime)
                || !VerifyParameter(ShowEndTime) || !VerifyParameter(departmentId) || !VerifyParameter(intentionId)
                || !VerifyParameter(departmentName) || !VerifyParameter(intentionName)) {
                alert("子券信息不完整");
                return;
            }

            var childCoupon = {
                SingleQuantity: limitCount,
                Quantity: Circulation,
                Channel: channel,
                AllowChanel:isSalerCanSend,
                SupportUserRange: supportUserType,
                DetailShowStartDate: ShowStartTime,
                DetailShowEndDate: ShowEndTime,
                DepartmentId: departmentId,
                DepartmentName: departmentName,
                IntentionId: intentionId,
                IntentionName: intentionName,
                CouponType: 0,
                DeadLineDate: finalValidity
            };
            if ($(".fixedDateType").attr("checked") && $(".fixedDateType").attr("checked") == "checked") {
                childCoupon.ValiStartDate = startDate;
                childCoupon.ValiEndDate = endDate;
            } else if ($(".afterReceiveType").attr("checked") == "checked") {
                childCoupon.Term = dayAfterReceive;
            }
            console.log(childCoupon);
            var rules = new Array();
            var $individualRows = $("#IndividualInfo").find("tr");
            for (var i = 1; i < $individualRows.length; i++) {
                var promotionName = $($individualRows).eq(i).find(".couponName").val();
                var descriptName = $($individualRows).eq(i).find(".description").val();
                if (!VerifyParameter(promotionName) || !VerifyParameter(descriptName)) {
                    alert("优惠券信息不完整");
                    return;
                }
                if (promotionName.length > 10) {
                    alert("优惠券名字不能超过10");
                    return;
                }
                rules.push({
                    PromtionName: promotionName,
                    Description: descriptName,
                    Discount: $($individualRows).eq(i).find(".discount").text(),
                    Minmoney: $($individualRows).eq(i).find(".miniMoney").text(),
                });
            }
            var rulePidsDic = {};
            for (var item in PassedProducts) {
                rulePidsDic[item] = new Array();
                for (var p in PassedProducts[item]) {
                    rulePidsDic[item].push(PassedProducts[item][p].PID);
                }
            }       
            if (!lock) {
                lock = true;
                $.post("CreateCoupon", { products: rulePidsDic, parentCoupon: parentCoupon, childCoupon: childCoupon, rules: rules },
                    function (rulePkids) {
                        console.log(rulePkids);
                        if (rulePkids) {
                            alert("创建优惠券成功");
                            var moneyRule = $("#CouponUseMoneyConfigTable").find("tr:not(:first)");
                            var unionPkids = new Array();
                            for (var i = 0; i < moneyRule.length; i++) {
                                var rulePKID = moneyRule.eq(i).find(".rulePKID").val();
                                if (rulePKID && rulePKID > 0) {
                                    unionPkids.push(rulePKID);
                                } else {
                                    var miniMoney = moneyRule.eq(i).find(".miniMoney").val();
                                    var discount = moneyRule.eq(i).find(".discount").val();
                                    var rulePkid = rulePkids[miniMoney + "/" + discount];
                                    if (rulePkid) {
                                        unionPkids.push(rulePkid);
                                    }
                                }
                            }
                            var rulePKIDs = ProductLibraryConfig.ArrayJoin(unionPkids, ",");
                            var grossProfit = $("#CouponUseMoneyConfigTable #profitLevel").val();
                            ProductLibraryConfig.SaveProductCouponRules(rulePKIDs, grossProfit, function (result) {
                                if (result.result && result.result.State == 1) {
                                    alert("插券成功");
                                    $("#CreateCoupon").dialog('close');
                                    ProductLibraryConfig.SearchProuds(CookieTools.GetCookie("data-page") || 1, true);
                                    ProductLibraryConfig.ClearTableContent();
                                } else {
                                    alert("插券失败");
                                }
                                lock = false;
                            });
                        }
                    });
            }
        },
        GetHasExistsRulePkid: function () {
            var rows = $("#CouponUseMoneyConfigTable .rulePKID");
            var result = new Array();
            for (var i = 0; i < rows.length; i++) {
                if (rows.eq(i).val() > 0)
                    result.push(rows.eq(i).val());
            }

            return result;
        },
        EditProductDetails: function (el, oid, couponIds) {
            isBatch = 1;
            if (parseInt(oid) > 0) {
                $("#ProductListCheck").attr("checked", false);
                $("input[name='BodyCheckBox']").attr("checked", false);
                $(el).parent().parent().find("td:first-child > input[type='checkbox']").attr("checked", true);

                var dialogConfig = { title: "编辑优惠券", width: 1100, height: 600, modal: true };
                $("#BatchAddCouponView").html("")
                    .load('/ProductLibraryConfig/EditCoupon')
                    .dialog(dialogConfig);

                //等待dialog渲染完毕,在执行
                setTimeout(function () {
                   // ProductLibraryConfig.FillProductsEvent(oid);
                    var _couponIds = couponIds.split(',');
                    if (_couponIds.length > 0) {
                        $.ajax({
                            type: "POST",
                            dataType: 'json',
                            url: "/ProductLibraryConfig/CouponValidateForPKIDs",
                            data: { "pkids": _couponIds, "oid": oid },
                            success: function (result) {
                                var templateHtml = ""
                                // ProductLibraryConfig.OnblurAddCouponEvent(o, result);
                                if (result != null && result.length > 0) {
                                    for (var i = 0; i < result.length; i++)
                                    {
                                        templateHtml += "<tr>"
                                        var model = JSON.parse(result[i]);
                                        if (model.RuleID != "") {
                                            templateHtml += " <td><input attribute='CouponNum' class='couponBlur' type='number' value='" + model.RuleID + "' data-Oid='" + oid + "' data-statusType='" + model.Status+"' onblur='ProductLibraryConfig.MatchingCoupon(this);' /></td>";
                                            templateHtml += " <td attribute='CouponName'>" + model.Description+"</td>";
                                            templateHtml += " <td attribute='CouponMinmoney'>" + model.Minmoney +"</td>"
                                            templateHtml += " <td attribute='CouponDiscount'>" + model.Discount +"</td>"
                                            templateHtml += " <td attribute='CouponSaleAmount'>" + model.PriceAfterCoupon +"</td>"
                                            templateHtml += " <td attribute='CouponSalePercent'>" + model.GrossProfit + "</td>"
                                            if (model.CouponDuration.length > 0 && model.CouponStartTime.length == 0 && model.CouponEndTime.length == 0) {
                                                templateHtml += " <td attribute='CouponExplain'>自领取后" + model.CouponDuration + "天</td>"
                                            } else {
                                                templateHtml += " <td attribute='CouponExplain'>固定日期" + model.CouponStartTime + "至" + model.CouponEndTime+"</td>"
                                            }
                                            templateHtml += " <td><input type='button' value='删除' onclick='ProductLibraryConfig.RemoveCoupon(this);' /> </td>"
                                        }
                                        templateHtml += "</tr>";
                                    }
                                }
                                $("#BatchAddCoupon tbody").append(templateHtml);
                                $("#BatchAddCoupon .couponBlur").each(function (index) {
                                    var statusType = $(this).attr("data-statustype");
                                    if (statusType == "OnGoing") {
                                        $(this).parents("tr:first").show();
                                    } else {
                                        $(this).parents("tr:first").hide();
                                    }
                                });
                            }
                        });
                        //for (var i = 0; i < _couponIds.length; i++) {
                        //    if (parseInt(_couponIds[i]) > 0) {
                        //        var model = new ProductLibraryConfig.CouponModel();
                        //        model.CouponNum = _couponIds[i];
                        //        model.Oid = oid;
                        //        //ProductLibraryConfig.AddCoupon(model);

                        //    }
                        //}
                        //ProductLibraryConfig.AutoOnblurEvent();
                    }

                    $(".filterCoupon").on("click", function () {
                        var fitlerType = $(this).val();
                        var isChecked = $(this).prop("checked");
                        $("#BatchAddCoupon .couponBlur").each(function (index) {
                            var statusType = $(this).attr("data-statustype");
                            if (statusType == fitlerType) {
                                if (isChecked) {
                                    $(this).parents("tr:first").show();
                                } else {
                                    $(this).parents("tr:first").hide();
                                }
                            } 
                        });
                    });
                }, 1200);
                //setTimeout(function () {
                //    $(".couponBlur").each(function (index) {
                //        var statusType = $(this).attr("data-statustype");
                //        if (statusType == "OnGoing") {
                //            $(this).parent().parent().parent().find("tr").eq(index).show();
                //        } else {
                //            $(this).parent().parent().parent().find("tr").eq(index).hide();
                //        }
                //    });
                //},3000);
            }
            else {
                alert("操作失败，请刷新重试！");
            }
        },
        CouponModel: function () {
            this.CouponNum = "",
            this.RuleID = "",
            this.CouponName = "",
            this.CouponExplain = "",
            this.Condition = "",
            this.Description="",
            this.SupportUserRange = "",
            this.CouponMinmoney = "",
            this.CouponDiscount = "",
            this.CouponSaleAmount = "",
            this.CouponSalePercent = "",
            this.Oid = "",
            this.Status=""
        },
        AddCouponUseMoneyRow: function () {
            var inputs = $("#CouponUseMoneyConfigTable").find('input');
            for (var i = 0; i < inputs.length; i++)
            {
                if (inputs[i].type == "button") continue;
                if (inputs[i].type=="text"&&!inputs[i].value)
                {
                    alert("请完善优惠券信息");
                    return;
                }
            }
            var couponMoneyConfigRow = $("#CouponUseMoneyConfigTemplate").html();
            $("#CouponUseMoneyConfigTable").append(couponMoneyConfigRow);

        },
        AddExistRuleRow: function () {
            var inputs = $("#CouponUseMoneyConfigTable").find('input');
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].type == "button") continue;
                if (inputs[i].type == "text" && !inputs[i].value) {
                    alert("请完善优惠券信息");
                    return;
                }
            }
            var existRuleTemplateRow = $("#ExistRuleTemplate").html();
            $("#CouponUseMoneyConfigTable").append(existRuleTemplateRow);
        },
        FillRuleInfo: function (current) {
            var rulePkid = $(current).val();
            if (rulePkid && rulePkid > 0) {
                this.VerifyCouponRulePKID(rulePkid, function (rule) {
                    if (rule) {
                        $(current).parent().parent().find(".miniMoney").val(rule.Minmoney);
                        $(current).parent().parent().find(".discount").val(rule.Discount);
                        ProductLibraryConfig.VerfyProductCoupon();
                    } else {
                        alert("不存在的规则");
                        $(current).val("");
                    }
                });
            }
        },
        ProductDetailsModel:function(){
            this.Iamges="",
            this.DisplayName="",
            this.CP_Brand="",
            this.CP_ShuXing5="",
            this.OnSale="",
            this.PID="",
            this.CP_Tire_Pattern="",
            this.CP_Tire_Rim="",
            this.cy_list_price="",
            this.cy_marketing_price=""
        },
        SecondSearchProudsModel:function(){
            this.S_Price_Begin="",
            this.S_Price_End="",
            this.S_PID="",
            this.S_Coupon="",
            this.S_Figure="",
            this.S_Params="",
            this.maoli="",
            this.maoliSort="",
            this.pageSize="",
            this.S_price="",
            this.S_IsShow
        },
        ReplaceTemplate: function (tmplhtml, obj) {
            for (var key in obj) {
                if (obj.hasOwnProperty(key)) {
                    if (obj[key] != null && obj[key] != "null") {
                        tmplhtml = tmplhtml.replace(new RegExp("\{\{" + key + "\}\}"), obj[key]);
                    } else {
                        tmplhtml = tmplhtml.replace(new RegExp("\{\{" + key + "\}\}"), "");
                    }
                }
            }
            return tmplhtml;
        },
        AddCoupon: function (model, type) {
            var $html = "";
            if (type == "BatchDelete") {
                $html = $("#BatchDeleteCoupon").html();
            } else {
                $html = $("#AssignCouponView").html();
            }
            model = model || new ProductLibraryConfig.CouponModel();
            $("#BatchAddCoupon tbody").append(ProductLibraryConfig.ReplaceTemplate($html, model));
            if (type != "BatchDelete") {
                $("#BatchAddCoupon .couponBlur").blur();
            }
        },
        RemoveCoupon: function (o) {
            $(o).parent("td").parent("tr").remove();
            //if (confirm("删除不可恢复，确认？")) {
            //}
        },
        RemoveCurrentRow: function (o) {
            $(o).parent().parent().remove()
        },
        MatchingCoupon: function (o,type) {
            var id = $(o).val() || 0;
            if (!isNaN(id)) {
                if (type == "BatchDelete") {
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: "/ActivityV1/CouponVlidateForPKID",
                        data: { "couponRulePKID": id, "oid": $(o).attr("data-Oid") },
                        success: function (result) {
                            ProductLibraryConfig.OnblurAddCouponEvent(o, result,"BatchDelete");
                        }
                    });
                } else {
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: "/ProductLibraryConfig/CouponVlidateForPKID",
                        data: { "couponRulePKID": id, "oid": $(o).attr("data-Oid") },
                        success: function (result) {
                            ProductLibraryConfig.OnblurAddCouponEvent(o, result);
                        }
                    });
                }
            }
        },
        VerifyCouponRulePKID: function (id, callback) {
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: "/ActivityV1/CouponVlidateForPKID",
                data: { "couponRulePKID": id },
                success: function (result) {
                    if (result && result.RuleID && result.RuleID != "") {
                        callback(result) ;
                    } else {
                        callback(null);
                    }
                }
            });
        },
        OnblurAddCouponEvent: function (o, data,type) {
            if(parseInt(data.RuleID || 0) <= 0)
            {
                alert("优惠券: "+ ($(o).val() || "") + " 不匹配！请填写正确的【优惠券规则编号】");
                $(o).val("");
                return false;
            }


            if (type == "BatchDelete") {
                var $this = $(o).parent("td");
                $this.next().html(data.Description);
                if (data.CouponDuration.length > 0
                    && data.CouponStartTime.length == 0
                    && data.CouponEndTime.length == 0) {
                    $this.next().next().html(["自领取后", data.CouponDuration, "天"].join(" "));
                }
                else {
                    $this.next().next().html(["固定日期", data.CouponStartTime, "至", data.CouponEndTime].join(" "));
                }
                $this.next().next().next().html(parseInt(data.SupportUserRange) == 0 ? "全部" : parseInt(data.SupportUserRange) == 1 ? "新用户" : "老用户");
            } else {
                var $this = $(o).parent().parent();
                $this.find("td").eq(0).find("input").attr("data-statustype",data.Status);
                $this.find("td").eq(1).html(data.Description);
                $this.find("td").eq(2).html(data.Minmoney);
                $this.find("td").eq(3).html(data.Discount);
                $this.find("td").eq(4).html(data.PriceAfterCoupon);
                $this.find("td").eq(5).html(data.GrossProfit);

                if (data.CouponDuration.length > 0
                    && data.CouponStartTime.length == 0
                    && data.CouponEndTime.length == 0) {
                    $this.find("td").eq(6).html(["自领取后", data.CouponDuration, "天"].join(" "));
                }
                else {
                    $this.find("td").eq(6).html(["固定日期", data.CouponStartTime, "至", data.CouponEndTime].join(" "));
                }
            }
            //$this.next().next().next().html(parseInt(data.SupportUserRange) == 0 ? "全部" : parseInt(data.SupportUserRange) == 1 ? "新用户" :"老用户");
        },
        AutoOnblurEvent:function()
        {
            var $BatchAddCoupon = $("#BatchAddCoupon tbody tr");
            $BatchAddCoupon.each(function(i,el){
                $(el).find("td:first-child > input[type='text']").blur();
            });
        },
        FillProductsEvent:function(oid){
            $.ajax({
                type:'POST',
                dataType:'json',
                url:"/ProductLibraryConfig/GetProduct",
                data:{"oid":oid},
                success: function (data) {
                    if (data != null || data != "null") {
                        var $html = $("#BatchAddCouponForProductDetailsView").html();
                        data.Image = ImageDomain + data.Image;
                        data.OnSale =  data.OnSale == "True" ? "上架" : "下架";
                        $("#BatchAddCouponForProductDetails").append(ProductLibraryConfig.ReplaceTemplate($html,data));
                    }
                }
            });
        },
        FilSearchWhereEvent:function(datas){
            datas = datas || ["data-brand","data-tab","data-rim"];
            for (var i = 0; i < datas.length; i++) {
                var $datas = $("input["+ datas[i] +"]"),datasArr=[];

                $datas.each(function(j,el){
                    if($(el).is(":checked")){
                        datasArr.push($(el).attr(""+ datas[i] +""));
                    }
                });

                CookieTools.SetCookie(datas[i],datasArr.join(","));
            }
        },
        PageEvent:function(el,pageIndex){
            $(el).css("background","red").siblings().css("background","#ccc");

            var _SearchType = CookieTools.GetCookie("SearchType") || 0;

            if(_SearchType == 2){
                var model = this.GetSecondSearchProudsModel();
                ProductLibraryConfig.SearchProuds(pageIndex,true,model.S_Params);
            }
            else{
                ProductLibraryConfig.SearchProuds(pageIndex,true);
            }

            CookieTools.SetCookie("data-page",pageIndex);
        },
        ArrayJoin:function(data,decollator){
            return Array.prototype.join.call(data,decollator);
        },
        Save:function(op){
            var _olds = this.ArrayJoin(this.GetCheckList(),",")
                ,_coupons = []
                ,_couponVaule
                ,$BatchAddCoupon=$("#BatchAddCoupon > tbody > tr");

            $BatchAddCoupon.each(function(i,e){
                _couponVaule = $(e).first().find("input[type='number']").val();
                if(parseInt(_couponVaule) > 0){
                    _coupons.push(_couponVaule);
                }
            });

            if(isBatch == 0 && _coupons.length <= 0){
                alert("优惠券不能为空！");
                return false;
            }
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: "/ProductLibraryConfig/BatchAddCoupon",
                data: { "oids": _olds, "coupons":this.ArrayJoin(_coupons,","),"isBatch":isBatch,"opration":op},
                success: function (result) {
                    if(parseInt(result.State) == 1){
                        alert("保存成功!");
                        $('#BatchAddCouponView').dialog('close');
                        ProductLibraryConfig.SearchProuds(CookieTools.GetCookie("data-page") || 1, true);
                    }
                    else{
                        alert("保存失败!");
                    }

                }
            });
        },
        SaveProductCouponRules: function (rulePKID, profitLevel, callback) {
            var _olds = this.ArrayJoin(this.GetCheckList(), ",")
            $.post("/ProductLibraryConfig/BatchAddCouponNew",
                { "oids": _olds, "rulePKIDs": rulePKID, "grossProfit": profitLevel },
                function (data) {
                    return callback(data);
                });
        },
        InitStateElement:function(){
            //等待DOM[#ParamsList]元素加载完毕在执行
            setTimeout(function(){

                //初始化分页状态
                var _dataPage = CookieTools.GetCookie("data-page") || 1;
                $(".pageStyle[data-page='"+ _dataPage +"']").css("background","#0088cc").siblings().css("background","#cccccc");
                CookieTools.SetCookie("data-page",_dataPage);
                console.log("brand="+CookieTools.GetCookie("data-brand"));
                //初始化 品牌，标签，尺寸 状态
                var _searchCookies = ["data-brand","data-tab","data-rim"];
                for (var i = 0; i < _searchCookies.length; i++) {
                    var _dataCookie =  CookieTools.GetCookie(_searchCookies[i]);

                    if(_dataCookie != null){
                        _dataCookie.split(",").forEach(function(e){
                            $("input["+ _searchCookies[i] +"='"+ e +"']").attr("checked",true);
                        });
                    }
                }

                //初始化二级搜索状态
                var _SecondSearchProudsModel = JSON.parse(CookieTools.GetCookie("SecondSearchProuds") || "");
                console.log("初始化二级搜索状态="+JSON.stringify(_SecondSearchProudsModel));
                if(_SecondSearchProudsModel != ""){
                    $("#ProductList input[data-id='S_Price_Begin']").val(_SecondSearchProudsModel.S_Price_Begin);
                    $("#ProductList input[data-id='S_Price_End']").val(_SecondSearchProudsModel.S_Price_End);
                    $("#ProductList input[data-id='S_PID']").val(_SecondSearchProudsModel.S_PID);
                    $("#ProductList input[data-id='S_Coupon']").val(_SecondSearchProudsModel.S_Coupon);
                    //$("#ProductList input[data-id='filtrateType']").val(_SecondSearchProudsModel.FiltrateType);
                    $("#ProductList input[data-id='S_ML_Begin']").val(_SecondSearchProudsModel.S_ML_Begin);
                    $("#ProductList input[data-id='S_ML_End']").val(_SecondSearchProudsModel.S_ML_End);
                    $("#S_Figure").val(_SecondSearchProudsModel.S_Figure);
                    $("#pageSize").val(_SecondSearchProudsModel.pageSize);
                    $("#onsale").val(_SecondSearchProudsModel.onsale);
                    $("#maoli").val(_SecondSearchProudsModel.maoliSort);
                    //$("#S_price").val(_SecondSearchProudsModel.S_price);
                    $("#S_IsShow").val(_SecondSearchProudsModel.S_IsShow)
                    $("#filtrateType").val(_SecondSearchProudsModel.FiltrateType)
                }

                //初始化搜索类型
                if(CookieTools.GetCookie("SearchType") || 0 > 0)
                    CookieTools.SetCookie("SearchType",CookieTools.GetCookie("SearchType"));
                else
                    CookieTools.SetCookie("SearchType",1);

            },3000)
        },
        RemoveSearchAllCookie:function(isReset){
            var delcookies = ["data-page","data-rim","data-tab","data-brand"];
            for (var i = 0; i < delcookies.length; i++) {
                CookieTools.DelCookie(delcookies[i]);
            }

            if((isReset || false)){
                this.RestForm(1);
            }
        },
        RestForm:function(i){
            i = i || 0;
            if(i==1){
                $("#ParamsListForm input[data-brand]").attr("checked",false);
                $("#ParamsListForm input[data-tab]").attr("checked",false);
                $("#ParamsListForm input[data-rim]").attr("checked",false);
            }
            else if(i==2){
                $(".select_s").val("请选择");
                $("#ProductList input[data-bind='SecondSearch']").val("");
                CookieTools.DelCookie("SecondSearchProuds");
            }

        },
        GetSecondSearchProudsModel: function (S_PiceOrderBy) {
            S_PiceOrderBy = S_PiceOrderBy || "";
            var S_Price_Begin = "";//销售价
            var S_Price_End = "";//销售价
            var S_CostPrice_Begin = "";//成本价
            var S_CostPrice_End = "";//成本价
            var S_PriceAfter_Begin = "";//券后销售价
            var S_PriceAfter_End = "";//毛利率
            var S_MLAfter_Begin = "";//券后毛利率
            var S_MLAfter_End = "";//券后毛利率

            var filtrateType = $("#filtrateType option:selected").val();
            var S_PID = $.trim($("#ProductList input[data-id='S_PID']").val());
            var S_Coupon = $.trim($("#ProductList input[data-id='S_Coupon']").val());
            var S_Figure = $("#S_Figure option:selected").text()=="请选择"?"":$("#S_Figure option:selected").text();
            var pageSize=$("#pageSize option:selected").text()=="请选择"?"":$("#pageSize option:selected").text();
            var onsale=$("#onsale option:selected").text()=="请选择"?"":$("#onsale option:selected").text();
            //var maolisort=$("#maoli option:selected").text()=="请选择"?"":$("#maoli option:selected").val();
            var maoliSort = $("#maoli option:selected").text() == "请选择" ? "" : $("#maoli option:selected").val();
            var S_IsShow = $("#S_IsShow option:selected").text() == "全部" ? "" : $("#S_IsShow option:selected").val();
            var S_Params = "";
            if (S_IsShow) {
                S_Params +="&S_IsShow=" + S_IsShow;
            }
            if (maoliSort)
                S_Params += "&maoliSort=" + maoliSort;
            //if(S_Price_Begin.length > 0 && S_Price_End.length > 0 && isNaN(S_Price_Begin) == false && isNaN(S_Price_End) == false)
            //    S_Params +="&S_Price=" + S_Price_Begin + "|"+S_Price_End;
            if(S_PID.length > 0)
                S_Params +="&S_PID=" + S_PID;
            if(S_Coupon.length > 0)
                S_Params +="&S_Coupon=" + S_Coupon;
            if(S_Figure.length > 0)
                S_Params +="&S_Figure=" + S_Figure;

            if (pageSize) {
                S_Params+="&pageSize="+pageSize;
            }
            if (onsale) {
                S_Params+="&onsale="+onsale;
            }
            if (filtrateType) {
                S_Params += "&filtrateType=" + filtrateType;
            }
            if (filtrateType == "SalePrice") {
                S_Price_Begin = $.trim($("#ProductList input[data-id='S_Price_Begin']").val());
                S_Price_End = $.trim($("#ProductList input[data-id='S_Price_End']").val());
                if (S_Price_Begin && S_Price_End) {
                    S_Params += "&S_Price=" + S_Price_Begin + "|" + S_Price_End;
                }
            }
            if (filtrateType == "CostPrice") {
                S_CostPrice_Begin = $.trim($("#ProductList input[data-id='S_Price_Begin']").val());
                S_CostPrice_End = $.trim($("#ProductList input[data-id='S_Price_End']").val());
                if (S_CostPrice_Begin && S_CostPrice_End) {
                    S_Params += "&S_CostPrice=" + S_CostPrice_Begin + "|" + S_CostPrice_End;
                }
            }
            if (filtrateType == "SalePriceAfter") {
                S_PriceAfter_Begin = $.trim($("#ProductList input[data-id='S_Price_Begin']").val());
                S_PriceAfter_End = $.trim($("#ProductList input[data-id='S_Price_End']").val());
                if (S_PriceAfter_Begin && S_PriceAfter_End) {
                    S_Params += "&SalePriceAfter=" + S_PriceAfter_Begin + "|" + S_PriceAfter_End;
                }
            }
            if (filtrateType == "GrossMarginAfter") {
                S_MLAfter_Begin = $.trim($("#ProductList input[data-id='S_Price_Begin']").val());
                S_MLAfter_End = $.trim($("#ProductList input[data-id='S_Price_End']").val());
                if (S_MLAfter_Begin && S_MLAfter_End) {
                    S_Params += "&maoliAfter=" + S_MLAfter_Begin + "|" + S_MLAfter_End;
                }
            }
            //if (maolisort) {
            //    S_Params+="&maolisort="+maolisort;
            //}
            //if (S_ML_Begin&&S_ML_End) {
            //    S_Params+="&maoli="+S_ML_Begin+"|"+S_ML_End;
            //}
            var model = new this.SecondSearchProudsModel();
            model.S_Price_Begin = $.trim($("#ProductList input[data-id='S_Price_Begin']").val());
            model.S_Price_End = $.trim($("#ProductList input[data-id='S_Price_End']").val());
            model.S_PID = S_PID;
            model.S_Coupon = S_Coupon;
            model.S_Figure = S_Figure;
            model.S_Params = S_Params;
            model.S_ML_Begin="";
            model.S_ML_End="";
            model.maoliSort = maoliSort;
            model.pageSize=pageSize;
            model.onsale=onsale;
            model.S_price = "";
            model.S_ConstPrice = "";
            model.S_IsShow = S_IsShow;
            model.FiltrateType = filtrateType;
            return model;
        },
        SecondSearchProuds:function(S_PiceOrderBy,isOrderByBut)
        {
            isOrderByBut = isOrderByBut || false;
            var model = this.GetSecondSearchProudsModel(S_PiceOrderBy);
            if(model != null){
                CookieTools.SetCookie("SecondSearchProuds",JSON.stringify(model));
                if(isOrderByBut){
                    this.SearchProuds(CookieTools.GetCookie("data-page"),true,model.S_Params);
                }
                else{
                    this.SearchProuds(1,true,model.S_Params);
                    CookieTools.SetCookie("data-page",1);
                }
            }
            CookieTools.SetCookie("SearchType",2);
        },
        CheckBoxManage:function(){
            var s = arguments;
            var ischeck  = $(s[0]).is(":checked");
            $("#"+ s[1] +" input["+ s[2] +"]").attr("checked",ischeck);
        },
        DownOrUp:function(obj){
            var _value = $(obj).attr("data-value") || 1;
            if(_value == 1)
                $("#ParamsListForm table").hide();
            else
                $("#ParamsListForm table").show();
            $(obj).attr("data-value",_value == 1 ? 0 : 1);
        },
        ReloadUseList: function () {
            $.get("GetDepartmentUseSetting", function (setting) {
                var partVal = $("#publicChildCouponInfo #partList").val();
                var useList = setting.filter(function (t) { return t.Type == 1 && t.ParentSettingId == partVal });
                var useOptionHtml = "<option value='-1'>请选择部门</option>";
                for (var i = 0; i < useList.length; i++) {
                    useOptionHtml += "<option value=" + useList[i].SettingId + " >" + useList[i].DisplayName + "</option>";
                }
                $("#publicChildCouponInfo #useList").empty().append(useOptionHtml);
            });
        },
        ClearTableContent: function () {
            $("#CouponUseMoneyConfigTable").find("tr:not(:first)").remove();
            $("#NotAvaiableProduct").find("tr:not(:first)").remove();
            $("#NotAvaiableProductTips").hide();
            $("#NotAvaiableProduct").hide();
        }
    };

    function VerifyParameter(parameter) {
        if (parameter && parameter != '' && parameter != 'undefined' && parameter!='-1') {
            return true;
        } else {
            return false;
        }
    }

    $(function () {
        setTimeout(function () {
            ProductLibraryConfig.DefaultLoad();
        }, 1000);
        $("#publicChildCouponInfo .startDate").datetimepicker({
            timeFormat: "HH:mm:ss",
            dateFormat: "yy-mm-dd"
        });
        $("#publicChildCouponInfo .endDate").datetimepicker({
            timeFormat: "HH:mm:ss",
            dateFormat: "yy-mm-dd"
        });
        $("#publicChildCouponInfo .ShowStartTime").datetimepicker({
            timeFormat: "HH:mm:ss",
            dateFormat: "yy-mm-dd"
        });
        $("#publicChildCouponInfo .ShowEndTime").datetimepicker({
            timeFormat: "HH:mm:ss",
            dateFormat: "yy-mm-dd"
        });
        $("#publicChildCouponInfo .finalValidity").datetimepicker({
            timeFormat: "HH:mm:ss",
            dateFormat: "yy-mm-dd"
        });
    })
</script>

