/*城市列表*/
.city_div .search_div
{
	height: 40px;
	padding: 10px 0;
}
.city_div .cityname .hr
{
	width: 100%;
	margin: 0;
	height: 0px;
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #f4f4f4;
	border-left: none;
	border-right: none;
}
	.city_div .search_div div
	{
		position: relative;
		width: 70%;
		box-sizing: border-box;
		padding-right: 15px;
	}

	.city_div .search_div .search
	{
		position: absolute;
		top: 9px;
		left: 10px;
		width: 25px;
		height: 25px;
		background: url(images/search.png) no-repeat;
	}

	.city_div .search_div .backspace
	{
		position: absolute;
		top: 8px;
		right: 25px;
		width: 25px;
		height: 25px;
		background: url(images/backspace.png) no-repeat;
	}

	.city_div .search_div .search_input
	{
		padding: 0 40px;
		width: 100%;
		box-sizing: border-box;
		height: 40px;
		background: #fff;
		border: 1px solid #c7c7c7;
		border-radius: 40px;
		font-size: 20px;
		color: #bebebe;
		outline: none;
	}

	.city_div .search_div .btn_white
	{
		position: absolute;
		top: 11px;
		right: 0;
		width: 30%;
		height: 40px;
	}

.city_div .cityname
{
	padding-left: 15px;
	line-height: 40px;
	font-weight: bold;
	display: block;
}
.city_div .cityname>label{
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	margin-bottom:0;
}
.city_div .cityname>label .arrow-s-r{
    float: right;
    margin-right: 15px;
    margin-top: 14px;
    -webkit-transform:rotate(45deg);
}
    .city_div .cityname > label .arrow-s-b{
        border-color:#696969 transparent transparent transparent;
        margin-top:17px ;
    }
	.city_div .cityname > span
	{
		display: none;
	}

	.city_div .cityname .cityname
	{
		font-size: 16px;
		font-weight: normal;
	}

      .top{position:relative;width:100%;height:40px;background:#e83e41;font-size:1.0rem;color:#fff;font-weight:bold;line-height:40px;text-align:center;text-shadow:none!important;}
            #engine_info_title {
font-size: 1.2rem!important;
font-weight: bold!important;
}
            .top_close {
position: absolute;
top: 0;
right: 0;
display: block;
width: 40px;
height: 40px;
}
            .top_close1 {
position: absolute;
top: 20px;
left: 10px;
height: 2px;
width: 22px;
background: #fff;
transform: rotate(45deg) scale(1);
-webkit-transform: rotate(45deg) scale(1);
}

            .top_close2 {
position: absolute;
top: 20px;
left: 10px;
height: 2px;
width: 22px;
background: #fff;
transform: rotate(135deg) scale(1);
-webkit-transform: rotate(135deg) scale(1);
}

            .load {
width: 100%;
height: 55px;
line-height: 55px;
text-align: center;
background: #f5f5f5;
color: #999;