
@{
    ViewBag.Title = "SubNumberForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .form .formTitle {
        width: 110px;
    }

    .form-control {
        display: inline;
    }

    .trMaterial {
        padding: 10px 10px 10px 10px
    }

    .tdMaterial {
        min-width: 200px;
        width: auto;
    }

    .aMaterial {
        color: blue;
        cursor: pointer;
    }
</style>
<form id="form1">
    <table class="form">
        <tr>
            <th class="formTitle">公众号</th>
            <td class="formValue">
                <select id="WeChatOfficialAccounts" name="WeChatOfficialAccounts" class="form-control required" style="width:200px;"></select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">名 称</th>
            <td class="formValue">
                <input type="text" class="form-control required" id="Name" name="Name" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">父级</th>
            <td class="formValue">
                <select id="ParentPKID" name="ParentPKID" class="form-control">
                    <option value="">请选择</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">响应类型</th>
            <td class="formValue">
                <select id="Type" name="Type" class="form-control">
                    <option value="">请选择</option>
                    <option value="view">网页类型</option>
                    <option value="miniprogram">小程序</option>
                    <option value="click">点 击</option>
                </select>
            </td>
        </tr>
        <tr id="trUrl">
            <th class="formTitle">Url</th>
            <td class="formValue">
                <input type="text" id="Url" name="Url" class="form-control" placeholder="必须以http://或https://开头" />
            </td>
        </tr>
        <tr id="trAppid" style="display:none">
            <th class="formTitle">小程序</th>
            <td class="formValue">
                <select id="Appid" name="Appid" class="form-control">
                    <option>请选择</option>
                </select>
            </td>
        </tr>
        <tr id="trPagepath" style="display:none">
            <th class="formTitle">页面路径</th>
            <td class="formValue">
                <input type="text" class="form-control" id="Pagepath" name="Pagepath" />
            </td>
        </tr>
        <tr id="trOrderBy">
            <th class="formTitle">排 序</th>
            <td class="formValue">
                <input type="number" class="form-control" id="OrderBy" name="OrderBy" />
            </td>
        </tr>
    </table>
    <table id="tClick" class="form" style="display:none;">
        <tr>
            <th class="formTitle">回复类型</th>
            <td class="formValue">
                <button type="button" class="form-control" id="btnNews" name="btnNews" style="width:80px;" data-toggle="modal" data-target="#edit" onclick="chooseMaterial('news',0)">图文消息</button>
                <button type="button" class="form-control" id="btnText" name="btnText" style="width:80px;">文字</button>
                <button type="button" class="form-control" id="btnImage" name="btnImage" style="width:80px;" onclick="chooseMaterial('image',0)">图片</button>
                <button type="button" class="form-control" id="btnVoice" name="btnVoice" style="width:80px;" onclick="chooseMaterial('voice',0)">语音</button>
                <button type="button" class="form-control" id="btnVideo" name="btnVideo" style="width:80px;" onclick="chooseMaterial('video',0)">视频</button>
            </td>
        </tr>
        <tr>
            <th class="formTitle">回复内容</th>
            <td class="formValue" style="height:50px;">
                <table id="tContent"></table>
                <div id="addInput"></div>
            </td>
        </tr>
        <tr>
            <th class="formTitle">回复方式</th>
            <td class="formValue">
                <input type="radio" id="ReplyWay1" name="ReplyWay" value="1" checked />回复全部&nbsp;
                <input type="radio" id="ReplyWay2" name="ReplyWay" value="2" />随机回复一条
            </td>
        </tr>
        <tr>
            <th class="formTitle">是否延迟发送</th>
            <td class="formValue">
                <input type="radio" id="IsDelaySend1" name="IsDelaySend" onchange="isDelaySendChange()" value="1" />是&nbsp;
                <input type="radio" id="IsDelaySend2" name="IsDelaySend" onchange="isDelaySendChange()" value="0" checked />否
            </td>
        </tr>
    </table>
    <table id="tClickDelay" class="form" style="display:none;">
        <tr>
            <th class="formTitle">间隔发送时间</th>
            <td class="formValue">
                <input type="text" id="IntervalTime" name="IntervalTime" class="form-control" onclick="WdatePicker({skin:'whyGreen',dateFmt:'H:mm'})" style="width:200px;" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">延迟回复类型</th>
            <td class="formValue">
                <button type="button" class="form-control" id="btnNewsDelay" name="btnNewsDelay" style="width:80px;" onclick="chooseMaterial('news',1)">图文消息</button>
                <button type="button" class="form-control" id="btnTextDelay" name="btnTextDelay" style="width:80px;">文字</button>
                <button type="button" class="form-control" id="btnImageDelay" name="btnImageDelay" style="width:80px;" onclick="chooseMaterial('image',1)">图片</button>
                <button type="button" class="form-control" id="btnVoiceDelay" name="btnVoiceDelay" style="width:80px;" onclick="chooseMaterial('voice',1)">语音</button>
                <button type="button" class="form-control" id="btnVideoDelay" name="btnVideoDelay" style="width:80px;" onclick="chooseMaterial('video',1)">视频</button>
            </td>
        </tr>
        <tr>
            <th class="formTitle">延迟回复内容</th>
            <td class="formValue" style="height:50px;">
                <table id="tContentDelay"></table>
                <div id="addInputDelay"></div>
            </td>
        </tr>
        <tr>
            <th class="formTitle">延迟回复方式</th>
            <td class="formValue">
                <input type="radio" id="DelayReplyWay1" name="DelayReplyWay" value="1" checked />回复全部&nbsp;
                <input type="radio" id="DelayReplyWay2" name="DelayReplyWay" value="2" />随机回复一条
            </td>
        </tr>
    </table>
    <input type="hidden" id="PKID" name="PKID" />
    <input type="hidden" id="OriginalID" name="OriginalID" />
</form>
<script type="text/javascript">
    var keyValue = $.request("keyValue");

    //提交表单
    function submitForm() {
        if (!$('#form1').formValid())
            return false;

        if (!checkValid())
            return false;

        //获取文字输入的数据
        var materialTextList = [];
        $("textarea[name='materialText']").each(function (index, item) {
            if ($.trim($(this).val()) != "") {
                var data = { "Content": $(this).val() }
                materialTextList.push(data);
            }
        });
        //获取延迟发送文字输入的数据
        var delayMaterialTextList = [];
        $("textarea[name='materialTextDelay']").each(function (index, item) {
            if ($.trim($(this).val()) != "") {
                var data = { "Content": $(this).val() }
                delayMaterialTextList.push(data);
            }
        });
        //获取回复素材信息
        var materialList = [];
        $("#tContent .trMaterial").each(function () {
            var mediaId = $(this).find(".tdMaterial").attr("data");
            var title = $(this).find(".tdMaterial").text();
            var mediaType = $(this).find(".aMaterial").attr("data");
            if (mediaId != '' && title != '') {
                var data = {
                    "MediaId": mediaId,
                    "Title": title,
                    "MediaType": mediaType
                }
                materialList.push(data);
            }
        });
        //获取延迟回复素材信息
        var delayMaterialList = [];
        $("#tContentDelay .trMaterial").each(function () {
            var mediaId = $(this).find(".tdMaterial").attr("data");
            var title = $(this).find(".tdMaterial").text();
            var mediaType = $(this).find(".aMaterial").attr("data");
            if (mediaId != '' && title != '') {
                var data = {
                    "MediaId": mediaId,
                    "Title": title,
                    "MediaType": mediaType
                }
                delayMaterialList.push(data);
            }
        });

        var formDate = $("#form1").formSerialize();
        formDate.MaterialTextList = materialTextList;
        formDate.DelayMaterialTextList = delayMaterialTextList;
        formDate.MaterialList = materialList;
        formDate.DelayMaterialList = delayMaterialList;
        formDate.IsDelaySend = $("input[name='IsDelaySend']:checked").val() == "1" ? true : false;
        formDate.ReplyWay = $("input[name='ReplyWay']:checked").val();
        formDate.DelayReplyWay = $("input[name='DelayReplyWay']:checked").val();

        formDate.OriginalID = $("#WeChatOfficialAccounts").val();
        $.submitForm({
            url: "/WechatHome/SubmitSubNumber",
            param: formDate,
            success: function () {
                //  self.parent.$("#gridList").resetSelection();
                self.parent.frames["iframe574687E8-6B9B-4E75-A222-E1FEFE332884"].$("#gridList").trigger("reloadGrid");
                self.parent.frames["iframe574687E8-6B9B-4E75-A222-E1FEFE332884"].$('#loadingPage').hide();
                //self.parent.frames["iframe574687E8-6B9B-4E75-A222-E1FEFE332884"].location.reload();
            }
        })
    }
    //初始化方法
    function init() {
        if (keyValue) {
            $.ajax({
                async: false,
                url: '/WechatHome/GetSubNumberEntity?pkid=' + keyValue,
                dataType: 'json',
                success: function (res) {
                    if (res) {
                        $("#form1").formSerialize(res);
                        if (res.OriginalID == null)
                            $("#WeChatOfficialAccounts").val($("#OriginalID").val());

                        if (res.ReplyWay == 2)
                            $("input[name=ReplyWay][value=2]").attr("checked", true);
                        if (res.IsDelaySend)
                            $("input[name=IsDelaySend][value=1]").attr("checked", true);
                        if (res.DelayReplyWay == 2)
                            $("input[name=DelayReplyWay][value=2]").attr("checked", true);

                        //素材加载
                        $.each(res.MaterialList, function (k, v) {
                            $("#tContent").append(`<tr class="trMaterial"><td class="tdMaterial" data="${v.MediaID}">${v.Title}</td><td><a class="aMaterial" data="${v.MediaType}" onclick="removeMaterial(this)">移除</a></td></tr>`);
                        });
                        //延迟素材加载
                        $.each(res.DelayMaterialList, function (k, v) {
                            $("#tContentDelay").append(`<tr class="trMaterial"><td class="tdMaterial" data="${v.MediaID}">${v.Title}</td><td><a class="aMaterial" data="${v.MediaType}" onclick="removeMaterial(this)">移除</a></td></tr>`);
                        });

                        //延迟文字素材加载
                        var delayMaterialTextFlag = false;
                        $.each(res.DelayMaterialTextList, function (k, v) {
                            $("#tContentDelay").append(`<div name='divMaterialTextDelay' class='input-group form-inline'><textarea  class='form-control' style='margin-bottom:2px; width:350px;' name='materialTextDelay' placeholder='请输入回复文字'>${v.Content}</textarea><button class='removeclass btn btn-default' type= 'button'> <span class='glyphicon glyphicon-minus'></span></button></div>`);
                            delayMaterialTextFlag = true;
                        });
                        if (delayMaterialTextFlag)
                            $("#addInputDelay").append('<button type="button" onclick="addInputDelay()">添加</button>');

                        //文字素材加载
                        var materialTextFlag = false;
                        $.each(res.MaterialTextList, function (k, v) {
                            $("#tContent").append(`<div name='divMaterialText' class='input-group form-inline'><textarea  class='form-control' style='margin-bottom:2px; width:350px;' name='materialText' placeholder='请输入回复文字'>${v.Content}</textarea><button class='removeclass btn btn-default' type= 'button'> <span class='glyphicon glyphicon-minus'></span></button></div>`);
                            materialTextFlag = true;
                        });
                        if (materialTextFlag)
                            $("#addInput").append('<button type="button" onclick="addInput()">添加</button>');
                    }
                }
            })
        }
    }
    //获取所有公众号信息
    function getWeChatOfficialAccounts() {
        var originalId = $("#OriginalID").val();
        if (originalId == "") {
            originalId = $.request("originalId");
            $("#OriginalID").val(originalId);
        }
        var weChatOfficialAccounts = '';
        $.ajax({
            async: false,
            url: "/WechatHome/GetWeChatOfficialAccounts",
            dataType: 'json',
            success: function (res) {
                $.map(res, function (key) {
                    if (key.OriginalId == originalId)
                        weChatOfficialAccounts += '<option value=' + key.OriginalId + ' selected >' + key.name + '</option>';
                    else
                        weChatOfficialAccounts += '<option value=' + key.OriginalId + '>' + key.name + '</option>';
                })
                $("#WeChatOfficialAccounts").empty().append(weChatOfficialAccounts);
            }
        });
    }
    //增加文字回复
    function addInput() {
        var input = $(" <div name='divMaterialText' class='input-group form-inline'><textarea class='form-control' style='margin-bottom:2px; width:350px;' name='materialText' placeholder='请输入回复文字'></textarea><button class='removeclass btn btn-default' type='button'><span class='glyphicon glyphicon-minus'></span></button></div>'");
        // append 表示添加在标签内， appendTo 表示添加在元素外尾
        $("#tContent").append(input);
    }
    //增加延迟的文字回复
    function addInputDelay() {
        var input = $(" <div name='divMaterialTextDelay' class='input-group form-inline'><textarea  class='form-control' style='margin-bottom:2px; width:350px;' name='materialTextDelay' placeholder='请输入回复文字'></textarea><button class='removeclass btn btn-default' type='button'><span class='glyphicon glyphicon-minus'></span></button></div>'");
        // append 表示添加在标签内， appendTo 表示添加在元素外尾
        $("#tContentDelay").append(input);
    }
    //删除备注
    $("body").on("click", ".removeclass", function (e) {
        $(this).parent('div').remove();
        return false;
    })
    //设置加载内容
    function setDisplay() {
        var type = $("#Type").val();
        if (type == "view") {
            $("#trUrl").show();
            $("#trAppid").hide();
            $("#trPagepath").hide();
            $("#trOrderBy").show();
            $("#tClick").hide();
            $("#tClickDelay").hide();
        } else if (type == "miniprogram") {
            $("#trUrl").show();
            $("#trAppid").show();
            $("#trPagepath").show();
            $("#trOrderBy").show();
            $("#tClick").hide();
            $("#tClickDelay").hide();
        } else if (type == "click") {
            var isDelaySend = $("input[name='IsDelaySend']:checked").val();
            $("#tClick").show();
            if (isDelaySend == 0)
                $("#tClickDelay").hide();
            else
                $("#tClickDelay").show();
            $("#trUrl").hide();
            $("#trAppid").hide();
            $("#trPagepath").hide();
            $("#trOrderBy").hide();
        }
    }
    //是否延迟修改
    function isDelaySendChange() {
        setDisplay();
    }
    //选择素材
    function chooseMaterial(materialType, isDelay) {
        var originalId = $("#WeChatOfficialAccounts").val();
        if (isDelay == 0) {
            $("div[name='divMaterialText']").empty();
            $("#addInput").empty();
            $('#btnText').removeAttr("disabled");
        } else {
            $("div[name='divMaterialTextDelay']").empty();
            $("#addInputDelay").empty();
            $('#btnTextDelay').removeAttr("disabled");
        }

        $.modalOpen({
            id: "MaterialList",
            title: "选择素材",
            url: "/WechatHome/MaterialList?materialType=" + materialType + "&originalId=" + originalId + "&isDelay=" + isDelay,
            width: "700px",
            height: "700px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    //移除素材元素
    function removeMaterial(target) {
        $(target).parent().parent().remove();
    }
    //绑定父菜单
    function bindParentMenu() {
        var originalId = $("#WeChatOfficialAccounts").val();
        if (originalId == null)
            originalId = $.request("originalId");//URL中取
        $('#ParentPKID').bindSelect({
            url: "/WechatHome/GetSubNumberSelectBind?originalId=" + originalId,
            id: "PKID",
            text: "Name"
        });
    }
    //提交检查有效性
    function checkValid() {
        //响应类型判断
        var type = $("#Type").val();
        var url = $("#Url").val();
        if (type == "") {
            $.modalMsg("请选择响应类型", "warning");
            return false;
        } else if (type == "view") {
            if ($.trim(url) == "") {
                $.modalMsg("请输入Url", "warning");
                return false;
            }
        } else if (type == "miniprogram") {
            if ($.trim(url) == "") {
                $.modalMsg("请输入Url", "warning");
                return false;
            }
            if ($("#Appid").val() == "请选择") {
                $.modalMsg("请选择小程序", "warning");
                return false;
            }
            if ($.trim($("#Pagepath").val()) == "") {
                $.modalMsg("请输入页面路径", "warning");
                return false;
            }
        }
        //菜单响应为点击类型时，延迟时间必填
        if (document.getElementById("IsDelaySend1").checked) {
            if ($.trim($("#IntervalTime").val()) == "") {
                $.modalMsg("请输入间隔发送时间", "warning");
                return false;
            }
        }
        return true;
    }
    //初始化
    $(function () {
        //绑定小程序
        $('#Appid').bindSelect({
            url: "/WechatHome/GetWeChatOfficialAccounts?type=1",
            id: "appId",
            text: "name"
        });

        //绑定父菜单
        bindParentMenu();

        //获取公众号信息
        getWeChatOfficialAccounts();

        //初始加载
        init();

        //设置加载内容
        setDisplay();

        //公众号改变级联
        $("#WeChatOfficialAccounts").change(function () {
            $("#ParentPKID").empty();
            $("#ParentPKID").append(`<option value="">请选择</option>`);
            bindParentMenu();
        });

        //菜单类型修改
        $("#Type").change(function () {
            //设置加载内容
            setDisplay();
        });
        //文字广告按钮点击
        $("#btnText").click(function () {
            $('#btnText').attr('disabled', "true");
            $("#addInput").append('<button type="button" onclick="addInput()">添加</button>');
            $("#tContent").empty();
            //增加的文字回复
            addInput();
        });

        //延迟文字广告按钮点击
        $("#btnTextDelay").click(function () {
            $('#btnTextDelay').attr('disabled', "true");
            $("#addInputDelay").append('<button type="button" onclick="addInputDelay()">添加</button>');
            $("#tContentDelay").empty();
            //增加延迟的文字回复
            addInputDelay();
        });
    })

</script>
