
@{
    ViewBag.Title = "WechatSubscribeForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <table class="form">
        <tr>
            <th class="formTitle">公众号</th>
            <td class="formValue">
                <select id="WeChatOfficialAccounts" name="WeChatOfficialAccounts" class="form-control required" style="width:200px;"></select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">消息类型</th>
            <td class="formValue">
                <select id="MsgType" name="MsgType" class="form-control required" style="width:200px;" onchange="ChangeMsgType(this)">
                    <option value='mpnews'>图文消息</option>
                    <option value='miniprogrampage'>小程序卡片</option>
                    <option value='image'>图片消息</option>
                    <option value='text'>文本消息</option>
                </select>
            </td>
        </tr>
        <tr style="display:none">
            <th class="formTitle">小程序</th>
            <td class="formValue">
                <select id="Appid" name="Appid" class="form-control required" style="width:200px;"></select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">标 题</th>
            <td class="formValue">
                <input type="text" id="Title" name="Title" class="form-control required" />
            </td>

        </tr>
        <tr style="display:none">
            <th class="formTitle">素材id</th>
            <td class="formValue">
                <input type="text" id="MediaId" name="MediaId" class="form-control required" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">描 述</th>
            <td class="formValue">
                <input type="text" id="Descriptions" name="Descriptions" class="form-control required" />
            </td>
        </tr>
        <tr >
            <th class="formTitle">图 片</th>
            <td class="formValue">
                <img id="imgPic" width="30" height="30" />
                <input type="file" id="filePic" name="filePic" onchange="UploadBgImg(this, 'imgPic', 'PicUrl')" style="display: inline;" />
                <input type="text" id="PicUrl" name="PicUrl" class="form-control required" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">链 接</th>
            <td class="formValue">
                <input type="text" id="Urls" name="Urls" class="form-control required" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">排 序</th>
            <td class="formValue">
                <input type="text" id="OrderBy" name="OrderBy" class="form-control required" />
            </td>
        </tr>
    </table>
    <input type="hidden" id="PKID" name="PKID" />
    <input type="hidden" id="IsEnabled" name="IsEnabled" />
    <input type="hidden" id="OriginalID" name="OriginalID"/>
</form>
<script type="text/javascript">
    function UploadBgImg(obj, showImg, showUrl) {

        var pobj = $(obj);
        var fileSize = pobj[0].files[0].size / 1024 * 1.0;
        if (fileSize > 1024) {
            alert("不能上传大于1024KB的图片");
            return false;
        }
        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(obj).attr("id");
        console.log(fileElId);
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $("#" + showImg).attr("src", result.SImage).show();
                    $("#" + showUrl).val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    }


    var keyValue = $.request("keyValue");
   
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var formDate = $("#form1").formSerialize();
        debugger;
        if (formDate.MsgType != 'miniprogrampage') {
            formDate.Appid = '';
        }
        if (formDate.Title == '&nbsp;') {
            formDate.Title = '';
        }
        if (formDate.Descriptions == '&nbsp;') {
            formDate.Descriptions = '';
        }
        if (formDate.PicUrl == '&nbsp;') {
            formDate.PicUrl = '';
        }
        if (formDate.Urls == '&nbsp;') {
            formDate.Urls = '';
        }
        if (formDate.MediaId == '&nbsp;') {
            formDate.MediaId = '';
        }
        if (formDate.Appid == '&nbsp;') {
            formDate.Appid = '';
        }

        formDate.OriginalID = $("#WeChatOfficialAccounts").val();
        $.submitForm({
            url: "/WechatHome/SaveWechatSubsc",
            param: formDate ,
            success: function () {
                //  self.parent.$("#gridList").resetSelection();
                self.parent.frames["iframeE71051FA-05A1-4784-B321-96A88921AAEB"].$("#gridList").trigger("reloadGrid");
                self.parent.frames["iframeE71051FA-05A1-4784-B321-96A88921AAEB"].$('#loadingPage').hide();
                //self.parent.frames["iframeE71051FA-05A1-4784-B321-96A88921AAEB"].location.reload();

            }
        })
    }

    function init() {
        debugger
        if (keyValue) {
            $.ajax({
                async: false,
                url: '/WechatHome/GetWechatSubscEntity?pkid=' + keyValue,
                dataType: 'json',
                success: function (res) {
                    if (res) {
                        $("#form1").formSerialize(res);
                        $("#WeChatOfficialAccounts").val(res.OriginalID);
                        if (res.PicUrl) {
                            $('#imgPic').attr("src", res.PicUrl);
                        }
                        $('form tr').hide();
                        $('#WeChatOfficialAccounts').parent().parent().show();
                        $('#MsgType').parent().parent().show();
                        $('#OrderBy').parent().parent().show();
                        var MsgType = res.MsgType;
                        if (MsgType == 'text') {
                            $('#Descriptions').parent().parent().show();
                        } else if (MsgType == 'image') {
                            $('#MediaId').parent().parent().show();
                        } else if (MsgType == 'mpnews') {
                            $('#Title').parent().parent().show();
                            $('#Descriptions').parent().parent().show();
                            $('#PicUrl').parent().parent().show();
                            $('#Urls').parent().parent().show();
                        } else if (MsgType == 'miniprogrampage') {
                            $('#Appid').parent().parent().show();
                            $('#Title').parent().parent().show();
                            $('#MediaId').parent().parent().show();
                            $('#Urls').parent().parent().show();
                        }
                    }
                }
            })
        }
    }
    //获取所有公众号信息
    function getWeChatOfficialAccounts() {
        var originalId = $("#OriginalID").val();
        if (originalId == "") {
            originalId = $.request("originalId");
            $("#OriginalID").val(originalId);
        }
        var weChatOfficialAccounts = '';
        $.ajax({
            async: false,
            url: "/WechatHome/GetWeChatOfficialAccounts",
            dataType: 'json',
            success: function (res) {
                $.map(res, function (key) {
                    //if (key.OriginalId == originalId)
                    //    weChatOfficialAccounts += '<option value=' + key.OriginalId + ' selected >' + key.name + '</option>';
                    //else 
                        weChatOfficialAccounts += '<option value=' + key.OriginalId + '>' + key.name + '</option>';

                })
                $("#WeChatOfficialAccounts").empty().append(weChatOfficialAccounts);
            }
        });
    }

    //获取所有小程序
    function getMiniprogram() {
        var options = '';
        $.ajax({
            async: false,
            url: "/WechatHome/GetWeChatOfficialAccounts?type=1",
            dataType: 'json',
            success: function (res) {
                $.map(res, function (key) {
                    debugger
                    //if (key.OriginalId == originalId)
                    //    weChatOfficialAccounts += '<option value=' + key.OriginalId + ' selected >' + key.name + '</option>';
                    //else
                    options += '<option value=' + key.appId + '>' + key.name + '</option>';

                })
                $("#Appid").empty().append(options);
            }
        });
    }
    //初始化
    $(function () {
        debugger
        getMiniprogram();
         //加载公众号信息
        getWeChatOfficialAccounts();
        init();
    })

    //消息类型发生改变
    function ChangeMsgType(dom) {
       // debugger
        var $this = $(dom);
        var MsgType = $this.val();
        $('form tr').hide();
        $('#WeChatOfficialAccounts').parent().parent().show();
        $('#MsgType').parent().parent().show();
        $('#OrderBy').parent().parent().show();
        if (MsgType == 'text') {
            $('#Descriptions').parent().parent().show();
        } else if (MsgType == 'image') {
            $('#MediaId').parent().parent().show();
        } else if (MsgType == 'mpnews') {
            $('#Descriptions').parent().parent().show();
            $('#Title').parent().parent().show();
            $('#PicUrl').parent().parent().show();
            $('#Urls').parent().parent().show();
        } else if (MsgType == 'miniprogrampage') {
            $('#MediaId').parent().parent().show();
            $('#Title').parent().parent().show();
            $('#Urls').parent().parent().show();
            $('#Appid').parent().parent().show();
        }
        $('#Descriptions').val('');
        $('#MediaId').val('');
        $('#Title').val('');
        $('#PicUrl').val('');
        $('#Urls').val('');
        $('#Appid').val('');
    }


</script>
