<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="rabbitmq" type="Tuhu.MessageQueue.RabbitMQSection, Tuhu.MessageQueue" />
    <section name="nosql" type="Tuhu.Nosql.Configuration.NosqlConfiguration, Tuhu.Nosql" />
    <section name="redisClient" type="Tuhu.Nosql.Redis.Configuration.RedisCachingSectionHandler, Tuhu.Nosql.Redis" />
    <section name="zookeeper" type="Tuhu.ZooKeeper.ZooKeeperClientSection, Tuhu.ZooKeeper" />
    <section name="shopApiConfig" type="Tuhu.C.SyncProductPriceJob.OpenApiConfigurationSection,Tuhu.C.SyncProductPriceJob" />
    <section name="shopSessionSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <!--<arg key="configType" value="INLINE" />-->
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <rabbitmq hostName="172.16.20.1" userName="test" password="itsme999" virtualHost="/dev" />
  <nosql provider="Tuhu.Nosql.Redis.RedisProvider, Tuhu.Nosql.Redis" sectionName="redisClient" prefix="SyncProductPriceJob">
  </nosql>
  <redisClient abortOnConnectFail="false" allowAdmin="true" ssl="false" connectTimeout="500" database="1" proxy="Twemproxy">
    <hosts>
      <add host="172.16.20.233" cachePort="6479" />
    </hosts>
  </redisClient>
  <zookeeper sessionTimeOut="30000" server="172.16.20.1" masterSlavePath="/MasterSlave/Service/SyncProductPriceJob" />
  <quartz>
    <add key="quartz.scheduler.instanceName" value="同步产品价格服务" />
    <add key="quartz.scheduler.instanceId" value="AUTO" />

    <!--configure thread pool info-->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />

    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.config" />
  </quartz>
  <shopApiConfig>
    <add name="Taobao" appKey="21729190" appSecret="b5ca239955e3c72df270aa6ab67d0491" apiUrl="http://gw.api.taobao.com/router/rest" authUrl="http://container.api.taobao.com/container?appkey=21729190" />
    <add name="5京东旗舰店" appKey="9E004E6E07101650BDBBD5C54B201108" appSecret="5f79859146a844d7adc4f180e7a5f3ab" apiUrl="http://gw.api.360buy.com/routerjson" authUrl="https://oauth.jd.com/oauth/authorize?response_type=code&amp;client_id=9E004E6E07101650BDBBD5C54B201108&amp;redirect_uri=urn:ietf:wg:oauth:2.0:oob&amp;state=1212" />
    <add name="5京东2店" appKey="9CB87D68314F60315F75E443BD6F91E1" appSecret="8683f1b97a8c4d498f2c3e407e9c8af1" apiUrl="http://gw.api.360buy.com/routerjson" authUrl="https://oauth.jd.com/oauth/authorize?response_type=code&amp;client_id=9CB87D68314F60315F75E443BD6F91E1&amp;redirect_uri=urn:ietf:wg:oauth:2.0:oob&amp;state=1212" />
    <add name="5京东机油店" appKey="BB65BA0009B6D666E0ACA2B281221AE0" appSecret="0f25dbce0df4472da138d115db67e001" apiUrl="http://gw.api.360buy.com/routerjson" authUrl="https://oauth.jd.com/oauth/authorize?response_type=code&amp;client_id=BB65BA0009B6D666E0ACA2B281221AE0&amp;redirect_uri=urn:ietf:wg:oauth:2.0:oob&amp;state=1212" />
    <add name="5京东服务店" appKey="3EB1FFA7F3E7A2C5EEC911F3DC7A813F" appSecret="880eb6d0eba04993b72cae7792f94111" apiUrl="http://gw.api.360buy.com/routerjson" authUrl="https://oauth.jd.com/oauth/authorize?response_type=code&amp;client_id=3EB1FFA7F3E7A2C5EEC911F3DC7A813F&amp;redirect_uri=urn:ietf:wg:oauth:2.0:oob&amp;state=1212" />

    <add name="Qipeilong" appKey="qPlGEh6hESZDVJeCnFPGuxzaiB7NLQM5" appSecret="qipeilong34=" apiUrl="http://api.qipeilong.cn/api/" />
    <add name="DangDang" appKey="2100004523" appSecret="05104CC025FD98BE6664137DE85EE200" apiUrl="http://api.open.dangdang.com/openapi/rest" authUrl="http://oauth.dangdang.com/authorize?responseType=persistentToken&amp;appId=2100004523" />
    <add name="Suning" appKey="2ae5874aab2f5ad7b8f6b5268b422114" appSecret="463a23705aea869d0955ccac1e9c7b4e" apiUrl="http://open.suning.com/api/http/sopRequest" />
    <add name="全车件" appKey="qPlGEh6hESZDVJeCnFPGuxzaiB7NLQM5" appSecret="qipeilong34=" apiUrl="http://api.qipeilong.cn/api/" />
    <add name="Pinduoduo" appKey="478715" appSecret="AA0D7F5F6BD8D9E2C09A403A11B30B7A28B23DDA" apiUrl="http://open.yangkeduo.com/api/router" />
  </shopApiConfig>
  <shopSessionSettings>
    <add key="2淘宝" value="2淘宝|1|6101d02a8c17c6eb76635cec9027b7ade38202aadf3137f10967201|garibaldi" />
    <add key="9淘宝2店" value="9淘宝2店|1|61023194bf1ab51f23ae113dda71169acabd62a63ecdeb72421455792|途虎养车" />
    <add key="4天猫" value="4天猫|1|6102030c76f7b6c5110bf106bad6bfd27552891fdfd68461718241991|途虎汽车配件旗舰店" />
    <add key="g天猫2店" value="g天猫2店|1|610051320ed7e7262da1218bbacef9a317fd9837a2ace742087689219|君途车品专营店" />
    <add key="g天猫3店" value="g天猫3店|1|6100e0809d393e6b125960653c6ccf1d91a2c71cda2d5532203804405|阑途汽车用品专营店" />
    <add key="g天猫4店" value="g天猫4店|1|6101f258e57d07f829b92154c40a63d2a1e6268a1a6e0602979307696|骥达汽车配件专营店" />

    <add key="5京东旗舰店" value="5京东旗舰店|2|31d5e749-19de-4cde-ad51-ec358b5f6c54" />
    <add key="5京东2店" value="5京东2店|2|4bf48cfa-8588-466a-b512-be932e4d466a" />
    <add key="5京东机油店" value="5京东机油店|2|ce177ccf-84cf-401d-9312-4646ed8df6fb" />
    <add key="5京东服务店" value="5京东服务店|2|255654ed-28ac-40fa-a219-37001b3714b8" />

    <add key="s当当" value="s当当|7|A75A3EE5B080E910F286BF5901DAD2633ADF3FC6D18443C2F35ECE7466BEF150" />
    <add key="q汽配龙" value="q汽配龙|6|" />
    <add key="n途虎苏宁" value="n途虎苏宁|5|" />
    <add key="q汽配龙湖北马牌代理" value="q汽配龙湖北马牌代理|9|" />
    <add key="全车件" value="全车件|8|" />
    <add key="q汽配龙清仓" value="q汽配龙清仓|10|" />
    <add key="q汽配龙重庆普利司通" value="q汽配龙重庆普利司通|13|" />
  </shopSessionSettings>
  <appSettings>
    <add key="amazon:accessKey" value="AKIAJY52LJAIB24SRRLQ" />
    <add key="amazon:secretKey" value="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" />
    <add key="amazon:sellerId" value="A247BH444DALA8" />
    <add key="amazon:marketplaceId" value="AAHKV2X7AFYLW" />

    <add key="CrystalQuartzUrl" value="http://*:6000" />

    <add key="StandAlone" value="false" />
    <add key="RemoteName" value="SyncProductPriceJob" />

    <!--以秒为单位，最少30秒-->
    <add key="TopDelayTime" value="30" />
  </appSettings>
  <connectionStrings>
    <!--OnlyDevelop-->
    <add name="Gungnir" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Cache" connectionString="User ID=LogUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_Log;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <!--DevelopOnly-->
    <!--OnlyProduction
      <add name="Cache" connectionString="User ID=Tuhu_WinService_Job;Password=Tak9_R7d!5vTg;Persist Security Info=True;Initial Catalog=Tuhu_Log;Data Source=db-log-rw.ad.tuhu.cn;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
      <add name="Gungnir" connectionString="User ID=Tuhu_WinService_Job;Password=Tak9_R7d!5vTg;Persist Security Info=True;Initial Catalog=Gungnir;Data Source=db-gungnir-rw.ad.tuhu.cn;Connect Timeout=60000;" providerName="System.Data.SqlClient" />
       ProductionOnly-->
  </connectionStrings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="512" />
    </connectionManagement>
    <mailSettings>
      <smtp deliveryMethod="Network" from="途虎养车网 &lt;servicesender@tuhu.cn&gt;">
        <network host="smtp.exmail.qq.com" userName="servicesender@tuhu.cn" password="Lushanshenglong8" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <tuhuEndPointBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="5242880000" maxBufferSize="655360000" maxReceivedMessageSize="655360000">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
      </behaviorExtensions>
    </extensions>
    <client>
      <!-- Utility -->
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Utility/HttpProxy.svc" contract="Tuhu.Service.Utility.IHttpProxyClient" name="Tuhu.Service.Utility.IHttpProxyClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Utility/Utility.svc" contract="Tuhu.Service.Utility.IUtilityClient" name="Tuhu.Service.Utility.IUtilityClient" />
      <endpoint binding="basicHttpBinding" address="http://wcf.tuhu.work:9010/Utility/Sms.svc" contract="Tuhu.Service.Utility.ISmsClient" name="Tuhu.Service.Utility.ISmsClient" />
    </client>
  </system.serviceModel>
</configuration>
