.loading-indicator {
    height: 130px;
    width: 130px;
    background: url( '../images/loading2.gif' );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    
}

.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}
