/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body { background-color: #71d6f3; font-size: 75%; font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif; margin: 0; padding: 0; color: #696969; }
select { margin: 0; }
a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
#allmap { width: 100%; height: 600px; overflow: hidden; margin: 0; }

p, ul { margin-bottom: 20px; line-height: 1.6em; }

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { font-size: 1.5em; color: #000; }

h1 { font-size: 2em; padding-bottom: 0; margin-bottom: 0; }
h2 { padding: 0 0 10px 0; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 { margin-top: 0; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page { background-color: White; width: 96%; margin-left: auto; margin-right: auto;}

#header { background-color: #5c87b2; position: relative; margin-bottom: 0px; color: #000; padding: 0; }

#header h1 { font-weight: bold; padding: 5px 0; margin: 0; color: #fff; border: none; line-height: 2em; font-size: 32px !important; }

#main { padding: 0px 30px 15px 30px; background-color: #fff; margin-bottom: 30px; _height: 1px; /* only IE6 applies CSS properties starting with an underscore */ position: relative; }

#footer { color: #999; padding: 10px 0; text-align: center; line-height: normal; margin: 0; font-size: .9em; }

#Purchased { position: fixed; left: 50%; width: 43%; height: 70%; padding: 0px 30px 50px 5px; overflow: auto; display:  inline-block; z-index: 1; background-color: White; box-shadow: rgba(0,0,0,0.2) 0 2px 6px; }
/* TAB MENU   
----------------------------------------------------------*/
ul#menu { border-bottom: 1px #5C87B2 solid; padding: 0 0 2px; position: relative; margin: 0; text-align: right; }

ul#menu li { display: inline; list-style: none; }

ul#menu li#greeting { padding: 10px 20px; font-weight: bold; text-decoration: none; line-height: 2.8em; color: #fff; }

ul#menu li a { padding: 10px 20px; font-weight: bold; text-decoration: none; line-height: 2.8em; background-color: #e8eef4; color: #08c; }

ul#menu li a:hover { background-color: #fff; text-decoration: none; }

ul#menu li a:active { background-color: #a6e2a6; text-decoration: none; }

ul#menu li.selected a { background-color: #fff; color: #08c; }

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset { border: 1px solid #ddd; padding: 0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; }

legend { font-size: 1.2em; font-weight: bold; }

textarea { min-height: 75px; }

input[type="text"] { border: 1px solid #CCC; }

input[type="password"] { width: 200px; border: 1px solid #CCC; }

/* TABLE
----------------------------------------------------------*/

table { border: solid 1px #e8eef4; border-collapse: collapse; clear: both; }

table td { padding: 5px; border: solid 1px #e8eef4; }

table th { padding: 6px 5px; text-align: left; background-color: #e8eef4; border: solid 1px #e8eef4; }

 .tr { background-color: #F3F3F3; }

/* MISC  
----------------------------------------------------------*/
.clear { clear: both; }

.error { color: Red; }


#menucontainer { margin-top: 0; text-align: right; background-color: #5c87b2; }
/* 导航菜单 START */
/* 菜单项 */
#menucontainer ul { padding: 0 0 2px; position: relative; margin: 0; }
#menucontainer ul.menus li { display: inline-block; /* 靠左浮动 */ list-style: none; /* 清空列表风格 */ margin-right: 1px; /* 右侧的间隔 */ }
/* 菜单项链接 */
#menucontainer ul.menus li a { padding: 10px 20px; font-weight: bold; text-decoration: none; line-height: 2.8em; background-color: #e8eef4; color: #08c; }
/* 当前菜单位置 */
#menucontainer ul.menus ul { position: absolute; }
/* 当前菜单项链接 */
#menucontainer ul.menus li.current-cat a { padding: 10px 20px; font-weight: bold; text-decoration: none; line-height: 2.8em; background-color: #E8EEF4; color: #08c; }
/* 选中菜单项链接 */
#menucontainer ul.menus li a:hover { background-color: #fff; text-decoration: none; }
/* 二级菜单 */
#menucontainer ul.children { display: none; padding: 0; margin: 0; text-align: left; z-index: 1000; }
/* 二级菜单的菜单项 */
#menucontainer ul.children li { float: none; /* 垂直排列 */ margin: 0; padding: 0; display: block; }
/* 二级菜单的当前菜单项链接 */
#menucontainer ul.children li a { width: 120px; /* 对 IE6 来说十分很重要 */ }
/* 导航菜单 END */

div#title { display: block;text-align: left;margin-top: 5px; }

#logindisplay { font-size: 1.1em;text-align: right; margin: 10px; color: White;position:absolute;right:0;top:0; }

#logindisplay a:link { color: white; text-decoration: underline; }

#logindisplay a:visited { color: white; text-decoration: underline; }

#logindisplay a:hover { color: white; text-decoration: none; }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }

.validation-summary-errors { font-weight: bold; color: #ff0000; }

.validation-summary-valid { display: none; }

/* Styles for editor and display helpers
----------------------------------------------------------*/

.display-div { display: inline-block; margin: 0; width:100%; }

.display-label { margin: 0 3px 0 0; position: relative; display: inline-block; font-weight: bold; }

.editor-label { margin: 0 3px 0 0; display: inline-block; }

.display-field { margin: 0 2em 0 0; position: relative; display: inline-block; }
.editor-field { margin: 0 2em 0 0; position: relative; display: inline-block; }

.text-box { width: 160px; }

.text-box.multi-line { height: 6.5em; }

.tri-state { width: 6em; }


.container { display: table; }

.row { display: table-row; }

.cell { display: table-cell; padding: 5px; }
.NormalHeaderToDo { background-color: Gray; margin: 0px 0px 0px 0px; border-style: none; color: Black; cursor: pointer; }
.AscendingHeaderToDo { background-color: Gray; margin: 0px 0px 0px 0px; border-style: none; color: Blue; cursor: pointer; }

.DescendingHeaderToDo { background-color: Gray; margin: 0px 0px 0px 0px; border-style: none; color: Red; cursor: pointer; }
.normalRow { background-color: #FFFFFF; }

.alternateRow { background-color: #EEEEEE; }

.SelectedRow { background-color: #cccccc; }
.watermark { color: Silver; }

.TaskTitle { background-color: rgb(64, 64, 64); padding: 0px 0px 0px 5px; color: White; }
.Ht { width: 100%; margin: 0; border-collapse: collapse; cursor: pointer; border: 0 none gray; padding: 0px; }
.cf { border-collapse: collapse; border-color: gray; }
.Hm { width: 24px; text-align: right; white-space: nowrap; }
#wrap { display: block; bottom: 0px; right: 1px !important; right: 18px; width: 330px; position: fixed; border: 1px solid Gray; background: white; box-shadow: rgba(0,0,0,0.2) 0 2px 6px; z-index: 4; }
* html #wrap { position: absolute; }

.delay { background-color: rgb(252,228,214); }
.hasDatepicker { width: 80px; }

.black_overlay { display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index: 1001; -moz-opacity: 0.8; opacity: .80; filter: alpha(opacity=80); }
.white_content { display: none; position: fixed; top: 6%; left: 25%; width: 500px; height: 600px; padding: 16px; border: 5px solid Gray; background-color: white; z-index: 1002; overflow: auto; }
.scroll_table { width: 100%; overflow-x: auto; height: 400px; overflow-y: auto; }
.fixedCoulmn { /* position */ width: 100px; background-color: #e8eef4; white-space: nowrap; }

.w_100 { width: 100px; }
.w_60 { width: 60px; }


.filtrateSelect { position: relative; display: none; font-size: 0; vertical-align: middle; }
.filtrateSelect > input { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 2px; width: 100%; height: 20px; border: 1px solid #ccc; font-size: 14px !important; line-height: 20px; }
.filtrateSelect > ul { position: absolute; left: 0; z-index: 100; overflow-y: scroll; min-width: 100%; max-height: 200px; border: 1px solid #aaa; background-color: white; color: #222; font-size: 12px; top: 20px; overflow-x: hidden; }
.filtrateSelect > ul li { float: none; border: 1px solid white; white-space: nowrap; line-height: 18px; list-style: none; }
.filtrateSelect > ul li span { color: #ad2217; font-weight: bold; }
.filtrateSelect > ul li div { background-color: gray; color: white; padding: 1px 5px; font-weight: bold; }
.filtrateSelect > ul li label { display: block; padding: 1px 5px; }
.filtrateSelect > ul li label:hover, .filtrateSelect > ul li label.selected { border-color: #999999; border-radius: 4px; background-color: #dadada; color: #222222; cursor: pointer; }
.filtrateSelect > ul li li { padding-left: 15px; }
.filtrateSelect ul { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 2px; margin: 0; }

div.pager { margin-top: 25px; font-size: 0; }
div.pager span { display: inline-block; width: 28px; height: 28px; border-left: 1px solid #dddddd; text-align: center; font-weight: bold; font-size: 12px; line-height: 28px; }
div.pager a { display: inline-block; min-width: 28px; padding: 0 5px; height: 28px; border: 1px solid #dddddd; border-right: none; color: #2c59b8; text-align: center; text-decoration: none; font-size: 12px; line-height: 28px; }
div.pager a.first-child { width: 77px; }
div.pager a.last-child { width: 77px; border-right: 1px solid #dddddd; }
div.pager a:hover, div.pager a.current { background-color: #f4f4f4; color: #cc0202; }
div.pager a.current { cursor: default; }
div.pager a.disabled, div.pager a.disabled:hover { background-color: #f4f4f4; color: #999999; cursor: default; }
/*页面字段头*/
.field-title{border-bottom:2px solid #08c;height:30px;margin-bottom:10px;}
.field-title p{color:#5c87b2;height: 25px;padding-left: 5px;margin-bottom: 10px;font-size:14px;font-weight:bold;}


.display-top{  color:#a1a2a4; font-size:22px;}
.display-div table,.display-edit table{ width:100%; border:0;}
.display-div table th,.display-div table td{ }
.display-div table th,.display-edit table th{ width:7%; padding:0; }
.display-div table td,.display-edit table td{ width:11%; padding:3px 0;}
.display-div table td button,.display-div table td input{ background-color:#00a1d0; padding:3px 5px; border-radius:3px; border:0; color:#fff; cursor:pointer;}
#InvoiceAddress{background-color:#00a1d0; padding:3px 5px; border-radius:3px; border:0; color:#fff; cursor:pointer;}

.display-p {
    height: 30px;
    line-height: 30px;
    margin-bottom: 0;
}

.fiel-con{ border:1px solid #71d6f3; margin:0;}
    .fiel-con legend {font-size:22px; color:#a1a2a4;
    }
.display-edit{ display:inline-block; margin:0; width:100%;}
.display-edit table td input{ background-color:#fff; border:1px solid #a1a2a4; border-radius:2px;}

.display-Item{display:inline-block; margin-bottom:10px; float:left;}
.display-Item .display-label{ font-weight:bold; width:60px;}
.display_bc{ width:100%; clear:both;}

.display-field input{ width: 200px;}

.EditTable th{ width:90px; padding:0;}

.Edit-div{ width:30%; float:left; height:35px; line-height:35px;}
.Edit-tt{ width:120px; float:left;}
.Edit-cc{ /* float:left; */ }
.Edit-div2{ width:100%; height:35px; line-height:35px; clear:both;}
.Edit-div3{ width:25%; height:auto; float:left; line-height:35px;}
.Edit-div3 input{ vertical-align:top;}
.Edit-tt3{ width:60px; float:left;}
div #loading {
    background: url('../Images/loading.gif') no-repeat 20px center;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-indent: 40px;
    color: #666;
}


#GotoTop {
        position: fixed;
        _position: absolute;
        z-index: 10;
        right: 0;
        bottom: 40px;
        color: #868686;
        width: 70px;
        height: 50px;
        padding:10px 0 10px 0;
        /*padding-top: 40px;*/
        line-height: 32px;
        font-size: 14px;
        background: url(/Images/GotoTop.png) no-repeat center;
    }