@charset "utf-8";
/* CSS Document */
.tab {
    font-size: 12px; 
    font-family:Verdana, Geneva, sans-serif;
}
.tabContainer {
    width:100%;
    overflow:hidden;
}
.tabContainer li {
    float:left;
    margin-right:2px;
    background:url(../Images/tabOff_right.gif) no-repeat right top;
}
.tabContainer li a {
    display:block!important;
    display:inline-block;
    padding:0 15px;
    height:27px;
    line-height:27px;
    background:url(../Images/tabOff_left.gif) no-repeat left top;
}
.tab .tabHead{
    list-style-type: none;
    margin:0;
    padding:0;
}
.tab .tabBody{
    border-left:#dbdbdb solid 1px;
    border-right:#dbdbdb solid 1px;
    border-top:#dbdbdb solid 1px;
    border-bottom:#dbdbdb solid 1px;
    background-color: white;
    overflow: hidden;
    position: relative;
    width: 100%;
}
/*.tabContainer .tab .tabBody ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabContainer .tab .tabBody ul{
    width: 1500px;
    position: absolute;
}
.tabContainer .tab .tabBody ul li{
    float: left;
    width: 500px;
}*/
.tab .tabHead li a{
    font-weight: bold;
    text-decoration: none;
    color: #0099FF;
    cursor: pointer;
}
.tab .tabCot{
    float: left;

}
.tab .tabContainer li.currentBtn{background:url(../Images/tabOn_right.gif) no-repeat right top;}
.tab .tabContainer li.currentBtn a{height:28px;background:url(../Images/tabOn_left.gif) no-repeat left top;color:#434142;}

#loading {
    background: url('../Images/loading.gif') no-repeat 20px center;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-indent: 40px;
    color: #666;
}

