.kuaiDiBG{background:url(../../Content/KuaiDi/zhongtong.jpg) no-repeat;width:830px;height:480px;position:relative;}
    .kuaiDiBG{background-position:0px -98px;}/*-98px*/
    .kuaiDiBG div{position:absolute;background-color:rgba(255,255,255,.8)}
    .From{left: 153px;top: 13px;}
    .FromDe{left: 344px;top: 13px;}
    .FromAddr{left: 148px;top: 48px;width: 260px;line-height:30px}
    .FromTel{left: 163px;top: 150px;width:260px}
    .To{top: 13px;left: 550px;}
    .ToDe{top: 13px;left:745px;}
    .ToAddr{left: 540px;top: 48px;width: 260px;line-height:30px}
    .ToTel{left:550px;top:150px;}
    .remark{width: 215px;left: 331px;top: 334px;}
    .small{font-size:12px;}
