<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<section name="couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
		<section name="zookeeper" type="Tuhu.ZooKeeper.ZooKeeperClientSection, Tuhu.ZooKeeper" />
		<section name="rabbitmq" type="Tuhu.MessageQueue.RabbitMQSection, Tuhu" />
		<section name="webSite" type="Tuhu.Yewu.WinService.JobSchedulerService.TuhuMonitor.WebSiteMonitorSection, Tuhu.Yewu.WinService.JobSchedulerService.TuhuMonitor" />
	</configSections>
	<couchbase useSsl="false">
		<servers>
			<add uri="http://101.231.144.215:8091/pools"></add>
		</servers>
		<buckets>
			<add name="default" useSsl="false" password="">
				<connectionPool name="custom" maxSize="10" minSize="5"></connectionPool>
			</add>
		</buckets>
	</couchbase>
	<zookeeper sessionTimeOut="30000" server="101.231.144.215" masterSlavePath="/MasterSlave/Service" />
	<rabbitmq hostName="101.231.144.215" userName="test" password="itsme999" virtualHost="/dev" />
	<webSite>
		<add host="www.tuhu.cn" ip="101.227.79.56,101.227.79.60" timeout="1000" />
	</webSite>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
				<!--<arg key="configType" value="INLINE" />-->
				<arg key="configType" value="FILE-WATCH" />
				<arg key="configFile" value="~/log4net.config" />
			</factoryAdapter>
		</logging>
	</common>
	<appSettings>
		<add key="RemoteName" value="192.168.10.243" />
		<add key="SoaBaseAddress" value="http://soa.tuhu.dev" />

		<add key="ExceptionSmsJob:Subject" value="短信异常提醒" />
		<add key="ExceptionSmsJob:To" value="baoli@tuhu.cn" />

		<add key="UmAndroidappkey" value="531e7f2856240b69ca054307" />
		<add key="UmAndroidapp_master_secret" value="y54x8qhe5o3m8kb6kvjjwtmffkjee10c" />

		<add key="UmiOSappkey" value="54783ae1fd98c5da8f0005c3" />
		<add key="UmiOSapp_master_secret" value="8xew43pbarq8nubzvliwwckskejvc7gw" />

		<add key="DeliverySubscibeJob:SubscibeKey" value="PkmSGlfF22" />
		<add key="DeliverySubscibeJob:SubscibeUrl" value="http://www.kuaidi100.com/poll" />
		<add key="DeliverySubscibeJob:CallbackUrl" value="http://yewu.tuhu.cn/Kuaidi100Callback.ashx" />

		<add key="ZhongAnKey" value="b39edca045c7bed1f3239b994053e0f7" />
		<add key="ZhongAnServiceName" value="zhongan.tuhu.policyService" />
		<add key="ZhongAnUrl" value="http://opengw.daily.zhongan.com/Gateway.do" />

		<add key="BackupJob:SaveFolder" value="D:\" />
		<add key="BackupJob:BackupFolder" value="D:\Tuhu\Tuhu.Soa" />
		<add key="BackupJob:BackupFolderName" value="" />
		<add key="BackupJob:IgnoreFolder" value="D:\Tuhu\Tuhu.Soa\packages" />

		<add key="WarnCellphone" value="15618621961" />
		<add key="WarnEmail" value="pengwei@tuhu.cn;" />
		<add key="SiteErrorEmail" value="pengwei@tuhu.cn;" />
		<add key="StandAlone" value="true" />

		<!--优惠券配置信息-->
		<add key="BaoYangCoupon:PromotionType" value="2" />
		<add key="BaoYangCoupon:PromotionruleId" value="23" />
		<add key="BaoYangCoupon:CouponDescriptionOfTypeOne" value="满199元保养即可使用" />
		<add key="BaoYangCoupon:CouponDescriptionOfTypeTwo" value="满399元保养即可使用" />
		<add key="BaoYangCoupon:BaoYangMessageSubject" value="老用户回馈" />
		<add key="BaoYangCoupon:BaoYangMessageDetail" value="60元保养券已到账！有日子没做保养啦~及时保养，让发动机时刻保持最佳状态~查看优惠戳dwz.cn/BkM8l" />
		<add key="BaoYangCoupon:NonBaoYangMessageSubject" value="订单完成奖励" />
		<add key="BaoYangCoupon:NonBaoYangMessageDetail" value="感谢您的支持！60元保养券已放入账户~正品低价！快来途虎看看真正省心的保养吧~戳dwz.cn/BkM8l" />
		<add key="BaoYangCoupon:discountOfTypeOne" value="20" />
		<add key="BaoYangCoupon:discountOfTypeTwo" value="40" />
		<add key="BaoYangCoupon:minMoneyOfTypeOne" value="199" />
		<add key="BaoYangCoupon:minMoneyOfTypeTwo" value="399" />
		<add key="BaoYangCoupon:codeChannel" value="途虎" />
		<add key="BaoYangCoupon:BaoYangAndroidPushTitle" value="老用户回馈" />
		<add key="BaoYangCoupon:BaoYangAndroidPushText" value="60元保养券已到账！有日子没做保养啦~及时保养，让发动机时刻保持最佳状态~查看优惠戳" />
		<add key="BaoYangCoupon:NonBaoYangAndroidPushTitle" value="订单完成奖励" />
		<add key="BaoYangCoupon:NonBaoYangAndroidPushText" value="感谢您的支持！60元保养券已放入账户~正品低价！快来途虎看看真正省心的保养吧" />
		<add key="BaoYangCoupon:BaoYangIosPushMessage" value="60元保养券已到账！有日子没做保养啦~及时保养，让发动机时刻保持最佳状态~查看优惠戳" />
		<add key="BaoYangCoupon:NonBaoYangIosPushMessage" value="感谢您的支持！60元保养券已放入账户~正品低价！快来途虎看看真正省心的保养吧" />

		<add key="BaoYangCoupon:FreeOrderCouponDescription" value="买轮胎送保养福利券，到店保养订单可使用" />
		<add key="BaoYangCoupon:FreeOrderCouponSMSubject" value="保养免单券" />
		<add key="BaoYangCoupon:FreeOrderCouponSMSMessage" value="感谢您参与买轮胎送保养免单券活动，保养免单券已经发至您的账户，可下载手机APP查看http://dwz.cn/Beul5。购买保养时使用该保养免单券，到店安装完成后3个工作日内即可获得保养现金券。【途虎养车】" />

		<!--优惠券配置信息-->

		<!--ES地址-->
		<add key="ESHost" value="http://192.168.1.254:9200" />

		<!--价格预警配置-->
		<add key="PriceMonitorJob:Subject" value="Dev_途虎价格雷达预警" />
		<add key="PriceMonitorJob:To" value="liuchao1@tuhu.cn" />
		<add key="PriceMonitorJob:rate1" value="0.9" />
		<add key="PriceMonitorJob:rate2" value="0.9" />
		<add key="PriceMonitorJob:rate3" value="0.9" />

		<add key="BaoYangCacheOutTime" value="7" />

		<!--App 推送-->
		<add key="UmAndroidappkey" value="" />
		<add key="UmAndroidapp_master_secret" value="" />
		<add key="UmiOSappkey" value="" />
		<add key="UmiOSapp_master_secret" value="" />
		<add key="UM:ReceiptUrl" value="" />
		<add key="UM:ReceiptType" value="3" />
		<!--App 广播测试环境 -->
		<add key="UM:BroadcastSwitch" value="false" />

		<add key="RabbitMqMonitor:Url" value="http://test:itsme999@192.168.1.254:15672/api/queues" />
	</appSettings>
	<connectionStrings>
		<add name="Cache" connectionString="Data Source=101.231.144.215\DEV;Initial Catalog=CacheDb;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
		<add name="Gungnir" connectionString="Data Source=101.231.144.215\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
		<add name="ReadOnly" connectionString="Data Source=101.231.144.215\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
		<add name="Sqlite" connectionString="Data Source=log.sqlite;" providerName="System.Data.SQLite" />
		<add name="WMS" connectionString="" />
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="途虎养车网 &lt;servicesender@tuhu.cn&gt;">
				<network host="smtp.exmail.qq.com" userName="servicesender@tuhu.cn" password="Lushanshenglong8" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SmsService4XMLImplPortSoapBinding" openTimeout="00:00:10" sendTimeout="00:00:10" />
				<binding name="BusinessServiceServiceSoapBinding" openTimeout="00:00:10" sendTimeout="00:00:10" />
				<binding name="MobsetApiSoap" openTimeout="00:00:10" sendTimeout="00:00:10" />
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="NoneSecurityBehavior">
					<security mode="None" />
				</binding>
				<binding name="tuhuServiceBehavior">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<extensions>
			<behaviorExtensions>
				<add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior name="tuhuServiceBehavior">
					<tuhuEndPointBehavior />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint name="SmsService4XMLImplPort" binding="basicHttpBinding" address="http://ws.3tong.net/services/sms" bindingConfiguration="SmsService4XMLImplPortSoapBinding" contract="Dh3T.ISmsService4XML" />
			<!--<endpoint name="BusinessServicePort" binding="basicHttpBinding" contract="JianZhou.BusinessService" bindingConfiguration="BusinessServiceServiceSoapBinding" address="http://www.jianzhou.sh.cn/JianzhouSMSWSServer/services/BusinessService" />-->
			<endpoint name="MobsetApiSoap" binding="basicHttpBinding" contract="Mobset.MobsetApiSoap" bindingConfiguration="MobsetApiSoap" address="http://sms3.mobset.com:8080/Api" />
			<!-- OprLog 日志-->
			<endpoint binding="netTcpBinding" address="net.tcp://101.231.144.215:9011/OprLog/OprLog.svc" contract="Tuhu.Service.OprLog.IOprLogClient" behaviorConfiguration="tuhuServiceBehavior" bindingConfiguration="NoneSecurityBehavior" name="Tuhu.Service.OprLog.IOprLogClient" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
				<codeBase version="1.2.10.0" href="log4net.old.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Couchbase.NetClient" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.7.7.0" newVersion="1.7.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Tuhu.Service" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.4.7.0" newVersion="1.4.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
