@{
    ViewBag.Title = "CouponThread";
    Layout = null;
}

<table class="table tab-content">
    <thead>
        <tr>
            <th>排 序</th>
            <th>样 式</th>
            <th>优惠券GUID</th>
            <th>优惠券名称&描述</th>
            <th>领券用户属性</th>
            <th>背景图片</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="number" id="OrderBy" name="OrderBy" value="1" />
            </td>
            <td>
                <span>三列</span>
                <input type="hidden" id="Style" name="Style" value="3" />
            </td>
            <td>
                <input type="text" id="CouponGuid"  name="CouponGuid" onchange="GetCoupon(this)" style="width:260px;" />
            </td>
            <td>
                <textarea id="Description" name="Description"></textarea>
            </td>
            <td>
                <span></span>
                <input type="hidden" id="UserType" name="UserType" />
            </td>
            <td>
                <img id="imgac1" width="30" height="30"/>
                <input type="file" id="cFile1" name="cFile1" onchange="UploadBgImg(this, 'imgac1', 'acBgUrl1')" />
                <input type="hidden" id="acBgUrl1" name="BgUrl" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" id="OrderBy" name="OrderBy" value="2" />
            </td>
            <td>
                <span>三列</span>
                <input type="hidden" id="Style" name="Style" value="3" />
            </td>
            <td>
                <input type="text" id="CouponGuid"  name="CouponGuid" onchange="GetCoupon(this)" style="width:260px;" />
            </td>
            <td>
                <textarea id="Description" name="Description"></textarea>
            </td>
            <td>
                <span></span>
                <input type="hidden" id="UserType" name="UserType" />
            </td>
            <td>
                <img id="imgac2" width="30" height="30"/>
                <input type="file" id="cFile2" name="cFile2" onchange="UploadBgImg(this, 'imgac2', 'acBgUrl2')"  />
                <input type="hidden" id="acBgUrl2" name="BgUrl" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" id="OrderBy" name="OrderBy" value="3" />
            </td>
            <td>
                <span>三列</span>
                <input type="hidden" id="Style" name="Style" value="3" />
            </td>
            <td>
                <input type="text" id="CouponGuid" name="CouponGuid"  onchange="GetCoupon(this)" style="width:260px;" />
            </td>
            <td>
                <textarea id="Description" name="Description"></textarea>
            </td>
            <td>
                <span></span>
                <input type="hidden" id="UserType" name="UserType" />
            </td>
            <td>
                <img id="imgac3" width="30" height="30"/>
                <input type="file" id="cFile3" name="cFile3" onchange="UploadBgImg(this, 'imgac3', 'acBgUrl3')" />
                <input type="hidden" id="acBgUrl3" name="BgUrl" />
            </td>
        </tr>
    </tbody>
</table>
