<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.0" targetFramework="net451" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Quartz" version="2.4.1" targetFramework="net45" />
  <package id="System.Interactive" version="3.1.1" targetFramework="net451" />
  <package id="Tuhu" version="2.2.9" targetFramework="net451" />
  <package id="Tuhu.Service" version="2.1.2" targetFramework="net451" />
  <package id="Tuhu.Service.EmailProcess" version="1.0.6.0" targetFramework="net451" />
  <package id="Tuhu.Service.OprLog" version="1.1.0.0" targetFramework="net45" />
  <package id="Tuhu.Service.Utility" version="1.2.2.4" targetFramework="net451" />
</packages>