<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nosql>
    <expiration defaultExpiration="00:30:00">
      <cache>
        <add name="TouTiao_List_Cache" expiration="00:30:00" />
        <add name="TouTiao_Detail_Cache" expiration="00:30:00" />
        <add name="Che_Xian_Cache" expiration="00:01:00" />
        <add name="Discovery_30D_Cache" expiration="720:00:00"></add>
        <add  name="Discovery_30M_Cache" expiration="00:30:00"></add>
        <add name="Discovery_5M_Cache" expiration="00:05:00"></add>
      </cache>
    </expiration>
  </nosql>
</configuration>
