
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="padding-right:20px;padding-top:20px;padding-left:20px;">
        <table class="form">
            <tr>
                <th class="formTitle">选 项:</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="IsShowVehicleBar" name="IsShowVehicleBar" type="checkbox"><label for="IsShowVehicleBar">是否显示车型条</label>
                    </div>
                    <div class="ckbox">
                        <input id="IsChangeTire" name="IsChangeTire" type="checkbox"><label for="IsChangeTire">可换车</label>
                    </div>
                    <div class="ckbox">
                        <input id="IsChangeTireSize" name="IsChangeTireSize" type="checkbox"><label for="IsChangeTireSize">可换轮胎规格</label>
                    </div>
                    <div class="ckbox">
                        <input id="IsShowTag" name="IsShowTag" type="checkbox"><label for="IsShowTag">显示适配标签</label>
                    </div>
                    <div class="ckbox">
                        <input id="IsMargin" name="IsMargin" type="checkbox"><label for="IsMargin">有分割线</label>
                    </div>
                </td>
                <th class="formTitle">适 配:</th>
                <td class="formValue">
                    <select id="IsTireSize" name="IsTireSize" class="form-control">
                        <option value="">===请选择===</option>
                        <option value="1">全 部</option>
                        <option value="2">轮 胎</option>
                        <option value="3">轮 毂</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">分割线颜色：</th>
                <td class="formValue">
                    <input type="text" id="MarginColor" name="MarginColor" class="form-control" />
                </td>
                <th class="formTitle">填充颜色:</th>
                <td class="formValue">
                    <input type="text" id="FillColor" name="FillColor" class="form-control"/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">提示语颜色：</th>
                <td class="formValue">
                    <input type="text" id="PromptColor" name="PromptColor" class="form-control" />
                </td>
                <th class="formTitle">提示语字号：</th>
                <td class="formValue">
                    <input type="text" id="PromptFontSize" name="PromptFontSize" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">车主信息颜色：</th>
                <td class="formValue">
                    <input type="text" id="CarInfoColor" name="CarInfoColor" class="form-control"/>
                </td>
                <th class="formTitle">车主信息字号：</th>
                <td class="formValue">
                    <input type="text" id="CarInfoFontSize" name="CarInfoFontSize" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">无车型提示语：</th>
                <td class="formValue">
                    <input type="text" id="NoCarTypePrompt" name="NoCarTypePrompt" class="form-control" />
                </td>
                <th class="formTitle">无规格提示语：</th>
                <td class="formValue">
                    <input type="text" id="NoFormatPrompt" name="NoFormatPrompt" class="form-control" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="FKActiveID" name="FKActiveID" />
        <input type="hidden" id="PKID" name="PKID" value="0"/>
    </div>
</form>

<script type="text/javascript">
    var keyValue = $.request("keyValue");

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var IsTireSize = $("#form1").formSerialize().IsTireSize;
        $.submitForm({
            url: "/Activity/TrieSize/SubmitForm?IsTireSize=" + IsTireSize,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });

    }

    function initControl() {
        if (keyValue) {
            $("#FKActiveID").val(keyValue);

            $.ajax({
                url: "/Activity/TrieSize/GetEntityJson?pkid=" + keyValue,
                aysnc: false,
                dataType: "json",
                success: function (res) {
                    if (res) {
                        $("#form1").formSerialize(res);
                    }
                }
            });

            $.ajax({
                url: "/Activity/ActivityUnity/GetListFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data) {
                        $("#IsTireSize").val(data.IsTireSize);
                    }
                }
            });
        }
    }

    $(function () {
        initControl();
    })
</script>