@{
    ViewBag.Title = "CouponInfo";
    Layout = null;
}

<form id="CouponInfo">
    <table width="100%">
        <tr>
            <td>优惠券Guid:</td>
            <td>
                <input class="easyui-textbox" id="GetRuleGUID" name="GetRuleGUID" data-options="onChange:function(){Opeartor.couponValidate()}"/>
                <input type="hidden" id="GetRuleID" name="GetRuleID"/>
            </td>
            <td>
                有效期方式:
            </td>
            <td>
                <input type="radio" name="VerificationMode" value="1"  disabled="disabled"/><span>固定日期</span>
                <input type="radio" name="VerificationMode" value="0"  disabled="disabled"/><span>兑换后天数</span>
            </td>
        </tr>
        <tr>
            <td>领取券用户类型:</td>
            <td colspan="3">
                <input type="radio" name="GetUserType" value="0" checked="checked" /><span>所有用户</span>
                <input type="radio" name="GetUserType" value="1"  /><span>新用户</span>
                <input type="radio" name="GetUserType" value="2"  /><span>老用户</span>
            </td>
        </tr>
        <tr>
            <td>面额:</td>
            <td>
                <input class="easyui-textbox" id="Discount" name="Discount" data-options="readonly:true"/>
            </td>
            <td>
                固定日期;
            </td>
            <td>
               <span>开始时间:</span> <input class="easyui-datetimebox" id="ValidStartDateTime" name="ValidStartDateTime" data-options="readonly:true"/>
                <br/>
               <span>结束时间:</span> <input class="easyui-datetimebox" id="ValidEndDateTime" name="ValidEndDateTime" data-options="readonly:true"/>
            </td>
        </tr>
        <tr>
            <td>使用条件:</td>
            <td>
                <span>满</span><input class="easyui-textbox" id="MinMoney" name="MinMoney" data-options="readonly:true,width:'100px'"/>使用
            </td>
            <td>
                用户类型:
            </td>
            <td>
                <input type="radio" value="0" name="UserType" disabled="disabled" /><span>全部</span>
                <input type="radio" value="1" name="UserType" disabled="disabled" /><span>新用户</span>
                <input type="radio" value="2" name="UserType"  disabled="disabled"/><span>老用户</span>
            </td>
        </tr>
        <tr>
            <td>优惠券说明:</td>
            <td>
                <input class="easyui-textbox" id="Description" name="Description" data-options="readonly:true"/>
            </td>
            <td>
                兑换后有效天数:
            </td>
            <td>
                <input class="easyui-textbox" id="ValidDays" name="ValidDays" data-options="readonly:true"/>
            </td>
        </tr>
        <tr>
            <td>每人限领数量:</td>
            <td>
                <input class="easyui-textbox" id="SingleQuantity" name="SingleQuantity" data-options="readonly:true"/>
            </td>
            <td>发行量:</td>
            <td>
                <input class="easyui-textbox" id="Quantity" name="Quantity" data-options="readonly:true"/>
            </td>
        </tr>
    </table>

</form>
