@using Tuhu.Provisioning.DataAccess.Entity
@model  List<VehicleTypeInfo>

@section head{
    <link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
}

<div class="contact">
    <h2>五级车型轮毂数据管理</h2>
    <form class="form-inline">
        <div id="MyTab">
            <ul class="nav nav-tabs">
                <li><a href="#ChooseVehicle">选择车型</a></li>
                <li><a href="#InputTID">输入TID</a></li>
            </ul>
            <div class="tab-pane" id="ChooseVehicle">
                <div class="form-group form-group-sm">
                    <label>品牌：</label>
                    <select id="BrandCriterion" name="BrandCriterion" class="form-control" style="width:200px;" onchange="BrandChange(this.value)"></select>
                </div>
                <div class="form-group form-group-sm">
                    <label>车系：</label>
                    <select id="VehicleCriterion" name="VehicleCriterion" class="form-control" style="width:200px;" onchange="VehicleChange(this.value)"></select>
                </div>
                <div class="form-group form-group-sm">
                    <label>排量：</label>
                    <select id="PaiLiangCriterion" name="PaiLiangCriterion" class="form-control" style="width:200px;" onchange="PaiLiangChange(this.value)"></select>
                </div>
                <br />
                <br />
                <div class="form-group form-group-sm">
                    <label>生产年份：</label>
                    <select id="YearCriterion" name="YearCriterion" class="form-control" style="width:200px;" onchange="YearChange(this.value)"></select>
                </div>
                <div class="form-group form-group-sm">
                    <label>车款：</label>
                    <select id="SalesNameCriterion" name="SalesNameCriterion" style="width:200px;" class="form-control"></select>
                </div>
            </div>
            <div class="tab-pane" id="InputTID">
                <label>输入TID：</label>
                <input id="TIDCriterion" name="TIDCriterion" class="form-control" style="width:200px;" type="text" placeholder="TID" value="" />
            </div>
        </div>
        <br />
        <div>
            <span>有无轮毂配置：</span>
            <select id="IsInfoSpecified" name="IsInfoSpecified">
                <option value="">-全部显示-</option>
                <option value="1">仅显示已配置轮毂车型</option>
                <option value="2">仅显示未配置轮毂车型</option>
            </select>
        </div>
        <div style="margin-top:20px">
            <button type="button" class="btn btn-primary btn-small" onclick="CheckToSubmit(1)">查询</button>
            <button type="button" class="btn btn-primary btn-small" onclick="ClearInput()">清空</button>
            @*<button type="button" class="btn btn-primary btn-small" onclick="BatchEdit()">批量编辑</button>*@
        </div>
    </form>
    <br />
    <div>
        每页显示
        <select id="PageDataQuantity" onchange="CheckToSubmit(1)">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="1000">1000</option>
        </select> 条&nbsp;&nbsp;
        <span id="DataCountInfo"></span>
        <a href="javascript:void(0)" onclick="BatchEdit()">批量编辑</a>
    </div>
</div>

<div class="contact" id="ForTbWheelAdapterConfig" style="margin:10px 0 10px 0;">
    <!--输出表格-->
</div>

<div id="WheelAdapterConfigEditModule" style="display:none;"></div>
<div id="WheelAdapterConfigHistoryModule" style="display:none;"></div>

<script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script type="text/javascript" src="/Scripts/TimeObjectUtil.js"></script>
<link href="/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" />
<link href="/Scripts/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jquery-ui-timepicker-addon/jquery-ui-sliderAccess.js" type="text/javascript"></script>
<script src="/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
<script src="/Scripts/zTree/js/jquery.ztree.core-3.5.min.js" type="text/javascript"></script>
<script src="/Scripts/zTree/js/jquery.ztree.excheck-3.5.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#MyTab").tabs();
        LoadBrand();
        $("#ForTbWheelAdapterConfig").on("click", ".pager>a", function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            if (url) {
                $.post(url, function (html, status) {
                    if (status === "success") {
                        $("#ForTbWheelAdapterConfig").html(html);
                    }
                });
            }
        });
        CheckToSubmit(1);
    });
    function LoadBrand() {
        $.ajax({
            url: "/WheelAdapterConfig/GetBrands",
            type: "POST",
            data: {},
            dataType: "json",
            async: false,
            success: function (data) {
                var html = "";
                var n = data.length;
                if (n > 0) {
                    html += "<option value=''>-选择品牌-</option>"
                    for (var j = 0; j < n; j++) {
                        html += "<option value='" + data[j].str + "'>" + data[j].str + "</option>";
                    }
                }
                else {
                    html += "<option value=''>无数据</option>";
                }
                $("#BrandCriterion").empty();
                $("#BrandCriterion").append(html);
                BrandChange($("#BrandCriterion").val());
            },
            error: function () {
                alert("请求失败！");
                var html = "<option value=''>无数据</option>";
                $("#BrandCriterion").empty();
                $("#BrandCriterion").append(html);
                BrandChange("");
            },
        });
    }
    function BrandChange(brand) {
        if (brand == "") {
            var html = "<option value=''>-选择车系-</option>";
            $("#VehicleCriterion").empty();
            $("#VehicleCriterion").append(html);
            VehicleChange("");
        }
        else {
            $.ajax({
                url: "/WheelAdapterConfig/GetVehiclesAndId",
                type: "POST",
                data: {
                    brand: brand,
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    var html = "";
                    var n = data.length;
                    if (n > 0) {
                        html += "<option value=''>-选择车系-</option>"
                        for (var j = 0; j < n; j++) {
                            html += "<option value='" + data[j].str1 + "'>" + data[j].str + "</option>";
                        }
                        $("#VehicleCriterion").empty();
                        $("#VehicleCriterion").append(html);
                        VehicleChange($("#VehicleCriterion").val());
                    }
                    else {
                        html += "<option value=''>无数据</option>";
                        $("#VehicleCriterion").empty();
                        $("#VehicleCriterion").append(html);
                        VehicleChange("");
                    }
                },
                error: function () {
                    alert("请求失败！");
                    var html = "<option value=''>无数据</option>";
                    $("#VehicleCriterion").empty();
                    $("#VehicleCriterion").append(html);
                    VehicleChange("");
                },
            });
        }
    }
    function VehicleChange(vehicleid) {
        if (vehicleid == "") {
            var html = "<option value=''>-选择排量-</option>";
            $("#PaiLiangCriterion").empty();
            $("#PaiLiangCriterion").append(html);
            PaiLiangChange("");
        }
        else {
            $.ajax({
                url: "/WheelAdapterConfig/GetPaiLiang",
                type: "POST",
                data: {
                    vehicleid: vehicleid,
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    var html = "";
                    var n = data.length;
                    if (n > 0) {
                        html += "<option value=''>-选择排量-</option>"
                        for (var j = 0; j < n; j++) {
                            html += "<option value='" + data[j].str + "'>" + data[j].str + "</option>";
                        }
                        $("#PaiLiangCriterion").empty();
                        $("#PaiLiangCriterion").append(html);
                        PaiLiangChange($("#PaiLiangCriterion").val());
                    }
                    else {
                        html += "<option value=''>无数据</option>";
                        $("#PaiLiangCriterion").empty();
                        $("#PaiLiangCriterion").append(html);
                        PaiLiangChange("");
                    }
                },
                error: function () {
                    alert("请求失败！");
                    var html = "<option value=''>无数据</option>";
                    $("#PaiLiangCriterion").empty();
                    $("#PaiLiangCriterion").append(html);
                    PaiLiangChange("");
                },
            });
        }
    }
    function PaiLiangChange(pailiang) {
        var vehicleid = $("#VehicleCriterion").val();
        if (pailiang == "") {
            var html = "<option value=''>-选择生产年份-</option>";
            $("#YearCriterion").empty();
            $("#YearCriterion").append(html);
            YearChange("");
        }
        else {
            $.ajax({
                url: "/WheelAdapterConfig/GetYear",
                type: "POST",
                data: {
                    vehicleid: vehicleid,
                    pailiang: pailiang,
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    var html = "";
                    var n = data.length;
                    if (n > 0) {
                        html += "<option value=''>-选择生产年份-</option>"
                        var minyear = parseInt(data[0].str);//最小生产年份
                        var maxyear = parseInt(data[0].str1);//最大停产年份
                        for (var j = 0; j < n; j++) {
                            var listedyear = parseInt(data[j].str);
                            var stopproductionyear = parseInt(data[j].str1);
                            if (listedyear < minyear) {
                                minyear = listedyear;
                            }
                            if (stopproductionyear > maxyear) {
                                maxyear = stopproductionyear;
                            }
                        }
                        for (var year = minyear; year <= maxyear; year++) {
                            html += "<option value='" + year + "'>" + year + "</option>";
                        }
                        $("#YearCriterion").empty();
                        $("#YearCriterion").append(html);
                        YearChange($("#YearCriterion").val());
                    }
                    else {
                        html += "<option value=''>无数据</option>";
                        $("#YearCriterion").empty();
                        $("#YearCriterion").append(html);
                        YearChange("");
                    }
                },
                error: function () {
                    alert("请求失败！");
                    var html = "<option value=''>无数据</option>";
                    $("#YearCriterion").empty();
                    $("#YearCriterion").append(html);
                    YearChange("");
                },
            });
        }
    }
    function YearChange(year) {
        var vehicleid = $("#VehicleCriterion").val();
        var pailiang = $("#PaiLiangCriterion").val();
        if (year == "") {
            var html = "<option value=''>-选择车款-</option>";
            $("#SalesNameCriterion").empty();
            $("#SalesNameCriterion").append(html);
        }
        else {
            $.ajax({
                url: "/WheelAdapterConfig/GetNianAndSalesName",
                type: "POST",
                data: {
                    vehicleid: vehicleid,
                    pailiang: pailiang,
                    year: year,
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    var html = "";
                    var n = data.length;
                    if (n > 0) {
                        html += "<option value=''>-选择车款-</option>"
                        for (var j = 0; j < n; j++) {
                            html += "<option value='" + data[j].str + "'>" + data[j].str1 + "款 " + data[j].str2 + "</option>";
                        }
                        $("#SalesNameCriterion").empty();
                        $("#SalesNameCriterion").append(html);
                    }
                    else {
                        html += "<option value=''>无数据</option>";
                        $("#SalesNameCriterion").empty();
                        $("#SalesNameCriterion").append(html);
                    }
                },
                error: function () {
                    alert("请求失败！");
                    var html = "<option value=''>无数据</option>";
                    $("#SalesNameCriterion").empty();
                    $("#SalesNameCriterion").append(html);
                },
            });
        }
    }
    function CheckToSubmit(index) {
        var tabid = $("#MyTab").tabs('option', 'selected');
        var tid = $("#TIDCriterion").val();//输入的tid
        if (tabid == 1) {
            if (tid == "") {
                alert("TID不能为空！");
                return;
            }
        }
        var brand = $("#BrandCriterion").val();
        var vehicleid = $("#VehicleCriterion").val();
        var pailiang = $("#PaiLiangCriterion").val();
        var year = $("#YearCriterion").val();
        var salesname = $("#SalesNameCriterion").val();//SalesNameCriterion的值为tid
        var pagedataquantity = $("#PageDataQuantity").val();
        var pageindex = index;
        $.post("/WheelAdapterConfig/IndexList", {
            BrandCriterion: brand,
            VehicleCriterion: vehicleid,
            PaiLiangCriterion: pailiang,
            YearCriterion: year,
            SalesNameCriterion: salesname,
            TIDCriterion: tid,
            PageIndex: pageindex,
            PageDataQuantity: pagedataquantity,
            QueryWay: tabid,
            IsInfoSpecified: $("#IsInfoSpecified").val()
        }, function (html, status) {
            if (status === "success") {
                $("#ForTbWheelAdapterConfig").html(html);
            }
        });
    }
    function ClearInput() {
        window.location.reload();
    }
    function BatchEdit() {
        $("#WheelAdapterConfigEditModule").html("").load("/WheelAdapterConfig/WheelAdapterEditModule?tid=" + 0);
        $("#WheelAdapterConfigEditModule").dialog({
            title: "编辑五级车型轮毂数据",
            width: 400,
            height: "auto",
            modal: true,
            resizable: false,
            buttons: {
                "保存": function () {
                    BatchSaveWheelAdapterConfig(this);
                },
                "取消": function () {
                    $(this).dialog("close");
                }
            }
        });

    }
    function BatchSelectClick() {
        
        var val = $("#BatchSelectStatus").val();
        console.log(val);
        if (val == "0") {
            $("#BatchSelectStatus").val("1");
            $(".batchselect").prop('checked', true);
        } else {
            $("#BatchSelectStatus").val("0");
            $(".batchselect").prop('checked', false);
        }
    }

    function WheelAdapterConfigEdit(tid) {
        $("#WheelAdapterConfigEditModule").html("").load("/WheelAdapterConfig/WheelAdapterEditModule?tid=" + tid);
        $("#WheelAdapterConfigEditModule").dialog({
            title: "编辑五级车型轮毂数据",
            width: 400,
            height: "auto",
            modal: true,
            resizable: false,
            buttons: {
                "保存": function () {
                    SaveWheelAdapterConfig(this);
                },
                "取消": function () {
                    $(this).dialog("close");
                }
            }
        });
    }
    function CheckWheelAdapterConfigLog(tid) {
        $("#WheelAdapterConfigHistoryModule").html("").load("/WheelAdapterConfig/HistoryModule?tid=" + tid);
        $("#WheelAdapterConfigHistoryModule").dialog({
            title: "操作记录",
            width: 400,
            height: "auto",
            modal: true,
            resizable: false
        });
    }
</script>
