<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="rabbitmq" type="Tuhu.MessageQueue.RabbitMQSection, Tuhu.MessageQueue" />
    <section name="zookeeper" type="Tuhu.ZooKeeper.ZooKeeperClientSection, Tuhu.ZooKeeper" />
    <section name="nosql" type="Tuhu.Nosql.Configuration.NosqlConfiguration, Tuhu.Nosql" />
    <section name="redisClient" type="Tuhu.Nosql.Redis.Configuration.RedisCachingSectionHandler, Tuhu.Nosql.Redis" />
    <section name="zooKeeperLocker" type="Tuhu.Component.Framework.ZooKeeper.ZooKeeperLockerSection, Tuhu.Component.Framework" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <!--<arg key="configType" value="INLINE" />-->
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <rabbitmq hostName="172.16.20.1" userName="test" password="itsme999" virtualHost="/dev" />
  <zookeeper sessionTimeOut="30000" server="172.16.20.1" distributedLockPath="/DistributedLock" masterSlavePath="/MasterSlave/Service" />
  <nosql provider="Tuhu.Nosql.Redis.RedisProvider, Tuhu.Nosql.Redis" sectionName="redisClient" prefix="Tuhu.Service.Hosting">
    <expiration>
    </expiration>
  </nosql>
  <redisClient allowAdmin="true" ssl="false" connectTimeout="500" database="1" proxy="Twemproxy">
    <hosts>
      <add host="172.16.20.233" cachePort="6479" />
    </hosts>
  </redisClient>

  <connectionStrings>
    <!--OnlyDevelop-->
    <add name="Gungnir" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="WmsReadOnly" connectionString="data source=172.16.20.1\dev;Initial Catalog=WMS;User ID=WMSUser;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="Tuhu_log" connectionString="data source=172.16.20.1\dev;Initial Catalog=Tuhu_log;User ID=LogUser;Password=itsme999" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Gungnir_BI" connectionString="data source=172.16.20.1\dev;initial catalog=Gungnir;user id=SettingUser;password=itsme999;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Tuhu_BI" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_bi;User ID=LogUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Groupon" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Groupon;Persist Security Info=True;User ID=ShopUser;Password=itsme999;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
    <add name="ThirdParty" connectionString="User ID=APPUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_thirdparty;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_shop" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_shop;Persist Security Info=True;User ID=ShopUser;Password=itsme999;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
    <!--DevelopOnly-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="Off" />
    <machineKey validationKey="8A99723897FCD7361B7B66049FEDC61B121296E6" decryptionKey="3010C2D2CEF3285BA890FD63C67B5DB6E80D31557C91BB70" validation="SHA1" decryption="3DES" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="http://yewu.tuhu.dev/Account/LogOn" timeout="2880" name=".TUHUYEWUSiGN" defaultUrl="/" domain=".tuhu.dev" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <!--OnlyDevelop-->
    <sessionState mode="Custom" customProvider="Redis">
      <providers>
        <add name="Redis" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="172.16.20.233" databaseId="9" ssl="false" applicationName="Yewu/Provisioning" />
      </providers>
    </sessionState>
    <!--DevelopOnly-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
</configuration>
