<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <tuhuEndPointBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://service.tuhu.test:9063/Member/UserIntegral.svc" binding="netTcpBinding" contract="Tuhu.Service.Member.IUserIntegralClient" name="Tuhu.Service.Member.IUserIntegralClient" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>