﻿@using Tuhu.Provisioning.Models;
@{
    ViewBag.Title = "门店排序";
}
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: center;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }

    td {
        width: 250px;
        text-align: center;
    }

    label {
        display: block;
        float: left;
        clear: left;
        width: 150px;
        text-align: right;
        line-height: 30px;
    }

    input {
        display: block;
        float: left;
        clear: right;
        line-height: 30px;
    }

        input::-webkit-input-placeholder {
            text-align: center;
        }
</style>

<div style="width:100%;margin-top:20px;">
    <table style="border:none!important">
        <tr style="height:auto!important">
            <td style="width:auto; text-align:left; border:none!important"><label style="font-size: larger;text-align:left; width:auto!important" for="LngLat">用户坐标： </label><input type="text" placeholder="经纬度" id="LngLat" name="LngLat" value="" /> </td>
            <td style="width:auto; font-size:large; text-align:left;border:none!important"> <a href="http://www.gpsspg.com/maps.htm" target="_blank">地图搜索</a></td>
            <td style="white-space: nowrap; width:auto;font-size:x-small;  text-align:left; border: none!important" colspan="2"> 用户经纬度请点击【地图搜索】输入用户地址查到结果，选择弹出的结果中【百度地图】后面的坐标! </td>
        </tr>
    </table>
    <table style="border:none!important">
        <tr>
            <td style="white-space: nowrap; text-align:center;border:none!important" colspan="2">
                <select style="width:150px;font-size:larger!important" id="province" onChange="CityList(this)">
                    <option value="-1">选择省</option>
                </select>
                <select style="width:150px;font-size:larger!important" id="city" onchange="DistrictList(this)">
                    <option value="-1">选择市</option>
                </select>
                <select style="width:150px;font-size:larger!important" id="district">
                    <option value="-1">选择区</option>
                </select>
            </td>
            <td style="text-align:center; font-size:larger;border:none!important">
                <span>列表类型</span>
                <select id="serviceType">
                    <option value="all">全部门店列表</option>
                    <option value="cosmetology">美容门店列表</option>
                    <option value="install">安装门店列表</option>
                    <option value="tyre">轮胎门店列表</option>
                    <option value="maintain">保养门店列表</option>  
                    <option value="refit">改装门店列表</option>     
                    <option class="book" value="tyreBook">轮胎预约门店列表</option>
                    <option class="book" value="maintainBook">保养预约门店列表</option>
                    <option class="book" value="paintBook">喷漆预约门店列表</option>
                    <option class="book" value="productBook">车品预约门店列表</option>
                </select>
            </td>
            <td style="border:none!important" colspan="1">
                <a href="javascript:void(0)" class="btn" onclick="SearchList(1)">搜索</a>
            </td>
        </tr>
    </table>

    <table id="listdata" style="width:100%;margin-top:20px;">
        <thead>
            <tr>
                <th>排序</th>
                <th>对外店名</th>
                <th>列表类型</th>
                <th>置顶／推荐距离</th>   
                <th>距坐标距离</th>
                <th>BI权重</th>
                <th>BI分值</th>
                <th>BI综合分</th> 
                <th>行政区域</th>
                <th>地址</th>
                <th>覆盖区域</th>
                <th>营业状态</th>
                <th>轮保等级</th>
                <th>评价／订单</th>                           
            </tr>
        </thead>
    </table>
</div>

<table style="display:none" id="Template">
    <tr>
        <td>$id$</td>
        <td>$name$</td>
        <td>$serviceType$</td>
        <td>$distance$</td>
        <td>$coorDistance$</td>
        <td>$BIWeight$</td>
        <td>$BIGrade$</td>
        <td>$comprehensiveScore$</td>
        <td>$district$</td>
        <td>$address$</td>
        <td style="text-align:left">$coverRegion$</td>
        <td>$suspendStatus$</td>
        <td>$tyreLevel$</td>
        <td>$comments$</td>      
    </tr>
</table>

<div style="width:100%; margin: auto;text-align:center!important">
    <a href="javascript:void(0)" id="prevPage" style="display:none" class="prev-page" onclick="LeftPage()">上一页</a>
    <div class="curr-page" style="display:none;display:inline-block" id="currPage"></div>
    <a href="javascript:void(0)" style="display:none" id="nextPage" class="next-page" onclick="RightPage()">下一页</a>
    <select id="jumpPage" style="display:none" onchange="JumpPage(this)"></select>
</div>

<script src="~/Scripts/Shop/Shop.js"></script>
<script type="text/javascript"></script>

