
@{
    ViewBag.Title = "ActivePageDeatil";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .formTitle {
        width:35px;
    }
</style>
<div id="content" style="padding-left:20px;padding-top:20px;">
    @*<form id="form1">
        <table class="form">
            <tr>
                <th class="formTitle" style="width:30px;">名称:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="HomeName" name="HomeName"/>
                </td>
                <th class="formTitle" style="width:30px;">图 标:</th>
                <td class="formValue">
                    <img id="img" width="30" height="30" />
                    <input type="hidden" id="HidBigFHomePic" name="HidBigFHomePic" />
                    <input type="file" id="fileUpload1" name="fileUpdload1" style="display:inline;width:100px;" />
                </td>
                <th class="formTitle" style="width:30px;">链 接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeMobileUrl" name="BigFHomeMobileUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:40px;">网站链接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeWwwUrl" name="BigFHomeWwwUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:30px;">排 序:</th>
                <td class="formValue">
                    <input type="number" id="BigFHomeOrder" name="BigFHomeOrder" class="form-control" disabled="disabled" value="1" />
                </td>
            </tr>
        </table>
    </form>
    <form id="form2">
        <table class="form">
            <tr>
                <th class="formTitle" style="width:30px;">名称:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="HomeName" name="HomeName" />
                </td>
                <th class="formTitle" style="width:30px;">图 标:</th>
                <td class="formValue">
                    <img id="img" width="30" height="30" />
                    <input type="hidden" id="HidBigFHomePic" name="HidBigFHomePic" />
                    <input type="file" id="fileUpload2" name="fileUpdload2" style="display:inline;width:100px;" />
                </td>
                <th class="formTitle" style="width:30px;">链 接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeMobileUrl" name="BigFHomeMobileUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:40px;">网站链接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeWwwUrl" name="BigFHomeWwwUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:30px;">排 序:</th>
                <td class="formValue">
                    <input type="number" id="BigFHomeOrder" name="BigFHomeOrder" class="form-control" disabled="disabled" value="2" />
                </td>
            </tr>
        </table>
    </form>
    <form id="form3">
        <table class="form">
            <tr>
                <th class="formTitle" style="width:30px;">名称:</th>
                <td class="formValue">
                    <input type="text" class="form-control" id="HomeName" name="HomeName" />
                </td>
                <th class="formTitle" style="width:30px;">图 标:</th>
                <td class="formValue">
                    <img id="img" width="30" height="30" />
                    <input type="hidden" id="HidBigFHomePic" name="HidBigFHomePic" />
                    <input type="file" id="fileUpload3" name="fileUpdload3" style="display:inline;width:100px;" />
                </td>
                <th class="formTitle" style="width:30px;">链 接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeMobileUrl" name="BigFHomeMobileUrl" class="form-control" />
                </td>
                <th class="formTitle" style="width:40px;">网站链接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeWwwUrl" name="BigFHomeWwwUrl" class="form-control" />
                </td>
                <th class="formTitle" style="width:30px;">排 序:</th>
                <td class="formValue">
                    <input type="number" id="BigFHomeOrder" name="BigFHomeOrder" class="form-control" disabled="disabled" value="3" />
                </td>
            </tr>
        </table>
    </form>
    <form id="form4">
        <table class="form">
            <tr>
                <th class="formTitle" style="width:30px;">名称:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="HomeName" name="HomeName" />
                </td>
                <th class="formTitle" style="width:30px;">图 标:</th>
                <td class="formValue">
                    <img id="img" width="30" height="30" />
                    <input type="hidden" id="HidBigFHomePic" name="HidBigFHomePic" />
                    <input type="file" id="fileUpload4" name="fileUpdload4" style="display:inline;width:100px;" />
                </td>
                <th class="formTitle" style="width:30px;">链 接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeMobileUrl" name="BigFHomeMobileUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:40px;">网站链接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeWwwUrl" name="BigFHomeWwwUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:30px;">排 序:</th>
                <td class="formValue">
                    <input type="number" id="BigFHomeOrder" name="BigFHomeOrder" class="form-control" disabled="disabled" value="4" />
                </td>
            </tr>
        </table>
    </form>
    <form id="form5">
        <table class="form">
            <tr>
                <th class="formTitle" style="width:30px;">名称:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="HomeName" name="HomeName" />
                </td>
                <th class="formTitle" style="width:30px;">图 标:</th>
                <td class="formValue">
                    <img id="img" width="30" height="30" />
                    <input type="hidden" id="HidBigFHomePic" name="HidBigFHomePic" />
                    <input type="file" id="fileUpload5" name="fileUpdload5" style="display:inline;width:100px;" />
                </td>
                <th class="formTitle" style="width:30px;">链 接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeMobileUrl" name="BigFHomeMobileUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:40px;">网站链接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeWwwUrl" name="BigFHomeWwwUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:30px;">排 序:</th>
                <td class="formValue">
                    <input type="number" id="BigFHomeOrder" name="BigFHomeOrder" class="form-control" disabled="disabled" value="5" />
                </td>
            </tr>
        </table>
    </form>
    <form id="form6">
        <table class="form">
            <tr>
                <th class="formTitle" style="width:30px;">名称:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="HomeName" name="HomeName" />
                </td>
                <th class="formTitle" style="width:30px;">图 标:</th>
                <td class="formValue">
                    <img id="img" width="30" height="30" />
                    <input type="hidden" id="HidBigFHomePic" name="HidBigFHomePic" />
                    <input type="file" id="fileUpload6" name="fileUpdload6" style="display:inline;width:100px;" />
                </td>
                <th class="formTitle" style="width:30px;">链 接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeMobileUrl" name="BigFHomeMobileUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:40px;">网站链接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeWwwUrl" name="BigFHomeWwwUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:30px;">排 序:</th>
                <td class="formValue">
                    <input type="number" id="BigFHomeOrder" name="BigFHomeOrder" class="form-control" disabled="disabled" value="6" />
                </td>
            </tr>
        </table>
    </form>
    <form id="form7">
        <table class="form">
            <tr>
                <th class="formTitle" style="width:30px;">名称:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="HomeName" name="HomeName" />
                </td>
                <th class="formTitle" style="width:30px;">图 标:</th>
                <td class="formValue">
                    <img id="img" width="30" height="30" />
                    <input type="hidden" id="HidBigFHomePic" name="HidBigFHomePic" />
                    <input type="file" id="fileUpload7" name="fileUpdload7" style="display:inline;width:100px;" />
                </td>
                <th class="formTitle" style="width:30px;">链 接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeMobileUrl" name="BigFHomeMobileUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:40px;">网站链接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeWwwUrl" name="BigFHomeWwwUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:30px;">排 序:</th>
                <td class="formValue">
                    <input type="number" id="BigFHomeOrder" name="BigFHomeOrder" class="form-control" disabled="disabled" value="7" />
                </td>
            </tr>
        </table>
    </form>
    <form id="form8">
        <table class="form">
            <tr>
                <th class="formTitle" style="width:30px;">名称:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="HomeName" name="HomeName" />
                </td>
                <th class="formTitle" style="width:30px;">图 标:</th>
                <td class="formValue">
                    <img id="img" width="30" height="30" />
                    <input type="hidden" id="HidBigFHomePic" name="HidBigFHomePic" />
                    <input type="file" id="fileUpload8" name="fileUpdload8" style="display:inline;width:100px;" />
                </td>
                <th class="formTitle" style="width:30px;">链 接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeMobileUrl" name="BigFHomeMobileUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:40px;">网站链接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeWwwUrl" name="BigFHomeWwwUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:30px;">排 序:</th>
                <td class="formValue">
                    <input type="number" id="BigFHomeOrder" name="BigFHomeOrder" class="form-control" disabled="disabled" value="8" />
                </td>
            </tr>
        </table>
    </form>
    <form id="form9">
        <table class="form">
            <tr>
                <th class="formTitle" style="width:30px;">名称:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="HomeName" name="HomeName" />
                </td>
                <th class="formTitle" style="width:30px;">图 标:</th>
                <td class="formValue">
                    <img id="img" width="30" height="30" />
                    <input type="hidden" id="HidBigFHomePic" name="HidBigFHomePic" />
                    <input type="file" id="fileUpload9" name="fileUpdload9" style="display:inline;width:100px;" />
                </td>
                <th class="formTitle" style="width:30px;">链 接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeMobileUrl" name="BigFHomeMobileUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:40px;">网站链接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeWwwUrl" name="BigFHomeWwwUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:30px;">排 序:</th>
                <td class="formValue">
                    <input type="number" id="BigFHomeOrder" name="BigFHomeOrder" class="form-control" disabled="disabled" value="9" />
                </td>
            </tr>
        </table>
    </form>*@
</div>
<script type="text/javascript">
    var keyValue = $.request("keyValue");

    function fileImage() {
        var file = $(this).attr("id");
        var i = file.substring(10, file.length);
        console.log("i:", i);

        $.uploadFile({
            id: $("#fileUpload"+i).attr("id"),
            preBack: function () {
                var size = $("#fileUpload"+i)[0].files[0].size / 1024 * 1.0;
                if (size > 500) {
                    $.modalMsg("上传的图片过大不能超过500KB", "warning");
                    return false;
                } else {
                    return true;
                }

            },
            callBack: function (res) {
                var form = $("#form"+i);
                $('#img',form).attr("src", res.BImage);
                $("#HidBigFHomePic",form).val(res.BImage);
            },
            complete: function () {
                $("#fileUpload"+i).on("change", fileImage);
            }
        });
    }

    function initControl() {
        for (var i = 1; i <= 16; i++)
            $("#fileUpload" + i).on("change", fileImage);
        $.ajax({
            url: "/Activity/ActivePage/GetActivePageDeatilJson",
            data: {
                fkActivePage: keyValue
            },
            async:false,
            dataType: "json",
            success: function (res) {
                if (res) {
                    for (var i = 0; i < res.length; i++) {
                        var form = $("#form" + (i + 1));
                        $("#form" + (i + 1)).formSerialize(res[i]);
                        if (res[i].HidBigFHomePic) {
                            $("#img", form).attr("src", res[i].HidBigFHomePic);
                        }
                        if (res[i].BigFHomeMobileUrl) {
                            $("#BigFHomeMobileUrl", form).val(decodeURIComponent(res[i].BigFHomeMobileUrl));
                        }
                       
                    }
                }
            }
        });
    }

    function submitForm() {
        var array = [];
        for (var i = 1; i <= 16; i++) {
            if (!$('#form' + i).formValid()) {
                return false;
            } else {
                var data = $("#form" + i).formSerialize();
                data.BigFHomeMobileUrl = encodeURIComponent(data.BigFHomeMobileUrl == "&nbsp;" ? "" : data.BigFHomeMobileUrl);
               
                data.FKActiveHome = keyValue;
                array.push(data);
            }
        }
       
        $.submitForm({
            url: "/Activity/ActivePage/SubmitHomeDeatil",
            param: {
                json: JSON.stringify(array),
                fkActivePage:keyValue
            },
            success: function () {
                top.$("#loadingPage").css("display", "none");
                self.$.modalClose();
            }
        })
    }

    function initHtml() {
        
        for (var index = 1; index <= 16; index++) {
            var html = `  <form id="form${index}">
        <table class="form">
            <tr>
                <th class="formTitle" style="width:30px;">名称:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="HomeName" name="HomeName"/>
                </td>
                <th class="formTitle" style="width:60px;">图 标:</th>
                <td class="formValue" style="width:160px;">
                    <img id="img" width="30" height="30" />
                    <input type="hidden" id="HidBigFHomePic" name="HidBigFHomePic" />
                    <input type="file" id="fileUpload${index}" name="fileUpdload${index}" style="display:inline;width:100px;" />
                </td>
                <th class="formTitle" style="width:30px;">链 接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeMobileUrl" name="BigFHomeMobileUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:40px;">网站链接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeWwwUrl" name="BigFHomeWwwUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:40px;">小程序链接:</th>
                <td class="formValue">
                    <input type="text" id="BigFHomeWxAppUrl" name="BigFHomeWxAppUrl" class="form-control required" />
                </td>
                <th class="formTitle" style="width:20px;">排 序:</th>
                <td class="formValue">
                    <input type="number" id="BigFHomeOrder" name="BigFHomeOrder" class="form-control" disabled="disabled" value="${index}" />
                </td>
            </tr>
        </table>
    </form>`;


            $('#content').append(html);
        }
    }

    $(function () {
        initHtml();
         initControl();
    });
</script>
