<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>
  <schedule>
    <job>
      <name>PushAndriodMessageJob</name>
      <group>DefaultJobGroup</group>
      <description>推送Andriod消息</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.PushAndriodMessageJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>PushAndriodMessageJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>PushAndriodMessageJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/5 9-21 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>PushIOSMessageJob</name>
      <group>DefaultJobGroup</group>
      <description>推送IOS消息</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.PushIOSMessageJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>PushIOSMessageJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>PushIOSMessageJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/5 9-21 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>PushMessageForUnregisterJob</name>
      <group>DefaultJobGroup</group>
      <description>为非注册用户推送消息</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.PushMessageForUnregisterJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>PushMessageForUnregisterJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>PushMessageForUnregisterJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/5 9-21 * * ?</cron-expression>
      </cron>
    </trigger>

    <!--推送广播消息-->
    <job>
      <name>PushTaskMassageJob</name>
      <group>DefaultJobGroup</group>
      <description>推送广播消息</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.PushTaskMassageJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>PushTaskMassageJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>PushTaskMassageJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/5 9-20 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>PushTimelyAndroidMessageJob</name>
      <group>DefaultJobGroup</group>
      <description>推送及时安卓消息</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.PushTimelyAndroidMessageJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>PushTimelyAndroidMessageJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>PushTimelyAndroidMessageJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/1 9-21 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>PushTimelyIOSMessageJob</name>
      <group>DefaultJobGroup</group>
      <description>推送及时的IOS消息</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.PushTimelyIOSMessageJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>PushTimelyIOSMessageJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>PushTimelyIOSMessageJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/1 9-21 * * ?</cron-expression>
      </cron>
    </trigger>


    <job>
      <name>PushXiaoMiMessageJob</name>
      <group>DefaultJobGroup</group>
      <description>小米推送</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.TemplatePushMessageJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>PushXiaoMiMessageJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>PushXiaoMiMessageJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/1 9-21 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>LogWxOpenIDJob</name>
      <group>DefaultJobGroup</group>
      <description>记录微信openid</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.LogWeiXinNewUserJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>LogWxOpenIDJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>LogWxOpenIDJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/3 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>WxSubscribeImportJob</name>
      <group>DefaultJobGroup</group>
      <description>公众号订阅粉丝导入</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.WxSubscribeImportJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>

    <!--<job>
      <name>PushWxMessageJob</name>
      <group>DefaultJobGroup</group>
      <description>推送微信消息</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.WeiXinPushJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>LogWxMessageJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>PushWxMessageJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/30 10-20 * * ?</cron-expression>
      </cron>
    </trigger>-->
    <job>
      <name>ZeroActivityReminderJob</name>
      <group>DefaultJobGroup</group>
      <description>众测活动开始时推送消息告知设置过提醒的用户</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.ZeroActivityReminderJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>ZeroActivityReminderJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>ZeroActivityReminderJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/10 * * * ?</cron-expression>
      </cron>
    </trigger>

      <job>
          <name>CalculateMessageInfoJob</name>
          <group>DefaultJobGroup</group>
          <description>统计消息发送状况</description>
          <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.CalculateMessageInfoJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>CalculateMessageInfoJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>CalculateMessageInfoJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 0 0/1 * * ?</cron-expression>
          </cron>
      </trigger>


      <job>
          <name>PushBiTemplateJob</name>
          <group>DefaultJobGroup</group>
          <description>Bi推送</description>
          <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.BiTemplatePushJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>PushBiTemplateJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>PushBiTemplateJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0/15 * 9,12,13,14,17,18,19,20,21 * * ?</cron-expression>
          </cron>
      </trigger>

      <job>
          <name>CalculateSinglePushJob</name>
          <group>DefaultJobGroup</group>
          <description>统计单播消息发送状况</description>
          <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.CalculateSinglePushJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>CalculateSinglePushJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>CalculateSinglePushJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 0/30 * * * ?</cron-expression>
          </cron>
      </trigger>

      <job>
          <name>ProductPushJob</name>
          <group>DefaultJobGroup</group>
          <description>产品推送job</description>
          <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.ProductPushJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>ProductPushJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>ProductPushJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 0/1 * * * ?</cron-expression>
          </cron>
      </trigger>

      <job>
          <name>DeleteErrorMessagesJob</name>
          <group>DefaultJobGroup</group>
          <description>删除ES错误数据job</description>
          <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.DeleteErrorMessagesJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>DeleteErrorMessagesJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>DeleteErrorMessagesJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 0/2 * * * ?</cron-expression>
          </cron>
      </trigger>
      <job>
          <name>RunMonitorJob</name>
          <group>DefaultJobGroup</group>
          <description>Job运行监控</description>
          <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.Job.RunMonitorJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>RunMonitorJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>RunMonitorJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0/30 * * * * ?</cron-expression>
          </cron>
      </trigger>

    <job>
      <name>SendDelayPushJob</name>
      <group>DefaultJobGroup</group>
      <description>延迟推送</description>
      <job-type>Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage.Job.SendDelayPushJob, Tuhu.C.YunYing.WinService.PushJobSchedulerService.PushMessage</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>SendDelayPushJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>SendDelayPushJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 1 8 * * ?</cron-expression>
      </cron>
    </trigger>


  </schedule>
</job-scheduling-data>
