
<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link href="~/Content/iview/iview.css" rel="stylesheet" />
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/iview/iview.min.js"></script>
    <style>
        .ivu-table .demo-table-info-row td {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-error-row td {
            background-color: #ff6600;
            color: #fff;
        }

        .ivu-table td.demo-table-info-column {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-name {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-age {
            background-color: #ff6600;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-address {
            background-color: #187;
            color: #fff;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <br />
        <div>
            门店名称:<i-input v-model="searchShopName" placeholder="请输入门店名称" style="width: 200px"></i-input>
            地区：<i-select v-model="searchProvince" style="width:100px" placeholder="省/直辖市" v-on:on-change="provinceChange()">
                <i-option v-for="item in provinceList" :value="item.name" :key="item.name">{{ item.name }}</i-option>
            </i-select>
            <i-select v-model="searchCity" style="width:150px" placeholder="市/区" v-on:on-change="cityChange()">
                <i-option v-for="item in cityList" :value="item.name" :key="item">{{ item.name }}</i-option>
            </i-select>
            <i-select v-if="noZhiXiaShi" v-model="searchArea" style="width:100px" placeholder="区">
                <i-option v-for="item in areaList" :value="item.name" :key="item.name">{{ item.name }}</i-option>
            </i-select>
            门店经营类型:<i-select v-model="searchShopType" style="width:100px" placeholder="请选择">
                <i-option v-for="item in shopTypeList" :value="item.id" :key="item.id">{{ item.name }}</i-option>
            </i-select>
            商品类目:<i-input v-model="searchCategory" placeholder="请输入商品类目" style="width: 200px"></i-input>
            商品名称:<i-input v-model="searchProName" placeholder="请输入商品名称" style="width: 200px"></i-input>
            是否促销:<i-select v-model="searchSales" style="width:100px" placeholder="请选择">
                <i-option v-for="item in salesList" :value="item.id" :key="item.id">{{ item.name }}</i-option>
            </i-select>
            是否上架:<i-select v-model="searchActive" style="width:100px" placeholder="请选择">
                <i-option v-for="item in activeList" :value="item.id" :key="item.id">{{ item.name }}</i-option>
            </i-select>
            <i-button type="primary" icon="ios-search" v-on:click="searchPage">查询</i-button>
        </div>
        <br />
        <i-table border :columns="columns" :data="tabledata" :loading="spinShow">
        </i-table>

        <div style="margin: 10px;overflow: hidden">
            <div style="float: right;">
                <Page :total="totalCount" :current="currentPage" :page-size="pageSize" show-total v-on:on-change="changePage"></Page>
            </div>
        </div>
    </div>

</body>
<script>
    var vue = new Vue({
        el: '#app',
        data() {
            return {
                columns: [
                    {
                        title: 'PKID',
                        key: 'PKID',
                        width: 80,
                        fixed: 'left'
                    },
                    {
                        title: 'ShopName',
                        key: 'ShopName',
                        width: 150,
                        fixed: 'left'
                    },
                    {
                        title: 'ShopID',
                        key: 'ShopID',
                        width: 100,
                    },
                    {
                        title: 'PID',
                        key: 'PID',
                        width: 180,
                    },
                    {
                        title: 'CategoryId',
                        key: 'CategoryId',
                        width: 120,
                    },
                    {
                        title: 'CategoryName',
                        key: 'CategoryName', width: 150,
                    },
                    {
                        title: 'ProductID',
                        key: 'ProductID', width: 150,
                    },
                    {
                        title: 'ProductName',
                        key: 'ProductName', width: 180,
                    },
                    {
                        title: 'BrandID',
                        key: 'BrandID', width: 100,
                    },
                    {
                        title: 'BrandName',
                        key: 'BrandName', width: 180,
                    },
                    {
                        title: 'ShowName',
                        key: 'ShowName', width: 180,
                    },
                    {
                        title: 'Description',
                        key: 'Description', width: 150,
                    },
                    {
                        title: 'DayLimit',
                        key: 'DayLimit', width: 100,
                    },
                    {
                        title: 'RetailPrice',
                        key: 'RetailPrice', width: 150,
                    },
                    {
                        title: 'IsSale',
                        key: 'IsSale', width: 100,
                    },
                    {
                        title: 'SalePrice',
                        key: 'SalePrice', width: 150,
                    },
                    {
                        title: 'SaleLimit',
                        key: 'SaleLimit', width: 150,
                    },
                    {
                        title: 'GrouponStutas',
                        key: 'GrouponStutas', width: 150,
                    },
                    {
                        title: 'CheckStatus',
                        key: 'CheckStatus', width: 150,
                    },
                    {
                        title: 'CheckMemo',
                        key: 'CheckMemo', width: 150,
                    },
                    {
                        title: 'RecommendationId',
                        key: 'RecommendationId', width: 180,
                    },
                    {
                        title: 'Recommendation',
                        key: 'Recommendation', width: 180,
                    },
                    {
                        title: 'SaleStartDate',
                        key: 'SaleStartDate', width: 180,
                    },
                    {
                        title: 'SaleEndDate',
                        key: 'SaleEndDate', width: 180,
                    },
                    {
                        title: 'IsActive',
                        key: 'IsActive', width: 100,
                    },
                    {
                        title: 'IsDeleted',
                        key: 'IsDeleted', width: 120,
                    },
                    {
                        title: 'CreatedBy',
                        key: 'CreatedBy', width: 180,
                    },
                    {
                        title: 'CreatedTime',
                        key: 'CreatedTime', width: 180,
                    },
                    {
                        title: 'AuditBy',
                        key: 'AuditBy', width: 180,
                    },
                    {
                        title: 'AuditTime',
                        key: 'AuditTime', width: 180,
                    },
                    {
                        title: 'UpdatedBy',
                        key: 'UpdatedBy', width: 180,
                    },
                    {
                        title: 'UpdatedTime',
                        key: 'UpdatedTime', width: 180,
                    },
                    {
                        title: 'AdaptiveCar',
                        key: 'AdaptiveCar', width: 150,
                    },
                    {
                        title: 'ApplyTime',
                        key: 'ApplyTime',
                        width: 180,
                    }],
                tabledata: [],//this.GetDataList(),
                currentPage: 1,
                pageSize: 10,
                searchShopName: '',
                searchProvince: '',
                searchCity: '',
                searchArea: '',
                searchShopType: 0,
                shopTypeList: [
                    { id: 0, name: '全部' },
                    { id: 1, name: '工厂店' },
                    { id: 2, name: '快修店' },
                    { id: 3, name: '维修店' },
                    { id: 4, name: '4S店' }],
                searchCategory: '',
                searchProName: '',
                searchSales: 0,
                salesList: [
                    { id: 0, name: '全部' },
                    { id: 1, name: '是' },
                    { id: 2, name: '否' },
                ],
                searchActive: 0,
                activeList: [
                    { id: 0, name: '全部' },
                    { id: 1, name: '是' },
                    { id: 2, name: '否' },
                ],
                provinceList: [],
                cityList: [],
                areaList: [],
                noZhiXiaShi: true,
                spinShow: false,
            };
        },
        mounted: function () {
            this.getProvinceData();
            this.GetDataList();
        },
        methods: {
            GetDataList() {
                var tableresult = [];
                var _this = this;
                _this.totalCount = 0;
                _this.spinShow = true;
                var searchActive = _this.searchActive;
                var currentPage = _this.currentPage;
                var pageSize = _this.pageSize;
                var searchShopName = _this.searchShopName;
                var searchProvince = _this.searchProvince;
                var searchCity = _this.searchCity;
                var searchArea = _this.searchArea;
                var searchShopType = _this.searchShopType;
                var searchCategory = _this.searchCategory;
                var searchProName = _this.searchProName;
                var searchSales = _this.searchSales;
                var searchRegion = {
                    ProvinceName: searchProvince,
                    CityName: searchCity,
                    AreaName: searchArea
                };

                var postData = {
                    PageIndex: currentPage,
                    PageSize: pageSize,
                    ShopName: searchShopName,
                    ShopType: searchShopType,
                    Category: searchCategory,
                    ProName: searchProName,
                    Sales: searchSales,
                    IsActive: searchActive,
                    Region: searchRegion
                }
                $.ajax({
                    url: "/SE_MDBeautyCategoryProductConfig/GetShopSaleItemForGrouponPageData",
                    type: "post",
                    //async: false,
                    data: { request: postData },
                    success: function (data) {
                        if (data != null && data.total > 0) {
                            _this.totalCount = data.total;
                            tableresult = data.resultData;
                            tableresult.forEach(f => {
                                f.ApplyTime = _this.getDates(f.ApplyTime);
                                f.UpdatedTime = _this.getDates(f.UpdatedTime);

                                f.AuditTime = _this.getDates(f.AuditTime);
                                f.CreatedTime = _this.getDates(f.CreatedTime);

                                f.SaleStartDate = _this.getDates(f.SaleStartDate);
                                f.SaleEndDate = _this.getDates(f.SaleEndDate);

                                f.IsDeleted = f.IsDeleted ? '是' : '否';
                                f.IsActive = f.IsActive ? '是' : '否';
                                f.IsSale = f.IsSale ? '是' : '否';
                            });
                            _this.tabledata = tableresult;
                        }
                        else {
                            _this.tabledata = [];
                        }
                        _this.spinShow = false;
                    },
                    error: function () {
                        alert("服务端异常！");
                        _this.tabledata = [];
                        _this.spinShow = false;
                    }
                });


                //return tableresult;
            },
            changePage(page) {
                // The simulated data is changed directly here, and the actual usage scenario should fetch the data from the server
                this.currentPage = page;
                this.GetDataList();
            },
            getProvinceData() {
                var _this = this;
                $.ajax({
                    url: "/BeautyYearCardConfig/GetAllProvinces",
                    type: "post",
                    async: false,
                    data: {},
                    success: function (data) {
                        if (data != null && data.length > 0) {
                            $(data).each(function (i, e) {
                                _this.provinceList.push({
                                    name: e.name,
                                })
                            })
                        }
                        else {
                            _this.$Notice.warning({
                                title: '获取省市信息异常！',
                                desc: '获取省市信息异常！',
                            });
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });

            },
            provinceChange() {
                var _this = this;
                _this.searchArea = '';
                var zhiXiaShis = ['上海市', '北京市', '天津市', '重庆市'];
                var provinceName = _this.searchProvince;
                if (zhiXiaShis.filter(x => x == provinceName).length > 0) {
                    _this.noZhiXiaShi = false;
                }
                else {
                    _this.noZhiXiaShi = true;
                }
                $.ajax({
                    url: "/SE_MDBeautyCategoryProductConfig/GetAllCitys",
                    type: "post",
                    async: false,
                    data: {
                        provinceName: provinceName
                    },
                    success: function (data) {
                        if (data != null && data.length > 0) {
                            _this.cityList = data;
                        }
                        else {
                            _this.$Notice.warning({
                                title: '获取省市信息异常！',
                                desc: '获取省市信息异常！',
                            });
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });
            },
            cityChange() {
                var _this = this;
                if (_this.noZhiXiaShi == false) {
                    return;
                }
                if (!_this.searchCity) {
                    return;
                }
                var cityName = _this.searchCity;
                $.ajax({
                    url: "/SE_MDBeautyCategoryProductConfig/GetAllAreas",
                    type: "post",
                    async: false,
                    data: {
                        cityName: cityName
                    },
                    success: function (data) {
                        if (data != null && data.length > 0) {
                            _this.areaList = data;
                        }
                        else {
                            _this.$Notice.warning({
                                title: '获取省市信息异常！',
                                desc: '获取省市信息异常！',
                            });
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });

            },
            getDates(e) {
                if (!e) {
                    return '';
                }

                var time = e instanceof Date ? e : eval('new ' + e.toString().replace(/\//g, ""));
                var y = time.getFullYear();
                var m = time.getMonth()+1;
                if (m < 10)
                    m = '0' + m;
                var d = time.getDate();
                if (d < 10)
                    d = '0' + d;
                var h = time.getHours();
                if (h < 10)
                    h = '0' + h;
                var mi = time.getMinutes();
                if (mi < 10)
                    mi = '0' + mi;
                var ss = time.getSeconds();
                if (ss < 10)
                    ss = '0' + ss;
                return y + '-' + m + '-' + d + ' ' + h + ':' + mi + ':' + ss;
            },
            searchPage() {
                this.currentPage = 1;
                this.pageSize = 10;
                this.GetDataList();
            }

        }









    });

</script>