<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.0" targetFramework="net452" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Quartz" version="2.4.1" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.6.0" targetFramework="net452" />
  <package id="Tuhu" version="2.2.0" targetFramework="net452" />
  <package id="Tuhu.MessageQueue" version="2.1.0.0" targetFramework="net452" />
  <package id="Tuhu.Service" version="2.1.4" targetFramework="net452" />
  <package id="Tuhu.Service.Config" version="1.1.4.5" targetFramework="net452" />
</packages>