@{
    ViewBag.Title = "文章管理";
    Layout = "../Shared/_Layout.cshtml";
}
<style>
    .button1 {
        border-radius: 0;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        font-family: "Microsoft Yahei";
        outline: none;
        cursor: pointer;
        background: #0088cc;
        border-color: #0088cc;
    }
</style>

<div style="margin-top:20px;">
    @*<a class="button1" href="/Article/Theme" target="_blank">特推主题</a>
           <a class="button1" href="/Article/Hot" target="_blank">热门管理</a>
        <input class="button1" type="button" value="文章类目管理" onclick="btnEdit()" />*@
    <a class="button1" href="/Article/ArticleManage" target="_blank">文章管理</a>
    <a class="button1" href="/Article/SeekKeyWord" target="_blank">热门搜索词</a>
    <a class="button1" href="/Article/ArticleIndex" target="_blank">文章统计信息</a>
    <a class="button1" href="/ArticleCurrentComment/Index" target="_blank">文章每日阅读数据</a>
    <a class="button1" href="javascript:LoadList(1, 1);">新文章</a>
    <a class="button1" href="javascript:LoadList(1, 2);">专题</a>
    <a class="button1" href="javascript:LoadList(1, 3);">问题</a>
    <a class="button1" href="/ArticleComment" target="_blank">评论审核</a>
    <a class="button1" href="/BlackListConfig/index" target="_blank">黑名单列表</a>
</div>

<style>
    .faqlist {
        width: 100%;
    }

        .faqlist p {
            padding: 0;
            margin: 0;
        }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }
</style>

<div style="clear:both;"></div>
<div style="float:right;">
    <h2>
        <a class="button1" href="javascript:void(0);" onclick="btnAdd('0',0)">(老版)新增文章</a>
        <a class="button1" href="javascript:void(0);" onclick="btnAdd('0',1)">(新版)新增文章</a>
        <a class="button1" href="javascript:void(0);" onclick="btnAdd('0',2)">新增专题</a>
        <a class="button1" href="javascript:void(0);" onclick="btnAdd('0',3)">新增问题</a>
    </h2>
</div>
<div style="clear:both;"></div>

<table>
    <tbody>
        <tr>
            <td>关键字：</td>
            <td>@Html.TextBox("KeyStr")</td>
            <td>开始时间：</td>
            <td><input type="text" style="width:120px" name="StartDateTime" id="StartDateTime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'EndDateTime\')||\'2020-10-01\'}' })" value=""></td>
            <td>结束时间：</td>
            <td><input type="text" style="width:120px"  name="EndDateTime" id="EndDateTime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'StartDateTime\')}', maxDate: '2020-10-01' })" value=""></td>
            <td>标签：</td>
            <td><input type="text" id="txtCategory" /></td>
            <td>文章类目：</td>
            <td>
                <select class="type">
                    <option value="-1">所有</option>
                    <option value="0">老文章</option>
                    <option value="1">新文章</option>
                    <option value="2">专题</option>
                    <option value="3" selected="selected">问题</option>
                    <option value="99">非发现文章</option>
                </select>
            </td>
            <td><input class="button1" type="button" value="搜索" onclick="LoadList(1,-2)" /></td>
        </tr>
    </tbody>
</table>
<br /><br />
<div style="clear:both;"></div>
<table class="faqlist">
    <thead\>
        <tr style="background-color: #5c87b2; color: #ffffff;">
            <th>文章类目</th>
            <th width="40%">文章标题</th>
            <th>文章图</th>
            <th>用户信息</th>
            <th>评论数</th>
            <th>显示发布时间</th>
            <th>管理</th>
            <th>操作日志</th>
        </tr>
    </thead\>
    <tbody id="DataList"></tbody>
</table>
<div id="LookOplog" style="display: none"></div>
<div id="AddItem" style="display: none"></div>
<div id="EditItem" style="display:none;"></div>
<div id="AddReply" style="display:none;">
    <table align="center">
        <tr>
            <input type="hidden" id="ReplyPKID" />
            <td>手机号:</td>
            <td>
                <input type="text" id="ReplyPhone" />
                <span style="color:red;">请输入11位有效手机号码</span>
            </td>
        </tr>
        <tr>
            <td>回答:</td>
            <td>
                <textarea cols="60" rows="5" id="ReplyContent"></textarea>
            </td>
        </tr>
        <tr>
            <td>感谢数:</td>
            <td>
                <input type="text" id="ReplyPraise" />
                <span style="color:red;">请输入数字</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <a class="button1" href="javascript:void(0);" onclick="ReplyManage.Save(3);">确认</a>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="/Scripts/KindEditor/kindeditor.js"></script>
<script type="text/javascript" src="/Content/My97DatePicker/WdatePicker.js"></script>
<script>
    var kdsimple = {
        resizeType: 1,
        allowPreviewEmoticons: false,
        uploadJson: '/Article/ImageUploadToAli?from=content',
        items: [
			'bold', 'italic', 'forecolor', 'underline', 'removeformat', 'link', 'source', 'image'],
        afterChange: function () {
            this.sync();//这个是必须的,如果你要覆盖afterChange事件的话,请记得最好把这句加上.
        }
    };

    $(function () {
        LoadList(1, 3);
        document.onkeydown = function (e) {
            var ev = document.all ? window.event : e;
            if (ev.keyCode == 13) {
                LoadList(1, -2);
            }
        };
    });

    function switchType(type) {
        var list = { 1: "文章", 2: "专题", 3: "问题" };
        return list[type] || "文章";
    }

    function LoadList(pageindex, type) {
        var selectType = -1;
        if (type != -2) {
            selectType = type;
        } else {
            selectType = $(".type").find("option:selected").val();
        }
        $.ajax({
            type: "POST",
            timeout: 10000,
            url: "/Article/ArticleIndex",
            data: {
                "PageIndex": pageindex,
                "KeyStr": $("#KeyStr").val(),
                "StartTime": $("#StartDateTime").val(),
                "EndTime": $("#EndDateTime").val(),
                "CategoryTag":$("#txtCategory").val(),
                "type": selectType
            },
            success: function (result) {
                $(".LoadingObj").remove();
                if (result.ArticleList != "" && result.ArticleList.length > 0) {
                    var kstr = "";
                    var sum = "";
                    var host = location.host.indexOf("tuhu.cn") >= 0 ? "https://faxian.tuhu.cn" : "http://wx.tuhu.unit";
                    $.each(result.ArticleList, function (idx, item) {
                        var contentUrl = item.Type != 3 ? host + "/react/findDetail/?id=" + item.PKID + "&bgColor=%2523ffffff&textColor=%2523333333" : item.ContentUrl;
                        kstr += '<tr>' +
							'<td p-type=\'' + item.Type + '\'>' + '<span style=\'color:#e74c3c;font-weight:bold;\'>【' + switchType(item.Type) + '】</span>' + item.CategoryName + '</td>' +
							'<td>' + item.SmallTitle + '<br/>' + item.BigTitle + '<br/>H5界面：' +contentUrl+ '</br>' +
                              (item.Type == 3 ? '' + item.Content + '' : '') + ' </td>';
                        if (item.Type != 3) {
                            kstr += '<td align="center"><img src="' + item.SmallImage + '" height="80" width="80"/></td>';
                        } else {
                            var imgPics=item.Image;
                            if ($.trim(imgPics) != "" && imgPics != undefined) {
                                var imgUrls = imgPics.split(";");
                                kstr += '<td align="center" style="width:300px">';
                                for (var i = 0; i < imgUrls.length; i++) {
                                    kstr += '<img src="' + imgUrls[i] + '" height="80" width="80"/>';
                                }
                                kstr +='</td>';
                            } else {
                                kstr += '<td align="center"><img src="' + item.SmallImage + '" height="80" width="80"/></td>';
                            }
                        }
                        var userInfos = "";
                        if (item.CreatorInfo != "" && item.CreatorInfo != null) {
                            try {
                                var jsonObj = JSON.parse(item.CreatorInfo);
                                userInfos = jsonObj.UserName;
                            } catch (e) {
                                console.log(e);
                            }                            
                        }
                        kstr += '<td align="center">' + userInfos + '</td>';
                        kstr += '<td align="center"><a target="_blank" href="/ArticleComment/?ID=' + item.PKID + '">' + item.CommentCount + '</a></td>';
                        kstr += '<td>' + item.PublishDateTime + '</td>' +
							'<td>' +
                            '<input type="button" value="编辑" onclick="btnAdd(' + item.PKID + ',' + item.Type + ')" />&nbsp;' +
                            /* '<a href="javascript:void(0)" onclick="Delete(' + item.PKID + ')">删除</a>' + */
                            (item.Type == 3 ? '<input  type="button" value="回答" onclick="ReplyManage.AddReply(' + item.PKID + ')" />&nbsp;<input  type="button" value="删除" onclick="DeleteQuestion(' + item.PKID + ',this)" />' : '') +
                            '&nbsp;<input type="button" data-userid="' + item.CreatorID + '" data-value="' + item.IsShow + '" value="' + (item.IsShow == 1 ? "设置为不显示" : "设置为显示") + '" onclick="ReplyManage.UpdateIsShow(this,' + item.PKID + ',' + item.Type + ')" />' +
                            ((item.CreatorID || "").length > 0 ? '<input  type="button" value="加入黑名单" onclick="ReplyManage.SetBlackList(\'' + item.CreatorID + '\',' + item.PKID + ')" />' : "") +
                            '</td><td><a href="javascript:void(0)" onclick="LookArticleLog(' + item.PKID + ')">查看操作记录</a></td></tr>';
                    });

                    if (pageindex == 1) {
                        $("#DataList").html(kstr);
                    }
                    else {
                        $("#DataList").append(kstr);
                    }
                    if (result.ArticleList.length < 20) {
                        $("#DataList").append('<tr class="LoadingObj"><td colspan="6" align="center" style="color:#cccccc;">没有更多数据了...</td></tr>');
                    }
                    else {
                        $("#DataList").append('<tr class="LoadingObj"><td colspan="6" align="center"><a href="javascript:void(0);" onclick="LoadList(' + (pageindex + 1) + ',' + selectType + ')">加载更多数据...</a></td></tr>');
                    }
                }
                else {
                    if (pageindex == 1) {
                        $("#DataList").html('<tr class="LoadingObj"><td colspan="6" align="center" style="color:#cccccc;">没有更多数据了...</td></tr>');
                    }
                    else {
                        $("#DataList").append('<tr class="LoadingObj"><td colspan="6" align="center" style="color:#cccccc;">没有更多数据了...</td></tr>');
                    }
                }
            },
            beforeSend: function () {
                if (pageindex == 1) {
                    $("#DataList").html('<tr class="LoadingObj"><td colspan="9" align="center"><img src="/Content/images/loading.gif"/> 正在努力为您加载，请稍后...</td></tr>');
                }
                else {
                    $("#DataList").append('<tr class="LoadingObj"><td colspan="9" align="center"><img src="/Content/images/loading.gif"/> 正在努力为您加载，请稍后...</td></tr>');
                }
            }
        });
    }

    function Delete(PKID) {
        if (confirm("确认要删除该条数据吗？")) {
            $.ajax({
                type: "POST",
                timeout: 10000,
                url: "/Article/DeleteArticle",
                data: {
                    "PKID": PKID
                },
                success: function (result) {
                    if (result) {
                        LoadList(1, -2);
                        return false;
                    }
                    else {
                        alert("删除失败");
                        return false;
                    }
                }
            });
        }
    }
    function DeleteQuestion(PKID,obj) {
        if (confirm("确认要删除该条数据吗？")) {
            $.ajax({
                type: "POST",
                timeout: 10000,
                url: "/Article/DeleteQuestion",
                data: {
                    "PKID": PKID
                },
                success: function (result) {
                    if (result) {
                        $(obj).parents("tr").remove();
                        return false;
                    }
                    else {
                        alert("删除失败");
                        return false;
                    }
                }
            });
        }
    }
    function LookArticleLog(PKID) {
        $("#LookOplog").html("").load('/Article/LogList?objectType=ArticleTbl&objectID=' + PKID);
        $("#LookOplog").dialog({
            title: "查看日志",
            width: 850,
            height: 450,
            //  href:'/Logger/list?objectType=ArticleComment',
            modal: true,
            resizable: false,
            buttons: {
                "取消": function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    function btnAdd(PKID, Type) {
        $("#AddItem").load('/Article/AddArticle?PKID=' + PKID + "&type=" + Type, function () {
            KindEditor.create('#Content', kdsimple);
        });
        $("#AddItem").dialog({
            title: "文章管理",
            width: 900,
            height: 810,
            modal: true
        });
    }

    var ReplyManage = {
        AddReply: function (pkid) {
            this.Clear();
            $("#ReplyPKID").val(pkid);
            $("#AddReply").dialog({
                title: "回答",
                width: 550,
                height: 300,
                modal: true
            });
        },
        UpdateIsShow: function (element, pkid, type) {
            var $element = $(element),
                isShow = parseInt($element.attr("data-value") || 0) == 1 ? 0 : 1,
                isShowText = (isShow == 0 ? "设置为显示" : "设置为不显示");
            var userid = $element.attr("data-userid");
            $element.attr("disabled", "disabled");

            var ajaxParams = {
                type: "POST",
                url: "/Article/UpdateArticleToComment",
                data: { "pkid": pkid, "type": type, "isShow": isShow,"UserID":userid },
                success: function (data) {
                    if (data == 1) {
                        $element.val(isShowText);
                        $element.attr("data-value", isShow);
                    }
                    else {
                        alert("操作失败!");
                    }

                    $element.removeAttr("disabled");
                }
            };

            $.ajax(ajaxParams);
            console.log([pkid, type, isShow].join("-"));
        },
        SetBlackList: function (userId, PKID) {
            var ajaxParams = {
                type: "POST",
                url: "/BlackListConfig/AddBlackList",
                data: { "userId": userId },
                success: function (data) {
                    if (data == 1) {
                        alert("添加成功！");
                    }
                    else {
                        alert("添加失败，或当前用户已经添加过！");
                    }
                }
            };
            var ajaxAddLog = {
                type: "POST",
                url: "/Article/AddOperateLog",
                data: { "PKID": PKID, "userId": userId },
                success: function (data) { }
            };
            $.ajax(ajaxParams);
            $.ajax(ajaxAddLog);
        },
        Clear: function () {
            $("#ReplyPKID").val("");
            $("#ReplyPhone").val("");
            $("#ReplyContent").val("");
            $("#ReplyPraise").val("");
        },
        Save: function (_replyType) {
            var _ReplyPhone = $("#ReplyPhone").val(),
                _ReplyContent = $("#ReplyContent").val(),
                _ReplyPraise = $("#ReplyPraise").val(),
                _ReplyPKID = $("#ReplyPKID").val();

            if (isNaN(_ReplyPraise) == false && this.IsMobile(_ReplyPhone)) {
                $.ajax({
                    type: "POST",
                    timeout: 10000,
                    url: "/Article/SaveReply",
                    data: {
                        "replyPhone": _ReplyPhone,
                        "replyContent": _ReplyContent,
                        "replyPraise": _ReplyPraise,
                        "replyPKID": _ReplyPKID,
                        "replyType": _replyType
                    },
                    success: function (result) {
                        if (result == 1) {
                            $("#AddReply").dialog("close");
                            alert("操作成功!");
                        }
                        else if (result == -1) {
                            alert("手机号用户不存在!");
                        }
                        else {
                            alert("操作失败!");
                        }
                    }
                });
            }
            else {
                alert("输入信息有误!");
            }
        },
        IsMobile: function (val) {
            ///<summary>验证是否为手机号</summary>
            if (val.match(/^[1][3|5|7|8]{1}[0-9]{9}$/) != null) {
                return true;
            }
            else {
                return false;
            }
        }
    }

    //文章类目管理
    function btnEdit() {
        $("#EditItem").load('/Article/EditCategory')
        $("#EditItem").dialog({
            title: "文章类目管理",
            width: 450,
            height: 450,
            modal: true,
            draggable: false,
            resizable: false,
            buttons: {
                "保存": function () {
                    //console.log(JSON.stringify(GetTableData()));
                    //return false;
                    $.ajax({
                        type: "POST",
                        url: "/Article/EditCategoryData",
                        data: "categoryStr=" + JSON.stringify(GetTableData()),
                        success: function (msg) {
                            if (msg == '0')
                                alert("保存失败！");
                            else {
                                alert("保存成功！");
                                location = 'ArticleManage';
                            }
                        }
                    });
                    $(this).dialog("close");
                },
                "取消": function () {
                    $(this).dialog("close");
                }
            }
        });
    }
</script>