@using Tuhu.Provisioning.DataAccess.Entity;
@{
    ViewBag.Title = "美容活动配置";
    List<Region> provincelist = ViewBag.ProvinceList as List<Region>;
    List<SE_MDBeautyCategoryConfigModel> category = ViewBag.Prod as List<SE_MDBeautyCategoryConfigModel>;
}

<h2>美容活动配置</h2>
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }
</style>

<div>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="javascript:void(0)" class="btn" onclick="Add()">添加</a>
                </td>
                <td>
                    <input class="Id" type="number" placeholder="活动Id" />
                </td>
                <td>
                    <input class="Name" type="text" placeholder="活动名称" />
                </td>
                <td>
                    <select id="province">
                        <option value="-1">省/自治区/直辖市</option>
                        @foreach (var item in provincelist)
                        {
                            <option pid="0" value="@item.PKID">@item.RegionName</option>
                        }
                    </select>
                </td>
                <td>
                    <select id="city">
                        <option value="-1">市/县/区</option>
                    </select>
                </td>
                <td>
                    <select id="category">
                        <option value="-1">活动类目</option>
                        @foreach (var item in category)
                        {
                            <option pid="0" value="@item.Id">@item.CategoryName</option>
                        }
                    </select>
                </td>
                <td>
                    <select id="status">
                        <option value="-1">生效状态</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </td>

                <td>
                    <input type="button" style="margin-top:0" class="btn" onclick="SearchList()" value="搜索" />
                </td>
                <td>
                    <input type="button" style="margin-top:0" class="btn" onclick="Export()" value="导出" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="listdata"></div>

<script>
    $("#province,#city,#category").filtrateSelect({ height: 200 });
    function Add() {

        window.location.href = "/MeiRongAcitivityConfig/Edit?id=0";
    }

    $(function () {

        $(".listdata").load("/MeiRongAcitivityConfig/list?Status=-1&CategoryId=-1");

        $(".listdata").on("click", ".pager>a", function (event) {
            event.preventDefault();
            if ($(this).attr("href")) {
                $.ajax({
                    type: "POST",
                    url: this.href,
                    data: {
                        "Id": $.trim($(".Id").val()),
                        "Name": $.trim($(".Name").val()),
                        "StrProvince": $("#province").val(),
                        "StrCity": $("#city").val(),
                        "Status": $('#status').val(),
                        "CategoryId": $('#category').val(),
                    },
                    success: function (result) {
                        $(".listdata").html(result);
                    },
                    error: function (result) {
                        alert("失败!")
                    }
                });
            }
        });
    })

    function SearchList() {
        $.ajax({
            type: "POST",
            url: "/MeiRongAcitivityConfig/List",
            data: {
                "Id": $.trim($(".Id").val()),
                "Name": $.trim($(".Name").val()),
                "StrProvince": $("#province").val(),
                "StrCity": $("#city").val(),
                "Status": $('#status').val(),
                "CategoryId": $('#category').val(),
            },
            success: function (result) {
                $(".listdata").html(result);
            },
            error: function (result) {
                alert("失败!")
            }
        });
    };

    function Update(id) {
        window.location.href = "/MeiRongAcitivityConfig/Edit?id=" + id;
    };

    function CompelStart(id) {       
        if (window.confirm("您确定要强制开启吗？")) {
            $.ajax({
                type: "POST",
                url: "/MeiRongAcitivityConfig/CompelStart",
                data: { "id": id },
                dataType: "json",
                success: function (result) {
                    if (result) {
                        window.location.href = "/MeiRongAcitivityConfig/Index";
                    }
                },
                error: function (result) {
                }
            })
        }
    }
    function Delete(id) {
        if (window.confirm("您确定要删除吗？")) {
            $.ajax({
                type: "POST",
                url: "/MeiRongAcitivityConfig/Delete",
                data: { "id": id },
                dataType: "json",
                success: function (result) {
                    if (result) {
                        window.location.href = "/MeiRongAcitivityConfig/Index";
                    }
                    else {
                        alert("删除失败！");
                    }
                },
                error: function (result) {
                }
            })
        }
    }

    function Export() {
        var p = $("#province").val();
        var c = $("#city").val();
        var url = "/MeiRongAcitivityConfig/Export?Id=" + $.trim($(".Id").val()) +
                        "&Name=" + $.trim($(".Name").val()) +
                        "&StrProvince=" + p +
                        "&StrCity=" + c +
                        "&Status=" + $('#status').val() +
                        "&CategoryId=" + $('#category').val();

        window.location.href = url;
    };
    $("#province").change(function () {
        var self = $(this);
        self.val(self.val());
        var sb = '<option value="-1">市/县/区</option>';
        $.get("/MeiRongAcitivityConfig/GetRegion/" + self.val() + "", function (result) {
            if (result.length != 0) {
                for (var i = 0; i < result.length; i++) {
                    sb += '<option pid="' + result[i].ParentID + '" value="' + result[i].PKID + '">' + result[i].RegionName + '</option>';
                }
            }
            $("#city").html(sb);
        });
    });

</script>
