
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LimitAreaSalePid</title>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/iview/iview.min.js"></script>
    <link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/listmenu/js/jquery.min.js"></script>
    <script src="~/Content/ProductVehicleType/js/bootstrap.min.js"></script>
    <script src="https://file-tuhu-cn.alikunlun.com/yewu/oms/scripts/md503.js" type="text/javascript"></script>
    <script src="https://file-tuhu-cn.alikunlun.com/yewu/oms/scripts/verifyBtn.js" type="text/javascript"></script>
    <link href="~/Content/iview/iview.css" rel="stylesheet" />
    <style>
        .ivu-table .demo-table-info-row td {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-error-row td {
            background-color: #ff6600;
            color: #fff;
        }

        .ivu-table td.demo-table-info-column {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-name {
            background-color: #2db7f5;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-age {
            background-color: #ff6600;
            color: #fff;
        }

        .ivu-table .demo-table-info-cell-address {
            background-color: #187;
            color: #fff;
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<fieldset>
    <legend>筛选条件</legend>
    <div id="app" style="margin-left:10px;margin-right:10px;" v-cloak>
        <div>
            <i-select v-model="isLimit" style="width:200px" placeholder="不限">
                <i-option v-for="item in List"   v-bind:value="item.value"  >{{ item.label }}</i-option>
            </i-select>
            <i-input v-model="keyWord" placeholder="请输入Pid" style="width: 200px"></i-input>
            <i-button type="primary" icon="ios-search" v-on:click="searchPage">查询</i-button>
        </div>
        <br />
        <i-table :data="tableData1" :columns="tableColumns1" stripe></i-table>
        <div style="margin: 10px;overflow: hidden">
            <div style="float: right;">
                <Page :total="totalCount" :current="currentPage" :page-size="pageSize" show-total v-on:on-change="changePage"></Page>
            </div>
        </div>
    </div>
</fieldset>
    <!-- 编辑Modal -->
    <div class="modal fade" id="ruleModel" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ruleModalLabel">限制地区销售产品配置</h4>
            </div>
            <div id="app2">
                <div class="modal-body">
                    <form>
                        @*<div  class="loading demo-spin-container" >*@
                            <Spin fix v-show="loading" id="spin">正在初始化对应城市信息，稍等下!</Spin>
                        @*</div>*@
                        <div class="form-group">
                            <label>PID:{{Pid}}</label>
                        </div>
                        <div class="form-group">
                            <label >是否限制地区销售：</label>
                            <select v-model="isLimit" style="width: 200px" class="form-control">
                                <option v-bind:value="0">不限</option>
                                <option v-bind:value="1">限制</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="Save" id="save">保存</button>
                </div>
            </div>
        </div>
    </div>
        </div>
</body>
<script>
    var vm2 = new Vue({
        el: '#app2',
        data: {
            Pid: "",
            isLimit: "",
            loading:false
        },
        methods: {            
            Save() {
                var _this = this;
                $.ajax({
                    url: "/LimitAreaSale/SaveLimitAreaSalePid",
                    type: "post",
                    async: true,
                    beforeSend: function () {
                        console.log(this);

                        _this.loading = true;
                        console.log(_this.loading);
                        console.log(_this);
                        //this.Pid="3333"
                        //alert(this.loading)
                        //$("#spin").css("display", "block" );
                    },
                    data: { pid: this.Pid, isLimit: this.isLimit },
                    success: function (data) {
                        if (data.status == 1) {
                            $('#ruleModel').modal('hide');
                            alert('保存成功！');
                            vm.searchPage();
                        }
                        else {
                            alert('保存失败！');
                        }
                    },
                    complete: function () {
                        _this.loading = false;
                        //$("#spin").css("display", "none" );
                    },
                    error: function() {
                        alert("服务端异常！");
                    }
                });
            }
        },
    });
    var vm = new Vue({
        el: '#app',
        data() {
            return {
                tableData1: this.GetDataList(),
                tableColumns1: [
                    {
                        title: 'PID',
                        key: 'Pid'
                    },
                    {
                        title: '名称',
                        key: 'ProductName'
                    },
                    {
                        title: '是否限制地区销售',
                        key: 'IsLimit'
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 260,
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params.index)
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.refresh(params.index)
                                        }
                                    }
                                }, '刷新缓存'),
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.getlog(params.index)
                                        }
                                    }
                                }, '查看日志')
                            ]);
                        }
                    }
                ],
                isLimit: '0',
                keyWord: "",
                List: [
                    {
                        value: '0',
                        label: '不限'
                    },
                    {
                        value: '1',
                        label: '限制'
                    },
                    //{
                    //    value: '2',
                    //    label: '全部'
                    //}
                ],
                currentPage: 1,
                pageSize: 20,
            }
        },
        methods: {
            GetDataList() {
                var data1 = [];

                var currentpage = this.currentPage;
                if (!currentpage) {
                    currentpage = 1;
                }
                var pagesize = this.pageSize;
                if (!pagesize) {
                    pagesize = 10;
                }
                var keyword = this.keyWord;
                var isLimit = this.isLimit;
                if (!isLimit) {
                    isLimit = 0;
                }
                var postData = {
                    PageIndex: currentpage,
                    PageSize: pagesize,
                    KeyWord: keyword,
                    isLimit: isLimit
                };
                $.ajax({
                    url: "/LimitAreaSale/GetLimitAreaSalePid",
                    type: "post",
                    async: false,
                    data: postData,
                    success: function (data) {
                        if (data != null ) {
                            $(data.Item2).each(function(i, e) {
                                data1.push({
                                    Pid: e.Pid,
                                    ProductName: e.ProductName,
                                    IsLimit: e.IsLimit==0?"否":"是"
                                });
                            });
                            total = data.Item1;
                        }
                    },
                    error: function () {
                        alert("服务端异常！");
                    }
                });
                this.totalCount = total;
                return data1;
            },
            changePage(page) {
                // The simulated data is changed directly here, and the actual usage scenario should fetch the data from the server
                this.currentPage = page;
                this.tableData1 = this.GetDataList();
            },
            searchPage() {
                this.tableData1 = this.GetDataList();
            },
            edit(a) {
                $('#ruleModel').modal('show');
                vm2.Pid = this.tableData1[a].Pid;
                vm2.isLimit = this.tableData1[a].IsLimit == "否" ? "0" : "1";
            },
            getlog(a) {
                var item = this.tableData1[a];
                window.location.href = '/LimitAreaSale/LimitAreaSaleLog?logId=' + item.Pid;
            },
            refresh(a) {
                $.ajax({
                    url: "/LimitAreaSale/Refreshcache?pid=" + this.tableData1[a].Pid,
                    async: false,
                    success: function(data) {
                        if (data.status == 1) {
                            alert('刷新成功！');
                        } else {
                            alert('刷新失败！');
                        }
                    },
                    error: function() {
                        alert("服务端异常！");
                    }
                });
            },
        }
    })
    $("#ruleModel").on("hidden.bs.modal", function () {
        $(this).removeData("bs.modal");
    });
</script>

