@{
    ViewBag.Title = "加油卡配置后台";
}
<style>
    .card a {cursor: pointer;margin-left: 20px;}    
    .card input[type="text"]{ 
        width: 50px;
    }
    .card input[type="checkbox"]{ 
        margin-left: 20px;
    }
    .card button {
        cursor: pointer;
    }
    .value {
        display: inline;
    }
    .buttonItem,.confirm{
        display: inline;
        margin-left: 20px;
    }
    .confirm button {
        margin-left: 10px;
    }
    .confirm input[type="checkbox"] {
        float: left;
    }
    .neirong,.gonggao {
        width: 350px;
        height: 100px;
    }
    .value span {
        display: inline-block;
    }
    .upload {
        margin-left: 60px;
        width: 80px;
        height: 40px;
        cursor: pointer;
    }
    .newcard {
        min-width: 150px;
        width: auto;
        height: auto;
        border: 1px solid #000000;
        display: inline-table;
    }
    .newcard span {
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .newcard button {
        margin: 5px auto 5px 5px;
    }
</style>
<div class="card">
    <h2>加油卡面额/公告配置后台</h2>
    <span>选择加油卡：</span>
    <input type="radio" id="zsh" name="cardType"/><span>中石化</span>
    <input type="radio" id="zsy" name="cardType"/><span>中石油</span>
    <br></br>
    <span>产品：</span>
    <div class="value"></div>
    <p>
    <span style="float: left;">公告内容：</span>
    <textarea class="neirong" placeholder="最多显示50个中文字符"></textarea>
    <p>
    <span style="float: left;">公告链接：</span>
    <textarea class="gonggao" placeholder="不填写时，表示公告为纯文本"></textarea>
    <p>
    <input type="button" value="提交" onclick="UpdateCardInfo()" class="upload"/>
</div>
<select class="vender-template" style="display:none">
    @if (ViewBag.VenderData != null) {
        foreach (var item in ViewBag.VenderData) {
            <option value="@item.VenderID" data-pkid="@item.VenderPKID" data-key="@item.VenderName">@item.VenderShortName</option>
        }
    }
</select>
<script>
    var button = "<div class='buttonItem'><button onclick='AddItem(this)' class='add'>添加</button><button onclick='DeleteItem(this)' style='margin-left: 20px;' class='delete'>删除</<button></div>";

    $(function() {
        $("#zsh").attr("checked", "checked");
        BindData("中石化");
    });
    $("#zsh").click(function() {
        BindData("中石化");
    });
    $("#zsy").click(function() {
        BindData("中石油");
    });

    function BindData(type) {
        $.get("GetValue", { cardType: type }, function(data) {
            var html = "";
            $(".neirong").html("");
            $(".gonggao").html("");
            $(".value").empty();
            if (data.Status) {
                if (data.Data) {
                    var response = data.Data;
                    //$.each(response, function (i, v) {
                    var values = response.FuelCards;
                    var announce = response.AnnounceMent;
                    $.each(values, function(j, k) {
                        if (k.IsActive) {
                            html += "<input type='checkbox' checked='checked'/>";
                        } else {
                            html += "<input type='checkbox'/>";
                        }
                        var venderHtml = "";
                        if (k.VenderID == "GYS222") {
                            venderHtml += "<option value='GYS222' data-pkid='6054' selected='selected' data-key='苏州新科兰德科技有限公司'>苏州新科兰德</option><option data-pkid='6426'  data-key='山东鼎信网络科技有限公司' value='GYS14:46:26'>山东鼎信</option>";
                        } else {
                            venderHtml += "<option value='GYS222' data-pkid='6054' data-key='苏州新科兰德科技有限公司'>苏州新科兰德</option><option selected='selected' data-pkid='6426'  data-key='山东鼎信网络科技有限公司' value='GYS14:46:26'>山东鼎信</option>";
                        }
                        html += "<div class='newcard'>" +
                            "<span class='pid'>PID：</span>" +
                            "<span>" + k.Pid + "</span><br>" +
                            "<span class='mz'>面值：</span>" +
                            "<span>" + k.Value + "</span><br>" +
                            "<span class='price'>售价：</span>" +
                            "<span>" + k.Price + "</span><br>" +
                            "<span class='venderShortName'>供应商：</span>" +
                            "<select class='venderId'>" + venderHtml  + "</select>" +
                            "<button class='DeleteCard' style='display:none'>删除</button>" +
                            "</div>";
                    });
                    $(".neirong").html(announce.Text);
                    $(".gonggao").html(announce.Url);
                    //});
                }
            }
            html += button;
            $(".value").append(html);
            DeleteButtonAble();
        });
    }

    function AddItem(o) {
        var item = $(o);
        item.parent().remove();
        var addItem = "<input type='checkbox'/>" +
            "<div class='newcard'><span class='pid'>PID：</span>" +
            "<input type='text' class='pidAdd' style='width:100px;'/>" +
            "<span style='display:none'></span><br>" +
            "<span class='mz'>面值：</span>" +
            "<span></span><br>" +
            "<span class='price'>售价：</span>" +
            "<span></span><br>" +
            "<span class='venderShortName'>供应商：</span>" +
            "<select class='venderId'>" + $(".vender-template").html() +"</select>"+
            "<button class='ConfirmAdd' disabled='disabled'>确认</button>" +
            "<button class='CancelAdd'>取消</button>" +
            "<button class='DeleteCard' style='display:none'>删除</button>" +
            "</div>";
        $(".value").append(addItem);
        $(".upload").attr({ "disabled": "disabled" });
        $(".pidAdd").bind('input propertychange', function () {
            $(".ConfirmAdd").attr({ "disabled": "disabled" });
            var item = $(this);
            item.parent().find("span[class='mz']").next().text("");
            item.parent().find("span[class='price']").next().text("");
            $.get("GetProductPriceByPid", { pid: item.val() }, function(response) {
                if (response.Status == 1) {
                    item.parent().find("span[class='mz']").next().text(response.MarketPrice);
                    item.parent().find("span[class='price']").next().text(response.ListPrice);
                    item.next().text(item.val());
                    $(".ConfirmAdd").removeAttr("disabled");
                } else if (response.Status == -1) {
                    alert(response.Msg);
                }
            });
        });
        $(".CancelAdd").click(function() {
            $(this).parent().prev().remove();
            $(this).parent().remove();
            $(".value").append(button);
            $(".upload").removeAttr("disabled");
            DeleteButtonAble();
        });
        $(".ConfirmAdd").click(function() {
            var $parent = $(this).parent();
            $parent.find("span[class='pid']").next().remove();
            $parent.find("span[class='pid']").next().show();
            $(this).next().remove();
            $(this).remove();
            $(".value").append(button);
            $(".upload").removeAttr("disabled");
            DeleteButtonAble();
        });
    }

    function DeleteItem(o) {
        var item = $(o);
        item.parent().remove();
        $(".DeleteCard").show();
        $(".DeleteCard").click(function() {
            $(this).parent().prev().hide();
            $(this).parent().hide();
        });
        var deleteItem = "<div class='confirm'><button class='ConfirmDelete'>确认</button><button class='CancelDelete'>取消</button></div>";
        $(".value").append(deleteItem);
        $(".upload").attr({ "disabled": "disabled" });
        $(".CancelDelete").click(function() {
            $(".newcard").prev().show();
            $(".newcard").show();
            $(".DeleteCard").hide();
            $(this).parent().remove();
            $(".value").append(button);
            $(".upload").removeAttr("disabled");
            DeleteButtonAble();
        });
        $(".ConfirmDelete").click(function() {
            var cards = $(".newcard");
            $.each(cards, function() {
                if ($(this).css("display") == "none") {
                    $(this).prev().remove();
                    $(this).remove();
                }
            });
            $(this).parent().remove();
            $(".DeleteCard").hide();
            $(".value").append(button);
            $(".upload").removeAttr("disabled");
            DeleteButtonAble();
        });
    }

    function UpdateCardInfo() {
        var values = [];
        var checkbox = $(".value").find("input[type='checkbox']");
        try {
            $.each(checkbox, function() {
                var pid = $(this).next().find("span[class='pid']").next().text();
                var mz = $(this).next().find("span[class='mz']").next().text();
                var venderId = $(this).next().find("select[class='venderId'] option:selected").val();
                var venderName = $(this).next().find("select[class='venderId'] option:selected").attr("data-key");
                var venderShortName = $(this).next().find("select[class='venderId'] option:selected").text();
                var venderPKID = $(this).next().find("select[class='venderId'] option:selected").attr("data-pkid");
                values.map(function(data) {
                    if (data.Pid == pid) {
                        throw("存在相同的产品id");
                    }
                    if (data.Value == mz) {
                        throw ("存在相同的面值");
                    }
                });
                var value = {};
                if ($(this).attr('checked')) {
                    value = {
                        "Pid": pid,
                        "IsActive": true,
                        "VenderID": venderId,
                        "VenderName": venderName,
                        "VenderShortName": venderShortName,
                        "VenderPKID": venderPKID
                    }
                } else {
                    value = {
                        "Pid": pid,
                        "IsActive": false,
                        "VenderID": venderId,
                        "VenderName": venderName,
                        "VenderShortName": venderShortName,
                        "VenderPKID": venderPKID
                    }
                }
                values.push(value);
            });
        } catch (e) {
            alert(e);
            return;
        }
        if (/^[ ]+$/.test($(".neirong").val()) || $(".neirong").val().length == 0) {
            if ($(".gonggao").val() !== null && $(".gonggao").val() !== "") {
                alert("公告内容未填写，不能单独填写公告链接");
                return;
            }
        }
        if ($(".neirong").val().length > 50) {
            alert("公告内容超过50个字");
            return;
        }
        var announce = { "Text": $(".neirong").val(), "Url": $(".gonggao").val() };
        var name = $('input:radio[name="cardType"]:checked').next().text();
        if (confirm("是否确认操作")) {
            $.post("UpdateFuelCardConfig", { TypeName: name, FuelCards: values, AnnounceMent: announce },
                function (data) {
                    if (data.Status) {
                        alert("更新成功！");
                        window.location.href = "/FuelCard/Index";
                    } else {
                        alert("更新失败," + data.Msg);
                    }
                });
        }
    }

    function DeleteButtonAble() {
        var newcard = $(".newcard");
        if (newcard.length > 0) {
            $(".delete").removeAttr("disabled");
        } else {
            $(".delete").attr({ "disabled": "disabled" });
        }
    }
</script>
