
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
    <link href="@DomainConfig.ResourceSite/Css/Activity/ActiveGlobal.min.css" rel="stylesheet" />
}
<div class="chesf">
    <div class="chesf_bunner">
        <div class="chesf_nav">
            <div class="nav_info">
                <input class="phone_info" type="text" placeholder="请输入您的手机号" />
                <input class="name_info" type="text" placeholder="请输入您的姓名" />
                <input class="tijiao_button" type="submit" value=""/>
            </div>
        </div>  
    </div>
    <div class="chesf_body">
        <div class="chesf_comment">
            <span class="title1">服务流程</span>
            <span class="title2">与客服确认上门检测的时间</span>
            <span class="title3">预约当天，车师傅工作人员会再次与您确认</span>
            <span class="title4">检测人员到达指定地点开始检测（检测时间约35-45分钟）</span>
            <span class="title5">检测完成后，检测报告极速发至手机</span>
            <div style="clear:both; margin-bottom:161px;"></div>
            <div class="chesf_cc">
                <p>关于车师傅</p>
                车师傅，国内第一家真正的第三方汽车顾问服务提供商，为车主提供专业的全面的公正的车况检测&买车陪同服务。通过检测，帮助车主提供更适合的爱车保养维修解决方案。养车修车，从此不再愁！
            </div>
            <div class="chesf_cc">
                <p>检测都包含哪些项目？</p>
                车师傅全面车况检测有超过40项专业深度的检测，大到发动机，小到胶套螺母，行程风险全面规避。<br />20年以上维修经验的检测技师上门服务，专业的指导和解答。为车主提供定制化的修车养车解决方案。
            </div>
            <div class="chesf_cc" style="padding-right:0; width:320px; float:right;">
                <p style="text-align:left; padding-left:150px;">如何预约？</p>
                填写报名表，车师傅客服会主动联络您预约<br />
                <span style="font-size:12px; color:#e91428; font-family:宋体;">*预约时请告知客服途虎账号名，享受赠品和额外优惠活动</span>
            </div>
        </div>
    </div>
</div>

