@{
    ViewBag.Title = "App配置生成器";

}
<style type="text/css">
    .toolar {
        border-bottom-color: black;
        border-bottom: solid;
    }

    html body {
        width: 100%;
    }

    div form table {
        width: 60%;
    }

        div form table input[type=text] {
            width: 400px;
        }

    textarea {
        width: 600px;
        height: 160px;
    }

    a {
        width: 120px;
        color: black;
        text-decoration: none;
        font-size: 0.9rem;
        font-family: Arial '微软雅黑';
        margin-left: 20px;
    }

    .copy {
        width: 100%;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
</style>


<div class="toolar">
    <input type="button" class="btn" id="general" value="常 规" />
    <input type="button" class="btn" id="deepshare" value="分享+推送" />
    <input type="button" class="btn" id="find" value="发现" />

</div>

<div class="copy">
    <a href="javascript:void(0)" id="general_Android">Android复制</a>
    <a href="javascript:void(0)" id="general_IOS">IOS复制</a>
</div>
<center>
    <div class="general">
        <div class="title">常规</div>
        <div class="content">

            <form id="general_form">

                <table>
                    <tr>
                        <td>IOS车型要求:</td>
                        <td>
                            <select id="carType">
                                <option value="0">请选择</option>
                                <option value="5">5级车型(做保养)</option>
                                <option value="3">3级车型（买轮胎）</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" value="" id="ios_login" />IOS强制登录
                        </td>
                        <td>
                            <input type="checkbox" value="" id="ios_callback" />IOS多级返回
                        </td>
                    </tr>
                    <tr>
                        <td>保养服务:</td>
                        <td>
                            <input type="text" value="" id="baoyangServer" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="button" value="生成" id="btnGenerator" />
                        </td>
                    </tr>
                    <tr>
                        <td>Android:</td>
                        <td>
                            <textarea id="android" readonly="readonly"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>IOS:</td>
                        <td>
                            <textarea id="ios" readonly="readonly"></textarea>

                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</center>

<center>
    <div class="deepshare" style="display:none">
        <div class="title">分享+推送</div>
        <form id="deepshare_form">
            <table>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" id="msgSend" />短信推送
                    </td>
                </tr>
                <tr>
                    <td>IOS车型要求:</td>
                    <td>
                        <select id="carType">
                            <option value="0">请选择</option>
                            <option value="5">5级车型(做保养)</option>
                            <option value="3">3级车型（买轮胎）</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" value="" id="ios_login" />IOS强制登录

                    </td>
                    <td>
                        <input type="checkbox" value="" id="ios_callback" />IOS多级返回
                    </td>
                </tr>
                <tr>
                    <td>
                        微信URL：
                    </td>
                    <td>
                        <input type="text" value="" id="wxURL" />
                    </td>
                </tr>
                <tr>
                    <td>
                        APP内URL：
                    </td>
                    <td>
                        <input type="text" value="" id="appURL" />
                    </td>
                </tr>
                <tr>
                    <td>分享图：</td>
                    <td>
                        <img id="imgPic" width="30px" height="30px" />
                        <input type="hidden" id="txtDSPicture" />
                        <input type="file" id="filePic" name="filePic" />
                    </td>
                </tr>
                <tr>
                    <td>
                        分享标题:
                    </td>
                    <td>
                        <input type="text" value="" id="Title" />
                    </td>
                </tr>
                <tr>
                    <td>分享描述:</td>
                    <td>
                        <textarea id="DSDescribe"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" value="生 成" id="btnGenerator" />
                    </td>
                </tr>
                <tr>
                    <td>Android:</td>
                    <td>
                        <textarea id="android" readonly="readonly"></textarea>

                    </td>
                </tr>
                <tr>
                    <td>IOS:</td>
                    <td>
                        <textarea id="ios" readonly="readonly"></textarea>

                    </td>
                </tr>
                <tr>
                    <td>活动页配置分享参数:</td>
                    <td>
                        <textarea id="txtdeepshare" readonly="readonly"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</center>

<center>
    <div class="find" style="display:none">
        <div class="title">发现</div>
        <form id="find_form">
            <table>
                <tr>
                    <td>文章ID：</td>
                    <td>
                        <input type="text" value="" id="newsID" />
                    </td>
                </tr>
                <tr>
                    <td>分享图:</td>
                    <td>
                        <img id="imgPic" width="30px" height="30px" />
                        <input type="hidden" value="" id="txtPIC" />
                        <input type="file" id="findPic" name="findPic" />
                    </td>
                </tr>
                <tr>
                    <td>小标题:</td>
                    <td>
                        <input type="text" value="" id="STitle" />
                    </td>
                </tr>
                <tr>
                    <td>
                        大标题:
                    </td>
                    <td>
                        <input type="text" value="" id="BTitle" />
                    </td>
                </tr>
                <tr>
                    <td>文章描述:</td>
                    <td>
                        <textarea id="newDec"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>文章地址:</td>
                    <td>
                        <input type="text" value="" id="address" />
                    </td>
                </tr>
                <tr>
                    <td>点赞数:</td>
                    <td>
                        <input type="text" value="" id="laund" />
                    </td>
                </tr>
                <tr>
                    <td>收藏数:</td>
                    <td>
                        <input type="text" id="collect" />
                    </td>
                </tr>
                <tr>
                    <td>评论数:</td>
                    <td>
                        <input type="text" id="discuss" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" value="生 成" id="btnGenerator" />
                    </td>
                </tr>
                <tr>
                    <td>Android:</td>
                    <td>
                        <textarea id="android" readonly="readonly"></textarea>

                    </td>
                </tr>
                <tr>
                    <td>IOS:</td>
                    <td>
                        <textarea id="ios" readonly="readonly"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</center>


<input type="hidden" id="hidForm" value="general_form" />
<script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-zclip-master/jquery.zclip.js" type="text/javascript"></script>

<script type="text/javascript">

    $('#general').click(function () {
        $('.general').show();
        $('.deepshare').hide();
        $('.find').hide();
        $('#hidForm').val('general_form');
    });


    $('#deepshare').click(function () {
        $('.deepshare').show();
        $('.general').hide();
        $('.find').hide();
        $('#hidForm').val('deepshare_form');
    });

    $('#find').click(function () {
        $('.find').show();
        $('.general').hide();
        $('.deepshare').hide();
        $('#hidForm').val('find_form');
    });

    $('#general_form #btnGenerator').click(function () {

        var form = $('#general_form');
        var android = $('#android', form);
        var ios = $('#ios', form);
        var carType = $('#carType', form).val();
        var iosJosn = {};
        var androidJson = {};

        if (carType != 0) {
            iosJosn.needCarLevel = carType;
        }

        var baoyangServer = $('#baoyangServer', form).val();
        if (baoyangServer != '') {
            androidJson.baoyangType = baoyangServer;
            iosJosn.types = baoyangServer;
        }

        if ($('#ios_login', form).attr("checked")) {
            iosJosn.needLogin = 1;
        }

        if ($('#ios_callback', form).attr("checked")) {
            iosJosn.forceBack = 0;
        }

        android.val('[' + JSON.stringify(androidJson) + ']');
        ios.val(JSON.stringify(iosJosn));

    });

    $('#deepshare_form [id=wxURL]').focusout(function () {
        var url = $(this).val();
        if (url != '') {
            //$(this).val(url + "&type=2")
        }
    });

    $('#deepshare_form #btnGenerator').click(function () {
        var form = $('#deepshare_form');
        var android = $('#android', form);
        var ios = $('#ios', form);
        var carType = $('#carType', form).val();
        var iosJosn = {};
        var androidJson = {};

        if (carType != 0) {
            iosJosn.needCarLevel = carType;
        }

        if ($('#ios_login', form).attr("checked")) {
            iosJosn.needLogin = 1;
        }

        if ($('#ios_callback', form).attr("checked")) {
            iosJosn.forceBack = 0;
        }

        var img = $('#txtDSPicture', form).val();
        var title = $('#Title', form).val();
        var dec = $('#DSDescribe', form).val();
        var url = $('#wxURL', form).val();
        var androidArry = new Array();

        if (title != '') {
            var shareUrlJson = {};
            var shareImageJson = {};
            var shareTitleJson = {};
            var shareDescripJson = {};

            shareUrlJson.shareUrl = url + "&type=2&utm_source=1";
            androidArry.push(shareUrlJson);
            shareImageJson.shareImage = img;
            androidArry.push(shareImageJson);
            shareTitleJson.shareTitle = title;
            androidArry.push(shareTitleJson);
            shareDescripJson.shareDescrip = dec;
            androidArry.push(shareDescripJson);

            iosJosn.shareUrl = url + "&type=2&utm_source=1";
            iosJosn.shareImage = img;
            iosJosn.shareTitle = title;
            iosJosn.shareDescrip = dec;

            android.val(JSON.stringify(androidArry));
            ios.val(JSON.stringify(iosJosn));

        }

        if ($('#msgSend', form).attr("checked")) {
            var appurl = $('#appURL', form).val();
            iosJosn.Type = 2;
            iosJosn.URL = appurl;
            iosJosn.shareImage = img;
            iosJosn.shareTitle = title;
            iosJosn.shareDescrip = dec;
            iosJosn.shareUrl = url + "&type=2&utm_source=1";;

            //编码base64String
            var longUrl = url + "&type=2&utm_source=1&data=" + base64encode(JSON.stringify(iosJosn));
            var urlDecode = base64decode(longUrl);
            console.log(urlDecode);
            var urlEncode = base64encode(urlDecode);
            console.log(urlEncode);

            //赋值
            android.val(longUrl);
            ios.val(longUrl);
            $('#txtdeepshare').val(JSON.stringify(iosJosn));
            // $("$carType", form).val(urlEncode);
        }

    });


    $('#deepshare_form #msgSend').change(function () {
        var form = $('#deepshare_form');
        if ($(this).attr("checked")) {
            $('#carType', form).val(0);
            $('#carType', form).attr("disabled", "disabled");
            $('#ios_login', form).removeAttr("checked");
            $('#ios_login', form).attr("disabled", "disabled");

            $('#ios_callback', form).removeAttr("checked");
            $('#ios_callback', form).attr("disabled", "disabled");

        } else {
            $('#carType', form).removeAttr("disabled");
            $('#ios_login', form).removeAttr("disabled");
            $('#ios_callback', form).removeAttr("disabled");
        }
    });

    $('#deepshare_form #filePic').change(function () {
        var pobj = $(this);

        var fileSize = pobj[0].files[0].size / 1024 * 1.0;
        if (fileSize.toFixed(2) > 400) {
            $.messager.alert("提示", "上传图片失败！图片不能超过400K");
            return;
        }
        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(this).attr("id");
        console.log(fileElId);
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $("#deepshare_form #imgPic").attr("src", result.SImage);
                    $("#deepshare_form #txtDSPicture").val(result.BImage);
                    console.log(result);
                } else {
                    alert("上传失败！");
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    });

    $('#find_form #btnGenerator').click(function () {
        var form = $('#find_form');
        var android = $('#android', form);
        var ios = $('#ios', form);

        var id = $('#newsID', form).val();
        var img = $('#txtPIC', form).val();
        var stitle = $('#STitle', form).val();
        var btitle = $('#BTitle', form).val();
        var newDec = $('#newDec', form).val();

        var address = $('#address', form).val();
        var laund = $('#laund', form).val();
        var collect = $('#collect', form).val();
        var discuss = $('#discuss', form).val();
        var androidJSON = '[{"Source":"{"PKID":"' + id + '","SmallImage":"' + img + '","SmallTitle":"' + stitle + '","BigTitle":"' + btitle + '","Brief":"' + newDec + '","ContentUrl":"' + address + '","CommentTimes":' + discuss + ',"Vote":' + laund + '}"} ]';
        var iosJosn = '{"discoverModel<THDiscoverModel>":{"PKID":' + id + ',"targetUrl":"' + address + '","title":"' + btitle + '","favorCount":"' + collect + '","commentCount":' + discuss + ',"shareTitle":"' + stitle + '","Brief": "' + newDec + '","shareImage":"' + img + '"}';

        android.val(androidJSON);
        ios.val(iosJosn);
    });

    $('#find_form #findPic').change(function () {
        var pobj = $(this);

        var fileSize = pobj[0].files[0].size / 1024 * 1.0;
        if (fileSize.toFixed(2) > 400) {
            $.messager.alert("提示", "上传图片失败！图片不能超过400K");
            return;
        }
        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(this).attr("id");
        console.log(fileElId);
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $("#find_form #imgPic").attr("src", result.SImage);
                    $("#find_form #txtPIC").val(result.BImage);
                    console.log(result);
                } else {
                    alert("上传失败！");
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    });

    $('#general_form #btnIOS').click(function () {

        var value = $('#general_form #ios').val();
        alert(value);
    });

    $(function () {
        var form = $('#general_form');

        $("#general_Android").zclip({
            path: '/Scripts/jquery-zclip-master/ZeroClipboard.swf', //记得把ZeroClipboard.swf引入到项目中
            copy: function () {
                var form = $('#' + $('#hidForm').val());
                //general_form
                return $('#android', form).val();
            },
            afterCopy: function () {
                alert("复制成功！");
            }
        });
        $("#general_IOS").zclip({
            path: '/Scripts/jquery-zclip-master/ZeroClipboard.swf', //记得把ZeroClipboard.swf引入到项目中
            copy: function () {
                var form = $('#hidForm').val();
                return $('#' + form + ' #ios').val();
            },
            afterCopy: function () {
                alert("复制成功！");
            }
        });
    });

    var base64EncodeChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";

    var base64DecodeChars = new Array(
        -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
        -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
        -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 62, -1, -1, -1, 63,
        52, 53, 54, 55, 56, 57, 58, 59, 60, 61, -1, -1, -1, -1, -1, -1,
        -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,
        15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, -1, -1, -1, -1, -1,
        -1, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
        41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, -1, -1, -1, -1, -1);

    //编码的方法
    function base64encode(str) {
        var out, i, len;
        var c1, c2, c3;
        len = str.length;
        i = 0;
        out = "";
        while (i < len) {
            c1 = str.charCodeAt(i++) & 0xff;
            if (i == len) {
                out += base64EncodeChars.charAt(c1 >> 2);
                out += base64EncodeChars.charAt((c1 & 0x3) << 4);
                out += "==";
                break;
            }
            c2 = str.charCodeAt(i++);
            if (i == len) {
                out += base64EncodeChars.charAt(c1 >> 2);
                out += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
                out += base64EncodeChars.charAt((c2 & 0xF) << 2);
                out += "=";
                break;
            }
            c3 = str.charCodeAt(i++);
            out += base64EncodeChars.charAt(c1 >> 2);
            out += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
            out += base64EncodeChars.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6));
            out += base64EncodeChars.charAt(c3 & 0x3F);
        }
        return out;
    }

    //解码的方法
    function base64decode(str) {
        var c1, c2, c3, c4;
        var i, len, out;
        len = str.length;
        i = 0;
        out = "";
        while (i < len) {

            do {
                c1 = base64DecodeChars[str.charCodeAt(i++) & 0xff];
            } while (i < len && c1 == -1);
            if (c1 == -1)
                break;

            do {
                c2 = base64DecodeChars[str.charCodeAt(i++) & 0xff];
            } while (i < len && c2 == -1);
            if (c2 == -1)
                break;
            out += String.fromCharCode((c1 << 2) | ((c2 & 0x30) >> 4));

            do {
                c3 = str.charCodeAt(i++) & 0xff;
                if (c3 == 61)
                    return out;
                c3 = base64DecodeChars[c3];
            } while (i < len && c3 == -1);
            if (c3 == -1)
                break;
            out += String.fromCharCode(((c2 & 0XF) << 4) | ((c3 & 0x3C) >> 2));

            do {
                c4 = str.charCodeAt(i++) & 0xff;
                if (c4 == 61)
                    return out;
                c4 = base64DecodeChars[c4];
            } while (i < len && c4 == -1);
            if (c4 == -1)
                break;
            out += String.fromCharCode(((c3 & 0x03) << 6) | c4);
        }
        return out;
    }
</script>