@{
    ViewBag.Title = "问答题库";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>

    /*复选框样式*/
    .cbox {
        height: 30px;
        margin-top: auto;
        margin-bottom: auto;
    }
</style>
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" style="margin-right: 10px;" onclick="BatchDelete(null)"><span class="fa fa-remove">删 除</span></a>
            <a class="btn btn-primary" style="margin-right: 10px;" onclick="enabled()"><span class="fa fa-eye">启 用</span></a>
            <a class="btn btn-primary" style="margin-right: 10px;" onclick="disabled()"><span class="fa fa-remove">禁 用</span></a>
            <a class="btn btn-primary" style="margin-right: 10px;" onclick="Export()"><span class="fa fa-pencil-square-o">导入数据</span></a>
            <input type="file" id="uploadFile" name="uploadFile" style="display: none;" onchange="uploadFile(this)" />
            <a class="btn btn-primary" style="margin-right: 10px;" onclick="reload()"><span class="fa fa-refresh">刷新缓存</span></a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <select id="txt_showEnabledType" class="form-control" style="width: 200px;">
                            <option value="-1">全部显示</option>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="题目" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
<script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script type="text/javascript">
    function gridList() {
        var $gridList = $('#gridList');

        $gridList.dataGrid({
            height: $(window).height() - 118,
            url: '/Answer/GetGridJson',
            colModel: [
                { label: "PKID", name: "PKID", width: 120, align: "center", hidden: true },
                { label: "标 题", name: "Tip", width: 120, align: 'left' },
                { label: "题 目", name: "Answer", width: 200, align: "left" },
                { label: "选项A", name: "OptionsA", width: 200, align: "left" },
                { label: "选项B", name: "OptionsB", width: 100, align: "left" },
                { label: "选项C", name: "OptionsC", width: 100, align: "left" },
                { label: "选项D", name: "OptionsD", width: 100, align: "left" },
                { label: "正确选项", name: "OptionsReal", width: 60, align: "left" },
                {
                    label: "是否启用", name: "IsEnabled", width: 50, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: "操作", name: "", width: 50, align: "center",
                    formatter: function (cellvalue) {
                        return " <a class='btn btn-primary' onclick='Delete(this)'><span class='fa fa-remove'>删除</span></a>";
                    }
                },
            ],
            viewrecords: true,
            multiselect: true,
            pager: "#gridPager",
            sortname: "PKID desc",
            rowNum: 20,
            rowList: [10, 20, 30],
        });

        $("#btn_search").click(function () {
            //$gridList.jqGrid('setGridParam', {
            //    postData: { keyword: $("#txt_keyword").val() },
            //    page: 1
            //}).trigger('reloadGrid');
            pageReload();
        });
    }
    function Delete(that) {
        //debugger
        var id = $(that).parent().parent().find('[aria-describedby="gridList_PKID"]').text();
        var ids = [];
        ids.push(id);
        BatchDelete(ids);
    }

    function BatchDelete(ids) {
        //debugger
        var pkids = [];
        if (ids == null || ids.length == 0) {
            var ids = $('#gridList').jqGrid("getGridParam", "selarrrow");
            $(ids).each(function (index, id) {
                var row = $("#gridList").jqGrid('getRowData', id);
                pkids.push(row.PKID);
                console.log(row.PKID);
            });
        }
        else {
            pkids = ids;
        }
        if (pkids == null || pkids.length == 0) {
            alert("请选择数据后 进行删除");
            return;
        }
        var msg = "您真的确定要删除吗？\n\n请确认！";
        if (confirm(msg)) {
            //alert(pkids);
            $.post("/Answer/DeleteAnswer",
                { pkids: pkids },
                function (data) {
                    if (data.Status == 1) {
                        alert("删除成功");
                        pageReload();
                    }
                    else {
                        alert(data.Error);
                    }
                });
        }


    }
    function enabled() {
        var ids = $('#gridList').jqGrid("getGridParam", "selarrrow");
        var pkids = [];
        $(ids).each(function (index, id) {
            //由id获得对应数据行
            var row = $("#gridList").jqGrid('getRowData', id);
            pkids.push(row.PKID);
            console.log(row.PKID);
        });
        $.post("/Answer/UpdateIsEnabled",
            { ids: pkids.join(","), enabled: true },
            function (data) {
                if (data.code == 1) {
                    alert("启用成功");
                    pageReload();
                }
            });
    }
    function disabled() {
        var ids = $('#gridList').jqGrid("getGridParam", "selarrrow");
        var pkids = [];
        $(ids).each(function (index, id) {
            //由id获得对应数据行
            var row = $("#gridList").jqGrid('getRowData', id);
            pkids.push(row.PKID);
            console.log(row.PKID);
        });
        $.post("/Answer/UpdateIsEnabled",
            { ids: pkids.join(","), enabled: false },
            function (data) {
                if (data.code == 1) {
                    alert("禁用成功");
                    pageReload();
                }
            });
    }

    function uploadFile(obj) {
        debugger
        var fileElId = $(obj).attr("id");
        var rd = Math.ceil(Math.random() * 9999) + 1;
        $.ajaxFileUpload({
            url: '/Answer/AddExport?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                console.log(result);
                if (result.Status == 1) {
                    alert(result.Error);
                    //location.reload();
                  
                    pageReload();
                } else {
                    alert(result.Error);
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            },
            complete: function () { $('#uploadFile').val(""); }


        });
    }

    $(function () {
        gridList();
        $("#txt_showEnabledType").on("change",
            function () {
                var showEnabledType = $(this).val();
                $('#gridList').jqGrid('setGridParam',
                    {
                        postData:
                            {
                                showEnabledType: showEnabledType
                            },
                        page: 1
                    }).trigger('reloadGrid');
            });
    });

    function Export() {
        //debugger
        $('#uploadFile').trigger('click');
    }

    //刷新 缓存
    function reload() {
        $.ajax({
            url: "/Answer/Reload",
            dataType: 'json',
            success: function (res) {
                if (res.Code == 1) {
                    alert(res.Msg);
                } else {
                    alert(res.Msg);
                }
            }

        })
    }


    function pageReload() {
        //debugger
        //var page = $('#gridList').getGridParam('page');
        //$('#gridList').jqGrid('setGridParam', {
        //    postData: { keyword: $("#txt_keyword").val() },
        //    page: page
        //}).trigger('reloadGrid');
        $('#gridList').jqGrid('setGridParam', {
            postData: { keyword: $("#txt_keyword").val() },
            page: 1
        }).trigger('reloadGrid');
        //location.reload();
    }

</script>
