@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "企业客户合作专区配置";
}

<h2 style="font-size:2em;color:#000;padding:0 0 10px 0;width:250px">企业客户合作专区配置</h2>
<link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
<style type="text/css">
    .buttonStyle { background: #50c16a; border: none; color: azure; box-shadow: 1px 1px 1px #eee8aa; width: 50px; height: 26px; border-radius: 3px; outline: none; cursor: pointer; font-size: 15px; font-family: "Microsoft Yahei"; }

    .buttonStyle:hover { background-color: #008b8b; border-color: #008b8b; }
    .buttonStyleHidden { background: #808080; }
    .buttonStyleHidden:hover { background: #808080; }
    .ui-dialog { width: auto; }
</style>

<div>
    <form>
        <div>
            <input type="button" id="btn_submit" value="增加渠道" style="width:80px" class="buttonStyle" onclick="addConfig()" />
        </div>
    </form>
    <div id="div_table" style="width:100%;margin-top:10px">
        <table class="tableContainer" style="width:100%;text-align:center;margin-bottom:20px">
            <tr>
                <th style="text-align:center">活动渠道</th>
                <th style="text-align:center">活动链接</th>
                <th style="text-align:center">创建时间</th>
                <th style="text-align:center">更新时间</th>
                <th style="text-align:center">操作</th>
            </tr>
        </table>
    </div>
    <div id="PageLoadingEffects" style="display:none;">
        <table>
            <tr>
                <td><img src="/Images/loading.gif" /></td>
                <td>玩命加载中，请稍后...</td>
            </tr>
        </table>
    </div>
    <input id="pageIndex" type="hidden" value="1" />
    <input id="totalPage" type="hidden" />
    <span class="count">
        <input id="pageNum" type="hidden" value="1" />
        <input id="firstPage" type="button" onclick="Search('1')" value="首页" />
        <input id="lastPage" type="button" onclick="Search('lastPage')" value="上一页" />
        <input id="nextPage" type="button" onclick="Search('nextPage')" value="下一页" />
        <input id="tailPage" type="button" onclick="Search('tailPage')" value="尾页" />
        <input id="skipPage" type="button" value="跳转到" onclick="Search('skipPage')" />
        <input id="jumpPage" type="text" style="width: 30px" />
    </span>
    <span id="PageDetail" class="count"></span>
    <span id="PageDetailTemplate" class="count" style="display: none">
        <label>当前第$pageNum$页</label>
        <label>共$pageCount$页</label>
        <label>共$count$条记录</label>
    </span>
</div>
<script src="/Scripts/ajaxfileupload.js"></script>
<script src="/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
<script src="/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>
<script type="text/javascript">
    $(function () {
        Search(1);
    });

    function DelConfig(pkid) {
        if (confirm("是否确认删除？(删除后券码及对应的手机号都会删除)")) {
            $.post("DeletedCompanyClientConfig", { pkid, pkid}, function(result) {
                if (result.status == "success") {
                    alert("操作成功");
                    Search(1);
                } else {
                    alert("操作失败");
                }
            });
        }
    }

    function SearchLog(pkid) {
        var html = "<table style='width:100%'><tr><td>消息</td><td>备注</td><td>操作人</td><td>时间</td></tr>";
        var d = dialog({
            title: "操作日志",
            width: 600,
            height: 500,
            fixed: true,
            button: [
                {
                    value: "取消"
                }
            ]
        });

        $.post("SelectOperationLog", { objectId: pkid }, function (result) {
            if (result.length > 0) {
                $.each(result, function (index) {
                    html += "<tr><td>" + result[index].Message + "</td><td>" + result[index].Remarks + "</td><td>" + result[index].Operator + "</td><td>" + formatTime(result[index].CreatedTime) + "</td></tr>";
                });
            }
            html += "</table>";
            d.content(html);
            d.showModal();
        });
    }

    function EditConfig(o, pkid) {
        var $item = $(o).parent().parent();
        var channel = $item.find("td").eq(0).html();
        var url = $item.find("td").eq(1).find("a").html();
        var html = "<table style='width:100%;height:100%;text-align:center'><tr><td>活动渠道</td><td><input style='width:100%' class='channel' value=" + channel + " /></td></tr><tr><td>活动链接</td><td><input class='url' style='width:100%' value=" + url + " /></td></tr></table>";
        var d = dialog({
            title: "企业客户合作专区配置",
            width: 400,
            height: 150,
            fixed: true,
            button: [
                {
                    value: '保存',
                    callback: function () {
                        var channel = $(".channel").val().trim();
                        var url = $(".url").val().trim();
                        if (channel == "" || url == "") {
                            alert("渠道或活动链接为空");
                            return false;
                        }
                        if (!/[a-zA-z]+:\/\/[^\s]*/.test(url)) {
                            alert("活动链接格式错误");
                            return false;
                        }
                        if (confirm("是否确认操作？")) {
                            $.post("UpdateCompanyClientConfig", { channel: channel, url: url, pkid: pkid }, function (result) {
                                if (result.status == "success") {
                                    alert("操作成功");
                                    Search(1);
                                } else {
                                    alert("操作失败");
                                }
                            });
                        }
                    }
                },
                {
                    value: "取消"
                }
            ]
        });
        d.content(html);
        d.showModal();
    }

    function addConfig() {
        var html = "<table style='width:100%;height:100%;text-align:center'><tr><td>活动渠道</td><td><input style='width:100%' class='channel'  /></td></tr><tr><td>活动链接</td><td><input class='url' style='width:100%' /></td></tr></table>";
        var d = dialog({
            title: "企业客户合作专区配置",
            width: 400,
            height: 150,
            fixed: true,
            button: [
                {
                    value: '保存',
                    callback: function () {
                        var channel = $(".channel").val().trim();
                        var url = $(".url").val().trim();
                        if (channel == "" || url == "") {
                            alert("渠道或活动链接为空");
                            return false;
                        }
                        if (!/[a-zA-z]+:\/\/[^\s]*/.test(url)) {
                            alert("活动链接格式错误");
                            return false;
                        }
                        if (confirm("是否确认操作？")) {
                            $.post("InsertCompanyClientConfig", { channel: channel, url: url }, function (result) {
                                if (result.status == "success") {
                                    alert("操作成功");
                                    Search(1);
                                } else {
                                    alert("操作失败");
                                }
                            });
                        }
                    }
                },
                {
                    value: "取消"
                }
            ]
        });
        d.content(html);
        d.showModal();
    }

    function Search(pageMark) {
        $(".tableContainer tr:not(:first)").empty();
        $("#PageLoadingEffects").css("display", "block");
        var pageNum;
        if (pageMark == null) {
            pageNum = parseInt($("#pageIndex").val());
        } else if (pageMark == 'lastPage') {
            pageNum = parseInt($("#pageIndex").val()) - 1;
        } else if (pageMark == 'nextPage') {
            pageNum = parseInt($("#pageIndex").val()) + 1;
        } else if (pageMark == 'tailPage') {
            pageNum = $("#totalPage").val();
        } else if (pageMark == 'skipPage') {
            //if (/^[0-9]*$/.test($("#jumpPage").val()) && $("#jumpPage").val() > 0 && $("#jumpPage").val() <= $("#totalPage").val())
            if (/^[0-9]*$/.test(parseInt($("#jumpPage").val())) && parseInt($("#jumpPage").val()) > 0 && parseInt($("#jumpPage").val()) <= parseInt($("#totalPage").val())) {
                pageNum = $("#jumpPage").val();
            } else {
                alert("数据不合法");
                return;
            }
        } else {
            pageNum = pageMark;
        }
        $("#pageIndex").val(pageNum);

        $.get("GetAllCompanyClientConfig", { pageIndex: pageNum }, function (result) {
            BindDate(result);
        });
    }

    function BindDate(data) {
        $(".tableContainer tr:not(:first)").empty();
        $("#PageLoadingEffects").css("display", "none");

        var html = "";
        if (data.status == "success") {
            $.each(data.data, function (index) {
                var item = data.data[index];
                var operator = "<a href='#' onclick=EditConfig(this,'" + item.PKID + "') >编辑</a>     <a href='#' style='display:' onclick=DelConfig('" + item.PKID + "') >删除</a>    |    <a href='/CompanyClient/ClientCouponCode?parentId=" + item.PKID + "&channel="+item.Channel+"' target='_blank'>查看券码</a>    |    <a href='#' onclick='SearchLog("+item.PKID+")'>日志</a>";
                html += "<tr><td>" + item.Channel + "</td><td><a href='" + item.ActivityUrl + "' target='_blank'>" + item.ActivityUrl + "</a></td><td>" + formatTime(item.CreatedTime) + "</td><td>" + formatTime(item.UpdatedTime) + "</td><td>" + operator + "</td><tr>";
            });

            $(".tableContainer").append(html);
            var pageDetailTemplateHtml = $("#PageDetailTemplate").html();
            pageDetailTemplateHtml = pageDetailTemplateHtml.replace("$pageNum$", $("#pageIndex").val());
            var totalPage = parseInt((data.count - 1) / 15) + 1;
            $("#totalPage").val(totalPage);
            pageDetailTemplateHtml = pageDetailTemplateHtml.replace("$pageCount$", totalPage);
            pageDetailTemplateHtml = pageDetailTemplateHtml.replace("$count$", data.count);
            $("#PageDetail").empty();
            $("#PageDetail").append(pageDetailTemplateHtml);
            PageChange();
            $(".tableContainer tr").mouseover(function () {
                $(this).addClass("mouseOn");
            });
            $(".tableContainer tr").mouseout(function () {
                $(this).removeClass("mouseOn");
            });
        } else {
            html += "<tr><td colspan='5'>无数据</td></tr>";
            $(".tableContainer").append(html);
            PageChange();
        }
    }

    function formatTime(val) {
        if (val != null) {
            return eval('new ' + eval(val).source).Format('yyyy-MM-dd hh:mm:ss');
        } else {
            return "无";
        }
    }

    function PageChange() {
        if ($("#totalPage").val() == 0 || $("#totalPage").val() == 1) {
            $("#firstPage").attr("disabled", true);
            $("#lastPage").attr("disabled", true);
            $("#nextPage").attr("disabled", true);
            $("#tailPage").attr("disabled", true);
            $("#skipPage").attr("disabled", true);
        } else if ($("#pageIndex").val() == 1) {
            $("#firstPage").attr("disabled", true);
            $("#lastPage").attr("disabled", true);
            $("#nextPage").attr("disabled", false);
            $("#tailPage").attr("disabled", false);
            $("#skipPage").attr("disabled", false);
        } else if ($("#pageIndex").val() == $("#totalPage").val()) {
            $("#firstPage").attr("disabled", false);
            $("#lastPage").attr("disabled", false);
            $("#nextPage").attr("disabled", true);
            $("#tailPage").attr("disabled", true);
            $("#skipPage").attr("disabled", false);
        } else {
            $("#firstPage").attr("disabled", false);
            $("#lastPage").attr("disabled", false);
            $("#nextPage").attr("disabled", false);
            $("#tailPage").attr("disabled", false);
            $("#skipPage").attr("disabled", false);
        }
    }
</script>