@{
    ViewBag.Title = "公司权限配置";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
<link rel="stylesheet" href="~/css/beautyPackage.css" type="text/css" />
<link rel="stylesheet" href="~/Content/plugins/select2/select2.min.css" />
<style type="text/css">
    .ui-dialog {
        width: auto;
    }

    .select2-selection__choice {
        color: black;
    }

    label.dialoglable {
        width: 20%;
        display: inline-block;
        font-weight: 900;
    }

    div.dialogdiv {
        width: 60%;
        display: inline-block;
    }

    input.inputcls, select.inputcls, textarea.inputcls {
        line-height: 1.42857143;
        width: 100%;
        height: 28px;
        padding: 2px 2px 2px 5px;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    div.dialog-content > div {
        padding-top: 5px;
        padding-bottom: 5px;
        height: auto;
        width: 100%;
    }
</style>
<div id="div" v-cloak>
    <h2>
        @*<label>大客户</label>
        <select v-model="filterCondition.coperateId">
            <option value="0">-请选择-</option>
            <option v-for="item in allVipUserConfig" v-bind:value="item.PKID">{{item.CooperateName}}</option>
        </select>*@
        <input type="button" value="添加" href="javascript:void(0)" v-on:click="EditCompanyConfig(0)" />
    </h2>
    <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
            <tr>
                <th>序号</th>
                <th>公司名称</th>
                <th>账号</th>
                <th>状态</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tr v-if="list.length<=0">
            <td colspan="7" style="text-align:center">无数据</td>
        </tr>
        <tr v-if="loading">
            <td colspan="7"><img src="/Images/loading.gif" /></td>
        </tr>
        <tr v-for="item in list">
            <td>{{item.CompanyId}}</td>
            <td>{{item.CompanyId}}</td>
            <td>
                <table>
                    <tr v-for="x in item.Accounts">
                        <td>{{x.PhoneNo}}</td>
                    </tr>
                </table>
            </td>
            <td>{{item.CompanyId}}</td>
            <td>{{item.CompanyId}}</td>
            <td>{{item.CompanyId}}</td>
            <td>
                <a href="javascript:void(0)" v-on:click="EditCompanyConfig(item.CompanyId)">编辑</a>
                <a href="javascript:void(0)" v-on:click="UpdateCompanyStatus(item.CompanyId)">开启/关闭</a>
            </td>
        </tr>
    </table>
    <artdialog v-if="showdialog" :height="400" v-on:save="save" ref="artdialog" v-on:close="showdialog=false" :buttons="buttons" :title="'套餐产品详情页'">
        <div class="dialog-content" style="overflow:auto;width:100%;height:400px">
            <div style="margin-bottom:10px">
                <label class="dialoglable">选择大客户：</label>
                <div class="dialogdiv">
                    <select is="select2"  v-bind:disabled="data.CompanyId>0" v-model="data.CompanyId" :styles="{'margin-left':'20px',height:'30px'}" :closeonselect="true" 　:options="options"></select>
                </div>
            </div>
            <div v-for="(item,index) in data.Accounts">
                <label class="dialoglable">账号：</label>
                <div class="dialogdiv">
                    <input v-model="item.PhoneNo" placeholder="账号" class="inputcls" style="width:85%" />
                    <a style="margin-left:5%" v-on:click="DeleteAccount(item.Index)">删除</a>
                </div>
            </div>
            <div>
                <label class="dialoglable"></label>
                <div class="dialogdiv"><input type="button" value="增加" v-on:click="AddAccount" /></div>
            </div>
            <div>
                <label class="dialoglable">备注：</label>
                <div class="dialogdiv">
                    <textarea v-model="data.Remark" style="height:100px" class="inputcls"></textarea>
                </div>
            </div>
            <div>
                <label class="dialoglable">生效：</label>
                <div class="dialogdiv">
                    <span style="width:40%;display:inline-block;">
                        <input type="radio" value="true" v-bind:disabled="data.CompanyId>0" v-model="data.IsActivity" />是
                    </span>
                    <span style="width:40%;display:inline-block;">
                        <input type="radio" value="false" v-bind:disabled="data.CompanyId>0" v-model="data.IsActivity" />否
                    </span>
                </div>
            </div>
        </div>
    </artdialog>
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
    <script src="/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>
    <script src="~/Scripts/vue.common.js"></script>
    <script type="text/javascript">
        function formatValue(value) {
            var result = value;
            if (value == "" || value == null || value == undefined) {
                result = "/"
            }
            return result;
        }
        Vue.filter('formatValue', formatValue);
        var addAccountIndex = 0;
        var vue = new Vue({
            el: "#div",
            data: {
                pager: {
                    total: 0,
                    pages: 0,
                    currentPage: 1,
                    size: 20,
                    inputPage: 0,
                },

                loading: false,
                showdialog: false,
                options: [],
                sizes: [5, 10, 20, 40, 50, 100, 200],
                list: [{
                    CompanyId: 1,
                    Remark: "",
                    Accounts: [{ PhoneNo: "15235350226" }, { PhoneNo: "15235350226" }],
                    IsActivity: "false"
                }],
                allVipUserConfig: [],
                filterCondition: {
                    coperateId: 0,
                },
                data: {
                    CompanyId: 0,
                    Remark: "",
                    Accounts: [{ PhoneNo: "", Index: addAccountIndex++ }],
                    IsActivity: "false"
                },
                buttons: "",
            },
            created: function(){
                this.GetAllVipCompany();
            },
            methods: {
                load: function () {

                },
                EditCompanyConfig: function (pkid) {
                    var self = this;
                    self.showdialog = true;
                    if (pkid > 0) {
                        $.get("", { companyId: pkid }, function (result) {
                            self.data.CompanyId = 10;
                            self.data.Remark = "";
                        })
                    }
                },
                UpdateCompanyStatus: function (pkid) {
                    var self = this;
                    if (confirm("是否确认操作")) {

                    }
                },
                GetAllVipCompany: function () {
                    var self = this;
                    $.get("GetAllVipCompany", function (data) {
                        self.options = [{
                            id: '0',
                            text: '-请选择-'
                        }];
                        (data || []).forEach(function (v) {
                            self.options.push({
                                id: v.Id,
                                text:v.Name
                            })
                        })
                    })
                },
                save: function () {
                    var self = this;
                    if (parseInt(self.data.CompanyId) <= 0) {
                        alert("请选择大客户");
                        return false;
                    }
                    if (self.data.Accounts.length <= 0) {
                        alert("请完善账号信息");
                        return false;
                    }
                    var valid = true;
                    var msg = "";
                    $.each(self.data.Accounts, function (index) {
                        if (!self.data.Accounts[index].PhoneNo || self.data.Accounts[index].PhoneNo == "") {
                            msg = "请完整输入账户信息";
                            valid = false;
                            return;
                        }
                        if (!/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/.test(self.data.Accounts[index].PhoneNo)) {
                            msg = "账号 " + self.data.Accounts[index].PhoneNo + " 格式输入有误";
                            valid = false;
                            return;
                        }
                    })
                    if (!valid) {
                        alert(msg);
                        return;
                    }
                    $.post("", { companyConfig: data }, function (result) {

                    })
                    //self.$refs.artdialog.close();
                },
                AddAccount: function () {
                    var self = this;
                    addAccountIndex++;
                    self.data.Accounts.push({
                        PhoneNo: "",
                        Index: addAccountIndex,
                    });
                },
                DeleteAccount: function (removeIndex) {
                    var self = this;
                    if (self.data.Accounts) {
                        self.data.Accounts = self.data.Accounts.filter(function (v) {
                            return v.Index != removeIndex;
                        })
                    }
                }
            },
        });
    </script>
}