
@{
    ViewBag.Title = "默认/业务/品牌旗舰店 搜索";
}

<h2>默认/业务/品牌旗舰店 搜索</h2>
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }
</style>

<div>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="javascript:void(0)" class="btn" onclick="DefaultSearchConfig.Add()">添加</a>
                </td>
                <td>类型：</td>
                <td>
                    <select id="type">
                        <option value="">--请选择--</option>
                        <option value="1">默认搜索配置</option>
                        <option value="2">业务搜索配置</option>
                        <option value="3">品牌旗舰店</option>
                        <option value="4">活动浮层配置</option>
                    </select>
                </td>
                <td><input type="button" style="margin-top:0" class="btn" onclick="DefaultSearchConfig.SearchList()" value="搜索" /></td>
                <td><input type="button" style="margin-top:0" class="btn" onclick="DefaultSearchConfig.Refresh()" value="刷新缓存" /></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="listdata"></div>
<div id="AddItem">
</div>
<script>

    $(function () {
        $(".listdata").load("/DefaultSearchConfig/list");
        $(".listdata").on("click", ".pager>a", function (event) {
            event.preventDefault();
            debugger;
            $.ajax({
                type: "POST",
                url: this.href,
                data: { "type": $("#type").val() },
                success: function (result) {
                    $(".listdata").html(result);
                },
                error: function (result) {
                    alert("失败!")
                }
            });
        });
    })
    var DefaultSearchConfig = {
        "SearchList": function () {
            $.ajax({
                type: "POST",
                url: "/DefaultSearchConfig/List",
                data: { "type": $("#type").val() },
                success: function (result) {
                    $(".listdata").html("").html(result);
                },
                error: function (result) {
                    alert("失败!")
                }
            });
        },
        "Add": function () {
            $("#AddItem").load('/DefaultSearchConfig/Edit?id=0');
            $("#AddItem").dialog({
                title: "添加",
                width: 600,
                height: 650,
                modal: true
            });
        },
        "Update": function (id) {
            $("#AddItem").html("").load('/DefaultSearchConfig/Edit?id=' + id);
            $("#AddItem").dialog({
                title: "修改",
                width: 600,
                height: 650,
                modal: true
            });
        },
        "Delete": function (id) {
            if (window.confirm("您确定要删除吗？")) {
                $.ajax({
                    type: "POST",
                    url: "/DefaultSearchConfig/Delete",
                    data: { "id": id },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            window.location.href = "/DefaultSearchConfig/Index";
                        }
                        else {
                            alert("删除失败！");
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        },
        "Refresh": function () {
            if (window.confirm("您确定要刷新缓存吗？")) {
                $.ajax({
                    type: "POST",
                    url: "/DefaultSearchConfig/Refresh",
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            alert("刷新成功");
                        }
                        else {
                            alert("删除失败！");
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        }
    }
</script>  