@model IEnumerable<string>
	@{
		ViewBag.Title = "网站配置管理";
	}
	<div>公共默认配置</div>
	<div>应用：<button style="float:right;" id="addApp">添加应用</button></div>
	<div class="appList">
		@foreach (var item in Model)
			{
			<span class="app">@item</span>
			}
	</div>
	@section scripts
	{
		<script>
			$("#addApp").click(function ()
			{
				var app = prompt("请输入要添加的应用名称：");
				if (app)
					$(".appList").append('<span class="app">' + app + '</span>');
			});
		</script>
	}
