@{
    ViewBag.Title = "申请赔付";
    List<Tuhu.Provisioning.DataAccess.Entity.ApplyCompensate> products = ViewBag.products;
}

<h2>申请赔付</h2>
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }

    td {
        width: 100px;
    }
</style>

<div>
    <table>
        <tr>
            <td>申诉人姓名：</td>
            <td>
                <input id="UserName" type="text" />
            </td>
            <td>申诉人手机：</td>
            <td>
                <input id="PhoneNumber" type="text" />
            </td>
            <td>申诉订单号：</td>
            <td>
                <input id="OrderId" type="text" />
            </td>
            <td>申诉的商品名称：</td>
            <td>
                <input id="ProductName" type="text" />
            </td>
        </tr>

        <tr>
            <td>申诉时间：</td>
            <td>
                <input id="StartApplyTime" type="date" />
            </td>
            <td>To</td>
            <td>
                <input id="EndApplyTime" type="date" />
            </td>
            <td>审核时间：</td>
            <td>
                <input id="StartAuditTime" type="date" />
            </td>
            <td>To</td>
            <td>
                <input id="EndAuditTime" type="date" />
            </td>
        </tr>

        <tr>
            <td>差价：</td>
            <td>
                <input id="DifferencePrice" type="text" value="0" />
            </td>
            <td>状态：</td>
            <td>
                <select id="Status">
                    <option value="-1" selected="selected">--请选择--</option>
                    <option value="0">待审核</option>
                    <option value="1">已驳回</option>
                    <option value="2">已通过</option>
                </select>
            </td>
            <td>订单渠道</td>
            <td><input id="OrderChannel" type="text" /></td>
            <td>
                <input type="button" style="margin-top:0" class="btn" onclick="ApplyCompensate.SearchList()" value="搜索" />
            </td>
            <td>
                <input type="button" style="margin-top:0" class="btn" onclick="ApplyCompensate.Export()" value="导出" />
            </td>
        </tr>
    </table>
</div>


<div class="listdata"></div>
<div id="AddItem"></div>

<script>
    $("#product").filtrateSelect({ height: 200 });
    $(function () {

        $(".listdata").load("/ApplyCompensate/list?Status=-1");

        $(".listdata").on("click", ".pager>a", function (event) {
            event.preventDefault();
            if ($(this).attr("href")) {
                $.ajax({
                    type: "POST",
                    url: this.href,
                    data: {
                        "UserName": $.trim($("#UserName").val()),
                        "PhoneNumber": $.trim($("#PhoneNumber").val()),
                        "DifferencePrice": $.trim($("#DifferencePrice").val()),
                        "OrderId": $.trim($("#OrderId").val()),
                        "ProductName": $.trim($("#ProductName").val()),
                        "Status": $('#Status option:selected').val(),
                        "StartApplyTime": $.trim($("#StartApplyTime").val()),
                        "EndApplyTime": $.trim($("#EndApplyTime").val()),
                        "StartAuditTime": $.trim($("#StartAuditTime").val()),
                        "EndAuditTime": $.trim($("#EndAuditTime").val()),
                        "OrderChannel": $.trim($("#OrderChannel").val()),
                    },
                    success: function (result) {
                        $(".listdata").html(result);
                    },
                    error: function (result) {
                        alert("失败!")
                    }
                });
            }
        });
    })

    var ApplyCompensate = {

        "SearchList": function () {
            $.ajax({
                type: "POST",
                url: "/ApplyCompensate/List",
                data: {
                    "UserName": $.trim($("#UserName").val()),
                    "PhoneNumber": $.trim($("#PhoneNumber").val()),
                    "DifferencePrice": $.trim($("#DifferencePrice").val()),
                    "OrderId": $.trim($("#OrderId").val()),
                    "ProductName": $.trim($("#ProductName").val()),
                    "Status": $('#Status option:selected').val(),
                    "StartApplyTime": $.trim($("#StartApplyTime").val()),
                    "EndApplyTime": $.trim($("#EndApplyTime").val()),
                    "StartAuditTime": $.trim($("#StartAuditTime").val()),
                    "EndAuditTime": $.trim($("#EndAuditTime").val()),
                    "OrderChannel": $.trim($("#OrderChannel").val()),
                },
                success: function (result) {
                    $(".listdata").html(result);
                },
                error: function (result) {
                    alert("失败!")
                }
            });
        },
        "Export": function () {
            //$.ajax({
            //    type: "POST",
            //    url: "/ApplyCompensate/Export",
            //    data: {
            //        "UserName": $.trim($("#UserName").val()),
            //        "PhoneNumber": $.trim($("#PhoneNumber").val()),
            //        "DifferencePrice": $.trim($("#DifferencePrice").val()),
            //        "OrderId": $.trim($("#OrderId").val()),
            //        "ProductId": $.trim($("#ProductId").val())
            //    },
            //    success: function (result) {
            //        if (result) {
            //            alert("导出成功");
            //        }
            //    },
            //    error: function (result) {
            //        alert("失败!")
            //    }
            //});
          
            window.location.href = "/ApplyCompensate/Export?UserName=" + $.trim($("#UserName").val()) +
                                "&PhoneNumber=" + $.trim($("#PhoneNumber").val()) +
                                "&DifferencePrice=" + $.trim($("#DifferencePrice").val()) +
                                "&OrderId=" + $.trim($("#OrderId").val()) +
                                "&ProductName=" + $.trim($("#ProductName").val()) +
                                "&Status=" + $('#Status option:selected').val() +
                                "&StartApplyTime=" + $.trim($("#StartApplyTime").val()) +
                                "&EndApplyTime=" + $.trim($("#EndApplyTime").val()) +
                                "&StartAuditTime=" + $.trim($("#StartAuditTime").val()) +
                                "&EndAuditTime=" + $.trim($("#EndAuditTime").val()) +
                                "&OrderChannel=" + $.trim($("#OrderChannel").val());
        },
        "Update": function (id) {
            $("#AddItem").load('/ApplyCompensate/Edit?id=' + id);
            $("#AddItem").dialog({
                title: "申诉详情",
                width: 700,
                height: 700,
                modal: true
            });
        },
        "Audit": function (id, status, text) {
            if (window.confirm("确定" + text)) {
                $.ajax({
                    type: "POST",
                    url: "/ApplyCompensate/Edit",
                    data: { "Id": id, "Status": status },
                    success: function (result) {
                        if (result) {
                            window.location.reload(true);
                        } else {
                            alert(text + "失败");
                        }
                    },
                    error: function (result) {
                    }
                });
            }
        }
    }
</script>  