
@{
    ViewBag.Title = "问答抽奖配置";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div>
    <form id="form1">
        <table class="form">
            <tr>
                <td class="formTitle">题目标签</td>
                <td class="formValue">
                    <select id="Tip" name="Tip" class="form-control">
                        <option value="-1">全 部</option>
                    </select>
                </td>
                <td class="formTitle">题目数量</td>
                <td class="formValue">
                    <input type="number" id="TipCount" name="TipCount" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">默认标题</td>
                <td class="formValue">
                    <input type="text" id="DefTitle" name="DefTitle" class="form-control" />
                </td>
                <td class="formTitle">默认副标题</td>
                <td class="formValue">
                    <input type="text" id="DefSmallTitle" name="DefSmallTitle" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">分享标题</td>
                <td class="formValue">
                    <input type="text" id="ShareTitle" name="ShareTitle" class="form-control" />
                </td>
                <td class="formTitle">分享副标题</td>
                <td class="formValue">
                    <input type="text" id="ShareSmallTitle" name="ShareSmallTitle" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">无次次数标题</td>
                <td class="formValue">
                    <input type="text" id="NoTimeTitle" name="NoTimeTitle" class="form-control" />
                </td>
                <td class="formTitle">无次数副标题</td>
                <td class="formValue">
                    <input type="text" id="NoTimeSmallTitle" name="NoTimeSmallTitle" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">默认结果标题</td>
                <td class="formValue">
                    <input type="text" id="DefResTitle" name="DefResTitle" class="form-control" />
                </td>
                <td class="formTitle">默认结果副标题</td>
                <td class="formValue">
                    <input type="text" id="DefResSmallTitle" name="DefResSmallTitle" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">分享结果标题</td>
                <td class="formValue">
                    <input type="text" id="ShareResTitle" name="ShareResTitle" class="form-control" />
                </td>
                <td class="formTitle">分享结果副标题</td>
                <td class="formValue">
                    <input type="text" id="ShareResSmallTitle" name="ShareResSmallTitle" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">背景图片</td>
                <td class="formValue">
                    <img id="BgImgUri" width="30" height="30" />
                    <input type="file" id="FileBgImgUri" name="FileBgImgUri" onchange="BgfileImage(this,'BgImgUri')" />
                </td>
                <td class="formTitle">最高奖励图</td>
                <td class="formValue">
                    <img id="LastImgUri" width="30" height="30" />
                    <input type="file" id="FileLastImgUri" name="FileLastImgUri" onchange="BgfileImage(this,'LastImgUri')" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">问答首页图片</td>
                <td class="formValue">
                    <img id="HomeBgImgUri" width="30" height="30" />
                    <input type="file" id="FileHomeBgImgUri" name="FileHomeBgImgUri" onchange="BgfileImage(this, 'HomeBgImgUri')" />
                </td>
                <td class="formTitle">结果页图</td>
                <td class="formValue">
                    <img id="ResultImgUri" width="30" height="30" />
                    <input type="file" id="FileResultImgUri" name="FileResultImgUri" onchange="BgfileImage(this, 'ResultImgUri')" />
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    $('#Tip').bindSelect({
        url: '/BigBrand/BigBrandPool/GetAnswerInfoList',
        id: "Tip",
        text:"Tip"
    })
</script>

