
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .tableBorder {
        border: 1px grey solid;
        text-align: center;
    }

    #drawMachinePageStyle {
        margin: 10px 0 20px 50px
    }

        #drawMachinePageStyle tr {
            height: 30px
        }
</style>
<div>
    <span>页面类型:</span>
    <select id="PageType" name="PageType">
        <option value="1">大转盘</option>
        <option value="2">大翻牌</option>
        <option value="3">答题抽奖</option>
        <option value="0">摇奖机</option>
    </select>
    <span>全局分享按钮</span>
    <select id="IsShare">
        <option value="true">启用</option>
        <option value="false">禁用</option>
    </select>
    <span id="PromptStyleContainer" class="hidden">
        <span>节日弹窗</span>
        <select id="PromptStyle">
            <option value="0">普通弹窗</option>
            <option value="1">节日弹窗</option>
        </select>
    </span>
</div>
<div>
    <table id="gridList"></table>
    <table id="gridList2"></table>

    <div id="BigBrandPageConfig" style="display:none;">
        <div>
            <form id="formPageConfig">
                <table class="form">
                    <tr>
                        <td class="formTitle" align="center">翻盘背景图 </br><i style="font-size:12px;">(750 * 710)</i>
                        </td>
                        <td class="formValue">
                            <img id="imgBigBrandBackImgUrl" width="60" height="60" />
                            <input type="file" id="BigBrandBackImgUrl" name="BigBrandBackImgUrl" value="" onchange="BgfileImage(this,'imgBigBrandBackImgUrl')" />
                        </td>
                        <td class="formTitle" align="center">中心按钮图 </br><i style="font-size:12px;">(336 * 166)</i></td>
                        <td class="formValue">
                            <img id="imgBigBrandCenterBtnImgUrl" width="60" height="60" />
                            <input type="file" id="BigBrandCenterBtnImgUrl" name="BigBrandCenterBtnImgUrl" onchange="BgfileImage(this,'imgBigBrandCenterBtnImgUrl')" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle" align="center">播报框外框图 </br><i style="font-size:12px;">(690 * 104)</i></td>
                        <td class="formValue">
                            <img id="imgBroadCastOutImgUrl" width="60" height="60" />
                            <input type="file" id="BroadCastOutImgUrl" name="BroadCastOutImgUrl" onchange="BgfileImage(this, 'imgBroadCastOutImgUrl')" />
                        </td>
                        <td class="formTitle" align="center">播报框内框图 </br><i style="font-size:12px;">(527 * 56)</i></td>
                        <td class="formValue">
                            <img id="imgBroadCastInnerImgUrl" width="60" height="60" />
                            <input type="file" id="BroadCastInnerImgUrl" name="BroadCastInnerImgUrl" onchange="BgfileImage(this, 'imgBroadCastInnerImgUrl')" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div id="AnswerIframe" style="display:none;">
        @*<iframe id="AnswerIframe" src="/BigBrand/BigBrandPool/AnswerQuestionsForm" style="border:0;display:none;"/>*@
        <div>
            <form id="form1">
                <table class="form">
                    <tr>
                        <td class="formTitle">题目标签</td>
                        <td class="formValue">
                            <select id="Tip" name="Tip" class="form-control">
                                <option value="-1">全 部</option>
                            </select>
                        </td>
                        <td class="formTitle">题目数量</td>
                        <td class="formValue">
                            <input type="number" id="TipCount" name="TipCount" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">默认标题</td>
                        <td class="formValue">
                            <input type="text" id="DefTitle" name="DefTitle" class="form-control" />
                        </td>
                        <td class="formTitle">默认副标题</td>
                        <td class="formValue">
                            <input type="text" id="DefSmallTitle" name="DefSmallTitle" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">分享标题</td>
                        <td class="formValue">
                            <input type="text" id="ShareTitle" name="ShareTitle" class="form-control" />
                        </td>
                        <td class="formTitle">分享副标题</td>
                        <td class="formValue">
                            <input type="text" id="ShareSmallTitle" name="ShareSmallTitle" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">无次次数标题</td>
                        <td class="formValue">
                            <input type="text" id="NoTimeTitle" name="NoTimeTitle" class="form-control" />
                        </td>
                        <td class="formTitle">无次数副标题</td>
                        <td class="formValue">
                            <input type="text" id="NoTimeSmallTitle" name="NoTimeSmallTitle" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">默认结果标题</td>
                        <td class="formValue">
                            <input type="text" id="DefResTitle" name="DefResTitle" class="form-control" />
                        </td>
                        <td class="formTitle">默认结果副标题</td>
                        <td class="formValue">
                            <input type="text" id="DefResSmallTitle" name="DefResSmallTitle" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">分享结果标题</td>
                        <td class="formValue">
                            <input type="text" id="ShareResTitle" name="ShareResTitle" class="form-control" />
                        </td>
                        <td class="formTitle">分享结果副标题</td>
                        <td class="formValue">
                            <input type="text" id="ShareResSmallTitle" name="ShareResSmallTitle" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">背景图片</td>
                        <td class="formValue">
                            <img id="BgImgUri" width="30" height="30" />
                            <input type="file" id="FileBgImgUri" name="FileBgImgUri" onchange="BgfileImage(this,'BgImgUri')" />
                        </td>
                        <td class="formTitle">最高奖励图</td>
                        <td class="formValue">
                            <img id="LastImgUri" width="30" height="30" />
                            <input type="file" id="FileLastImgUri" name="FileLastImgUri" onchange="BgfileImage(this,'LastImgUri')" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">问答首页图片</td>
                        <td class="formValue">
                            <img id="HomeBgImgUri" width="30" height="30" />
                            <input type="file" id="FileHomeBgImgUri" name="FileHomeBgImgUri" onchange="BgfileImage(this, 'HomeBgImgUri')" />
                        </td>
                        <td class="formTitle">结果页图</td>
                        <td class="formValue">
                            <div>
                                <img id="ResultImgUri" name="ResultImgUri" width="30" height="30" />
                                <input type="file" id="FileResultImgUri" name="FileResultImgUri" onchange="BgfileImage(this, 'ResultImgUri')" />
                            </div>
                            <a style="margin-top:10px;display:block" id="btnAddResultImgUri" href="javascript:void(0)" onclick="AddFileImage(this,'ResultImgUri')">再添加一个</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div id="DrawMachineIframe" style="display:none;">
        <div>
            <form id="DrawMachineForm" pkid="0">
                <table class="form">
                    <tr>
                        <td class="formTitle">背景图1</td>
                        <td class="formValue">
                            <img id="DrawMachineHomeBgImgUri" width="30" height="30" />
                            <input type="file" style="display: inline-block;margin-left:20px" id="fileHomeBgImgUri" name="fileHomeBgImgUri" onchange="BgfileImage(this,'DrawMachineHomeBgImgUri')" />
                        </td>
                        <td class="formTitle">背景图2</td>
                        <td class="formValue">
                            <img id="DrawMachineHomeBgImgUri2" width="30" height="30" />
                            <input type="file" style="display: inline-block;margin-left:20px" id="fileHomeBgImgUri2" name="fileHomeBgImgUri2" onchange="BgfileImage(this,'DrawMachineHomeBgImgUri2')" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">摇奖机图片</td>
                        <td class="formValue">
                            <img id="DrawMachineDrawMachineImgUri" width="30" height="30" />
                            <input type="file" style="display: inline-block;margin-left:20px" id="fileDrawMachineImgUri" name="fileDrawMachineImgUri" onchange="BgfileImage(this,'DrawMachineDrawMachineImgUri')" />
                        </td>
                        <td class="formTitle">结果页图片</td>
                        <td class="formValue">
                            <img id="DrawMachineResultImgUri" width="30" height="30" />
                            <input type="file" style="display: inline-block;margin-left:20px" id="fileResultImgUri" name="fileResultImgUri" onchange="BgfileImage(this,'DrawMachineResultImgUri')" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">跑马灯</td>
                        <td class="formValue">
                            <input type="radio" name="MarqueeLampIsOn" value="1" checked="checked" />启用
                            <input type="radio" name="MarqueeLampIsOn" value="0" />禁用
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div>
            <div>
                <h3 style="width: 60%;margin-left:50px; display: inline-block;">抽奖元素配置</h3><a id='AddPageConfigePageStyle' class="layui-layer-btn0 btn btn-primary">添加图案</a>
            </div>
            <table id="drawMachinePageStyle" style="border: 1px grey solid;text-align: center;">
                <thead>
                    <tr>
                        <td class="tableBorder" style="width:100px">奖品图案</td>
                        <td class="tableBorder" style="width:300px">修改图案</td>
                        <td class="tableBorder" style="width:200px">创建时间</td>
                        <td class="tableBorder" style="width:200px">更新时间</td>
                        <td class="tableBorder" style="width:100px">操作</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div style="text-align:center;">
        <a id="btnSave" name="btnSave" class="btn btn-sm btn-danger" style=""><i class="fa fa-plus"></i>保 存</a>`
        <a id="btnDelete" name="btnDelete" class="btn btn-sm btn-danger" style=""><i class="fa fa-plus"></i>删 除</a>`
    </div>
</div>
<script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
<link href="~/Content/nfine/js/select2/select2.min.css" rel="stylesheet" />
<script src="~/Content/nfine/js/select2/select2.min.js"></script>
<link href="~/Content/nfine/css/framework-ui.css" rel="stylesheet" />
<script src="~/Content/nfine/js/framework-ui.js" type="text/javascript"></script>
<script src="~/Content/nfine/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    var group = $.request("group");
    var type = $.request("type");
    var isShare=@ViewBag.IsShare.ToString().ToLower();
    var promptStyle=@ViewBag.PromptStyle;
    function gridList() {
      //  $('#gridList').empty();
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/BigBrand/BigBrandPool/GetGridPageStyleJson?keyValue=" + keyValue + "&groupGuid=" + group + "&PageType=" + $('#PageType').val(),
            height: $(window).height() - 100,
            colModel: [
                  { label: "PKID", name: "PKID", width: 120, align: "center", key: true, hidden: true },
                  {
                      label: "位 置", name: "PositionText", width: 160, align: 'center',
                      formatter: function (cellValue,options,rowObject) {
                          var result = "";
                          switch (rowObject.Position) {
                              case 1:
                                  result = "左上";
                                  break;
                              case 2:
                                  result = "上";
                                  break;
                              case 3:
                                  result = "右上";
                                  break;
                              case 4:
                                  result = "左";
                                  break;
                              case 5:
                                  result = "右";
                                  break;
                              case 6:
                                  result = "左下";
                                  break;
                              case 7:
                                  result = "下";
                                  break;
                              case 8:
                                  result = "右下";
                                  break;
                          }
                          return result;
                      }
                  },
                  { label: "", name: "Position",hidden:true },
                  {
                      label: "图 片", name: "ImageUriText", width: 160, align: "center",
                      formatter: function (cellValue,options,rowObject) {
                          if (cellValue)
                              return `<img src="${cellValue}" width=30 height=30 />`;
                          else if (rowObject.ImageUri) {
                              return `<img src="${rowObject.ImageUri}" width=30 height=30 />`;
                          }else
                              return "";
                      }
                  },
                   { label: "", name: "ImageUri", hidden: true },
                   { label: "", name: "GroupGuid", hidden: true },
                   { label: "", name: "CreateUserName", hidden: true },
                   { label: "", name: "UpdateUserName", hidden: true },
                  {
                      label: "创建时间", name: "CreateDateTime", width: 120, align: "center",
                      formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                  },
                    {
                        label: "更新时间", name: "LastUpdateDateTime", width: 120, align: "center",
                        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                    },
                    {
                        label: "操 作", name: "CaoZuo", width: 200, align: "center",
                        formatter: function (cellValue, options, rowObject) {
                            return ` <input type="file"  id="fileUpload${rowObject.Position}" data-pkid="${rowObject.PKID}" name="fileUpload${rowObject.Position}" onchange="fileImage(this,${options.rowId})" style="display: inline;"/> `;
                        }
                    }


            ]
        });
    }

    function gridListBig() {
        var $gridList = $("#gridList2");
        $gridList.dataGrid({
            url: "/BigBrand/BigBrandPool/GetGridPageStyleJson2?keyValue=" + keyValue + "&groupGuid=" + group + "&PageType=" + $('#PageType').val(),
            height: $(window).height() - 100,
            colModel: [
                { label: "PKID", name: "PKID", width: 120, align: "center", key: true, hidden: true },
                {
                    label: "位 置", name: "PositionText", width: 160, align: 'center',
                    formatter: function (cellValue, options, rowObject) {
                        var result = "";
                        switch (rowObject.Position) {
                            case 1:
                                result = "1行1列";
                                break;
                            case 2:
                                result = "1行2列";
                                break;
                            case 3:
                                result = "1行3列";
                                break;
                            case 4:
                                result = "1行4列";
                                break;
                            case 5:
                                result = "2行1列";
                                break;
                            case 6:
                                result = "2行4列";
                                break;
                            case 7:
                                result = "3行1列";
                                break;
                            case 8:
                                result = "3行2列";
                                break;
                            case 9:
                                result = "3行3列";
                                break;
                            case 10:
                                result = "3行4列";
                                break;
                        }
                        return result;
                    }
                },
                { label: "", name: "Position", hidden: true },
                {
                    label: "翻牌正面", name: "ImageUriText", width: 160, align: "center",
                    formatter: function (cellValue, options, rowObject) {
                        if (cellValue)
                            return `<img src="${cellValue}" width=30 height=30 />`;
                        else if (rowObject.ImageUri) {
                            return `<img src="${rowObject.ImageUri}" width=30 height=30 /> `;
                        } else
                            return "";
                    }
                }, {
                    label: "操作正面", name: "CImageUriText", width: 160, align: "center",
                    formatter: function (cellValue, options, rowObject) {
                         return ` <input type="file"  id="1fileUpload${rowObject.Position}" data-pkid="${rowObject.PKID}" name="1fileUpload${rowObject.Position}" onchange="fileImage(this,${options.rowId},2)" style="display: inline;"/> `;
                    }
                },
                {
                    label: "翻牌反面", name: "BImageUriText", width: 160, align: "center",
                    formatter: function (cellValue, options, rowObject) {
                        if (cellValue)
                            return `<img src="${cellValue}" width=30 height=30 />  `;
                        else if (rowObject.BImageUri) {
                            return `<img src="${rowObject.BImageUri}" width=30 height=30 /> `;
                        } else
                            return "";
                    }
                },
                {
                    label: "操作反面", name: "CBImageUriText", width: 160, align: "center",
                    formatter: function (cellValue, options, rowObject) {
                        return `<input type="file"  id="BfileUpload${rowObject.Position}" data-pkid="${rowObject.PKID}" name="BfileUpload${rowObject.Position}" onchange="BfileImage(this,${options.rowId})" style="display: inline;"/> `;
                    }
                },
                { label: "", name: "ImageUri", hidden: true },
                { label: "", name: "BImageUri", hidden: true },
                { label: "", name: "GroupGuid", hidden: true },
                { label: "", name: "CreateUserName", hidden: true },
                { label: "", name: "UpdateUserName", hidden: true },
                {
                    label: "创建时间", name: "CreateDateTime", width: 120, align: "center",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                },
                {
                    label: "更新时间", name: "LastUpdateDateTime", width: 120, align: "center",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                }

            ]
        });
    }


    function fileImage(obj, rowid,id=1) {
        console.log("rowid:", rowid);
        $.uploadFile({
            id: $(obj).attr("id"),
            preBack: function () {
                var size = $(obj)[0].files[0].size / 1024 * 1.0;
                if (size > 500) {
                    $.modalMsg("上传的图片过大", "warning");
                    return false;
                } else {
                    return true;
                }
            },
            callBack: function (res) {
                //res.BImage
                console.log(res.BImage)
                if (id == 1) {
                    $("#gridList").setCell(rowid, "ImageUriText", res.BImage);
                    $("#gridList").setCell(rowid, "ImageUri", res.BImage);
                }
                if (id == 2) {
                    $("#gridList2").setCell(rowid, "ImageUriText", res.BImage);
                    $("#gridList2").setCell(rowid, "ImageUri", res.BImage);
                }

            },
            complete: function () {

            }
        });
    }

    function BfileImage(obj, rowid) {
        console.log("rowid:", rowid);
        $.uploadFile({
            id: $(obj).attr("id"),
            preBack: function () {
                var size = $(obj)[0].files[0].size / 1024 * 1.0;
                if (size > 500) {
                    $.modalMsg("上传的图片过大", "warning");
                    return false;
                } else {
                    return true;
                }
            },
            callBack: function (res) {
                //res.BImage
                console.log(res.BImage)
                $("#gridList2").setCell(rowid, "BImageUriText", res.BImage);
                $("#gridList2").setCell(rowid, "BImageUri", res.BImage);
            },
            complete: function () {

            }
        });
    }
    function AddFileImage(obj,id,src) {
        src = src || '';
        var tempId = id + new Date().getTime();
        var html = '<div>' +
            '<img id="'+tempId+'" name="ResultImgUri" width="30" height="30" src="'+src+'" /><br/>' +
            '<input type="file" style="display:inline-block" id="File'+tempId+'" name="File'+tempId+'" onchange="BgfileImage(this, \''+tempId+'\')" />' +
            '<a  style="display:inline-block" href="javascript:void(0)" onclick="DeleteFileImage(this)">删除当前图片</a>' +
            '</div>';
        $(obj).before(html);
    }
    function DeleteFileImage(obj) {
        $(obj).parent("div").remove();
    }
    function BgfileImage(obj, imgId) {
        //debugger
        $.uploadFile({
            id: $(obj).attr("id"),
            preBack: function () {
                var size = $(obj)[0].files[0].size / 1024 * 1.0;
                if (size > 500) {
                    $.modalMsg("上传的图片过大", "warning");
                    return false;
                } else {
                    return true;
                }
            },
            callBack: function (res) {
                //res.BImage
               // $("#gridList2").setCell(rowid, "BImageUriText", res.BImage);
                // $("#gridList2").setCell(rowid, "BImageUri", res.BImage);
                $('#' + imgId).attr("src", res.BImage);
            },
            complete: function () {

            }
        });
    }

    function submitForm() {
        if ($("#PageType").val() == 1 || $("#PageType").val() == 2) {
            var $grid;
            if ($("#gbox_gridList").css("display") == "block") {
                $grid = $("#gridList");
            } else {
                $grid = $("#gridList2");
            }
            var pageConfig = {
                FPKID: keyValue,
                BigBrandBackImgUrl: $("#imgBigBrandBackImgUrl")[0].src,
                BigBrandCenterBtnImgUrl: $("#imgBigBrandCenterBtnImgUrl")[0].src,
                BroadCastOutImgUrl: $("#imgBroadCastOutImgUrl")[0].src,
                BroadCastInnerImgUrl: $("#imgBroadCastInnerImgUrl")[0].src,
            };
            var data = [];
            var rowsIds = $grid.getDataIDs();
            var rows = [];
            for (var i in rowsIds) {
                rows.push($grid.getRowData(rowsIds[i]));
            }

            for (var key in rows) {
                var item = {};
                item.Position = rows[key].Position;
                item.PageType = $("#PageType").val();
                item.IsShare = $("#IsShare").val();
                item.PromptStyle = $("#PromptStyle").val();
                item.ImageUri = rows[key].ImageUri;
                item.BImageUri = rows[key].BImageUri;
                item.GroupGuid = rows[key].GroupGuid;
                item.CreateUserName = rows[key].CreateUserName;
                item.UpdateUserName = rows[key].UpdateUserName;
                item.FKPKID = keyValue;
                data.push(item);
            }


            $.ajax({
                url: "/BigBrand/BigBrandPool/SubmitPageStyle",
                type: "post",
                data: {
                    json: JSON.stringify(data),
                    pageConfig: pageConfig,
                    pageType: $("#PageType").val()
                },
                dataType: "json",
                success: function (res) {
                    if (res.state == "success") {
                        $.modalMsg("保存成功", "success");
                    } else {
                        $.modalMsg("保存失败", "error");
                    }
                }
            })
        } else if ($("#PageType").val() == 3) {
            if (!$("#form1").formValid()) {
                return false;
            }
            var formData = $("#form1").formSerialize();
            formData.BigBrandPKID = keyValue;
            formData.BgImgUri = $('#BgImgUri').attr("src") || '';
            formData.LastImgUri = $('#LastImgUri').attr("src") || '';
            formData.HomeBgImgUri = $('#HomeBgImgUri').attr("src") || '';
            var ResultImgUriArr = [];
            $('img[name="ResultImgUri"]').each(function() {
                if ($(this).attr("src")) {
                    ResultImgUriArr.push($(this).attr("src"));
                }
            });
            formData.ResultImgUri = ResultImgUriArr.join(",");
            $.ajax({
                url: '/BigBrand/BigBrandPool/SubmitAnswer',
                data: formData,
                dataType: 'json',
                type:'POST',
                success: function (res) {
                    if (res.state == "success") {
                        $.modalMsg("保存成功", "success");
                    } else {
                        $.modalMsg("保存失败", "error");
                    }
                }
            })

        } else if ($("#PageType").val() == 0) {//摇奖机
            if (!$("#DrawMachineForm").formValid()) {
                return false;
            }

            var formData = $("#DrawMachineForm").formSerialize();
            formData.FKPKID = keyValue;
            formData.HomeBgImgUri = $("#DrawMachineForm").find("#DrawMachineHomeBgImgUri").attr("src") || '';
            formData.HomeBgImgUri2 = $("#DrawMachineForm").find("#DrawMachineHomeBgImgUri2").attr("src") || '';
            formData.DrawMachineImgUri = $("#DrawMachineForm").find("#DrawMachineDrawMachineImgUri").attr("src") || '';
            formData.ResultImgUri = $("#DrawMachineForm").find("#DrawMachineResultImgUri").attr("src") || '';
            formData.MarqueeLampIsOn = $("#DrawMachineForm").find("[name='MarqueeLampIsOn']:checked").val();
            formData.ActivityType  = $("#PageType").val();
            formData.IsShare = $('#IsShare').val();

            //配置页面的 图片
            debugger
            var pageStyles = [];
            var table = $('#drawMachinePageStyle');

            $.each(table.find('tbody tr'), function (i, n) {
                var item = {};
                item.PKID = $(n).attr('PKID');
                item.FKPKID = keyValue;
                item.GroupGuid = $(n).attr('GroupGuid');
                item.PageType = type;
                item.Position = i;
                item.isShare = $("#IsShare").val();
                item.ImageUri = $(n).find('[name="ImageUri"] img').attr('src') || '';
                item.CreateDateTime = $(n).find('[name="CreateDateTime"]').text();
                item.LastUpdateDateTime = $(n).find('[name="LastUpdateDateTime"]').text();
                pageStyles.push(item);
            });


            $.ajax({
                url: '/BigBrand/BigBrandPool/SubmitPageConfige',
                data: { model: formData, pageStyles: pageStyles},
                dataType: 'json',
                type: 'POST',
                success: function (res) {
                    if (res.state == "success") {
                        $.modalMsg("保存成功", "success");
                        parent.location.reload();
                    } else {
                        $.modalMsg("保存失败", "error");
                    }
                }
            })
        } else {

        }

    }

    function bindAns() {
        //$('#AnswerIframe').empty();
        //$('#AnswerIframe').load('/BigBrand/BigBrandPool/AnswerQuestionsForm');
        $.ajax({
            url: '/BigBrand/BigBrandPool/GetAnswerEntity',
            data: {
                bigBrandPkid: keyValue
            },
            dataType:'json',
            success: function (res) {
                if (res.BigBrandPKID != 0) {
                    $("#form1").formSerialize(res);
                    if (res.BgImgUri)
                        $('#BgImgUri').attr("src", res.BgImgUri);
                    if (res.LastImgUri)
                        $('#LastImgUri').attr("src", res.LastImgUri);
                    if (res.HomeBgImgUri)
                        $('#HomeBgImgUri').attr("src", res.HomeBgImgUri);
                    if (res.ResultImgUri) {
                        var resultImgUriArr = res.ResultImgUri.split(',');
                        $('#ResultImgUri').attr("src", resultImgUriArr[0]);
                        if (resultImgUriArr.length > 1) {
                            for (var i = 1; i < resultImgUriArr.length; i++) {
                                AddFileImage($("#btnAddResultImgUri"), "ResultImgUri", resultImgUriArr[i]);
                            }
                        }
                    }

                }
                //if (res.PKID > 0) {
                //    $('#PageType').attr("disabled", true);
                //}
            }
        })
    }

    $(function () {
        //bindAns();
        $('#PageType').val(type);
        $("#IsShare").val(isShare.toString());
        $("#PromptStyle").val(promptStyle);
        if (type == 1) {
            gridList();
        }
        else if (type == 2) {
            $("#PromptStyleContainer").removeClass("hidden");
            $("#BigBrandPageConfig").show();
            gridListBig();
            GetPageConfig();
        } else if (type == 3) {
            bindAns();
            $('#AnswerIframe').show();
        }
        else if (type == 0) {
            DrawMachineReload();
            $('#DrawMachineIframe').show();
        } else {
            alert("类型为空")
        }

        $('#btnSave').on('click', submitForm);
        $('#PageType').on('change', function () {
            var val = $(this).val();
            type = val;
            $("#PromptStyleContainer").addClass("hidden");
            if (val == 1) {
                $("#BigBrandPageConfig").hide();//4个图片
                $("#gbox_gridList").show();
                $("#gbox_gridList2").hide();
                $('#AnswerIframe').hide();
                $('#DrawMachineIframe').hide();
                gridList();
            } else if (val == 2) {
                $("#BigBrandPageConfig").show();//大翻盘页面配置
                $("#gbox_gridList2").show();
                $("#gbox_gridList").hide();
                $('#AnswerIframe').hide();
                $('#DrawMachineIframe').hide();
                $("#PromptStyleContainer").removeClass("hidden");
                gridListBig();
                GetPageConfig();
            } else if (val == 3) {
                $("#BigBrandPageConfig").hide();
                $('#AnswerIframe').show();
                $("#gbox_gridList").hide();
                $("#gbox_gridList2").hide();
                $('#DrawMachineIframe').hide();
            } else if (val == 0) {
                DrawMachineReload();
                $("#BigBrandPageConfig").hide();
                $('#AnswerIframe').hide();
                $("#gbox_gridList").hide();
                $("#gbox_gridList2").hide();
                $('#DrawMachineIframe').show();
            }else {

            }
        });

        $('#btnDelete').on('click', function () {
            var r = confirm("您确定删除？");
            if (r) {
                $.ajax({
                    url: '/BigBrand/BigBrandPool/DeletePageStyle?keyValue=' + keyValue + "&PageType=" + $('#PageType').val(),
                    type: 'POST',
                    success: function (res) {
                        if (res == 1) {
                            parent.location.reload();
                        }
                    }
                });
            }

        });

        $('#Tip').bindSelect({
            url: '/BigBrand/BigBrandPool/GetAnswerInfoList',
            id: "Tip",
            text: "Tip"
        });
img
    });

    //获取大翻盘页面配置
    function GetPageConfig() {
        $.ajax({
            type: 'post',
            url: "/BigBrand/BigBrandPool/GetBigBrandPageConfig",
            data: { FPKID: keyValue},
            success: function (result) {
                if (result.Status == 1) {
                    var data = result.Data;
                    if (data.BigBrandBackImgUrl != null && data.BigBrandBackImgUrl != "") {
                        $("#imgBigBrandBackImgUrl")[0].src = data.BigBrandBackImgUrl
                    }
                    if (data.BigBrandCenterBtnImgUrl != null && data.BigBrandCenterBtnImgUrl != "") {
                        $("#imgBigBrandCenterBtnImgUrl")[0].src = data.BigBrandCenterBtnImgUrl
                    }
                    if (data.BroadCastOutImgUrl != null && data.BroadCastOutImgUrl != "") {
                        $("#imgBroadCastOutImgUrl")[0].src = data.BroadCastOutImgUrl
                    }
                    if (data.BroadCastInnerImgUrl != null && data.BroadCastInnerImgUrl != "") {
                        $("#imgBroadCastInnerImgUrl")[0].src = data.BroadCastInnerImgUrl
                    }
                } else {
                    alert("获取大翻牌页面配置图片信息失败")
                }
            }
        });
    }

    // 摇奖机的 相关配置
    function DrawMachineReload() {
        $.ajax({
            url: '/BigBrand/BigBrandPool/GetBigBrandPageConfigeEntity',
            data: {
                FKPkid: keyValue,
                ActivityType: type,
            },
            dataType: 'json',
            success: function (res) {
                debugger;
                //if (res.PKID>0) {
                //    $('#PageType').attr("disabled",true);
                //}
                var form = $('#DrawMachineForm');
                form.attr("PKID", res.PKID);
                form.find('#DrawMachineHomeBgImgUri').attr("src", res.HomeBgImgUri);
                form.find('#DrawMachineHomeBgImgUri2').attr("src", res.HomeBgImgUri2);
                form.find('#DrawMachineResultImgUri').attr("src", res.ResultImgUri);
                form.find('#DrawMachineDrawMachineImgUri').attr("src", res.DrawMachineImgUri);
                if (res.MarqueeLampIsOn == 0) {
                    form.find('[name="MarqueeLampIsOn"]').eq('1').attr("checked", true);
                }
            }
        })
        $.ajax({
            url: '/BigBrand/BigBrandPool/GetPageStyleList',
            data: {
                FKPkid: keyValue,
                ActivityType: type,
            },
            dataType: 'json',
            success: function (res) {
                //debugger;
                var table = $('#drawMachinePageStyle');
                table.attr("GroupGuid", res[0].GroupGuid);
                var html = '';
                $.each(res, function (i, n) {
                    var tr = '<tr PKID="' + n.PKID + '" Position="' + n.Position + '" GroupGuid="' + n.GroupGuid + '" class="tableBorder">';
                    tr += '<td name="ImageUri" class="tableBorder" style="width:100px"><img id="BigBrandPageStyle' + n.Position + '" width="30" height="30" src="' + n.ImageUri + '" /></td>';
                    tr += '<td class="tableBorder" style="width:300px"><input type="file" id="BigBrandPage' + n.Position + '" name="BigBrandPage' + n.Position + '"  onchange="BgfileImage(this,\'BigBrandPageStyle' + n.Position + '\')" /></td>';
                    tr += '<td name="CreateDateTime" class="tableBorder" style="width:200px">' + new Date(n.CreateDateTime).Format("yyyy-MM-dd HH:mm:ss") + '</td>';
                    tr += '<td name="LastUpdateDateTime" class="tableBorder" style="width:200px">' + new Date(n.LastUpdateDateTime).Format("yyyy-MM-dd HH:mm:ss") + '</td>';
                    tr += '<td class="tableBorder" style="width:100px"><button class="delete" onclick="DeletePageConfigePageStyle(this)">删除</button></td>';
                    tr += '</tr>';
                    html += tr;
                });
                table.find('tbody').append(html);

            }
        })
    }

    $('#AddPageConfigePageStyle').on('click', function () {
        debugger;
        var table = $('#drawMachinePageStyle');

        var n = {};
        n.PKID = 0;
        n.FKPKID = keyValue;
        n.GroupGuid = table.attr("GroupGuid");
        n.PageType = type;
        n.Position = table.find('tbody tr').last().length == 0 ? 0 : parseInt(table.find('tbody tr').last().attr('Position')) + 1;
        n.isShare = $("#IsShare").val();
        n.ImageUri = '';
        n.CreateDateTime = new Date();
        n.LastUpdateDateTime = new Date();

        var html = '';
        var tr = '<tr PKID="' + n.PKID + '" Position="' + n.Position + '" GroupGuid="' + n.GroupGuid + '" class="tableBorder">';
        tr += '<td name="ImageUri" class="tableBorder" style="width:100px"><img id="BigBrandPageStyle' +  n.Position + '" width="30" height="30" src="' + n.ImageUri + '"  /></td>';
        tr += '<td class="tableBorder" style="width:300px"><input type="file" id="BigBrandPage' + n.Position + '" name="BigBrandPage' + n.Position + '"  onchange="BgfileImage(this,\'BigBrandPageStyle' + n.Position + '\')" /></td>';
        tr += '<td name="CreateDateTime" class="tableBorder" style="width:200px">' + new Date(n.CreateDateTime).Format("yyyy-MM-dd HH:mm:ss") + '</td>';
        tr += '<td name="LastUpdateDateTime" class="tableBorder" style="width:200px">' + new Date(n.LastUpdateDateTime).Format("yyyy-MM-dd HH:mm:ss") + '</td>';
        tr += '<td class="tableBorder" style="width:100px"><button class="delete" onclick="DeletePageConfigePageStyle(this)">删除</button></td>';
        tr += '</tr>';
        html += tr;

        table.find('tbody').append(html);
    })

    function DeletePageConfigePageStyle(that) {
        debugger
        var tr = $(that).parent().parent();
        var PKID = tr.attr("pkid");

        if (confirm('您确定删除吗？删除后无法恢复！') == true) {
            if (PKID == '0') {
                tr.remove();
                return;
            }
            $.ajax({
                url: '/BigBrand/BigBrandPool/DeletePageConfigePageStyle',
                data: {
                    PKID: PKID,
                    ActivityType: type,
                },
                dataType: 'json',
                success: function (res) {
                    if (res == '1') {
                        tr.remove();
                    }
                }
            })
        } else {
            return false;
        }



    }



    //时间格式化
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


</script>