@using System.Diagnostics;
@using Tuhu.Provisioning.Business;
@{
    ViewBag.Title = "新首页配置";
}

<link type="text/css" href="http://hive.gitcafe.io/mr/css/toastr.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/yewu.css" />
<link rel="stylesheet" href="/Scripts/controls/controls.css" />
<link rel="stylesheet" href="/css/sector.css" />
<script type="text/javascript" src="http://hive.gitcafe.io/mr/js/toastr.js"></script>
<script src="http://hive.gitcafe.io/joy/js/Common.js"></script>
<script src="http://hive.gitcafe.io/joy/js/joy.js"></script>
<script src="http://hive.gitcafe.io/joy/js/joy.dom.js"></script>
<script src="http://cdn.mindexpress.cn/joy/js/angular/ag.js"></script>
@*<script src="http://yewu.tuhu.cn/scripts/ajaxfileupload.js"></script>*@
<script src="@{if (Debugger.IsAttached){<text>/Scripts/controls/common.js</text>}else{<text>//res.tuhu.cn/controls/common.js</text>}}"></script>
@*<script src="@{if (Debugger.IsAttached){<text>/Scripts/controls/formeditor.js</text>}else{<text>//res.tuhu.cn/controls/formeditor.js</text>}}"></script>*@
<script src="/Scripts/controls/formeditor.js"></script>
<script src="/Scripts/controls/ajaxfileupload.js"></script>
<script src="@{if (Debugger.IsAttached){<text>/Scripts/controls/grid.js</text>}else{<text>//res.tuhu.cn/controls/grid.js</text>}}"></script>
<script src="@{if (Debugger.IsAttached){<text>/Scripts/controls/tower.js</text>}else{<text>//res.tuhu.cn/controls/tower.js</text>}}"></script>
@Html.Partial("Titles")
<style>
    .toolbar{
        margin-top:18px;
        line-height:36px;
        font:24px arial;
    }
    .toolbar a{
        float:right;
        font:16px arial;
        margin-left:12px;
        margin-right:12px;
    }
</style>

<script>
    function roweditcfg(cfg) {
        if (!cfg) {
            cfg = {};
        }
        var c = {
            title: '产品配置'
            , editor: {
                position: { validators: [intvalidator, requiredvalidator] }
                , promotionprice: { validators: [floatvalidator, requiredvalidator] }
                , promotionnum: { validators: [intvalidator, requiredvalidator] }
                , state: { validators: [intvalidator, requiredvalidator] }
                , pid: { validators: [requiredvalidator] }
            }
            , fields: {
                rownum: { style: { display: 'none' } }
                , advertiseid: { style: { display: 'none' } }
                , createdatetime: { style: { display: 'none' } }
                , lastupdatedatetime: { style: { display: 'none' } }
                , new_modelid: { style: { display: 'none' } }
                , pid: { childNodes: [{ innerHTML: '产品型号' }] }
                , position: { childNodes: [{ innerHTML: '位置' }] }
                , state: { onkeypress: intvalidator, childNodes: [{ innerHTML: '启用状态' }] }
                , promotionprice: { childNodes: [{ innerHTML: '金额' }] }
                , promotionnum: { childNodes: [{ innerHTML: '数量' }] }
            }
            , submit: function (row) {
                var s = '/idx/saveprod?a=' + cfg.action + '&mid=' + row.new_modelid + '&apptype=' + said + '&id=' + row.pid;
                return s;
            }
            , cancel: function () {
                overlay({ hide: true });
            }
        };
        return c;
    }

    //是否启用（由textbox更改为radio）
    function creatorToRadio() {
        var box = $(".overlaybox").find("input[name='state']");
        var value = $(box).val();
        if(value==1)
            $(box).replaceWith("<input type=\"radio\" name=\"state\" value=\"1\" style=\"width: 50px;\" checked=\"checked\" >是<input type=\"radio\" name=\"state\" value=\"0\" style=\"width: 50px;\">否");
        else
            $(box).replaceWith("<input type=\"radio\" name=\"state\" value=\"1\" style=\"width: 50px;\">是<input type=\"radio\" name=\"state\" value=\"0\" style=\"width: 50px;\" checked=\"checked\">否");
    }

    function AutoLoadProductInfo() {
        $(".overlaybox").find("input[name='pid']").bind("focusout", function () {
            var getPid = $(this).val().trim();
            $.ajax({ url: '/idx/GetProductInfo', data: { pid: getPid } }).done(function (data) {
                if (data != -1) {
                    var rows = JSON.parse(data);
                    var pidnameobj = $(".overlaybox").find("tr[class='addTr']");
                    var promotionnum = $(".overlaybox").find("input[name='promotionprice']").val((rows[0].cy_list_price == null ? 0 : rows[0].cy_list_price)).attr("readonly", "readonly");

                    var pidnamehtml = "<tr class=\"addTr\"><td class=\"label\">产品名称</td><td>" + rows[0].displayname + "</td></tr>";
                    if ($(pidnameobj).length > 0) {
                        $(pidnameobj).remove();
                        $(".overlaybox").find("input[name='pid']").parents("tr").before(pidnamehtml);
                    }
                    else {
                        $(".overlaybox").find("input[name='pid']").parents("tr").before(pidnamehtml);
                    }
                }
                else {
                    $(".overlaybox").find("input[name='promotionprice']").removeAttr("readonly").val(0);
                    var pidnameobj = $(".overlaybox").find("tr[class='addTr']");
                    if ($(pidnameobj).length > 0) {
                        $(pidnameobj).remove();
                    }
                }
            });
        });
        creatorToRadio();
    }

    var mid = 0;
    function view() {
        mid = parseInt('@ViewBag.mid');
        $.ajax({ url: '/idx/moduleprods', data: { mid: mid } }).done(function (data) {
            console.log(data);
            var rows = JSON.parse(data);
            if (rows.error) {
                toastr.info(rows.Msg);
                return;
            }
            var tb = grid(rows, {
                columns: {
                    rownum: { style: { display: 'none' } }
                    , advertiseid: { style: { display: 'none' } }
                    , createdatetime: { style: { display: 'none' } }
                    , lastupdatedatetime: { style: { display: 'none' } }
                    , new_modelid: { style: { display: 'none' } }
                    , pid: { innerHTML: '产品型号' }
                    , position: { innerHTML: '位置' }
                    , state: { onkeypress: intvalidator,  innerHTML: '启用状态' }
                    , promotionprice: {  innerHTML: '金额' }
                    , promotionnum: { innerHTML: '数量' }
                    , $added: function (tr, row) {
                        var tda = document.createElement('td');
                        tda.className = 'col';
                        tr.appendChild(tda);
                    }
                },
                rows: {
                    $added: function (tr, row) {
                        var tdu = gridoption(row, {
                            txt: '更改'
                            , tag: 'span'
                            , behavior: gridOptionFormBehavior
                            , callback: view
                            , roweditor: roweditcfg()
                        });
                        tr.appendChild(tdu);
                        var cc = {
                            txt: '删除'
                            , url: '/idx/removeprod?id=' + row.pid + '&apptype=@ViewBag.aid&mid=' + row.new_modelid + '&new_modelid=' + row.new_modelid
                            , tag: 'span'
                            , behavior: gridOptionAjaxBehavior
                            , callback: view
                        };
                        row.new_modelid = mid;
                        var tdr = gridoption(row, cc);
                        var tdo = document.createElement('td');
                        tdo.appendChild(tdu);
                        tdo.appendChild(tdr);
                        tr.appendChild(tdo);
                    }
                },
            });
            $('#gridarea')[0].innerHTML = '';
            $('#gridarea')[0].appendChild(tb);

            $("#gridarea > table > tbody > tr > td").each(function (i) {
                $(this).find("span").first().each(function (i) {
                    $(this).click(function () {
                        AutoLoadProductInfo();
                    });
                });
            });

        });
    }

    $(function () {
        $('#titleplace').html(title);
        view();
        $('#badd').click(function () {
            var dd = new Date();
            var el = formeditor({
                pid: ''
                , advertiseid: dd.getMonth() + '' + dd.getDate() + '' + dd.getHours() + '' + dd.getMinutes() + '' + dd.getSeconds() 
                , new_modelid: mid
                , position: 1
                , state: 1
                , promotionprice: 0
                , promotionnum: 1
            }, roweditcfg({ action: '1' }));
            el.show();
            AutoLoadProductInfo();
        });
    });
</script>
<div class="toolbar">产品管理 - <span id="titleplace"></span><a id="badd" href="#">添加产品</a><a id="bret" href="/idx/edit">返回模块管理</a></div>
<div id="gridarea">

</div>