@{
    Layout = null;
}

<div>
    <table>
        <tbody>
            <tr>
                <td>Name：</td>
                <td><input type="text" value="" class="Name" /></td>
                
            </tr>
            <tr>
                <td>Value：</td>
                <td><input type="text" value="" class="Value" /></td>
            </tr>
        </tbody>
    </table>
</div>
