@{
    ViewBag.Title = "通用服务码模版列表";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var dev = System.Configuration.ConfigurationManager.AppSettings["env"] == "dev" ? 1 : 0;
}
@section css{
    <link rel="stylesheet" href="~/Content/iview/iview.css" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
}
<div id="APP" v-cloak>
    <div>
        <label>合作用户</label>
        <i-select style="width:180px;" :filterable="true"   v-model="searchKey.cooperateId">
            <i-option v-for="item in searchKey.AllMrCooperateUserConfigs" v-bind:value="item.PKID">
                {{item.CooperateName}}
            </i-option>
        </i-select>
        <label>结算类型</label>
        <i-select v-model="searchKey.settlementMethod" style="width:180px" placeholder="请选择">
            <i-option v-for="item in searchKey.settlementMethodArray" :value="item.id" :key="item.id">{{ item.name }}</i-option>
        </i-select>
        <i-button type="info" v-on:click="Search()">查询</i-button>
        <i-button type="info" v-on:click="Edit()">新建</i-button>
    </div>
    <br />
    <i-table :data="tableDataList"
             :columns="tableColumns"
             stripe>


    </i-table>
    <div style="margin: 10px; overflow: hidden">
        <div style="float: right;">
            <Page :total="totalCount" :current="currentPage" :page-size="pageSize" show-total v-on:on-change="ChangePage"></Page>
        </div>
    </div>
    <div>
        <Modal title="编辑通用服务码模版配置" v-model="generalBeautyServerCodeTmpDetail.showModal" width="600"
               :mask-closable="false"
               v-on:on-ok="SaveSetting"
               :loading="loading"
               v-on:on-cancel="CancelSetting">
            <row type="flex" justify="space-around" v-bind:align="'middle'" class="modal-row">
                <i-col span="3">
                    <div class="modal-label">包名称:</div>
                </i-col>
                <i-col span="8">
                    <i-input v-model="generalBeautyServerCodeTmpDetail.packageName" placeholder="包名称"></i-input>
                </i-col>
                <i-col span="3">
                    <div class="modal-label">合作用户:</div>
                </i-col>
                <i-col span="8">
                    <i-select style="width:180px;" v-model="generalBeautyServerCodeTmpDetail.cooperateId" :filterable="true"    :disabled="generalBeautyServerCodeTmpDetail.isEdit">
                        <i-option v-for="item in generalBeautyServerCodeTmpDetail.AllMrCooperateUserConfigs" v-bind:value="item.PKID">
                            {{item.CooperateName}}
                        </i-option>
                    </i-select>
                </i-col>
                <i-col span="3">
                    <div class="modal-label">包描述:</div>
                </i-col>
                <i-col span="20">
                    <i-input v-model="generalBeautyServerCodeTmpDetail.description" placeholder="包描述" type="textarea" :rows="5"></i-input>
                </i-col>
                <i-col span="3">
                    <div class="modal-label">结算类型:</div>
                </i-col>
                <i-col span="20">
                    <i-select v-model="generalBeautyServerCodeTmpDetail.settlementMethod" style="width:180px" placeholder="请选择" :disabled="generalBeautyServerCodeTmpDetail.isEdit">
                        <i-option v-for="item in generalBeautyServerCodeTmpDetail.settlementMethodArray" :value="item.id" :key="item.id">{{ item.name }}</i-option>
                    </i-select>
                </i-col>
                <i-col span="3">
                    <div class="modal-label">AppName:</div>
                </i-col>
                <i-col span="20">
                    <i-select v-model="generalBeautyServerCodeTmpDetail.appId" :filterable="true"   style="width:180px" placeholder="请选择" @*:disabled="generalBeautyServerCodeTmpDetail.appId"*@>
                        <i-option value="" >-请选择-</i-option>
                        <i-option v-for="item in AllThirdAppConfigs" :value="item.AppId" :key="item.AppId">{{ item.AppName }}</i-option>
                    </i-select>
                </i-col>
                <i-col span="3">
                    <div class="modal-label">是否生效:</div>
                </i-col>
                <i-col span="20">
                    <Radio-Group v-model="generalBeautyServerCodeTmpDetail.isActive">
                        <Radio :label=1>
                            <span>是</span>
                        </Radio>
                        <Radio :label=0>
                            <span>否</span>
                        </Radio>
                    </Radio-Group>
                </i-col>
            </row>
        </Modal>
    </div>
</div>





@section scripts{
    <script type="text/javascript" src="~/Scripts/vue.min.js"></script>
    <script type="text/javascript" src="~/Scripts/iview/iview.min.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#APP',
            data() {
                return {
                    tableDataList: this.GetDataList(),
                    tableColumns: [
                        {
                            title: '服务包PKID',
                            key: 'PKID',
                            width: 120
                        },
                        {
                            title: 'PackageID',
                            key: 'PackageId',
                            width: 280
                        },
                        {
                            title: '包名称',
                            key: 'PackageName'
                        },
                        {
                            title: '合作用户',
                            key: 'CooperateName'
                        },
                        {
                            title: '结算类型',
                            key: 'SettlementMethodName'
                        },
                        {
                            title: '创建人',
                            key: 'CreatedUser'
                        },
                        {
                            title: '操作',
                            key: 'action',
                            width: 260,
                            align: 'center',
                            render: (h, params) => {
                                return h('div',
                                    [
                                        h('Button',
                                            {
                                                props: {
                                                    type: 'primary',
                                                    size: 'small'
                                                },
                                                style: {
                                                    marginRight: '5px'
                                                },
                                                on: {
                                                    click: () => {
                                                        this.GeneralBeautyServerCodeProductsList(params.index);
                                                    }
                                                }
                                            },
                                            '查看'),
                                        h('Button',
                                            {
                                                props: {
                                                    type: 'primary',
                                                    size: 'small'
                                                },
                                                style: {
                                                    marginRight: '5px'
                                                },
                                                on: {
                                                    click: () => {
                                                        this.Edit(params.index);
                                                    }
                                                }
                                            },
                                            '编辑'),
                                        h('Button',
                                            {
                                                props: {
                                                    type: 'error',
                                                    size: 'small'
                                                },
                                                style: {
                                                    marginRight: '5px'
                                                },
                                                on: {
                                                    click: () => {
                                                        this.Remove(params.index);
                                                    }
                                                }
                                            },
                                            '删除')
                                    ]);
                            }
                        }
                    ],
                    currentPage: 1,
                    pageSize: 15,
                    AllThirdAppConfigs: [],
                    loading: true,
                    generalBeautyServerCodeTmpDetail: {
                        isActive: 0,
                        description: '',
                        settlementMethod: '',
                        settlementMethodArray: [
                            {
                                id: "PreSettled",
                                name: "买断"
                            },
                            {
                                id: "ByPeriod",
                                name: "据实"
                            }
                        ],
                        packageName: "",
                        packageId: "",
                        pkid: 0,
                        isEdit: false,
                        cooperateId: '',
                        showModal: false,
                        appId:"",
                        AllMrCooperateUserConfigs: [],                       

                    },
                    searchKey: {
                        cooperateId: '',
                        AllMrCooperateUserConfigs: [],
                        settlementMethod: '',
                        settlementMethodArray: [
                            {
                                id: "All",
                                name: "全部"
                            },
                            {
                                id: "PreSettled",
                                name: "买断"
                            },
                            {
                                id: "ByPeriod",
                                name: "据实"
                            }
                        ],
                    },
                }
            },
            mounted: function () {
                this.GetCooperateUsers();
                this.GetAllThirdAppConfigs();
            },
            methods: {
                GetDataList() {
                    var resultData = [];
                    var _this = this;
                    var pageindex = _this.currentPage;
                    if (!pageindex) {
                        pageindex = 1;
                    }
                    var pagesize = _this.pageSize;
                    if (!pagesize) {
                        pagesize = 15;
                    }
                    var searchKey = _this.searchKey;
                    var coopid = 0;
                    var settle = '';
                    if (!searchKey) {

                    }
                    else
                    {
                        coopid = _this.searchKey.cooperateId;
                        settle = _this.searchKey.settlementMethod == 'All' ? '' : _this.searchKey.settlementMethod;
                    }
                    var postData = {
                        pageIndex: pageindex,
                        pageSize: pagesize,
                        cooperateId: coopid,
                        settlementMethod: settle
                    };
                    $.ajax({
                        url: "/GeneralBeautyServerCode/GetGeneralBeautyServerCodeTmpList",
                        type: "post",
                        async: false,
                        data: postData,
                        success: function (data) {
                            if (data != null) {
                                resultData = data.Result;
                                _this.totalCount = data.Total;
                            }
                        },
                        error: function () {
                            alert("服务端异常！");
                        }
                    });
                    return resultData;
                },
                GetAllThirdAppConfigs() {
                    var _this = this;
                    $.ajax({
                        url: "/GeneralBeautyServerCode/GetAllBigCustomerOpenAppIds",
                        type: "post",
                        async: false,
                        data: {},
                        success: function (data) {
                            if (data != null) {
                                _this.AllThirdAppConfigs = data;
                            }
                        },
                        error: function () {
                            alert("服务端异常！");
                        }
                    });
                },
                ChangePage(page) {
                    var _this = this;
                    _this.currentPage = page;
                    _this.tableDataList = _this.GetDataList();
                },
                GeneralBeautyServerCodeProductsList(a) {
                    var item = this.tableDataList[a];
                    window.location.href = '/GeneralBeautyServerCode/GeneralBeautyServerCodeProductsList?packageId=' +
                        item.PackageId;
                },
                Remove(a) {
                    if (confirm("确定要删除？")) {
                        var item = this.tableDataList[a];
                        $.ajax({
                            url: "/GeneralBeautyServerCode/DeleteGeneralBeautyServerCodeTmp",
                            type: "post",
                            async: true,
                            data: {
                                packageId: item.PackageId
                            },
                            success: function (data) {
                                if (data.Result) {
                                    window.location.href = '/GeneralBeautyServerCode/Index';
                                } else {
                                    this.$Notice.warning({
                                        title: '删除失败',
                                        desc: data.Item2
                                    });
                                }
                            },
                            error: function () {
                                alert("服务端异常！");
                            }
                        });
                    }
                },
                Add() {
                    var _this = this;
                    window.location.href = '/GeneralBeautyServerCode/GeneralBeautyServerCodeTmpDetail?packageId=';
                },
                Edit(a) {
                    console.log(a);
                    var item = this.tableDataList[a];
                    var _this = this.generalBeautyServerCodeTmpDetail;
                    if (_this.showModal)
                        return;
                    _this.showModal = true;
                    var packageId = '';

                    if (!item) {
                    }
                    else {
                        packageId = item.PackageId;
                    }
                    var postData = {
                        packageId: packageId
                    };

                    $.ajax({
                        url: "/GeneralBeautyServerCode/GetGeneralBeautyServerCodeTmpDetail",
                        type: "post",
                        async: false,
                        data: postData,
                        success: function (data) {
                            if (data != null) {
                                console.log(data);
                                _this.isActive = data.Result.IsActive ? 1 : 0;
                                _this.description = data.Result.Description;
                                _this.settlementMethod = data.Result.SettlementMethod;
                                _this.packageName = data.Result.PackageName;
                                _this.packageId = data.Result.PackageId;
                                _this.pkid = data.Result.PKID;
                                _this.isEdit = data.Result.PKID > 0;
                                _this.cooperateId = data.Result.CooperateId;
                                _this.appId = data.Result.AppId;
                            }
                        },
                        error: function () {
                            alert("服务端异常！");
                        }
                    });
                    $.ajax({
                        url: "/BankMRActivity/GetAllMrCooperateUserConfigs",
                        type: "post",
                        async: false,
                        data: postData,
                        success: function (data) {
                            if (data != null) {
                                _this.AllMrCooperateUserConfigs = data;
                            }
                        },
                        error: function () {
                            alert("服务端异常！");
                        }
                    });
                },
                SaveSetting() {
                    var _this = this.generalBeautyServerCodeTmpDetail;
                    var isactive = _this.isActive == 0 ? false : true;
                    var description = _this.description;
                    var packageName = _this.packageName;
                    var settlementMethod = _this.settlementMethod;
                    var packageId = _this.packageId;
                    var pkid = _this.pkid;
                    var cooperateId = _this.cooperateId;
                    var appId = _this.appId;
                    var postData = {
                        IsActive: isactive,
                        Description: description,
                        SettlementMethod: settlementMethod,
                        PackageName: packageName,
                        PackageId: packageId,
                        PKID: pkid,
                        CooperateId: cooperateId,
                        AppId: appId
                    };
                    if (cooperateId <= 0) {
                        alert("请选择合作用户！");
                        this.loading = false;
                        this.$nextTick(() => {
                            this.loading = true;
                        });
                        return;
                    }
                    if (!packageName) {
                        alert("请输入包名称！");
                        this.loading = false;
                        this.$nextTick(() => {
                            this.loading = true;
                        });
                        return;
                    }
                    if (!settlementMethod) {
                        alert("请选择结算类型！");
                        this.loading = false;
                        this.$nextTick(() => {
                            this.loading = true;
                        });
                        return;
                    }
                    if (!appId) {
                        alert("请选择AppName！");
                        this.loading = false;
                        this.$nextTick(() => {
                            this.loading = true;
                        });
                        return;
                    }
                    $.ajax({
                        url: "/GeneralBeautyServerCode/SaveGeneralBeautyServerCodeTmp",
                        type: "post",
                        async: false,
                        data: postData,
                        success: function (data) {
                            if (data != null && data.Result) {
                                window.location.href = '/GeneralBeautyServerCode/Index';
                            }
                            else {
                                alert("保存失败！");
                            }
                        },
                        error: function () {
                            alert("服务端异常！");
                        }
                    });

                },
                CancelSetting() {
                    var _this = this;
                    _this.generalBeautyServerCodeTmpDetail.showModal = false;
                },
                GetCooperateUsers() {
                    var _this = this.searchKey;
                    $.ajax({
                        url: "/BankMRActivity/GetAllMrCooperateUserConfigs",
                        type: "post",
                        async: false,
                        data: {},
                        success: function (data) {
                            if (data != null) {
                                _this.AllMrCooperateUserConfigs = data;
                            }
                        },
                        error: function () {
                            alert("服务端异常！");
                        }
                    });

                },
                Search() {
                    var _this = this;
                    _this.tableDataList = _this.GetDataList();
                },
            }
        })


    </script>
}