<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <!--DEBUG INFO WARN ERROR FATAL-->
      <level value="INFO"/>
      <appender-ref ref="SentryWebAppender" />
      <appender-ref ref="AmqpAppender" />
    </root>

    <renderer renderingClass="Tuhu.Log.ExceptionRenderer, Tuhu.Log" renderedClass="System.Exception, mscorlib" />
    <appender name="AmqpAppender" type="Tuhu.Log.RabbitMQAppender, Tuhu.Log">
      <rabbitMQSection value="rabbitmq" />
      <appId value="Tuhu.MMS.Web" />
      <exchangeProperties>
        <name value="topic.loggingExchage" />
        <exchangeType value="topic" />
        <durable value="false" />
        <binding>
          <destination value="topic.weblogExchage" />
          <topic value="weblog.#" />
        </binding>
      </exchangeProperties>
      <messageProperties>
        <appId value="Tuhu.WebSite" />
        <topic type="log4net.Layout.PatternLayout">
          <conversionPattern value="weblog.%level" />
        </topic>
        <contentType type="log4net.Layout.PatternLayout">
          <conversionPattern value="application/json" />
        </contentType>
        <persistent value="false" />
        <priority type="log4net.Layout.PatternLayout">
          <conversionPattern value="0" />
        </priority>
        <ExtendedData value="false" />
      </messageProperties>
      <bodyProperties>
        <property>
          <name value="exceptionid" />
          <layout type="Tuhu.Log.ExceptionIDLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="datetime" />
          <layout type="log4net.Layout.RawTimeStampLayout" />
        </property>
        <property>
          <name value="message" />
          <layout type="Tuhu.Log.MixMessageLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="exception" />
          <layout type="log4net.Layout.ExceptionLayout" />
        </property>
        <property>
          <name value="host" />
          <layout type="Tuhu.Log.HostLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="rawurl" />
          <layout type="Tuhu.Log.RawUrlLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="httpmethod" />
          <layout type="Tuhu.Log.HttpMethodLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="user" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%u" />
          </layout>
        </property>
        <property>
          <name value="userip" />
          <layout type="Tuhu.Log.UserIpLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="serverip" />
          <layout type="Tuhu.Log.ServerIpLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="headers" />
          <layout type="Tuhu.Log.HeadersLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="form" />
          <layout type="Tuhu.Log.FormLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="routedata" />
          <layout type="Tuhu.Log.RouteDataLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="exceptiongroup" />
          <layout type="Tuhu.Log.ExceptionGroupLayout, Tuhu.Log" />
        </property>
        <property>
          <name value="item" />
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="weblog" />
          </layout>
        </property>
      </bodyProperties>
    </appender>
    
    <appender name="SentryWebAppender" type="TuhuRaven.Log4Net.SentryAppender, TuhuRaven">
      <DSN value="http://4fdfd537336b4dfab47e1ca702a6d6f9:7a79eaab649b48e5a15893a106242ae5@netscaler.ad.tuhu.cn:9000/21" />
      <Logger value="root" />
      <Timeout value="100" />
      <threshold value="ERROR" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>