
@{
    ViewBag.Title = "ListForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="padding-top:20px;margin-right:20px;">
        <table class="form">
            <tr>
                <th class="formTitle">标 题:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="Title" name="Title" />
                </td>
                <th class="formTitle">选 项:</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="IsEnabled" name="IsEnabled" type="checkbox" checked="checked"><label for="IsEnabled">有 效</label>
                    </div>
                    <div class="ckbox">
                        <input id="IsShowDate" name="IsShowDate" type="checkbox"><label for="IsShowDate">显示倒计时</label>
                    </div>
                    <div class="ckbox">
                        <input id="IsNeedLogIn" name="IsNeedLogIn" type="checkbox"><label for="IsNeedLogIn">需要先登录</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">背景图片:</th>
                <td class="formValue">
                    <input type="hidden" id="BgImageUrl" name="BgImageUrl" />
                    <img id="bgImage" width="30" height="30" />
                    <input type="file" id="fileImage" name="fileImage" style="display: inline;" />
                </td>
                <th class="formTitle">背景颜色:</th>
                <td class="formValue">
                    <input type="text" id="BgColor" name="BgColor" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">上线时间：</th>
                <td class="formValue">
                    <input id="StartDate" name="StartDate" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd H:mm:ss'})" />
                </td>
                <th class="formTitle">结束时间:</th>
                <td class="formValue">
                    <input id="EndDate" name="EndDate" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd H:mm:ss'})" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">活动类型:</th>
                <td class="formValue">
                    <select class="form-control required" id="ActivityType" name="ActivityType">
                        <option value="">===请选择===</option>
                        <option value="0">综 合</option>
                        <option value="1">车 品</option>
                        <option value="2">保 养</option>
                        <option value="3">轮 胎</option>
                        <option value="4">美 容</option>
                        <option value="6">改 装</option>
                        <option value="5">外部投放活动</option>
                    </select>
                </td>
                <th class="formTitle">负责人:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="PersonCharge" value="@(ViewBag.UserName)" name="PersonCharge" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">关键词图片:</th>
                <td class="formValue">
                    <img id="keyImage" width="30" height="30" />
                    <input type="hidden" id="SelKeyImage" name="SelKeyImage" />
                    <input type="file" id="fileKeyImage" name="fileKeyImage" style="display:inline;" />
                </td>
                <th class="formTitle">关键词:</th>
                <td class="formValue">
                    <input type="text" class="form-control" id="SelKeyName" name="SelKeyName" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">悬浮窗</th>
                <td class="formValue">
                    <input type="radio" class="FloatWindow" name="FloatWindow" value="0" /> 无悬浮窗
                    <input type="radio" class="FloatWindow" name="FloatWindow" value="1" /> 静图悬浮窗
                    <input type="radio" class="FloatWindow" name="FloatWindow" value="2" /> 动图悬浮窗
                </td>
            </tr>
            <tr id="FloatWindowImageTd">
                <th class="formTitle">
                    悬浮窗图片
                </th>
                <td class="formValue">
                    <input type="hidden" id="FloatWindowImageUrl" name="FloatWindowImageUrl" />
                    <img id="bgFloatWindowImage" width="30" height="30" />
                    <input type="file" id="FloatWindowImage" name="FloatWindowImage" style="display: inline;" />
                </td>
            </tr>
            <tr id="FloatWindowJumpTd">
                <th class="formTitle">
                    悬浮窗跳转
                </th>
                <td>
                    <input type="radio" name="FloatWindowJump" value="0" /> 弹窗
                    <input type="radio" name="FloatWindowJump" value="1" /> 链接
                </td>
            </tr>
            <tr id="AlertTabImageUrlTd">
                <th class="formTitle">
                    弹窗图片
                </th>
                <td class="formValue">
                    <input type="hidden" id="AlertTabImageUrl" name="AlertTabImageUrl" />
                    <img id="bgAlertTabImage" width="30" height="30" />
                    <input type="file" id="AlertTabImage" name="AlertTabImage" style="display: inline;" />
                </td>
            </tr>
            <tr id="AlertJumpTd">
                <th class="formTitle">App跳转</th>
                <td class="formValue">
                    <input id="AlertJumpApp" name="AlertJumpApp" type="text" />
                </td>
                <th class="formTitle">小程序跳转</th>
                <td class="formValue">
                    <input id="AlertJumpWxApp" name="AlertJumpWxApp" type="text" />
                </td>
            </tr>
            <tr>

                <th class="formTitle">活动规则：</th>
                <td class="formValue" colspan="3">
                    <textarea id="RuleDesc" name="RuleDesc" style="height:100px;" class="form-control required"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle">分享参数:</th>
                <td class="formValue" colspan="3">
                    <div class="input-group" style="width:100%">
                        <input type="text" id="DataParames" name="DataParames" disabled="disabled" class="form-control" />
                        <span class="input-group-btn" onclick="setShareParameter()">
                            <a class="btn  btn-primary"><i class="fa fa-ellipsis-h"></i></a>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">客 服：</th>
                <td class="formValue">
                    <select class="form-control" id="CustomerService" name="CustomerService">
                        <option value="0">请选择</option>
                        <option value="1">喷 漆</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <img src="" id="imgcheck" style="display:none" />
</form>
<link rel="stylesheet" href="~/Scripts/multiple/multiple-select.css" type="text/css" />
<script type="text/javascript" src="~/Scripts/multiple/multiple-select.js"></script>
<script type="text/javascript">

    var keyValue = $.request("keyValue");

    function fileImage() {
        $.uploadFile({
            id: $("#fileImage").attr("id"),
            preBack: function () {
                var size = $("#fileImage")[0].files[0].size / 1024 * 1.0;
                var fileObject = $("#fileImage")[0].files[0];
                if (fileObject.type != "image/gif") {
                    if (size > 500) {
                        $.modalMsg("上传的图片过大", "warning");
                        return false;
                    } else {
                        return true;
                    }
                } else {
                    if (size > 2048) {
                        $.modalMsg("该图片尺寸为" + size.toFixed(2) + "KB,不要上传大于2M的图片", "warning");
                        return false;
                    } else {
                        return true;
                    }
                }
            },
            callBack: function (res) {
                console.log(res);
                $('#bgImage').attr("src", res.BImage);
                $("#BgImageUrl").val(res.BImage);
            },
            complete: function () {
                $("#fileImage").on("change", fileImage);
            }
        });
    }

    function fileKeyImage() {
        $.uploadFile({
            id: $("#fileKeyImage").attr("id"),
            preBack: function () {
                var size = $("#fileKeyImage")[0].files[0].size / 1024 * 1.0;
                if (size > 500) {
                    $.modalMsg("上传的图片过大", "warning");
                    return false;
                } else {
                    return true;
                }
            },
            callBack: function (res) {
                $('#keyImage').attr("src", res.BImage);
                $("#SelKeyImage").val(res.BImage);
            },
            complete: function () {
                $("#fileKeyImage").on("change", fileKeyImage);
            }
        });
    }

    function FloatWindowImage() {

        var type = $("input[name=FloatWindow]").filter(':checked').val();
        var size = $("#FloatWindowImage")[0].files[0].size / 1024 * 1.0;
        if (size > 300) {
            $.modalMsg("请上传202*202的图片,大小在300k以内的" + (type == "1" ? "静态图片" : "AE动图")
                , "warning");
            return false;
        }
        var fileid = $("#FloatWindowImage").attr("id");
        $.ajaxFileUpload({
            url: '/UploadFile/UploadFileByParam?directoryName=' + 'ActivityPageAe',
            secureuri: false,
            fileElementId: fileid,
            dataType: 'json',
            async: false,
            success: function (res) {

                var type = $("input[name=FloatWindow]").filter(':checked').val();
                msg = "请上传202*202的图片,大小在300k以内的" + (type == "1" ? "静态图片" : "AE动图")
                if (!res.File.endsWith('.zip') && !res.File.endsWith('.json')) {
                    var image = new Image();
                    image.onload = function () {
                        var width = this.width;
                        var height = this.height;
                        if (width != 202 || height != 202) {
                            $.modalMsg(msg, "warning");
                            $('#bgFloatWindowImage').attr("src", '');
                            $("#FloatWindowImageUrl").val('');
                        }
                        else {
                            $('#bgFloatWindowImage').attr("src", res.File);
                            $("#FloatWindowImageUrl").val(res.File);
                        }
                    };
                    image.src = res.File;
                } else {
                    $('#bgFloatWindowImage').attr("src", '');
                    $("#FloatWindowImageUrl").val(res.File);
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
        $("#FloatWindowImage").on("change", FloatWindowImage);
        //$.uploadFile({
        //    id: $("#FloatWindowImage").attr("id"),
        //    preBack: function () {
        //        var type = $("input[name=FloatWindow]").filter(':checked').val();
        //        var size = $("#FloatWindowImage")[0].files[0].size / 1024 * 1.0;
        //        if (size > 300) {
        //            $.modalMsg("请上传202*202的图片,大小在300k以内的" + (type == "1" ? "静态图片" : "AE动图")
        //                , "warning");
        //            return false;
        //        } else {
        //            return true;
        //        }
        //    },
        //    callBack: function (res) {
        //        var type = $("input[name=FloatWindow]").filter(':checked').val();
        //        msg = "请上传202*202的图片,大小在300k以内的" + (type == "1" ? "静态图片" : "AE动图")
        //        if (!res.BImage.endsWith('.zip') && !res.BImage.endsWith('.json')) {
        //            var image = new Image();
        //            image.onload = function () {
        //                var width = this.width;
        //                var height = this.height;
        //                if (width != 202 || height != 202) {
        //                    $.modalMsg(msg, "warning");
        //                    $('#bgFloatWindowImage').attr("src", '');
        //                    $("#FloatWindowImageUrl").val('');
        //                }
        //                else {
        //                    $('#bgFloatWindowImage').attr("src", res.BImage);
        //                    $("#FloatWindowImageUrl").val(res.BImage);
        //                }
        //            };
        //            image.src = res.BImage;
        //        } else {
        //            $("#FloatWindowImageUrl").val(res.BImage);
        //        }
        //        //$('#imgcheck').attr("src", res.BImage);
        //        //var width = $('#imgcheck').width();
        //        //var height = $('#imgcheck').height();
        //    },
        //    complete: function () {
        //        $("#FloatWindowImage").on("change", FloatWindowImage);
        //    }
        //});
    }


    function AlertTabImage() {
        var i = $("#AlertTabImage")[0].files[0];
        var type = $("input[name=FloatWindow]").filter(':checked').val();
        var size = $("#AlertTabImage")[0].files[0].size / 1024 * 1.0;
        if (size > 300) {
            $.modalMsg("请上传尺寸为778*1023,大小在300k以内的图片", "warning");
            return false;
        }
        var fileElId = $("#AlertTabImage").attr("id");
        $.ajaxFileUpload({
            url: '/UploadFile/UploadFileByParam?directoryName=' + 'ActivityPageAe',
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.Code == 1) {
                    if (!res.File.endsWith('.json') && !res.File.endsWith('.zip')) {
                        var image = new Image();
                        image.onload = function () {
                            var width = this.width;
                            var height = this.height;
                            if (width != 778 || height != 1023) {
                                $.modalMsg("请上传尺寸为778*1023,大小在300k以内的图片", "warning");
                                $('#bgAlertTabImage').attr("src", '');
                                $("#AlertTabImageUrl").val('');
                            }
                            else {
                                $('#bgAlertTabImage').attr("src", res.File);
                                $("#AlertTabImageUrl").val(res.File);
                            }
                        };
                        image.src = res.File;
                    } else {
                        $("#AlertTabImageUrl").val(res.File);
                        $('#bgAlertTabImage').attr("src", '');
                    }
                } else {
                    alert(res.Msg);
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
        $("#AlertTabImage").on("change", AlertTabImage);
        //$.uploadFile({
        //    id: $("#AlertTabImage").attr("id"),
        //    preBack: function () {

        //    },
        //    callBack: function (res) {
        //        if (!res.BImage.endsWith('.json') && !res.BImage.endsWith('.zip')) {
        //            var image = new Image();
        //            image.onload = function () {
        //                var width = this.width;
        //                var height = this.height;
        //                if (width != 778 || height != 1023) {
        //                    $.modalMsg("请上传尺寸为778*1023,大小在300k以内的图片", "warning");
        //                    $('#bgAlertTabImage').attr("src", '');
        //                    $("#AlertTabImageUrl").val('');
        //                }
        //                else {
        //                    $('#bgAlertTabImage').attr("src", res.BImage);
        //                    $("#AlertTabImageUrl").val(res.BImage);
        //                }
        //            };
        //            image.src = res.BImage;
        //        } else {
        //            $("#AlertTabImageUrl").val(res.BImage);
        //        }
        //    },
        //    complete: function () {
        //        $("#AlertTabImage").on("change", AlertTabImage);
        //    }
        //});
    }

    function FloatWindowChange() {
        var item = $(this).val();
        console.log(item);
        if (item != "0") {
            $('#FloatWindowImageTd').show();
            $('#FloatWindowImageTd').trigger('change');
            $("#FloatWindowJumpTd").show();
            $('#FloatWindowJumpTd').trigger('change');

            var val = $("input[name=FloatWindowJump]").filter(':checked').val();
            $("input[name=FloatWindowJump][value=" + val + "]").trigger('change');
            //$('#AlertTabImageUrlTd').show();
            //$('#AlertTabImageUrlTd').trigger('change');
            //$('#AlertJumpTd').show();
            //$('#AlertJumpTd').trigger('change');
            //AlertJumpTd
        } else {
            $('#FloatWindowImageTd').hide();
            $('#AlertJumpTd').hide();

            $("#FloatWindowJumpTd").hide();
            $('#AlertTabImageUrlTd').hide();
        }
    }

    function FloatWindowJumpChange() {
        var item = $(this).val();
        //FloatWindow

        var type = $("input[name=FloatWindow]").filter(':checked').val();
        if (type == '0') {
            $('#AlertTabImageUrlTd').hide();
            $('#AlertJumpTd').hide();
            return;
        }

        console.log(item);
        if (item == "0") {
            $('#AlertTabImageUrlTd').show();
            $('#AlertJumpTd').hide();
            //AlertJumpTd
        } else {
            $('#AlertTabImageUrlTd').hide();
            $('#AlertJumpTd').show();
        }
    }

    function initControl() {
        $("#fileImage").on("change", fileImage);
        $("#fileKeyImage").on("change", fileKeyImage);

        $("#AlertTabImage").on("change", AlertTabImage);
        $("#FloatWindowImage").on("change", FloatWindowImage);

        $('input[name="FloatWindow"]').on("change", FloatWindowChange);
        $('input[name="FloatWindowJump"]').on("change", FloatWindowJumpChange);

        $("input[name=FloatWindow][value=0]").attr('checked', 'checked').trigger('change');
        $("input[name=FloatWindow][value=0]").trigger("change");

        $("input[name=FloatWindowJump][value=0]").attr('checked', 'checked').trigger('change');
        $("input[name=FloatWindowJump][value=0]").trigger("change");
        $('#AlertTabImageUrlTd').hide();
        if (!!keyValue) {
            $.ajax({
                url: "/Activity/ActivityUnity/GetListFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    if (data.BgImageUrl)
                        $('#bgImage').attr("src", data.BgImageUrl);
                    if (data.SelKeyImage)
                        $('#keyImage').attr("src", data.SelKeyImage);
                    if (data.AlertTabImageUrl)
                        $('#bgAlertTabImage').attr("src", data.AlertTabImageUrl);
                    if (data.FloatWindowImageUrl)
                        $('#bgFloatWindowImage').attr("src", data.FloatWindowImageUrl);
                    //FloatWindowJumpTd

                    //AlertTabImageUrlTd
                    if (data.FloatWindow != '') {
                        $("input[name=FloatWindow][value=" + data.FloatWindow + "]").attr('checked', 'checked').trigger('change');
                    } else {
                        $("input[name=FloatWindow][value=0]").attr('checked', 'checked').trigger('change');
                        $("input[name=FloatWindow][value=0]").trigger("change");
                        $("input[name=FloatWindowJump][value=0]").trigger("change");
                    }
                    if (data.FloatWindowJump != 0) {
                        $("input[name=FloatWindowJump][value=" + data.FloatWindowJump + "]").attr('checked', 'checked');
                        $("input[name=FloatWindowJump][value=" + data.FloatWindowJump + "]").attr('checked', 'checked').trigger('change');
                    } else {
                        $("input[name=FloatWindowJump][value=0]").attr('checked', 'checked');
                        $("input[name=FloatWindowJump][value=0]").trigger('change');
                    }

                }

            });
        }


    }

    function setShareParameter() {
        var index = $.modalOpen({
            id: "ShareParameter",
            url: "/Activity/ActivityUnity/ShareParameterForm?keyValue=" + keyValue,
            width: "480px",
            height: "7200px",
            callBack: function (iframeId) {
                var iframe = top.frames["ListForm" + keyValue];
                top.frames[iframeId].submitForm(iframe);
            }
        })
    }
    function isURL(str) {
        return !!str.match(/(((^https?:(?:\/\/)?)(?:[-;:&=\+\$,\w]+@@)?[A-Za-z0-9.-]+|(?:www.|[-;:&=\+\$,\w]+@@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w-_]*)?\??(?:[-\+=&;%@@.\w_]*)#?(?:[\w]*))?)$/g);
    }
    function submitForm(iframe) {
        if (!$('#form1').formValid()) {
            return false;
        }
        var formData = $("#form1").formSerialize();
        console.log(formData);
        var reg = /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@@tuhu.cn/g;
        if (!reg.test(formData.PersonCharge)) {
            $.modalMsg("负责人格式不正确，格式：****@@tuhu.cn", "warning")
            return false;
        }

        formData.FloatWindow = $("input[name=FloatWindow]").filter(':checked').val();
        formData.FloatWindowJump = $("input[name=FloatWindowJump]").filter(':checked').val();
        //AlertTabImageUrl
        if (formData.FloatWindowJump == "0" && formData.FloatWindow != 0) {
            if (!formData.AlertTabImageUrl || formData.AlertTabImageUrl == '' || formData.AlertTabImageUrl == "&nbsp;") {
                $.modalMsg("弹窗图片不能为空", "warning")
                return false;
            }
        }
        else if (formData.FloatWindowJump == "1") {
            if (formData.AlertJumpApp != '' && formData.AlertJumpApp != '&nbsp;' && !isURL(formData.AlertJumpApp)) {
                $.modalMsg("App跳转地址不合法", "warning")
                return false;
            }
            //if (formData.AlertJumpWxApp != '' && formData.AlertJumpWxApp != '&nbsp;' && !isURL(formData.AlertJumpWxApp)) {
            //    $.modalMsg("微信小程序跳转地址不合法", "warning")
            //    return false;
            //}
        }

        if (formData.FloatWindow == "1") {
            if (!formData.FloatWindowImageUrl || formData.FloatWindowImageUrl == '' || formData.FloatWindowImageUrl == "&nbsp;") {
                $.modalMsg("悬浮窗图片不能为空", "warning")
                return false;
            }
            if (formData.FloatWindowImageUrl.endsWith('.zip') || formData.FloatWindowImageUrl.endsWith('.json')) {
                $.modalMsg("请上传静态图片", "warning")
                return false;
            }
        }

        if (formData.FloatWindow == "2") {
            if (!formData.FloatWindowImageUrl || formData.FloatWindowImageUrl == '' || formData.FloatWindowImageUrl == "&nbsp;") {
                $.modalMsg("悬浮窗图片不能为空", "warning")
                return false;
            }
            if (!formData.FloatWindowImageUrl.endsWith('.zip') && !formData.FloatWindowImageUrl.endsWith('.json')) {
                $.modalMsg("请上传动态图片", "warning")
                return false;
            }
        }

        $.submitForm({
            url: "/Activity/ActivityUnity/SubmitForm?keyValue=" + keyValue,
            param: formData,
            success: function (res) {
                top.$("#loadingPage").css("display", "none");
                iframe.$("#gridList").trigger("reloadGrid");

                if (res.state == "success") {
                    var href = "/Activity/ActivityUnity/ConfigList";
                    iframe.$("#NF-addClick").data("id", "iframe" + res.data);
                    iframe.$("#NF-addClick").attr("href", href + "?keyValue=" + res.data);
                    iframe.$("#NF-addClick").text(res.title);
                }
            }
        });
    }

    $(function () {
        initControl();

    });
</script>