
@{
    ViewBag.Title = "ShareParameterForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="padding-top:20px;margin-right:20px;">
        <table class="form">
            <tr>
                <th class="formTitle">标题：</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="shareTitle" name="shareTitle" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">分享链接:</th>
                <td class="formValue">
                    <input type="text" class="form-control required" id="shareUrl" name="shareUrl" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">分享图片:</th>
                <td class="formValue">
                    <img id="imgUrl" width="30" height="30" />
                    <input type="text" id="shareImage" name="shareImage" class="required" readonly/>
                    <input type="file" id="fileImage1" name="fileIamge1" style="display:inline;" onchange="fileImage()"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">描 述:</th>
                <td class="formValue">
                    <textarea id="shareDescrip" class="form-control" name="shareDescrip"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle">App链接:</th>
                <td class="formValue">
                    <input type="text" id="URL" name="URL" class="form-control required" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">分享类型:</td>
                <td class="formValue">
                    <select name="shareType" id="shareType" class="required" onchange="shareTypechannge()">
                        <option value="0">分享链接</option>
                        <option value="3">小程序</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">小程序路径:</th>
                <td class="formValue ">
                    <input type="text" id="wxAppPath" name="wxAppPath" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">分享大图:</th>
                <td class="formValue ">
                    <img id="imgUrlHd" width="30" height="30" />
                    <input type="text" id="wxAppImg" name="wxAppImg" readonly/>
                    <input type="file" id="fileImageHd" name="fileIamgeHd" style="display:inline;" onchange="UploadfileImageHd()" />
                </td>
            </tr>
        </table>
    </div>
    <input type="hidden" id="Type" name="Type" value="2" />
</form>

<script type="text/javascript">
    var keyValue = $.request("keyValue");
    var flag = true;
    function createReader(file, whenReady) {
        var reader = new FileReader;
        reader.onload = function (evt) {
            var image = new Image();
            image.onload = function () {
                var width = this.width;
                var height = this.height;
                if (whenReady) whenReady(width, height);
            };
            image.src = evt.target.result;
        };
        reader.readAsDataURL(file);
    };
    function UploadfileImageHd() {
        var wxImageflag = true;
        $.uploadFile({
            id: $("#fileImageHd").attr("id"),
            preBack: function () {
                debugger;
               
                //if (filesize > 100) {
                //    alert("图片不能超过100K，超大会影响前台展示效率");
                //    flag = false;
                //    wxImageflag = false;
                //    return false;
                //}
                createReader($("#fileImageHd")[0].files[0], function (w, h) {
                    var filesize = $("#fileImageHd")[0].files[0].size / 1024 * 1.0;
                    var rate = h / w;
                    console.log(rate.toFixed(1));
                    if (rate.toFixed(1) != 0.8 || filesize > 100) {
                        alert("请上传尺寸为5:4，大小在100K以内的图片");
                        console.log("长度是:" + w + "宽度是:" + h + "系统要求图片是5:4,请调整");
                        flag = false;
                        wxImageflag = false;
                        return false;
                    }
                });
                wxImageflag = true;
                flag = true;
                return true;
            },
            callBack: function (res) {
                console.log(res);
                if (wxImageflag) {
                    $('#imgUrlHd').attr("src", res.BImage);
                    $("#wxAppImg").val(res.BImage);
                }
            },
            complete: function () {
                $("#fileImageHd").val("");
            }
        });
    }


    function fileImage() {
        var h5Imageflag = true;
        $.uploadFile({
            id: $("#fileImage1").attr("id"),
            preBack: function () {
                debugger;
                
                //if (filesize > 100) {
                //    alert("图片不能超过100K，超大会影响前台展示效率");
                //    flag = false;
                //   // h5Imageflag = false;
                //    return false;
                //}
                createReader($("#fileImage1")[0].files[0], function (w, h) {
                    var filesize = $("#fileImage1")[0].files[0].size / 1024 * 1.0;
                    if (h / w !== 1 || filesize > 100) {
                        alert("请上传尺寸为1：1，大小在100K以内的图片");
                        console.log("长度是:" + w + "宽度是:" + h + "系统要求图片是1:1,请调整");
                        flag = false;
                        h5Imageflag = false;
                        return false;
                    }
                });
                flag = true;
                h5Imageflag = true;
                return true;
            },
            callBack: function (res) {
                console.log(res);
                if (h5Imageflag) {
                    $('#imgUrl').attr("src", res.BImage);
                    $("#shareImage").val(res.BImage);
                }
            },
            complete: function () {
                $("#fileImage1").val("");
                //$("#fileImage1").on("change", fileImage1);
            }
        });
    }

    function submitForm(iframe) {
        if (!$('#form1').formValid()) {
            return false;
        }
        //if (!flag) {
        //    alert("请检查图片配置");
        //    return false;
        //}
        //else {
            var formData = $("#form1").formSerialize();
            var data = {};
            data.shareUrl = formData.shareUrl;
            if (data.shareUrl.indexOf("&type=2") < 0) {
                data.shareUrl = data.shareUrl + "&type=2";
            }
            data.shareImage = formData.shareImage;
            data.shareDescrip = formData.shareDescrip;
            data.URL = formData.URL;
            data.shareTitle = formData.shareTitle;
            data.Type = 2;
            data.shareType = parseInt(formData.shareType);
            if (data.shareType == 3) {
                data.wxAppPath = formData.wxAppPath;
                data.wxAppImg = formData.wxAppImg;
            }
            iframe.$("#DataParames").val(JSON.stringify(data));
            top.ShareParameter.$.modalClose();
        }
    //}

    $(function () {
        var data = top.frames["ListForm" + keyValue].$("#DataParames").val();
        if (data) {
            data = JSON.parse(data);
            $("#form1").formSerialize(data);
            $("#imgUrl").attr("src", data.shareImage);
            $("#imgUrlHd").attr("src", data.wxAppImg);
            if (parseInt($("#shareType").val()) == 3) {
                $("#wxAppPath").addClass("required");
                $("#wxAppImg").addClass("required");
            }
        }
    })
    function shareTypechannge() {
        debugger;
        var value = parseInt($("#shareType").val());
        if (value == 3) {
            $("#wxAppPath").addClass("required");
            $("#wxAppImg").addClass("required");
        } else {
            $("#wxAppPath").removeClass("required");
            $("#wxAppImg").removeClass("required");
            $("#wxAppPath").removeClass("error");
            $("#wxAppImg").removeClass("error");
            $("i").remove();
        }
    }


</script>
