@model System.Data.DataTable
<style>
	th {
		width: 100px;
	}

	.RuleID label {
		display: inline-block;
		margin-right: 10px;
	}
</style>
@*<form method="post" name="Cellphone" enctype="multipart/form-data">
	<table>
		<tr>
			<th>优惠券类型：</th>
			<td colspan="3" class="RuleID" valign="middle">
				@foreach (System.Data.DataRow row in Model.Rows)
				{
					<label><input type="radio" name="RuleID" value="@row[0]" />@row[2]</label>
				}
			</td>
		</tr>
		<tr>
			<th>优惠券描述：</th>
			<td colspan="3"><input type="text" name="Description" size="100" /></td>
		</tr>
		<tr>
			<th>开始日期(含)：</th>
			<td><input type="text" name="StartDate" readonly="readonly" /></td>
			<th>结束日期(含)：</th>
			<td><input type="text" name="EndDate" readonly="readonly" /></td>
		</tr>
		<tr>
			<th>优惠金额：</th>
			<td><input type="text" name="Discount" /></td>
			<th>最少使用金额：</th>
			<td><input type="text" name="MinMoney" /></td>
		</tr>
		<tr>
			<th>手机号：</th>
			<td colspan="3" valign="middle"><label><input type="radio" name="AllUser" value="true" />所有用户</label><label><input type="radio" name="AllUser" value="false" checked="checked" />上传文件（换行或非数字分割的文件）</label><input type="file" name="CellphonesFile" accept="text/plain" /></td>
		</tr>
		<tr>
			<th></th>
			<td><input type="submit" value="确定发送" id="submit" /><img src="http://resource.tuhu.cn/Image/Public/loading-712.gif" style="vertical-align: middle; visibility: hidden;" /></td>
		</tr>
	</table>
</form>
<script>
	$("[name=StartDate],[name=EndDate]").datepicker({
		minDate: new Date(),
		dateFormat: "yy-mm-dd"
	});
	$("[name=RuleID]").on("change", function () {
		var self = $(this);
		var ruleid = self.val();
		if (ruleid == "42" || ruleid == "44" || ruleid == "46" || ruleid == "87")
			$("[name=Discount],[name=MinMoney]").attr("disabled", "disabled");
		else
			$("[name=Discount],[name=MinMoney]").removeAttr("disabled");

		$("[name=Description]").val(self.parent().text());
	});
	$("[name=AllUser]").on("change", function () {
		if (this.value == "true")
			$("[name=CellphonesFile]").prop("disabled", true);
		else
			$("[name=CellphonesFile]").removeProp("disabled");
	});

	$(document.forms["Cellphone"]).validate({
		rules: {
			RuleID: "required",
			Description: "required",
			StartDate: {
				required: true,
				date: true
			},
			EndDate: {
				required: true,
				date: true
			},
			Discount: {
				required: true,
				number: true
			},
			MinMoney: {
				required: true,
				number: true
			},
			CellphonesFile: {
				required: true,
				accept: ".txt"
			}
		},
		messages: {
			RuleID: "请选择优惠券类型",
			Description: "请输入券描述",
			StartDate: {
				required: "请选择开始日期",
				date: "格式不正确"
			},
			EndDate: {
				required: "请选择结束日期",
				date: "格式不正确"
			},
			Discount: {
				required: "请输入优惠金额",
				number: "格式错误"
			},
			MinMoney: {
				required: "请输入最少使用金额",
				number: "格式错误"
			},
			CellphonesFile: {
				required: "要么发给所有用户，要么选择一个文件吧！",
				accept: "请选择一个文本文件"
			}
		},
		submitHandler: function (form) {
			if (parseFloat($("[name=Discount]").val()) > parseFloat($("[name=MinMoney]").val(), 2)) {
				alert("优惠金额不能大于最少使用金额！");
				return;
			}

			form = $(form);
			var AllUser = $("[name=AllUser]:checked").val();
			if (confirm("确定创建" + $("[name=RuleID]:checked").parent().text())) {
				$("#submit").attr("disabled", "disabled").next().css("visibility", "visible");
				var success = function (result) {
					$("#submit").removeAttr("disabled").next().css("visibility", "hidden");
					if (result.Result >= 0) {
						alert("创建成功！");
						if (AllUser == "true")
							document.write("<pre>" + result.Cellphones + "</pre>");
					}
					else
						switch (result) {
							case -1:
								alert("创建券失败！");
								break;
							case -2:
								alert("开始日期不能大于结束日期！");
								break;
							case -2:
								alert("开始日期不能大于结束日期！");
								break;
							case -3:
								alert("优惠金额或最少使用金额错误！");
								break;
							case -4:
								alert("优惠金额不能大于最少使用金额！");
								break;
							case -5:
								alert("没有有效的手机号！");
								break;
							default:
								alert("未知错误：" + result.Result);
								break;
						}
				}
				form.ajaxSubmit({
					error: function (ajax) {
						$("#btnSave").removeAttr("disabled").next().css("visibility", "hidden");
						if (ajax.status == 200)
							success(JSON.parse(ajax.responseText))
						else if (ajax.status > 0) {
							alert("创建券失败！");
						}
					},
					success: success
				});
			}
		}
	});
</script>*@