
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>报名成功</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="form-group text-center" style="margin-top: 200px">
        <h3>恭喜您，报名成功，后台审核成功将用短信通知您！</h3>
    </div>
</body>
</html>
