@using Tuhu.Provisioning.Business;
@{
	ViewBag.Title = "支付配置";
    Layout = "../Shared/_Layout.cshtml";
    dynamic payModel = ViewBag.payModel;
    //dynamic tex=

}

<style>
    .nodata {
        width: 98%;
        border: 4px solid #f0f0f0;
        color: #cccccc;
        font-size: 22px;
        font-weight: bold;
        line-height: 200px;
        margin: 0 auto;
        text-align: center;
    }


    .ModuleList, .ModuleList ul, .ModuleList ul li {
        width: 100%;
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .ModuleList ul li {
            padding-right: 2%;
            padding-bottom: 20px;
            width: 18%;
            float: left;
        }

            .ModuleList ul li .box {
                height: auto;
                width: 100%;
                float: left;
                background-color: #d10a0a;
                color: #ffffff;
            }

                .ModuleList ul li .box .picbox {
                    height: auto;
                    width: 100%;
                    float: left;
                    -moz-border-radius: 5px 5px 0 0; /* Gecko browsers */
                    -webkit-border-radius: 5px 5px 0 0; /* Webkit browsers */
                    border-radius: 5px 5px 0 0;
                }

                .ModuleList ul li .box .addnew {
                    height: auto;
                    width: 100%;
                    text-align: center;
                    line-height: 160px;
                    float: left;
                    background-color: #820c0c;
                    color: #ffffff;
                    font-size: 22px;
                    font-weight: bold;
                    -moz-border-radius: 5px; /* Gecko browsers */
                    -webkit-border-radius: 5px; /* Webkit browsers */
                    border-radius: 5px;
                }


                    .ModuleList ul li .box .addnew a {
                        color: #ffffff;
                    }

                .ModuleList ul li .box .picbox .line1 {
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    float: left;
                    font-weight: bold;
                }

                .ModuleList ul li .box .picbox .line2 {
                    height: 60px;
                    line-height: 60px;
                    width: 100%;
                    float: left;
                    font-weight: bold;
                    font-size: 28px;
                    text-align: center;
                    overflow: hidden;
                }

                .ModuleList ul li .box .picbox .line3 {
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    float: left;
                }

                    .ModuleList ul li .box .picbox .line3 a {
                        color: #ffffff;
                        text-decoration: underline;
                    }

                .ModuleList ul li .box .picbox .line4 {
                    height: 40px;
                    line-height: 40px;
                    width: 100%;
                    float: left;
                    font-size: 15px;
                    text-align: center;
                    background-color: #820c0c;
                    color: #ffffff;
                }

                    .ModuleList ul li .box .picbox .line4 a {
                        color: #ffffff;
                    }

    .fengefu {
        width: 100%;
        border-bottom: 2px solid #999999;
        clear: both;
    }

    .inpercentage {
        width: 20px;
        display: none;
        text-align: right;
    }
</style>
<script>
    function btnAdd()
    {
        var svalue = $("#payStateSelect").val();
        $.ajax({
            url:"/Airlines/SavePay",
            data: { "svalue": svalue }
        }).done(function (data) {
            var n = parseInt(data);
            if(n>0)
            {
                alert("保存成功");
            }
            else {
                alert("保存失败");
            }
        });
    }
    //编辑
    function btnEdit() {
        $("#AddItem").load('/Airlines/AddPaySeting')
        $("#AddItem").dialog({
            title: "支付方式配置管理",
            width: 1250,
            height: 500,
            modal: true,
            draggable: false,
            resizable:false,
            buttons: {
                "保存": function () {
                    $.ajax({
                        type: "POST",
                        url: "/Airlines/UpdatePaymentWay",
                        data: "payMentWayStr=" + JSON.stringify(GetTableData()),
                        success: function (msg) {
                            if (msg == '0')
                                alert("保存失败！");
                            else {
                                alert("保存成功！");
                            }
                        }
                    });
                    $(this).dialog("close");
                },
                "取消": function () {
                    $(this).dialog("close");
                }
            }
        });
    }
</script>
<div style="clear:both;"></div>
<div style="float:left;">
    <h2>
        支付方式配置
    </h2>
</div>
<div class="ModuleList">
    <ul>
        <li>
            <div class="box">
                <div class="picbox">
                    <div class="line1">
                        <div style="float:left;padding-left:10px;">
                            <font color="white">
                              当前支付方式: @ViewBag.text
                            </font>
                        
                        </div>
                        <div style="float:right;padding-right:10px;">
                        </div>
                    </div>
                    <div class="line2" title="支付方式配置">支付方式配置</div>
                    <div class="line3" style="text-align:center">
                         <select id="payStateSelect"><option value="1">只显示微信和更多</option>
                        <option value="2">只显示支付宝和更多</option>
                        <option value="3">微信在上</option>
                        <option value="4">支付宝在上</option></select><input type="button" id="buttonState" value="保存" onclick="btnAdd()" />
                    </div>
                    <div class="line4">
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="box">
                <div class="picbox">
                    <div class="line1">
                        <div style="float:left;padding-left:10px;">
                        </div>
                        <div style="float:right;padding-right:10px;">
                        </div>
                    </div>
                    <div class="line2" title="支付方式配置">支付方式配置</div>
                    <div class="line3" style="text-align:center">
                        <input type="button" id="buttonState" value="编辑" onclick="btnEdit()" />
                    </div>
                    <div class="line4">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="fengefu"></div>
<div id="AddItem" style="display: none"></div>
