@{
    Layout = null;
    ViewBag.Title = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title></title>
    <style>
        body, div, img {
            margin: 0;
            padding: 0;
        }

        .del_content {
            text-align: center;
        }

        #del_content_img img {
            margin-top: 80px;
            width: 90px;
            height: 90px;
        }

        #del_content_title {
            margin-top: 18px;
            font-family: PingFangSC-Regular;
            font-size: 17px;
            color: rgba(51, 51, 51, 1);
            line-height: 22px;
        }
    </style>
</head>
<body>
    <div id="del_content_img" class="del_content"><img src="~/Content/imgs/detail/icon/icon-3x.png" /></div>
    <div id="del_content_title" class="del_content">帖子不存在</div>
</body>
</html>



