.cloudjs_icon { background-image: url(../commonimg/icons_new.png); }
.cloudjs_btn { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 5px 7px; display: inline-block; font-family: Microsoft Yahei; font-size: 14px; white-space: nowrap; cursor: pointer; zoom: 1; *width: 40px; *height: 24px; *line-height: 1; border: 1px solid #258cd6; color: #ffffff; background-color: #199fff; }
a.cloudjs_btn { text-decoration: none; }
.cloudjs_btn_white { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 5px 7px; display: inline-block; font-family: Microsoft Yahei; font-size: 14px; white-space: nowrap; cursor: pointer; zoom: 1; *width: 40px; *height: 24px; *line-height: 1; border: 1px solid #999999; color: #000000; background-color: #ffffff; }
.cloudjs_icon:hover { opacity: 0.8; filter: alpha(opacity=80); }
.cloudjs_btn:hover { opacity: 0.8; filter: alpha(opacity=80); }
.cloudjs_btn_white:hover { border-color: #666666; }
.cloudjs_btn_white_disable,
.cloudjs_btn_white:disabled { color: #aaaaaa; border-color: #cfcfcf; cursor: default; }
.cloudjs_btn_disable,
.cloudjs_btn_disable:hover,
.cloudjs_btn:disabled { color: #aaaaaa; border-color: #cfcfcf; cursor: default; background: #ffffff; }
.border { border: 1px solid #c6c6c6; box-shadow: inset 1px 2px 1px #f0f0f0; }
.cloudjs_input { height: 25px; line-height: 25px; padding: 0; text-indent: 5px; outline: none; border: 1px solid #c6c6c6; box-shadow: inset 1px 2px 1px #f0f0f0; }
.cloudjs_input:focus { border: solid 1px #aaa; }
.dialog_div { min-height: 106px; position: absolute; border: 1px solid #c6c6c6; background-color: #ffffff; -moz-box-shadow: 0px 0px 10px #c6c6c6; -webkit-box-shadow: 0px 0px 10px #c6c6c6; box-shadow: 0px 0px 10px #c6c6c6; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.dialog_div .dialog_div_head { border-bottom: 1px solid #efefef; height: 32px; background-color: #f9f9f9; }
.dialog_div .dialog_div_head .dialog_div_head_title { color: #000000; font-weight: normal; display: block; float: left; height: 32px; line-height: 32px; width: 70%; margin-left: 10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; zoom: 1; max-width: 85%; }
.dialog_div .dialog_div_head .dialog_div_head_btn { margin-top: 10px; background-repeat: no-repeat; cursor: pointer; display: block; height: 12px; line-height: 12px; width: 12px; text-align: right; float: right; }
.dialog_div .dialog_div_head .dialog_div_head_fullscreen_btn { margin-right: 10px; background-position: -98px -2px; display: none; }
.dialog_div .dialog_div_head .dialog_div_head_fullscreen_btn:hover { background-position: -98px -2px; }
.dialog_div .dialog_div_head .dialog_div_head_close_btn { margin-right: 9px; background-position: -115px -2px; }
.dialog_div .dialog_div_head .dialog_div_head_close_btn:hover { background-position: -115px -2px; }
.dialog_div .dialog_div_head .dialog_div_head_backscreen_btn { margin-right: 10px; background-position: -82px -2px; display: none; }
.dialog_div .dialog_div_head .dialog_div_head_backscreen_btn:hover { background-position: -82px -2px; }
.dialog_div .dialog_div_head .dialog_div_head_btn:hover { opacity: 0.6; filter: alpha(opacity=60); }
.dialog_div .dialog_div_body { background-color: #ffffff; padding-top: 8px; padding-left: 10px; padding-right: 10px; padding-bottom: 8px; line-height: 1.5em; overflow: auto; min-height: 22px; *min-height: 22px; }
.dialog_div .dialog_div_foot { background-color: #ffffff; border-top: 1px solid #efefef; text-align: right; position: relative; padding-bottom: 4px; padding-left: 10px; min-height: 26px; *min-height: 26px; }
.dialog_div .dialog_div_foot .dialog_div_foot_button { margin-top: 4px; margin-right: 10px; }
.dialog_div_layer { width: 100%; height: 100%; position: fixed; background-color: #ddd; opacity: 0.6; filter: alpha(opacity=60); top: 0px; left: 0px; }
.dialog_div .dialog_div_body .dialog_div_body_textarea { font-family: microsoft yahei; *margin-left: -8px !important; *padding: 0px !important; background-color: #ffffff; overflow: auto; padding: 2px 2px; margin: 0px; outline: none; border: 1px solid #dcdcdc; resize: none; word-break: break-all; height: 60px; }
.dialog_div .dialog_div_body .dialog_div_body_textarea_empty { border: 1px solid red; }
.dialog_div .dialog_div_body .dialog_div_body_empty { color: #ff0000; }
.dialog_div .dialog_arrow,
.dialog_div .dialog_arrow i { position: absolute; width: 0; height: 0; font-size: 0; border-top-color: transparent; border-bottom-color: transparent; border-right-color: transparent; border-left-color: transparent; border-style: solid; }
.dialog_div .dialog_arrow { border-width: 8px; }
.dialog_div .dialog_arrow i { border-width: 6px; }
.dialog_div .dialog_arrow_up { bottom: -16px; left: 50%; margin-left: -8px; border-top-color: #c6c6c6; }
.dialog_div .dialog_arrow_down { top: -16px; left: 50%; margin-left: -8px; border-bottom-color: #c6c6c6; }
.dialog_div .dialog_arrow_left { top: 50%; right: -16px; margin-top: -8px; border-left-color: #c6c6c6; }
.dialog_div .dialog_arrow_right { top: 50%; left: -16px; margin-top: -8px; border-right-color: #c6c6c6; }
.dialog_div .dialog_arrow_up_left { bottom: -16px; right: 7px; border-top-color: #c6c6c6; }
.dialog_div .dialog_arrow_up_right { bottom: -16px; left: 9px; border-top-color: #c6c6c6; }
.dialog_div .dialog_arrow_down_left { top: -16px; right: 7px; border-bottom-color: #c6c6c6; }
.dialog_div .dialog_arrow_down_right { top: -16px; left: 9px; border-bottom-color: #c6c6c6; }
.dialog_div .dialog_arrow_up i,
.dialog_div .dialog_arrow_up_left i,
.dialog_div .dialog_arrow_up_right i { top: -8px; left: -6px; border-top-color: #ffffff; }
.dialog_div .dialog_arrow_down i,
.dialog_div .dialog_arrow_down_left i,
.dialog_div .dialog_arrow_down_right i { top: -4px; left: -6px; border-bottom-color: #f9f9f9; }
.dialog_div .dialog_arrow_right i { top: -6px; left: -4px; border-right-color: #ffffff; }
.dialog_div .dialog_arrow_left i { top: -6px; left: -8px; border-left-color: #ffffff; }
/*  |xGv00|2baa6fd61562af49fa2fd416a6b1ff75 */
