.cloudjs_icon { background-image: url(../commonimg/icons_new.png); }
.cloudjs_btn { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 3px 7px; display: inline-block; font-family: Microsoft Yahei; font-size: 12px; white-space: nowrap; cursor: pointer; zoom: 1; *width: 40px; *height: 24px; *line-height: 1; border: 1px solid #258cd6; color: #ffffff; background-color: #199fff; }
a.cloudjs_btn { text-decoration: none; }
.cloudjs_btn_white { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 3px 7px; display: inline-block; font-family: Microsoft Yahei; font-size: 12px; white-space: nowrap; cursor: pointer; zoom: 1; *width: 40px; *height: 24px; *line-height: 1; border: 1px solid #999999; color: #000000; background-color: #ffffff; }
.cloudjs_icon:hover { opacity: 0.8; filter: alpha(opacity=80); }
.cloudjs_btn:hover { opacity: 0.8; filter: alpha(opacity=80); }
.cloudjs_btn_white:hover { border-color: #666666; }
.cloudjs_btn_white_disable,
.cloudjs_btn_white:disabled { color: #aaaaaa; border-color: #cfcfcf; cursor: default; }
.cloudjs_btn_disable,
.cloudjs_btn_disable:hover,
.cloudjs_btn:disabled { color: #aaaaaa; border-color: #cfcfcf; cursor: default; background: #ffffff; }
.border { border: 1px solid #c6c6c6; box-shadow: inset 1px 2px 1px #f0f0f0; }
.cloudjs_input { height: 25px; line-height: 25px; padding: 0; text-indent: 5px; outline: none; border: 1px solid #c6c6c6; box-shadow: inset 1px 2px 1px #f0f0f0; }
.cloudjs_input:focus { border: solid 1px #aaa; }
.validate_div { position: absolute; border: 1px solid #d33330; background: #f2dede; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 1px 1px 2px #aaaaaa; -webkit-box-shadow: 1px 1px 2px #aaaaaa; box-shadow: 1px 1px 2px #aaaaaa; color: #a94442; }
.validate_div,
.validate_div .validate_content { zoom: 1; display: inline-block; *display: inline; }
.validate_div .validate_content { word-wrap: break-word; max-width: 300px; *max-width: 300px; font-size: 13px; padding: 4px 8px; }
.validate_div .validate_arrow,
.validate_div .validate_arrow i { position: absolute; width: 0; height: 0; font-size: 0; border-top-color: transparent; border-bottom-color: transparent; border-right-color: transparent; border-left-color: transparent; border-style: solid; }
.validate_div .validate_arrow { border-width: 7px; }
.validate_div .validate_arrow i { border-width: 6px; }
.validate_div .validate_arrow_down { top: -14px; left: 50%; margin-left: -8px; border-bottom-color: #b2211f; }
.validate_div .validate_arrow_up { bottom: -14px; left: 50%; margin-left: -8px; border-top-color: #b2211f; }
.validate_div .validate_arrow_right { top: 50%; left: -14px; margin-top: -8px; border-right-color: #b2211f; }
.validate_div .validate_arrow_left { top: 50%; right: -14px; margin-top: -8px; border-left-color: #b2211f; }
.validate_div .validate_arrow_down i { top: -5px; left: -6px; border-bottom-color: #f2dede; }
.validate_div .validate_arrow_up i { top: -7px; left: -6px; border-top-color: #f2dede; }
.validate_div .validate_arrow_right i { top: -6px; left: -5px; border-right-color: #f2dede; }
.validate_div .validate_arrow_left i { top: -6px; left: -7px; border-left-color: #f2dede; }
.validate_div .validate_content .validate_icon,
.validate_span .validate_icon { display: inline-block; *display: inline; height: 20px; width: 20px; background-image: url(../commonimg/icons_new.png); background-position: -48px -14px; background-repeat: no-repeat; vertical-align: -4px; }
.validate_span { color: #a94442; font-size: 13px; margin-left: 10px; }
