
@{
    Layout = null;
}

<h2>添加关键字</h2>
   <table>
       <tr>
           <td>关键字</td>
           <td><input type="text" class="keywordtxt"></td>
          </tr>
       <tr>
           <td>是否禁用</td>
           <td><input type="checkbox" class="ckb"></td>
           </tr>
    </table>

    <div class="addbutton" style="display:none;">保存</div>


<script>
    $(function () {

        $(".addbutton").click(function () {

            var button = $(this);
            button.css("pointer-events", "none");
            var keyword = $(".keywordtxt").val().trim(),
               isDisabled = $(".ckb").is(':checked');


            var r = confirm("是否确定保存信息？");
            if (r) {
                $.ajax({
                    url: "/AlipayBaoyangManage/AddAlipayBaoYangItem",
                    type: "post",
                  

                    data: {
                        KeyWord: keyword,
                        IsDisabled: isDisabled
                    },
                    success: function (result) {
                        if (result > 0) {
                            alert("保存成功！");
                            @*$.get("/WebSiteActivity/InsertHistoryAction", { ActiveID: 0, ObjectType: "AddGetRule", AfterValue: result, Operation: "@(Model!=null?"UPDATE":"ADD")" }, function () { });*@
                            window.location.reload();
                        }
                        else {
                            alert("关键字已经存在！");
                        }
                }
                });
        }
        else {
                button.css("pointer-events", "all");
    }
    })



    });
    </script>
