@model Tuhu.Provisioning.DataAccess.Entity.AliPayBaoYangItem
@{
    Layout = null;
}

<h2>更新关键字</h2>
    <table>
       
        <tr>

            <td>
               关键字
            </td>
            <td>
                @Html.HiddenFor(m => m.PKID, new { @class = "bgpkidText" })

                @Html.TextBoxFor(m => m.KeyWord, new { @class = "bgKeyWordText" })
             

            </td>
        </tr>

        <tr>
            <td>
                是否禁用
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsDisabled, new { @class = "bgIsDisabled" })
                @*@Html.HiddenFor(m => m.lastUpdatetime, new { @class = "bgtimeText" })*@
            </td>
        </tr>
    </table>
    <div class="updatebutton" style="display:none;">保存</div>

<script>
    $(function () {

        $(".updatebutton").click(function () {

            var button = $(this);
            button.css("pointer-events", "none");
            var pkid = $(".bgpkidText").val(),
               keyword = $(".bgKeyWordText").val(),
               isDisabled = $(".bgIsDisabled").is(':checked');


            var r = confirm("是否确定保存信息？");
            if (r) {
                $.ajax({
                    url: "/AlipayBaoyangManage/UpdateAlipayBaoYangItem",
                    type: "post",
                    // dataType: "json",

                    data: {
                        PKID: pkid,
                        KeyWord: keyword,
                        IsDisabled:isDisabled                      
                    },
                    success: function (result) {
                        if (result > 0) {
                            alert("更新成功！");
                            @*$.get("/WebSiteActivity/InsertHistoryAction", { ActiveID: 0, ObjectType: "AddGetRule", AfterValue: result, Operation: "@(Model!=null?"UPDATE":"ADD")" }, function () { });*@
                            window.location.reload();
                        }
                    }
                });
            }
            else {
                button.css("pointer-events", "all");
            }
        })



        });
</script>