<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link href="~/Content/iview/iview.css" rel="stylesheet" />
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/iview/iview.min.js"></script>
</head>
<body>
    <h2>操作历史记录</h2>
    <div id="app" v-cloak>
        <i-table :data="LogList" :columns="LogColumns">
        </i-table>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data() {
            return {
                LogList: [],
                LogColumns: [
                    {
                        title: '操作人',
                        key: 'OperateUser'
                    },
                    {
                        title: '服务码',
                        key: 'OldValue'
                    },
                    {
                        title: '操作',
                        key: 'NewValue'
                    },
                    {
                        title: '操作时间',
                        key: 'CreateTime'
                    }
                ],
                CardId: getQueryString("cardId"),
            }
        },
        mounted: function () {
            this.GetLogList();
        },

        methods: {
            GetLogList() {
                var self = this;
                $.get("/BeautyYearCardConfig/GetInvalidateCodeOprLog",
                    { cardId: self.CardId },
                    function (data) {
                        self.LogList = data;
                    });
            }
        }
    })
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
</script>