@model Tuhu.Service.UserAccount.Models.User
@{
    ViewBag.Title = "按照手机号登出用户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <style>
        .title {
            float: left;
        }

        .content {
            clear: both;
        }

        .condition .name {
            font-size: 16px;
        }

        .condition > div {
            margin-bottom: 10px;
        }
    </style>
}
<div class="title">
    <h2>按照手机号登出用户</h2>
</div>
<div class="content">
    <div class="condition">
        <div>
            <span class="name">手机号：</span>
            <input id="InputMobile" type="text" name="Mobile" value="" />
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-small" onclick="Search()">查询</button>
            <button type="button" class="btn btn-primary btn-small" onclick="ClearInput()">清空</button>
        </div>
    </div>
</div>
<div class="contact" id="ForTableLogOutUserInfo" style="margin:10px 0 10px 0;">
    <!--输出表格形式-->
</div>

<script type="text/javascript">
    function Search() {
        var mobile = $("#InputMobile").val();
        if (mobile == "") {
            alert("手机号不能为空！");
            return;
        }

        $.post("/UserManager/LogOutUserByMobileInfo", {
            mobileNumber: mobile
        }, function (html, status) {
            if (status === "success") {
                $("#ForTableLogOutUserInfo").html(html);
            }
        });
    }

    function LogOutUser(userId) {
        if (userId == "") {
            alert("输入的userId异常！");
            return;
        }

        $.post('@Url.Action("LogOutUserById")',
            {
                userId: userId
            }, function (data) {
                if (data == false) {
                    alert("登出失败.");
                    return;
                }
                else {
                    alert("登出成功.");
                    return;
                }
            });
    }

    function ClearInput() {
        window.location.reload();
    }
</script>
