

<table>
    <tr>
        <td>
            Host<input type="text" name="host" id="host" value="YW-CC-16W01" style="width: 300px;padding: 5px" />

        </td>
        <td>
            Port<input type="text" name="port" id="port" placeholder="1+原端口号名" style="width: 300px;padding: 5px" />
        </td>
    </tr>
    <tr>
        <td>SVC</td>
        <td>参数</td>
        <td>操作</td>
    </tr>
    <tr>
        <td>FlashSaleSVC</td>
        <td><input type="text" name="guid" id="test1" placeholder="" style="width: 300px;" /></td>
        <td>
            <a href="javascript:void(0)" onclick="ServiceTest1()">测试</a><br />
        </td>
    </tr>
    <tr>
        <td>ActivitySVC</td>
        <td><input type="text" name="guid" id="test2" placeholder="" style="width: 300px;" /></td>
        <td>
            <a href="javascript:void(0)" onclick="ServiceTest2()">测试</a><br />
        </td>
    </tr>
    <tr>
        <td>ZeroActivitySVC</td>
        <td><input type="text" name="guid" id="test3" placeholder="" style="width: 300px;" /></td>
        <td>
            <a href="javascript:void(0)" onclick="ServiceTest3()">测试</a><br />
        </td>
    </tr>
    <tr>
        <td>PromotionSVC</td>
        <td><input type="text" name="guid" id="test4" placeholder="" style="width: 300px;" /></td>
        <td>
            <a href="javascript:void(0)" onclick="ServiceTest4()">测试</a><br />
        </td>
    </tr>
    <tr>
        <td>HomePageSVC</td>
        <td><input type="text" name="guid" id="test5" placeholder="" style="width: 300px;"/></td>
        <td>
            <a href="javascript:void(0)" onclick="ServiceTest5()">测试</a><br/>
        </td>
    </tr>
    <tr>
        <td>VehicleSVC</td>
        <td><input type="text" name="guid" id="test6" placeholder="" style="width: 300px;" /></td>
        <td>
            <a href="javascript:void(0)" onclick="ServiceTest6()">测试</a><br />
        </td>
    </tr>
</table>
<script>
    function ServiceTest1() {
        var parm = $("#test1").val();
        var host = $("#host").val();
        var port = $("#port").val();
        $.ajax({
            url: '/ServiceUtTest/FlashSaleTest',
            type: 'post',
            data: {
                parm: parm,
                host: host,
                port: port
            },
            success: function (result) {
                if (result.Status > 0) {
                    alert(result.Message);
                    window.location.reload();
                } else {
                    alert(result.Message);
                }
            }
        });
    }
    function ServiceTest2() {
        var parm = $("#test2").val();
        var host = $("#host").val();
        var port = $("#port").val();
        $.ajax({
            url: '/ServiceUtTest/ActivityTest',
            type: 'post',
            data: {
                parm: parm,
                host: host,
                port: port
            },
            success: function (result) {
                if (result.Status > 0) {
                    alert(result.Message);
                    window.location.reload();
                } else {
                    alert(result.Message);
                }
            }
        });
    }
    function ServiceTest3() {
        var parm = $("#test3").val();
        var host = $("#host").val();
        var port = $("#port").val();
        $.ajax({
            url: '/ServiceUtTest/ZeroActivityTest',
            type: 'post',
            data: {
                parm: parm,
                host: host,
                port: port
            },
            success: function (result) {
                if (result.Status > 0) {
                    alert(result.Message);
                    window.location.reload();
                } else {
                    alert(result.Message);
                }
            }
        });
    }
    function ServiceTest4() {
        var parm = $("#test4").val();
        var host = $("#host").val();
        var port = $("#port").val();
        $.ajax({
            url: '/ServiceUtTest/PromotionTest',
            type: 'post',
            data: {
                parm: parm,
                host: host,
                port: port
            },
            success: function (result) {
                if (result.Status > 0) {
                    alert(result.Message);
                    window.location.reload();
                } else {
                    alert(result.Message);
                }
            }
        });
    }

    function ServiceTest5() {
        var parm = $("#test5").val();
        var host = $("#host").val();
        var port = $("#port").val();
        $.ajax({
            url: '/ServiceUtTest/HomePageTest',
            type: 'post',
            data: {
                parm: parm,
                host: host,
                port: port
            },
            success: function (result) {
                if (result.Status > 0) {
                    alert(result.Message);
                    window.location.reload();
                } else {
                    alert(result.Message);
                }
            }
        });
    }

    function ServiceTest6() {
        var parm = $("#test6").val();
        var host = $("#host").val();
        var port = $("#port").val();
        $.ajax({
            url: '/ServiceUtTest/VehicleTest',
            type: 'post',
            data: {
                parm: parm,
                host: host,
                port: port
            },
            success: function (result) {
                if (result.Status > 0) {
                    alert(result.Message);
                    window.location.reload();
                } else {
                    alert(result.Message);
                }
            }
        });
    }
</script>
