@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Provisioning;
@model  Tuhu.Component.Common.Models.ListModel<CouponBlackItem>
    @{
        ViewBag.Title = "天降神券黑名单管理";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @section head{
        <style>
            .headt {
                margin-bottom: 12px;
                width: 100%;
            }

            .top {
                float: left;
                margin-right: 10px;
            }
        </style>
    }
    <div class="title">
        <h2>天降神券黑名单管理</h2>
    </div>
    <div class="content">
        <div class="headt">
            <div class="top">
                <input type="text" name="searchbox" value="" style="width:150px;height:24px;margin-top:12px" />
            </div>
            <div class="top" style="margin-right:300px">
                <button class="addbtn" onclick="Func.LoadList(1)" style="width: 200px;height: 30px;display: block;MARGIN-TOP: 12px;">
                    搜索
                </button>
            </div>

            <div class="top">
                <input type="text" name="addbox" value="" style="width:300px;height:24px;margin-top:12px" />
            </div>
            <div class="top">
                <button class="addbtn" onclick="Func.Addbtn()" style="width: 200px;height: 30px;display: block;MARGIN-TOP: 12px;">
                    添加
                </button>
            </div>
            <div style="clear:both;" />
        </div>
        <div class="beforetable">
            每页显示：
            <select class="PageSize">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>条
            <span class="data_count"></span>
        </div>
        <img class="loadimg" src="~/Scripts/layer/skin/default/loading-2.gif" style="margin:5% 50%;display:none;" />
        <div class="list">
        </div>
    </div>

    <script>
        $(function () {
            Func.LoadList(1);
            //浏览其他页
            $(".list").on("click", ".pager>a", function (event) {
                event.preventDefault();
                var url = $(this).attr("href");
                if (url) {
                    $.post(url, function (html, status) {
                        if (status === "success") {
                            $(".list").html(html);
                        }
                    });
                }
            })
        });

        $(".PageSize").change(function () {
            Func.LoadList(1);
        });

    </script>
    <script>
        var Func = {
            LoadList: function (index) {
                var search = $("[name=searchbox]").val().trim();
                var pageSize = $(".PageSize>option:selected").val();
                var re = /^\d{0,11}$/;
                if (re.test(search)) {
                    $.get("/Tire/CouponBlackList2", {
                        phoneNum: search,
                        pageIndex: index,
                        pageSize: pageSize
                    }, function (html, status) {
                        if (status === "success") {
                            $(".loadimg").hide();
                            $(".list").html(html);
                            $(".data_count").text('共' + ($(".table").length ? $(".table").attr("data-count") : 0) + '条数据');
                        }
                    });
                }
                else {
                    alert("搜索内容格式不对，应为11位以内的数字");
                    return false;
                }
            },
            Addbtn: function () {
                var data = $("[name=addbox]").val().trim();
                if (data.length < 11) {
                    alert("新增内容格式不对，应为11数字");
                    return false;
                }
                else {
                    $.get("/Tire/AddCouponBlackList", {
                        phoneNums: data
                    }, function (code, status) {
                        if (status == "success" && code > 0) {
                            alert(code + "个手机号加入黑名单");
                            window.location.reload()
                            return true;
                        }
                        else {
                            alert("手机号添加失败");
                            return false;
                        }
                    })
                }
            },
            Deletebtn: function (phoneNum) {
                $.get("/Tire/DeleteCouponBlackList", {
                    phoneNum: phoneNum
                }, function (code, status) {
                    if (status == "success" && code > 0) {
                        alert("黑名单移除成功");
                        window.location.reload()
                        return true;
                    }
                    else {
                        alert("黑名单移除失败");
                        return false;
                    }
                })
            },
        }
    </script>
