
@{
    ViewBag.Title = "普利司通申诉";
}


@section head{
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <style>
        .title {
            float: left;
        }

        .content {
            clear: both;
        }

        .condition .name {
            font-size: 16px;
            font-weight: bold;
            left: 0;
        }

        .right {
            margin-left: 35px;
        }

        .condition {
            margin-bottom: 10px;
        }

            .condition > div {
                margin-bottom: 10px;
            }



                .condition > div label input[type=text] {
                    width: 50px;
                }

        button.select, button.add {
            width: 200px;
            height: 30px;
        }

        table td, table th {
            text-align: center;
        }

        #AddItem p, #UpdateOrAddItem p {
            font-size: 17px;
            font-weight: bolder;
        }

        #AddItem div, #UpdateOrAddItem div {
            margin-bottom: 15px;
        }

        #AddItem span, #UpdateOrAddItem span {
            font-weight: bolder;
        }

        #AddItem input[type=text], #UpdateOrAddItem input[type=text] {
            width: 400px;
        }

        .pattern_list {
            list-style-type: none;
        }

        .brand_t {
            color: red;
            font-size: 17px;
        }

        .pattern_t {
            margin-left: 12px;
            font-size: 17px;
        }

        .error {
            color: red;
            display: none;
        }
        .overlay {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #999;
            opacity: 0.3;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
        .faild-dialog-container {
            width: 360px;
            border: 1px solid #ccc;
            border-radius: 20px;
            background-color: #eee;
            margin: auto;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            padding: 20px;
        }
        .faild-dialog-container {
            height: 240px;
        } 
        .faild-dialog-container > div {
            padding: 10px;
        }
        .faild-dialog-container a{
            display: block;
            width: 50px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: #666;
            text-decoration: none;
            cursor: pointer;
        }
        .faild-dialog-container textarea {
            width:100%;
            height:50px;
            resize: none;
        }
    </style>
}
<div class="title">
    <h2>普利司通申诉</h2>
</div>
<div class="content">
    <div class="condition">
        <div>
            <span class="name">订单号：</span>
            <input type="text" name="OrderNo" value="" />
        </div>
        <span class="name">请选择申诉状态：</span>
        <select class="pattern">
            <option value="-1">全部</option>
            <option value="0">审核中</option>
            <option value="1">通过</option>
            <option value="2">驳回</option>
        </select>
        <div>
            <span class="name">手机号：</span>
            <input type="text" name="MobilePhone" value="" />
        </div>       
        <button class="select" onclick="Func.LoadList(1)">搜索</button>
        <a href="javascript:void(0)" onclick="Func.ExportData()">导出轮胎数据</a>       
    </div>
    <div class="beforetable">
        每页显示：
        <select class="PageSize">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>条
        <span class="data_count"></span>
    </div>
    <img class="loadimg" src="~/Scripts/layer/skin/default/loading-2.gif" style="margin:5% 50%;display:none;" />
    <div id="TireRecallHistoryModule" style="display:none;"></div>
    <div class="list">
    </div>

</div>
@section scripts{
    <div id="faildDialog" style="display: none;">
        <div class="overlay">

        </div>

        <div class="faild-dialog-container">
            <div>温馨提醒</div>
            <div>
                请填写驳回的原因。
            </div>
            <div>
                <select id="reason">
                    <option>轮胎无需召回，请放心使用</option>
                    <option>此订单已进行过召回置换</option>
                    <option>轮胎DOT细节图不清晰</option>
                    <option>轮胎DOT细节图提交不规范</option>
                    <option>申请轮胎数量与上传DOT照片数量不符</option>
                    <option>上传的信息内，符合召回轮胎数量与申请数量不符</option>
                    <option>行驶证图片模糊</option>
                    <option>申请轮胎数量不符</option>                    
                </select>              
            </div>
            <div>
                <a id="btnFaildOk" style="float: left">确认</a><a id="btnFaildCannel" style="float: right">取消</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <script>
        var Func = {
            LoadList: function(index) {
                var Status = $("select.pattern>option:selected").val(),
                    OrderNo = $("[name=OrderNo]").val().trim(),
                    MobilePhone = $("[name=MobilePhone]").val().trim(),
                pageSize = $(".PageSize>option:selected").val();
                $.get("/Tire/TireRecallList", {
                    OrderNo: OrderNo,
                    Mobile: MobilePhone,
                    Status: Status,
                        pageSize: pageSize,
                        pageIndex: index
                }, function (html, status) {
                        if (status === "success") {
                            $(".loadimg").hide();
                            $(".list").html(html);
                        $(".data_count").text('共' + ($("table").length ? $("table").attr("data-count") : 0) + '条数据');

                        }
                    });
            },


            ExportData:function(index){
                var Status = $("select.pattern>option:selected").val(),
                   OrderNo = $("[name=OrderNo]").val().trim(),
                   MobilePhone = $("[name=MobilePhone]").val().trim()
                var href = `/Tire/ExportTiresRecallTemplate?OrderNo=${OrderNo}&Mobile=${MobilePhone}&Status=${Status}`;
                window.location.href = href;
            },

            CheckTireRecallLog(pkid) {
                $("#TireRecallHistoryModule").html("").load("/Tire/TireRecallHistoryModule?pkid=" + pkid);
                $("#TireRecallHistoryModule").dialog({
            title: "操作记录",
            width: 400,
            height: "auto",
            modal: true,
            resizable: false
        });
        }

        };
        $(function () {
            $(".list").on("click", ".pager>a", function (event) {
                event.preventDefault();
                var url = $(this).attr("href");
                if (url) {
                    $.post(url, function (html, status) {
                        if (status === "success") {
                            $(".list").html(html);
                        }
                    });
                }
            })
            $(".PageSize").change(function () {
                Func.LoadList(1);
            }); $(".list").on("click", ".pager>a", function (event) {
                event.preventDefault();
                var url = $(this).attr("href");
                if (url) {
                    $.post(url, function (html, status) {
                        if (status === "success") {
                            $(".list").html(html);
                        }
                    });
                }
            })
            $(".PageSize").change(function () {
                Func.LoadList(1);
            });
            Func.LoadList(1);
            var ids = ["faildDialog", "reason", "btnFaildOk","btnFaildCannel"];
            var elements = {
            };
            for (var key in ids) {
                elements[ids[key]] = $("#" + ids[key]);
            }
            var events = {
                Audit: function (el, reason) {
                    var pkid = el.data("pkid");
                    var status = el.data("status");
                    $.ajax({
                        url: "/Tire/TireRecallAudit",
                        type: "POST",
                        data: {
                            pkid: pkid,
                            status: status,
                            reason: reason
                        },
                        dataType: 'json',
                        success: function(data) {
                            if (data.Code === 1) {
                                alert("操作成功");
                                Func.LoadList(1);
                            } else {
                                alert("操作失败");
                            }
                        }
                    });
                },
                toggleDialog: function() {
                    elements.reason.val('');
                    if (elements.faildDialog.is(":visible")) {
                        elements.faildDialog.hide();
                    } else if (elements.faildDialog.is(":hidden")) {
                        elements.faildDialog.show();
                    }
                }
            };

            $("div.list").delegate("a[name=operate]",
                "click",
                function () {
                    var el = $(this);
                    var status = el.data("status");
                    //需要填写原因
                    if (status == 2) {
                        elements.btnFaildOk.unbind().bind("click",
                            function() {
                                var resonText = elements.reason.val();
                                if (resonText === '') {
                                    alert("请输入原因");
                                } else {
                                    events.Audit(el, resonText);
                                    events.toggleDialog();
                                }

                            });
                        events.toggleDialog();
                    } else {
                        if (confirm("是否确认通过")) {
                            events.Audit(el, '');
                        }
                    }
                });
            elements.btnFaildCannel.on("click", events.toggleDialog);
        });
       
    </script>
    
}