@{
    ViewBag.Title = "轮胎数量查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section head{
    <style>
        .title {
            float: left;
        }

        .content {
            clear: both;
        }

        .condition .name {
            font-size: 16px;
            font-weight: bold;
            position: absolute;
            left: 0;            
        }

        .condition label {
            font-size: 14px;
            margin-left: 10px;
        }

        .condition > div {
            margin-bottom: 10px;
            padding-left: 82px;
            position: relative;
        }

        .f14 {
            font-size: 14px;
            margin-left: 10px;
        }

        .red {
            color: red;
        }

        .tiresize-append label.hide {
            display: none;
        }

        .tiresize-append label {
            margin-right: 50px;
            display: inline-block;
            min-width: 99px;
        }

        .list table {
            width: 100%;
        }

        .data_count {
            color: blue;
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
        }

        #Tire_Width {
            margin-left: 13px;
        }

        div#BatchAddItem > div, div#ReplaceItem > div {
            margin-bottom: 20px;
        }

        img.img {
            width: 100px;
            height: 100px;
            cursor: pointer;
        }

        span.no {
            color: red;
        }

        .list {
            width: 100%;
            overflow-x: scroll;
        }
    </style>
}*@

<style>

    .red {
          color: red;
    }
    </style>


<div class="title">
    <h2>轮胎限购数量管理后台</h2>
</div>
@*<div class="content">
    <div class="condition">
        <div>
            <span>用户手机号:</span>
            <span style="width:10px" />
            <input type="text" name="userphone" value="" style="width:150px" />
            <span style="width:10px" />
            <label id="count1"/>
            <span style="width:300px" />
            <span>用户手机号:</span>
            <span style="width:10px" />
            <input type="text" name="updateuserphone" value="" style="width:150px" />
            <span style="width:40px" />
            <span>增加:</span>
            <span style="width:10px" />
            <input type="text" name="userphoneCount" value="" style="width:100px" />
        </div>
        <div>
            <span class="name">收货手机号:</span>
            <input type="text" name="receivephone" value="" style="width:150px" />
            <label id="count2" />
        </div>
        <div>
            <span class="name">设备ID:</span>
            <input type="text" name="deviceId" value="" style="width:150px" />
            <label id="count3" />
        </div>
        <button class="select" onclick="GetTireCount()" style="width: 200px;height: 30px;display: block;MARGIN-TOP: 12px;">查询</button>
        <span class="errortext"></span>
        <br />
    </div>
    
</div>*@


<table>
    <tr>
    <th width="50%" style="text-align:center;" colspan="7" class="bgTitle">查询轮胎数量</th>
        <th width="50%" style="text-align:center;" colspan="8" class="bgTitle">修改轮胎数量</th>
        </tr>
    <tr>
        <td colspan="2" style="width:88px">
            <label>用户手机号:</label>
        </td>
        <td colspan="4">
            <input type="text" name="userphone" id="userphone" class="red" onchange="changeUserPhonetext()"/>
        </td>
        <td colspan="1">
            <input type="text" id="count1" readonly="readonly" class="red"/>
            </td>
       
        @*<td colspan="2" style="width:88px">
            <label>用户手机号:</label>
        </td>
        <td colspan="4">
            <input type="text" name="updateuserphone" id="updateuserphone" class="red" />
        </td>
        <td colspan="1">
            <label>增加</label>
        </td>
        <td colspan="1">
            <input type="text" id="updatecount1" class="red"/>
        </td>*@
    </tr>


    <tr>
        <td colspan="2" style="width:88px">
            <label>收货手机号:</label>
        </td>
        <td colspan="4">
            <input type="text" name="receivephone" id="receivephone" class="red" onchange="changeAdressPhonetext()"/>
        </td>
        <td colspan="1">
            <input type="text" id="count2" readonly="readonly" class="red"/>
        </td>
        
        <td colspan="2" style="width:88px">
            <label>手机号:</label>
        </td>
        <td colspan="4">
            <input type="text" name="updatereceivephone" id="updatereceivephone" class="red"/>
        </td>
        <td colspan="1">
            <label>增加</label>
        </td>
        <td colspan="1">
            <input type="text" id="updatecount2" class="red"/>
        </td>

    <tr>
        <td colspan="2">
            <label>设备ID:</label>
        </td>
        <td colspan="4">
            <input type="text" name="deviceId" id="deviceId" class="red" onchange="changeDeviceIdPhonetext()"/>
        </td>
        <td colspan="1">
            <input type="text" id="count3" readonly="readonly" class="red"/>
        </td>
     
        <td colspan="2">
            <label>设备ID:</label>
        </td>
        <td colspan="4">
            <input type="text" name="updatedeviceId" id="updatedeviceId" class="red"/>
        </td>
        <td colspan="1">
            <label>增加</label>
        </td>
        <td colspan="1">
            <input type="text" id="updatecount3" class="red"/>
        </td>
    </tr>

    <tr>
        <td colspan="7">
        <button id="select" onclick="GetTireCount()" style="width:100%">查询</button>
        </td>
        <td colspan="8">
            <button id="update" onclick="UpdateTireCount()" style="width:100%">修改</button>
            </td>
        </tr>
            <tr>
                <td colspan="7">
                <input type="text" id="selecterrortext" class="red" readonly="readonly" style="width:100%"/>
                    </td>
                <td colspan="8">
                   <input type="text"  id="updateerrortext" class="red" readonly="readonly" style="width:100%"/>                   
                </td>
                </tr>
    </table>

<script>
       
    function changeUserPhonetext()
    {
        document.getElementById("count1").value = "";
        document.getElementById('selecterrortext').value = "";
    }

    function changeAdressPhonetext() {
        document.getElementById("count2").value = "";
        document.getElementById('selecterrortext').value = "";
    }

    function changeDeviceIdPhonetext() {
        document.getElementById("count3").value = "";
        document.getElementById('selecterrortext').value = "";
    }

    function ControlSearchControlStatus(flag) {
        document.getElementById("userphone").disabled = flag;
        document.getElementById("receivephone").disabled = flag;
        document.getElementById("deviceId").disabled = flag;       
        document.getElementById("select").disabled = flag;

    }


    function ControlUpdateControlStatus(flag) {
       // document.getElementById("updateuserphone").disabled = flag;
        document.getElementById("updatereceivephone").disabled = flag;
        document.getElementById("updatedeviceId").disabled = flag;   
      //  document.getElementById("updatecount1").disabled = flag;
        document.getElementById("updatecount2").disabled = flag;
        document.getElementById("updatecount3").disabled = flag;
        document.getElementById("update").disabled = flag;
    }

    function isInt(value) {
        return !isNaN(value) &&
               parseInt(Number(value)) == value &&
               !isNaN(parseInt(value, 10));
    }

        function GetTireCount() {
            var userphone = $("[name=userphone]").val().trim(),
                receivephone = $("[name=receivephone]").val().trim(),
                deviceId = $("[name=deviceId]").val().trim();

            var data= {
                UserPhone: userphone,
                AddressPhone: receivephone,
                DeviceId: deviceId
            };
            if (userphone || receivephone || deviceId) {
                document.getElementById('selecterrortext').value = '';
                ControlSearchControlStatus(true);
                $.post("/Tire/GetTireCount",data, function (result) {
                    if (result) {                         
                        if (isInt(result["AddressPhoneredisCount"]))
                            document.getElementById("count2").value = result["AddressPhoneredisCount"]>=0? result["AddressPhoneredisCount"]:0;
                        if (isInt(result["UserPhoneredisCount"]))
                            document.getElementById("count1").value = result["UserPhoneredisCount"]>=0? result["UserPhoneredisCount"]:0;
                        if (isInt(result["DeviceIdredisCount"]))
                            document.getElementById("count3").value = result["DeviceIdredisCount"] >= 0 ? result["DeviceIdredisCount"] : 0;
                    }
                    document.getElementById('selecterrortext').value = "搜索成功";
                   ControlSearchControlStatus(false);
                });
            }
            else {
                document.getElementById('selecterrortext').value="搜索项不能为空";
            }                          
        }
     

        function UpdateTireCount() {
            //var userphone = $("[name=updateuserphone]").val().trim(),
            //     updateuserphoneCount = document.getElementById("updatecount1").value.trim(),
             var  receivephone = $("[name=updatereceivephone]").val().trim(),
                updatereceivephoneCount = document.getElementById("updatecount2").value.trim(),
                deviceId = $("[name=updatedeviceId]").val().trim(),
                updatedeviceIdCount = document.getElementById("updatecount3").value.trim();
            var statustext = "";
            if ((receivephone && updatereceivephoneCount) || (deviceId && updatedeviceIdCount)) {
                document.getElementById('updateerrortext').value = '';
                ControlUpdateControlStatus(true);
                if (receivephone && updatereceivephoneCount) {
                    $.post("/Tire/UpdateTireCount", {                        
                        AddressPhone: receivephone,
                        DeviceId: deviceId,
                        Number: updatereceivephoneCount
                    }, function (data) {
                        if (data == true) {
                            statustext += "手机号所对应的轮胎数量更新成功;";
                            document.getElementById('updateerrortext').value = statustext;
                        }
                        else {
                            statustext += "手机号所对应的轮胎数量更新失败;";
                            document.getElementById('updateerrortext').value = statustext;
                        }
                    });
                }

                //if (userphone && updateuserphoneCount && receivephone) {
                //    if (userphone != receivephone) {
                //        $.post("/Tire/UpdateTireCount", {
                //            UserPhone: userphone,
                //            AddressPhone: receivephone,
                //            DeviceId: deviceId,
                //            Number: updateuserphoneCount
                //        }, function (data) {                          
                //            if (data == true) {
                //                statustext += "用户手机号所对应的轮胎数量更新成功;";
                //                document.getElementById('updateerrortext').value = statustext;
                //            }
                //            else {
                //                statustext += "用户手机号所对应的轮胎数量更新失败;";
                //                document.getElementById('updateerrortext').value = statustext;
                //            }
                //        });
                //    }
                //    else {
                //        statustext += "用户手机号与收货手机号一致,不能更新;";
                //        document.getElementById('updateerrortext').value = statustext;
                //    }
                //}
              

                if(deviceId && updatedeviceIdCount)
                {
                    $.post("/Tire/UpdateTireCount", {                     
                        AddressPhone: receivephone,
                        DeviceId: deviceId,
                        Number: updatedeviceIdCount
                    }, function (data) {
                        if (data == true) {
                            statustext += "设备ID所对应的轮胎数量更新成功;";
                            document.getElementById('updateerrortext').value = statustext;
                        }
                        else {
                            statustext += "设备ID所对应的轮胎数量更新失败;";
                            document.getElementById('updateerrortext').value = statustext;
                        }
                    });
                }
                setTimeout(ControlUpdateControlStatus(false),5000)
            }
            else {
                document.getElementById('updateerrortext').value = "更新项不能为空";
            }
        }

     
</script>
