@{
    ViewBag.Title = "ActivityOne";
    Layout = null;
}
<table class="table tab-content">
    <thead>
        <tr>
            <th>排 序</th>
            <th>样 式</th>
            <th>万能跳转</th>
            <th>背景图片</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="number" id="OrderBy" name="OrderBy" value="1" />
            </td>
            <td>
                通知栏
                <input type="hidden" id="Style" name="Style" value="1" />
            </td>
            <td>
                <input type="text" id="Url" name="Url"  style="width:350px;"  />
            </td>
            <td>
                <img id="imgActivityOne" width="30" height="30" />
                <input type="file" id="acFile" name="acFile"  onchange="UploadBgImg(this, 'imgActivityOne', 'BgUrl')"/>
                <input type="hidden" id="BgUrl" name="BgUrl" />
            </td>
        </tr>
    </tbody>
</table>
