<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section name="rabbitmq" type="Tuhu.MessageQueue.RabbitMQSection, Tuhu.MessageQueue" />
    </configSections>
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>
    <rabbitmq hostName="172.16.20.1" userName="test" password="itsme999" virtualHost="/dev" continuationTimeout="30000" socketTimeout="20000" />
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1215">
                <!--<arg key="configType" value="INLINE" />-->
                <arg key="configType" value="FILE-WATCH" />
                <arg key="configFile" value="~/log4net.config" />
            </factoryAdapter>
        </logging>
    </common>
    <connectionStrings>
        <!--OnlyDevelop-->
        <add name="dev254" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Aliyun" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Marketing;User ID=LogUser;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="GungnirReadOnly" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Gungnir" connectionString="data source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=gungnirreader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Gungnir_ReadOnly" connectionString="data source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=gungnirreader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Configuration" connectionString="data source=172.16.20.1\dev;Initial Catalog=Configuration;User ID=gungnirreader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Configuration_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=Configuration;User ID=gungnirreader;Password=itsme999;ApplicationIntent=Readonly" providerName="System.Data.SqlClient" />


        <add name="StarterSite_productcatalogConnectionString" connectionString="data source=172.16.20.1\dev;Initial Catalog=Tuhu_productcatalog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Gungnir_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=Gungnir;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="BaoYang_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=BaoYang;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Tuhu_productcatalog_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=Tuhu_productcatalog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="SystemLogConnectionString" connectionString="data source=172.16.20.1\dev;Initial Catalog=SystemLog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="SystemLog_AlwaysOnRead" connectionString="data source=172.16.20.1\dev;Initial Catalog=SystemLog;User ID=GungnirReader;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="CacheReadOnly" connectionString="data source=172.16.20.1\dev;Initial Catalog=Cache;User ID=dbreader;Password=Lushanshenglong8" providerName="System.Data.SqlClient" />
        <add name="WmsReadOnly" connectionString="data source=172.16.20.1\dev;Initial Catalog=WMS;User ID=WMSUser;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Tuhu_Discovery_Db" connectionString="data source=172.16.20.1\dev;initial catalog=Marketing;user id=LogUser;password=itsme999;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
        <add name="Tuhu_log" connectionString="data source=172.16.20.1\dev;Initial Catalog=Tuhu_log;User ID=LogUser;Password=itsme999" providerName="System.Data.SqlClient" />
        <add name="Tuhu_Gungnir_BI" connectionString="data source=172.16.20.1\dev;initial catalog=Gungnir;user id=SettingUser;password=itsme999;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
        <add name="Tuhu_BI" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_bi;User ID=LogUser;Password=itsme999;" providerName="System.Data.SqlClient" />

        <add name="Tuhu_Groupon" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Groupon;Persist Security Info=True;User ID=ShopUser;Password=itsme999;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
        <add name="Tuhu_Groupon_ReadOnly" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Groupon;Persist Security Info=True;User ID=ShopUser;Password=itsme999;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
        <add name="Tuhu_Groupon_AlwaysOnRead" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_Groupon;Persist Security Info=True;User ID=ShopUser;Password=itsme999;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
        <add name="ThirdParty" connectionString="User ID=APPUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_thirdparty;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
        <add name="ThirdPartyReadOnly" connectionString="User ID=APPUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_thirdparty;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
        <add name="Elasticsearch" connectionString="http://wcf.tuhu.work:9200" providerName="Nest.ElasticClient" />
        <add name="Elasticsearch-Log" connectionString="http://wcf.tuhu.work:19200" providerName="Nest.ElasticClient" />
        <!--DevelopOnly-->

        <!--OnlyProduction

    <add name="Aliyun" connectionString="Data Source=db-log-rw;Initial Catalog=Marketing;Persist Security Info=True;User ID=Tuhu_Marketing;Password=Tak9_R7d!5vTg;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_log" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Tuhu_Log;Data Source=db-log-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Cache" connectionString="User ID=DBOperTuhu;Password=yiminyaozao7!;Persist Security Info=True;Initial Catalog=CacheDb;Data Source=netscaler.ad.tuhu.cn;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="ReadOnly" connectionString="User ID=dbonlyreader;Password=Lushanshenglong8;Persist Security Info=True;Initial Catalog=Gungnir;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient"/>
    <add name="CacheReadOnly" connectionString="User ID=dbreader;Password=Lushanshenglong8;Persist Security Info=True;Initial Catalog=CacheDb;Data Source=netscaler.ad.tuhu.cn;Connect Timeout=6000;" providerName="System.Data.SqlClient"/>
    <add name="WmsReadOnly" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=WMS;Data Source=db-wms-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Gungnir1" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Gungnir;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Gungnir" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Gungnir;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Configuration" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Configuration;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Configuration_AlwaysOnRead" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Configuration;Data Source=db-gungnir-rw;Connect Timeout=6000;ApplicationIntent=Readonly" providerName="System.Data.SqlClient" />
    <add name="Gungnir_AlwaysOnRead" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Gungnir;Data Source=db-gungnir-rw;Connect Timeout=6000;ApplicationIntent=Readonly" providerName="System.Data.SqlClient" />
    <add name="WMS" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=WMS;Data Source=db-wms-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="ReportingDB" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=ReportingDB;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="GungnirMonitorLog" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Gungnir_MonitorLog;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="BaoYang" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=BaoYang;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="GungnirWorkFlow" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Gungnir_WorkFlow;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Gungnir;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="MembershipConnection" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Data Source=db-gungnir-rw;Initial Catalog=Tuhu_profiles;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="GungnirEntities" connectionString="metadata=res://*/DAL.Order.csdl|res://*/DAL.Order.ssdl|res://*/DAL.Order.msl;provider=System.Data.SqlClient;provider connection string=&quot;user id=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Gungnir;Data Source=db-gungnir-rw;Database=Gungnir;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GungnirConnectionString" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Gungnir;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="StarterSite_profilesConnectionString" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Data Source=db-gungnir-rw;Initial Catalog=Tuhu_profiles;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="GungnirData" connectionString="metadata=res://*/Models.ThBiz.csdl|res://*/Models.ThBiz.ssdl|res://*/Models.ThBiz.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=db-gungnir-rw;Database=Gungnir;User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TuhuBiz" connectionString="metadata=res://*/Models.TuhuBiz.csdl|res://*/Models.TuhuBiz.ssdl|res://*/Models.TuhuBiz.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=db-gungnir-rw;Database=Gungnir;User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StarterSite_productcatalogConnectionString" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Data Source=db-gungnir-rw;Initial Catalog=Tuhu_productcatalog; Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="SystemLogConnectionString" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=SystemLog;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="SystemLog_AlwaysOnRead" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=SystemLog;Data Source=db-gungnir-ro;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="BackupConnectionString" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=model;Data Source=db-log-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient"/>
    <add name="Gungnir_ReadOnly" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Gungnir;Data Source=db-gungnir-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="MonitorSystemConnection" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Monitor;Data Source=db-wms-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_productcatalog_AlwaysOnRead" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Data Source=db-gungnir-rw;Initial Catalog=Tuhu_productcatalog; Connect Timeout=6000;ApplicationIntent=Readonly" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Discovery_Db" connectionString="Data Source=db-log-rw;Initial Catalog=Marketing;Persist Security Info=True;User ID=Tuhu_Marketing;Password=Tak9_R7d!5vTg;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Gungnir_BI" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Gungnir;Data Source=db-mix.ad.tuhu.cn;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="BaoYang_AlwaysOnRead" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=BaoYang;Data Source=db-gungnir-rw;Connect Timeout=6000;ApplicationIntent=Readonly" providerName="System.Data.SqlClient" /> 
    <add name="Tuhu_Groupon" connectionString="User ID=Tuhu_Groupon;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Tuhu_Groupon;Data Source=db-shop-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Groupon_ReadOnly" connectionString="User ID=Tuhu_Groupon;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Tuhu_Groupon;Data Source=db-shop-ro;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Groupon_AlwaysOnRead" connectionString="User ID=Tuhu_Groupon;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Tuhu_Groupon;Data Source=db-shop-ro;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_BI" connectionString="User ID=TUHU_YW;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Tuhu_bi;Data Source=db-log-rw;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="ThirdParty" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Data Source=db-app-rw;Initial Catalog=Tuhu_thirdparty;Persist Security Info=True;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="ThirdPartyReadOnly" connectionString="User ID=Tuhu_Setting;Password=Kj5sa_C6DsLmx;Data Source=db-app-ro;Initial Catalog=Tuhu_thirdparty;Persist Security Info=True;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Elasticsearch" connectionString="http://netscaler.ad.tuhu.cn:9200" providerName="Nest.ElasticClient" />
    <add name="Elasticsearch-Log" connectionString="http://netscaler.ad.tuhu.cn:19200" providerName="Nest.ElasticClient" />  
  ProductionOnly-->
    </connectionStrings>
    <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" targetFramework="4.6.1" />
        <httpRuntime targetFramework="4.6.1" />
        <httpModules>
        </httpModules>
        <authentication mode="Forms">
            <!--OnlyDevelop-->
            <forms loginUrl="http://yewu.tuhu.dev/Account/LogOn" timeout="2880" name=".TUHUYEWUSiGN" defaultUrl="/" domain=".tuhu.dev" />
            <!--DevelopOnly-->
            <!--OnlyProduction
      <forms loginUrl="http://yewu.tuhu.cn/Account/LogOn" timeout="2880" name=".TUHUYEWUSiGN" defaultUrl="/"  domain=".tuhu.cn"  />
      ProductionOnly-->
        </authentication>
        <machineKey validationKey="8A99723897FCD7361B7B66049FEDC61B121296E6" decryptionKey="3010C2D2CEF3285BA890FD63C67B5DB6E80D31557C91BB70" validation="SHA1" decryption="3DES" />
        <authorization>
            <deny users="?" />
        </authorization>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.MessageQueue" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
        </modules>
    </system.webServer>
    <!--OnlyDevelop-->
    <!--DevelopOnly-->
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
</configuration>
