@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBootrap.cshtml";
}

<div id="nav-col" style="width:180px;">
    <section id="col-left" class="col-left-nano">
        <div id="col-left-inner" class="col-left-nano-content">

            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                <ul class="nav nav-pills nav-stacked"></ul>
            </div>
        </div>
    </section>
</div>

<div id="content-wrapper" style="margin-left:180px;">
    <div class="content-tabs">
        <button class="roll-nav roll-left tabLeft">
            <i class="fa fa-backward"></i>
        </button>
        <nav class="page-tabs menuTabs">
            <div class="page-tabs-content">
                @*<a href="javascript:;" class="menuTab active" data-id="11A7B22D-C101-4E43-9209-910DF615D1FA">工作台</a>*@
                <a href="javascript:;" class="active menuTab" data-id="/DeviceBrand/List">Android机型配置</a>
            </div>
        </nav>


        <button class="roll-nav roll-right" onclick="home()"><i class="fa fa-arrows-alt"></i></button>
    </div>
    <div class="content-iframe" style="background-color: #f9f9f9; overflow: hidden;">
        <div class="mainContent" id="content-main" style="margin-bottom: 0px; padding: 0;">
            @*<iframe id="NFine_iframe" class="NFine_iframe" width="100%" height="100%" src="/Home/Index" frameborder="0" data-id="11A7B22D-C101-4E43-9209-910DF615D1FA"></iframe>*@
            <iframe class="NFine_iframe" id="iframe4794C57D-5F82-4CB5-9A9C-4F3F42B02E96" name="iframe4794C57D-5F82-4CB5-9A9C-4F3F42B02E96" width="100%" height="100%" src="/DeviceBrand/List" frameborder="0" data-id="/DeviceBrand/List" seamless=""></iframe>
        </div>
    </div>
</div>

<script type="text/javascript">
    function home() {
        var iframe = $.currentWindow();

        if (iframe) {
            window.open(iframe.location.href, "_bank");
        }
    }
</script>
