@charset "utf-8";
$iconFontName:as-icon; // 图标名

$IconName: as-icon; // 图标名
$FontName: as-font; // 字体名


@mixin iconFont($fontName, $extendName:'') { // 定义字体样式内容
    @if $extendName != ''{
        font-family: "#{$fontName}","#{$extendName}" !important;
    } @else {
        font-family: "#{$fontName}" !important;
    }
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal; // 小型大写
    text-transform: none;
    line-height: 1;
}

@mixin smoothing() {
    -webkit-text-stroke-width: 0.2px; // 用长度值指定描边厚度
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin fontFace($dir,$fontName) { // 设置字体
    $fontdir:"#{$dir}fonts/#{$fontName}/#{$fontName}";
    font-family: "#{$fontName}";
    src: url("#{$fontdir}.eot"); /* IE9 */
    src: url("#{$fontdir}.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("#{$fontdir}.woff") format("woff"), /* chrome、firefox */
    url("#{$fontdir}.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("#{$fontdir}.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}


//图标
@mixin mrIcon($dir:"../",$fontName: $IconName, $clsaaName: mr_icon, $extendName:'') {
    @font-face {
        @include fontFace($dir,$fontName);
    }
    .#{$clsaaName} {
        @include iconFont($fontName, $extendName);
        @include smoothing();
    }
}

//字体
@mixin mrFont($dir:"../",$fontName: $FontName, $clsaaName:mr_font, $extendName:'') {
    @font-face {
        @include fontFace($dir,$fontName);
    }
    .#{$clsaaName} {
        @include iconFont($fontName, $extendName);
    }
}


%as_icon { // 图标
    @include iconFont($IconName, '');
    @include smoothing();
}

%as_font { // 字体
    @include iconFont($FontName, '');
}
