/** -----------------------  布局大小  ------------------------ */
$headerHeight: 58px; // 头部高度
$headerTabHeight: 39px; // 头部页签高度
$navLeftWidth: 230px; // 左边菜单宽度
$smallNavLeftWidth: 65px; // 左边菜单小的宽度
// $navLeftChildWidth: 140px; // 左边子菜单宽度
$minWidth: 1200px; // 收起菜单宽度
// $phoneWidth: 600px; //移动端宽度

/** -----------------------  字号大小  ------------------------ */
$defaultFontSize: 14px;
$largeFontSize: 16px;
$smallFontSize: 12px;

/** -------------------------  颜色  -------------------------- */

$colorf: #ffffff;
$color0: #000;
$color3: #333333;
$color6: #666666;
$color9: #999999;
$color5a: #5a5a5a;
$colore: #eee;
$colorRed: red;
$stressColor: #f56c6c; // 着重色
$linkColor: #409EFF; // 超链接文字颜色
$tableColor:#606266; // 表格头部颜色
// 背景
$layoutBg: #34323D; // 布局背景
$activeColor: #FBEAEC; // 活动色
$grayBg: #dfdfdf;   // 浅灰背景
$grayBtnBg: #DCDCDC;  // 按钮不能点击背景
$bgColorD9: #D9D9D9; // 按钮边框线
$bgColorF5: #f5f7fa;
$bgColorBtn: #169bd5;
// 边框
$btnBrColor: #ccc; // 边框线
$splitBrColor: #EEEEEE; // 分割线颜色
$tabBrColor: #f1f1f1; // tab分割线颜色
$brColorE4e: #e4e7ed; // tab分割线颜色
