
@{
    ViewBag.Title = "查询VIN码对应的喷漆等级";
}

@section head{
    <style type="text/css">
        [v-cloak] {
            display: none;
        }

        .tableContainer {
            width: 100%;
        }

        .tableContainer th {
            background: #66ABEF;
            color: #F3F7FA;
            border: 1px solid #559BD0;
            font-weight: 600;
            font-family: "Microsoft Yahei";
            text-align: center;
        }

        .tableContainer td {
            font-size: 75%;
            padding: 8px 3px 8px 3px;
            font-family: "Microsoft Yahei";
            text-align: center;
            border: 1px solid #eee;
        }
        table.inner {
            border-collapse: collapse;
            width: 100%;
            height: 100%;
        }
        table.inner td, th {
            margin: 0;
            padding:0;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-primary {
            font-weight: bold;
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
            width: auto;
        }
        button[disabled].btn-primary {
            font-weight: bold;
            color: graytext;
            background-color: buttonface;
            border-color: buttonface;
            width: auto;
        }
    </style>
}




<h2>查询VIN码对应的喷漆等级</h2>
<div id="div">
    <div>
        <input type="file" id="file" value="上传文件" v-on:change="excelFile=$event.target.files[0]" />
        <a href="javascript:void(0)" v-on:click="downloadFile">下载模板文件</a>
        <button type="button" v-on:click="uploadExcelFile" v-bind:diasabled="lock">上传</button>
        <span v-if="lock"><img src="~/Images/loading.gif" />正在上传中,请稍后...</span>
        @*<button type="button" v-on:click="exportExcel" v-bind:disabled="list.length<=0">导出</button>*@
    </div>
    <div style="margin-top:10px;">
        <table class="tableContainer">
            <thead>
                <tr>
                    <th>#</th>
                    <th>手机号</th>
                    <th>VIN码</th>
                    <th style="width:54%">车型信息</th>
                    <th style="width:18%">喷漆档次</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(it,index) in (list ||[])">
                    <td>{{index+1}}</td>
                    <td>{{it.Mobile}}</td>
                    <td>{{it.Vin}}</td>
                    <td colspan="2">
                        <my_table v-bind:it="it"></my_table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top:30px;text-align:center;">
        <button type="button" v-on:click="exportExcel" v-bind:disabled="list.length<=0" class="btn btn-primary">导出</button>
    </div>
</div>

<script type="text/x-template" id="table">
    <table class="inner">
        <tr v-for="item in it.SprayPaintLevel">
            <td style="width:75%">
                <table class="inner">
                    <tr v-for="item2 in item.VehicleInfo">
                        <td style="width:33%">{{item2.VehicleID}}</td>
                        <td style="width:33%">{{item2.Brand}}</td>
                        <td style="width:34%">{{item2.Vehicle}}</td>
                    </tr>
                </table>
            </td>
            <td style="width:25%">
                <template v-if="it.SprayPaintLevel.length > 1">
                    <input type="radio" v-bind:value="item.VehicleLevel" v-model="VehicleLevel" />
                </template>
                {{item.VehicleLevel}}
            </td>
        </tr>
    </table>
</script>

@section scripts{
    <script type="text/javascript" src="~/Scripts/vue.min.js"></script>
    <script type="text/javascript">

        Vue.component('my_table', {
            template: '#table',
            props: ['it'],
            data: function () {
                return { VehicleLevel: "" };
            },
            watch: {
                "VehicleLevel": function () {
                    this.it.VehicleLevel = this.VehicleLevel;
                }
            }
        });


        var vm = new Vue({
            el: '#div',
            data: {
                lock: false,
                excelFile: "",
                list: [],
                test: "",
            },
            watch: {
                excelFile: function () {
                    if (!this.excelFile) {
                        document.querySelector("#file").value = "";
                    }
                }
            },
            methods: {
                uploadExcelFile: function () {
                    var self = this;
                    self.lock = true;
                    var formData = new FormData();
                    formData.append("file", self.excelFile);

                    $.ajax({
                        url: 'SearchByExcel',
                        type: "post",
                        data: formData,
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        success: function (rsp) {
                            if (rsp.Status) {
                                //alert("上传成功");
                                self.excelFile = null;
                                self.list = rsp.Data || [];
                                self.list.forEach(function (x) { x.VehicleLevel = ""; });
                            }
                            else {
                                self.list = [];
                                alert("上传失败!" + (rsp.Msg || ""));
                            }
                            self.lock = false;
                        },
                        error: function (rsp) {
                            alert("上传失败");
                            self.lock = false;
                            self.list = [];
                        }
                    });
                },

                downloadFile: function () {
                    window.location.href = "DownloadVinSprayPaintFile";
                },

                getCount: function (item) {
                    var length = 0;
                    for (var i = 0; i < item.SprayPaintLevel.length; i++) {
                        var count = item.SprayPaintLevel[i].VehicleInfo.length;
                        length += (count > 0 ? count : 1);
                    }
                    return length > 0 ? length : 1;
                },
                getTotalCount: function (item) {
                    var length = 0;
                    for (var i = 0; i < item.SprayPaintLevel.length; i++) {
                        var count = item.SprayPaintLevel[i].VehicleInfo.length;
                        length += (count > 0 ? count : 1);
                    }
                    return length > 0 ? length : 1;
                },
                exportExcel: function () {
                    var self = this;
                    var pass = true;
                    var data = self.list.map(function (x) {
                        var obj = { Mobile: x.Mobile, Vin: x.Vin, VehicleLevel: x.VehicleLevel, VehicleInfo: [] };
                        if (x.SprayPaintLevel.length > 1) {
                            if (pass && x.VehicleLevel) {
                                var item = x.SprayPaintLevel.find(function (x) { return x.VehicleLevel == obj.VehicleLevel; });
                                obj.VehicleInfo = item.VehicleInfo;
                            }
                            else {
                                pass = false;
                            }
                        }
                        else if (x.SprayPaintLevel.length == 1) {
                            obj.VehicleLevel = x.SprayPaintLevel[0].VehicleLevel;
                            obj.VehicleInfo = x.SprayPaintLevel[0].VehicleInfo;
                        }
                        return obj;
                    });
                    if (!pass) {
                        alert("必须选择一项再导出");
                        return;
                    }
                    console.log(data);
                    downloadFile(data);
                }
            },
        });

        function downloadFile(items) {
            var form = $("<form>");
            form.attr('style', 'display:none');
            form.attr('target', '');
            form.attr('method', 'post');
            form.attr('action', "ExportExcel");
            for (var i = 0; i < items.length; i++) {
                var input = $('<input>');
                input.attr('type', 'hidden');
                input.attr('name', 'data[' + i + ']');
                input.attr('value', JSON.stringify(items[i]));
                form.append(input);
            }
            $('body').append(form);
            form.submit();
            form.remove();
        }
    </script>
}
