<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="zookeeper" type="Tuhu.ZooKeeper.ZooKeeperClientSection, Tuhu.ZooKeeper" />
    <section name="nosql" type="Tuhu.Nosql.Configuration.NosqlConfiguration, Tuhu.Nosql" />
    <section name="redisClient" type="Tuhu.Nosql.Redis.Configuration.RedisCachingSectionHandler, Tuhu.Nosql.Redis" />
    <section name="rabbitmq" type="Tuhu.MessageQueue.RabbitMQSection, Tuhu.MessageQueue" />
    <section name="webSite" type="Tuhu.C.Job.TuhuMonitor.WebSiteMonitorSection, Tuhu.C.Job.TuhuMonitor" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="C调度服务" />

    <!--configure thread pool info-->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="20" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />

    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />

    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.config" />
    <add key="quartz.plugin.xml.scanInterval" value="30" />
  </quartz>
  <nosql provider="Tuhu.Nosql.Redis.RedisProvider, Tuhu.Nosql.Redis" sectionName="redisClient" prefix="CJob" file="Cache.config">
    <expiration>
    </expiration>
  </nosql>
  <redisClient abortOnConnectFail="false" allowAdmin="true" ssl="false" connectTimeout="500" database="1" proxy="Twemproxy">
    <hosts>
      <add host="172.16.20.233" cachePort="6479" />
    </hosts>
  </redisClient>
  <zookeeper sessionTimeOut="30000" server="172.16.20.1" masterSlavePath="/MasterSlave/Service" />
  <rabbitmq hostName="172.16.20.1" userName="test" password="itsme999" virtualHost="/dev" />
  <webSite>
    <add host="api.tuhu.cn" ip="CL-API-01,CL-API-02,CL-API-03,CL-API-04,CL-API-05,CL-API-06,CL-API-07" timeout="3000" />
    <add host="by.tuhu.cn" ip="CL-BY-01,CL-BY-02,CL-BY-03,CL-BY-04,CL-BY-05,CL-BY-06,CL-BY-07" timeout="3000" url="/baoyang/Index.html?pid=VE-XJWSJTYBK&amp;n=2009&amp;pl=2.0L" />
    <add host="item.tuhu.cn" ip="" timeout="3000" url="/List/Tires/1/CP_Tire_AspectRatio=60&amp;CP_Tire_Rim=18&amp;CP_Tire_Width=235&amp;d_Vech=VE-QJLLANDJIG.html" />
    <add host="www.tuhu.cn" ip="CL-WWW-01,CL-WWW-02,CL-WWW-03,CL-WWW-04,CL-WWW-05,CL-WWW-06,CL-WWW-07" timeout="3000" />
    <add host="WX.tuhu.cn" ip="CL-WX-01,CL-WX-02,CL-WX-03,CL-WX-04,CL-WX-05,CL-WX-06,CL-WX-07" timeout="3000" />
  </webSite>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <!--<arg key="configType" value="INLINE" />-->
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="StandAlone" value="true" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1024" />
    </connectionManagement>
    <mailSettings>
      <smtp deliveryMethod="Network" from="途虎养车网 &lt;servicesender@tuhu.cn&gt;">
        <network host="smtp.exmail.qq.com" userName="servicesender@tuhu.cn" password="Lushanshenglong8" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
        <binding name="ProductCacheServiceBehavior" maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <tuhuEndPointBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Product" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.10.18" newVersion="1.3.10.18" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.MessageQueue" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Shop" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.3.7" newVersion="1.3.3.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Order" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.5.37" newVersion="2.3.5.37" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.BaoYang" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.4.5.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Push" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.1.4.12" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Vehicle" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.2.5.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.UserAccount" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.2.6.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.GaiZhuang" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.0.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Nosql" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.EmailProcess" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Activity" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.2.3.17" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Utility" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.7" newVersion="1.2.2.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.ThirdParty" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.4" newVersion="1.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
