<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section name="rabbitmq" type="Tuhu.MessageQueue.RabbitMQSection, Tuhu.MessageQueue" />
        <section name="zookeeper" type="Tuhu.ZooKeeper.ZooKeeperClientSection, Tuhu.ZooKeeper" />
        <section name="nosql" type="Tuhu.Nosql.Configuration.NosqlConfiguration, Tuhu.Nosql" />
        <section name="redisClient" type="Tuhu.Nosql.Redis.Configuration.RedisCachingSectionHandler, Tuhu.Nosql.Redis" />
        <section name="cat" type="Tuhu.Profiling.Configuration.CatSectionHandler, Tuhu.Profiling" />
    </configSections>
    <!--OnlyDevelop-->
    <cat server="cat.tuhu.work" enabled="true" />
    <!--DevelopOnly-->
    <!--OnlyProduction
    <cat server="netscaler.ad.tuhu.cn:2281"  threadPool="auto" enabled="true" />
    ProductionOnly-->
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
                <!--<arg key="configType" value="INLINE" />-->
                <arg key="configType" value="FILE-WATCH" />
                <arg key="configFile" value="~/log4net.config" />
            </factoryAdapter>
        </logging>
    </common>
    <nosql provider="Tuhu.Nosql.Redis.RedisProvider, Tuhu.Nosql.Redis" sectionName="redisClient" prefix="Tuhu.Service.Activity" file="Cache.config">
        <expiration>
        </expiration>
    </nosql>
    <redisClient abortOnConnectFail="false" allowAdmin="true" ssl="false" connectTimeout="500" database="1" proxy="Twemproxy">
        <hosts>
            <add host="172.16.20.233" cachePort="6479" />
        </hosts>
    </redisClient>
    <rabbitmq hostName="172.16.20.1" userName="test" password="itsme999" virtualHost="/dev" continuationTimeout="30000" socketTimeout="20000" />
    <zookeeper sessionTimeOut="30000" server="172.16.20.1" distributedLockPath="/DistributedLock" masterSlavePath="/MasterSlave/Service" />

    <appSettings>
        <add key="wcf:disableOperationContextAsyncFlow" value="false" />
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
        <add key="RemoteName" value="Service.Activity" />
        <add key="VerifyActivityNew" value="0" />
        <!--OnlyDevelop-->
        <add key="FightGroupsGuids" value="adda4ab0-969e-4cc9-97f0-830ae201b1a2,29475122-3de7-4afa-ad80-966ca683f681,052ab789-38a8-415a-b6de-ad28a947692f,79227bde-65b8-4f1d-aa41-516822aff4e4" />
        <add key="QuestionnaireURL" value="http://wx.dev.tuhu.work/vue/vueTest/pages/home/index?_project=Questionnaire%26" />
        <add key="VipcardBindUrl" value="http://172.16.20.169:8848/account/buyCard" />
        <add key="AllPlaceLimitId" value="75cf0575-d63b-46d7-bd7a-304269622724" />
        <add key="AllPlaceLimitDate" value="2018-05-14 00:00:00,2018-06-30 00:00:00" />
        <!--DevelopOnly-->
        <!--OnlyProduction
        <add key="FightGroupsGuids" value="94bc4c72-83d2-4243-bd33-46a3cb0b43d3,f2de19ed-1d53-4f1f-9422-39eff591ef55,526c8ae8-c0f7-4ffa-9486-d52e36f2ab6c,8dd884ed-210f-4497-b7a1-391502639816" />
        <add key="QuestionnaireURL" value="https://wx.tuhu.cn/vue/Questionnaire/pages/home/index?"/>
        <add key="VipcardBindUrl" value="http://account-engine.ad.tuhu.cn:9010/account/buyCard" />
        <add key="AllPlaceLimitId" value="300e258f-499d-404f-9791-79a12882a782"/>
        <add key="AllPlaceLimitDate" value="2018-06-01 00:00:00,2018-06-21 00:00:00"/>
         ProductionOnly-->
    </appSettings>
    <connectionStrings>
        <add name="Elasticsearch" connectionString="http://172.16.20.1:9200" providerName="Nest.ElasticClient" />
        <add name="Elasticsearch-Log" connectionString="http://172.16.20.1:19200" providerName="Nest.ElasticClient" />
        <add name="Gungnir" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="GungnirReadOnly" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Cache" connectionString="User ID=LogUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_Log;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" targetFramework="4.6.2" />
        <httpRuntime targetFramework="4.6.2" />
    </system.web>
    <system.net>
        <connectionManagement>
            <add address="*" maxconnection="512" />
        </connectionManagement>
        <mailSettings>
            <smtp deliveryMethod="Network" from="途虎养车网 &lt;servicesender@tuhu.cn&gt;">
                <network host="smtp.exmail.qq.com" userName="servicesender@tuhu.cn" password="Lushanshenglong8" port="25" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
        <bindings>
            <basicHttpBinding>
                <binding name="http_default" maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:00:10" sendTimeout="00:00:10" />
                <binding name="http_long" maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:00:30" sendTimeout="00:00:30" />
                <binding maxBufferSize="100000000" maxReceivedMessageSize="100000000" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding maxBufferPoolSize="5242880000" maxBufferSize="655360000" maxReceivedMessageSize="655360000" portSharingEnabled="false" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                    <security mode="None" />
                </binding>
                <binding name="NoneSecurityBehavior">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <customBinding>
                <binding name="BindingForTCP" receiveTimeout="00:05:00" sendTimeout="00:05:00">
                    <binaryMessageEncoding>
                        <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
                    </binaryMessageEncoding>
                    <tcpTransport transferMode="Streamed" maxReceivedMessageSize="2147483647">
                        <connectionPoolSettings groupName="default" idleTimeout="00:01:00" leaseTimeout="00:00:30" maxOutboundConnectionsPerEndpoint="1000" />
                    </tcpTransport>
                </binding>
            </customBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior>
                    <tuhuEndPointBehavior />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <tuhuServiceErrorHandler />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <extensions>
            <behaviorExtensions>
                <add name="AttachThreadIdentityExtension" type="Platform.MessageInspector.AttachThreadIdentityBehaviorExtension,Platform,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
                <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service.Server" />
                <add name="tuhuServiceErrorHandler" type="Tuhu.Service.TuhuServiceErrorHandlerServiceBehaviorExtensionElement, Tuhu.Service.Server" />
                <add name="GetThreadIdentityExtension" type="Tuhu.Component.MessageInspector.GetThreadIdentityBehaviorExtension, Tuhu.Component.MessageInspector" />
                <add name="WatchServerThresholdExtension" type="Tuhu.Component.MessageInspector.WatchServerThresholdBehaviorExtension,Tuhu.Component.MessageInspector" />
            </behaviorExtensions>
        </extensions>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9058/Product/ProductSearch.svc" contract="Tuhu.Service.Product.IProductSearchClient" name="Tuhu.Service.Product.IProductSearchClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9058/Product/Product.svc" contract="Tuhu.Service.Product.IProductClient" name="Tuhu.Service.Product.IProductClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/UserAccount/UserProfile.svc" contract="Tuhu.Service.UserAccount.IUserProfileClient" name="Tuhu.Service.UserAccount.IUserProfileClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/UserAccount/UserAccount.svc" contract="Tuhu.Service.UserAccount.IUserAccountClient" name="Tuhu.Service.UserAccount.IUserAccountClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_long" address="http://wcf.tuhu.work:9010/Order/CreateOrder.svc" contract="Tuhu.Service.Order.ICreateOrderClient" name="Tuhu.Service.Order.ICreateOrderClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Product/Gifts.svc" contract="Tuhu.Service.Product.IGiftsClient" name="Tuhu.Service.Product.IGiftsClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/BaoYang/BaoYang.svc" contract="Tuhu.Service.BaoYang.IBaoYangClient" name="Tuhu.Service.BaoYang.IBaoYangClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Config/Config.svc" contract="Tuhu.Service.Config.IConfigClient" name="Tuhu.Service.Config.IConfigClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Push/pushtemplate.svc" contract="Tuhu.Service.Push.ITemplatePushClient" name="Tuhu.Service.Push.ITemplatePushClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Push/wxpush.svc" contract="Tuhu.Service.Push.IWeiXinPushClient" name="Tuhu.Service.Push.IWeiXinPushClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Vehicle/Vehicle.svc" contract="Tuhu.Service.Vehicle.IVehicleClient" name="Tuhu.Service.Vehicle.IVehicleClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Member/Promotion.svc" contract="Tuhu.Service.Member.IPromotionClient" name="Tuhu.Service.Member.IPromotionClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Member/ThirdPartyPromotion.svc" contract="Tuhu.Service.Member.IThirdPartyPromotionClient" name="Tuhu.Service.Member.IThirdPartyPromotionClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_long" address="http://wcf.tuhu.work:9010/Order/OrderOperation.svc" contract="Tuhu.Service.Order.IOrderOperationClient" name="Tuhu.Service.Order.IOrderOperationClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_long" address="http://wcf.tuhu.work:9010/Order/OrderQuery.svc" contract="Tuhu.Service.Order.IOrderQueryClient" name="Tuhu.Service.Order.IOrderQueryClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Product/ProductConfig.svc" contract="Tuhu.Service.Product.IProductConfigClient" name="Tuhu.Service.Product.IProductConfigClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Shop/Region.svc" contract="Tuhu.Service.Shop.IRegionClient" name="Tuhu.Service.Shop.IRegionClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/EmailProcess/EmailProcessOperation.svc" contract="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" name="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.dev.tuhu.work:9062/Member/UserIntegral.svc" contract="Tuhu.Service.Member.IUserIntegralClient" name="Tuhu.Service.Member.IUserIntegralClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Utility/Utility.svc" contract="Tuhu.Service.Utility.IUtilityClient" name="Tuhu.Service.Utility.IUtilityClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Pay/Pay.svc" contract="Tuhu.Service.Pay.IPayClient" name="Tuhu.Service.Pay.IPayClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/PinTuan/PinTuan.svc" contract="Tuhu.Service.PinTuan.IPinTuanClient" name="Tuhu.Service.PinTuan.IPinTuanClient" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="http_default" address="http://wcf.tuhu.work:9010/Member/User.svc" contract="Tuhu.Service.Member.IUserClient" name="Tuhu.Service.Member.IUserClient" />
        </client>
        <services>
        </services>
    </system.serviceModel>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/d:RELEASE;TRACE;AUTOFAC">
                <providerOption name="CompilerVersion" value="v4.0" />
                <providerOption name="WarnAsError" value="false" />
            </compiler>
        </compilers>
    </system.codedom>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
                <codeBase version="1.2.10.0" href="bin\old\log4net.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Elasticsearch" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.MessageQueue" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Nosql" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.1.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Nosql.Redis" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.1.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Profiling" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.ZooKeeper" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="2.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Server" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Product" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.3.10.12" newVersion="1.3.10.12" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="TuhuRaven" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.1.2" newVersion="2.1.1.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Nosql.Redis" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.1.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Shop" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.3.2.3" newVersion="1.3.2.3" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.BaoYang" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="1.4.9.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Order" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.3.5.37" newVersion="2.3.5.37" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Config" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="1.0.9.5" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Vehicle" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="1.2.4.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
