* { padding: 0; margin: 0; }
ul, li { text-decoration: none; list-style: none; }
section { position: relative;height: 500px; }
.nav { width: 20%; display: inline-block; }
iframe { border: 0; width: 100%; height: 100%; }
.container { width: 79%; display: inline-block; height: 100%; }
.navUL { width: 200px; background-color: #BFDDCB; position: absolute; top: 0; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
	.navUL > li { text-align: center; line-height: 30px; }
.navUL2 { background-color: #21BDA4; }
	.navUL2 > div:hover { background-color: #BDF52B; cursor: pointer; }
.versionUpdate { margin: 50px auto; width: 300px; text-align: center; border: 1px solid #BDF52B; border-radius: 1px 1px 2px; }
.feedback { margin: 50px auto; width: 300px; }

.upload { margin: 20px; margin-top: 20px; }
	.upload .title { padding-bottom: 5px; margin-left: 20px; padding-left: 20px; font-weight: bold; width: 80%; border-bottom: solid #2598A8 5px; }
		.upload .title:before { content: ""; position: absolute; width: 5px; height: 20px; left: 20px; background-color: #4471CD; }
	.upload .content > div { margin: 20px 10px; position: relative; }
	.upload .version input, .upload .uploadContent textarea { width: 300px; min-width: 300px; max-width: 500px; }
	.upload .version input { height: 20px; line-height: 20px; }
	.upload .content, .upload .foot { width: 500px; }
		.upload .content > div > span { position: relative; top: 0; width: 80px; display: inline-block; text-align: right; }
.submit { width: 100px; padding: 3px; text-align: center; }

.topContainer { position: absolute; top: 0px;overflow:hidden; left: 0; right: 0; margin: 0 auto; width: 200px; }
.leftContainer { position: absolute; top: 0px; left: 0;bottom: 0; margin: auto 0; width: 200px;height:1px }
	.topContainer p,.leftContainer p{ padding: 4px 0; color: #1D4A43; text-align: center; background-color: #6FE274; }
		.topContainer p::after,.leftContainer p::after {color:#ffa566;position:absolute;top:0;right:0;margin:4px 8px;cursor:pointer;}
			.topContainer p:hover::after,.leftContainer p:hover::after {  content:'X';}

	
@-webkit-keyframes slideinfromright {
    from {
        -webkit-transform: translate3d(100%,0,0)
    }

    to {
        -webkit-transform: translate3d(0,0,0)
    }
}

@-moz-keyframes slideinfromright {
    from {
        -moz-transform: translateX(100%)
    }

    to {
        -moz-transform: translateX(0)
    }
}

@keyframes slideinfromright {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0)
    }
}

@-webkit-keyframes slideinfromleft {
    from {
        -webkit-transform: translate3d(-100%,0,0)
    }

    to {
        -webkit-transform: translate3d(0,0,0)
    }
}

@-moz-keyframes slideinfromleft {
    from {
        -moz-transform: translateX(-100%)
    }

    to {
        -moz-transform: translateX(0)
    }
}

@keyframes slideinfromleft {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(0)
    }
}

@-webkit-keyframes slideouttoleft {
    from {
        -webkit-transform: translate3d(0,0,0)
    }

    to {
        -webkit-transform: translate3d(-100%,0,0)
    }
}

@-moz-keyframes slideouttoleft {
    from {
        -moz-transform: translateX(0)
    }

    to {
        -moz-transform: translateX(-100%)
    }
}

@keyframes slideouttoleft {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}

@-webkit-keyframes slideouttoright {
    from {
        -webkit-transform: translate3d(0,0,0)
    }

    to {
        -webkit-transform: translate3d(100%,0,0)
    }
}

@-moz-keyframes slideouttoright {
    from {
        -moz-transform: translateX(0)
    }

    to {
        -moz-transform: translateX(100%)
    }
}

@keyframes slideouttoright {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}
.slide.out,.slide.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-duration: 350ms
}

.slide.out {
    -webkit-transform: translate3d(-100%,0,0);
    -webkit-animation-name: slideouttoleft;
    -moz-transform: translateX(-100%);
    -moz-animation-name: slideouttoleft;
    transform: translateX(-100%);
    animation-name: slideouttoleft
}

.slide.in {
    -webkit-transform: translate3d(0,0,0);
    -webkit-animation-name: slideinfromright;
    -moz-transform: translateX(0);
    -moz-animation-name: slideinfromright;
    transform: translateX(0);
    animation-name: slideinfromright
}

.slide.out.reverse {
    -webkit-transform: translate3d(100%,0,0);
    -webkit-animation-name: slideouttoright;
    -moz-transform: translateX(100%);
    -moz-animation-name: slideouttoright;
    transform: translateX(100%);
    animation-name: slideouttoright
}

.slide.in.reverse {
    -webkit-transform: translate3d(0,0,0);
    -webkit-animation-name: slideinfromleft;
    -moz-transform: translateX(0);
    -moz-animation-name: slideinfromleft;
    transform: translateX(0);
    animation-name: slideinfromleft
}