@using System.Diagnostics;
@using Tuhu.Provisioning.Business;
@{
	ViewBag.Title = "特价板块";
    Layout = "../Shared/_Layout.cshtml";
}

<link type="text/css" href="//res.tuhu.cn/controls/toastr.css" rel="stylesheet" />
<link rel="stylesheet" href="@{if (Debugger.IsAttached){<text>/css/yewu.css</text>}else{<text>//res.tuhu.cn/css/yewu.css</text>}}" />
<link rel="stylesheet" href="@{if (Debugger.IsAttached){<text>/Scripts/controls/controls.css</text>}else{<text>//res.tuhu.cn/controls/controls.css</text>}}" />
<link rel="stylesheet" href="@{if (Debugger.IsAttached){<text>/css/sector.css</text>}else{<text>//res.tuhu.cn/css/sector.css</text>}}" />

<script type="text/javascript" src="//res.tuhu.cn/controls/toastr.js"></script>
<script src="//res.tuhu.cn/controls/CommonJoy.js"></script>
<script src="//res.tuhu.cn/controls/joy.js"></script>
<script src="//res.tuhu.cn/controls/joy.dom.js"></script>
<script src="//res.tuhu.cn/controls/ag.js"></script>
<script src="https://yewu.tuhu.cn/scripts/ajaxfileupload.js"></script>

<script src="@{if (Debugger.IsAttached){<text>/Scripts/controls/common.js</text>}else{<text>//res.tuhu.cn/controls/common.js</text>}}"></script>
<script src="@{if (Debugger.IsAttached){<text>/Scripts/controls/formeditor.js</text>}else{<text>//res.tuhu.cn/controls/formeditor.js</text>}}"></script>
<script src="@{if (Debugger.IsAttached){<text>/Scripts/controls/grid.js</text>}else{<text>//res.tuhu.cn/controls/grid.js</text>}}"></script>

<style>
	table.workspace { width: 100%; display: table; }

	.total { }

		.total .title { line-height: 48px; }

		.total .toolbar { margin: 4px 0px 12px 0px; position: relative; }

	.rightflt { float: right; }

		.rightflt a { font: 24px arial; text-decoration: none; line-height: 32px; margin-right: 4px; }
</style>

<script>
	function EncryptUrlPara(url, width, height)
	{
		width || (width = 250);
		height || (height = 250);
		var result = 'http://image.tuhu.cn/Image.aspx?Image=';
		var encypurl = '';
		for (var i = 0, len = url.length; i < len; i++)
		{
			encypurl += String.fromCharCode(url[i].charCodeAt() + 5 + i);
		}
		result += encodeURIComponent(encypurl);
		result += '&Width=' + width + '&Height=' + height;
		return result;
	};
	function roweditcfg(cfg)
	{
		if (!cfg)
		{
			cfg = {};
		}
		var c = {
			title: '产品编辑'
            , editor: {
            	lprice: {
            		validators: [floatvalidator, function (data, edt)
            		{
            			var op = edt.$editors$.oprice.getval();
            			var lp = edt.$editors$.lprice.getval();
            			var d = op - lp;
            			if (d / op >= 0.3)
            			{
            				return confirm('警告：特价低于原价超过30%，是否提交？');
            			}
            			return true;
            		}]
            	}
                , oprice: { validators: [floatvalidator, requiredvalidator] }
                , plimit: { validators: [intvalidator, requiredvalidator] }
                , tlimit: { validators: [intvalidator, requiredvalidator] }
                , status: { validators: [intvalidator, requiredvalidator] }
                , pimg: {
                	creator: imgupcreator, c: { url: '/Article/AddArticleImg2' }, validators: [function (data)
                	{
                		if (data.indexOf('.') < 0 || data.indexOf('saleproindex') >= 0)
                		{
                			return false;
                		}
                		return true;
                	}]
                }
                , pnum: {
                	creator: inputbtncreator, btntext: ' 查询 ', validators: [requiredvalidator],
                	click: function (editors)
                	{
                		var root = this;
                		var v = root.getval();
                		$.ajax({ url: '/sale/pinfo', data: { pnum: v } }).done(function (data)
                		{
                			console.log(data);
                			var r = JSON.parse(data);
                			if (r.error)
                			{
                				toastr.info(r.Msg);
                			}
                			else
                			{
                				var d = r[0];
                				var edts = root.$editors$;
                				edts.name.setval(d.displayname);
                				edts.oprice.setval(d.cy_list_price);
                				edts.lprice.setval(d.cy_marketing_price);
                				var timg = d.image_filename || d.image_filename_2 || d.image_filename_3 || d.image_filename_4 || d.image_filename_5 || image_filename_big;
                				edts.pimg.setval(EncryptUrlPara(timg));
                			}
                		});
                	}
                }
                , sort: { validators: [requiredvalidator] }
                , name: { validators: [requiredvalidator] }
            }
            , fields: {
            	rownum: { style: { display: 'none' } }
                , id: { style: { display: 'none' } }
                , mid: { style: { display: 'none' } }
                , createtime: { style: { display: 'none' } }
                , updatetime: { style: { display: 'none' } }
                , pv: { style: { display: 'none' } }
                , quantityleft: { style: { display: 'none' } }
                , pimg: { childNodes: [{ innerHTML: '产品图片' }] }
                , pnum: { childNodes: [{ innerHTML: '产品型号' }], className: 'short' }
                , sort: { onkeypress: intvalidator, childNodes: [{ innerHTML: '排序' }] }
                , name: { childNodes: [{ innerHTML: '产品名称' }] }
                , lprice: { onkeypress: floatvalidator, childNodes: [{ innerHTML: '优惠价' }] }
                , oprice: { onkeypress: floatvalidator, childNodes: [{ innerHTML: '原价' }] }
                , plimit: { onkeypress: intvalidator, childNodes: [{ innerHTML: '个人限量' }] }
                , tlimit: { onkeypress: intvalidator, childNodes: [{ innerHTML: '总限量' }] }
                , status: { onkeypress: intvalidator, childNodes: [{ innerHTML: '启用状态' }] }
            }
            , replacer: { id: true, rphone: true, vin: true }
            , submit: '/sale/saveprods?a=' + cfg.action
            , onbeforesubmit: function (el)
            {
            	var frm = el.$root.$edtform;
            	var url = $(frm).attr('action');
            	var n = url.indexOf('#');
            	if (n > 0)
            	{
            		url = url.substr(0, n);
            	}
            	url += '#' + $('#sels')[0].selectedIndex;
            	$(frm).attr('action', url);
            	return true;
            }
            , cancel: function ()
            {
            	overlay({ hide: true });
            }
		};
		return c;
	}
	function getpar(item, data)
	{
		for (var i = 0; i < data.length; i++)
		{
			var ii = data[i];
			if (ii.id == item.parentid)
			{
				return ii;
			}
		}
		return null;
	}
	function getcontent(item, data)
	{
		var s = item.mname;
		if (item.parentid > 0)
		{
			var p = getpar(item, data);
			if (p != null)
			{
				s = getcontent(p, data) + ' > ' + s;
			}
		}
		return s;
		//var s = item.pname == '' ? item.mname : item.pname + ' > ' + item.mname;
		//if (item.ppname && item.ppname != '') {
		//    s = item.ppname + ' > ' + s;
		//}
		//return s;
	}
	function dropdown(data, c)
	{
		var sel = document.createElement('select');
		for (var i = 0; i < data.length; i++)
		{
			var item = data[i];
			var opt = document.createElement('option');
			opt.data = item;
			opt.innerHTML = getcontent(item, data);
			sel.appendChild(opt);
		}
		sel.selected = function ()
		{
			var o = this.options[this.selectedIndex];
			return o.data;
		}
		joy.extend(sel, c);
		var u = location.href;
		var n = u.indexOf('#');
		if (n > 0)
		{
			var list = u.split('#');
			var idx = parseInt(list[1]);
			sel.selectedIndex = idx;
		}
		return sel;
	}
	function view(sel)
	{
		if (!sel)
		{
			sel = $('#sels')[0];
		}
		var v = sel.selected();
		$.ajax({ url: '/sale/prods', data: { mid: v.id } }).done(function (data)
		{
		    var rows = JSON.parse(data);
			if (rows.error)
			{
				$('#gridarea')[0].innerHTML = '';
				return;
			}
			var tb = grid(rows, {
				columns: {
					rownum: { style: { display: 'none' } }
                    , id: { style: { display: 'none' } }
                    , mid: { style: { display: 'none' } }
                    , createtime: { style: { display: 'none' } }
                    , updatetime: { style: { display: 'none' } }
                    , pv: { style: { display: 'none' } }
                    , pimg: { style: { display: 'none' }, onformat: function (d) { return d; } }
                    , pnum: { innerHTML: '产品型号' }
                    , name: { innerHTML: '产品名称' }
                    , sort: { innerHTML: '排序' }
                    , lprice: { innerHTML: '优惠价' }
                    , oprice: { innerHTML: '原价' }
                    , plimit: { innerHTML: '每人限购' }
                    , tlimit: { innerHTML: '总限购' }
                    , status: { innerHTML: '启用状态' }
                    , quantityleft: { innerHTML: '剩余数量' }
                    , $added: function (tr, row)
                    {
                    	var tda = document.createElement('td');
                    	tda.className = 'col';
                    	tr.appendChild(tda);
                    }
				},
				rows: {
					$added: function (tr, row)
					{
						var tdu = gridoption(row, {
							txt: '更改'
                            , tag: 'span'
                            , behavior: gridOptionFormBehavior
                            , callback: view
                            , roweditor: roweditcfg()
						});
						tr.appendChild(tdu);
						var tdr = gridoption(row, {
							url: '/sale/prodremove?id=[id]'
                            , replacer: { id: true }
                            , txt: '删除'
                            , tag: 'span'
                            , behavior: gridOptionAjaxBehavior
                            , callback: view
						});

						var tdo = document.createElement('td');
						tdo.appendChild(tdu);
						tdo.appendChild(tdr);
						tr.appendChild(tdo);
					}
				}
			});
			$('#gridarea')[0].innerHTML = '';
			$('#gridarea')[0].appendChild(tb);
		});

	}

	$(function () {
        //跳转到管理模块的连接
        $("#redirModel").click(function () {
            window.location = "/Module/ModuleMange";
        })

        $('#badd').click(function () {
            var data = {
                mid:$('#sels')[0].selected().id
                , pnum: ''
                , sort: 1
                , name: ''
                , lprice: ''
                , oprice: ''
                , plimit: 1
                , tlimit: 10
                , status: 1
                , pimg: ''
			};
			var c = roweditcfg({ action: '1' });
			var el = overlay();
			var tb = formeditor(data, c);
			el.appendChild(tb);
		});
		$.ajax({ url: '/sale/allsectors' }).done(function (data)
		{
		    var r = JSON.parse(data);
			var el = dropdown(r, {
				onchange: function ()
				{
					var self = this;
					view(self);
				}
			});
			el.id = 'sels';
			$('#selsectors').append(el);
			view(el);
		});

	});
</script>
<div style="clear:both;"></div>
<div class="total">
    <div class="title">@ViewBag.Title</div>
    <div class="toolbar">请选择板块：<span id="selsectors"></span>&nbsp;&nbsp;<input style="display:none;" type="button" value="显示" /> <div class="rightflt"><a id="badd" href="#">新增产品</a><span></span></div>
    <input id="redirModel" type="button" value=" 特价产品模块管理 " /></div>
    <div id="gridarea" class="gridcontainer">

	</div>
</div>
