@using Tuhu.Provisioning.DataAccess.Entity;
@{
    ViewBag.Title = "门店美容活动报名审核列表";
    List<Region> provincelist = ViewBag.ProvinceList as List<Region>;
    List<SE_MDBeautyCategoryConfigModel> category = ViewBag.Prod as List<SE_MDBeautyCategoryConfigModel>;
}
<link href="~/Scripts/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="~/Scripts/zTree/js/jquery.ztree.core-3.5.min.js" type="text/javascript"></script>
<script src="~/Scripts/zTree/js/jquery.ztree.excheck-3.5.min.js" type="text/javascript"></script>
<h2>门店美容活动报名审核列表</h2>
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }
</style>

<div>
    <table>
        <tbody>
            <tr>
                @*<td>
                        <a href="javascript:void(0)" class="btn" onclick="Add()">添加</a>
                    </td>*@
                <td>
                    <input class="Id" type="number" placeholder="活动Id" />
                </td>
                <td>
                    <input class="Name" type="text" placeholder="活动名称" />
                </td>
                <td>
                    <select id="province">
                        <option value="-1">省/自治区/直辖市</option>
                        @foreach (var item in provincelist)
                        {
                            <option pid="0" value="@item.PKID">@item.RegionName</option>
                        }
                    </select>
                </td>
                <td>
                    <select id="city">
                        <option value="-1">市/县/区</option>
                    </select>
                </td>
                <td>
                    <select id="category">
                        <option value="-1">活动类目</option>
                        @foreach (var item in category)
                        {
                            <option pid="0" value="@item.Id">@item.CategoryName</option>
                        }
                    </select>
                </td>
                <td>
                    <select id="status">
                        <option value="-1">生效状态</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </td>
                <td>
                    <select id="audit">
                        <option value="0">审核状态</option>
                        <option value="1">报名待审核</option>
                        <option value="2">报名不通过</option>
                        <option value="3">报名通过</option>
                    </select>
                </td>

                <td>
                    <input type="button" style="margin-top:0" class="btn" onclick="SearchList()" value="搜索" />
                </td>
                <td>
                    <input type="button" style="margin-top:0" class="btn" onclick="Export()" value="导出" />
                </td>
                <td>
                    <input type="button" style="margin-top:0" class="btn" onclick="Audited()" value="审核通过" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="listdata"></div>

<script>

    $("#province,#city,#category").filtrateSelect({ height: 200 });
    function Add() {
        $("#AddItem").load('/MDBeautyApplyConfig/Edit?id=0');
        $("#AddItem").dialog({
            title: "添加",
            width: 700,
            height: 600,
            modal: true
        });
    }

    $(function () {
        $(".listdata").load("/MDBeautyApplyConfig/list?Status=-1&CategoryId=-1");
        $(".listdata").on("click", ".pager>a", function (event) {
            event.preventDefault();
            if ($(this).attr("href")) {
                $.ajax({
                    type: "POST",
                    url: this.href,
                    data: {
                        "Id": $.trim($(".Id").val()),
                        "Name": $.trim($(".Name").val()),
                        "StrProvince": $("#province").find("option:selected").val(),
                        "StrCity": $("#city").find("option:selected").val(),
                        "Status": $('#status').val(),
                        "CategoryId": $('#category').val(),
                        "ApplyAuditStatus": $("#audit").val(),
                    },
                    success: function (result) {
                        $(".listdata").html(result);
                    },
                    error: function (result) {
                        alert("失败!")
                    }
                });
            }
        });
    })

    function SearchList() {
        $.ajax({
            type: "POST",
            url: "/MDBeautyApplyConfig/List",
            data: {
                "Id": $.trim($(".Id").val()),
                "Name": $.trim($(".Name").val()),
                "StrProvince": $("#province").find("option:selected").val(),
                "StrCity": $("#city").find("option:selected").val(),
                "Status": $('#status').val(),
                "CategoryId": $('#category').val(),
                "ApplyAuditStatus": $("#audit").val(),
            },
            success: function (result) {
                $(".listdata").html(result);
            },
            error: function (result) {
                alert("失败!")
            }
        });
    };
    function Add() {
        $("#AddItem").load('/MDBeautyApplyConfig/Edit?id=0');
        $("#AddItem").dialog({
            title: "添加",
            width: 500,
            height: 300,
            modal: true
        });
    };
    function Update(e, id, status, type, look,shopid,pid) {
        var self = $(e);
        var title = "";
        if (status == 0 || status == 2) {
            if (status == 0) {
                title = "查看";
            } else if (status == 2) {
                title = "审核不通过";
            }

            $("#AddItem").load('/MDBeautyApplyConfig/Edit?id=' + id + '&status=' + status + '&type=' + type + '&look=' + look);
            $("#AddItem").dialog({
                title: title,
                width: 500,
                height: 300,
                modal: true
            });
        } else {
            if (window.confirm("确认审核通过")) {
                $.ajax({
                    type: "POST",
                    url: "/MDBeautyApplyConfig/AuditMDBeautyApplyConfig",
                    data: { "Id": id, "type": type, "ShopId":shopid, "ProductId": pid },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            if (type == "Apply") {
                                self.hide();
                            } else if (type == "Exit") {
                                self.hide();
                            }
                        }
                        else {
                         
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        }
    };


    function Delete(id) {
        if (window.confirm("您确定要删除吗？")) {
            $.ajax({
                type: "POST",
                url: "/MDBeautyApplyConfig/Delete",
                data: { "id": id },
                dataType: "json",
                success: function (result) {
                    if (result) {
                        window.location.href = "/MDBeautyApplyConfig/Index";
                    }
                    else {
                        alert("删除失败！");
                    }
                },
                error: function (result) {
                }
            })
        }
    }
    function Audited() {

        if (window.confirm("确认审核通过")) {
            var arry = new Array();
            $('#table22 >tbody> tr').each(function (i) {
                if (i >= 0) {
                    var columns = $(this).children();
                    var jsonData = { "Id": "", "ShopId": "", "ProductId": "" };
                    console.log(columns.eq(0).find(":checkbox").attr("checked"))
                    if (columns.eq(0).find(":checkbox").attr("checked")) {
                        if (columns.eq(0).find(":checkbox").attr("value")) {
                            jsonData.Id = columns.eq(0).find(":checkbox").attr("value");
                            jsonData.ShopId = columns.eq(0).find(":checkbox").attr("ShopId");
                            jsonData.ProductId = columns.eq(0).find(":checkbox").attr("ProductId");
                            arry.push(jsonData);
                        }
                    }
                }
            });
            console.log(JSON.stringify(arry));
            if (arry.length <= 0) {
                alert("选择需要审核的数据");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/MDBeautyApplyConfig/EditList",
                data: { "model": JSON.stringify(arry), 'type': "Apply" },
                dataType: "json",
                success: function (result) {
                    if (result) {
                        alert("审核成功");
                    }
                    else {
                        alert("审核失败");
                    }
                },
                error: function (result) {
                }
            })
        }
    }
    function Export() {
        var p = $("#province").find("option:selected").val();
        var c = $("#city").find("option:selected").val();
        var url = "/MDBeautyApplyConfig/Export?Id=" + $.trim($(".Id").val()) +
                        "&Name=" + $.trim($(".Name").val()) +
                        "&StrProvince=" + p +
                        "&StrCity=" + c +
                        "&Status=" + $('#status').val() +
                        "&CategoryId=" + $('#category').val() +
                        "&ApplyAuditStatus=" + $("#audit").val();

        window.location.href = url;
    };
    $("#province").change(function () {
        var self = $(this);
        self.val(self.val());
        var sb = '<option value="-1">市/县/区</option>';
        $.get("/MeiRongAcitivityConfig/GetRegion/" + self.val() + "", function (result) {
            if (result.length != 0) {
                for (var i = 0; i < result.length; i++) {
                    sb += '<option pid="' + result[i].ParentID + '" value="' + result[i].PKID + '">' + result[i].RegionName + '</option>';
                }
            }
            $("#city").html(sb);
        });
    });

</script>
