body {
    font-family: 'Microsoft YaHei',Arial, sans-serif;
			margin: 0;
			padding: 0;
			font-size: 12px;
}

input {
			margin: 0;
			padding: 0;
		}
		ul {
			margin: 0;
			padding-left: 0;
			list-style: none;
		}
		a,a:hover {
			color: #333;
			text-decoration: none;
		}
		a:hover {
			text-decoration: none;
		}
		.clearfix:before {
			position: absolute;
			content: 0;
			overflow: hidden;
			clear: both;
		}
		.clearfix:after{
			display: block;
			content: '.';
			clear: both;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}
		.clearfix {
			*zoom:1
		}
		.show {
			display: block!important;
		}
		.hidden {
			display: none!important;
		}

		.main {
			width: 980px;
			margin: 0 auto;
		}
		.navbar-list {
			margin-top: 10px;
			margin-bottom: 10px;
			border: #ccc solid 1px;
		}
		.navbar-list li {
			float: left;
			width: 169px;
			line-height: 38px;
			text-align: center;
			color: #333;
			border-right: #ccc solid 1px;
		}
		.navbar-list li:hover {
			background: #ccc;
		}

		.condition-filter {
			margin-bottom: 60px;
			line-height: 28px;
			border: #ccc solid 1px;
			background: #f2f2f2;
		}
		.condition-filter select {
			margin-right: 30px;
			vertical-align: 1px;
		}
		.condition-filter .sure {
			width: 50px;
			height: 19px;
			vertical-align: 1px;
		}
		.search-icon {
			display: inline-block;
			position: relative;
		    margin: 6px 12px 0 10px;
		    width: 16px;
		    height: 16px;
		    vertical-align: top;
		}
		.search-icon:before,
		.search-icon:after {
			position: absolute;
			content: "";
		}
		.search-icon:before {
			width: 10px;
			height: 10px;
			border: #333 solid 1px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
		}
		.search-icon:after {
		    width: 1px;
		    left: 13px;
		    top: 9px;
		    height: 7px;
		    background: #333;
		    -webkit-transform: rotate(45deg);
		    -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    -o-transform: rotate(45deg);
		    transform: rotate(-54deg);
		}
		
		.car-menu li {
			line-height: 28px;
		}
		.car-menu > li > .car-item-sub:before {
			bottom: -4px;
		}
		.car-item {
			font-size: 14px;
		}
		.car-item .car-type .letter {
			margin-right: 7px;
		}
		.triangle-icon {
			float: left;
			margin-top: 3px;
			margin-right: 6px;
			width: 0;
			height: 0;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 10px solid #666;
		}
		.triangle-icon-dowm {
			-webit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
		}
		.car-item-sub {
			display: none;
			position: relative;
			margin-left: 50px;
		}
		.car-item-sub:before {
		    content: "";
		    position: absolute;
		    top: -12px;
		    bottom: 20px;
		    left: -46px;
		    width: 1px;
		    border-right: 1px dashed #ccc;
		}
		.car-item-sub li {
			position: relative;
			line-height: 40px;
		}
		.car-item-sub li:before {
			content:"";
			position: absolute;
			top: 18px;
			left: -41px;
    	    width: 38px;
			border-bottom: 1px dashed #ccc;
		}
		.car-item-sub .num {
			margin-right: 16px;
		}
		.car-item-sub label input {
			vertical-align: -2px;
		}
		.car-item-sub .triangle-icon {
			margin-top: 12px;
		}
