@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "所有日志";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllLog</title>
    <script src="~/Content/ProductVehicleType/js/jquery-1.12.1.min.js"></script>
    <script src="~/Content/ProductVehicleType/js/angular.min.js"></script>
    <script src="~/Content/ProductVehicleType/js/tm.pagination.js"></script>
    <link href="~/Content/ProductVehicleType/css/bootstrap.v3.css" type="text/css" rel="stylesheet"/>
    <link href="~/Content/ProductVehicleType/css/iconfinder.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/ProductVehicleType/css/datetimepicker.css" type="text/css" rel="stylesheet"/>
    <script src="~/Content/ProductVehicleType/js/log.js"></script>
    <script src="~/Content/ProductVehicleType/js/bootstrap.min.js"></script>
    <script src="~/Content/ProductVehicleType/js/bootstrap-datetimepicker.js"></script>
</head>
<body>
<div class="container" ng-app="NodeApp" style="margin-bottom: 400px">
    <div class="row" ng-controller="ProductVehicleTypeController">
        <div style="margin-top: 20px">
            <form class="form-inline">
                <div class="form-group">
                    <label>开始时间：</label>
                    <input type="text" class="form_datetime" id="datetimepicker1" readonly/>

                </div>
                <div class="form-group">
                    <label>结束时间：</label>
                    <input type="text" class="form_datetime" id="datetimepicker2" readonly/>

                </div>
                <button class="btn btn-default" id="btnFindProduct">搜索</button>
            </form>
        </div>
        <div class="table-responsive" style="margin-top: 10px" ng-show="showTable">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 200px">操作人</th>
                    <th style="width: 160px">操作时间</th>
                    <th>操作内容</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in apiInfoList">
                    <td>{{item.Operator}}</td>
                    <td>{{item.OperateTime}}</td>
                    <td>{{item.OperateContent}}</td>
                </tr>
                </tbody>
            </table>

            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>
</div>

    <script type="text/javascript">
    $(function () {



        $('#datetimepicker1').datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            todayBtn: true,

            todayHighlight: 1
            //startView: 2
        });


        $('#datetimepicker2').datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            todayBtn: true

        });
    });

    function getElementTop(element) {
        var actualTop = element.offsetTop;
        var current = element.offsetParent;

        while (current !== null) {
            actualTop += current.offsetTop;
            current = current.offsetParent;
        }

        return actualTop;
    }
    </script>
</body>
</html>
