@{
    ViewBag.Title = "产品搜索";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ProductVehicleType/css/bootstrap.min.css" rel="stylesheet">
<div>

    <script src="~/Content/ProductVehicleType/js/angular.min.js"></script>
    <script src="~/Content/ProductVehicleType/js/tm.pagination.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/ProductVehicleType/css/index.css" />
    <link href="~/Content/ProductVehicleType/css/iconfinder.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/ProductVehicleType/css/showLoading.css" type="text/css" rel="stylesheet" />
    <div class="container-fluid" ng-app="NodeApp" style="margin-bottom:400px">
        <div style="float: right; margin-right: 100px;padding-top:6px">
            <a target="_blank" href="/ProductVehicleType/AllLog" class="btn btn-default">查看全部操作日志</a>
            <a target="_blank" href="/ProductVehicleType/NoImportProduct" class="btn btn-default">所有已配置未导入商品</a>
        </div>
        <div style="text-align: center; margin-bottom: 20px">
            <h1 style="margin-top: 50px">产品配置车型系统</h1>
        </div>
        <div class="rowAll head" style="width: 60%; margin-top: 60px; margin-left: auto; margin-right: auto">
            <div class="col-lg-12">

                <div class="input-group">
                    <input type="text" id="searchTxt" class="form-control" placeholder="请输入关键字或者产品PID查找">
                    <span class="input-group-btn">
                        <button class="btn btn-info" id="btnSearch" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>

                </div>
                <div class="input-group" style="color: red;margin-top: 20px">
                    <span id="tipMsg" style="display:none">暂无相关数据</span>
                </div>
            </div>
        </div>
        <div class="rowAll" id="mainContent">
            <div style="float: left; width: 80%; margin-top: 20px; margin-left: 120px; margin-right: auto" ng-controller="ProductVehicleTypeController" id="tableContent">
                <div class="table-responsive" ng-show="showTable">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>DisplayName</th>
                                <th>PID</th>
                                <th>Brand</th>
                                <th>
                                    <select id="selectConfigStatus" style="height: 20px">
                                        <option selected="selected">配置状态</option>
                                        <option>已配置已导入</option>
                                        <option>已配置未导入</option>
                                        <option>未配置</option>
                                    </select>
                                </th>
                                <th style="width: 150px">配置时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in apiInfoList">

                                <td><a href="/ProductVehicleType/Detail/{{item.Pid}}" target="_blank" class="inactive">{{item.DisplayName}}</a></td>
                                <td>{{item.Pid}}</td>
                                <td>{{item.Brand}}</td>
                                <td>{{item.ConfigStatus}}</td>
                                <td>{{item.ConfigTime}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <tm-pagination conf="paginationConf"></tm-pagination>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*
        <script src="~/Content/ProductVehicleType/js/jquery-1.12.1.min.js"></script>*@
    <script src="~/Content/ProductVehicleType/js/bootstrap.min.js"></script>
    <script src="~/Content/ProductVehicleType/js/index.js"></script>
    <script src="~/Content/ProductVehicleType/js/jquery.showLoading.min.js" type="text/javascript"></script>

</div>
