@{
    Layout = null;
}
<style type="text/css">
    input[type=button], input[type=submit], input[type=reset] {
        background: #0088cc none repeat scroll 0 0;
        border: medium none #0088cc;
        border-radius: 5px;
        color: #f0f0f0;
        cursor: pointer;
        font-family: "Microsoft Yahei";
        font-size: 12px;
        outline: medium none;
        padding: 5px 25px;
    }

    #CategoryMenu {
        border: 1px red red;
    }
</style>

<table id="BatchAddCouponForProductDetails" style="margin:0 0 30px 0;"></table>

<table id="BatchAddCoupon" style="margin:auto;">
    <thead>
        <tr>
            <td>
                <input type="button" id="insert_btn" value="添加" onclick="ProductLibraryConfig.AddCoupon('','BatchDelete')" />
            </td>
        </tr>
        <tr>
            <td><span style="color:red;">*优惠券规则编号(非GUID)</span></td>
            <td>优惠券说明</td>
            <td>优惠券显示时间</td>
            <td>新老顾客</td>
            <td>管理</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div style="text-align:center;margin:15px 0 0 0;">
    <input type="button" value="保存" onclick="ProductLibraryConfig.Save('Delete');" />
    <input type="button" value="取消" onclick="$('#BatchAddCouponView').dialog('close');" />
</div>
<script>
    $("#insert_btn").click(function () {
        $(this).hide();
    })
</script>