<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="zookeeper" type="Tuhu.ZooKeeper.ZooKeeperClientSection, Tuhu.ZooKeeper" />
    <section name="rabbitmq" type="Tuhu.MessageQueue.RabbitMQSection, Tuhu.MessageQueue" />
  </configSections>
  <zookeeper sessionTimeOut="30000" server="172.16.20.1" masterSlavePath="/MasterSlave/Service" />
  <rabbitmq hostName="172.16.20.1" userName="test" password="itsme999" virtualHost="/dev" />
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="保养缓存更新服务" />
    <!--configure thread pool info-->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.config" />
    <add key="quartz.plugin.xml.scanInterval" value="30" />
  </quartz>
  <appSettings>
    <add key="StandAlone" value="false" />
    <add key="RemoteName" value="BaoYangRefreshServiceJob" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="OilHistoryCount" value="2000" />
    <add key="Parts_Host" value="https://parts.tuhu.cn" />
    <add key="webport" value="5561" />
    <add key="WarnPhones" value="15800362798;" />
  </appSettings>
  <connectionStrings>
    <!--OnlyDevelop-->
    <add name="Gungnir" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="BaoYang" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=BaoYang;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Log_ReadOnly" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_Log;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_thirdparty" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_thirdparty;Persist Security Info=True;User ID=APPUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_thirdparty_ro" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_thirdparty;Persist Security Info=True;User ID=APPUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="VehiclePartsRead" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_epc;Persist Security Info=True;User ID=APPUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="VehiclePartsWrite" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_epc;Persist Security Info=True;User ID=APPUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Elasticsearch" connectionString="http://172.16.20.1:9200" providerName="Nest.ElasticClient" />
    <add name="Tuhu_BI_ReadOnly" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_bi;Persist Security Info=True;User ID=LogUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_BI" connectionString="Data Source=172.16.20.1\dev;Initial Catalog=Tuhu_bi;Persist Security Info=True;User ID=LogUser;Password=itsme999;" providerName="System.Data.SqlClient" />
    <!--DevelopOnly-->
    
    <!--OnlyProduction
    <add name="Gungnir" connectionString="User ID=Tuhu_WinService_BaoYang;Password=Tak9_R7d!5vTg;Persist Security Info=True;Initial Catalog=Gungnir;Data Source=db-gungnir-rw;Connect Timeout=60000;" providerName="System.Data.SqlClient" />
    <add name="BaoYang" connectionString="User ID=Tuhu_WinService_BaoYang;Password=Tak9_R7d!5vTg;Persist Security Info=True;Initial Catalog=BaoYang;Data Source=db-gungnir-rw;Connect Timeout=60000;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_Log_ReadOnly" connectionString="User ID=Tuhu_WinService_BaoYang;Password=Tak9_R7d!5vTg;Persist Security Info=True;Initial Catalog=Tuhu_Log;Data Source=db-log-rw;Connect Timeout=60000;ApplicationIntent=Readonly" providerName="System.Data.SqlClient" />
    <add name="Tuhu_thirdparty" connectionString="User ID=Tuhu_WinService_BaoYang;Data Source=db-app-rw;Initial Catalog=Tuhu_thirdparty;Persist Security Info=True;Password=Tak9_R7d!5vTg;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_thirdparty_ro" connectionString="User ID=Tuhu_WinService_BaoYang;Data Source=db-app-ro;Initial Catalog=Tuhu_thirdparty;Persist Security Info=True;Password=Tak9_R7d!5vTg;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    <add name="VehiclePartsRead" connectionString="User ID=Tuhu_Service_VehiclePart;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Tuhu_epc;Data Source=db-app-ro;" providerName="System.Data.SqlClient" />
    <add name="VehiclePartsWrite" connectionString="User ID=Tuhu_Service_VehiclePart;Password=Kj5sa_C6DsLmx;Persist Security Info=True;Initial Catalog=Tuhu_epc;Data Source=db-app-rw;" providerName="System.Data.SqlClient" />
    <add name="Elasticsearch" connectionString="http://netscaler.ad.tuhu.cn:9200" providerName="Nest.ElasticClient" />
    <add name="Tuhu_BI_ReadOnly" connectionString="User ID=Tuhu_WinService_BaoYang;Password=Tak9_R7d!5vTg;Persist Security Info=True;Initial Catalog=Tuhu_bi;Data Source=db-log-ro;" providerName="System.Data.SqlClient" />
    <add name="Tuhu_BI" connectionString="User ID=Tuhu_WinService_BaoYang;Password=Tak9_R7d!5vTg;Persist Security Info=True;Initial Catalog=Tuhu_bi;Data Source=db-log-rw;" providerName="System.Data.SqlClient" />
    ProductionOnly-->
  </connectionStrings>
  <!--WCF Config-->
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <tuhuEndPointBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConfigLogClient" maxBufferSize="100000000" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_BaoYangService" maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--OnlyDevelop-->
      <endpoint address="http://wcf.tuhu.work:9050/BaoYang/Cache.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigLogClient" contract="Tuhu.Service.BaoYang.ICacheClient" name="Tuhu.Service.BaoYang.ICacheClient" />
      <endpoint address="http://wcf.tuhu.work:9050/BaoYang/BaoYang.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigLogClient" contract="Tuhu.Service.BaoYang.IBaoYangClient" name="Tuhu.Service.BaoYang.IBaoYangClient" />
      <endpoint address="http://wcf.tuhu.work:9070/ConfigLog/ConfigLog.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigLogClient" contract="Tuhu.Service.ConfigLog.IConfigLogClient" name="Tuhu.Service.ConfigLog.IConfigLogClient" />
      <endpoint address="http://wcf.tuhu.work:9054/Utility/HttpProxy.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigLogClient" contract="Tuhu.Service.Utility.IHttpProxyClient" name="Tuhu.Service.Utility.IHttpProxyClient" />
      <endpoint address="http://wcf.tuhu.work:9010/Utility/Sms.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigLogClient" contract="Tuhu.Service.Utility.ISmsClient" name="Tuhu.Service.Utility.ISmsClient" />
      <endpoint address="http://wcf.tuhu.work:9108/VehiclePart/epc.svc" binding="basicHttpBinding" contract="Tuhu.Service.VehiclePart.IEpcClient" name="Tuhu.Service.VehiclePart.IEpcClient" />
      <endpoint address="http://wcf.tuhu.work:9060/Shop/Region.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigLogClient" contract="Tuhu.Service.Shop.IRegionClient" name="Tuhu.Service.Shop.IRegionClient" />
      <!--DevelopOnly-->
      
      <!--OnlyProduction
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/BaoYang/BaoYang.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BaoYangService" contract="Tuhu.Service.BaoYang.IBaoYangClient" name="Tuhu.Service.BaoYang.IBaoYangClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/BaoYang/Cache.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BaoYangService" contract="Tuhu.Service.BaoYang.ICacheClient" name="Tuhu.Service.BaoYang.ICacheClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/ConfigLog/ConfigLog.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigLogClient" contract="Tuhu.Service.ConfigLog.IConfigLogClient" name="Tuhu.Service.ConfigLog.IConfigLogClient"/>
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Utility/Sms.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigLogClient" contract="Tuhu.Service.Utility.ISmsClient" name="Tuhu.Service.Utility.ISmsClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Utility/HttpProxy.svc"  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigLogClient" contract="Tuhu.Service.Utility.IHttpProxyClient" name="Tuhu.Service.Utility.IHttpProxyClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/VehiclePart/epc.svc" binding="basicHttpBinding" contract="Tuhu.Service.VehiclePart.IEpcClient" name="Tuhu.Service.VehiclePart.IEpcClient" />
      <endpoint address="http://netscaler.ad.tuhu.cn:9010/Shop/Region.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigLogClient" contract="Tuhu.Service.Shop.IRegionClient" name="Tuhu.Service.Shop.IRegionClient" />
      ProductionOnly-->
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <codeBase version="1.2.10.0" href="log4net.old.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.BaoYang" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.0.0" newVersion="1.4.9.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Shop" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.6" newVersion="1.3.2.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.MessageQueue" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.5.0" newVersion="3.6.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="途虎养车网 &lt;servicesender@tuhu.cn&gt;">
        <network host="smtp.exmail.qq.com" userName="servicesender@tuhu.cn" password="Lushanshenglong8" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
