<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>
  <schedule>
    <job>
      <name>BaoYangPoductsCacheJob</name>
      <group>DefaultJobGroup</group>
      <description>缓存保养产品</description>
      <job-type>BaoYangRefreshCacheService.Job.BaoYangPoductsCacheJob,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BaoYangPoductsCacheJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BaoYangPoductsCacheJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--<cron-expression>1 0/15 * * * ?</cron-expression>-->
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>BaoYangPoductsCacheJob2</name>
      <group>DefaultJobGroup</group>
      <description>缓存保养产品2</description>
      <job-type>BaoYangRefreshCacheService.Job.BaoYangPoductsCacheJob2,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BaoYangPoductsCacheJob2Trigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BaoYangPoductsCacheJob2</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--<cron-expression>1 0/15 * * * ?</cron-expression>-->
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>
      <job>
          <name>RefreshRegionSupportServiceCacheJob</name>
          <group>DefaultJobGroup</group>
          <description>刷新地区支持的服务id缓存</description>
          <job-type>BaoYangRefreshCacheService.Job.RefreshRegionSupportServiceCacheJob,BaoYangRefreshCacheService</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <trigger>
          <cron>
              <name>RefreshRegionSupportServiceCacheJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>RefreshRegionSupportServiceCacheJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <!--<cron-expression>1 0/15 * * * ?</cron-expression>-->
              <cron-expression>0 0/30 * * * ?</cron-expression>
          </cron>
      </trigger>

      <job>
          <name>RefreshOilUserOrderCacheJob</name>
          <group>DefaultJobGroup</group>
          <description>刷新用户购买过的机油缓存</description>
          <job-type>BaoYangRefreshCacheService.Job.RefreshOilUserOrderCacheJob,BaoYangRefreshCacheService</job-type>
          <durable>true</durable>
          <recover>false</recover>
      </job>
      <!--<trigger>
          <cron>
              <name>RefreshOilUserOrderCacheJobTrigger</name>
              <group>DefaultTriggerGroup</group>
              <job-name>RefreshOilUserOrderCacheJob</job-name>
              <job-group>DefaultJobGroup</job-group>
              <cron-expression>0 0 2 * * ?</cron-expression>
          </cron>
      </trigger>-->
      
    <job>
      <name>BaoYangAdaptionCacheJob</name>
      <group>DefaultJobGroup</group>
      <description>缓存适配数据</description>
      <job-type>BaoYangRefreshCacheService.Job.BaoYangAdaptionCacheJob,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BaoYangAdaptionCacheJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BaoYangAdaptionCacheJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--<cron-expression>2 1 0/2 * * ?</cron-expression>-->
        <cron-expression>0 10 0/3 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>TriggerRefreshCacheJob</name>
      <group>DefaultJobGroup</group>
      <description>触发刷新缓存任务</description>
      <job-type>BaoYangRefreshCacheService.Job.TriggerRefreshCacheJob,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>TriggerRefreshCacheJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>TriggerRefreshCacheJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--<cron-expression>3 0/5 * * * ?</cron-expression>-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>KpiStatisticsJob</name>
      <group>DefaultJobGroup</group>
      <description>报表自动生成</description>
      <job-type>BaoYangRefreshCacheService.Job.KpiStatisticsJob,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>KpiStatisticsJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>KpiStatisticsJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--<cron-expression>3 0/5 * * * ?</cron-expression>-->
        <cron-expression>0 30 23 * * ?</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>BIAdaptationDataJob</name>
      <group>DefaultJobGroup</group>
      <description>BI适配数据job</description>
      <job-type>BaoYangRefreshCacheService.Job.BIAdaptationDataJob,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BIAdaptationDataJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BIAdaptationDataJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--<cron-expression>3 0/5 * * * ?</cron-expression>-->
        <cron-expression>0 30 2 * * ?</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>BaoYangBIDataJob</name>
      <group>DefaultJobGroup</group>
      <description>BI数据job</description>
      <job-type>BaoYangRefreshCacheService.Job.BaoYangBIDataJob,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BaoYangBIDataJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BaoYangBIDataJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--<cron-expression>3 0/5 * * * ?</cron-expression>-->
        <cron-expression>0 30 19 ? * MON</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>EmailNotifyJob</name>
      <group>DefaultJobGroup</group>
      <description>邮件主动通知</description>
      <job-type>BaoYangRefreshCacheService.Job.EmailNotifyJob,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>EmailNotifyJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>EmailNotifyJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--<cron-expression>3 0/5 * * * ?</cron-expression>-->
        <cron-expression>0 0 19 * * ?</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>AutoHomeGetCarGradeJob</name>
      <group>DefaultJobGroup</group>
      <description>获取汽车之家车系数据</description>
      <job-type>BaoYangRefreshCacheService.Job.AutoHomeGetCarGradeJob,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>AutoHomeGetCarGradeJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>AutoHomeGetCarGradeJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--<cron-expression>2 1 0/2 * * ?</cron-expression>-->
        <cron-expression>0 20 20 ? * WED</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>AutoHomeGetCarDataJob</name>
      <group>DefaultJobGroup</group>
      <description>获取汽车之家车型数据</description>
      <job-type>BaoYangRefreshCacheService.Job.AutoHomeGetCarDataJob,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>AutoHomeGetCarDataJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>AutoHomeGetCarDataJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--<cron-expression>2 1 0/2 * * ?</cron-expression>-->
        <cron-expression>0 40 19 * * ?</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>VehiclePartsMergeJob</name>
      <group>DefaultJobGroup</group>
      <description>全车件车型映射</description>
      <job-type>BaoYangRefreshCacheService.Job.VehiclePartsMergeJob,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <job>
      <name>VehicleParts_LiYangEsJob</name>
      <group>DefaultJobGroup</group>
      <description>全车件车型映射</description>
      <job-type>BaoYangRefreshCacheService.Job.VehicleParts_LiYangEsJob,BaoYangRefreshCacheService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
  </schedule>
</job-scheduling-data>
