{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    ["transform-modules", {
      "tiger-ui": {
        "transform": "tiger-ui/modules/${member}",
        "preventFullImport": true,
        "style": true
      },
      "tiger-lib": {
        "transform": "tiger-lib/modules/${member}",
        "preventFullImport": true,
        "style": false
      }
    }],
    "transform-vue-jsx"
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
