
@{
    ViewBag.Title = "保养价格指导";
}
<style>
    .list {
    width: 100%;
    overflow-x: scroll;
    }
    .tuhu_self.color {
    background-color: #8ADE94;
    }

    .tuhu_other.color {
    background-color: #DCC8B9;
    }
    #ProductTable th {
       min-width: 50px;
    }
</style>
<script src="~/Content/ProductVehicleType/js/angular.min.js"></script>
<script type="text/javascript" src="/Scripts/plugins/PageChange/jquery.pagination.js"></script>
<script src="/Scripts/BaoYangPriceGuide/BaoYangPriceGuide.js?v=20180806"></script>
<link href="/Scripts/plugins/PageChange/pagination.css" rel="stylesheet"/>
<link href="/Content/Public/Public.css" rel="stylesheet" />
<h2>保养价格指导</h2>
@Html.Partial("Search")
<div id="SaleNumItem" style="display: none;">
    <p>PID:<span class="pid"></span></p>
    <p>产品名称：<span class="name"></span></p>
    <table width="400"></table>
</div>
<div id="ShopNumItem" style="display: none;">
    <p>PID:<span class="pid"></span></p>
    <p>产品名称：<span class="name"></span></p>
    <table width="400"></table>
</div>
<div id="ZXTPrice"></div>
<div id="ZXTCost"></div>
<div id="UpdatePrice" style="display:none;">
    <p>指导价：<span class="guidePrice"></span></p>
    <p>官网价格：<input type="text" name="name" class="price" value="" />元</p>
    <p>相比指导价(官网价-实际指导价)：<span class="xiangbi"></span></p>
    <p>建议价格调整范围：<span class="jyprice"></span></p>
</div>

<div id="ApplyUpdatePrice" style="display: none;">
    <p>该价格超过预警线，需要领导审批，审批通过后才会生效，确认修改？</p>
    <p><span style="float: left;">申请原因：</span><textarea name="name" class="reason" value=""></textarea>
    </p>
</div>
<div id="FlashSaleShow" style="display:none;"></div>
<script src="/Scripts/echarts.js"></script>
<script>
    $(function() {
        LoadList(1,"");
        $(".list").on("click", ".pager>a", function (event) {
            $(".list").html(loading);
            event.preventDefault();
            var url = $(this).attr("href");
            if (url) {
                $.post(url, function (html, status) {
                    $(".list").empty();
                    if (status === "success") {
                        if (html) {
                            $(".list").html(html);
                        } else {
                            $(".list").html(nodata);
                        }
                    }
                });
            }
        });
    });


    $("#Search").click(function() {
        LoadList(1,"");
    });    
</script>
