
@{
    ViewBag.Title = "限时抢购商品列表";
}

<h2>限时抢购商品列表</h2>
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }

    ul {
        position: absolute;
        width: 100%;
        display: none;
        top: 30px;
        margin: 0;
        padding: 0;
    }

        ul li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
</style>

<div>

    <form action="/FlashSaleProductsExtend/List" method="post" class="searchform">

        <table style="">
            <tbody>
                <tr style="">
                    <td style="width:20px;"> PID</td>
                    <td style="width:200px;"><input type="text" name="PID" /></td>
                    <td style="width:50px;">活动ID</td>
                    <td style="width:200px;"><input type="text" name="ActivityID" /></td>

                    <td><input style="margin-top:0"  type="button" value="搜索" onclick="searchform('')" class="btn" /></td>

                    <td style=""><a href="javascript:;" onclick="FlashSaleProductsExtend.LookOplog()" target="_blank">使用优惠券状态修改日志</a></td>
                </tr>
            </tbody>
        </table>
    </form>

</div>
<div class="listdata"></div>
<div id="LookOplog"></div>
<input type="hidden" value="FPIUC" id="hidObjectType" />
<script>

    function searchform(e) {
        $.ajax({
            type: "POST",
            url: "/FlashSaleProductsExtend/List",
            data: { "PID": $("input[name='PID']").val(), "ActivityID": $("input[name='ActivityID']").val(), "order": e },
            success: function (result) {
                $(".listdata").html(result);
            },
            error: function (result) {
                alert("失败!")
            }
        });
    }
    $(function () {

        $(".listdata").load("/FlashSaleProductsExtend/list");

        $(".listdata").on("click", ".pager>a", function (event) {
            event.preventDefault();
            debugger;
            $.ajax({
                type: "POST",
                url: this.href,
                data: { "PID": $("input[name='PID']").val(), "ActivityID": $("input[name='ActivityID']").val(), "order": "" },
                success: function (result) {
                    $(".listdata").html(result);
                },
                error: function (result) {
                    alert("失败!")
                }
            });
        });

    })

    function MonthSales(e) {
        $(e).parents("th").find("ul").css("display", "block");
    }

    function GrossProfitMargin(e) {
        $(e).parents("th").find("ul").css("display", "block");
    }



    var FlashSaleProductsExtend = {

        "Update": function (e, pkid) {
            var IsUsePCode = $(e).parents("tr").find("td").eq(9).find("input[type='radio']:checked").val();
           
            $.ajax({
                type: "POST",
                url: "/FlashSaleProductsExtend/Edit",
                data: { "PKID": pkid, "IsUsePCode": IsUsePCode },
                success: function (result) {
                    if (result) {
                        window.location.reload(true);
                    }
                    else {
                        alert("保存失败！");
                    }
                },
                error: function (result) {
                    alert("失败!")
                }
            });
        },
        "LookOplog": function () {
            $("#LookOplog").html("").load('/Logger/list?objectType=FPIUC');
            $("#LookOplog").dialog({
                title: "查看日志",
                width: 850,
                height: 450,
                modal: true,
                resizable: false,
                buttons: {
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
    }
</script>  