@{
    ViewBag.Title = "塞券记录";
}
@section head{
    <link href="~/css/beautyPackage.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/iview/iview.css" />
    <style type="text/css">
        .ui-dialog {
            width: auto;
        }

        .select2-selection__choice {
            color: black;
        }

        label.dialoglable {
            width: 20%;
            display: inline-block;
            font-weight: 900;
        }

        div.dialogdiv {
            width: 60%;
            display: inline-block;
        }

        .strike {
            display: block;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            margin-top: 10px;
        }

        .strike > span {
            position: relative;
            display: inline-block;
        }

        .strike > span:before,
        .strike > span:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 9999px;
            height: 1px;
            background: #808080;
        }

        .strike > span:before {
            right: 100%;
            margin-right: 15px;
        }

        .strike > span:after {
            left: 100%;
            margin-left: 15px;
        }

        body {
            background-color: #71d6f3;
            /*font-size: 75%;*/
            font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
            margin: 0;
            padding: 0;
            color: #696969;
        }

        .form-item-width {
            width: 93%;
        }
    </style>
}

<div id="div" v-cloak>
    <h2 style="margin:20px 0;">
        <a href="/VipBaoYangPackage/VipBaoYangPackage" style="color: #08c;">保养套餐配置</a>
        <a href="/VipBaoYangPackage/VipPromotionOperation" style="color: #08c;margin-left:30px">给用户塞券</a>
        <a href="/VipBaoYangPackage/PromotionOperationRecord" style="color: #08c;margin-left:30px">塞券记录</a>
        <a href="/VipBaoYangPackage/VipBaoYangPackageSmsConfig" style="color: #08c;margin-left:30px">短信配置</a>
    </h2>
    <row type="flex" justify="start" v-bind:align="'middle'" style="margin-bottom:20px">
        <i-col span="4">
            <i-input type="text" placeholder="请输入批次号" v-model="filterCondition.batchCode"></i-input>
        </i-col>
        <i-col span="1"></i-col>
        <i-col span="4">
            <i-input type="text" placeholder="请输入手机号" v-model="filterCondition.mobilePhone"></i-input>
        </i-col>
        <i-col span="1"></i-col>
        <i-col span="5">
            <i-input type="text" placeholder="请输入套餐PID" v-model="filterCondition.pid"></i-input>
        </i-col>
        <i-col span="1"></i-col>
        <i-col span="5">
            <i-select filterable v-model="filterCondition.vipUserId">
                <i-option value="00000000-0000-0000-0000-000000000000" key="00000000-0000-0000-0000-000000000000">请选择</i-option>
                <i-option :value="item.VipUserId" :key="item.VipUserId" v-for="item in users">{{item.VipUserName}}</i-option>
            </i-select>
        </i-col>
        <i-col span="1"></i-col>
        <i-col span="2">
            <i-button type="success" v-on:click="pager.currentPage=0;">查询</i-button>
        </i-col>
    </row>
    <table class="tableContainer" style="margin-top:30px">
        <thead>
            <tr>
                <th>批次号</th>
                <th>套餐PID</th>
                <th>套餐名称</th>
                <th>大客户名称</th>
                <th>已上传</th>
                <th>塞券成功</th>
                <th>塞券人</th>
                <th>塞券时间</th>
                <th>短信配置</th>
                <th>操作</th>
            </tr>
        </thead>
        <tr v-if="list.length<=0&&!loading">
            <td colspan="8">无数据</td>
        </tr>
        <tr v-if="loading">
            <td colspan="8"><img src="/Images/loading.gif" /></td>
        </tr>
        <tr v-for="item in list">
            <td>{{item.BatchCode}}</td>
            <td>{{item.PID}}</td>
            <td><a v-on:click="showDetail(item.PackageId)" style="cursor:pointer"><span>{{item.PackageName}}</span></a></td>
            <td>{{item.VipUserName}}</td>
            <td>{{item.WaitCount}}</td>
            <td>{{item.SuccessCount}}</td>
            <td>{{item.CreateUser}}</td>
            <td>{{item.CreateDateTime | formatDate}}</td>
            <td v-if="item.IsSendSms==true"><span style="color:green;font-weight:bolder">发送</span></td>
            <td v-if="item.IsSendSms==false"><span style="color:red;font-weight:bolder">不发送</span></td>
            <td>
                <a :href="'/VipBaoYangPackage/ExportCreatePromotionRecord?packageId='+item.PackageId+'&batchCode='+item.BatchCode">下载</a>
                <a :href="'/VipBaoYangPackage/PromotionDetail?batchcode='+item.BatchCode">详情</a>
            </td>
        </tr>
    </table>
    <div style="margin-top:20px;">
        <span>
            每页显示:
            <select v-model="pager.size">
                <option v-for="size in sizes" v-bind:value="size">{{size}}</option>
            </select>
            条
        </span>
        <span>
            <button type="button" v-on:click="pager.currentPage=1" v-bind:disabled="pager.currentPage<=1">首页</button>
            <button type="button" v-on:click="pager.currentPage-=1" v-bind:disabled="pager.currentPage<=1">上一页</button>
            <button type="button" v-on:click="pager.currentPage+=1" v-bind:disabled="pager.currentPage>=pager.pages">下一页</button>
            <button type="button" v-on:click="pager.currentPage=pager.pages" v-bind:disabled="pager.currentPage>=pager.pages">尾页</button>
        </span>
        <span style="float:right">
            <span>当前第{{pager.currentPage}}页/共{{pager.pages}}页&nbsp;&nbsp;转到<input style="width:30px" type="text" v-model="pager.inputPage">页</span>
            <button type="button" v-on:click="pager.currentPage=pager.inputPage" v-bind:disabled="pager.inputPage<=0 || pager.inputPage>pager.pages">确定</button>
        </span>
    </div>
    <form-modal :brands="brands" :users="users" :show.sync="show" :packageid="packageId"></form-modal>
</div>

<script type="text/x-template" id="form-modal">
    <div>
        <modal v-model="showModal" title="套餐产品详情页" width="750"
               :loading="true"
               :closable="!loading"
               :mask-closable="false">
            <i-form ref="packageForm" :model="data" :label-width="160">
                <form-item label="套餐所属大客户：" prop="VipUserName" class="form-item-width">
                    <i-input v-model="data.VipUserName" placeholder="套餐所属大客户" readonly></i-input>
                </form-item>
                <form-item label="套餐名称：" prop="PackageName" class="form-item-width">
                    <i-input v-model="data.PackageName" placeholder="显示给用户的套餐名称" readonly></i-input>
                </form-item>

                <form-item label="机油品牌：" prop="OilBrands" class="form-item-width">
                    <div v-for="setting in settings">
                        <i-input :value="setting.brand" readonly style="width:200px"></i-input>
                        <template v-if="(setting.grades ||[]).length > 0">
                            <div v-for="grade in setting.grades">
                                <div style="display:inline-block; width:30px;"></div>
                                <i-input :value="grade.grade" readonly style="width:200px"></i-input>
                                <i-input :value="(grade.series||[]).join(',')" readonly style="width:200px"></i-input>
                            </div>
                        </template>
                    </div>
                </form-item>
                <form-item label="填写机油升数：" prop="Volume" class="form-item-width">
                    <i-input v-model="data.Volume" readonly></i-input>
                </form-item>
                <form-item label="套餐价格：" prop="Price" class="form-item-width">
                    <i-input v-model="data.Price" readonly></i-input>
                </form-item>
                <form-item label="结算方式：" prop="SettlementMethod" class="form-item-width">
                    <radio-group v-model="data.SettlementMethod">
                        <radio label="PreSettled" disabled><span>买断制</span></radio>
                        <radio label="ByPeriod" disabled><span>据实结算制</span></radio>
                    </radio-group>
                </form-item>
            </i-form>
            <div slot="footer">
                <i-button type="text" v-on:click="showModal=false">取消</i-button>
            </div>
        </modal>
    </div>
</script>

@section scripts{
    <script type="text/javascript" src="~/Scripts/vue.min.js"></script>
    <script type="text/javascript" src="~/Scripts/iview/iview.min.js"></script>
    <script type="text/javascript" src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/vue.common.js"></script>
    <script type="text/javascript">
        function formatValue(value) {
            var result = value;
            if (value == "" || value == null || value == undefined) {
                result = "/"
            }
            return result;
        }

        Array.prototype.groupBy = function (selector) {
            var array = this;
            var set = {};
            var keys = [];
            for (var i = 0; i < array.length; i++) {
                var value = array[i];
                var key = selector(value, i);
                if (!set.hasOwnProperty(key)) {
                    set[key] = [];
                    keys.push(key);
                }
                set[key].push(value);
            }
            var result = [];
            for (var i = 0; i < keys.length; i++) {
                var key = keys[i];
                var obj = {};
                obj.key = key;
                obj.value = set[key] || [];
                result.push(obj);
            }
            return result;
        }

        Array.prototype.any = function (callback) {
            var array = this;
            for (var i = 0; i < array.length; i++) {
                var value = array[i];
                if (callback(value, i)) {
                    return true;
                }
            }
            return false;
        }

        Vue.filter('formatValue', formatValue);

        Vue.component('form-modal', {
            template: '#form-modal',
            props: {
                show: {
                    type: Boolean,
                    default: false,
                },
                packageid: {
                    type: Number,
                    default: 0,
                },
                users: {
                    type: Array,
                    default: [],
                },
                brands: {
                    type: Array,
                    default: [],
                }
            },
            data: function () {
                return {
                    showModal: false,
                    loading: false,
                    disabled: false,
                    data: {
                        PKID: 0,
                        VipUserId: '00000000-0000-0000-0000-000000000000',
                        VipUserName: '',
                        PackageName: '',
                        Price: '',
                        Volume: '',
                        OilBrands: [],
                        SettlementMethod: '',
                        OilGrades: [],
                        OilConfigs: [],
                    }
                };
            },
            watch: {
                show: function (value) {
                    var vm = this;
                    if (value) {
                        vm.getVipBaoYangPackageById(vm.packageid);
                    }
                    if (!value && vm.showModal) {
                        vm.showModal = false;
                    }
                    vm.$emit('update:show', value);
                },
                showModal: function (value) {
                    var vm = this;
                    if (value && !vm.show) {
                        vm.show = true;
                    } else if (!value) {
                        vm.handleReset();
                        if (vm.show) {
                            vm.show = false;
                        }
                    }
                }
            },
            computed: {
                settings: function () {
                    var vm = this;
                    var value = vm.data.OilConfigs || [];
                    var result = value.groupBy(function (b) {
                        return b.Brand;
                    }).map(function (group) {
                        var grades = group.value.groupBy(function (g) {
                            return g.Grade;
                        }).map(function (groupGrade) {
                            var series = groupGrade.value.map(function (s) {
                                return s.Series;
                            });
                            var o = {};
                            o.grade = groupGrade.key;
                            o.series = series.filter(function (x) { return !!x });
                            return o;
                        });
                        var obj = {};
                        obj.brand = group.key;
                        obj.grades = grades;
                        return obj;
                    });
                    return result;
                },
            },
            methods: {
                getVipBaoYangPackageById: function (pkid) {
                    var vm = this;
                    if (pkid > 0) {
                        vm.disabled = true;
                        $.get("SelectVipBaoYangPackageByPKID", { pkid: pkid }, function (result) {
                            vm.data.PKID = pkid;
                            vm.data.VipUserId = result.VipUserId.toUpperCase();
                            vm.data.PackageName = result.PackageName;
                            vm.data.Price = result.Price;
                            vm.data.Volume = result.Volume;
                            vm.data.OilBrands = result.Brands;
                            vm.data.SettlementMethod = result.SettlementMethod;
                            vm.data.VipUserName = result.VipUserName;
                            vm.data.OilConfigs = result.OilConfigs;
                            vm.showModal = true;
                        });
                    }
                    else {
                        vm.disabled = false;

                        vm.showModal = true;
                    }
                },
                submit: function () {
                    var vm = this;
                    var formData = {
                        PKID: vm.data.PKID,
                        VipUserId: vm.data.VipUserId,
                        PackageName: vm.data.PackageName,
                        Price: vm.data.Price,
                        Volume: vm.data.Volume,
                        Brands: vm.data.OilBrands,
                        SettlementMethod: vm.data.SettlementMethod,
                    };
                    var content = formData.PKID > 0 ? '确认修改此套餐?' : '确认添加此套餐?';
                    vm.$Modal.confirm({
                        title: "操作确认",
                        content: content,
                        loading: true,
                        onOk: function () {
                            $.post("InsertVipBaoYangPackage", formData, function (result) {
                                if (result.status) {
                                    vm.$Message.info("操作成功！");
                                    vm.showModal = false;
                                    vm.$emit('submit', true);
                                } else {
                                    vm.$Message.warning("操作失败！" + (result.msg || ""));
                                    vm.$emit('submit', false);
                                }
                            }).complete(function () {
                                vm.$Modal.remove();
                                vm.loading = false;
                            });
                        },
                        onCancel: function () {
                            vm.loading = false;
                        }
                    });
                },
                handleReset: function () {
                    var vm = this;
                    vm.data.PKID = 0;
                    vm.data.VipUserId = '00000000-0000-0000-0000-000000000000';
                    vm.data.PackageName = '';
                    vm.data.Price = '';
                    vm.data.Volume = '';
                    vm.data.OilBrands = [];
                    vm.data.OilGrades = [];
                    vm.data.SettlementMethod = '';
                    vm.$refs['packageForm'].resetFields();
                },
                handleSubmit: function () {
                    var vm = this;
                    vm.loading = true;
                    vm.$refs['packageForm'].validate(function (valid) {
                        if (valid) {
                            vm.submit();
                            return;
                        }
                        vm.loading = false;
                    });
                },

            }
        });

        var vue = new Vue({
            el: "#div",
            data: {
                pager: {
                    total: 0,
                    pages: 0,
                    currentPage: 1,
                    size: 20,
                    inputPage: 0,
                },
                packages: [],
                brands: [],
                loading: false,
                list: [],
                sizes: [5, 10, 20, 40, 50, 100, 200],
                filterCondition: {
                    vipUserId: "00000000-0000-0000-0000-000000000000",
                    pid: "",
                    mobilePhone: "",
                    batchCode: ""
                },
                showdialog: false,
                data: {
                    vipUserId: "00000000-0000-0000-0000-000000000000",
                    packagename: "",
                    price: "",
                    oilBrands: "",
                    volume: "",
                    SettlementMethod: ""
                },
                options: [],
                packageId: 0,
                show: false,
                users: [],
                brands: [],
            },
            watch: {
                "pager.total": function () {
                    var self = this;
                    self.pager.pages = Math.ceil(self.pager.total / self.pager.size);
                },
                "pager.size": function () {
                    var self = this;
                    if (self.pager.size <= 0) {
                        self.pager.size = 1;
                        return;
                    }
                    if (self.pager.size > 200) {
                        self.pager.size = 200;
                        return;
                    }
                    self.pager.pages = Math.ceil(self.pager.total / self.pager.size);
                    this.Init();
                },
                "pager.currentPage": function () {
                    var self = this;
                    if (self.pager.currentPage <= 0) {
                        self.pager.currentPage = 1;
                        return;
                    }
                    if (self.pager.pages > 1 && self.pager.currentPage > self.pager.pages) {
                        self.pager.currentPage = self.pager.pages;
                        return;
                    }
                    self.Init();
                },
            },
            created: function () {
                this.GetAllBaoYangPackageUser();
                this.GetOilBrands();
                this.Init();
            },
            methods: {
                Init: function () {
                    var self = this;
                    //self.loading = true;
                    //self.list = [];
                    $.get("SelectOperationRecord", {
                        batchcode: self.filterCondition.batchCode, pid: self.filterCondition.pid, vipUserId: self.filterCondition.vipUserId, mobilePhone: self.filterCondition.mobilePhone,
                        pageIndex: self.pager.currentPage, pageSize: self.pager.size
                    }, function (result) {
                        //self.loading = false;
                        self.list = result;
                        self.pager.total = result.length > 0 ? result[0].Total : 0;
                    });
                },
                GetAllBaoYangPackageUser: function () {
                    var vm = this;
                    $.get("GetAllBaoYangPackageUser", function (result) {
                        vm.packages = result || [];
                        vm.users = vm.packages.map(function (package) {
                            return { VipUserId: package.VipUserId.toUpperCase(), VipUserName: package.VipUserName };
                        });
                    });
                },
                GetOilBrands: function () {
                    var vm = this;
                    $.get("GetOilBrands", function (result) {
                        vm.brands = (result || []).map(function (brand) { return { Brand: brand } });
                    });
                },
                showDetail: function (pkid) {
                    var vm = this;
                    vm.packageId = pkid;
                    vm.show = false;
                    vm.$nextTick(function () {
                        vm.show = true;
                    });
                },
            },
        });
    </script>
}