<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="cat" type="Tuhu.Profiling.Configuration.CatSectionHandler, Tuhu.Profiling" />
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section name="rabbitmq" type="Tuhu.MessageQueue.RabbitMQSection, Tuhu.MessageQueue" />
        <section name="zookeeper" type="Tuhu.ZooKeeper.ZooKeeperClientSection, Tuhu.ZooKeeper" />
        <section name="nosql" type="Tuhu.Nosql.Configuration.NosqlConfiguration, Tuhu.Nosql" />
        <section name="redisClient" type="Tuhu.Nosql.Redis.Configuration.RedisCachingSectionHandler, Tuhu.Nosql.Redis" />
        <!--OnlyProduction
          <section name="binaryConfig" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
         ProductionOnly-->
    </configSections>
    <!--OnlyDevelop-->
    <cat server="cat.tuhu.work" />
    <!--DevelopOnly-->
    <!--OnlyProduction
    <cat server="netscaler.ad.tuhu.cn:2281" />
    ProductionOnly-->
    <!--OnlyProduction
  <binaryConfig protocol="Binary">
    <servers>
       <add address="10.1.1.52" port="11211" />
    </servers>
    <socketPool minPoolSize="5" maxPoolSize="200"/>
  </binaryConfig>
  ProductionOnly-->
    <rabbitmq hostName="172.16.20.1" userName="test" password="itsme999" virtualHost="/dev" />
    <zookeeper sessionTimeOut="30000" server="172.16.20.1" distributedLockPath="/DistributedLock" masterSlavePath="/MasterSlave/Service" />
    <nosql provider="Tuhu.Nosql.Redis.RedisProvider, Tuhu.Nosql.Redis" sectionName="redisClient" file="Cache.config" prefix="FaXian">
        <expiration></expiration>
    </nosql>
    <redisClient abortOnConnectFail="false" allowAdmin="true" ssl="false" connectTimeout="500" database="1" proxy="Twemproxy">
        <hosts>
            <add host="172.16.20.233" cachePort="6479" />
        </hosts>
    </redisClient>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
                <arg key="configType" value="FILE-WATCH" />
                <arg key="configFile" value="~/log4net.config" />
            </factoryAdapter>
        </logging>
    </common>

    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
        <add key="ImageUrlPre" value="http://image.tuhu.cn/" />
        <add key="TempSite" value="http://wx.tuhu.cn" />
        <add key="LimitTime" value="365" />
        <add key="MobsetAccount" value="300348" />
        <add key="MobsetLoginName" value="Admin" />
        <add key="MobsetPassword" value="870478" />
        <add key="JianZhouAccount" value="sdk_shtuhu" />
        <add key="JianZhouPassword" value="woyaoyimin" />
        <add key="3TongAccount" value="dh50081" />
        <add key="3TongPassword" value="D2k532@K" />
        <add key="WeixinApiUrl" value="https://api.weixin.qq.com/sns/oauth2/access_token?" />
        <add key="WeixinAppkey" value="wx21f3300bbe61dc90" />
        <add key="WeixinAppsecret" value="3733bb106c27455f395b7a129aab3a40" />
        <add key="DoMain.HuoDong.Release" value="https://faxian.tuhu.cn/" />
        <add key="DoMain.HuoDong.Debug" value="http://faxian.tuhu.unit/" />
        <add key="Log4NetMode" value="AdoNetAppender" />
        <add key="MemcachedTime" value="10" />
        <add key="MemcachedMode" value="Release" />
        <add key="Memcached.Release" value="10.1.1.52|11211" />
        <add key="Memcached.Debug" value="10.1.1.52|11211" />
        <add key="DiscoverySite" value="https://faxian.tuhu.test" />
        <add key="CacheKeyProfix" value="Discovery/Cache/30F98BAC9E3BD1A84D3AC07EB451A674/" />
        <add key="vs:EnableBrowserLink" value="true" />
        <add key="DoMain_image" value="http://image.tuhu.test" />
        <add key="UploadDoMain_image" value="/activity/image/" />
    </appSettings>

    <connectionStrings>
        <add name="Gungnir" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Marketing;Persist Security Info=True;User ID=loguser;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="GungnirReadOnly" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Marketing;Persist Security Info=True;User ID=loguser;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="GungnirUser" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Insurance_db" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Tuhu_huodong;Persist Security Info=True;User ID=loguser;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Cache" connectionString="User ID=DBOperTuhu;Password=yiminyaozao7!;Persist Security Info=True;Initial Catalog=CacheDb;Data Source=db-gungnir-ro;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
        <add name="Tuhu_Discovery_Db" connectionString="data source=172.16.20.1\dev;initial catalog=Marketing;user id=loguser;password=itsme999;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="Tuhu_Activity_Db" connectionString="data source=172.16.20.1\dev;initial catalog=Activity;user id=sqlUser;password=itsme999;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="Tuhu_Activity_Db_ReadOnly" connectionString="data source=172.16.20.1\dev;initial catalog=Activity;user id=sqlUser;password=itsme999;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

        <add name="Elasticsearch" connectionString="http://172.16.20.1:9200" providerName="Nest.ElasticClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.5.1" />
        <customErrors mode="On" defaultRedirect="/Error.aspx" redirectMode="ResponseRewrite">
            <error statusCode="404" redirect="/Error.aspx?StatusCode=404" />
        </customErrors>
        <httpRuntime requestPathInvalidCharacters="" enableVersionHeader="false" maxUrlLength="2048" requestValidationMode="2.0" />
        <caching>
            <outputCacheSettings>
                <outputCacheProfiles>
                    <add name="DefaultCacheProfile" duration="60" location="Any" enabled="false" />
                    <add name="VehicleCacheProfile" duration="600" location="Any" enabled="false" />
                </outputCacheProfiles>
            </outputCacheSettings>
        </caching>
        <pages validateRequest="false">
            <namespaces>
                <add namespace="Tuhu.WebSite.Component.SystemFramework" />
            </namespaces>
        </pages>
        <identity impersonate="false" />
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="Profiling" type="Tuhu.Profiling.Web.ProfilingModule, Tuhu.Profiling.Web" />
        </modules>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/Error.aspx?StatusCode=404" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding maxBufferSize="100000000" maxReceivedMessageSize="100000000">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IFileUpload" maxBufferSize="100000000" maxReceivedMessageSize="100000000">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <basicHttpBinding>
                <binding maxBufferSize="100000000" maxReceivedMessageSize="100000000" />
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior>
                    <tuhuEndPointBehavior />
                </behavior>
                <behavior name="NoBehavior"></behavior>
            </endpointBehaviors>
        </behaviors>
        <extensions>
            <behaviorExtensions>
                <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
            </behaviorExtensions>
        </extensions>
        <client>
            <!--<endpoint address="net.tcp://service.tuhu.test:12345/FileUpload/" binding="netTcpBinding" contract="FileUpload.IFileUpload"
                name="NetTcpBinding_IFileUpload"/>-->
            <endpoint address="net.tcp://service.tuhu.test:12345/Utility/FileUpload.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileUpload" contract="Tuhu.Service.Utility.IFileUploadClient" name="Tuhu.Service.Utility.IFileUploadClient" />

            <endpoint address="http://wcf.tuhu.work:9062/Member/User.svc" binding="basicHttpBinding" contract="Tuhu.Service.Member.IUserClient" name="Tuhu.Service.Member.IUserClient" />
            <endpoint address="http://wcf.tuhu.work:9058/Product/Product.svc" binding="basicHttpBinding" contract="Tuhu.Service.Product.IProductClient" name="Tuhu.Service.Product.IProductClient" />
            <endpoint address="http://wcf.tuhu.work:9064/Push/Push.svc" binding="basicHttpBinding" contract="Tuhu.Service.Push.IPushClient" name="Tuhu.Service.Push.IPushClient" />
            <endpoint address="http://wcf.tuhu.work:9054/Utility/sms.svc" binding="basicHttpBinding" contract="Tuhu.Service.Utility.ISmsClient" name="Tuhu.Service.Utility.ISmsClient" />
            <endpoint address="http://wcf.tuhu.work:9056/UserAccount/UserAccount.svc" binding="basicHttpBinding" contract="Tuhu.Service.UserAccount.IUserAccountClient" name="Tuhu.Service.UserAccount.IUserAccountClient" />
            <endpoint address="http://wcf.tuhu.work:9066/Activity/Article.svc" binding="basicHttpBinding" contract="Tuhu.Service.Activity.IArticleClient" name="Tuhu.Service.Activity.IArticleClient" />
            <endpoint address="http://wcf.tuhu.work:9064/Push/pushtemplate.svc" binding="basicHttpBinding" contract="Tuhu.Service.Push.ITemplatePushClient" name="Tuhu.Service.Push.ITemplatePushClient" />
          <endpoint address="http://tuhu.service.activity:9066/Activity/Activity.svc" binding="basicHttpBinding" contract="Tuhu.Service.Activity.IActivityClient" name="Tuhu.Service.Activity.IActivityClient" />
        </client>
    </system.serviceModel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.6.5.0" newVersion="3.6.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.MessageQueue" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Nosql" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Member" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.4.8.3" newVersion="1.4.8.3" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Activity" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.3.17" newVersion="1.2.3.17" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Order" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.9.1.0" newVersion="1.9.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.UserAccount" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.2.1" newVersion="1.2.2.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tuhu.Service.Product" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.3.8.8" newVersion="1.3.8.8" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <!--OnlyDevelop-->
    <!--DevelopOnly-->
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
</configuration>
