@mixin clearFloat {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin iconPadding{
  &::before{
    content: '\20';
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
  }
}