* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-family: "helvetica Neue", "Arial", "PingFang SC", "STHeiti", "microsoft yahei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  background: #ddd;
}
.clearfl::after {
  display: table;
  clear: both;
  height: 0;
  content: "";
}
.wrapper {
  width: 100%;
  max-width: 630px;
  background: #eee;
  margin: 0 auto;
  height: 100%;
  font-size: 14px;
  position: fixed;
  overflow: scroll;
  padding-bottom: 54px;
}
.wrapper .battery {
  height: 20px;
  line-height: 20px;
  background: #df3348;
  color: #fff;
}
.wrapper .battery > .left,
.wrapper .battery > .center,
.wrapper .battery > .right {
  width: 33.3333%;
  float: left;
  font-size: 12px;
  text-align: left;
}
.wrapper .battery > .left {
  padding-left: 45px;
  position: relative;
}
.wrapper .battery > .left::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 5px;
  background: url(../img/dian.png) no-repeat;
  background-size: 100%;
  left: 5px;
  top: 7px;
}
.wrapper .battery > .left::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 9px;
  background: url(../img/wifi.png) no-repeat;
  background-size: 100%;
  right: 10px;
  top: 6px;
}
.wrapper .battery > .center {
  text-align: center;
}
.wrapper .battery > .right {
  text-align: right;
  padding-right: 40px;
  position: relative;
}
.wrapper .battery > .right::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 9px;
  background: url(../img/battery.png) no-repeat;
  background-size: 100%;
  right: 5px;
  top: 5px;
}
.wrapper .battery::after {
  display: table;
  clear: both;
  height: 0;
  content: "";
}
.wrapper .logo {
  height: 44px;
  line-height: 44px;
  color: #fff;
  background: #df3348;
}
.wrapper .logo > .left,
.wrapper .logo > .center,
.wrapper .logo > .right {
  width: 33.3333%;
  float: left;
  font-size: 12px;
  text-align: left;
}
.wrapper .logo > .left {
  padding-left: 15px;
  background: url(../img/arrowdown.png) no-repeat 60px center;
  background-size: 14px 8px;
}
.wrapper .logo > .center {
  text-align: center;
}
.wrapper .logo > .center > img {
  width: 100px;
  height: 22px;
  position: relative;
  top: 6px;
}
.wrapper .logo > .right {
  position: relative;
}
.wrapper .logo > .right::before,
.wrapper .logo > .right::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  background: url(../img/com.png) no-repeat;
  background-size: 100%;
  right: 15px;
  top: 14px;
}
.wrapper .logo > .right::after {
  width: 17px;
  height: 18px;
  background: url(../img/search.png) no-repeat;
  background-size: 100%;
  right: 50px;
  top: 15px;
}
.wrapper .logo::after {
  display: table;
  clear: both;
  height: 0;
  content: "";
}
.wrapper .carmodel {
  height: 28px;
  line-height: 18px;
  color: #fff;
  background: #df3348;
  padding: 0 15px;
  font-size: 12px;
}
.wrapper .carmodel > .left {
  display: inline-block;
  width: 53%;
  padding-left: 20px;
  background: url(../img/carlogo.png) no-repeat left center;
  background-size: 17px 7px;
  float: left;
}
.wrapper .carmodel > .right {
  text-align: right;
  border-left: 1px solid #fff;
  padding-left: 10px;
  position: relative;
  display: inline-block;
  width: 47%;
  float: right;
  padding-right: 20px;
}
.wrapper .carmodel > .right::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(../img/edit.png) no-repeat;
  background-size: 100%;
  right: 0;
  top: 2px;
}
.wrapper .byTip {
  border-bottom: 1px solid #d9d9d9;
}
.wrapper .byTip > img {
  width: 100%;
  display: block;
}
.wrapper .entry {
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
}
.wrapper .entry > a {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 80px;
  text-align: center;
  padding-top: 8px;
}
.wrapper .entry > a > img {
  width: 30px;
}
.wrapper .entry > a > p {
  color: #999;
  font-size: 10px;
  max-height: 22px;
  overflow: hidden;
}
.wrapper .entry > a > p.strong {
  color: #333;
  font-size: 13px;
}
.wrapper .entry > a > p.icon {
  color: #fff;
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 12px;
  padding: 2px 4px;
  margin: 0 auto;
  -moz-transform: scale(.75);
  -ms-transform: scale(.75);
  -o-transform: scale(.75);
  -webkit-transform: scale(.75);
  transform: scale(.75);
  background: #df3347;
}
.wrapper .swiperItem {
  background: #fff;
  height: 55px;
}
.wrapper .swiperItem .swiper-slide {
  height: 55px;
  color: #999999;
  font-size: 11px;
  text-align: center;
}
.wrapper .swiperItem .swiper-slide > img {
  width: 20px;
  height: 20px;
  display: block;
  margin: 8px auto 3px;
}
.wrapper .hotnews,
.wrapper .advertise {
  margin-top: 5px;
}
.wrapper .hotnews > img,
.wrapper .advertise > img {
  width: 100%;
  display: block;
}
.wrapper .banner {
  margin-top: 5px;
}
.wrapper .banner img {
  width: 100%;
}
.wrapper .flash {
  background: #fff;
  margin-top: 5px;
}
.wrapper .flash .title {
  height: 34px;
  line-height: 34px;
}
.wrapper .flash .title > .left {
  float: left;
  padding-left: 20px;
  position: relative;
  width: 130px;
}
.wrapper .flash .title > .left::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background: #df2f45;
  left: 10px;
  top: 9px;
}
.wrapper .flash .title > .left::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 14px;
  background: url(../img/icon.png) no-repeat;
  background-size: 100%;
  right: 0;
  top: 10px;
}
.wrapper .flash .title > .right {
  float: right;
}
.wrapper .flash .title > .right img {
  width: 120px;
  position: Relative;
  top: 4px;
  right: 15px;
}
.wrapper .flash .title::after {
  display: table;
  clear: both;
  height: 0;
  content: "";
}
.wrapper .flash .content > img {
  width: 100%;
}
.wrapper .recom {
  background: #fff;
  margin-top: 5px;
}
.wrapper .recom .title {
  height: 35px;
  line-height: 34px;
  border-bottom: 1px solid #d9d9d9;
}
.wrapper .recom .title > .left {
  float: left;
  padding-left: 20px;
  position: relative;
  width: 130px;
}
.wrapper .recom .title > .left::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background: #df2f45;
  left: 10px;
  top: 9px;
}
.wrapper .recom .title > .right {
  float: right;
  padding-right: 15px;
}
.wrapper .recom .title::after {
  display: table;
  clear: both;
  height: 0;
  content: "";
}
.wrapper .recom .content {
  height: 300px;
}
.wrapper .recom .content img{
    width:100%;
    height:auto;
}
.wrapper .footbar {
  position: fixed;
  width: 100%;
  max-width: 630px;
  height: 49px;
  background: #fdfdfd;
  left: 0;
  bottom: 20px;
  border-top: 1px solid #d9d9d9;
}
.wrapper .footbar > a {
  font-size: 10px;
  color: #666666;
  width: 20%;
  line-height: 49px;
  display: block;
  height: 49px;
  float: left;
  text-align: center;
  padding-top: 16px;
  position: relative;
}

.wrapper .footbar>a>img{
    height:25px;
    width:25px;
    position: absolute;
    top: 5px;
}
.wrapper .footbar > a::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  /*background: url(../img/home.png) no-repeat;
  background-size: 100%;*/
  top: 6px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/*.wrapper .footer > a.md::after {
  background: url(../img/md.png) no-repeat;
  background-size: 100%;
}
.wrapper .footer > a.find::after {
  background: url(../img/faxian.png) no-repeat;
  background-size: 100%;
}
.wrapper .footer > a.answer::after {
  background: url(../img/wenda.png) no-repeat;
  background-size: 100%;
}
.wrapper .footer > a.my::after {
  background: url(../img/my.png) no-repeat;
  background-size: 100%;
}*/
.wrapper .footbar::after {
  display: table;
  clear: both;
  height: 0;
  content: "";
}
@media screen and (min-width: 375px) {
  .wrapper .entry {
    height: 95px;
  }
  .wrapper .entry > a {
    height: 95px;
    padding-top: 12px;
    margin-right: 8px;
  }
  .wrapper .entry > a > img {
    width: 35px;
  }
  .wrapper .entry > a > p {
    font-size: 12px;
  }
  .wrapper .entry > a > p.strong {
    font-size: 14px;
  }
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 3px !important;
}
/*# sourceMappingURL=index.css.map */
