
@{
    ViewBag.Title = "FormDeatil";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div style="padding-right:20px;padding-top:5px;">
    <form id="form1">
        <table class="form">
            <tr>
                <th class="formTitle">名 称:</th>
                <td class="formValue">
                    <input type="text" id="Name" name="Name" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">图 标:</th>
                <td class="formValue">
                    <img id="imgIconUri" width="30" height="30" />
                    <input type="hidden" id="IconUri" name="IconUri" class="form-control" />
                    <input type="file" id="fileIconUri" name="fileIconUri" style="display:inline;width:120px;"/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">Uri:</th>
                <td class="formValue">
                    <input type="text" id="Uri" name="Uri" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">跳转类型:</th>
                <td class="formValue">
                    <input type="radio" value="true" name="UriType"  />小程序内
                    <input type="radio" value="false" name="UriType" />其他小程序
                </td>
            </tr>
            <tr>
                <th class="formTitle">排 序:</th>
                <td class="formValue">
                    <input type="text" id="OrderBy" name="OrderBy" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">状 态:</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Status" name="Status" checked="checked" type="checkbox"><label for="Status">有 效</label>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    var fkValue = $.request("fkValue");
    function fileImage() {
        $.uploadFile({
            id: $("#fileIconUri").attr("id"),
            preBack: function () {
                var size = $("#fileIconUri")[0].files[0].size / 1024 * 1.0;
                if (size > 500) {
                    $.modalMsg("上传的图片过大", "warning");
                    return false;
                } else {
                    return true;
                }
            },
            callBack: function (res) {
                $('#imgIconUri').attr("src", res.BImage);
                $("#IconUri").val(res.BImage);
            },
            complete: function () {
                $("#fileIconUri").on("change", fileImage);
            }
        });
    }
    function submitForm(iframe) {
        if (!$('#form1').formValid()) {
            return false;
        }
        var formData = $("#form1").formSerialize();
        formData.FKID = fkValue | null;
        formData.UriType = $('input[name="UriType"]:checked').val();

        $.submitForm({
            url: "/OwnBusiness/SubmitFormDeatil?keyValue=" + keyValue + "&Title=" + top.frames["OwnForm"].$("#Title").val() + "&OrderBy=" + top.frames["OwnForm"].$("#OrderBy").val(),
            param: formData,
            success: function (res) {
                if (formData.FKID == 0 || (!formData.FKID)) {
                    //top.frames["OwnForm"].$("#PKID").val(res.data);
                    top.frames["OwnForm"].location.href = "/OwnBusiness/Form?keyValue=" + res.data;
                } else {
                    top.frames["OwnForm"].$("#gridList").trigger("reloadGrid");
                }
            }
        })
    }

    $(function () {
        $("#fileIconUri").on("change", fileImage);
        if (keyValue) {
            $.ajax({
                url: "/OwnBusiness/GetFormDeatilJson",
                type: "post",
                dataType: "json",
                data: {
                    keyValue: keyValue
                },
                success: function (res) {
                    if (res) {
                        $("#form1").formSerialize(res);
                        if (res.IconUri) {
                            $("#imgIconUri").attr("src", res.IconUri);
                        }
                        $('input[name="UriType"]').each(function () {
                            var value = $(this).val();
                            
                            if (res.UriType == false && value == "false")
                                $(this).prop("checked", true);
                            else if (res.UriType == true && value == "true")
                                $(this).prop("checked", true);
                            else { }
                        })
                    }
                }
            });
        }
    });
</script>
