[v-cloak] {
    display: none;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.confirm .modal-container,
.info .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 10px 20px 40px 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.content .modal-container {
    width: 50%;
    margin: 0px auto;
    padding: 10px 20px 40px 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    height: auto;
    max-height:90%;
    overflow: auto
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    font-size: 12px;
    margin: 20px 0;
    text-align: center;
}

.modal-default-button {
    float: right;
    margin-left: 4px;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

    .modal-enter .modal-container, .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }


.tableContainer {
    width: 100%;
}

    .tableContainer th {
        background: #66ABEF;
        color: #F3F7FA;
        border: 1px solid #559BD0;
        font-weight: 600;
        font-family: "Microsoft Yahei";
        text-align: center;
    }

    .tableContainer td {
        font-size: 75%;
        padding: 8px 3px 8px 3px;
        font-family: "Microsoft Yahei";
        text-align: center;
        border: 1px solid #eee;
    }

.horizontal-group > input, .horizontal-group > select {
    line-height: 1.42857143;
    width: 200px;
    height: 30px;
    padding: 2px 2px 2px 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*.horizontal-group .date-picker {
    line-height: 1.42857143;
    width: 200px;
    height: 30px;
    padding: 2px 2px 2px 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}*/

.horizontal-group > label {
    display: inline-block;
    height: 30px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 10px;
}

.horizontal-group > button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    font-weight: bold;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    width: 80px;
}

.btn-danger {
    font-weight: bold;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    width: 80px;
}

.pager > button {
    float: right;
    margin-right: 4px;
}

.vertical-group div {
    margin: 5px 4px;
}

.vertical-group input:not([type=radio]), .vertical-group select, .vertical-group textarea {
    width: 60%;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
}

.vertical-group input[type=radio] {
    width: auto;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    display: inline-block
}

.vertical-group table {
    width: auto;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    display: inline-block
}

.vertical-group .date-picker {
    width: 61.5%;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block
}

.vertical-group input[readonly] {
    color: #888;
    background-color: #ccc;
}

.vertical-group label {
    display: inline-block;
    width: 30%;
    height: 20px;
}
