<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section name="nosql" type="Tuhu.Nosql.Configuration.NosqlConfiguration, Tuhu.Nosql" />
        <section name="redisClient" type="Tuhu.Nosql.Redis.Configuration.RedisCachingSectionHandler, Tuhu.Nosql.Redis" />
    </configSections>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
                <!--<arg key="configType" value="INLINE" />-->
                <arg key="configType" value="FILE-WATCH" />
                <arg key="configFile" value="~/log4net.config" />
            </factoryAdapter>
        </logging>
    </common>
    <nosql provider="Tuhu.Nosql.Redis.RedisProvider, Tuhu.Nosql.Redis" sectionName="redisClient" prefix="Tuhu.Service.Hosting">
        <expiration>
        </expiration>
    </nosql>
    <redisClient allowAdmin="true" ssl="false" connectTimeout="500" database="1" proxy="Twemproxy">
        <hosts>
            <add host="172.16.20.233" cachePort="6479" />
        </hosts>
    </redisClient>

  <appSettings>
    <add key="RemoteName" value="Tuhu.Service.FlashSale.UnitTest" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <tuhuEndPointBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBinding" maxBufferSize="100000000" maxReceivedMessageSize="100000000" receiveTimeout="00:30:00" sendTimeout="00:30:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://wcf.dev.tuhu.work:9066/Activity/Activity.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.IActivityClient" name="Tuhu.Service.Activity.IActivityClient" />-->
      <endpoint address="http://localhost:9066/Activity/Activity.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.IActivityClient" name="Tuhu.Service.Activity.IActivityClient" />
      <endpoint address="http://localhost:9066/Activity/Cache.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.ICacheClient" name="Tuhu.Service.Activity.ICacheClient" />
      <endpoint address="http://localhost:9066/Activity/FlashSale.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.IFlashSaleClient" name="Tuhu.Service.Activity.IFlashSaleClient" />
      <endpoint address="http://localhost:9066/Activity/ZeroActivity.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.IZeroActivityClient" name="Tuhu.Service.Activity.IZeroActivityClient" />
      <endpoint address="http://localhost:9066/Activity/BigBrand.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.IBigBrandClient" name="Tuhu.Service.Activity.IBigBrandClient" />
      <endpoint address="http://localhost:9066/Activity/FlashSaleCreateOrder.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.IFlashSaleCreateOrderClient" name="Tuhu.Service.Activity.IFlashSaleCreateOrderClient" />
      <endpoint address="http://localhost:9066/Activity/SexAnnualVote.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.ISexAnnualVoteClient" name="Tuhu.Service.Activity.ISexAnnualVoteClient" />
      <endpoint address="http://localhost:9066/Activity/CategoryBrandRank.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.ICategoryBrandRankClient" name="Tuhu.Service.Activity.ICategoryBrandRankClient" />
      <!--<endpoint address="net.tcp://localhost:9011/Activity/Activity.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="Tuhu.Service.Activity.IActivityClient" name="Tuhu.Service.Activity.IActivityClient" />-->
      <!--<endpoint address="http://wcf.dev.tuhu.work:9066/Activity/ShareBargain.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.IShareBargainClient" name="Tuhu.Service.Activity.IShareBargainClient" />-->
      <endpoint address="http://localhost:9066/Activity/ShareBargain.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.IShareBargainClient" name="Tuhu.Service.Activity.IShareBargainClient" />
      <endpoint address="http://localhost:9066/Activity/GroupBuyingActivity.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.IGroupBuyingClient" name="Tuhu.Service.Activity.IGroupBuyingClient" />
      <endpoint address="http://wcf.tuhu.work:9010/EmailProcess/EmailProcessOperation.svc" binding="basicHttpBinding" contract="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" name="Tuhu.Service.EmailProcess.IEmailProcessOperationClient" />
      <endpoint address="http://localhost:9066/Activity/Questionnaire.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.IQuestionnaireClient" name="Tuhu.Service.Activity.IQuestionnaireClient" />
      <!--<endpoint address="http://wcf.tuhu.work:9066/Activity/Questionnaire.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Tuhu.Service.Activity.IQuestionnaireClient" name="Tuhu.Service.Activity.IQuestionnaireClient" />-->
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="tuhuEndPointBehavior" type="Tuhu.Service.TuhuEndPointBehaviorExtensionElement, Tuhu.Service" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Nosql" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tuhu.Service.Order" publicKeyToken="adb5f91fad4934fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.3.0" newVersion="2.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

    <connectionStrings>
        <add name="Elasticsearch" connectionString="http://172.16.20.1:9200" providerName="Nest.ElasticClient" />
        <add name="Elasticsearch-Log" connectionString="http://172.16.20.1:19200" providerName="Nest.ElasticClient" />
        <add name="Gungnir" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="GungnirReadOnly" connectionString="Data Source=172.16.20.1\DEV;Initial Catalog=Gungnir;Persist Security Info=True;User ID=GungnirReader;Password=itsme999;" providerName="System.Data.SqlClient" />
        <add name="Cache" connectionString="User ID=LogUser;Password=itsme999;Persist Security Info=True;Initial Catalog=Tuhu_Log;Data Source=172.16.20.1\DEV;Connect Timeout=6000;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
