@{
    ViewBag.Title = "门店美容商品品牌配置";
    Layout = "../Shared/_Layout.cshtml";
}

<link href="~/Scripts/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="~/Scripts/zTree/js/jquery.ztree.core-3.5.min.js" type="text/javascript"></script>
<script src="~/Scripts/zTree/js/jquery.ztree.excheck-3.5.min.js" type="text/javascript"></script>

<style type="text/css">
    input[type=button], input[type=submit], input[type=reset] {
        background: #0088cc none repeat scroll 0 0;
        border: medium none #0088cc;
        border-radius: 5px;
        color: #f0f0f0;
        cursor: pointer;
        font-family: "Microsoft Yahei";
        font-size: 12px;
        outline: medium none;
        padding: 5px 25px;
    }
</style>

<div style="margin:10px 0 0 0;">
    <div>
        <input type="button" value="添加品牌" onclick="SE_MDBeautyBrandConfig.AddOrEdit(true,false);" />
        &nbsp;
        <input type="button" value="添加系列" onclick="SE_MDBeautyBrandConfig.BatchEdit();" />
        &nbsp;
        <input type="button" value="编辑" onclick="SE_MDBeautyBrandConfig.AddOrEdit(false,false);" />
    </div>
    <ul id="SE_MDBeautyBrandConfigTree" style="border:2px solid #808080;background-color:#ccc;" class="ztree"></ul>
</div>

<div id="SE_MDBeautyBrandConfig_Index"></div>

<script type="text/javascript">
    var seleectItem = [];    //类目选中项
    var zTreeSetting = {
        setting :{
                    data: {
                        simpleData: {enable: true}
                    },
                    callback:{
                        onClick:function(){
                            seleectItem = zTreeSetting.getItems();
                            console.log(seleectItem);
                        }
                    },
                    view: {
                        addDiyDom:function(treeId, treeNode) {
                            var aObj = $("#" + treeNode.tId + "_a");
                            var editStr = "<sapn id='IsDisable_" +treeNode.id+ "' style='margin:0 0 0 5px;color:red;'>"+ (treeNode.disabled == true ? "禁用" : "启用") +"</span>";
                            aObj.append(editStr);
                        }
                    }
                },
        zTreeJson:@Html.Raw(ViewBag.ZTreeJson),
        zTreeInit:function(){
            $.fn.zTree.init($("#SE_MDBeautyBrandConfigTree"),zTreeSetting.setting,zTreeSetting.zTreeJson);
        },
        getItems:function(){
            return $.fn.zTree.getZTreeObj("SE_MDBeautyBrandConfigTree").getSelectedNodes()[0];
        },
        expandAll:function(isExpandAll){
            $.fn.zTree.getZTreeObj("SE_MDBeautyBrandConfigTree").expandAll(isExpandAll || false);
        }
    };
    zTreeSetting.zTreeInit();

    var SE_MDBeautyBrandConfig = {
        AddOrEdit:function(_state,_child)
        {
            var _title = (_state || false) == true ? "添加品牌" : "添加系列";
            var dialogConfig = { title:_title,width:330, height:400, modal:true };

            if(!_child && _state){
                $("#SE_MDBeautyBrandConfig_Index").html("")
                .load('/SE_MDBeautyBrandConfig/Edit')
                .dialog(dialogConfig);
            }
            else if(!_child && !_state){
                if((seleectItem.id || null) != null){
                    $("#SE_MDBeautyBrandConfig_Index").html("")
                    .load('/SE_MDBeautyBrandConfig/Edit?id='+ seleectItem.id)
                    .dialog(dialogConfig);
                }
                else{
                    alert("请选择需要编辑的项！");
                }
            }
        },
        BatchEdit:function(){
            var dialogConfig = { title:"批量添加系列",width:330, height:400, modal:true };
            if((seleectItem.id || 0) > 0){
                $("#SE_MDBeautyBrandConfig_Index").html("")
                .load('/SE_MDBeautyBrandConfig/BatchEdit?parentId='+seleectItem.id)
                .dialog(dialogConfig);
            }
            else{ 
                alert("请选择要添加的父品牌！");
            }
        }
    };
</script>