@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.ConfigHistory>
@{
    Layout = "";
}

<table>
    <thead>
        <tr>
            <th>操作人</th>
            <th>操作时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>@item.Author</td>
                <td>@item.ChangeDatetime</td>
                <td>@item.Operation</td>
            </tr>  
        }
    </tbody>
</table>