@{
    ViewBag.Title = "优惠券领取活动页配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="font-size:2em;color:#000;padding:0 0 10px 0;width:250px">优惠券领取活动页配置</h2>
<link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
<style type="text/css">
    .buttonStyle { background: #50c16a; border: none; color: azure; box-shadow: 1px 1px 1px #eee8aa; width: 50px; height: 26px; border-radius: 3px; outline: none; cursor: pointer; font-size: 15px; font-family: "Microsoft Yahei"; }
        .buttonStyle:hover { background-color: #008b8b; border-color: #008b8b; }
    .buttonStyleHidden { background: #808080; }
        .buttonStyleHidden:hover { background: #808080; }
    .ui-dialog { width: auto; }
</style>

<div>
    <form>
        <div>
            <input type="text" placeholder="活动Id" style="width:15%;height:30px" class="activity-id" />&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="活动名称" style="width:15%;height:30px" class="activity-name" />&nbsp;&nbsp;&nbsp;
            @*<input type="text" placeholder="开始时间" class="activity-start" />&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="结束时间" class="activity-end" />&nbsp;&nbsp;&nbsp;*@
            <input type="button" value="搜索" style="width:80px" class="buttonStyle search" />
            <input type="button" value="添加配置" style="width:80px" class="buttonStyle addConfig" />
        </div>
    </form>
    <div id="div_table" style="width:100%;margin-top:10px">
        <table class="tableContainer" style="width:100%;text-align:center;margin-bottom:20px">
            <tr>
                <th style="text-align:center">活动Id</th>
                <th style="text-align:center">活动名称</th>
                <th style="text-align:center">渠道</th>
                <th style="text-align:center">开始时间</th>
                <th style="text-align:center">结束时间</th>
                <th style="text-align:center">创建时间</th>
                <th style="text-align:center">状态</th>
                <th style="text-align:center">管理</th>
            </tr>
        </table>
    </div>
    <div id="PageLoadingEffects" style="display:none;">
        <table>
            <tr>
                <td><img src="/Images/loading.gif" /></td>
                <td>玩命加载中，请稍后...</td>
            </tr>
        </table>
    </div>
    <input id="pageIndex" type="hidden" value="1" />
    <input id="totalPage" type="hidden" />
    <span class="count">
        <input id="pageNum" type="hidden" value="1" />
        <input id="firstPage" type="button" onclick="Search('1')" value="首页" />
        <input id="lastPage" type="button" onclick="Search('lastPage')" value="上一页" />
        <input id="nextPage" type="button" onclick="Search('nextPage')" value="下一页" />
        <input id="tailPage" type="button" onclick="Search('tailPage')" value="尾页" />
        <input id="skipPage" type="button" value="跳转到" onclick="Search('skipPage')" />
        <input id="jumpPage" type="text" style="width: 30px" />
    </span>
    <span id="PageDetail" class="count"></span>
    <span id="PageDetailTemplate" class="count" style="display: none">
        <label>当前第$pageNum$页</label>
        <label>共$pageCount$页</label>
        <label>共$count$条记录</label>
    </span>
</div>
<script src="/Scripts/ajaxfileupload.js"></script>
<script src="/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
<script src="/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".activity-start").datepicker({ dateFormat: 'yy-mm-dd' });
        $(".activity-end").datepicker({ dateFormat: 'yy-mm-dd' });
        Search(1);
    });

    $(".addConfig").click(function () {
        location.href = "/NewCoupon/CouponConfigInfo";
    });

    $(".search").click(function () {
        Search(1);
    });
    function DelConfig(activityId) {
        if (confirm("是否确认删除？")) {
            $.post("DeleteNewCouponConfig", { activityId: activityId }, function (result) {
                if (result == true) {
                    alert("操作成功");
                    Search(1);
                } else {
                    alert("操作失败");
                }
            });
        }
    }

    function SearchLog(pkid) {
        var html = "<table style='width:100%'><tr><td>消息</td><td>操作人</td><td>时间</td></tr>";
        var d = dialog({
            title: "操作日志",
            width: 500,
            height: 400,
            fixed: true,
            button: [
                {
                    value: "取消"
                }
            ]
        });

        $.post("SelectOperationLog", { objectId: pkid }, function (result) {
            if (result.length > 0) {
                $.each(result, function (index) {
                    html += "<tr><td>" + result[index].Message +  "</td><td>" + result[index].Operator + "</td><td>" + formatTime(result[index].CreatedTime) + "</td></tr>";
                });
            }
            html += "</table>";
            d.content(html);
            d.showModal();
        });
    }

    function Search(pageMark) {
        $(".tableContainer tr:not(:first)").empty();
        $("#PageLoadingEffects").css("display", "block");
        var pageNum;
        if (pageMark == null) {
            pageNum = parseInt($("#pageIndex").val());
        } else if (pageMark == 'lastPage') {
            pageNum = parseInt($("#pageIndex").val()) - 1;
        } else if (pageMark == 'nextPage') {
            pageNum = parseInt($("#pageIndex").val()) + 1;
        } else if (pageMark == 'tailPage') {
            pageNum = $("#totalPage").val();
        } else if (pageMark == 'skipPage') {
            //if (/^[0-9]*$/.test($("#jumpPage").val()) && $("#jumpPage").val() > 0 && $("#jumpPage").val() <= $("#totalPage").val())
            if (/^[0-9]*$/.test(parseInt($("#jumpPage").val())) && parseInt($("#jumpPage").val()) > 0 && parseInt($("#jumpPage").val()) <= parseInt($("#totalPage").val())) {
                pageNum = $("#jumpPage").val();
            } else {
                alert("数据不合法");
                return;
            }
        } else {
            pageNum = pageMark;
        }
        $("#pageIndex").val(pageNum);
        var activityId = $(".activity-id").val();
        var activityName = $(".activity-name").val();
        var start = $(".activity-start").val();
        var end = $(".activity-end").val();
        $.get("GetCouponConfigInfo", { activityName: activityName, activityId: activityId,  pageIndex: pageNum }, function (result) {
            BindDate(result);
        });
    }

    function BindDate(data) {
        $(".tableContainer tr:not(:first)").empty();
        $("#PageLoadingEffects").css("display", "none");

        var html = "";
        if (data.status == "success") {
            $.each(data.data, function (index) {
                var item = data.data[index];
                var operator = "<a href=/NewCoupon/CouponConfigInfo?activityId=" + item.ActivityId + ">编辑</a>  |   <a href='#' style='display:' onclick=DelConfig('" + item.ActivityId + "') >删除</a>    |    <a href='#' onclick=SearchLog('" + item.ActivityId + "')>日志</a>";
                //var operator = "<a href=/NewCoupon/CouponConfigInfo?activityId=" + item.ActivityId + ">编辑</a>  |   <a href='#' style='display:' onclick=DelConfig('" + item.ActivityId + "') >删除</a>    ";
                html += "<tr><td><a target='_blank' href=https://wx.tuhu.cn/react/randomCoupon/index.html?activityId=" + item.ActivityId + ">" + item.ActivityId + "</a></td><td>" + item.ActivityName + "</td><td>" + item.Channel + "</td><td>" + formatTime(item.StartTime) + "</td><td>" + formatTime(item.EndTime) + "</td><td>" + formatTime(item.CreateDateTime) + "</td><td>" + (item.IsEnabled == true ? "<span style='color:green'>启用<span>" : "<span style='color:red'>关闭<span>") + "</td><td>" + operator + "</td><tr>";
            });

            $(".tableContainer").append(html);
            var pageDetailTemplateHtml = $("#PageDetailTemplate").html();
            pageDetailTemplateHtml = pageDetailTemplateHtml.replace("$pageNum$", $("#pageIndex").val());
            var totalPage = parseInt((data.count - 1) / 20) + 1;
            $("#totalPage").val(totalPage);
            pageDetailTemplateHtml = pageDetailTemplateHtml.replace("$pageCount$", totalPage);
            pageDetailTemplateHtml = pageDetailTemplateHtml.replace("$count$", data.count);
            $("#PageDetail").empty();
            $("#PageDetail").append(pageDetailTemplateHtml);
            PageChange();
            $(".tableContainer tr").mouseover(function () {
                $(this).addClass("mouseOn");
            });
            $(".tableContainer tr").mouseout(function () {
                $(this).removeClass("mouseOn");
            });
        } else {
            html += "<tr><td colspan='8'>无数据</td></tr>";
            $(".tableContainer").append(html);
            PageChange();
        }
    }

    function formatTime(val) {
        if (val != null) {
            return eval('new ' + eval(val).source).Format('yyyy-MM-dd hh:mm:ss');
        } else {
            return "无";
        }
    }

    function PageChange() {
        if ($("#totalPage").val() == 0 || $("#totalPage").val() == 1) {
            $("#firstPage").attr("disabled", true);
            $("#lastPage").attr("disabled", true);
            $("#nextPage").attr("disabled", true);
            $("#tailPage").attr("disabled", true);
            $("#skipPage").attr("disabled", true);
        } else if ($("#pageIndex").val() == 1) {
            $("#firstPage").attr("disabled", true);
            $("#lastPage").attr("disabled", true);
            $("#nextPage").attr("disabled", false);
            $("#tailPage").attr("disabled", false);
            $("#skipPage").attr("disabled", false);
        } else if ($("#pageIndex").val() == $("#totalPage").val()) {
            $("#firstPage").attr("disabled", false);
            $("#lastPage").attr("disabled", false);
            $("#nextPage").attr("disabled", true);
            $("#tailPage").attr("disabled", true);
            $("#skipPage").attr("disabled", false);
        } else {
            $("#firstPage").attr("disabled", false);
            $("#lastPage").attr("disabled", false);
            $("#nextPage").attr("disabled", false);
            $("#tailPage").attr("disabled", false);
            $("#skipPage").attr("disabled", false);
        }
    }
</script>