<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <root>
            <level value="INFO" />
            <appender-ref ref="AmqpAppender" />
        </root>
        <logger name="DeliverySubscibeLogger" additivity="false">
            <level value="INFO" />
        </logger>
        <renderer renderingClass="Tuhu.Log.ExceptionRenderer, Tuhu.Log" renderedClass="System.Exception, mscorlib" />

        <appender name="AmqpAppender" type="Tuhu.Log.RabbitMQAppender, Tuhu.Log">
            <!--<rabbitMQSection value="rabbitmq" />-->
            <appId value="test" />

            <exchangeProperties>
                <name value="topic.loggingExchage" />
                <exchangeType value="topic" />
                <durable value="false" />
                <binding>
                    <destination value="topic.winservicelogExchage" />
                    <topic value="winservice.#" />
                </binding>
            </exchangeProperties>

            <messageProperties>
                <appId value="CJob" />
                <topic type="log4net.Layout.PatternLayout">
                    <conversionPattern value="winservice.%level" />
                </topic>
                <contentType type="log4net.Layout.PatternLayout">
                    <conversionPattern value="text/plain" />
                </contentType>
                <persistent value="false" />
                <priority type="log4net.Layout.PatternLayout">
                    <conversionPattern value="0" />
                </priority>
                <ExtendedData value="false" />
            </messageProperties>

            <bodyProperties>
                <property>
                    <name value="Host" />
                    <layout type="Tuhu.Log.IPAddressLayout, Tuhu.Log" />
                </property>
                <property>
                    <name value="Thread" />
                    <layout type="log4net.Layout.PatternLayout">
                        <conversionPattern value="%thread" />
                    </layout>
                </property>
                <property>
                    <name value="Level" />
                    <layout type="log4net.Layout.PatternLayout">
                        <conversionPattern value="%level" />
                    </layout>
                </property>
				<property>
				  <name value="servicename" />
				  <layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="CJob" />
				  </layout>
				</property>
                <property>
                    <name value="Logger" />
                    <layout type="log4net.Layout.PatternLayout">
                        <conversionPattern value="%logger" />
                    </layout>
                </property>
                <property>
                    <name value="Message" />
                    <!--<layout type="Tuhu.Log.MixMessageLayout, Tuhu.Log" />-->
                    <layout type="log4net.Layout.PatternLayout">
                        <conversionPattern value="%message" />
                    </layout>
                </property>
                <property>
                    <name value="Exception" />
                    <layout type="log4net.Layout.ExceptionLayout" />
                </property>
            </bodyProperties>
        </appender>
        <appender name="DeliverySubscibeAppender" type="log4net.Appender.AdoNetAppender">
            <bufferSize value="1" />
            <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <connectionString value="User ID=TUHU_SERVICE;Password=Tak9_R7d!5vTg;Persist Security Info=True;Initial Catalog=SystemLog;Data Source=db-log-rw.ad.tuhu.cn;Connect Timeout=6000;" />
            <commandText value="INSERT INTO [SystemLog]..[tbl_DeliverySubscibeLog] ([DeliveryCompany], [DeliveryCode], [SubscibeResult], [ResponseContent], [Exception], [CreateDateTime]) VALUES (@DeliveryCompany, @DeliveryCode, @SubscibeResult, @ResponseContent, @Exception, @CreateDateTime)" />
            <parameter>
                <parameterName value="@DeliveryCompany" />
                <dbType value="String" />
                <size value="50" />
                <layout type="Tuhu.C.Job.DeliverySubscibe.Log.LogLayout, Tuhu.C.Job.DeliverySubscibe">
                    <conversionPattern value="%DeliveryCompany" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@DeliveryCode" />
                <dbType value="String" />
                <size value="20" />
                <layout type="Tuhu.C.Job.DeliverySubscibe.Log.LogLayout, Tuhu.C.Job.DeliverySubscibe">
                    <conversionPattern value="%DeliveryCode" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@SubscibeResult" />
                <dbType value="Boolean" />
                <layout type="Tuhu.C.Job.DeliverySubscibe.Log.LogLayout, Tuhu.C.Job.DeliverySubscibe">
                    <conversionPattern value="%SubscibeResult" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@ResponseContent" />
                <dbType value="String" />
                <size value="2000" />
                <layout type="Tuhu.C.Job.DeliverySubscibe.Log.LogLayout, Tuhu.C.Job.DeliverySubscibe">
                    <conversionPattern value="%ResponseContent" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@Exception" />
                <dbType value="String" />
                <size value="2000" />
                <layout type="log4net.Layout.ExceptionLayout" />
            </parameter>
            <parameter>
                <parameterName value="@CreateDateTime" />
                <dbType value="DateTime" />
                <layout type="log4net.Layout.RawTimeStampLayout" />
            </parameter>
        </appender>
    </log4net>
</configuration>
