
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>upload</title>	
	<link href="/css/app.css" rel="stylesheet" />
</head>
<body>
	<form action="upload1" id="uploadForm" method="post" enctype="multipart/form-data" class="upload">
		<div class="title">上传文件</div>
		<div class="content">
		    <div class="version">
		        <span> 版本编号:</span>
		        <input type="text" name="Version_Number" id="Version_Number" style="">
		    </div>
		    <div class="version">
		        <span> 版本标识:</span>
		        <input type="text" name="VersionCode" id="VersionCode" style="">
		    </div>
		    <div class="version1" style=" height: 20px; line-height: 20px;">
                <span> 强制更新:</span>               
		        <input type="radio" name="MustUpdate" id="MustUpdate1" value="1" sty
                       ="">是
                <input type="radio" name="MustUpdate" id="MustUpdate2" value="0" checked="checked">否
            </div>
			<div class="uploadContent">
				<span>更新内容:</span>
				<textarea style="" name="UpdateConnent" id="UpdateConnent"></textarea>
			</div>
			<div>
				<span>文件:</span>				
				<input type="file" name="upload1" id="uploadFile" value="上传文件" />
			</div>
			<div>
				<span></span>
				<input type="submit" value="上传" class="submit" />
			</div>
		</div>
	</form>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script>
		$(function ()
		{
			var options = {
				beforeSubmit: function () { console.log("start")},
				success: function (data)
				{
					console.log(data);
				}
			},
			$uploadFrom=$("#uploadForm"),
			$Version_Number = $("#Version_Number"),
				$UpdateConnent = $("#UpdateConnent"),
                $VersionCode = $("#VersionCode"),
				$upload1 = $("#uploadFile");

			function setElementStyle(elem,obj)
			{
				if (elem && elem.style)
				{
					var style = elem.style;
					for (var i in obj)
					{
						style[i] = obj[i];
					}
				}
			}

			

			function check()
			{
				var msg = [];
				if ($Version_Number.val()=="")
				{
					msg.push( "版本号不能为空");
				}
				if ($VersionCode.val() == "") {
				    msg.push("版本标识不能为空");
				}
				if ($UpdateConnent.val() == "")
				{
					msg.push("更新内容不能为空");
				}
				if ($upload1.val()=="")
				{
					msg.push("上传文件不能为空");
				}
				window.parent && window.parent.AlertMsg && window.parent.AlertMsg(msg, { direction: "left" });
				if (msg.length > 0)
				{
					return false;
				}
				return true;
			}
			$(".submit").click(function ()
			{
				if (check())
				{
					$uploadFrom.submit();
				}
				return false;
			});	
		});

		
	</script>
</body>
</html>
