@model IEnumerable<string>
@{
    ViewBag.Title = "轮胎券后价格管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style>
        .title {
            float: left;
        }

        .content {
            clear: both;
        }

        .condition .name {
            left: 0;
        }

        .condition {
            margin-bottom: 10px;
        }

            .condition > div {
                margin-bottom: 10px;
            }

                .condition > div label {
                    margin-top: 5px;
                }

                    .condition > div label input[type=text] {
                        width: 50px;
                    }

        table td {
            max-width: 150px;
        }

        hr {
            border: none;
            border-top: 1px solid #E8EEF4;
        }

        .pointer {
            cursor: pointer;
        }
    </style>
}

<div class="title">
    <h2>轮胎券后价格管理</h2>
</div>
<div class="content">

    <div class="condition" style="position:relative;">
        <div style="position:absolute;top:30px;right:70px">
            <div>
                <label>
                    每单最大购买数量：
                </label>
                <select id="MaxTireCount">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected="selected">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                </select>

            </div>
        </div>
        <div>
            <span class="name">产品名称：</span>
            <input type="text" name="ProductName" value="" />

            <span class="name right">PID：</span>
            <input type="text" name="PID" value="" />
        </div>
        <div>
            <span class="name">品牌：</span>
            <select class="brand">
                <option value="">所有</option>
                @foreach (var brand in Model)
                {
                    <option value="@brand">@brand.Split('/')[0]</option>
                }
            </select>
            <span class="name right">上架状态：</span>
            <select class="onsale-status">
                <option value="1">上架</option>
                <option value="0">所有</option>
                <option value="2">下架</option>
            </select>
        </div>
        @*<div class="CouponPrice">
                <input type="checkbox" value="" />
                <span class="name">券后价</span>
                <select>
                    <option value="1">>=</option>
                    <option value="-1">&lt;=</option>
                </select>
                <span>最低限价</span>
            </div>*@

        <div class="DivCouponPrice">
            <input type="checkbox" value="" />
            <span class="name">券后价</span>
            <select class="querystatus">
                <option value="1">></option>
                <option value="0">=</option>
                <option value="-1"><</option>
            </select>
            <span>
                <select class="queryvalue">
                    <option value="1">最低券后价(平时)</option>
                    <option value="-1">最低券后价(大促)</option>
                </select>
            </span>
        </div>

        <div class="DivLowestPrice">
            <input type="checkbox" value="" />
            <span class="name">面价</span>
            <select class="querystatus">
                <option value="1">></option>
                <option value="0">=</option>
                <option value="-1"><</option>
            </select>
            <span>
                <select class="queryvalue">
                    <option value="1">最低面价(平时)</option>
                    <option value="-1">最低面价(大促)</option>
                </select>
            </span>
        </div>
        <div class="DivCanUseCoupon">
            <input type="checkbox" value="" />
            <span class="name">可用券</span>
            <select class="CanUseCoupon">
                <option value="1">是</option>
                <option value="0">否</option>
            </select>
        </div>
        <div class="min_maoli">
            <input type="checkbox" name="min_maoli_check" id="min_maoli_check" value="" />
            <span class="name"> 最小毛利</span>
            <select>
                <option value="1">高于</option>
                <option value="-1">低于</option>
            </select>
            <input type="text" style="width:40px" value="0" />
            @*<strong>最小毛利筛选项无效，可以导出Excel后操作</strong>*@
        </div>

        <div class="website_maoli">
            <input type="checkbox" name="website_maoli_check" id="website_maoli_check" value="" />
            <span class="name"> 官网券后毛利</span>
            <select>
                <option value="1">高于</option>
                <option value="-1">低于</option>
            </select>
            <input type="text" style="width:40px" value="0" />
            @*<strong>最小毛利筛选项无效，可以导出Excel后操作</strong>*@
        </div>

        <div>
            <span class="name">更多条件：</span><br /><br />
            <label><input type="radio" name="radio_1" value="0" checked />无</label><br /><br />
            <label>
                <input type="radio" name="radio_1" value="1" />
                <span class="price_list">
                    <label>官网价格<input name="custom_price" type="checkbox" value="list" /></label>
                    <label>成本价<input name="custom_price" type="checkbox" value="cost" /></label>
                    <label>最低限价<input name="custom_price" type="checkbox" value="lowest" /></label>
                    <label>途虎淘宝<input name="custom_price" type="checkbox" value="taobao1" /></label>
                    @*<label>途虎淘宝券后价<input name="custom_price" type="checkbox" value="taobao1C" /></label>*@
                    <label>途虎淘宝2<input name="custom_price" type="checkbox" value="taobao2" /></label>
                    @*<label>途虎淘宝2券后价<input name="custom_price" type="checkbox" value="taobao2C" /></label>*@
                    <label>途虎天猫1<input name="custom_price" type="checkbox" value="tmall1" /></label>
                    <label>途虎天猫2<input name="custom_price" type="checkbox" value="tmall2" /></label>
                    <label>途虎天猫3<input name="custom_price" type="checkbox" value="tmall3" /></label>
                    <label>途虎天猫4<input name="custom_price" type="checkbox" value="tmall4" /></label>
                    <label>途虎京东2<input name="custom_price" type="checkbox" value="tuhujd" /></label>
                    <label>途虎京东旗舰<input name="custom_price" type="checkbox" value="jingdongqj" /></label>
                </span>/&nbsp;&nbsp;
                <select class="singlePrice">
                    <option value="list">官网价格</option>
                    <option value="cost">成本价</option>
                    <option value="taobao1">途虎淘宝</option>
                    <option value="taobao2">途虎淘宝2</option>
                    <option value="tmall1">途虎天猫1</option>
                    <option value="tmall2"> 途虎天猫2</option>
                    <option value="tmall3">途虎天猫3</option>
                    <option value="tmall4">途虎天猫4</option>
                    <option value="tuhujd">途虎京东2</option>
                    <option value="jingdongqj">途虎京东旗舰</option>
                </select>
                <select>
                    <option value="-1">&lt;=</option>
                    <option value="1">>=</option>
                </select>
                <input type="text" value="1" />
            </label>
        </div>
        <button id="querybotton" class="select btn btn-info btn-sm" onclick="ThirdFunc.LoadList(1)">查询</button>
        <div class="beforetable">
            每页显示：
            <select class="PageSize">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>条
            <span class="data_count"></span>
            <a id="exportbutton" href="javascript:void(0)" onclick="ThirdFunc.ExportExcel()">导出</a>
            <a href="/ThirdShop/TireCouponManage" target="_blank">店铺优惠券管理</a>
            <a id="batchedit" href="javascript:void(0)" onclick="ThirdFunc.BatchEdit('','')">批量编辑</a>
        </div>
        <img class="loadimg" src="~/Scripts/layer/skin/default/loading-2.gif" style="margin:5% 50%;display:none;" />
        <div class="list">
        </div>
    </div>
</div>

<div id="LowestLimitBox" style="display:none;">
    <p style="float:right;margin-bottom:0;"><a href="javascript:void(0)" id="ViewLog">查看修改历史</a></p>
    <div style="clear:both"></div>
    <p>当前价格：&nbsp;<span class="OldPrice"></span></p>
    <p>修改为&nbsp;&nbsp;：&nbsp;<span><input type="number" min="0" class="NewPrice" /></span></p>
</div>

<div id="LowestLimitLog" style="display:none;">
    <table>
        <tr>
            <th>PID</th>
            <th>修改前</th>
            <th>修改后</th>
            <th>价格类型</th>
            <th>修改人</th>
            <th>修改时间</th>
        </tr>
        <tbody id="LogDetail"></tbody>
    </table>
</div>
<div id="ShowCouponDetail" style="display:none;">
    <p>最低券后价:<span id="finalsprice"></span></p>
    <p>条数:<span id="TireCount"></span></p>
    <p>优惠券:<span id="coupondetail"></span></p>
</div>

<div id="TryFetchLowestPrice" style="display:none;">
    <p>
        <button  id="productDetails"  onclick="ThirdFunc.ProductDeails()" style="float:right;width: 150px;height: 30px;">
            查看商品详情页
        </button>
    </p>
    <p>当前价格:<span id="CurrentPrice"></span></p>
    <p>试算价格:<input type="number" id="TestPrice" /></p>
    <p>最低券后价:<span id="finalsprice2"></span></p>
    <p>条数:<span id="TireCount2"></span></p>
    <p>优惠券:<span id="coupondetail2"></span></p>
</div>

<div id="editdiv" style="display:none">
    <div class="form-group">
        <b>PID：</b>
        <ul></ul>
    </div>
    <div class="form-group">
        <b>是否可用券:</b>
        <select class="form-control" id="CanUseCoupon">
            <option value="true">是</option>
            <option value="false">否</option>
        </select>
        <p></p>
    </div>
</div>

<input type="text" style="display:none;" value="" id="productDeailsHref" />
<script>
    $(function () {
        //ThirdFunc.LoadTireMaxCount();
        ThirdFunc.LoadList(1);
        //浏览其他页
        $(".list").on("click",
            ".pager>a",
            function (event) {
                event.preventDefault();
                var url = $(this).attr("href");
                if (url) {
                    $.post(url,
                        function (html, status) {
                            if (status === "success") {
                                $(".list").html(html);
                            }
                        });
                }
            });
        $(".PageSize").change(function () {
            ThirdFunc.LoadList(1);
        });
        $("#MaxTireCount").change(function () {
            ThirdFunc.LoadList(1);
        });
    });
</script>

<script>
    var ThirdFunc = {
        LoadList: function (index) {

            var ProductName = $("[name=ProductName]").val().trim(),
                PID = $("[name=PID]").val().trim(),
                Brand = $(".condition select.brand>option:selected").val(),
                OnSaleStatus = $("select.onsale-status>option:selected").val(),
                $radio = $("[name=radio_1]:checked"),
                $label = $radio.parent(),
                Type = $radio.val(),
                pageSize = $(".PageSize>option:selected").val(),
                SingleCustomPrice = $(".singlePrice option:selected").val(),
                ManyCustomPrice = "",
                Proportion,
                Contrast,
                MaxTireCount = $("#MaxTireCount").val();
            var Min_maoliStatus, Min_maoliValue;

            //website_maoli
            //if ($(".CouponPrice >input[type=checkbox]").prop("checked")) {
            //    CouponPriceStatus = $(".CouponPrice>select>option:selected").val();
            //}

            if ($(".min_maoli >input[type=checkbox]").prop("checked")) {
                Min_maoliStatus = $(".min_maoli>select>option:selected").val();
                Min_maoliValue = $(".min_maoli>input[type=text]").val();
                if (!Min_maoliValue.length || isNaN(Min_maoliValue)) {
                    alert("最小毛利不合法");
                    return false;
                }
                Min_maoliValue = parseFloat(Min_maoliValue);
            }
            var Website_maoliStatus, Website_maoliValue;
            if ($(".website_maoli >input[type=checkbox]").prop("checked")) {
                Website_maoliStatus = $(".website_maoli>select>option:selected").val();
                Website_maoliValue = $(".website_maoli>input[type=text]").val();
                if (!Website_maoliValue.length || isNaN(Website_maoliValue)) {
                    alert("官网券后毛利不合法");
                    return false;
                }
                Website_maoliValue = parseFloat(Website_maoliValue);
            }

            if (Type > 0) {
                Contrast = $label.find("select:last>option:selected").val();
                Proportion = $label.find("[type=text]").val();
                var $checkeds = $(".price_list").find("[type=checkbox]:checked");
                if (!$checkeds.length) {
                    alert("请选择参数筛选的除数");
                    return false;
                }
                $checkeds.each(function () {
                    ManyCustomPrice += $(this).val() + '|';
                });
                if (isNaN(Proportion)) {
                    alert("更多条件中相对比的值不合法");
                    return false;
                }
                Proportion = parseFloat(Proportion);
            }
            $("#querybotton").prop("disabled", true);

            var LowestPriceStatus = "";
            var CouponPriceStatus = "";
            var LowestPriceValue = "";
            var CouponPriceValue = "";
            var CanUseCouponStatus = "";

            if ($(".DivLowestPrice >input[type=checkbox]").prop("checked")) {
                LowestPriceStatus = $(".DivLowestPrice").find(".querystatus").val();
                LowestPriceValue = $(".DivLowestPrice").find(".queryvalue").val();
            }
            if ($(".DivCouponPrice >input[type=checkbox]").prop("checked")) {
                CouponPriceStatus = $(".DivCouponPrice").find(".querystatus").val();
                CouponPriceValue = $(".DivCouponPrice").find(".queryvalue").val();
            }
            if ($(".DivCanUseCoupon >input[type=checkbox]").prop("checked")) {
                CanUseCouponStatus = $(".DivCanUseCoupon>select>option:selected").val();
            }

            $.post("/ThirdShop/ProductList", {
                ProductName: ProductName,
                PID: PID,
                Brand: Brand,
                OnSale: OnSaleStatus,
                Type: Type,
                ManyCustomPrice: ManyCustomPrice,
                Contrast: Contrast,
                SingleCustomPrice: SingleCustomPrice,
                Proportion: Proportion,
                PageIndex: index,
                PageSize: pageSize,
                MaxTireCount: MaxTireCount,
                Min_maoliValue: Min_maoliValue,
                Min_maoliStatus: Min_maoliStatus,
                Website_maoliStatus: Website_maoliStatus,
                Website_maoliValue: Website_maoliValue,
                LowestPriceStatus: LowestPriceStatus,
                CouponPriceStatus: CouponPriceStatus,
                CanUseCouponStatus: CanUseCouponStatus,
                LowestPriceValue: LowestPriceValue,
                CouponPriceValue: CouponPriceValue

            }, function (html, status) {
                $("#querybotton").prop("disabled", false);
                if (status === "success") {
                    $(".loadimg").hide();
                    $(".list").html(html);
                    $(".data_count").text('共' + ($(".table").length ? $(".table").attr("data-count") : 0) + '条数据');
                }
            });
        },
        GetDescriptionByType: function (type) {
            var title = "";
            switch (type) {
                case "LowestPrice_Normal":
                    title = "修改最低面价(平时)";
                    break;
                case "LowestPrice_Promotion":
                    title = "修改最低面价(大促)";
                    break;
                case "CouponPrice_Normal":
                    title = "修改最低券后价价(平时)";
                    break;
                case "CouponPrice_Promotion":
                    title = "修改最低券后价(大促)";
                    break;
                default:
            }
            return title;
        },
        EditLowestLimit: function (type, pid, oldPrice) {
            $(".OldPrice").text(oldPrice);
            $(".NewPrice").val(oldPrice);
            $("#ViewLog").attr("onclick", `ThirdFunc.ShowChangeLog("${pid}","${type}")`);
            var old;
            if (!isNaN(oldPrice)) {
                old = oldPrice;
            }
            title = ThirdFunc.GetDescriptionByType(type);
            $("#LowestLimitBox").dialog({
                title: title,
                width: 350,
                height: 300,
                modal: true,
                buttons: {
                    "保存": function () {
                        var dialog = $(this);
                        var newPrice = $(".NewPrice").val();
                        if (newPrice === oldPrice) {
                            dialog.dialog("close");
                            return false;
                        }
                        $.post("/ThirdShop/SetLowestLimitPrice", {
                            PID: pid,
                            OldPrice: old,
                            LowestLimitPrice: newPrice,
                            type: type
                        }, function (data) {
                            if (data.Code == 1) {
                                alert("修改成功");
                            }
                            else {
                                alert("修改失败", data.Info);
                            }
                            dialog.dialog("close");
                            ThirdFunc.LoadList(1);
                        });
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            })
        },
        ShowChangeLog: function (pid, type) {
            var title = ThirdFunc.GetDescriptionByType(type);
            $("#LogDetail").empty();
            $.post("/ThirdShop/GetLowestLimitLog", {
                PID: pid,
                type: type
            }, function (data) {
                if (data.Code == 0) {
                    alert(data.Info);
                    return false;
                }
                else {
                    var html = "";
                    $.each(data.Data, function (k, v) {

                        html += `<tr><td>${v.PID}</td><td>${v.OldPrice}</td><td>${v.NewPrice}</td><td>${title}</td><td>${v.Operator}</td><td>${ThirdFunc.FormatTime(v.CreateDateTime)}</td></tr>`;
                    });
                    $("#LogDetail").append(html);
                }
            });

            $("#LowestLimitLog").dialog({
                title: title + "修改历史",
                width: 500,
                height: 300,
                modal: true,
                buttons: {
                    "关闭": function () {
                        $(this).dialog("close");
                    }
                }
            });
        },
        FormatTime: function (strTime) {
            var obj = new Date(parseInt(strTime.replace("/Date(", "").replace(")/", ""), 10));
            return obj.Format("yyyy-MM-dd hh:mm:ss");
        },
        CouponDetail: function (shopName, price, originPrice) {
            if (price == originPrice || originPrice == null) {
                alert("无可用优惠券");
                return false;
            }
            var maxTireCount = $("#MaxTireCount").val();
            $.post("/ThirdShop/FetchLowestPrice", {
                ShopName: shopName,
                Price: originPrice,
                MaxTireCount: maxTireCount
            }, function (data) {
                if (data.Code === 0) {
                    alert(data.Info);
                    return false;
                }
                else {
                    $("#finalsprice").text(data.FinalPrice);
                    $("#TireCount").text(data.Count);
                    $("#coupondetail").text(data.CouponDetail);
                    $("#ShowCouponDetail").dialog({
                        title: "商品最低价",
                        width: 400,
                        height: 330,
                        buttons: {
                            "关闭": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                    return true;
                }
            });
        },
        TryFetchLowestPrice: function (shopName, price, href) {
            $("#CurrentPrice").text(price);
            $("#TestPrice").val("");
            $("#finalsprice2").text("");
            $("#TireCount2").text("");
            $("#coupondetail2").text("");

            $("#productDeailsHref").val(href);


            $("#TryFetchLowestPrice").dialog({
                title: shopName,
                width: 500,
                height: 400,
                buttons: {
                    "试算": function () {
                        var testPrice = $("#TestPrice").val();
                        var maxTireCount = $("#MaxTireCount").val();
                        if (testPrice == null) {
                            alert("请输入试算价格");
                            return false;
                        }
                        $.post("/ThirdShop/FetchLowestPrice", {
                            ShopName: shopName,
                            Price: testPrice,
                            MaxTireCount: maxTireCount
                        }, function (data) {
                            if (data.Code === 0) {
                                alert(data.Info);
                                return false;
                            }
                            else {
                                $("#finalsprice2").text(data.FinalPrice);
                                $("#TireCount2").text(data.Count);
                                $("#coupondetail2").text(data.CouponDetail);
                                return true;
                            }
                        })
                    },
                    "关闭": function () {
                        $(this).dialog("close");
                    }
                }
            });
        },
        BatchEdit: function (pid, value) {
            var objArr = [];

            if (!pid && !value) {
                if (!$("[name=selectSingle]:checked").length) {
                    alert("未选中", "当前无任何选中,无法启用");
                    return false;
                }

                $("[name=selectSingle]:checked").each(function () {
                    var pid = $(this).val();
                    objArr.push(pid);
                });
                if (!objArr.length) {
                    alert("未选中", "当前无任何选中,无法启用");
                    return false;
                }
            } else {
                objArr.push(pid);
            }
            value = value ? value : "true";
            $("#CanUseCoupon").val(value);
            var html = '';
            $.each(objArr, function (i, v) {
                html += '<li class="pid">' + v + '</li>'
            });
            var $dialog = $("#editdiv");
            $dialog.find("ul").html(html);
            $dialog.dialog({
                title: "编辑",
                width: 500,
                height: 400,
                modal: true,
                buttons: {
                    "保存": function () {
                        var canUseCoupon = $("#CanUseCoupon").val();
                        $.post("/ThirdShop/EditCanUseCoupon",
                            {
                                pids: objArr,
                                canUseCoupon: canUseCoupon
                            }).then(function (data) {
                                alert(data.msg);
                                if (data.code == 1) {
                                    $(this).dialog("close");
                                    ThirdFunc.LoadList(1);
                                }
                            });
                    },
                    "关闭": function () {
                        $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                    }
                }

            });
        },
        ExportExcel: function () {

            var ProductName = $("[name=ProductName]").val().trim(),
                PID = $("[name=PID]").val().trim(),
                Brand = $(".condition select.brand>option:selected").val(),
                OnSaleStatus = $("select.onsale-status>option:selected").val(),
                $radio = $("[name=radio_1]:checked"),
                $label = $radio.parent(),
                Type = $radio.val(),
                pageSize = $(".PageSize>option:selected").val(),
                SingleCustomPrice = $(".singlePrice option:selected").val(),
                ManyCustomPrice = "",
                Proportion,
                maxTireCount = $("#MaxTireCount").val(),
                Contrast;
            if ($(".CouponPrice >input[type=checkbox]").prop("checked")) {
                CouponPriceStatus = $(".CouponPrice>select>option:selected").val();
            }
            var Min_maoliStatus, Min_maoliValue;
            if ($(".min_maoli >input[type=checkbox]").prop("checked")) {
                Min_maoliStatus = $(".min_maoli>select>option:selected").val();
                Min_maoliValue = $(".min_maoli>input[type=text]").val();
                if (!Min_maoliValue.length || isNaN(Min_maoliValue)) {
                    alert("最小毛利不合法");
                    return false;
                }
                Min_maoliValue = parseFloat(Min_maoliValue);
            }

            var Website_maoliStatus, Website_maoliValue;
            if ($(".website_maoli >input[type=checkbox]").prop("checked")) {
                Website_maoliStatus = $(".website_maoli>select>option:selected").val();
                Website_maoliValue = $(".website_maoli>input[type=text]").val();
                if (!Website_maoliValue.length || isNaN(Website_maoliValue)) {
                    alert("官网券后毛利不合法");
                    return false;
                }
                Website_maoliValue = parseFloat(Website_maoliValue);
            }

            if (Type > 0) {
                Contrast = $label.find("select:last>option:selected").val();
                Proportion = $label.find("[type=text]").val();
                var $checkeds = $(".price_list").find("[type=checkbox]:checked");
                if (!$checkeds.length) {
                    alert("请选择参数筛选的除数");
                    return false;
                }
                $checkeds.each(function () {
                    ManyCustomPrice += $(this).val() + '|';
                });
                if (isNaN(Proportion)) {
                    alert("更多条件中相对比的值不合法");
                    return false;
                }
                Proportion = parseFloat(Proportion);
            }
            var href = `/ThirdShop/ExportExcel?ProductName=${encodeURIComponent(ProductName)}&PID=${PID}&Brand=${Brand}&OnSale=${OnSaleStatus}&Type=${Type}&ManyCustomPrice=${ManyCustomPrice}&Contrast=${Contrast
                }&SingleCustomPrice=${SingleCustomPrice}&Proportion=${Proportion}&MaxTireCount=${maxTireCount}&Website_maoliValue=${Website_maoliValue}&Website_maoliStatus=${Website_maoliStatus}&Min_maoliValue=${Min_maoliValue}&Min_maoliStatus=${Min_maoliStatus}`;
            window.location.href = href;
        },
        ProductDeails: function () {
            window.open($("#productDeailsHref").val());
        }
        //LoadTireMaxCount: function () {
        //    $.post("/ThirdShop/FetchPurchaseRestriction", {}, function (data) {
        //        if (data.Code == 0) {
        //            alert(data.Info);
        //            return false;
        //        }
        //        else {
        //            $("#MaxTireCount").text(data.Data);
        //            return true;
        //        }
        //    });
        //}
    }
</script>
