@{
    Layout = "";
}


<div>
    <table>
        <tbody>
            <tr>
                <td>
                    活动标题：
                </td>
                <td>
                    <input id="Atitle" type="text" />
                </td>
            </tr>
        </tbody>
    </table>

</div>
<input type="button" class="button1" onclick="AddOneClick()" value="添加1图" />
<input type="button" class="button1" onclick="AddTwoClick()" value="添加2图" />
<input type="button" class="button1" onclick="AddThirdClick()" value="添加3图" />
<em style="color:red;">备注：1,2,3 代表，一行放置图片的个数</em>
<div style="margin-top:20px;">
    <table class="table1" style="width:100%">
        <thead>
            <tr>
                <th>
                    PID|VID
                </th>
                <th>
                    ActivityId
                </th>

                <th>
                    图片
                </th>
                <th>
                    活动类型
                </th>
                <th>
                    顺序
                </th>
                <th>
                    链接
                </th>
                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<table id="templateTable" style="display:none;">
    <tr class="newTr">
        <td><input type="text" class="pid" /></td>
        <td><input type="text" class="vid" /></td>


        <td>
            <img height="40" class="vwPicture" />
            <input type="hidden" class="image" />
            <input type="hidden" class="smallImage" />
            <form method="post" action="" enctype="multipart/form-data">
                <input style="width:150px;" type="file" onchange="UploadImg(this)" />
            </form>

        </td>
        <td>
            <select class="type" onchange="SelectChange(this)">
                <option value="-1">请选择</option>
                <option value="0">轮胎</option>
                <option value="1">车品</option>
                <option value="2">链接</option>
                <option value="3">图片</option>
            </select>
        </td>
        <td>
            <input style="width:50px;" class="orderby" type="number" />
        </td>
        <td><input type="text" class="link" /></td>
    </tr>
</table>

<script>
    function SelectChange(e) {
        $(e).parent().parent().find(".vid").removeAttr("readonly");
        $(e).parent().parent().find(".pid").removeAttr("readonly");
        $(e).parent().parent().find(".link").removeAttr("readonly");
        var id = $(e).val();
        if (id == "0") {
            $(e).parent().parent().find(".link").attr("readonly", "readonly");
        } else if (id == "1") {
            $(e).parent().parent().find(".link").attr("readonly", "readonly");
        } else if (id == "2") {
            $(e).parent().parent().find(".vid").attr("readonly", "readonly");
            $(e).parent().parent().find(".pid").attr("readonly", "readonly");
        } else if (id == "3") {
            $(e).parent().parent().find(".pid").attr("readonly", "readonly");
            $(e).parent().parent().find(".vid").attr("readonly", "readonly");
            $(e).parent().parent().find(".link").attr("readonly", "readonly");
        }

    }

    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents(".newTr").find("td").eq(2).find("img");
        var $smallImage = $e.parents(".newTr").find("td").eq(2).find("input[class='smallImage']");
        var $image = $e.parents(".newTr").find("td").eq(2).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {

                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        });
    };
    function AddTwoClick() {
        //添加第一行
        nameId++;
        orderId++;
        var tr = $("#templateTable tr").clone();
        tr.find("td").eq(2).find("input[type='file']").attr("id", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("name", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("bigImg", "0");
        tr.find("td").eq(4).find("input[type='number']").val(orderId);
        tr.css('display', '');
        tr.appendTo(".table1");
        //添加第二行
        nameId++;
        orderId++;
        var tr = $("#templateTable tr").clone();
        tr.find("td").eq(2).find("input[type='file']").attr("id", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("name", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("bigImg", "0");
        tr.find("td").eq(4).find("input[type='number']").val(orderId);
        tr.append("<td><a href='javascript:;' onclick='DeleteTwoClick(this)'>删除</a> </td>")
        tr.css('display', '');
        tr.appendTo(".table1");
    };
    var nameId = 1;
    var orderId = 0;
    function AddOneClick() {
        nameId++;
        orderId++;
        var tr = $("#templateTable tr").eq(0).clone();
        tr.find("td").eq(2).find("input[type='file']").attr("id", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("name", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("bigImg", "1");
        tr.find("td").eq(4).find("input[type='number']").val(orderId);
        tr.append("<td><a href='javascript:;' onclick='DeleteOneClick(this)'>删除</a> </td>")
        tr.css('display', '');
        tr.appendTo(".table1");
    };

    function AddThirdClick() {
        //添加第一行
        nameId++;
        orderId++;
        var tr = $("#templateTable tr").clone();
        tr.find("td").eq(2).find("input[type='file']").attr("id", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("name", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("bigImg", "2");
        tr.find("td").eq(4).find("input[type='number']").val(orderId);
        tr.css('display', '');
        tr.appendTo(".table1");
        //添加第二行
        nameId++;
        orderId++;
        var tr = $("#templateTable tr").clone();
        tr.find("td").eq(2).find("input[type='file']").attr("id", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("name", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("bigImg", "2");
        tr.find("td").eq(4).find("input[type='number']").val(orderId);

        tr.css('display', '');
        tr.appendTo(".table1");
        //添加第三行
        nameId++;
        orderId++;
        var tr = $("#templateTable tr").clone();
        tr.find("td").eq(2).find("input[type='file']").attr("id", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("name", nameId);
        tr.find("td").eq(2).find("input[type='file']").attr("bigImg", "2");
        tr.find("td").eq(4).find("input[type='number']").val(orderId);
        tr.append("<td><a href='javascript:;' onclick='DeleteThirdClick(this)'>删除</a> </td>")
        tr.css('display', '');
        tr.appendTo(".table1");
    }

    function DeleteThirdClick(target) {
        $(target).parents("tr").prev().prev().closest('tr').remove();
        $(target).parents("tr").prev().closest('tr').remove();
        $(target).closest('tr').remove();
    };

    function DeleteTwoClick(target) {
        $(target).parents("tr").prev().closest('tr').remove();
        $(target).closest('tr').remove();
    };

    function DeleteOneClick(target) {

        $(target).closest('tr').remove();
    };
</script>
