@{ 
    Layout = "~/Views/Shared/_Form.cshtml";
    ViewBag.Tilte = "上传文件";
}

<div>
    <form id="form1">
        <table class="form">
            <tr>
                <th class="formTitle">选择文件:</th>
                <td class="formValue">
                    <input type="file" id="uploadFile" name="uploadFile" onchange="UploadFile(this)" class="form-control"/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">文件地址:</th>
                <td class="formValue">
                    <input type="text" readonly="readonly" id="File" name="File"  class="form-control"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">

    function UploadFile(obj) {
        var pobj = $(obj);
        var fileSize = pobj[0].files[0].size / 1024 * 1.0;
        if (fileSize > 25600) {
            alert("不能上传大于25M的文件");
            return false;
        }
        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(obj).attr("id");
        console.log(fileElId);
        $.ajaxFileUpload({
            url: '/UploadFile/UploadFileByApi?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.Code == 1) {
                    $("#File").val(result.File);
                } else {
                    alert(result.Msg);
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    }
</script>
