<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>
  <schedule>
    <job>
      <name>UploadShopJob</name>
      <group>DefaultJobGroup</group>
      <description>上传门店数据job</description>
      <job-type>Tuhu.CarArchiveService.Jobs.UploadShopJob,Tuhu.CarArchiveService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <job>
      <name>SHQX_BaoYangRecordJob</name>
      <group>DefaultJobGroup</group>
      <description>车辆维修记录更新</description>
      <job-type>Tuhu.CarArchiveService.Jobs.SHQX_BaoYangRecordJob,Tuhu.CarArchiveService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>SHQX_BaoYangRecordJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>SHQX_BaoYangRecordJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/25 * * * ?</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>BaoYangRecordJob</name>
      <group>DefaultJobGroup</group>
      <description>缓存保养产品</description>
      <job-type>Tuhu.CarArchiveService.Jobs.BaoYangRecordJob,Tuhu.CarArchiveService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>BaoYangRecordJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>BaoYangRecordJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/30 * * * ?</cron-expression>
      </cron>
    </trigger>
    <job>
      <name>ChengDu_BaoYangRecordJob</name>
      <group>DefaultJobGroup</group>
      <description>缓存保养产品</description>
      <job-type>Tuhu.CarArchiveService.Jobs.ChengDu_BaoYangRecordJob,Tuhu.CarArchiveService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>ChengDu_BaoYangRecordJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>ChengDu_BaoYangRecordJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>0 0/35 * * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
</job-scheduling-data>
