

@{
    ViewBag.Title = "ListForm";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    /*复选框样式*/
    .cbox {
        height: 30px;
        margin-top: auto;
        margin-bottom: auto;
    }
</style>
<form id="form1">
    <div class="topPanel">
        <div class="search">
            <table>
                <tr>
                    <td>
                        <div class="input-group">
                            <input id="txt_keyword" type="text" class="form-control" placeholder="商品PID/商品标题" style="width: 400px;">
                            <span class="input-group-btn">
                                <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </td>
                    <td valign="bottom">
                        <div style="color:red; margin-left:10px; margin-top:10px;">
                            Tip：仅限车品类目
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="gridPanel" style="margin-left:10px;margin-top:10px;">
        <table id="gridList"></table>
        <div id="gridPager"></div>
    </div>
</form>

<script type="text/javascript">
    //创建Grid数据
    function gridList() {
        var $gridList = $('#gridList');
        var keyword = $("#txt_keyword").val();
        $gridList.dataGrid({
            height: $(window).height() - 140,
            url: "/ShopDistribution/GetProductList",
            colModel: [
                { label: "PID", name: "PID", width: 160, align: 'left', sortable: false },
                { label: "商品标题", name: "DisplayName", width: 460, align: "left", sortable: false },
                {
                    label: "上下架", name: "Onsale", width: 120, align: "center", sortable: false,
                    formatter: function (cellValue) {
                        if (cellValue == 0) {
                            return "下架"
                        } else if (cellValue == 1) {
                            return "上架";
                        } else
                            return "";
                    }
                },
            ],
            viewrecords: true,
            multiselect: true,
            pager: "#gridPager",
            sortname: "PID desc",
            rowNum: 10,
            rowList: [10, 20, 30]
        });
        //搜索函数
        function search() {
            var keyword = $("#txt_keyword").val();
            if (keyword.length == 0) {
                $.modalMsg("请输入商品PID/商品标题进行查询", "warning");
                return;
            }
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: keyword },
                page: 1
            }).trigger('reloadGrid');
        }
        //点击按钮搜索
        $("#btn_search").click(function () {
            search();
        });
        //回车执行搜索
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                search();
            }
        });
    }
    //添加
    function submitForm(iframe) {
        //声明已选中行数组
        var pids = new Array();
        //获取多选到的id集合
        var selarrrow = $("#gridList").jqGrid("getGridParam", "selarrrow");
        //遍历集合
        $(selarrrow).each(function (index, id) {
            //由id获得对应数据行
            var row = $("#gridList").jqGrid('getRowData', id);
            pids.push(row.PID);
        });
        if (pids.length == 0) {
            $.modalMsg("请选择商品", "warning");
            return;
        }
        $.submitForm({
            url: "/ShopDistribution/SubmitForm?pids=" + pids.toString(),
            success: function (res) {
                self.parent.$("#gridList").trigger("reloadGrid");
                self.parent.$('#loadingPage').hide();
                self.parent.window.frames[0].location.reload();
            }
        });
    }
    //初始加载
    $(function () {
        gridList();
    });
</script>