
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" onclick="btn_searchlog()">
                <span class="fa fa-search">查看日志</span>
            </a>
        </div>

        <div class="btn-group">
            <a id="NF-add" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>添加配置</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看</a></li>
                <li><a id="NF-copy" authorize="yes" onclick="btn_copy()"><i class="fa fa-pencil-square-o"></i>复制</a></li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_enable()"><i class="fa fa-pencil-square-o"></i>启用</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_searchlog()"><i class="fa fa-search-plus"></i>查看日志</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

<script type="text/javascript">
    //创建Grid
    function gridList() {
        var $gridList = $('#gridList');
        $gridList.dataGrid({
            height: $(window).height() - 118,
            url: '/PaymentPageConfig/GetPaymentPageConfigList',
            colModel: [
                { label: "PKID", name: "PKID", width: 10, align: "center", hidden: true },
                { label: "ProvinceID", name: "ProvinceID", width: 10, align: "center", hidden: true },
                { label: "CityID", name: "CityID", width: 10, align: "center", hidden: true },
                { label: "标题", name: "Title", width: 300, align: 'left' },
                { label: "省份", name: "ProvinceName", width: 120, align: "left" },
                { label: "城市", name: "CityName", width: 120, align: "left" },
                { label: "产品线", name: "ProductLine", width: 120, align: "left" },
                {
                    label: "状态", name: "Status", width: 100, align: "left",
                    formatter: function (cellValue) {
                        if (cellValue == 1)
                            return "启用";
                        else
                            return "<span style='color:red'>禁用</span>";
                    }
                },
                { label: "创建人", name: "Creator", width: 160, align: "left" },
                { label: "创建时间", name: "CreateDateTime", width: 180, align: "left", formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } }
            ],
            viewrecords: true,
            pager: "#gridPager",
            sortname: "CreateDateTime desc",
            rowNum: 20,
            rowList: [10, 20, 30],
        });
    }
    //添加
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "添加配置",
            url: "/PaymentPageConfig/Edit",
            width: "600px",
            height: "650px",
            callBack: function (iframeId) {
                var iframe = $.currentWindow();
                top.frames[iframeId].submitForm(iframe);
                setTimeout(function () {
                    $("#NF-addClick").trigger("click");
                }, 1000);
            }
        });
    }
    //查看
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().PKID;
        if (keyValue) {
            $.modalOpen({
                id: "Form",
                title: "查看配置",
                url: "/PaymentPageConfig/Edit?PKID=" + keyValue,
                width: "600px",
                height: "650px",
                callBack: function (iframeId) {
                    var iframe = $.currentWindow();
                    top.frames[iframeId].submitForm(iframe);
                    setTimeout(function () {
                        $("#NF-addClick").trigger("click");
                    }, 1000);
                }
            });
        }
    }
    //复制
    function btn_copy() {
        var keyValue = $("#gridList").jqGridRowValue().PKID;
        if (keyValue) {
            $.modalOpen({
                id: "Form",
                title: "复制配置",
                url: "/PaymentPageConfig/Edit?PKID=" + keyValue + "&IsCopy=1",
                width: "600px",
                height: "650px",
                callBack: function (iframeId) {
                    var iframe = $.currentWindow();
                    top.frames[iframeId].submitForm(iframe);
                    setTimeout(function () {
                        $("#NF-addClick").trigger("click");
                    }, 1000);
                }
            });
        }
    }
    //启用
    function btn_enable() {

        var keyValue = $('#gridList').jqGridRowValue().PKID;
        var provinceId = $('#gridList').jqGridRowValue().ProvinceID;
        var cityId = $('#gridList').jqGridRowValue().CityID;
        var productLine = $('#gridList').jqGridRowValue().ProductLine;

        if (keyValue) {
            //验证是否存在
            $.ajax({
                dataType: 'json',
                async: false,
                url: "/PaymentPageConfig/GetPaymentPageConfigInfo?provinceId=" + provinceId
                + "&cityId=" + cityId + "&productLine=" + productLine + "&pkid=" + keyValue,
                success: function (res) {
                    if (res.result) {
                        //保存信息
                        $.confirmForm({
                            prompt: "当前区域和产品线的配置已存在,是否覆盖？",
                            loading: "处理中...",
                            url: "/PaymentPageConfig/EnablePaymentPageConfig",
                            param: { pkid: keyValue },
                            success: function () {
                                self.location.reload();
                            }
                        });
                    } else {
                        $.confirmForm({
                            prompt: "您确定启用这行数据吗?",
                            loading: "处理中......",
                            title: "启用操作",
                            url: "/PaymentPageConfig/EnablePaymentPageConfig",
                            param: { pkid: keyValue },
                            success: function () {
                                self.location.reload();
                            }
                        })

                    }
                }
            });
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridList').jqGridRowValue().PKID;
        if (keyValue) {
            $.deleteForm({
                url: "/PaymentPageConfig/DeletePaymentPageConfig",
                param: { pkid: keyValue },
                success: function () {
                    self.location.reload();
                }
            })
        }
    }
    //查询日志
    function btn_searchlog() {
        var keyValue = $("#gridList").jqGridRowValue().PKID;
        $.modalOpen({
            id: "Form",
            title: "查看日志",
            url: "/CommonConfigLog/ListLoger?objectType=PaymentPageConfig&objectId=" + keyValue,
            width: "800px",
            height: "800px",
            btn: null
        });
    }
    //重新加载
    function btn_reload() {
        var startVersion = $("#gridList").jqGridRowValue().SVersion;
        var endVersion = $("#gridList").jqGridRowValue().EVersion;
        if (startVersion && endVersion) {
            var url = location.origin.replace("setting", "mdph") + '/wechatapp/ReloadWechatHomeNew?version=';
            window.open(url, "_bank")
        }
    }
    //初始加载
    $(function () {
        gridList();
    })
</script>
