@{
    Layout = null;
}
<style>
    #region input {
        width: 18px;
    }

    .province {
        float: left;
        margin: 10px;
        width: 200px;
        position: relative;
    }

    .trigger {
        margin-left: 5px;
        width: 14px;
    }

    .province_label {
        font-size: 16px;
    }

    .citys {
        width: 200px;
        border: 1px solid blue;
        background-color: #fff;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 9999;
    }

    #region .close_button {
        width: 50px;
    }

    .citys div {
        float: left;
        width: 100px;
    }

    .check_num {
        color: red;
    }
</style>
<div id="region">

</div>
<script>

    //var arr = [ "xml", "html", "css", "js" ];
    //arr.in_array("js");
    Array.prototype.in_array = function (e) {
        for (i = 0; i < this.length && this[i] != e; i++);
        return !(i == this.length);
    }
    var str = "@ViewBag.ID";
    var ids = str.substring(0, str.length - 1);
    var arryIds = ids.split(',');
    var targetID = $("#" + arryIds[0]),
        stringPart = targetID.attr("data-cityids"),
         cityType = targetID.data("citytype"),
         arrPart = [];
    var arryFlag = false;
    if (stringPart && arryIds.length == 1)
        arrPart = stringPart.substr(0, stringPart.length - 1).split("|");

    $.ajax({
        url: "https://www.tuhu.cn/Shop/Region.aspx",
        jsonpCallback: "__Regions__",
        dataType: "jsonp",
    }).done(function (regions)
    {
        var html = "";
        if (cityType == null || cityType == 1) {
            html +=
                '<div class="editor-field" style="display:block;">  <label><input type="radio" value="1" name="cityType" class="cityType" checked="checked"/>增加城市</label>';
            html += ' <label><input type="radio" value="2" class="cityType" name="cityType" />排除城市</label> ';
            html +=
                '<label style="display:inline-block;"><input type="checkbox" onclick="Citychecks(this)" />(全选/反选)</label></div>';
        } else {
            html +=
                '<div class="editor-field" style="display:block;">  <label><input type="radio" value="1" name="cityType" class="cityType" />增加城市</label>';
            html += ' <label><input type="radio" value="2" class="cityType" name="cityType" checked="checked"/>排除城市</label> ';
            html +=
                '<label style="display:inline-block;"><input type="checkbox" onclick="Citychecks(this)" />(全选/反选)</label></div>';
        }
        var municipalitys = ["上海市", "北京市", "天津市", "重庆市"];
        $.map(regions, function (value, key)
        {
            var t = 0;
            var partflag = true;
            var allflag = true;
            var countpart = 0;
            var type = 0;
            if ($.inArray(value.RegionName, municipalitys) != -1) {
                var node = { "PKID": value.PKID, "RegionName": value.RegionName, "IsInstall": value.IsInstall, "ParentID": value.ParentID, "PinYin": value.PinYin, "ChildrenRegion":[]};
                value.ChildrenRegion = [node];
            }
            //alert(arrPart.length);
            if ((arrPart.length == 1 && arrPart == '') || arryFlag && arryIds.length == 1) {
                arryFlag = true;
                $.map(value.ChildrenRegion,
                    function (v) {
                        arrPart.push(v.PKID);
                    });
                //alert(arrPart);
            }
            if (arrPart.length > 0 && arryIds.length==1)//part有值
                {
                    if (value.ChildrenRegion.length > 0)
                        $.map(value.ChildrenRegion, function (v, k) {
                            if (arrPart.in_array(v.PKID)) {
                                //已选
                            }
                            else {
                                partflag = false;
                                countpart++;
                            }
                        });
                    if (partflag == false)//part该省下面的城市未全选
                    {
                        if (countpart == value.ChildrenRegion.length)//part全部没选
                        {

                            html += '<div class="province"><span ><input type="checkbox"  value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                        }
                        else//part选了一些
                        {
                            //计算在ALL的数目 ==value.ChildrenRegion.length就让checked
                            $.map(value.ChildrenRegion, function (v, k)
                            {
                                if (arrPart.in_array(v.PKID))
                                {

                                }
                                else
                                {
                                    allflag = false;
                                }

                            });
                            if (allflag)//全部在all 部分在part
                            {
                                html += '<div class="province"><span ><input type="checkbox" checked="checked" value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                            }
                            else
                            {
                                html += '<div class="province"><span ><input type="checkbox"  value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                            }
                        }
                    }
                    else//part该省下面的城市都被选中
                    {
                        html += '<div class="province"><span ><input type="checkbox" checked="checked" value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                    }
                }
                else
                {
                    html += '<div class="province"><span ><input type="checkbox"  value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
                }

            //else//正常的
            //{
            //    html += '<div class="province"><span ><input type="checkbox" value="" id="' + value.PKID + '"><label class="province_label" for="' + value.PKID + '">' + value.RegionName + '</label><span class="check_num">()</span><img class="trigger" src="//gtd.alicdn.com/tps/i1/T1XZCWXd8iXXXXXXXX-8-8.gif"></span><div style="display:none;" class="citys">';
            //}

            $.map(value.ChildrenRegion, function (v, k)
            {
                if (arrPart.length > 0 && arrPart.in_array(v.PKID))//当前这条规则中此城市已选
                {
                    html += '<div><input type="checkbox" checked="checked" value="" id="' + v.PKID + '"><label for="' + v.PKID + '">' + v.RegionName + '</label></div>';
                    t++;
                }
                else
                {
                    html += '<div><input type="checkbox" value="" id="' + v.PKID + '"><label for="' + v.PKID + '">' + v.RegionName + '</label></div>';
                }

            });
            if (type != 1)
                html += '<p style="text-align:right;clear:both;"><input type="button" value="关闭" class="close_button"></p></div></div>';
            html = html.replace('()', '(' + t + ')');
        });
        $("#region").empty().append(html);

        });
    //var checkflag = true;
    //var allCheckbox = $(":checkbox").attr("checked");
    //$(":checkbox").each(function() {
    //    if (!this.attr("checked")) {
    //        checkflag = false;
    //    }
    //});
    //var radio = $('input:radio:checked').val();
    //alert(radio);
    //targetID.attr("data-cityType", radio);
    $("#region").on("click",
        ".trigger",
        function() //打开市弹框
        {
            $self = $(this);
            $(".citys").hide();
            $self.parent().next().show();
        }).on("click",
        ".close_button",
        function() //关闭市弹框
        {
            $(this).parent().parent().hide();
        }).on("click",
        ".province>span>input[type='checkbox']",
        function() //点击省复选框
        {
            var $target = $(this);
            if ($target.prop("checked") == true) {
                $target.parent().next().find("input[type='checkbox']").each(function() {
                    var $self = $(this);
                    if ($self.prop("checked") != true) {
                        $self.prop("checked", true);
                    }
                })
                $target.next().next().text("(" + $target.parent().next().find("input[type='checkbox']").length + ")");
            } else {
                $target.parent().next().find("input[type='checkbox']").each(function() {
                    var $self = $(this);
                    $self.prop("checked", false);
                })
                $target.next().next().text("(0)");


            }
        }).on("click",
        ".citys>div>input[type='checkbox']",
        function() //点击市复选框
        {
            var $target = $(this);
            var $checknum = $target.parent().parent().prev().find(".check_num");

            if ($target.prop("checked") == true) {
                var flag = true;
                $target.parent().parent().find("input[type = 'checkbox']").each(function() {
                    if ($(this).prop("checked") == false)
                        flag = false;
                })
                if (flag == true)
                    $target.parent().parent().prev().find("input[type='checkbox']").prop("checked", true);
                $checknum.text("(" + (parseInt($checknum.text().replace("(", "").replace(")", "")) + 1) + ")");
            } else {
                $target.parent().parent().prev().find("input[type='checkbox']").prop("checked", false);
                $checknum.text("(" + (parseInt($checknum.text().replace("(", "").replace(")", "")) - 1) + ")");
            }
        });


    function Citychecks(obj) {
        var hasChk = $(obj).is(':checked');
        if (hasChk)
        $('.citys input:checkbox').each(function () {
            $(this).prop("checked", false);
            var $target = $(this);
            var $checknum = $target.parent().parent().prev().find(".check_num");
            $target.parent().parent().prev().find("input[type='checkbox']").prop("checked", false);
            $checknum.text("(" + 0 + ")");

        });
        $('.citys input:checkbox').each(function () {
            $(this).prop("checked", hasChk);
            var $target = $(this);
            var $checknum = $target.parent().parent().prev().find(".check_num");
                if (hasChk == true){
                    $target.parent().parent().prev().find("input[type='checkbox']").prop("checked", true);

                $checknum.text("(" + (parseInt($checknum.text().replace("(", "").replace(")", "")) + 1) + ")");
            } else {
                $target.parent().parent().prev().find("input[type='checkbox']").prop("checked", false);
                $checknum.text("(" + (parseInt($checknum.text().replace("(", "").replace(")", "")) - 1) + ")");
            }
        });
    }
    function ClickSave() {
        var str = "@ViewBag.ID";
        var pkids = str.substring(0, str.length - 1);
        var cityids = [];
        var checkflag = true;
        $('.citys input:checkbox').each(function () {
            if (!$(this).prop("checked")) {
                checkflag = false;
            }
        });
        var radio = $('input:radio:checked').val();
        if (!checkflag) {
            $('.citys input:checkbox:checked').each(function () {
                var $target = $(this);
                cityids.push($target.prop("id"));
            });
        }

        $.ajax({
            type: "POST",
            url: "/ConfigCategory/UpdateRegiod",
            data: {
                "pkids": pkids,
                "regionIds": cityids,
                "type": radio
            },
            success: function (result) {
                if (result.status > 0) {
                    alert(result.msg);
                    Func.LoadList();
                } else {
                    alert(result.msg);

                }
            }
        });
    };
</script>
