
@model Tuhu.Provisioning.DataAccess.Entity.GaiZhuangRelateArticleModel
@{
    Layout = null;
}
<link href="~/Content/filtrateSelect.css" rel="stylesheet" />
<script src="~/Scripts/jquery.filtrateSelect.js"></script>
<div>
    <textarea class="" style="width:700px;height:320px;" id="vehicle" type="textarea">@Model.VehicleID</textarea> 
</div>
