@{
    ViewBag.Title = "保养年卡适配";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script type="text/javascript" src="/Scripts/Parts/BaoYangYearCard.js"></script>*@
<script type="text/javascript" src="/Scripts/plugins/PageChange/jquery.pagination.js"></script>
<link href="/Scripts/plugins/PageChange/pagination.css" rel="stylesheet"/>
<link href="/Content/BaoYangYearCard/BaoYangYearCard.css" rel="stylesheet"/>
<style>
    .page {
        min-width: 1400px;
    }
</style>
<div>
    <h2>保养年卡适配</h2>
    <div>
        <form>
            <label>年卡PID：</label>
            <input type="text" id="cardId" placeholder="请输入虚拟年卡的PID"/>
            <label>年卡类别：</label>
            <select id="cards">
                <option value="">-请选择年卡类别-</option>
                <option value="黄金卡">黄金卡</option>
                <option value="铂金卡">铂金卡</option>
                <option value="钻石卡">钻石卡</option>
                <option value="保养3送1">保养3送1</option>
            </select>
            <label>年卡机油品牌：</label>
            <select id="fuelBrand">
            <option value="">-请选择年卡机油品牌-</option>
            </select>
            <label>产品PID</label>
            <input type="text" id="productId" placeholder="请输入产品PID"/>
            <input type="button" onclick="Search('1')" value="搜索" style="cursor: pointer;" class="btn-primary correctPos"/>&nbsp;
            <input type="button" onclick="AddYearCard()" value="新增" style="cursor: pointer;background-color:mediumblue" class="btn-primary correctPos"/>
        </form>

        <table class="tableContainer"></table>
        <div id="Pagination" class="pagination" style="float: right; margin-top: 20px;"></div>
    </div>
</div>

<script>
    var viewDetail = "<a onclick='LinkToDetail(this)' style='cursor: pointer;margin-right:20px;'>详情</a>";
    var deleteItem = "<a onclick='DeleteItem(this)' style='cursor: pointer;margin-left:20px;'>删除</a>";
    var pageNum;
    $(document).ready(function() {
        GetAllFuelBrand();
        Search(1);
    });

    function AddYearCard() {
        window.open("/BaoYangYearCard/YearCardDetail");
    }

    function GetAllFuelBrand() {
        $.get("GetAllFuelBrand", function(data) {
            if (data.Status) {
                if (data.Data.length > 0) {
                    $.each(data.Data, function(index) {
                        $("#fuelBrand").append("<option value=" + data.Data[index] + ">" + data.Data[index] + "</option>");
                    });
                }
            }
        });
    }

    function Search(page) {
        var pid = $("#cardId").val();
        var category = $("#cards").val();
        var fuelBrand = $("#fuelBrand").val();
        var productId = $("#productId").val();
        var html = "<tr>" +
            "<th>序号</th>" +
            "<th>年卡名称</th>" +
            "<th>虚拟产品PID</th>" +
            "<th>年卡类别</th>" +
            "<th>机油型号</th>" +
            "<th>包含优惠券数量</th>" +
            "<th>操作</th></tr>";
        $(".tableContainer").empty();
        $(".tableContainer").append(html);
        $(".tableContainer").append('<tr><td colspan=\'10\'><img src="/Images/loading.gif" />玩命加载中，请稍候...</td></tr>');
        $.get("GetBaoYangYearCardInfo", { pageIndex: page, pid: pid, category: category, fuelBrand: fuelBrand, productId: productId }, function(data) {
            BindData(data, 0);
            var initPagination = function() {
                // 创建分页
                $("#Pagination").pagination(parseInt((data.TotalCount - 1) / 15) + 1, {
                    num_edge_entries: 1, //边缘页数
                    num_display_entries: 4, //主体页数
                    callback: function (page_index) {
                        $(".tableContainer tr:not(:first)").empty();
                        $(".tableContainer").append('<tr><td colspan=\'10\'><img src="/Images/loading.gif" />玩命加载中，请稍候...</td></tr>');
                        $.get("GetBaoYangYearCardInfo", { pageIndex: page_index + 1, pid: pid, category: category, fuelBrand: fuelBrand, productId: productId }, function (data) {
                            BindData(data, page_index);
                        });
                    },
                    items_per_page: 1 //每页显示1项
                });
            }();
        });
    }

    function BindData(data, page) {
        $(".tableContainer tr:not(:first)").empty();
        if (data.Status) {
            if (data.Data.length > 0) {
                var html = "";
                var count = (page) * 15 + 1;
                pageNum = page + 1;
                $.each(data.Data, function (index) {
                    var fuelType = data.Data[index].FuelType.split(";");
                    var showFuelType = "";
                    $.each(fuelType, function (i) {
                        if (fuelType[i] != "") {
                            showFuelType += "<span>" + fuelType[i] + ";" + "</span></br>";
                        }
                    });
                    html += "<tr id='"+ data.Data[index].Pkid +"'><td>" + (count++) + "</td>" +
                        "<td>" + data.Data[index].DisplayName + "</td>" +
                        "<td>" + data.Data[index].Pid + "</td>" +
                        "<td>" + data.Data[index].CategoryName + "</td>" +
                        "<td>" + showFuelType + "</td>" +
                        "<td>" + data.Data[index].PromotionCount + "</td>" +
                        "<td>" + viewDetail + deleteItem + "</td></tr>";
                });
                $(".tableContainer").append(html);
            } else {
                $(".tableContainer").append("<tr><td colspan=\"10\">暂无数据</td></tr>");
            }
        } else {
            $(".tableContainer").append("<tr><td colspan=\"10\">查询失败</td></tr>");
        }
    }

    function LinkToDetail(o) {
        var item = $(o);
        var pkid = item.parent().parent().attr("id");
        window.open( "/BaoYangYearCard/YearCardDetail?YearCardId=" + pkid );
    }

    function DeleteItem(o) {
        var item = $(o);
        var pkid = item.parent().parent().attr("id");
        if (confirm("确认删除？")) {
            $.post("DeleteBaoYangYearCard", { pkid: pkid }, function (data) {
                if (data.Status) {
                    alert("删除成功！");
                    RefreshData();
                    Search(pageNum);
                } else {
                    alert("删除失败！");
                }
            });
        }       
    }

    function RefreshData() {
        $.post("UpdateBaoYangYearcardConfig", function (data) {
            alert(data.Msg);
        });
    }
</script>